{% set loansChartData = {
    charts: {
        lenderOperations: {
            type: 'preterOperations',
            background: 'none',
            highcharts: {
                chart: {
                    type: 'pie',
                    width: 300,
                    height: 300,
                    marginTop: 0,
                    marginBottom: 0,
                    marginLeft: 0,
                    marginRight: 10,
                    spacingTop: 0,
                    spacingBottom: 0,
                    spacingLeft: 0,
                    spacingRight: 0
                },
                title: {
                    text: ''
                },
                legend: {
                    enabled: false,
                    layout: 'vertical',
                    symbolRadius: 10,
                    align: 'right',
                    verticalAlign: 'middle'
                },
                tooltip: {
                    pointFormat: ' '
                },
                plotOptions: {
                    pie: {
                        innerSize: '50%',
                        showInLegend: true,
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    data: seriesData
                }],
            }
        }
    }
    }
%}

<div class="panel panel-operations-loans">
    <header class="panel-header">
        <h3 class="panel-title">{% transchoice lenderLoans|length with { '%count%' : lenderLoans|length } %} lender-operations_loans-table-title {% endtranschoice %}</h3>
        {% if lenderLoans|length > 0 %}
        <div class="panel-controls">
            <a href="/pdf/loans/{{ hash }}" class="btn-default">
                <span class="icon fa-print-u32"></span>
                <span class="label"> {% trans %} lender-operations_print {% endtrans %} </span>
            </a>
            <a href="{{ path('export_loans_csv') }}" class="btn-default">
                <span class="icon fa-excel-u32"></span>
                <span class="label"> {% trans %} lender-operations_csv-export-button {% endtrans %} </span>
            </a>
        </div><!-- /.panel-controls -->
        {% endif %}
    </header><!-- /.panel-header -->

    <div class="panel-content">
        <div class="panel-before-table">
            {% if lenderLoans|length > 0 %}
            <div class="chart" data-chartview='{{ loansChartData.charts.lenderOperations|json_encode|escape('html_attr') }}'></div>

            {# Responsive issues, so I am rendering the legend in the page itself, rather than in the chart above #}
            <div class="chart-legend">
                {% for i, series in loansChartData.charts.lenderOperations.highcharts.series %}
                    {% for j, dataItem in series.data if dataItem.showInLegend is defined %}
                        <div class="chart-key">
                            <div class="icon" style="background-color: {{ dataItem.color }}"></div>
                            <div class="label">{{ dataItem.name }}</div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}

            <form id="form-filters-loans" action="{{ path('filter_loans') }}" method="post" class="form-filters" data-ajax>
                <input class="id_last_action" type="hidden" name="filter[id_last_action]" value="">
                <div class="row row-multi-col">
                    <div class="form-field col-lg-6 col-md-6 col-sm-4 col-xs-2">
                        <select id="filter-status" name="filter[status]" class="input-field">
                            <option value="">{% trans %} lender-operations_loans-table-by-status-filter {% endtrans %}</option>
                            {% for statusDetail in loansStatusFilter %}
                                <option value="{{ statusDetail.status }}" {% if currentFilters is not empty and currentFilters.filter.status == statusDetail.status %} selected="selected" {% endif %}>{{ "lender-operations_project-status-label-#{ statusDetail.status }" | trans }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-field col-lg-6 col-md-6 col-sm-4 col-xs-2">
                        <select id="filter-next" name="filter[date]" class="input-field">
                            <option value=""> {% trans %} lender-operations_loans-table-by-date-filter {% endtrans %} </option>
                            {% for year in firstLoanYear..date()|date('Y') %}
                                <option value="{{ year }}" {% if currentFilters is not empty and currentFilters.filter.date == year %} selected="selected" {% endif %}> {{ year }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form><!-- /.form-filters -->
        </div><!-- /.panel-before-table -->

        {% if lenderLoans|length > 0 %}
        <div class="table-scroll">
            <table class="table table-myloans" data-sortable>
                <thead>
                <tr>
                    <th class="table-sortable-column table-myloans-item-project" data-sortable-by="project">
                        <span class="label" title="{{ 'lender-operations_sr-sort-loan-project-name-column'|trans|e('html_attr') }}" data-toggle="tooltip">{% trans %} lender-operations_loans-table-project-column {% endtrans %} </span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-rating" data-sortable-by="rating">
                        <span class="label" title="{{ 'lender-operations_sr-sort-loan-project-rate-column'|trans|e('html_attr') }}" data-toggle="tooltip">{% trans %} lender-operations_loans-table-project-risk-column {% endtrans %}</span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-amount" data-sortable-by="amount">
                        <span class="label" title="{{ 'lender-operations_sr-sort-loan-loan-amount-column'|trans|e('html_attr') }}" data-toggle="tooltip">{% trans %} lender-operations_loans-table-amount-column {% endtrans %}</span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-interest" data-sortable-by="interest">
                        <span class="label" title="{{ 'lender-operations_sr-sort-loan-loan-rate-column'|trans|e('html_attr') }}" data-toggle="tooltip">{% trans %} lender-operations_loans-table-loan-rate-column {% endtrans %}</span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-monthly" data-sortable-by="monthly">
                        <span class="label" title="{{ 'lender-operations_sr-sort-loan-monthly-installment-column'|trans|e('html_attr') }}" data-toggle="tooltip">{% trans %} lender-operations_loans-table-monthly-installment-amount-column {% endtrans %} </span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-next" data-sortable-by="next">
                        <span class="label" title="{{ 'lender-operations_sr-sort-loan-next-monthly-installment-column'|trans|e('html_attr') }}" data-toggle="tooltip">{% trans %} lender-operations_loans-table-next-monthly-installment-date-column {% endtrans %}</span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-duration" data-sortable-by="duration">
                        <span class="label" title="{{ 'lender-operations_sr-sort-loan-remaining-monthly-installments-column'|trans|e('html_attr') }}" data-toggle="tooltip">{% trans %} lender-operations_loans-table-remaining-monthly-installments-column {% endtrans %}</span>
                    </th>
                    <th class="table-myloans-item-documents">
                        <span class="label" title="{{ 'lender-operations_loans-table-documents-column'|trans|e('html_attr') }}" data-toggle="tooltip">{% trans %} lender-operations_loans-table-documents-column {% endtrans %}</span>
                    </th>
                </tr>
                </thead>
                <tbody data-sortable-content>
                {% for i, loan in lenderLoans %}
                    <tr id="loan-{{ loan.id }}" class="table-myloans-item {{ 'ui-loan-status-' ~ loan.status }}"
                        data-sortable-status="{{ loan.status }}"
                        data-sortable-project="{{ loan.name|escape('html_attr') }}"
                        data-sortable-rating="{{ loan.risk|convertRisk }}"
                        data-sortable-amount="{{ loan.amount }}"
                        data-sortable-interest="{{ loan.rate }}"
                        data-sortable-monthly="{{ loan.monthly_repayment_amount }}"
                        data-sortable-next="{{ loan.next_payment_date|date('U') }}"
                        data-sortable-duration="{{ loan.duration }}"
                            {% if loan.loans|length > 1 %} data-details='{{ loan|json_encode|escape('html_attr') }}' {% endif %}>
                        <td class="table-myloans-item-project">
                            <a href="{{ loan.url }}" target="_blank">{{ loan.name }}</a>
                        </td>
                        <td class="table-myloans-item-rating">
                            <span class="rating rating-{{ loan.risk|convertRisk|split('.')|join('-') }}"><span class="sr-only">{% trans with {'%risk%': loan.risk|convertRisk} %} lender-operations_unilend-rating-wording-label {% endtrans %}</span></span>
                        </td>
                        <td class="table-myloans-item-amount">
                            {{ loan.amount|localizednumber }}&nbsp;€
                        </td>
                        <td class="table-myloans-item-interest">
                            {{ loan.rate|localizednumber }}&nbsp;<sup>%</sup>
                        </td>
                        {% if loan.project_status == constant('\\projects_status::REMBOURSEMENT_ANTICIPE') or loan.project_status == constant('\\projects_status::REMBOURSE') %}
                            <td colspan="3" class="table-myloans-item-next">
                                <em class="c-t2">{% trans with {'%date%': loan.status_change|date('d/m/Y')} %} lender-operations_loans-table-project-status-label-repayment-finished-on-date {% endtrans %}</em>
                            </td>
                        {% else %}
                            <td class="table-myloans-item-monthly">
                                {{ loan.monthly_repayment_amount|localizedcurrency('EUR') }}
                            </td>
                            <td class="table-myloans-item-next">
                                {{ loan.next_payment_date|date('d/m/y') }}
                            </td>
                            <td class="table-myloans-item-duration">
                                <span title="{% trans with {'%startDate%': loan.start_date|date('d/m/Y'), '%endDate%': loan.end_date|date('d/m/Y')} %} lender-operations_remaining-duration-tooltip {% endtrans %}" data-toggle="tooltip">{% trans with { '%count%' : loan.duration} %} lender-operations_loans-table-project-remaining-month {% endtrans %}</span>
                            </td>
                        {% endif %}
                        <td class="table-myloans-item-documents">
                            {# Multiple #}
                            {% if loan.loans|length > 1 %}
                                {% for docType, totalCount in loan.count if totalCount > 0 %}
                                    <a href="javascript:;" class="loan-doc loan-doc-{{ docType }}">
                                        <span class="pip"><span class="pip-number">{{ totalCount }}</span></span>
                                    </a>
                                {% endfor %}
                            {# Single #}
                            {% else %}
                                {% for i, doc in loan.loans[0].documents %}
                                    <a href="{{ doc.url }}" title="{{ doc.label|e('html_attr') }}" class="loan-doc loan-doc-{{ doc.type }}" data-toggle="tooltip"><span class="sr-only">{{ doc.label }}</span></a>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table><!-- /.table-myloans -->
        </div><!-- /.table-scroll -->
        {% else %}
            <div class="message-info after">{{ 'lender-operations_no-result-found-message'|trans }}</div>
        {% endif %}
    </div><!-- /.panel-content -->
</div><!-- /.panel -->
