{% set loansChartData = {
    charts: {
        lenderOperations: {
            type: 'preterOperations',
            background: 'none',
            highcharts: {
                chart: {
                    type: 'pie',
                    width: 300,
                    height: 300,
                    marginTop: 0,
                    marginBottom: 0,
                    marginLeft: 0,
                    marginRight: 10,
                    spacingTop: 0,
                    spacingBottom: 0,
                    spacingLeft: 0,
                    spacingRight: 0
                },
                title: {
                    text: ''
                },
                legend: {
                    enabled: false,
                    layout: 'vertical',
                    symbolRadius: 10,
                    align: 'right',
                    verticalAlign: 'middle'
                },
                tooltip: {
                    pointFormat: ' '
                },
                plotOptions: {
                    pie: {
                        innerSize: '50%',
                        showInLegend: true,
                        dataLabels: {
                            enabled: false
                        }
                    }
                },
                series: [{
                    data: seriesData
                }],
            }
        }
    }
    }
%}

<div class="panel panel-operations-loans">
    <header class="panel-header">
        <h3 class="panel-title">{% transchoice lenderLoans|length with { '%count%' : lenderLoans|length } %} lender-operations_loans-made {% endtranschoice %}</h3>
        <div class="panel-controls">
            <a href="javascript:;" class="btn-default ui-print">
                <span class="icon fa-print-u32"></span>
                <span class="label"> {% trans %} lender-operations_print {% endtrans %} </span>
            </a>
            <a href="{{ path('export_loans_csv') }}" class="btn-default">
                <span class="icon fa-excel-u32"></span>
                <span class="label"> {% trans %} lender-operations_csv-export {% endtrans %} </span>
            </a>
        </div><!-- /.panel-controls -->
    </header><!-- /.panel-header -->

    <div class="panel-content">
        <div class="panel-before-table">
            <div class="chart" data-chartview='{{ loansChartData.charts.lenderOperations|json_encode|escape('html_attr') }}'></div>

            {# Responsive issues, so I am rendering the legend in the page itself, rather than in the chart above #}
            <div class="chart-legend">
                {% for i, series in loansChartData.charts.lenderOperations.highcharts.series %}
                    {% for j, dataItem in series.data if dataItem.showInLegend is defined %}
                        <div class="chart-key">
                            <div class="icon" style="background-color: {{ dataItem.color }}"></div>
                            <div class="label">{{ dataItem.name }}</div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            <form id="form-filters-loans" action="{{ path('filter_loans') }}" method="post" class="form-filters" data-ajax>
                <input class="id_last_action" type="hidden" name="filter[id_last_action]" value="">
                <div class="row row-multi-col">
                    <div class="form-field col-lg-6 col-md-6 col-sm-4 col-xs-2">
                        <select id="filter-status" name="filter[status]" class="input-field">
                            <option value="">{% trans %} lender-operations_by-status {% endtrans %}</option>
                            {% for statusDetail in loansStatusFilter %}
                                <option value="{{ statusDetail.status }}" {% if currentFilters is not empty and currentFilters.filter.status == statusDetail.status %} selected="selected" {% endif %}>{{ "lender-operations_project-status-filter-#{ statusDetail.status }" | trans }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-field col-lg-6 col-md-6 col-sm-4 col-xs-2">
                        <select id="filter-next" name="filter[date]" class="input-field">
                            <option value=""> {% trans %} lender-operations_by-date {% endtrans %} </option>
                            {% for year, nbLoan in loansYears %}
                                <option value="{{ year }}" {% if currentFilters is not empty and currentFilters.filter.date == year %} selected="selected" {% endif %}> {{ year }} </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form><!-- /.form-filters -->
        </div><!-- /.panel-before-table -->

        <div class="table-scroll">
            <table class="table table-myloans" data-sortable>
                <thead>
                <tr>
                    <th class="table-sortable-column table-myloans-item-project" data-sortable-by="project">
                        <span class="label"><span class="sr-only">Sort by column </span> {% transchoice 1 %} lender-operations_project {% endtranschoice %} </span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-rating" data-sortable-by="rating">
                        <span class="label"><span class="sr-only">Sort by column </span>{% trans %} lender-operations_project-risk {% endtrans %}</span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-amount" data-sortable-by="amount">
                        <span class="label"><span class="sr-only">Sort by column </span>{% trans %} lender-operations_amount {% endtrans %}</span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-interest" data-sortable-by="interest">
                        <span class="label"><span class="sr-only">Sort by column </span>{% trans %} lender-operations_loan-rate {% endtrans %}</span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-monthly" data-sortable-by="monthly">
                        <span class="label"><span class="sr-only">Sort by column </span> {% trans %} lender-operations_monthly-installment-amount {% endtrans %} </span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-next" data-sortable-by="next">
                        <span class="label"><span class="sr-only">Sort by column </span>{% trans %} lender-operations_next-monthly-installment-date {% endtrans %}</span>
                    </th>
                    <th class="table-sortable-column table-myloans-item-duration" data-sortable-by="duration">
                        <span class="label"><span class="sr-only">Sort by column </span>{% trans %} lender-operations_remaining-monthly-installments {% endtrans %}</span>
                    </th>
                    <th class="table-myloans-item-documents">
                        <span class="label"><span class="sr-only">Sort by column </span>{% trans %} lender-operations_ducuments {% endtrans %}</span>
                    </th>
                </tr>
                </thead>
                <tbody data-sortable-content>
                {% for i, loan in lenderLoans %}

                    {#{{ dump(loan) }}#}

                    {# @TODO Remove below when new loan structure has been implemented into PHP controller #}
                    {# New loan structure `loan` var should be injected into `data-details` as JSON object #}

                    {# Process loan document details due to fragmented loan model #}
                    {% set loans = [] %}
                    {% set countBonds = 0 %}
                    {% set countContracts = 0 %}

                    {# Single loan has documents property... #}
                    {% if loan.documents is defined %}
                        {% set newDocs = [] %}
                        {% for x, doc in loan.documents %}
                            {% set newDoc = {
                                url: doc.url,
                                type: doc.docType,
                                label: doc.docTypeName
                            } %}
                            {% if newDoc.type == 'bond' %}
                                {% set countBonds = countBonds + 1 %}
                            {% elseif newDoc.type == 'contract' %}
                                {% set countContracts = countContracts + 1 %}
                            {% endif %}
                            {% set newDocs = newDocs|merge([newDoc]) %}
                        {% endfor %}
                        {% set loans = loans|merge([{
                            rate: loan.rate,
                            amount: loan.amount,
                            documents: newDocs
                        }]) %}
                    {% endif %}

                    {# Multiple loans has loan_details property with nested documents property #}
                    {% if loan.loan_details is defined %}
                        {% for w, loanDetails in loan.loan_details if loanDetails.documents is defined %}
                            {% set newDocs = [] %}
                            {% for x, doc in loanDetails.documents %}
                                {% set newDoc = {
                                    url: doc.url,
                                    type: doc.docType,
                                    label: doc.docTypeName
                                } %}
                                {% if newDoc.type == 'bond' %}
                                    {% set countBonds = countBonds + 1 %}
                                {% elseif newDoc.type == 'contract' %}
                                    {% set countContracts = countContracts + 1 %}
                                {% endif %}
                                {% set newDocs = newDocs|merge([newDoc]) %}
                            {% endfor %}
                            {% set loans = loans|merge([{
                                rate: loanDetails.rate,
                                amount: loanDetails.amount,
                                documents: newDocs
                            }]) %}
                        {% endfor %}
                    {% endif %}

                    {# Set the loan details as JSON for rendering client-side when details are visible #}
                    {% set loan = {
                        id: loan.id_project,
                        url: path('project_detail', {'projectSlug' : loan.slug}),
                        name: loan.title,
                        rate: loan.rate,
                        risk: loan.risk|convertRisk,
                        amount: loan.amount,
                        start_date: loan.debut,
                        end_date: loan.fin,
                        next_payment_date: loan.next_echeance,
                        monthly: loan.mensuel,
                        duration: loan.project_duration,
                        status: loan.status_color,
                        loans: loans,
                        count: {
                            bond: countBonds,
                            contract: countContracts,
                            declaration: 0
                        }
                    } %}

                    <tr id="loan-{{ loan.id }}" class="table-myloans-item {{ 'ui-loan-status-' ~ loan.status }}"
                        data-sortable-status="{{ loan.status }}"
                        data-sortable-project="{{ loan.name|escape('html_attr') }}"
                        data-sortable-rating="{{ loan.risk }}"
                        data-sortable-amount="{{ loan.amount }}"
                        data-sortable-interest="{{ loan.rate }}"
                        data-sortable-monthly="{{ loan.monthly }}"
                        data-sortable-next="{{ loan.next_payment_date|date('U') }}"
                        data-sortable-duration="{{ loan.duration }}"
                            {% if loan.loans|length > 1 %} data-details='{{ loan|json_encode|escape('html_attr') }}' {% endif %}>
                        <td class="table-myloans-item-project">
                            <a href="{{ loan.url }}" target="_blank">{{ loan.name }}</a>
                        </td>
                        <td class="table-myloans-item-rating">
                            <span class="rating rating-{{ loan.risk|split('.')|join('-') }}"><span class="sr-only">Rated {{ loan.risk }} out of 5</span></span>
                        </td>
                        <td class="table-myloans-item-amount">
                            {{ loan.amount|nbsp|__num(2) }}€
                        </td>
                        <td class="table-myloans-item-interest">
                            {{ loan.rate|__num(1) }}%
                        </td>
                        <td class="table-myloans-item-monthly">
                            {{ loan.monthly|__num(2) }}€
                        </td>
                        <td class="table-myloans-item-next">
                            {{ loan.next_payment_date|date('d/m/y') }}
                        </td>
                        <td class="table-myloans-item-duration">
                            <span class="ui-has-tooltip" title="{{ 'lender-operations_from'|trans|capitalize }} {{ loan.start_date|date('d/m/Y') }} {{ 'lender-operations_to'|trans }} {{ loan.end_date|date('d/m/Y') }}" data-toggle="tooltip">{% trans with { '%count%' : loan.duration} %} lender-operations_month {% endtrans %}</span>
                        </td>
                        <td class="table-myloans-item-documents">
                            {# Multiple #}
                            {% if loan.loans|length > 1 %}
                                {% for docType, totalCount in loan.count if totalCount > 0 %}
                                    <a href="javascript:;" class="loan-doc loan-doc-{{ docType }}">
                                        {{ general.pip(totalCount, false) }}
                                    </a>
                                {% endfor %}
                            {# Single #}
                            {% else %}
                                {% for i, doc in loan.loans[0].documents %}
                                    <a href="{{ doc.url }}" title="{{ doc.label|escape('html_attr') }}" class="loan-doc loan-doc-{{ doc.type }}" data-toggle="tooltip"><span class="sr-only">{{ doc.label }}</span></a>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table><!-- /.table-myloans -->
        </div><!-- /.table-scroll -->
    </div><!-- /.panel-content -->
</div><!-- /.panel -->
