<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Unilend | Administration</title>
    <meta name="description" content="Unilend's administration back office">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ app.staticUrl }}/images/admin/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Plugins CSS -->
    {% block pluginsCSS %} {% endblock %}

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/oneui.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/unilend.min.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/autocomplete.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/edits.css?{{ app.staticsKey }}">
</head>
<body>

<div id="page-container">
    <div id="main-container">
        {% block content %} {% endblock %}
    </div><!-- /#main-container -->
</div><!-- /#page-container -->

<!-- OneUI Core JS -->
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/bootstrap.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.auto-complete.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.scrollLock.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.slimscroll.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.placeholder.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/js.cookie.min.js"></script>

<!-- Page Specific Plugins -->
{% block pluginsJS %} {% endblock %}

<script src="{{ app.adminUrl }}/oneui/js/app.js?{{ app.staticsKey }}"></script>

<!-- Page Specific JS Scripts -->
{% block pageScripts %} {% endblock %}

</body>
</html>
