<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Unilend | Administration</title>
    <meta name="description" content="Unilend's administration back office">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="icon" type="image/png" href="{{ app.staticUrl }}/images/admin/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">

    <!-- Plugins CSS -->
    {% block pluginsCSS %} {% endblock %}

    <!-- Core CSS -->
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/oneui.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/unilend.min.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/autocomplete.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/css/edits.css">
</head>
<body>
<div id="page-container" class="sidebar-l side-scroll header-navbar-fixed sidebar-o">
    <nav id="sidebar">
        <div id="sidebar-scroll">
            <div class="sidebar-content">
                <div class="side-header side-content">
                    <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                        <i class="fa fa-times"></i>
                    </button>
                    <a class="h5 text-white pull-left" href="{{ app.adminUrl }}">
                        <img src="{{ app.staticUrl }}/assets/images/logo/logo-unilend-52x52-purple.png" srcset="{{ app.staticUrl }}/assets/images/logo/logo-unilend-52x52-purple@2x.png 2x" alt="Unilend">
                    </a>
                    <div class="clearfix"></div>
                    {% if 'prod' != app.environment %}
                        <div class="environment bg-primary text-uppercase">
                            <a href="https://unilend.atlassian.net/wiki/pages/viewpage.action?pageId=46694427" target="_blank"><span class="fa fa-info-circle"></span></a>
                            <span class="font-w300">Environnement :</span>
                            <span class="font-w600">{{ app.environment }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="side-content side-content-full">
                    {% include 'navigation.html.twig' %}
                </div>
            </div>
        </div>
    </nav>
    <header id="header-navbar" class="content-mini content-mini-full">
        <ul class="nav-header pull-right">
            <li>
                <div class="btn-group">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
                        {{ app.user.firstname }} {{ app.user.name }}
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a data-toggle="modal" data-target="#modal-profile-settings">
                                <i class="si si-settings pull-right"></i>Profil
                            </a>
                        </li>
                        <li>
                            <a href="{{ app.adminUrl }}/users/edit_password">
                                <i class="si si-lock pull-right"></i>Mot de passe
                            </a>
                        </li>
                        <li>
                            <a href="{{ app.adminUrl }}/logout">
                                <i class="si si-logout pull-right"></i>Se déconnecter
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <ul class="nav-header pull-left">
            <li class="header-search">
                <input class="form-control" type="text" id="quick-search" name="quick-search" placeholder="Recherche ...">
            </li>
            <li class="hidden-md hidden-lg">
                <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                <button class="btn btn-default" data-toggle="layout" data-action="sidebar_toggle" type="button">
                    <i class="fa fa-navicon"></i>
                </button>
            </li>
        </ul>
    </header>
    <div id="main-container">
        <div class="content bg-gray-lighter">
            {% block pageHeader %} {% endblock %}
        </div>
        {% block content %} {% endblock %}
    </div><!-- /#main-container -->
</div>><!-- /#page-container -->

<!-- Modals -->
<div class="modal fade in" id="modal-profile-settings" role="dialog" aria-hidden="true">
    <form class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="block block-themed block-transparent remove-margin-b">
                <div class="block-header bg-primary-light">
                    <h3 class="block-title">Vos informations</h3>
                </div>
                <div class="block-content">
                    <div class="form-group">
                        <label>Prénom</label>
                        <div class="form-control-static">{{ app.user.firstname }}</div>
                    </div>
                    <div class="form-group">
                        <label>Nom</label>
                        <div class="form-control-static">{{ app.user.name }}</div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <div class="form-control-static">{{ app.user.email }}</div>
                    </div>
                    {% if app.user.phone is not empty %}
                        <div class="form-group">
                            <label>Téléphone</label>
                            <div class="form-control-static">{{ app.user.phone }}</div>
                        </div>
                    {% endif %}
                    {% if app.user.slack is not empty %}
                        <div class="form-group">
                            <label>Slack</label>
                            <div class="form-control-static">{{ app.user.slack }}</div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </form>
</div>
{% block modals %} {% endblock %}


<!-- OneUI Core JS -->
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/bootstrap.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.auto-complete.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.scrollLock.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.slimscroll.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.placeholder.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/js.cookie.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/app.js"></script>

<!-- Page Specific Plugins -->
{% block pluginsJS %} {% endblock %}

<!-- Page Specific JS Scripts -->
{% block pageScripts %} {% endblock %}
</body>
</html>
