<ul class="nav-main">
    {% for menu in app.navigation %}
        {% if menu.zone in app.userZones %}
            <li{% if menu.zone == app.activeMenu %} class="active"{% endif %}>
                <a{% if menu.children is not empty %} class="nav-submenu" data-toggle="nav-submenu"{% endif %}{% if menu.uri is not empty %} href="{{ app.adminUrl }}/{{ menu.uri }}"{% endif %}>
                    {{ menu.title }}
                </a>
                {% if menu.children is not empty %}
                    <ul>
                        {% for subMenu in menu.children %}
                            {% if subMenu.zone is not defined or subMenu.zone in app.userZones %}
                                <li><a href="{{ app.adminUrl }}/{{ subMenu.uri }}">{{ subMenu.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
