<section id="project-section-myoffers" class="page-section" style="padding-bottom:30px">
    <div class="tabs">
        <div class="section-tabs-nav">
            <header>
                <h3 id="project-myoffers" class="h3">Mon offre</h3>
            </header>
        </div><!-- /.section-tabs-nav -->
        <div class="section-tabs-content tab-content">
            <div id="myoffers-inprogress" role="tabpanel" class="tab-pane active" aria-labelledby="project-myoffers-inprogress project-myoffers">
                {% if bid.idBid %}
                    <table class="table-myoffers">
                        <tbody>
                        <tr class="my-offers-bid-row">
                            <td>Statut</td>
                            <td>Montant</td>
                            <td>Taux de référence</td>
                            <td>Marge</td>
                            <td>Commission ponctuelle</td>
                            <td>Commission récurrente</td>
                            <td>Je souhaite être agent</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>{% if bid.status == 0 %} En cours {% elseif bid.status == 1 %} Accepté {% else %} Refusé {% endif %}</td>
                            <td>{{ (bid.amount / 100)|localizednumber }}&nbsp;€</td>
                            <td>{{ ('interest-rate-index_' ~ bid.rate.indexType)|trans }}</td>
                            <td>{{ bid.rate.margin|localizednumberwithprecision(2) }}&nbsp;%</td>
                            <td>{{ bid.oneTimeFeeTotalRate|localizednumberwithprecision(2) }}&nbsp;%</td>
                            <td>{{ bid.recurringFeeTotalRate|localizednumberwithprecision(2) }}&nbsp;%</td>
                            <td>{% if bid.isAgent %} Oui {% else %} Non {% endif %}</td>
                            <td><a href="{{ path('demo_project_details_bid_cancellation', {'bid': bid.idBid}) }}">Annuler</a></td>
                        </tr>
                        </tbody>
                    </table><!-- /.table-myoffers -->
                {% elseif project.isOnline %}
                    {{ form_start(form) }}
                    <fieldset class="simulator-pane-inner">
                        <div class="row row-multi-col-computer">
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                {{ form_row(form.amount) }}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                {{ form_row(form.rate.indexType) }}
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                {{ form_row(form.rate.margin) }}
                            </div>
                        </div>
                        <div class="row">
                            {{ form_widget(form.agent) }} {{ form_label(form.agent) }}
                        </div>
                        <div class="row fees" data-prototype="{{ form_widget(form.bidPercentFees.vars.prototype)|e('html_attr') }}">
                            <label class="required" style="margin-bottom: 10px">
                                Frais / commission
                                <span class="field-required">*</span>
                            </label>
                            {% for bidPercentFee in form.bidPercentFees %}
                                <div class="row row-multi-col-computer">
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        {{ form_row(bidPercentFee.percentFee.type) }}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        {{ form_row(bidPercentFee.percentFee.rate) }}
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        {{ form_row(bidPercentFee.percentFee.isRecurring) }}
                                    </div>
                                </div>
                            {% endfor %}
                            <a href="javascript:;" class="btn-default btn-shape-sq-md margin-10-t" data-action="ui-form-lending-fee-add">
                                <span class="icon fa-plus-u16 c-t2"></span>
                                <span class="sr-only">Ajouter un frais</span>
                            </a>
                        </div>
                    </fieldset>
                    <footer class="simulator-pane-inner actions bg-p1 c-bg5 text-align-right">
                        <button type="submit" class="btn-continue btn-alternate" data-spinnerbutton>
                            {% trans %} Valider {% endtrans %}
                        </button>
                    </footer>
                    {{ form_end(form) }}
                {% else %}
                    Vous ne pouvez plus proposer une offre.
                {% endif %}
            </div><!-- /.tab-pane -->
        </div><!-- /.section-tabs-content -->
    </div><!-- /tabs -->
</section><!-- /.page-section -->
