<section id="profile-info-edit-legal-entity" role="tabpanel" class="profile-info-edit collapse">
    {{ form_start(forms.identity, {
        'multipart' : true,
        'id' : 'form-profile-info-edit-legal-entity',
        'attr' : {
            'class' : 'form-profile form-profile-info-edit',
            'data-formvalidation data-formvalidation-notificationselem' : '#form-profile-info-notifications'
        }})
    }}
        <div class="row">
            <div class="form-field form-field-multi">
                <div class="field-label">
                    <label>{% trans %} lender-profile_information-tab-identity-section-client-type-label {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                </div>
                <ul class="list-input-values">
                    <li>
                        <label><input type="radio" name="client_type" value="legal_entity" checked="checked"/>
                            {% trans %} lender-profile_information-tab-identity-section-client-type-legal-entity-label {% endtrans %}
                        </label>
                    </li>
                </ul>
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-name">{% trans %} lender-profile_information-tab-identity-section-company-name-label {% endtrans %}</label>
                {{ form_widget(forms.identity.company.name, {
                    'id' : 'form-profile-info-company-name',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.company.name) }}
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-legal-form">{% trans %} lender-profile_information-tab-identity-section-company-legal-form-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                {{ form_widget(forms.identity.company.forme, {
                    'id' : 'form-profile-info-company-legal-form',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.company.forme) }}
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-social-capital">{% trans %} lender-profile_information-tab-identity-section-company-social-capital-label {% endtrans %}</label>
                {{ form_widget(forms.identity.company.capital, {
                    'id' : 'form-profile-info-company-social-capital',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.company.capital) }}
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-siren">{% trans %} lender-profile_information-tab-identity-section-company-siren-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                <span id="form-profile-info-company-siren" >{{ company.siren }}</span>
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-phone">{% trans %} lender-profile_information-tab-identity-section-company-phone-label {% endtrans %}</label>
                {{ form_widget(forms.identity.company.phone, {
                    'id' : 'form-profile-info-company-phone',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.company.phone) }}
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6">
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <h3>{% trans %} lender-profile_information-tab-identity-section-company-representative-title {% endtrans %}</h3>

        <div class="row">
            <div class="form-field form-field-multi">
                <div class="field-label">
                    <label>{% trans %} common_title {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                </div>
                <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                    {% for key, civilite in forms.identity.client.civilite.children %}
                        <li>
                            {{ form_widget(civilite) }}
                            {{ form_label(civilite) }}
                        </li>
                    {% endfor %}
                </ul>
                {{ form_errors(forms.identity.client.civilite) }}
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row">
            <div class="form-field form-field-multi">
                <div class="field-label">
                    <label>{% trans %} lender-profile_information-tab-identity-section-company-client-status-label {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                </div>
                <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                    {% for key, status in forms.identity.company.statusClient.children %}
                        <li>
                            {{ form_widget(status) }}
                            {{ form_label(status) }}
                        </li>
                    {% endfor %}
                </ul>
                {{ form_errors(forms.identity.company.statusClient) }}
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        {# Show if company_client_status is 3 #}
        <div class="legal-entity-status-3 collapse {% if forms.identity.company.vars.value.statusConseilExterneEntreprise is not null %} in {% endif %}">
            <div class="row row-multi-col-computer">
                <div class="form-field col-lg-6 col-md-6">
                    <label for="form-profile-info-company-client-status">
                        {% trans %} lender-profile_information-tab-identity-section-company-external-counsel-label {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                    {{ form_widget(forms.identity.company.statusConseilExterneEntreprise, {
                        'id' : 'form-profile-info-company-client-status',
                        'full_name' : 'company_external_counsel',
                        'attr' : {
                            'class' : 'input-field',
                            'ncompany_external_counselame' : 'company_external_counsel',
                            'data-formvalidation-input' : ''
                        }
                    }) }}
                    {{ form_errors(forms.identity.company.statusConseilExterneEntreprise) }}
                </div><!-- /.form-field -->

                <div class="col-lg-6 col-md-6">
                    <div class="legal-entity-status-other-field form-field collapse {% if forms.identity.company.vars.value.statusConseilExterneEntreprise == 3 %} in {%
                    endif %}">
                        <label for="form-profile-info-company-client-status-other">
                            {% trans %} lender-profile_information-tab-identity-section-company-other-external-counsel-label {% endtrans %}
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                        </label>
                        {{ form_widget(forms.identity.company.preciserConseilExterneEntreprise, {
                            'id' : 'form-profile-info-company-client-status-other',
                            'attr' : {
                                'class'  : 'input-field',
                                'data-formvalidation-input data-formvalidation-required' : 'true'
                            }
                        }) }}
                        {{ form_errors(forms.identity.company.preciserConseilExterneEntreprise) }}
                    </div><!-- /.form-field -->
                </div>

            </div><!-- /.row -->

        </div><!-- /.legal-entity-status-not-1 -->

        <div class="row row-multi-col-computer">

            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-client-name">{% trans %} common_name {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                {{ form_widget(forms.identity.client.nom, {
                    'id' : 'form-profile-info-company-client-name',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.client.nom) }}
            </div><!-- /.form-field -->

            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-client-first-name">
                    {% trans %} common_firstname {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(forms.identity.client.prenom, {
                    'id' : 'form-profile-info-company-client-first-name',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.client.prenom) }}
            </div><!-- /.form-field -->

        </div><!-- /.row -->

        <div class="row row-multi-col-computer">

            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-client-function">
                    {% trans %} common_position {% endtrans %}
                </label>
                {{ form_widget(forms.identity.client.fonction, {
                    'id' : 'form-profile-info-company-client-function',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.client.fonction) }}
            </div><!-- /.form-field -->

            <div class="form-field col-lg-6 col-md-6">
            </div><!-- /.form-field -->

        </div><!-- /.row -->

        <div class="row row-multi-col-computer">

            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-client-telephone">
                    {% trans %} common_phone {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(forms.identity.client.telephone, {
                    'id' : 'form-profile-info-company-client-telephone',
                    'type' : 'tel',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.client.telephone) }}
            </div><!-- /.form-field -->

            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-company-client-email">
                    {% trans %} common_email {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(forms.identity.client.email, {
                    'id' : 'form-profile-info-company-client-email',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(forms.identity.client.email) }}
            </div><!-- /.form-field -->

        </div><!-- /.row -->

        <div class="row">
            <div class="form-field">
                <label>
                    {% trans %} lender-profile_information-tab-identity-section-ID-documents-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>

                <div class="form-field file-identity-side-a">
                    <div class="custom-input-file" id="form-profile-info-file-identite-cni-1"
                         data-formvalidation-input
                         data-formvalidation-required='input[type="file"][name="id_recto"]'
                         data-fileattach
                         data-fileattach-inputname="id_recto"
                         data-fileattach-maxfiles="1"
                         data-fileattach-emptyfilelabel="{% trans %} lender-profile_information-tab-identity-section-ID-recto {% endtrans %}"
                         data-fileattach-fileremove="false">
                        {% if companyIdAttachments[constant('\\attachment_type::CNI_PASSPORTE_DIRIGEANT')]['path'] is defined %}
                            <input type="file" name="id_recto" value="{{ companyIdAttachments[constant('\\attachment_type::CNI_PASSPORTE_DIRIGEANT')]['path'] }}" />
                        {% endif %}
                    </div><!-- /.ui-fileattach -->
                </div>

                <div class="form-field file-identity-side-b">
                    <div class="custom-input-file" id="form-profile-info-file-identite-cni-2"
                         data-fileattach
                         data-fileattach-inputname="id_verso"
                         data-fileattach-maxfiles="1"
                         data-fileattach-emptyfilelabel="{% trans %} lender-profile_information-tab-identity-section-ID-verso {% endtrans %}">
                        {% if companyIdAttachments[constant('\\attachment_type::CNI_PASSPORTE_VERSO')]['path'] is defined %}
                            <input type="file" name="id_verso" value="{{ companyIdAttachments[constant('\\attachment_type::CNI_PASSPORTE_VERSO')]['path'] }}" />
                        {% endif %}
                    </div><!-- /.ui-fileattach -->
                </div>

                <div class="field-help">
                    <p>{% trans %} lender-profile_information-tab-identity-section-ID-document-notice {% endtrans %}</p>
                </div>
            </div>
        </div>

        {# Show if company_client_status is not 1 #}
        <div class="legal-entity-status-not-1 collapse {% if forms.identity.company.vars.value.statusClient > 1 %} in {% endif %}">
            <h3>{% trans %} lender-profile_information-tab-identity-section-company-director-title {% endtrans %}</h3>

            <div class="row">

                <div class="form-field form-field-multi">
                    <div class="field-label">
                        <label>
                            {% trans %} common_title {% endtrans %}
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                        </label>
                    </div>

                    <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                        {% for key, civilite in forms.identity.company.civiliteDirigeant.children %}
                        <li>
                            {{ form_widget(civilite, {
                                'full_name' : 'company_director_form_of_address',
                                'required' : false
                            }) }}
                            {{ form_label(civilite) }}
                        </li>
                        {% endfor %}
                    </ul>
                    {{ form_errors(forms.identity.company.civiliteDirigeant) }}
                </div><!-- /.form-field -->

            </div><!-- /.row -->

            <div class="row row-multi-col-computer">

                <div class="form-field col-lg-6 col-md-6">
                    <label for="form-profile-info-company-director-name">
                        {% trans %} common_name {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                    </label>
                    {{ form_widget(forms.identity.company.nomDirigeant, {
                        'id' : 'form-profile-info-company-director-name',
                        'attr' : {
                            'class' : 'input-field',
                            'data-formvalidation-input data-formvalidation-required' : 'true'
                        }
                    }) }}
                    {{ form_errors(forms.identity.company.nomDirigeant) }}
                </div><!-- /.form-field -->

                <div class="form-field col-lg-6 col-md-6">
                    <label for="form-profile-info-company-director-first-name">
                        {% trans %} common_firstname {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                    </label>
                    {{ form_widget(forms.identity.company.prenomDirigeant, {
                        'id' : 'form-profile-info-company-director-first-name',
                        'attr' : {
                            'class' : 'input-field',
                            'data-formvalidation-input data-formvalidation-required' : 'true'
                        }
                    }) }}
                    {{ form_errors(forms.identity.company.prenomDirigeant) }}
                </div><!-- /.form-field -->

            </div><!-- /.row -->

            <div class="row row-multi-col-computer">

                <div class="form-field col-lg-6 col-md-6">
                    <label for="form-profile-info-company-director-function">
                        {% trans %} common_position {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                    </label>
                    {{ form_widget(forms.identity.company.fonctionDirigeant, {
                        'id' : 'form-profile-info-company-director-function',
                        'attr' : {
                            'class' : 'input-field',
                            'data-formvalidation-input data-formvalidation-required' : 'true'
                        }
                    }) }}
                    {{ form_errors(forms.identity.company.fonctionDirigeant) }}
                </div><!-- /.form-field -->

                <div class="form-field col-lg-6 col-md-6">
                </div><!-- /.form-field -->

            </div><!-- /.row -->

            <div class="row row-multi-col-computer">

                <div class="form-field col-lg-6 col-md-6">
                    <label for="form-profile-info-company-director-telephone">
                        {% trans %} common_phone {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                    </label>
                    {{ form_widget(forms.identity.company.phoneDirigeant, {
                        'id' : 'form-profile-info-company-director-telephone',
                        'type' : 'tel',
                        'attr' : {
                            'class' : 'input-field',
                            'data-formvalidation-input data-formvalidation-required' : 'true'
                        }
                    }) }}
                    {{ form_errors(forms.identity.company.phoneDirigeant) }}
                </div><!-- /.form-field -->

                <div class="form-field col-lg-6 col-md-6">
                    <label for="form-profile-info-company-director-email">
                        {% trans %} common_email {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                    </label>
                    {{ form_widget(forms.identity.company.emailDirigeant, {
                        'id' : 'form-profile-info-company-director-email',
                        'attr' : {
                            'class' : 'input-field',
                            'data-formvalidation-input data-formvalidation-required' : 'true'
                        }
                    }) }}
                    {{ form_errors(forms.identity.company.emailDirigeant) }}
                </div><!-- /.form-field -->

            </div><!-- /.row -->

        </div><!-- /.legal-entity-status-not-1 -->

        <div class="row">
            <div class="form-field">
                <label>
                    {% trans %} lender-profile_information-tab-identity-section-company-other-attachments-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>

                <div class="form-field file-domicile">
                    <div class="custom-input-file" id="form-profile-info-file-company-registration"
                         data-formvalidation-input
                         data-formvalidation-required='input[type="file"][name="company-registration"]'
                         data-fileattach
                         data-fileattach-inputname="company-registration"
                         data-fileattach-maxfiles="1"
                         data-fileattach-emptyfilelabel="{% trans %} lender-profile_information-tab-identity-section-company-registration {% endtrans %}"
                         data-fileattach-fileremove="false">
                        {% if companyOtherAttachments[constant('\\attachment_type::KBIS')]['path'] is defined %}
                            <input type="file" name="company-registration" value="{{ companyOtherAttachments[constant('\\attachment_type::KBIS')]['path'] }}" />
                        {% endif %}
                    </div><!-- /.ui-fileattach -->
                </div><!-- /.form-field -->

                 {#Show if company_client_status is not 1#}
                <div class="legal-entity-status-not-1 collapse {% if forms.identity.company.vars.value.statusClient > 1 or true %} in {% endif %}">
                    <div class="form-field file-domicile">
                        <div class="custom-input-file" id="form-profile-info-file-delegation-authority"
                            data-formvalidation-input
                            data-formvalidation-required='.collapse.in input[type="file"][name="delegation-of-authority"]'
                            data-fileattach
                            data-fileattach-inputname="delegation-of-authority"
                            data-fileattach-maxfiles="1"
                            data-fileattach-emptyfilelabel="{% trans %} lender-profile_information-tab-identity-section-delegation-of-authority {% endtrans %}"
                            data-fileattach-fileremove="false">
                            {% if companyOtherAttachments[constant('\\attachment_type::DELEGATION_POUVOIR')]['path'] is defined %}
                                <input type="file" name="delegation-of-authority" value="{{ companyOtherAttachments[constant('\\attachment_type::DELEGATION_POUVOIR')]['path'] }}" />
                            {% endif %}
                        </div><!-- /.ui-fileattach -->
                    </div><!-- /.form-field -->
                </div><!-- /.legal-entity-status-not-1 -->
            </div><!-- /.form-field -->

        </div><!-- /.row -->

        <input type="hidden" name="legal_entity_info_form" value="true" />

        <div class="btn-controls">
            <button class="btn-primary" data-spinnerbutton>{% trans %} lender-profile_information-tab-identity-save-modifications-button {% endtrans %}</button>
            <button type="reset" role="button" data-toggle="collapse" data-target="#profile-info-view" data-parent="#profile-info-section" class="btn-default">
                {% trans %} lender-profile_information-tab-identity-cancel-modifications-button {% endtrans %}
            </button>
        </div><!-- /.btn-controls -->
    {{ form_end(forms.identity) }}
</section><!-- /.profile-info-edit -->
