<section id="profile-info-view" role="tabpanel" class="profile-info-view collapse in">

    <button role="button" data-toggle="collapse" data-target="#profile-info-edit-legal-entity" data-parent="#profile-info-section" class="btn-edit">
        <span class="icon fa-pencil-u32"></span>
        <span class="label">{% trans %} lender-profile_information-tab-identity-section-modify-button {% endtrans %}</span>
    </button>

    <dl class="list-2col">
        <dt>{% trans %} lender-profile_information-tab-identity-section-client-type-label {% endtrans %}</dt>
        <dd id="profile-info-statut-output">{% trans %} lender-profile_information-tab-identity-section-client-type-legal-entity-label {% endtrans %}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-company-name-label {% endtrans %}</dt>
        <dd id="profile-info-company-name-output">{{ company.name }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-company-legal-form-label {% endtrans %}</dt>
        <dd id="profile-info-company-form-output">{{ company.forme }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-company-social-capital-label {% endtrans %}</dt>
        <dd id="profile-info-company-name-output">{{ company.capital }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-company-siren-label {% endtrans %}</dt>
        <dd id="profile-info-company-form-output">{{ company.siren }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-company-phone-label {% endtrans %}</dt>
        <dd id="profile-info-company-phone-output">{{ company.phone }}</dd>
    </dl>

    <h5>{% trans %} lender-profile_information-tab-identity-section-company-representative-title {% endtrans %}</h5>
    <dl class="list-2col">
        <dt>{% trans %} common_title {% endtrans %}</dt>
        {% if client.civilite == 'M.' %}
            <dd id="profile-info-civilite-output">{% trans %} common_title-male {% endtrans %}</dd>
        {% else %}
            <dd id="profile-info-civilite-output">{% trans %} common_title-female {% endtrans %}</dd>
        {% endif %}
        <dt>{% trans %} lender-profile_information-tab-identity-section-company-client-status-label {% endtrans %}</dt>
        <dd><span>{{ "lender-profile_information-tab-identity-section-company-client-status-#{ company.statusClient }" | trans }} </span>
            {% if company.statusClient == constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Companies::CLIENT_STATUS_EXTERNAL_CONSULTANT') %}
                {% if company.statusConseilExterneEntreprise == constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Companies::CLIENT_STATUS_EXTERNAL_COUNSEL_OTHER') %}
                    <span>{{ company.preciserConseilExterneEntreprise }} </span>
                {% else %}
                    <span>{{ externalCounselList[company.statusConseilExterneEntreprise]|default() }} </span>
                {% endif %}
            {% endif %}
        </dd>
        <dt>{% trans %} common_name {% endtrans %}</dt>
        <dd id="profile-info-nom-output">{{ client.nom }}</dd>
        <dt>{% trans %} common_firstname {% endtrans %}</dt>
        <dd id="profile-info-prenom-output">{{ client.prenom }}</dd>
        <dt>{% trans %} common_position {% endtrans %}</dt>
        <dd id="profile-info-position-output">{{ client.fonction }}</dd>
        <dt>{% trans %} common_phone {% endtrans %}</dt>
        <dd id="profile-info-telephone-output">{{ client.telephone }}</dd>
        <dt>{% trans %} common_email {% endtrans %}</dt>
        <dd id="profile-info-email-output">{{ client.email }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-ID-documents-label {% endtrans %}</dt>
        <dd id="profile-info-fichier-identitie-output">
            {% for attachment in companyIdAttachments %}
                {% set attachmentDate = attachment.updated|default(attachment.added)|localizeddate('short', 'none', app.request.locale) %}
                {% if attachment.id_type == constant('\\attachment_type::CNI_PASSPORTE_DIRIGEANT') %}
                    <span id="form-profile-info-file-identite-cni-1-output" class="file-justificatif file-identity-side-a"
                          title="{{ "lender-profile_lender-attachment-provided-label-type-#{ attachment.id_type }"|trans({'%date%' : attachmentDate}) }}"
                          data-toggle="tooltip">
                    <span class="sr-only">{{ "lender-profile_lender-attachment-provided-label-type-#{ attachment.id_type }"|trans({'%date%' : attachmentDate}) }}</span>
                </span>
                {% elseif attachment.id_type == constant('\\attachment_type::CNI_PASSPORTE_VERSO') %}
                    <span id="form-profile-info-file-identite-cni-2-output" class="file-justificatif file-identity-side-b"
                          title="{{ "lender-profile_lender-attachment-provided-label-type-#{ attachment.id_type }"|trans({'%date%' : attachmentDate}) }}"
                          data-toggle="tooltip">
                        <span class="sr-only">{{ "lender-profile_lender-attachment-provided-label-type-#{ attachment.id_type }"|trans({'%date%' : attachmentDate}) }}</span>
                    </span>
                {% endif %}
            {% endfor %}
        </dd>
    </dl>

    {% if company.statusClient > constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Companies::CLIENT_STATUS_MANAGER') %}
    <h5>{% trans %} lender-profile_information-tab-identity-section-company-director-title {% endtrans %}</h5>
    <dl class="list-2col">
        <dt>{% trans %} common_title {% endtrans %}</dt>
        {% if company.civiliteDirigeant == 'M.' %}
            <dd id="profile-info-civilite-output">{% trans %} common_title-male {% endtrans %}</dd>
        {% else %}
            <dd id="profile-info-civilite-output">{% trans %} common_title-female {% endtrans %}</dd>
        {% endif %}
        <dt>{% trans %} common_name {% endtrans %}</dt>
        <dd id="profile-info-nom-output">{{ company.nomDirigeant }}</dd>
        <dt>{% trans %} common_firstname {% endtrans %}</dt>
        <dd id="profile-info-prenom-output">{{ company.prenomDirigeant }}</dd>
        <dt>{% trans %} common_function {% endtrans %}</dt>
        <dd id="profile-info-dob-output">{{ company.fonctionDirigeant }}</dd>
        <dt>{% trans %} common_phone {% endtrans %}</dt>
        <dd id="profile-info-dob-output">{{ company.phoneDirigeant }}</dd>
        <dt>{% trans %} common_email {% endtrans %}</dt>
        <dd id="profile-info-dob-output">{{ company.emailDirigeant }}</dd>
    </dl>
    {% endif %}

    <dl class="list-2col">
        <dt>{% trans %} lender-profile_information-tab-identity-section-company-other-attachments-label {% endtrans %}</dt>
        <dd id="profile-info-fichier-domicile-output">
            {% for attachment in companyOtherAttachments  %}
                {% set attachmentDate = attachment.updated|default(attachment.added)|localizeddate('short', 'none', app.request.locale) %}
                <span id="form-profile-address-file-domicile-1-output" class="file-justificatif file-domicile"
                      title="{{ "lender-profile_lender-attachment-provided-label-type-#{ attachment.id_type }"|trans({'%date%' : attachmentDate}) }}"
                      data-toggle="tooltip">
                    <span class="sr-only">{{ "lender-profile_lender-attachment-provided-label-type-#{ attachment.id_type }"|trans({'%date%' : attachmentDate}) }}</span>
                </span>
            {% endfor %}
        </dd>
    </dl>

</section>
