<form id="form-alerts" class="panel form-alerts" method="post" action="{{ path('lender_profile_notification') }}">
    {% for type, settings in notification_settings %}
    <header class="panel-header">
        <h3>{{ "notification-settings_#{ type }-email-alert-title"|trans }}</h3>
    </header>
    <div class="panel-content">
        <p>{{ "notification-settings_#{ type }-email-alert-details"|trans }}</p>
        <ul class="list-block">
            {% for key, isActived in settings %}
            <li>
                <label class="custom-input-switch" id="label-alert-{{ type }}-{{ key }}">
                    <input type="checkbox" {% if isActived %}checked="checked"{% endif %} value="true" name="{{ type }}-{{ key }}" id="input-alert-{{ type }}-{{ key }}">
                    <span class="label">
                        <span class="sr-only">Switch off/on</span>
                    </span>
                </label>
                <label for="input-alert-{{ type }}-{{ key }}">{{ "notification-settings_alart-#{ key }"|trans }}</label>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</form><!-- /#form-alerts.panel -->
