{% import 'extensions/_general.macros.twig' as general %}
{% import 'partials/modules/_custom-input.macros.twig' as customInput %}

<article id="panel-info" class="panel">
    <header class="panel-header">
        <h3>{% trans %} lender-profile_information-tab-identity-section-title {% endtrans %}</h3>
    </header>
    <section id="profile-info-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
        {% if client.type in [constant('\\clients::TYPE_PERSON'), constant('\\clients::TYPE_PERSON_FOREIGNER')] %}
            {{ include('pages/lender_profile/partials/person_identity.html.twig') }}
            {{ include('pages/lender_profile/partials/person_identity_form.html.twig') }}
        {% else %}
            {{ include('pages/lender_profile/partials/legal_entity_identity.html.twig') }}
            {{ include('pages/lender_profile/partials/legal_entity_identity_form.html.twig') }}
        {% endif %}
    </section><!-- /.ui-toggle-group -->
</article><!-- /.panel -->

<article id="panel-address" class="panel">
    <header class="panel-header">
        <h3>{% trans %} lender-profile_information-tab-fiscal-address-section-title {% endtrans %}</h3>
    </header>
    <section id="profile-address-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
        {% if client.type in [constant('\\clients::TYPE_PERSON'), constant('\\clients::TYPE_PERSON_FOREIGNER')] %}
            {{ include('pages/lender_profile/partials/person_fiscal_address.html.twig') }}
        {% else  %}
            {{ include('pages/lender_profile/partials/legal_entity_fiscal_address.html.twig') }}
        {% endif %}
    </section><!-- /.ui-toggle-group -->
</article><!-- /.panel -->

{# Address Correspondence #}
<article id="panel-correspondence" class="panel collapse{% if clientAddresses.meme_adresse_fiscal != 1 %} in{% endif %}">
    <header class="panel-header">
        <h3>{% trans %} lender-profile_information-tab-postal-address-section-title {% endtrans %}</h3>
    </header>
    <section id="profile-correspondence-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
        {{ include('pages/lender_profile/partials/postal_address.html.twig') }}
    </section><!-- /.ui-toggle-group -->
</article><!-- /.panel -->


