<div class="field-help">
    <p>{% trans %} lender-profile_information-tab-fiscal-address-help-message {% endtrans %}</p>
</div>
<section id="profile-address-view" role="tabpanel" class="profile-address-view collapse in">
    <div id="profile-address-is-correspondence" class="{% if clientAddresses.meme_adresse_fiscal != 1 %}hide{% endif %}">
        <span class="icon fa-check-u32"></span>{% trans %} lender-profile_information-tab-fiscal-address-section-postal-checkbox {% endtrans %}
    </div>
    <a href="#profile-address-edit" role="button" data-toggle="collapse" data-parent="#profile-address-section" class="btn-edit" aria-controls="#profile-address-edit" aria-expanded="false"><span class="icon fa-pencil-u32"></span>
        <span class="label">{% trans %} lender-profile_information-tab-identity-section-modify-button {% endtrans %}</span></a>
    <dl class="list-2col">
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-address-label {% endtrans %}</dt>
        <dd id="profile-address-street-output">{{ clientAddresses.adresse_fiscal }}</dd>
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-zip-label {% endtrans %}</dt>
        <dd id="profile-address-code-output">{{ clientAddresses.cp_fiscal }}</dd>
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-city-label {% endtrans %}</dt>
        <dd id="profile-address-ville-output">{{ clientAddresses.ville_fiscal }}</dd>
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-country-label {% endtrans %}</dt>
        <dd id="profile-address-pays-output">{{ clientAddresses.id_pays_fiscal|countryLabel }}</dd>
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-phone-label {% endtrans %}</dt>
        <dd id="profile-address-mobile-output">{{ client.mobile }}</dd>
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-attachments {% endtrans %}</dt>
        <dd id="profile-address-fichier-domicile-output">
            {% set isHousedByThirdPerson = false %}
            {% for attachment in residenceAttachments %}
                {% if attachment.id_type == constant('\\attachment_type::CNI_PASSPORT_TIERS_HEBERGEANT') %}
                    {% set isHousedByThirdPerson = true %}
                    <span id="form-profile-info-file-identite-cni-1-output" class="file-justificatif file-identity-side-a"
                          title="{{ "lender-attachement-provided-label-type-#{ attachment.id_type }" | transchoice(attachment.added|date('d/m/Y')) }}"
                          data-toggle="tooltip">
                        <span class="sr-only">{{ "lender-attachement-provided-label-type-#{ attachment.id_type }" | transchoice(attachment.added|date('d/m/Y'))}}</span>
                    </span>
                {% else %}
                    <span id="form-profile-address-file-domicile-1-output" class="file-justificatif file-domicile" title="{{ "lender-attachement-provided-label-type-#{ attachment.id_type }" | transchoice(attachment.added|date('d/m/Y')) }}" data-toggle="tooltip">
                        <span class="sr-only">{{ "lender-attachement-provided-label-type-#{ attachment.id_type }" | transchoice(attachment.added|date('d/m/Y')) }}</span>
                    </span>
                {% endif %}
            {% endfor %}
        </dd>
    </dl>
</section><!-- /.profile-address-view -->

<section id="profile-address-edit" role="tabpanel" class="profile-address-edit collapse">
    <form id="form-profile-address-edit" action="{{ path('profile_person_fiscal_address_update') }}" method="post" enctype="multipart/form-data" class="form-profile form-profile-address-edit" data-formvalidation data-formvalidation-notificationselem="#form-profile-address-notifications">
        <div class="row">
            <div class="form-field">
                <label for="form-profile-address-street">{% trans %} lender-profile_information-tab-fiscal-address-section-address-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <input id="form-profile-address-street" type="text" name="fiscal_address_street" value="{{ formData.person.fiscal_address_street }}" class="input-field"
                        data-formvalidation-input data-formvalidation-required="true"/>
            </div><!-- /.form-field -->
        </div>

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-address-code">{% trans %} lender-profile_information-tab-fiscal-address-section-zip-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <input id="form-profile-code" type="text" name="fiscal_address_zip" value="{{ formData.person.fiscal_address_zip  }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-address-ville">{% trans %} lender-profile_information-tab-fiscal-address-section-city-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <input id="form-profile-address-ville" type="text" name="fiscal_address_city" value="{{ formData.person.fiscal_address_city  }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
            </div><!-- /.form-field -->
        </div>

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-address-pays">{% trans %} lender-profile_information-tab-fiscal-address-section-country-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <select id="form-profile-address-pays" name="fiscal_address_country" class="input-field" data-formvalidation-input data-formvalidation-required="true">
                    {% for i, country in countries %}
                        <option value="{{ i }}"{% if i == formData.person.fiscal_address_country  %} selected="selected"{% endif %}>{{ country }}</option>
                    {% endfor %}
                </select>
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-address-mobile">{% trans %} lender-profile_information-tab-fiscal-address-section-phone-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <div class="input-group">
                    <input id="form-profile-address-mobile" type="text" name="client_mobile" value="{{ formData.person.client_mobile  }}" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="telephone"/>
                </div>
            </div><!-- /.form-field -->
        </div>

        <div class="row" id="us-person">
            <div class="form-field form-field-single-checkbox">
                <label>
                    <input id="form-profile-no-us-person" type="checkbox" name="no_us_person" value="true"
                           {% if isLivingAbroad == true %}checked="checked"{% endif %}>
                    <span class="label">{% trans %} lender-profile_information-tab-fiscal-address-us-person-checkbox-label {% endtrans %}</span></label>
            </div><!-- /.form-field -->
            {#TODO: only show if checkbox is unchecked #}
            <div class="message-info">
                <p>{% trans %} lender-profile_information-tab-fiscal-address-us-person-checkbox-message {% endtrans %}</p>
            </div>
        </div>

        {#TODO: only show if modifications in the address are done #}
        <div class="message-alert" id="message-change-address">
            <p>{% trans %} lender-profile_information-tab-fiscal-address-change-message {% endtrans %}</p>
        </div>

        <div class="row">
            <div class="form-field">
                <label>{% trans %} lender-profile_information-tab-fiscal-address-location-certificate {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                    {{ customInput.file({
                        id: 'form-profile-info-file-domicile',
                        isRequired: true
                    }, {
                        files: [{
                            name: residenceAttachments[constant('\\attachment_type::JUSTIFICATIF_DOMICILE')]['path'],
                            type: "file",
                            url: residenceAttachments[constant('\\attachment_type::JUSTIFICATIF_DOMICILE')]['path'],
                            size: 0
                        }],
                        inputname : 'housing-certificate',
                        maxfiles: 1,
                        fileremove: 'false',
                        filechange: 'true'
                    }) }}
            </div>
        </div>

        <div class="row">
            <div class="form-field form-field-single-checkbox">
                <label>
                    <input id="housed-by-third-person" type="checkbox" name="housed_by_third_person" value="true" {% if formData.person.housed_by_third_person %}checked="checked"{% endif %}>
                    <span class="label">{% trans %} lender-profile_information-tab-fiscal-address-section-housed-by-third-person-checkbox {% endtrans %}</span></label>
            </div><!-- /.form-field -->
        </div>

        {#TODO: only show if housed by third person is checked #}
        <div class="row" id="upload-housed-by-third-person-declaration" {% if formData.person.housed_by_third_person == false %} style="display: none"{% endif %}>
            <div class="form-field ">
                <label>{% trans %} lender-profile_information-tab-fiscal-address-housed-by-third-person-declaration {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <div class="custom-input-file" id="form-profile-info-file-housed-by-third-person-declaration"
                     data-fileattach data-fileattach-inputname="housed-by-third-person-declaration"
                     data-fileattach-maxfiles="1" >
                </div><!-- /.ui-fileattach -->
            </div>
        </div>
        <div class="row" id="upload-id-third-person-housing" {% if formData.person.housed_by_third_person == false %} style="display: none"{% endif %}>
            <div class="form-field file-identity-side-a">
                <label>{% trans %} lender-profile_information-tab-fiscal-address-id-third-person-housing {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <div class="custom-input-file" id="form-profile-info-file-id-third-person-housing"
                     data-fileattach data-fileattach-inputname="id-third-person-housing"
                     data-fileattach-maxfiles="1">
                </div><!-- /.ui-fileattach -->
            </div>
        </div>

        <div class="row">
            <div class="form-field form-field-single-checkbox">
                <label><input id="form-profile-address-is-correspondence" type="checkbox" name="same_postal_address" value="true"
                              {% if formData.person.same_postal_address %}checked="checked"{% endif %}>
                    <span class="label">{% trans %} lender-profile_information-tab-fiscal-address-section-postal-checkbox {% endtrans %}</span></label>
            </div><!-- /.form-field -->
        </div>
        {#TODO: if box is unchecked, postal and fiscal need to be submitted, to be discussed #}

        <div class="row" {% if not isLivingAbroad %} style="display: none;" {% endif %} id="tax-certificate">
            <div class="form-field">
                <label>{% trans %} lender-profile_information-tab-fiscal-address-tax-certificate-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <div class="custom-input-file"
                     id="form-profile-info-file-tax-domicile"
                     data-fileattach data-fileattach-inputname="tax-domicile"
                     data-fileattach-maxfiles="1">
                </div><!-- /.ui-fileattach -->
            </div>
        </div>

        <input type="hidden" name="person_fiscal_address_form" value="true" />
        <div class="btn-controls">
            <button class="btn-primary">{% trans %} lender-profile_information-tab-identity-save-modifications-button {% endtrans %}</button>
            <button type="reset" role="button" data-toggle="collapse" data-target="#profile-address-view" data-parent="#profile-address-section" class="btn-default" aria-controls="#profile-address-view" aria-expanded="true">{% trans %} lender-profile_information-tab-identity-cancel-modifications-button {% endtrans %}</button>
        </div><!-- /.btn-controls -->
    </form><!-- /.form-profile-address-edit -->
</section><!-- /.profile-address-edit -->