
<section id="profile-phone-view" role="tabpanel" class="profile-phone-view collapse {{ phoneViewCollapse }}">

    <button data-target="#profile-phone-edit" role="button" data-toggle="collapse" data-parent="#profile-phone-section" class="btn-edit">
        <span class="icon fa-pencil-u32"></span>
        <span class="label">{% trans %} lender-profile_information-tab-identity-section-modify-button {% endtrans %}</span>
    </button>

    <dl class="list-2col">
        <dt>{% trans %} common_mobile-phone {% endtrans %}</dt>
        <dd id="profile-phone-mobile-output">{{ client.mobile }}</dd>
        <dt>{% trans %} common_landline {% endtrans %}</dt>
        <dd id="profile-phone-telephone-output">{{ client.telephone }}</dd>
    </dl>
</section><!-- /.profile-address-view -->

<section id="profile-phone-edit" role="tabpanel" class="profile-phone-edit collapse {{ phoneFormCollapse }}">
    {{ form_start(forms.phone, {
        'attr' : {
            'class' : 'form-profile form-profile-phone-edit',
            'data-formvalidation' : true,
            'data-formvalidation-notificationselem' : '#form-profile-phone-notifications'
        }})
    }}

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if form_errors(forms.phone.mobile)|trim|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-phone-mobile">{% trans %} common_mobile-phone {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <div class="input-group">
                {{ form_widget(forms.phone.mobile, {
                    'id' : 'form-profile-phone-mobile',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-formvalidation-type': 'telephone'
                    }})
                }}
                {{ form_errors(forms.phone.mobile) }}
            </div>
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if form_errors(forms.phone.telephone)|trim|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-security-identification-telephone">{% trans %} common_landline {% endtrans %}</label>
            <div class="input-group">
                {{ form_widget(forms.phone.telephone, {
                    'id' : 'form-profile-phone-telephone',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-type': 'telephone'
                    }})
                }}
                {{ form_errors(forms.phone.telephone) }}
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="btn-controls">
        <button class="btn-primary" data-spinnerbutton>{% trans %} lender-profile_phone-section-submit-button {% endtrans %}</button>
        <button type="reset" role="button" data-toggle="collapse" data-target="#profile-phone-view" data-parent="#profile-phone-section" class="btn-default">{% trans %} lender-profile_phone-section-cancel-button {% endtrans %}</button>
    </div><!-- /.btn-controls -->

    {{ form_end(forms.phone) }}
</section><!-- /.profile-address-edit -->