{# IDENTIFICATION #}
<article id="panel-identification" class="panel">
    <header class="panel-header">
        <h3>Identification</h3>
    </header><!-- .panel-header -->
    <section id="profile-security-identification-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
        <section id="profile-security-identification-view" role="tabpanel" class="profile-security-identification-view collapse in">
            <a href="#profile-security-identification-edit" role="button" data-toggle="collapse" data-parent="#profile-security-identification-section" class="btn-edit" aria-controls="#profile-security-identification-edit" aria-expanded="false"><span class="icon fa-pencil-u32"></span>
                <span class="label">Modifier</span></a>
            <dl class="list-2col">
                <dt>{% trans %} common_email {% endtrans %}</dt>
                <dd id="profile-security-identification-email-output">{{ client.email }}</dd>
                <dt>{% trans %} common_mobile-phone {% endtrans %}</dt>
                <dd id="profile-security-identification-mobile-output">{{ client.mobile }}</dd>
                <dt>{% trans %} common_landline {% endtrans %}</dt>
                <dd id="profile-security-identification-telephone-output">{{ client.telephone }}</dd>
            </dl>
        </section>

        <section id="profile-security-identification-edit" role="tabpanel" class="profile-security-identification-view collapse">
            <form id="form-profile-security-identification-edit" action="{{ route('user/preter/profile/identification/update') }}" method="post" class="form-security form-profile-security-identification-edit" data-formvalidation data-formvalidation-notificationselem="#form-profile-security-identification-notifications">
                <div id="form-profile-security-identification-notifications"></div>

                <div class="row row-multi-col-computer">
                    <div class="form-field col-lg-6 col-md-6">
                        <label for="form-profile-security-identification-email">{% trans %} common_email {% endtrans %}
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <div class="input-group">
                            <input id="form-profile-security-identification-email" type="email" name="identity[email]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            {#{{ userProfile.access.email|escape('html_attr') }}#}
                        </div>
                    </div><!-- /.form-field -->
                    <div class="form-field col-lg-6 col-md-6">
                        <label for="form-profile-security-identification-email-conf">{% trans %} common_email-confirmation {% endtrans %}
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <div class="input-group">
                            <input id="form-profile-security-identification-email-conf" type="email" name="identity[email_conf]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-samevalueas="#form-profile-security-identification-email"/>
                        </div>
                    </div><!-- /.form-field -->
                </div>

                <div class="row row-multi-col-computer">
                    <div class="form-field col-lg-6 col-md-6">
                        <label for="form-profile-security-identification-mobile">{% trans %} common_mobile-phone {% endtrans %}
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <div class="input-group">
                            <input id="form-profile-security-identification-mobile" type="text" name="identity[mobile]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="telephone"/>
                            {#{{ userProfile.access.mobile|escape('html_attr') }}#}
                        </div>
                    </div><!-- /.form-field -->
                    {# Not sure why they want the fixed telephone here and not in the address #}
                    <div class="form-field col-lg-6 col-md-6">
                        <label for="form-profile-security-identification-telephone">{% trans %} common_landline {% endtrans %}
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <div class="input-group">
                            <input id="form-profile-security-identification-telephone" type="text" name="identity[telephone]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="telephone"/>
                            {#{{ userProfile.access.telephone|escape('html_attr') }}#}
                        </div>
                    </div><!-- /.form-field -->
                </div>

                <div class="btn-controls">
                    <button class="btn-primary">Enregister</button>
                    <button type="reset" role="button" data-toggle="collapse" data-target="#profile-security-identification-view" data-parent="#profile-security-identification-section" class="btn-default" aria-controls="#profile-security-identification-view" aria-expanded="true">Annuler l'édition</button>
                </div><!-- /.btn-controls -->
            </form><!-- /.form-security-identification-edit -->
        </section><!-- /#profile-security-identification-edit -->
    </section><!-- /.ui-toggle-group -->
</article><!-- /.panel -->

{# PASSWORD #}
<article id="panel-password" class="panel">
    <header class="panel-header">
        <h3>Mot de passe</h3>
    </header><!-- .panel-header -->
    <section id="profile-security-password-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
        <section id="profile-security-password-view" role="tabpanel" class="profile-security-password-view collapse in">
            <a href="#profile-security-password-edit" role="button" data-toggle="collapse" data-parent="#profile-security-password-section" class="btn-edit" aria-controls="#profile-security-password-edit" aria-expanded="false"><span class="icon fa-pencil-u32"></span>
                <span class="label">Changer mon mot de passe</span></a>
            <dl class="list-2col">
                <dt>Mot de passe</dt>
                <dd>************</dd>
            </dl>
        </section>

        <section id="profile-security-password-edit" role="tabpanel" class="profile-security-password-view collapse">
            <form id="form-profile-security-password-edit" action="{{ route('user/preter/profile/password/update') }}" method="post" class="form-security form-profile-security-password-edit" data-formvalidation data-formvalidation-notificationselem="#form-profile-security-password-notifications">
                <div id="form-profile-security-password-notifications"></div>

                <div class="row row-multi-col-computer">
                    <div class="form-field col-lg-6 col-md-6">
                        <label for="form-profile-security-password-passe">Ancien mot de passe
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <div class="input-group">
                            <input id="form-profile-security-password-passe" type="password" name="access[passe]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                        </div><!-- /.input-group -->
                        <ul class="ui-formvalidation-messages"></ul>
                        <div class="field-help">
                            <a href="{{ route('user/access/forgotpassword') }}" class="link">Mot de passe oublié?</a>
                        </div>
                    </div><!-- /.form-field -->
                </div>

                <div class="row row-multi-col-computer">
                    <div class="form-field col-lg-6 col-md-6">
                        <label for="form-profile-security-password-passe-new">Nouveau mot de passe
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <input id="form-profile-security-password-passe-new" type="password" name="identity[passe]" value="" class="input-field" data-passwordcheck data-formvalidation-input data-formvalidation-required="true" data-formvalidation-minlength="8"/>
                    </div><!-- /.form-field -->
                    <div class="form-field col-lg-6 col-md-6">
                        <label for="form-profile-security-password-passe-new-conf">Confirmation du nouveau mot de passe
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <div class="input-group">
                            <input id="form-profile-security-password-passe-new-conf" type="password" name="identity[passe_conf]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-samevalueas="#form-profile-security-password-passe-new"/>
                        </div>
                    </div><!-- /.form-field -->
                </div>

                <div class="btn-controls">
                    <button class="btn-primary">Enregister</button>
                    <button type="reset" role="button" data-toggle="collapse" data-target="#profile-security-password-view" data-parent="#profile-security-password-section" class="btn-default" aria-controls="#profile-security-password-view" aria-expanded="true">Annuler l'édition</button>
                </div><!-- /.btn-controls -->
            </form><!-- /.form-security-password-edit -->
        </section><!-- /#profile-security-password-edit -->
    </section><!-- /.ui-toggle-group -->
</article><!-- /.panel -->

{# SECURITY QUESTION #}
<article id="panel-question" class="panel">
    <header class="panel-header">
        <h3>Question secrète</h3>
    </header><!-- .panel-header -->
    <p>Cette question vous sera posée dans le cas où vous auriez oublié votre mot de passe.</p>
    <section id="profile-security-question-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
        <section id="profile-security-question-view" role="tabpanel" class="profile-security-question-view collapse in">
            <a href="#profile-security-question-edit" role="button" data-toggle="collapse" data-parent="#profile-security-question-section" class="btn-edit" aria-controls="#profile-security-question-edit" aria-expanded="false"><span class="icon fa-pencil-u32"></span>
                <span class="label">Modifier</span></a>
        </section>

        <section id="profile-security-question-edit" role="tabpanel" class="profile-security-question-view collapse">
            <form id="form-profile-security-question-edit" action="{{ route('user/preter/profile/question/update') }}" method="post" class="form-security form-profile-security-question-edit" data-formvalidation data-formvalidation-notificationselem="#form-profile-security-question-notifications">
                <div id="form-profile-security-question-notifications"></div>

                <div class="row">
                    <div class="form-field">
                        <label for="form-profile-security-question-q">Séléctionnez une question secrète
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <select id="form-profile-security-question-q" name="access[question][q]" class="input-field" data-formvalidation-input data-formvalidation-required="true">
                            <option>Quel était le nom de mon premier animal de compagnie?</option>
                            {# @todo More questions to go here? #}
                        </select>
                    </div><!-- /.form-field -->
                </div>

                <div class="row">
                    <div class="form-field">
                        <label for="form-profile-security-question-a">Saisissez la réponse à cette question secrète
                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
                        <input type="text" id="form-profile-security-question-a" name="access[question][a]" class="input-field" data-formvalidation-input data-formvalidation-required="true" value=""/>
                    </div><!-- /.form-field -->
                    {#{{ userProfile.access.question[a]|escape('html_attr') }}#}
                </div>

                <div class="btn-controls">
                    <button class="btn-primary">Enregister</button>
                    <button type="reset" role="button" data-toggle="collapse" data-target="#profile-security-question-view" data-parent="#profile-security-question-section" class="btn-default" aria-controls="#profile-security-question-view" aria-expanded="true">Annuler l'édition</button>
                </div><!-- /.btn-controls -->
            </form><!-- /.form-security-question-edit -->
        </section><!-- /#profile-security-question-edit -->
    </section><!-- /.ui-toggle-group -->
</article><!-- /.panel -->
