{% extends 'layout.html.twig' %}

{% block pageHeader %}
    <h1 class="page-heading push">Modification de votre mot de passe</h1>
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function() {
            App.initHelpers(['validation', 'notify']);

            var passwordStrengthCheck, password
            $('#new-pass').on('keyup', function () {
                if (passwordStrengthCheck) {
                    clearTimeout(passwordStrengthCheck)
                }
                if ($(this).val()) {
                    password = $(this).val()
                    passwordStrengthCheck = setTimeout(function () {
                        $.post('{{ adminUrl }}/ajax/check_force_pass', {
                            pass: password
                        }).done(function (response) {
                            $('#password-strength').html(response)
                        })
                    }, 500)
                }
            })
            $('#js-notify-pass').trigger('click')


            {% if app.session.notification is defined and app.session.notification is not empty %}
                $('#js-notify-pass').trigger('click')
            {% endif %}
        })
    </script>
{% endblock %}

{% block content %}
    <div class="content bg-white">

        {% if app.session.notification is defined and app.session.notification is not empty %}
            <a id="js-notify-pass" class="js-notify hide" data-notify-type="success" data-notify-icon="fa fa-times" data-notify-message="">{{  app.session.notification }}</a>
        {% endif %}

        {% if error is defined and error is not empty %}
            <div class="alert alert-danger">
                <p>{{ error }}</p>
            </div>
        {% endif %}

        <form method="post" action="{{ app.adminUrl }}/users/edit_password" class="validate">
            <div class="row push">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Ancien mot de passe *</label>
                        <input type="password" id="old-pass" name="old_pass" class="form-control required">
                    </div>
                    <div class="form-group">
                        <label>Nouveau mot de passe *</label>
                        <input type="password" id="new-pass" name="new_pass" class="form-control required">
                        <div id="password-strength"></div>
                    </div>
                    <div class="form-group">
                        <label for="new_pass2">Vérification du nouveau mot de passe *</label>
                        <input type="password" id="new-pass-2" name="new_pass2" class="form-control required">
                    </div>
                    <input type="hidden" name="form_edit_pass_user">
                    <input type="hidden" name="id_user" value="{{ app.user.idUser }}">
                    <button type="submit" class="btn btn-primary">Valider la modification</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
