{# Custom Inputs #}
{# import 'partials/components/_custom-input.macros.twig' as customInput #}
{% import 'extensions/_general.macros.twig' as general %}

{# A custom input switch #}
{# macro switch(options) #}
{# @param {Object} options #}
{# @note This input should never ever need form validation! #}
{% macro switch(options) %}
    {% import _self as customInput %}

    {# Default settings #}
    {% set settings = {
    classNames: '',
    id: '',
    name: '',
    value: 'true',
    isChecked: true,
    srLabel: 'Switch off/on',
    attrs: null
    } %}

    {# Set options to settings #}
    {% if options is not empty %}
        {% set settings = settings|merge(options) %}
    {% endif %}

    {# Output HTML #}
    <label{% if settings.id is not empty %} id="{{ settings.id|escape('html_attr') }}-switch"{% endif %} class="custom-input-switch{% if settings.classNames is not empty %} {{ settings.classNames|escape('html_attr') }}{% endif %}" data-custom-input{% if attrs is not empty %} {{ general.attrsString(settings.attrs) }}{% endif %}><input type="checkbox"{% if settings.id is not empty %} id="{{ settings.id|escape('html_attr') }}"{% endif %}{% if settings.name is not empty %} id="{{ settings.name|escape('html_attr') }}"{% endif %} value="{{ settings.value|escape('html_attr') }}"{% if settings.isChecked == true %} checked="checked"{% endif %}/><span class="label"><span class="sr-only">{{ settings.srLabel }}</span></span></label>
{% endmacro %}

{# Custom IBAN input field #}
{# @macro iban #}
{# @param {Object} options #}
{% macro iban(options) %}

{% endmacro %}

{# Custom file input (managed by JS component 'FileAttach') #}
{# macro fileinput(options) #}
{# @param {Object} options #}
{% macro file(options, fileattachOptions) %}
  {% import _self as customInput %}

  {# Default settings #}
  {% set settings = {
    id: '',
    classNames: '',
    isRequired: true,
    attrs: null
  } %}

  {# Default fileattach settings #}
  {# @note See `/src/js/app/components/FileAttach.js` for more options #}
  {% set fileattachSettings = {
    inputname: "inputname",
    maxfiles: 1
  } %}

  {# Merge user-set options with default settings #}
  {% if options is not empty %}
    {% set settings = settings|merge(options) %}
  {% endif %}
  {% if fileattachOptions is not empty %}
    {% set fileattachSettings = fileattachSettings|merge(fileattachOptions) %}
  {% endif %}

  {# Errors #}
  {% if fileattachSettings.inputname == "inputname" %}
    <pre><code>Custom Input Macro Error
-------------------------
macro file():
  fileattachSettings.name cannot be left as default value "inputname"

settings:
{{ dump(settings) }}

fileattachSettings:
{{ dump(fileattachSettings) }}
</code></pre>
  {% endif %}

  {# Input field is required #}
  {% set formValidationAttrs = '' %}
  {% if settings.isRequired == true %}
    {% set formValidationAttrs = general.attrsString({
      "input": null,
      "required": 'input[type="file"][name="' ~ fileattachSettings.inputname ~ '"]',
    }, 'data-formvalidation-') %}
  {% endif %}

  <div class="custom-input-file {% if classNames is not empty %}{{ classNames }}{% endif %}" id="{{ settings.id|escape('html_attr') }}"
    data-fileattach {% if fileattachSettings is not empty %}{{ general.attrsString(fileattachSettings, 'data-fileattach-') }}{% endif %}
    {{ formValidationAttrs }}
    {% if attrs is not empty %}{{ general.attrsString(settings.attrs) }}{% endif %}></div><!-- /.ui-fileattach -->
{% endmacro %}
