{# Notifications List #}
{#% import 'partials/modules/_list-notifications.macros.twig' as listNotifications %#}

{# Render the list of notifications #}
{# @macro render #}
{# @param {Object} options #}
{% macro render(options) %}

  {# Default options #}
  {% set settings = {
    id: 'notifications',
    classNames: '',
    notifications: []
  } %}

  {# Override defaults #}
  {% if options is not empty %}
    {% set settings = settings|merge(options) %}
  {% endif %}

<div data-usernotificationslist>
  <ul {% if settings.id is defined %}id="{{ settings.id|escape('html_attr') }}" {% endif %}class="list-notifications {% if settings.classNames is defined %}{{ settings.classNames|escape('html_attr') }}{% endif %}">
    {% for i, item in settings.notifications %}
      <li class="notification notification-type-{{ item.type|default('message')|escape('html_attr') }} ui-notification-status-{{ item.status }}" data-notification-id="{{ item.id|default(item.datetime|date('U')) }}">
        <header class="notification-header">
          {% if item.datetime is not empty %}
            <h5 class="notification-datetime">{{ item.datetime }}</h5>
          {% endif %}
          {% if item.title is not empty %}<h4 class="notification-title">{{ item.title }}</h4>{% endif %}
          {% if item.image is not empty %}<div class="notification-image">
            {{ item.image }}
          </div>{% endif %}
        </header>
        {% if item.content is not empty %}<div class="notification-content">
          <p>{{ item.content|nl2br }}</p>
        </div>{% endif %}
      </li><!-- /.notification -->
      {% else %}
      <li class="notification notification-type-empty">
        <div class="notification-content">
          <p>{% trans %} user-notifications_empty-label {% endtrans %}</p>
        </div>
      </li>
    {% endfor %}
  </ul><!-- /.list-notifications -->
</div>

{% endmacro %}
