{# Promo Battenburg Macros #}
{#% import 'partials/modules/_promo-battenberg.macros.twig' as promoBattenberg %#}

{# Renders a battenberg promo #}
{# @macro render #}
{# @param {Object} options An object containing options to customise the output with #}
{% macro render(options) %}
  {% import _self as promoBattenberg %}

  {# Default settings #}
  {% set settings = {
      classColor: 'p1',
  } %}

  {# Override default settings with options #}
  {% if options is not empty %}
      {% set settings = settings|merge(options) %}
  {% endif %}

<div class="promo-battenberg" data-watchscroll-action="enter" data-watchscroll-callback="addClass:ui-is-visible">
    {% for i, person in settings.people %}
        {{ promoBattenberg.renderPerson(person, i, settings) }}
    {% endfor %}
</div><!-- /.promo-battenberg -->
{% endmacro %}

{# Render a person within the promo #}
{# @macro renderPerson #}
{# @param {Object} person The information about the person to render #}
{# @param {Int} index The index number of the person in the list #}
{# @param {Object} settings The battenberg's settings object #}
{% macro renderPerson(person, index, settings) %}
    {# Default classColor #}
    {% set classColor = settings.classColor %}

    {# Set class color based on person type #}
    {% if person.type == 'preter' %}
        {% set classColor = 'p1' %}
    {% elseif person.type == 'emprunter' %}
        {% set classColor = 'p2' %}
    {% endif %}

    {# Position based on index #}
    {# Right (odd) #}
    {% if index % 2 == 1 %}
        {% set classPosition = 'promo-align-right' %}
        {% set classAnimatePosition = 'ui-animate-from-left' %}
        {% set classRow = 'row reverse' %}
        {% set classColumnsImage = 'col-lg-5 pull-lg-1 col-md-5 pull-md-1' %}
        {% set classColumnsSlide = 'col-lg-6 col-md-6' %}

        {# Left (even) #}
    {% elseif index % 2 == 0 %}
        {% set classPosition = 'promo-align-left' %}
        {% set classAnimatePosition = 'ui-animate-from-right' %}
        {% set classRow = 'row' %}
        {% set classColumnsImage = 'col-lg-5 push-lg-1 col-md-5 push-md-1' %}
        {% set classColumnsSlide = 'col-lg-6 col-md-6' %}
    {% endif %}

    <div class="promo-{{ person.type }} {{ classRow }}">
        <div class="{{ classColumnsImage }}">
            <div class="promo-image promo-{{ classColor }}" style="background-image: url('{{ siteurlmedia('promos/' ~ person.image) }}')">
                &nbsp;
                <a href="{{ person.urlCta }}" class="promo-image-cta">
                    <div><span class="link">{{ ('site-general_testimonial-section-overlay-link-' ~ person.type)|trans }}</span></div>
                </a>
            </div><!-- /.promo-image -->
        </div>
        <div class="{{ classColumnsSlide }} vertical-align-content">
            <div class="promo-slide promo-{{ classColor }} {{ classPosition }} {{ classAnimatePosition }}">
                <p class="quote">{{ person.quote|raw }}</p>
                {% if person.name is not empty %}
                    <p class="source"><cite>{{ person.name }}{% if person.vocation is defined %}, {{ person.vocation }}{% endif %}{% if person.location is not empty %} &mdash; {{ person.location }}{% endif %}</cite></p>
                {% endif %}
                <div class="promo-links">
                    {% if person.urlTestimonial is not empty %}<a href="{{ person.urlTestimonial|raw }}" class="link">
                        {% trans %} site-general_testimonial-section-link-lender-title {% endtrans %}</a>{% endif %}
                    {% if person.urlProject is not empty %}<a href="{{ person.urlProject }}" class="link">{% trans %} site-general_testimonial-section-link-borrower-title {% endtrans %}</a>{% endif %}
                </div>
            </div><!-- /.promo-slide -->
        </div>
    </div><!-- /.promo-emprunter -->
{% endmacro %}
