{% extends 'partner_account/_layout.html.twig' %}

{% set page = {
    id: 'partner-account-projects-list',
    classNames: 'partner-account'
} %}

{% set partnerProspects = [
    {
        id: '12033',
        siren: '326300159',
        borrower: 'Télévision Française 1',
        submitter: {
            firstName: 'Sébastien',
            lastName: 'JIRA',
            agency: 'AXA Nancy'
        },
        motif: {
            value: '1',
            general: 'Travaux',
            details: 'Agrandissement du local de venter'
        },
        amount: '40000',
        duration: '3 mois'
    },
    {
        id: '12034',
        siren: '326300153',
        borrower: 'Télévision Française 2',
        submitter: {
            firstName: 'Lauren',
            lastName: 'JIRA',
            agency: 'AXA Nancy'
        },
        motif: {
            value: '1',
            general: 'Travaux',
            details: 'Agrandissement du local de venter'
        },
        amount: '40000',
        duration: '12 mois'
    }
] %}

{% set partnerProjects = [
    {
        id: '12033',
        siren: '326300159',
        borrower: 'Télévision Française 1',
        submitter: {
            firstName: 'Lauren',
            lastName: 'JIRA',
            agency: 'AXA Nancy'
        },
        motif: {
            value: 1,
            general: 'Travaux',
            details: 'Agrandissement du local de venter'
        },
        memos: {
            memo: {
                text: 'L\'emprunteur sera de retour de congé début Mars. Point téléphonique planifié 02/03 14h30.',
                time: '14th February',
                author: 'Unilend'
            }
        },
        status: 'En attente de piece',
        amount: '40000',
        duration: '3 mois'
    }
]  %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <article class="dashboard-tab-pane">
                <div class="panel">
                    <header class="panel-header">
                        <h3>{% trans %} partner-project-list_title {% endtrans %}</h3>
                    </header>
                    <div class="panel-content">
                        <div id="partner-prospects-panel">
                            <h3>{% trans %} partner-project-list_prospects-title {% endtrans %}</h3>
                            {% if partnerProspects|length > 0 %}
                                <form id="submit-partner-prospect" action="/partenaire/depot/details" method="post" style="visibility: hidden">
                                    <input type="hidden" name="esim[siren]" value="">
                                    <input type="hidden" name="esim[amount]" value="">
                                    <input type="hidden" name="esim[duration]" value="">
                                    <input type="hidden" name="esim[motif]" value="">
                                    <input type="hidden" name="esim[email]" value="">
                                </form>
                                <div class="table-scroll">
                                    <table class="table table-prospects" data-sortable>
                                        <thead class="table-sortable-columns">
                                        <tr>
                                            <th class="table-prospects-item-borrower" data-sortable-by="borrower" colspan="2">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-borrower'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-borrower {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-prospects-item-submitter" data-sortable-by="submitter">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-submitter {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-prospects-item-amount" data-sortable-by="amount">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-amount'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-amount {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-prospects-item-duration" data-sortable-by="duration">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-duration'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-duration {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-prospects-item-motif" data-sortable-by="motif" colspan="2">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-motif'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-motif {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-prospects-item-action">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-action'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-action {% endtrans %}
                                                </span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody data-sortable-content>
                                        {% for project in partnerProspects %}
                                            <tr id="prospect-{{ project.id }}" class="table-prospects-item"
                                                data-sortable-siren="{{ project.siren }}"
                                                data-sortable-borrower="{{ project.borrower }}"
                                                data-sortable-submitter="{{ project.submitter.lastName }}"
                                                data-sortable-motif="{{ project.motif.general }}"
                                                data-sortable-motif-id="{{ project.motif.value }}"
                                                data-sortable-amount="{{ project.amount }}"
                                                data-sortable-duration="{{ project.duration }}">
                                                <td class="table-prospects-item-borrower" title="{{ project.borrower }}" data-toggle="tooltip" colspan="2">{{ project.borrower }}</td>
                                                <td class="table-prospects-item-submitter" title="{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.agency|length %}- {{ project.submitter.agency }}{% endif %}" data-toggle="tooltip">{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.agency|length %}- {{ project.submitter.agency }}{% endif %}</td>
                                                <td class="table-prospects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>
                                                <td class="table-prospects-item-duration">{{ project.duration }}</td>
                                                <td class="table-prospects-item-motif" colspan="2" title="{{ project.motif.general }} {% if project.motif.details|length %}- {{ project.motif.details }}{% endif %}" data-toggle="tooltip">{{ project.motif.general }} {% if project.motif.details|length %}- {{ project.motif.details }}{% endif %}></td>
                                                <td class="table-prospects-item-action">
                                                    <a role="button" title="{{ 'partner-project-list_prospects-table-action-cancel'|trans|e('html_attr')}}" data-toggle="tooltip" data-action="cancel"><span class="icon fa-ban-u16"></span></a>
                                                    <a role="button" title="{{ 'partner-project-list_prospects-table-action-submit'|trans|e('html_attr') }}" data-toggle="tooltip" data-action="submit"><span class="icon fa-check-u16"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table><!-- /.table-prospects -->
                                </div><!-- /.table-scroll -->
                                <div class="message-info after" style="display: none;">{{ 'partner-project-list_prospects-not-found-message'|trans }}</div>
                            {% else %}
                                <div class="message-info after">{{ 'partner-project-list_prospects-not-found-message'|trans }}</div>
                            {% endif %}
                        </div><!-- /#partner-prospects-panel -->
                        <div id="partner-projects-panel">
                            {% if partnerProjects|length > 0 %}
                                <h3>{% trans %} partner-project-list_projects-title {% endtrans %}</h3>
                                <div class="table-scroll">
                                    <table class="table table-projects" data-sortable>
                                        <thead class="table-sortable-columns">
                                        <tr>
                                            <th class="table-projects-item-borrower" data-sortable-by="borrower" colspan="2">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-borrower'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-borrower {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-submitter" data-sortable-by="submitter">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-submitter {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-amount" data-sortable-by="amount">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-amount'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-amount {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-duration" data-sortable-by="duration">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-duration'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-duration {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-motif" data-sortable-by="motif">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-motif'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-motif {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-status" data-sortable-by="status">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-status'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-status {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-memos" data-sortable-by="memos">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-memos'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-memos {% endtrans %}
                                                </span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody data-sortable-content>
                                        {% for project in partnerProjects %}
                                            <tr id="project-{{ project.id }}" class="table-projects-item" data-details
                                                data-sortable-borrower="{{ project.borrower }}"
                                                data-sortable-submitter="{{ project.submitter.lastName }}"
                                                data-sortable-motif="{{ project.motif.general }}"
                                                data-sortable-amount="{{ project.amount }}"
                                                data-sortable-duration="{{ project.duration }}"
                                                data-sortable-status="{{ project.status }}">
                                                <td class="table-projects-item-borrower" title="{{ project.borrower }}" data-toggle="tooltip" colspan="2">{{ project.borrower }}</td>
                                                <td class="table-projects-item-submitter" title="{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.agency|length %}- {{ project.submitter.agency }}{% endif %}" data-toggle="tooltip">{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.agency|length %}- {{ project.submitter.agency }}{% endif %}</td>
                                                <td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>
                                                <td class="table-projects-item-duration">{{ project.duration }}</td>
                                                <td class="table-projects-item-motif" title="{{ project.motif.general }} {% if project.motif.details|length %}- {{ project.motif.details }}{% endif %}" data-toggle="tooltip">{{ project.motif.general }} {% if project.motif.details|length %}- {{ project.motif.details }}{% endif %}</td>
                                                <td class="table-projects-item-status">
                                                    <span class="ui-project-status" title="{{ project.status }}" data-toggle="tooltip">{{ project.status }}</span>
                                                </td>
                                                <td class="table-projects-item-memos">
                                                    <a role="button"><span class="icon fa-angle-r-u16"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table><!-- /.table-projects -->
                                </div><!-- /.table-scroll -->
                            {% else %}
                                <div class="message-info after">{{ 'partner-project-list_projects-not-found-message'|trans }}</div>
                            {% endif %}
                        </div><!-- /#partner-projects-panel -->
                    </div><!-- /.panel-content -->
                </div><!-- /.panel -->
            </article><!-- /.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}

{% block modals %}

    <div id="modal-partner-prospect-cancel" data-modal>
        <div class="modal-body text-align-center">
            {# TODO The translation below needs to be added #}
            {# I am not sure if this is correct and don't know how to pass the parameters in the SQL query #}
            {# Also, since companyName is generated using AJAX on step 2, there is a JS which will look for <span class="companyName"></span> #}
            {# and will replace it with the AJAX response. #}
            <p>{% trans with {'%companyName%' : '<span class="ui-modal-output-company"></span>'} %} partner-project-list_popup-prospect-cancel-message {% endtrans %}</p>
            {# TODO END #}
            <div class="form-field">
                <select name="prospect-cancel-motif" id="prospect-cancel-motif" class="input-field">
                    <option value="0">Sélectionnez</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                    <option value="4">Option 4</option>
                </select>
            </div>
        </div>
        <footer class="modal-footer">
            <div class="btn-controls">
                <a href="javascript:;" class="btn-default" data-modal-doactioncancel>
                    {% trans %} partner-project-list_popup-prospect-cancel-ko {% endtrans %}
                </a>
                <a href="javascript:;" class="btn-primary" data-modal-doactionsubmit>
                    {% trans %} partner-project-list_popup-prospect-cancel-ok {% endtrans %}
                </a>
            </div>
        </footer>
    </div><!-- /#modal-partner-prospect-cancel -->

    <div id="modal-partner-prospect-submit" data-modal>
        <div class="modal-body text-align-center">
            {# TODO The translation below needs to be added #}
            {# I am not sure if this is correct and don't know how to pass the parameters in the SQL query #}
            {# Also, since companyName is generated using AJAX on step 2, there is a JS which will look for <span class="companyName"></span> #}
            {# and will replace it with the AJAX response. #}
            <p>{% trans with {'%companyName%' : '<span class="ui-modal-output-company"></span>'} %} partner-project-list_popup-prospect-submit-message {% endtrans %}</p>
            {# TODO END #}
        </div>
        <footer class="modal-footer">
            <div class="btn-controls">
                <a href="javascript:;" class="btn-default" data-modal-doactioncancel>
                    {% trans %} partner-project-list_popup-prospect-submit-ko {% endtrans %}
                </a>
                <a href="javascript:;" class="btn-primary" data-modal-doactionsubmit>
                    {% trans %} partner-project-list_popup-prospect-submit-ok {% endtrans %}
                </a>
            </div>
        </footer>
    </div><!-- /#modal-partner-prospect -->

{% endblock %}