{% extends 'partner_account/_layout.html.twig' %}

{% set page = {
    id: 'partner-account-projects-list',
    classNames: 'partner-account'
} %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <article class="dashboard-tab-pane">
                <div class="panel">
                    <div class="panel-content">
                        <div id="partner-prospects-panel">
                            <h3>{% trans %} partner-project-list_prospects-title {% endtrans %}</h3>

                            {% if prospects|length > 0 %}
                                <div class="table-scroll">
                                    <table class="table table-prospects" data-sortable>
                                        <thead class="table-sortable-columns">
                                        <tr>
                                            <th class="table-prospects-item-borrower table-sortable-column" data-sortable-by="borrower" colspan="2">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-borrower'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-borrower {% endtrans %}
                                                </span>
                                            </th>
                                            {% if is_granted('ROLE_PARTNER_ADMIN') %}
                                                <th class="table-prospects-item-submitter table-sortable-column" data-sortable-by="submitter">
                                                    <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                        {% trans %} partner-project-list_prospects-table-submitter {% endtrans %}
                                                    </span>
                                                </th>
                                            {% endif %}
                                            <th class="table-prospects-item-amount table-sortable-column" data-sortable-by="amount">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-amount'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-amount {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-prospects-item-duration table-sortable-column" data-sortable-by="duration">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-duration'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-duration {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-prospects-item-motif table-sortable-column" data-sortable-by="motif" colspan="2">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-motif'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-motif {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-prospects-item-action">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-prospects-action'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_prospects-table-action {% endtrans %}
                                                </span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody data-sortable-content>
                                        {% for project in prospects %}
                                            <tr id="prospect-{{ project.id }}" class="table-prospects-item"
                                                data-hash="{{ project.hash }}"
                                                data-sortable-borrower="{{ project.name }}"
                                                {% if is_granted('ROLE_PARTNER_ADMIN') %}
                                                    data-sortable-submitter="{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.entity|length %}- {{ project.submitter.entity }}{% endif %}"
                                                {% endif %}
                                                data-sortable-motif="{{ project.motive }}"
                                                data-sortable-amount="{{ project.amount }}"
                                                data-sortable-duration="{{ project.duration }}">
                                                <td class="table-prospects-item-borrower" title="{{ project.name }}" data-toggle="tooltip" colspan="2">{{ project.name }}</td>
                                                {% if is_granted('ROLE_PARTNER_ADMIN') %}
                                                    <td class="table-prospects-item-submitter" title="{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.entity|length %}- {{ project.submitter.entity }}{% endif %}" data-toggle="tooltip">{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.entity|length %}- {{ project.submitter.entity }}{% endif %}</td>
                                                {% endif %}
                                                <td class="table-prospects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>
                                                <td class="table-prospects-item-duration">{% trans with {'%duration%': project.duration} %} partner-project-list_prospects-table-duration-value {% endtrans %}</td>
                                                <td class="table-prospects-item-motif" colspan="2" title="{{ project.motive }}" data-toggle="tooltip">{{ project.motive }}</td>
                                                <td class="table-prospects-item-action">
                                                    <a role="button" class="btn-default" title="{{ 'partner-project-list_prospects-table-action-cancel'|trans|e('html_attr')}}" data-toggle="tooltip" data-action="abandon"><span class="icon fa-ban-u16"></span></a>
                                                    <a role="button" class="btn-default" title="{{ 'partner-project-list_prospects-table-action-submit'|trans|e('html_attr') }}" data-toggle="tooltip" data-action="submit"><span class="icon fa-check-u16"></span></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table><!-- /.table-prospects -->
                                </div><!-- /.table-scroll -->
                                <div class="message-info after" style="display: none;">{{ 'partner-project-list_prospects-not-found-message'|trans }}</div>
                            {% else %}
                                <div class="message-info after">{{ 'partner-project-list_prospects-not-found-message'|trans }}</div>
                            {% endif %}
                        </div><!-- /#partner-prospects-panel -->

                        <div id="partner-projects-panel">
                            <h3>{% trans %} partner-project-list_projects-title {% endtrans %}</h3>
                            {% if borrowers|length > 0 %}
                                <div class="table-scroll">
                                    <table class="table table-projects table-clickable" data-sortable>
                                        <thead class="table-sortable-columns">
                                        <tr>
                                            <th class="table-projects-item-borrower table-sortable-column" data-sortable-by="borrower" colspan="2">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-borrower'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-borrower {% endtrans %}
                                                </span>
                                            </th>
                                            {% if is_granted('ROLE_PARTNER_ADMIN') %}
                                                <th class="table-projects-item-submitter table-sortable-column" data-sortable-by="submitter">
                                                    <span class="label" title="{{ 'partner-project-list_sr-sort-projects-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                        {% trans %} partner-project-list_projects-table-submitter {% endtrans %}
                                                    </span>
                                                </th>
                                            {% endif %}
                                            <th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-amount'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-amount {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-duration'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-duration {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-motif table-sortable-column" data-sortable-by="motif">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-motif'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-motif {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-status table-sortable-column" data-sortable-by="status">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-status'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-status {% endtrans %}
                                                </span>
                                            </th>
                                            <th class="table-projects-item-memos">
                                                <span class="label" title="{{ 'partner-project-list_sr-sort-projects-memos'|trans|e('html_attr') }}" data-toggle="tooltip">
                                                    {% trans %} partner-project-list_projects-table-memos {% endtrans %}
                                                </span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody data-sortable-content>
                                        {% for project in borrowers %}
                                            <tr id="project-{{ project.id }}" class="table-projects-item" data-details
                                                data-sortable-borrower="{{ project.name }}"
                                                {% if is_granted('ROLE_PARTNER_ADMIN') %}
                                                    data-sortable-submitter="{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.entity|length %}- {{ project.submitter.entity }}{% endif %}"
                                                {% endif %}
                                                data-sortable-motif="{{ project.motive }}"
                                                data-sortable-amount="{{ project.amount }}"
                                                data-sortable-duration="{{ project.duration }}"
                                                data-sortable-status="{{ project.status }}">
                                                <td class="table-projects-item-borrower" title="{{ project.name }}" data-toggle="tooltip" colspan="2">{{ project.name }}</td>
                                                {% if is_granted('ROLE_PARTNER_ADMIN') %}
                                                    <td class="table-projects-item-submitter" title="{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.entity|length %}- {{ project.submitter.entity }}{% endif %}" data-toggle="tooltip">{{ project.submitter.lastName }} {{ project.submitter.firstName }} {% if project.submitter.entity|length %}- {{ project.submitter.entity }}{% endif %}</td>
                                                {% endif %}
                                                <td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>
                                                <td class="table-projects-item-duration">{% trans with {'%duration%': project.duration} %} partner-project-list_projects-table-duration-value {% endtrans %}</td>
                                                <td class="table-projects-item-motif" title="{{ project.motive }}" data-toggle="tooltip">{{ project.motive }}</td>
                                                <td class="table-projects-item-status">
                                                    <span class="ui-project-status" title="{{ project.status }}" data-toggle="tooltip">{{ project.status }}</span>
                                                </td>
                                                <td class="table-projects-item-memos">
                                                    {% if project.memos > 0 %}
                                                        <a role="button"><span class="icon fa-angle-r-u16"></span></a>
                                                    {% else %}
                                                        &nbsp;
                                                    {% endif %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table><!-- /.table-projects -->
                                </div><!-- /.table-scroll -->
                            {% else %}
                                <div class="message-info after">{{ 'partner-project-list_projects-not-found-message'|trans }}</div>
                            {% endif %}
                        </div><!-- /#partner-projects-panel -->
                    </div><!-- /.panel-content -->
                </div><!-- /.panel -->
            </article><!-- /.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}

{% block modals %}
    <div id="modal-partner-prospect-abandon" data-modal>
        <form action="{{ path('partner_project_request_abandon') }}" method="post" data-formvalidation>
            <input type="hidden" name="hash" value>
            <div class="modal-body text-align-center">
                <p>{% trans with {'%companyName%' : '<span class="ui-modal-output-company"></span>'} %} partner-project-list_popup-prospect-cancel-message {% endtrans %}</p>
                <div class="form-field">
                    <select name="reason" id="prospect-abandon-motif" class="input-field" data-formvalidation-input data-formvalidation-required="true">
                        <option value="">{% trans %} partner-project-list_simulator-abandon-motif-select {% endtrans %}</option>
                        {% for reason in abandonReasons %}
                            <option value="{{ reason.idAbandon }}">{{ reason.label }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <footer class="modal-footer">
                <div class="btn-controls">
                    <button type="button" class="btn-default" data-modal-doactioncancel>
                        {% trans %} partner-project-list_popup-prospect-cancel-ko {% endtrans %}
                    </button>
                    <button type="submit" class="btn-primary">
                        {% trans %} partner-project-list_popup-prospect-cancel-ok {% endtrans %}
                    </button>
                </div>
            </footer>
        </form>
    </div><!-- /#modal-partner-prospect-cancel -->

    <div id="modal-partner-prospect-submit" data-modal>
        <form action="{{ path('partner_project_request_submit') }}" method="post">
            <input type="hidden" name="hash" value>
            <div class="modal-body text-align-center">
                <p>{% trans with {'%companyName%' : '<span class="ui-modal-output-company"></span>'} %} partner-project-list_popup-prospect-submit-message {% endtrans %}</p>
            </div>
            <footer class="modal-footer">
                <div class="btn-controls">
                    <button type="button" class="btn-default" data-modal-doactioncancel>
                        {% trans %} partner-project-list_popup-prospect-submit-ko {% endtrans %}
                    </button>
                    <button type="submit" class="btn-primary" data-spinnerbutton>
                        {% trans %} partner-project-list_popup-prospect-submit-ok {% endtrans %}
                    </button>
                </div>
            </footer>
        </form>
    </div><!-- /#modal-partner-prospect -->
{% endblock %}
