{% extends 'partner_account/_layout.html.twig' %}

{% set page = {
    id: 'partner-account-project-request',
    classNames: 'partner-account'
} %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <article class="dashboard-tab-pane">
                <div class="panel">
                    <header class="panel-header">
                        <h3>{% trans %} partner-project-request_title {% endtrans %}</h3>
                    </header>
                    <form action="{{ path('partner_project_request_form') }}" method="post" id="emprunter-sim-partner" class="emprunter-sim emprunter-sim-partner">
                        <div class="emprunter-sim-content">
                            <fieldset class="emprunter-sim-pane-inner" data-formvalidation data-formvalidation-notificationselem=".form-validation-notifications">
                                <div class="form-validation-notifications"></div>
                                <div class="row">
                                    <div class="form-field col-lg-6 col-md-6">
                                        <label for="esim-input-amount">{% trans %} partner-project-request_simulator-amount-field-title {% endtrans %}
                                            <span class="c-t3">{% trans %} partner-project-request_simulator-amount-field-addition {% endtrans %}</span>
                                        </label>
                                        <input id="esim-input-amount" type="text" step="any" name="esim[amount]" value="{% if form.values.amount is defined %}{{ form.values.amount }}{% endif %}"
                                               placeholder="{% trans %} partner-project-request_simulator-amount-field-placeholder {% endtrans %}"
                                               class="input-field"
                                               data-formvalidation-minvalue="{{ projectAmountMin }}" data-formvalidation-maxvalue="{{ projectAmountMax }}" data-formvalidation-input
                                               data-formvalidation-required="true">
                                    </div>
                                    <div class="form-field col-lg-6 col-md-6">
                                        <label for="esim-input-reason">{% trans %} partner-project-request_simulator-borrowing-motif-title {% endtrans %}</label>
                                        <select id="esim-input-reason" name="esim[motive]" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="motive">
                                            <option value="">{% trans %} partner-project-request_simulator-borrowing-motif-select {% endtrans %}</option>
                                            {% for motive in borrowingMotives %}
                                                <option value="{{ motive.idMotive }}"{% if form.values.motive is defined and form.values.motive == motive.idMotive %} selected{% endif %}>{{ ('borrowing-motive_motive-' ~ motive.idMotive)|trans }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-field col-lg-12 col-md-12">
                                        <label>
                                            {% trans %} partner-project-request_simulator-borrowing-period-title {% endtrans %}
                                            <span class="c-t3">{% trans %} partner-project-request_simulator-borrowing-period-addition {% endtrans %}</span>
                                        </label>
                                        <div class="custom-input-duration" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="duration">
                                            {% for period in loanPeriods %}
                                                <label>
                                                    <input type="radio" id="esim-input-duration-{{ period }}" name="esim[duration]" value="{{ period }}"{% if form.values.duration is defined and form.values.duration == period %} checked{% endif %}>
                                                    <span class="label">{{ period }}</span>
                                                </label>
                                            {% endfor %}
                                        </div><!-- /.custom-input-duration -->
                                    </div><!-- /.form-field -->
                                </div>
                                <div class="row">
                                    <div class="form-field col-lg-6 col-md-6">
                                        <label for="esim-input-siren">{% trans %} partner-project-request_simulator-siren-field-label {% endtrans %}</label>
                                        <input type="text" id="esim-input-siren" name="esim[siren]" value="{% if form.values.siren is defined %}{{ form.values.siren }}{% endif %}" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="siren">
                                    </div><!-- /.form-field -->
                                    <div class="form-field col-lg-6 col-md-6">
                                        <label for="esim-input-email">{% trans %} partner-project-request_simulator-email-field-label {% endtrans %}</label>
                                        <div class="input-group">
                                            <input type="email" id="esim-input-email" name="esim[email]" value="{% if form.values.email is defined %}{{ form.values.email }}{% endif %}" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="email">
                                        </div><!-- /.input-group -->
                                    </div><!-- /.form-field -->
                                </div>
                            </fieldset><!-- /.emprunter-sim-pane-inner -->
                        </div><!-- /.emprunter-sim-content -->
                        <footer class="emprunter-sim-pane-inner emprunter-sim-pane-inner-actions bg-p1 c-bg5 text-align-right">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="submit" class="btn-continue btn-alternate" data-spinnerbutton>
                                        {% trans %} partner-project-request_simulator-footer-continue-button {% endtrans %}
                                    </button>
                                </div>
                            </div>
                        </footer><!-- /.emprunter-sim-pane-inner -->
                    </form><!-- /.emprunter-sim -->
                </div>
            </article><!-- /.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}
