{% extends 'partner_account/_layout.html.twig' %}
{% set title = 'Title' %}
{% set subtitle = 'Felicitations' %}
{% set message = "<p>Nous avons maintenant suffisamment d'éléments pour analyser votre demande de financement.</p><p>D'ici 48 heures maximum, un analyste prendra contact avec vous pour échanger sur votre projet et vous aider à finaliser votre dossier.</p><p>Dès l'accord du comité risque obtenu, votre projet sera mis en ligne sur notre site et présenté à notre communauté de prêteurs.</p><p>A la fin de la période de souscription (en moyenne 5 jours), si le taux d'intérêt final proposé par les prêteur vous convient, les fonds seront immédiatement débloqués et virés sur votre compte bancaire. Nous vous rappelons que la commission Unilend ne vous sera facturée que si vous acceptez l'offre de prêt.</p><p>Merci pour votre confiance.<br/> À bientôt sur Unilend.</p>" %}
{% set project = { hash: '127571a8db6076d82e7643c4835dbe98'} %}

{% block siteContent %}
    <article id="deposer-projet" class="page">
        <div class="hero-wrap">
            <header class="page-header">
                <div class="site-wrap">
                    <h1 id="project-create-title" class="h1">
                        {% if title is defined %}
                            {{ title }}
                        {% else %}
                            {% trans %} partner-project-request_page-title {% endtrans %}
                        {% endif %}
                    </h1>
                </div><!-- /.site-wrap -->
            </header><!-- /.page-header -->

            <div class="page-content">
                <div class="site-wrap">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-project-create-nav tab-nav">
                                {% if app.session.get('partnerProjectRequest') %}
                                    <ul class="nav nav-progress">
                                        <li id="project-create-1" role="presentation" class="complete">
                                            <span>
                                                <span class="project-create-progress-point">1.</span>
                                                <span class="label hide-mobile">{% trans %} partner-project-request_partner-start-tab-title {% endtrans %}</span>
                                            </span>
                                        </li>
                                        <li id="project-create-2" role="presentation" class="complete">
                                            <span>
                                                <span class="project-create-progress-point">2.</span>
                                                <span class="label hide-mobile">{% trans %} partner-project-request_contact-tab-title {% endtrans %}</span>
                                            </span>
                                        </li>
                                        <li id="project-create-3" role="presentation" class="active">
                                            <span>
                                                <span class="project-create-progress-point">3.</span>
                                                <span class="label hide-mobile">{% trans %} partner-project-request_end-tab-title {% endtrans %}</span>
                                            </span>
                                        </li>
                                    </ul><!-- /.nav-progress -->
                                {% else %}
                                    <ul class="nav nav-progress">
                                        <li id="project-create-1" role="presentation" class="complete">
                                            <span>
                                                <span class="project-create-progress-point">1.</span>
                                                <span class="label">{% trans %} partner-project-request_contact-tab-title {% endtrans %}</span>
                                            </span>
                                        </li>
                                        <li id="project-create-2" role="presentation" class="complete">
                                            <span>
                                                <span class="project-create-progress-point">2.</span>
                                                <span class="label">{% trans %} partner-project-request_finance-tab-title {% endtrans %}</span>
                                            </span>
                                        </li>
                                        <li id="project-create-3" role="presentation" class="complete">
                                            <span>
                                                <span class="project-create-progress-point">3.</span>
                                                <span class="label">{% trans %} partner-project-request_end-tab-title {% endtrans %}</span>
                                            </span>
                                        </li>
                                    </ul><!-- /.nav-progress -->
                                {% endif %}
                            </div><!-- /.form-project-create-nav -->
                        </div>
                    </div>

                    <div class="row ui-sticky-parent">
                        <div class="col-form col-lg-8 col-md-8">
                            <div class="form-project-create-content tab-content">
                                <div id="form-project-create-3" aria-labelledby="project-create-3 project-create-title">
                                    <div class="panel">
                                        {% if subtitle is not empty %}
                                            <h3 class="h3">{{ subtitle|raw }}</h3>
                                        {% endif %}
                                        <p>{{ message|raw }}</p>

                                        <div class="btn-toolbar">
                                            <a href="#" class="btn-default ui-open-site-search">{{ 'partner-project-request_end-page-question-button'|trans|raw }}</a>
                                            <a href="{{ absolute_url('/partenaire/depot/') }}" class="btn-primary">{{ 'partner-project-request_end-page-dashboard-button'|trans|raw }}</a>
                                        </div><!-- /.btn-toolbar -->
                                    </div><!-- /.panel -->
                                </div><!-- /#form-project-create-3.tab-pane -->
                            </div><!-- /.form-project-create-content -->
                        </div><!-- /.col-form -->
                    </div><!-- /.row -->
                </div><!-- /.site-wrap -->
            </div><!-- /.page-content -->

            {% include 'partials/components/list-socialmedia.html.twig' %}
        </div><!-- /.hero-wrap -->
    </article><!-- /.page -->
{% endblock %}
