{% set submittedChart = {
    type: 'partnerProjects',
    highcharts: {
        title: {
            text: 'partner-statistics_graph-submitted-projects'|trans,
        },
        xAxis: {
            categories: timeAxis,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: 'Total',
                color: '#1A87DA',
                data: submittedProjects
            }
        ]
    }
} %}

{% set acceptedChart = {
    type: 'partnerProjects',
    highcharts: {
        title: {
            text: 'partner-statistics_graph-accepted-projects'|trans,
        },
        xAxis: {
            categories: timeAxis,
            crosshair: true
        },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: 'Total',
                color: '#1A87DA',
                data: acceptedProjects
            }
        ]
    }
} %}

{% set repaymentChart = {
    type: 'partnerProjects',
    highcharts: {
        title: {
            text: 'partner-statistics_graph-repayment-projects'|trans,
        },
        xAxis: {
            categories: timeAxis,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: 'Total',
                color: '#1A87DA',
                data: repaymentProjects
            }
        ]
    }
} %}

{% set submittedAmountChart = {
    type: 'partnerProjects',
    highcharts: {
        chart: {
            type: 'column'
        },
        title: {
            text: 'partner-statistics_graph-submitted-projects-amount'|trans,
        },
        xAxis: {
            categories: timeAxis,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            units: '€',
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: 'Montant',
                color: '#1A87DA',
                data: submittedAmount
            }
        ],
        tooltip: {
            valueSuffix: ' €'
        }
    }
} %}

{% set repaymentAmountChart = {
    type: 'partnerProjects',
    highcharts: {
        chart: {
            type: 'column'
        },
        title: {
            text: 'partner-statistics_graph-repayment-projects-amount'|trans,
        },
        xAxis: {
            categories: timeAxis,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            units: '€',
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: 'Montant',
                color: '#1A87DA',
                data: repaymentAmount
            }
        ],
        tooltip: {
            valueSuffix: ' €'
        }
    }
} %}

<article class="dashboard-tab-pane">
    <div class="panel">
        <header class="panel-header">
            <h3>{{ graphTitle }}</h3>
        </header>

        <div class="tabs nested-tabs partner-statistics-tabs row columns-with-space">
            <div class="tab-navigation col-md-3 col-lg-3">
                <ul class="nav nav-tabs partner-statistics-tabs-nav">
                    <li role="presentation" class="active">
                        <a href="#{{ graphType }}-projects-submitted-tab" role="tab" data-toggle="tab">
                            {% trans %} partner-statistics_tabs-submitted-projects {% endtrans %}
                            {% if submittedProjects[10] > 0 %}
                                {% set variation = ((submittedProjects[11] - submittedProjects[10]) / submittedProjects[10]) * 100 %}
                                <span class="difference">{% if variation > 0 %}+{% else %}-{% endif %} {{ variation|abs|localizednumberwithprecision(0) }}&nbsp;{% trans %} partner-statistics_tabs-previous-month {% endtrans %}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#{{ graphType }}-projects-accepted-tab" role="tab" data-toggle="tab">
                            {% trans %} partner-statistics_tabs-accepted-projects {% endtrans %}
                            {% if acceptedProjects[10] > 0 %}
                                {% set variation = ((acceptedProjects[11] - acceptedProjects[10]) / acceptedProjects[10]) * 100 %}
                                <span class="difference">{% if variation > 0 %}+{% else %}-{% endif %} {{ variation|abs|localizednumberwithprecision(0) }}&nbsp;{% trans %} partner-statistics_tabs-previous-month {% endtrans %}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#{{ graphType }}-projects-repayment-tab" role="tab" data-toggle="tab">
                            {% trans %} partner-statistics_tabs-repayment-projects {% endtrans %}
                            {% if repaymentProjects[10] > 0 %}
                                {% set variation = ((repaymentProjects[11] - repaymentProjects[10]) / repaymentProjects[10]) * 100 %}
                                <span class="difference">{% if variation > 0 %}+{% else %}-{% endif %} {{ variation|abs|localizednumberwithprecision(0) }}&nbsp;{% trans %} partner-statistics_tabs-previous-month {% endtrans %}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#{{ graphType }}-projects-submitted-amount-tab" role="tab" data-toggle="tab">
                            {% trans %} partner-statistics_tabs-submitted-projects-amount {% endtrans %}
                            {% if submittedAmount[10] > 0 %}
                                {% set variation = ((submittedAmount[11] - submittedAmount[10]) / submittedAmount[10]) * 100 %}
                                <span class="difference">{% if variation > 0 %}+{% else %}-{% endif %} {{ variation|abs|localizednumberwithprecision(0) }}&nbsp;{% trans %} partner-statistics_tabs-previous-month {% endtrans %}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#{{ graphType }}-projects-repayment-amount-tab" role="tab" data-toggle="tab">
                            {% trans %} partner-statistics_tabs-repayment-projects-amount {% endtrans %}
                            {% if repaymentAmount[10] > 0 %}
                                {% set variation = ((repaymentAmount[11] - repaymentAmount[10]) / repaymentAmount[10]) * 100 %}
                                <span class="difference">{% if variation > 0 %}+{% else %}-{% endif %} {{ variation|abs|localizednumberwithprecision(0) }}&nbsp;{% trans %} partner-statistics_tabs-previous-month {% endtrans %}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div><!-- /.tab-navigation -->
            <div class="tab-content partner-statistics-tabs-content col-md-9 col-lg-9">
                <div id="{{ graphType }}-projects-submitted-tab" role="tabpanel" class="tab-pane active">
                    <div class="overflow-wrap">
                        <div class="chart chart-partner" data-chartview="{{ submittedChart|json_encode|escape('html_attr') }}"></div>
                    </div>
                </div><!-- /.tab-pane -->
                <div id="{{ graphType }}-projects-accepted-tab" role="tabpanel" class="tab-pane">
                    <div class="overflow-wrap">
                        <div class="chart chart-partner" data-chartview="{{ acceptedChart|json_encode|escape('html_attr') }}"></div>
                    </div>
                </div><!-- /.tab-pane -->
                <div id="{{ graphType }}-projects-repayment-tab" role="tabpanel" class="tab-pane">
                    <div class="overflow-wrap">
                        <div class="chart chart-partner" data-chartview="{{ repaymentChart|json_encode|escape('html_attr') }}"></div>
                    </div>
                </div><!-- /.tab-pane -->
                <div id="{{ graphType }}-projects-submitted-amount-tab" role="tabpanel" class="tab-pane">
                    <div class="overflow-wrap">
                        <div class="chart chart-partner" data-chartview="{{ submittedAmountChart|json_encode|escape('html_attr') }}"></div>
                    </div>
                </div><!-- /.tab-pane -->
                <div id="{{ graphType }}-projects-repayment-amount-tab" role="tabpanel" class="tab-pane">
                    <div class="overflow-wrap">
                        <div class="chart chart-partner" data-chartview="{{ repaymentAmountChart|json_encode|escape('html_attr') }}"></div>
                    </div>
                </div><!-- /.tab-pane -->
            </div><!-- /.tab-content -->
        </div><!-- /.nested-tabs -->
    </div>
</article><!-- /.panel -->
