{% extends 'partner_account/_layout.html.twig' %}

{% set page = {
    id: 'partner-account-statistics',
    classNames: 'partner-account'
} %}

{# Color and Name of legend labels #}
{% set seriesLegend = {
    capital: {
        name: 'Capital',
        color: '#1A87DA'
    },
    projects: {
        name: 'Dossiers',
        color: '#1A87DA'
    }
} %}

{# Simulated - Month Length - Last 12 months #}
{% set timeAxis = {
    month: ['Janv. 2017', 'Fevr. 2017', 'Mars 2017', 'Avr. 2017', 'Mai 2017', 'Juin 2017', 'Juil. 2017', 'Août. 2017', 'Sept. 2017', 'Oct. 2017', 'Nov. 2017', 'Dec. 2017']
} %}

{# Simulated - Month Sum Values #}
{% set monthSum = {
    submitted: {
        projects: [ 3, 4, 5, 10, 20, 25, 38, 39, 34, 52, 42, 49 ],
        capital: [ 291.4, 203.91, 565, 1007, 1877, 2534, 3630, 3686, 3489, 5471, 4390, 4000 ]
    },
    accepted: {
        projects: [ 2, 2, 3, 5, 11, 15, 20, 18, 16, 25, 23, 21 ]
    },
    repayment: {
        projects: [ 1, 1, 3, 4, 5, 11, 12, 12, 13, 17, 24, 26 ],
        capital: [ 50.4, 40.91, 185, 650, 720, 834, 1230, 1586, 1889, 1971, 1990, 1977 ]
    }
} %}

{% set partnerSubmittedChart = {
    type: 'partnerProjects',
    highcharts: {
        title: {
            text: 'partner-statistics_graph-projects-submitted-title'|trans,
        },
        xAxis: {
            categories: timeAxis.month,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: seriesLegend.projects.name,
                color: seriesLegend.projects.color,
                data: monthSum.submitted.projects
            }
        ]
    }
} %}
{% set partnerAcceptedChart = {
    type: 'partnerProjects',
    highcharts: {
        title: {
            text: 'partner-statistics_graph-projects-accepted-title'|trans,
        },
        xAxis: {
            categories: timeAxis.month,
            crosshair: true
        },
            yAxis: {
                min: 0,
                title: {
                    text: ''
                },
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: seriesLegend.projects.name,
                color: seriesLegend.projects.color,
                data: monthSum.accepted.projects
            }
        ]
    }
} %}
{% set partnerRepaymentChart = {
    type: 'partnerProjects',
    highcharts: {
        title: {
            text: 'partner-statistics_graph-projects-repayment-title'|trans,
        },
        xAxis: {
            categories: timeAxis.month,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: seriesLegend.projects.name,
                color: seriesLegend.projects.color,
                data: monthSum.repayment.projects
            }
        ]
    }
} %}
{% set partnerSubmittedAmountChart = {
    type: 'partnerProjects',
    highcharts: {
        title: {
            text: 'partner-statistics_graph-projects-submitted-amount-title'|trans,
        },
        xAxis: {
            categories: timeAxis.month,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            units: '€',
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: seriesLegend.capital.name,
                color: seriesLegend.capital.color,
                data: monthSum.submitted.capital
            }
        ],
        tooltip: {
            valueSuffix: ' €'
        }
    }
} %}
{% set partnerRepaymentAmountChart = {
    type: 'partnerProjects',
    highcharts: {
        title: {
            text: 'partner-statistics_graph-projects-repayment-amount-title'|trans,
        },
        xAxis: {
            categories: timeAxis.month,
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            },
            units: '€',
            gridLineColor: '#efefef'
        },
        plotOptions: {
            column: {
                stacking: 'normal'
            }
        },
        legend: {
            enabled: false
        },
        series: [
            {
                name: seriesLegend.capital.name,
                color: seriesLegend.capital.color,
                data: monthSum.repayment.capital
            }
        ],

        tooltip: {
            valueSuffix: ' €'
        }
    }
} %}

{% block dashboardContent %}

    <style>
        .c-success {
            display: block;
        }
    </style>
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <article class="dashboard-tab-pane">
                <div class="panel">
                    <header class="panel-header">
                        <h3>Votre performance</h3>
                        {#<h3>{% trans %} partner-statistics_title {% endtrans %}</h3>#}
                    </header>

                    <div class="tabs nested-tabs partner-statistics-tabs row columns-with-space">
                        <div class="tab-navigation col-md-3 col-lg-3">
                            <ul class="nav nav-tabs partner-statistics-tabs-nav">
                                <li role="presentation" class="active">
                                    <a href="#projects-submitted-control" role="tab" data-toggle="tab">
                                        Dossiers envoyés
                                        <span class="difference c-success">+ 20% mois précedent</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#projects-accepted-control" role="tab" data-toggle="tab">
                                        Dossiers acceptés
                                        <span class="difference c-error">- 10% mois précedent</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#projects-repayment-control" role="tab" data-toggle="tab">
                                        Dossiers décaissés
                                        <span class="difference c-success">+ 10% mois précedent</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#projects-submitted-amount-control" role="tab" data-toggle="tab">
                                        Montant envoyés
                                        <span class="difference c-error">- 18% mois précedent</span>
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#projects-repayment-amount-control" role="tab" data-toggle="tab">
                                        Montant décaissé
                                        <span class="difference c-t3">~ 0% mois précedent</span>
                                    </a>
                                </li>
                            </ul>
                        </div><!-- /.tab-navigation -->
                        <div class="tab-content partner-statistics-tabs-content col-md-9 col-lg-9">
                            <div id="projects-submitted-control" role="tabpanel" class="tab-pane active">
                                <div class="overflow-wrap">
                                    <div class="chart chart-partner" data-chartview='{{ partnerSubmittedChart|json_encode|escape('html_attr') }}'></div>
                                </div>
                            </div><!-- /.tab-pane -->
                            <div id="projects-accepted-control" role="tabpanel" class="tab-pane">
                                <div class="overflow-wrap">
                                    <div class="chart chart-partner" data-chartview='{{ partnerAcceptedChart|json_encode|escape('html_attr') }}'></div>
                                </div>
                            </div><!-- /.tab-pane -->
                            <div id="projects-repayment-control" role="tabpanel" class="tab-pane">
                                <div class="overflow-wrap">
                                    <div class="chart chart-partner" data-chartview='{{ partnerRepaymentChart|json_encode|escape('html_attr') }}'></div>
                                </div>
                            </div><!-- /.tab-pane -->
                            <div id="projects-submitted-amount-control" role="tabpanel" class="tab-pane">
                                <div class="overflow-wrap">
                                    <div class="chart chart-partner" data-chartview='{{ partnerSubmittedAmountChart|json_encode|escape('html_attr') }}'></div>
                                </div>
                            </div><!-- /.tab-pane -->
                            <div id="projects-repayment-amount-control" role="tabpanel" class="tab-pane">
                                <div class="overflow-wrap">
                                    <div class="chart chart-partner" data-chartview='{{ partnerRepaymentAmountChart|json_encode|escape('html_attr') }}'></div>
                                </div>
                            </div><!-- /.tab-pane -->
                        </div><!-- /.tab-content -->
                        <div class="tab-footer partner-statistics-tabs-footer">

                        </div>
                    </div><!-- /.nested-tabs -->
                </div>
            </article><!-- /.panel -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}
