{% extends 'partner_account/_layout.html.twig' %}

{% set page = {
    id: 'partner-account-statistics',
    classNames: 'partner-account'
} %}

{% set users = [
    {
        id: '912892',
        firstName: 'Lauren',
        lastName: 'Yates',
        role: 'admin',
        status: 'active',
        perimeter: {
            type: 'agency',
            agency: 'AXXA Nancy',
            group: ''
        }
    },
    {
        id: '471292',
        firstName: 'Lauren',
        lastName: 'Yates',
        role: 'admin',
        status: 'active',
        perimeter: {
            type: 'group',
            agency: '',
            group: 'Group'
        }
    },
    {
        id: '121292',
        firstName: 'Lauren',
        lastName: 'Yates',
        role: 'admin',
        status: 'inactive',
        perimeter: {
            type: 'group',
            agency: '',
            group: 'Group'
        }
    }
] %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <article class="dashboard-tab-pane">
                <div id="partner-projects-users" class="panel">
                    <header class="panel-header">
                        <h3>{% trans %} partner-users-list_title {% endtrans %}</h3>
                    </header>
                    <div class="partner-projects-add-user text-align-right">
                        <a href="" class="btn-default"><span class="icon fa-plus"></span> {% trans %} partner-users-list_add-user-button {% endtrans %}</a>
                    </div>

                    <table class="table table-users" data-table data-table-paging="false" data-table-info="false" data-table-lengthchange="false"
                               data-table-languagesearch="" data-table-languagesearchplaceholder="{% trans %} partner-users-list_table-filter-search-placeholder {% endtrans %}" data-table-languagezerorecords="{% trans %} partner-users-list_table-filter-zerorecords-placeholder {% endtrans %}" data-table-custom >
                            <thead class="table-sortable-columns">
                            <tr>
                                <th class="table-users-item-name table-sortable-column">{% trans %} partner-users-list_table-column-name {% endtrans %}</th>
                                <th class="table-users-item-role table-sortable-column">{% trans %} partner-users-list_table-column-role {% endtrans %}</th>
                                <th class="table-users-item-perimeter table-sortable-column">{% trans %} partner-users-list_table-column-perimeter {% endtrans %}</th>
                                <th class="table-users-item-status table-sortable-column">{% trans %} partner-users-list_table-column-status {% endtrans %}</th>
                                <th class="table-users-item-action">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr class="table-users-item {% if  user.status == 'inactive' %}ui-table-users-item-inactive{% endif %}" data-user-id="{{ user.id }}">
                                        <td class="table-users-item-name">
                                            <span class="last-name">{{ user.lastName }}</span> <span class="first-name">{{ user.firstName }}</span></td>
                                        <td class="table-users-item-role">
                                            {% if  user.role == 'admin' %}
                                                {% trans %} partner-users-list_table-item-admin-label {% endtrans %}
                                            {% else %}
                                                {% trans %} partner-users-list_table-item-user-label {% endtrans %}
                                            {% endif %}
                                        </td>
                                        <td class="table-users-item-perimeter">
                                            {% if  user.perimeter.type == 'agency' %}
                                                {{ user.perimeter.agency }}
                                            {% else %}
                                                {{ user.perimeter.group }}
                                            {% endif %}
                                        </td>
                                        <td class="table-users-item-status">
                                            {% if  user.status == 'active' %}
                                                {% trans %} partner-users-list_table-item-status-active-label {% endtrans %}
                                            {% else %}
                                                {% trans %} partner-users-list_table-item-status-inactive-label {% endtrans %}
                                            {% endif %}
                                        </td>
                                        <td class="table-users-item-action">
                                            {% if  user.status == 'active' %}
                                                <a role="button" class="btn-default" data-action="password" title="{% trans %} partner-users-list_table-item-action-password {% endtrans %}" data-toggle="tooltip"><span class="icon fa-envelope"></span></a>
                                                <a role="button" class="btn-default" data-action="deactivate" title="{% trans %} partner-users-list_table-item-action-deactivate {% endtrans %}" data-toggle="tooltip"><span class="icon fa-close"></span></a>
                                            {% else %}
                                                <a role="button" class="btn-default" data-action="activate" title="{% trans %} partner-users-list_table-item-action-activate {% endtrans %}" data-toggle="tooltip"><span class="icon fa-repeat"></span></a>
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                </div><!-- /.panel -->
            </article><!-- /.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}

{% block modals %}

    <div id="modal-partner-users-password" data-modal>
        <form action="">
            <input type="hidden" name="action" value="password">
            <input type="hidden" name="partner-user-id" value>
            <div class="modal-body text-align-center">
                <p>{% trans with {'%firstName%' : '<span class="ui-modal-output-firstname"></span>', '%lastName%' : '<span class="ui-modal-output-lastname"></span>'} %} partner-users-list_popup-user-password-message {% endtrans %}</p>
            </div>
            <footer class="modal-footer">
                <div class="btn-controls">
                    <button type="button" class="btn-default" data-modal-doactioncancel>
                        {% trans %} common_popup-ko {% endtrans %}
                    </button>
                    <button type="submit" class="btn-primary" data-spinnerbutton>
                        {% trans %} common_popup-ok {% endtrans %}
                    </button>
                </div>
            </footer>
        </form>
    </div><!-- /#modal-partner-users-password -->

    <div id="modal-partner-users-deactivate" data-modal>
        <form action="">
            <input type="hidden" name="action" value="deactivate">
            <input type="hidden" name="partner-user-id" value>
            <div class="modal-body text-align-center">
                <p>{% trans with {'%firstName%' : '<span class="ui-modal-output-firstname"></span>', '%lastName%' : '<span class="ui-modal-output-lastname"></span>'} %} partner-users-list_popup-user-deactivate-message {% endtrans %}</p>
            </div>
            <footer class="modal-footer">
                <div class="btn-controls">
                    <button type="button" class="btn-default" data-modal-doactioncancel>
                        {% trans %} common_popup-ko {% endtrans %}
                    </button>
                    <button type="submit" class="btn-primary" data-spinnerbutton>
                        {% trans %} common_popup-ok {% endtrans %}
                    </button>
                </div>
            </footer>
        </form>
    </div><!-- /#modal-partner-users-deactivate -->

    <div id="modal-partner-users-activate" data-modal>
        <form action="">
            <input type="hidden" name="action" value="deactivate">
            <input type="hidden" name="partner-user-id" value>
            <div class="modal-body text-align-center">
                <p>{% trans with {'%firstName%' : '<span class="ui-modal-output-firstname"></span>', '%lastName%' : '<span class="ui-modal-output-lastname"></span>'} %} partner-users-list_popup-user-activate-message {% endtrans %}</p>
            </div>
            <footer class="modal-footer">
                <div class="btn-controls">
                    <button type="button" class="btn-default" data-modal-doactioncancel>
                        {% trans %} common_popup-ko {% endtrans %}
                    </button>
                    <button type="submit" class="btn-primary" data-spinnerbutton>
                        {% trans %} common_popup-ok {% endtrans %}
                    </button>
                </div>
            </footer>
        </form>
    </div><!-- /#modal-partner-users-activate -->
{% endblock %}
