{% extends 'layouts/_layout.html.twig' %}

{% block siteContent %}
    {% set showForm = true %}
    <article id="connexion-inscription" class="page">
        <section class="page-content">
            <div class="hero-wrap">
                <div class="page-content">
                    <div class="push-lg-2 push-md-2 col-lg-8 col-md8">
                        <h1>{% trans %} password-init.page-title {% endtrans %}</h1>
                        <section class="panel" style="max-width: initial;">
                            {% if app.session.flashBag.has('tokenError') %}
                                {% set showForm = false %}
                                <div class="message-error">
                                    {% for error in app.session.flashBag.get('tokenError') %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if app.session.flashBag.has('error') %}
                                <div class="message-error">
                                    {% for error in app.session.flashBag.get('error') %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if form is defined and form %}
                                {{ form_start(form, {
                                    attr: {
                                        'data-formvalidation': '',
                                        'data-formvalidation-notificationselem': '#form-security-password-notifications',
                                        'class': 'form-security form-security-password-edit'
                                    }
                                }) }}
                                <div class="row row-multi-col-computer">
                                    <div class="form-field col-lg-6 col-md-6">
                                        {{ form_row(form.password.plainPassword.first, {
                                            attr: {
                                                'data-passwordcheck': '',
                                                'data-formvalidation-input': '',
                                                'data-formvalidation-required': 'true',
                                                'data-formvalidation-type': 'password'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-field col-lg-6 col-md-6">
                                        {{ form_row(form.password.plainPassword.second, {
                                            attr: {
                                                'data-passwordcheck': '',
                                                'data-formvalidation-input': '',
                                                'data-formvalidation-required': 'true',
                                                'data-formvalidation-type': 'password'
                                            }
                                        }) }}
                                    </div>
                                </div>
                                <div class="row">
                                    {{ form_row(form.securityQuestion.securityQuestion, {
                                        attr: {
                                            'data-formvalidation-input': '',
                                            'data-formvalidation-required': 'true'
                                        }
                                    }) }}
                                </div>

                                <div class="row">
                                    {{ form_row(form.securityQuestion.securityAnswer, {
                                        attr: {
                                            'data-formvalidation-input': '',
                                            'data-formvalidation-required': 'true'
                                        }
                                    }) }}
                                </div>

                                <div class="row">
                                    {{ form_row(form.mobile, {
                                        attr: {
                                            'data-formvalidation-input': '',
                                            'data-formvalidation-required': 'true'
                                        }
                                    }) }}
                                </div>

                                <div class="btn-controls">
                                    <button class="btn-primary" data-spinnerbutton>{% trans %} password-init.form-submit-button {% endtrans %}</button>
                                </div><!-- /.btn-controls -->
                                {{ form_end(form) }}
                            {% endif %}
                        </section><!-- /.panel -->
                    </div>
                </div><!-- /.page-content -->
            </div><!-- /.hero-wrap -->
        </section><!-- /.page-content -->
    </article><!-- /.page -->
{% endblock %}
