{% extends 'layouts/_layout.html.twig' %}

{% block siteContent %}
    {% set showPasswordEditionForm = true %}

    <article id="connexion-inscription" class="page">
        <section class="page-content">
            <div class="hero-wrap">
                <div class="page-content">
                    <div class="push-lg-2 push-md-2 col-lg-8 col-md8">
                        <h1>{% trans %} reset-password.page-title {% endtrans %}</h1>
                        <section class="panel" style="max-width: initial;">
                            <div id="form-security-password-notifications">
                                {% if app.session.flashBag.has('tokenError') %}
                                    {% set showPasswordEditionForm = false %}
                                    <div class="message-error">
                                        {% for error in app.session.flashBag.get('tokenError') %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if app.session.flashBag.has('passwordErrors') %}
                                    <div class="message-error">
                                        {% for error in app.session.flashBag.get('passwordErrors') %}
                                            <p>{{ error }}</p>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>

                            {% if form is defined and showPasswordEditionForm is defined %}
                                {{ form_start(form, {
                                    attr: {
                                        'data-formvalidation': '',
                                        'data-formvalidation-notificationselem': '#form-security-password-notifications',
                                        'class': 'form-security form-security-password-edit'
                                    }
                                }) }}
                                <div class="row row-multi-col-computer">
                                    <div class="form-field col-lg-6 col-md-6">
                                        {{ form_row(form.password.plainPassword.first, {
                                            attr: {
                                                'data-passwordcheck': '',
                                                'data-formvalidation-input': '',
                                                'data-formvalidation-required': 'true',
                                                'data-formvalidation-type': 'password'
                                            }
                                        }) }}
                                    </div>
                                    <div class="form-field col-lg-6 col-md-6">
                                        {{ form_row(form.password.plainPassword.second, {
                                            attr: {
                                                'data-passwordcheck': '',
                                                'data-formvalidation-input': '',
                                                'data-formvalidation-required': 'true',
                                                'data-formvalidation-type': 'password'
                                            }
                                        }) }}
                                    </div>
                                </div>

                                <div class="btn-controls">
                                    <button class="btn-primary" data-spinnerbutton>{% trans %} reset-password.submit-button {% endtrans %}</button>
                                </div><!-- /.btn-controls -->
                                {{ form_end(form) }}
                            {% endif %}
                        </section><!-- /#profile-security-password-edit -->
                    </div>
                </div><!-- /.page-content -->
            </div><!-- /.hero-wrap -->
        </section><!-- /.page-content -->
    </article><!-- /.page -->
{% endblock %}
