<section id="profile-security-activity-edit" role="tabpanel" class="profile-security-activity-view collapse ">

    <p>{% trans %} lender-profile_security-activity-and-devices-edit-header-message {% endtrans %}</p>
    <div class="row">
        {% if loginHistory|length > 0 %}
            {% for login in loginHistory %}
                <div class="profile-security-activity-{{ login.deviceType }}">
                    <div>{{ login.deviceModel }}{% if login.city is not null %} - {{ login.city }}, {{ login.country }}{% endif %}</div>
                    <div>
                        {{ login.browserName }} - {{ login.date }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="message-alert">
                <p>{% trans %} lender-profile_security-activity-section-no-login-device {% endtrans %}</p>
            </div>
        {% endif %}
    </div>

    <div class="btn-controls">
        <button type="reset" role="button" data-toggle="collapse" data-target="#profile-security-activity-view" data-parent="#profile-security-activity-section" class="btn-default" aria-controls="#profile-security-activity-view" aria-expanded="true">
            {% trans %} lender-profile_security-activity-section-close-button {% endtrans %}
        </button>
    </div><!-- /.btn-controls -->
</section>
