<section id="profile-contact-view" role="tabpanel" class="profile-contact-view collapse {{ contactViewCollapse }}">

    <button data-target="#profile-contact-edit" role="button" data-toggle="collapse" data-parent="#profile-contact-section" class="btn-edit">
        <span class="icon fa-pencil-u32"></span>
        <span class="label">{% trans %} lender-profile_information-tab-identity-section-modify-button {% endtrans %}</span>
    </button>

    <dl class="list-2col">
        <dt>{% trans %} common_mobile-phone {% endtrans %}</dt>
        <dd id="profile-contact-mobile-output">{{ client.mobile }}</dd>
        {% if client.telephone is not empty %}
            <dt>{% trans %} common_landline {% endtrans %}</dt>
            <dd id="profile-contact-telephone-output">{{ client.telephone }}</dd>
        {% endif %}
        <dt>{% trans %} common_email {% endtrans %}</dt>
        <dd id="profile-contact-email-output">{{ client.email }}</dd>
    </dl>
    {# @todo Ask if we keep that help hint or not #}
    {#<div class="field-help">#}
    {#<p>{% trans %} lender-profile_security-identity-section-mobile-help-message {% endtrans %}</p>#}
    {#</div>#}
</section><!-- /.profile-address-view -->

<section id="profile-contact-edit" role="tabpanel" class="profile-contact-edit collapse {{ contactFormCollapse }}">
    {{ form_start(forms.contact, {
        'id': 'form-profile-person-contact-edit',
        'attr': {
            'class': 'form-profile form-profile-contact-edit',
            'data-formvalidation data-formvalidation-notificationselem': '#form-profile-contact-notifications'
        }
    }) }}

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if forms.contact.mobile.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-contact-mobile">{% trans %} common_mobile-phone {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <div class="input-group">
                {{ form_widget(forms.contact.mobile, {
                    'id': 'form-profile-contact-mobile',
                    'attr': {
                        'class': 'input-field',
                        'data-formvalidation-input data-formvalidation-required': 'true',
                        'data-formvalidation-type': 'mobile'
                    }
                }) }}
                {{ form_errors(forms.contact.mobile) }}
            </div>
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if forms.contact.telephone.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-contact-telephone">{% trans %} common_landline {% endtrans %}</label>
            <div class="input-group">
                {{ form_widget(forms.contact.telephone, {
                    'id': 'form-profile-contact-telephone',
                    'attr': {
                        'class': 'input-field',
                        'data-formvalidation-input data-formvalidation-type': 'telephone'
                    }
                }) }}
                {{ form_errors(forms.contact.telephone) }}
            </div>
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if forms.contact.email.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-contact-identification-email">{% trans %} common_email {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <div class="input-group">
                {{ form_widget(forms.contact.email.first, {
                    'id' : 'form-profile-contact-identification-email',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
            </div>
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if forms.contact.email.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-contact-identification-email-conf">{% trans %} common_email-confirmation {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <div class="input-group">
                {{ form_widget(forms.contact.email.second, {
                    'id' : 'form-profile-contact-identification-email-conf',
                    'attr' :  {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-formvalidation-samevalueas' : '#form-profile-contact-identification-email'
                    }
                }) }}
            </div>
        </div><!-- /.form-field -->
        {{ form_errors(forms.contact.email) }}
    </div>
    <div class="btn-controls">
        <button class="btn-primary" data-spinnerbutton>{% trans %} lender-profile_phone-section-submit-button {% endtrans %}</button>
        <button type="reset" role="button" data-toggle="collapse" data-target="#profile-contact-view" data-parent="#profile-contact-section" class="btn-default">{% trans %} lender-profile_phone-section-cancel-button {% endtrans %}</button>
    </div><!-- /.btn-controls -->

    {{ form_end(forms.contact) }}
</section><!-- /.profile-contact-edit -->
