{% spaceless %}
<div class="dashboard-tabs-nav">
    <ul class="nav nav-dashboard-tabs{% if isCIPActive|default(false) %} nav-has-cip{% endif %}" data-nav-dropdown-menu="mobile">
        <li role="presentation" class="{% if app.request.attributes.get('_route') == 'lender_profile' or app.request.attributes.get('_route') == 'lender_profile_personal_information' %}active{% endif %}">
            <a href="{{ path('lender_profile_personal_information') }}" >{% trans %} lender-profile_tab-title-1 {% endtrans %}</a>
        </li>
        <li role="presentation" class="{% if app.request.attributes.get('_route') == 'lender_profile_fiscal_information' %}active{% endif %}">
            <a href="{{ path('lender_profile_fiscal_information') }}" >{% trans %} lender-profile_tab-title-2 {% endtrans %}</a>
        </li>
        <li role="presentation" class="{% if app.request.attributes.get('_route') == 'lender_profile_security' %}active{% endif %}">
            <a href="{{ path('lender_profile_security') }}" >{% trans %} lender-profile_tab-title-3 {% endtrans %}</a>
        </li>
        <li role="presentation" class="{% if app.request.attributes.get('_route') == 'lender_profile_notifications' %}active{% endif %}">
            <a href="{{ path('lender_profile_notifications') }}" >{% trans %} lender-profile_tab-title-4 {% endtrans %}</a>
        </li>
        {% if isCIPActive|default(false) %}
            <li role="presentation" class="{% if app.request.attributes.get('_route') in ['cip_index', 'cip_continue_questionnaire'] %}active{% endif %}">
                <a href="{{ path('cip_index') }}">{% trans %} lender-profile_tab-title-cip {% endtrans %}</a>
            </li>
        {% endif %}
        {% if isDataUpdate|default(false) %}
            <li role="presentation" class="{% if app.request.attributes.get('_route') in ['lender_data_update_start', 'lender_data_update_details'] %}active{% endif %}">
                <a href="{{ path('lender_data_update_start') }}">{% trans %} lender-profile_tab-title-data-update {% endtrans %}</a>
            </li>
        {% endif %}
    </ul>
</div><!-- /.dashboard-nav-content -->
{% endspaceless %}
