{% extends 'layouts/_page_with_sidebar.html.twig' %}

{% set page = {
    id: 'demo-project-details',
    classNames: ''
} %}

{% block pageHeadScripts %}
    {% include 'project/partials/comment/styles.html.twig' %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 14px;
            padding: 5px 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
            font-size: 16px;
        }

        .input-field {
            width: 80%;
            display: inline;
        }

        .form-field > label {
            display: inline;
            margin-bottom: 20px;
        }

        fieldset {
            border: 1px solid #eceaed;
        }

        dt {
            font-weight: 700;
            color: #2bc9af;
        }
    </style>
{% endblock %}

{% block pageScripts %}
    {% include 'project/partials/comment/scripts.html.twig' %}
    <script>
        $(function () {
            {% include 'project/partials/bids/actions.js.twig' %}

            let $bidForms = $('[data-my-bid]')
            if ($bidForms.length > 0) {
                $bidForms.each(function () {
                    $(this).uiInitLendingRate()
                })
            }
        })
    </script>
{% endblock %}

{% block dashboardContent %}
    <div class="dashboard-tabs-content tab-content">
        <article class="project-single dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="project-single-details">
                            <div class="pull-right">
                                {% include 'partials/market_bubble.html.twig' with {'market': project.marketSegment.label} %}
                            </div>
                            <h1 class="project-single-title">{{ project.borrowerCompany.name }}</h1>
                            <span style="font-weight: 400; margin-top: 1em; margin-bottom: 1em; font-size: xx-large; color: #787679;">{{ project.title }}</span>
                        </div><!-- /.project-single-details -->
                    </div>
                </div>
                <div class="panel-content">
                    <div class="row margin-20-t">
                        <div class="row{% if projectAttachments|length %} col-lg-9 col-md-9 col-sm-9{% endif %}">
                            <dl class="col-lg-6 col-md-6">
                                <dt>Date de dépôt</dt>
                                <dd>{{ project.added|date('d/m/Y') }}</dd>
                                {% if project.replyDeadline is not empty %}
                                    <dt>Date butoir de réponse</dt>
                                    <dd>{{ project.replyDeadline|date('d/m/Y') }}</dd>
                                {% endif %}
                                {% if project.expectedClosingDate is not empty %}
                                    <dt>Date de closing envisagée</dt>
                                    <dd>{{ project.expectedClosingDate|date('d/m/Y') }}</dd>
                                {% endif %}
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Notation</dt>
                                <dd>{% if project.internalRatingScore %}{{ project.internalRatingScore }}{% else %}N/A{% endif %}</dd>
                                <dt>Structuration</dt>
                                {% set arrangerLabel = 'project-form.arranger-label' %}
                                {% if constant('\\Unilend\\Entity\\Project::OPERATION_TYPE_SYNDICATION') == project.operationType %}
                                    {% set arrangerLabel = 'project-form.lead-manager-label' %}
                                {% endif %}
                                <dd>
                                    <div>{{ arrangerLabel|trans }} : {% if project.arranger is not empty %} {{ project.arranger.company.name }} {% else %} non défini {% endif %}</div>
                                    {% if project.deputyArranger is not empty %}
                                        <div>{% trans %} project-form.deputy-arranger-label {% endtrans %} : {{ project.deputyArranger.company.name }}</div>
                                    {% endif %}
                                    <div>{% trans %} project-form.run-label {% endtrans %} : {% if project.run is not empty %} {{ project.run.company.name }} {% else %} non défini {% endif %}</div>
                                    {% if project.loanOfficer is not empty and (project.arranger is empty or project.loanOfficer.company != project.arranger) %}
                                        <div>{% trans %} project-form.loan-officer-label {% endtrans %} : {{ project.loanOfficer.company.name }}</div>
                                    {% endif %}
                                    {% if project.securityTrustee is not empty and (project.arranger is empty or project.securityTrustee.company != project.arranger) %}
                                        <div>{% trans %} project-form.security-trustee-label {% endtrans %} : {{ project.securityTrustee.company.name }}</div>
                                    {% endif %}
                                </dd>
                            </dl>
                        </div>
                        {% if projectAttachments|length %}
                            <div class="col-lg-3 col-md-3">
                                <span class="pull-right">
                                    <a href="{{ path('documents_project', {'slug': project.slug}) }}" data-toggle="tooltip" title="Télécharger tous les documents"><span class="icon fa-file-zip-o"></span></a>
                                </span>
                                <strong style="color: #2bc9af;">Documents</strong>
                                {% for projectAttachment in projectAttachments %}
                                    <div class="row">
                                        <span class="icon fa-file-u"></span>
                                        <a href="{{ path('document_download', {'id': projectAttachment.attachment.id, 'originalName': projectAttachment.attachment.originalName}) }}">
                                            {% if projectAttachment.attachment.description is not empty %}{{ projectAttachment.attachment.description }}{% else %}{{ projectAttachment.attachment.originalName }}{% endif %}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <article class="dashboard-tab-pane">
            <div class="panel">
                {% include 'project/partials/tranche/view_tranche.html.twig' with {tranches: project.tranches, showFees: false} %}
            </div>
        </article>
        <article class="dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="section-tabs-nav">
                    <header>
                        <h3 class="h3">Mon offre</h3>
                    </header>
                </div><!-- /.section-tabs-nav -->
                <div class="section-tabs-content tab-content">
                    {% for tranche in project.tranches %}
                        {% include 'project/partials/bids/my_bid.html.twig' with {tranche: tranche, form: bidForms[tranche.id].createView()|default(null)} %}
                    {% endfor %}
                </div><!-- /.section-tabs-content -->
            </div><!-- /.panel -->
        </article>
        <article class="dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="section-tabs-nav">
                    <header>
                        <h3 class="h3">Offres de participation</h3>
                    </header>
                </div><!-- /.section-tabs-nav -->
                <div class="section-tabs-content tab-content">
                    {% for tranche in project.tranches %}
                        {% include 'project/partials/bids/bids_list.html.twig' with {displayAction: false} %}
                    {% endfor %}
                </div><!-- /.section-tabs-content -->
            </div><!-- /.panel -->
        </article><!-- /.dashboard-tab-pane -->
        <article class="dashboard-tab-pane" id="article-discussions">
            <div class="panel" style="font-size: 16px;">
                <div class="section-tabs-nav">
                    <header>
                        <h3 class="h3">Discussions</h3>
                    </header>
                </div><!-- /.section-tabs-nav -->
                <div class="section-tabs-content tab-content">
                    <div id="comments-container"></div>
                </div><!-- /.section-tabs-content -->
            </div><!-- /.panel -->
        </article><!-- /.dashboard-tab-pane -->
    </div><!-- /.dashboard-tabs-content -->
{% endblock %}
