{% extends 'layouts/_page_with_side_bar.html.twig' %}

{% set page = {
    id: 'demo-project-details',
    classNames: ''
} %}

{% block pageHeadScripts %}
    {% include 'project/partials/comment/styles.html.twig' %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 14px;
            padding: 5px 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
            font-size: 16px;
        }

        .input-field {
            width: 80%;
            display: inline;
        }

        .form-field > label {
            display: inline;
            margin-bottom: 20px;
        }

        fieldset {
            border: 1px solid #eceaed;
        }

        dt {
            font-weight: 700;
            color: #2bc9af;
        }
    </style>
{% endblock %}

{% block pageScripts %}
    {% include 'project/partials/comment/scripts.html.twig' %}
    <script>
        {% include 'project/partials/fees/fees.js.twig' %}
    </script>
{% endblock %}

{% block dashboardContent %}
    <div class="dashboard-tabs-content tab-content">
        <article class="project-single dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="project-single-details">
                            <div class="pull-right">
                                {% include 'partials/market_bubble.html.twig' with {'market': project.marketSegment.label} %}
                            </div>
                            <h1 class="project-single-title">{{ project.borrowerCompany.name }}</h1>
                            <span style="font-weight: 400; margin-top: 1em; margin-bottom: 1em; font-size: xx-large; color: #787679;">{{ project.title }}</span>
                        </div><!-- /.project-single-details -->
                    </div>
                </div>
                <div class="panel-content">
                    <div class="row margin-20-t">
                        <div class="row{% if projectAttachments|length %} col-lg-9 col-md-9 col-sm-9{% endif %}">
                            <dl class="col-lg-6 col-md-6">
                                <dt>Date de dépôt</dt>
                                <dd>{{ project.added|date('d/m/Y') }}</dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Date butoir de réponse</dt>
                                <dd>{{ project.replyDeadline|date('d/m/Y') }}</dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Date de closing envisagée</dt>
                                <dd>{{ project.expectedClosingDate|date('d/m/Y') }}</dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Structuration</dt>
                                {% set arrangerLabel = 'project-form.arranger-label' %}
                                {% if constant('\\Unilend\\Entity\\Project::OPERATION_TYPE_SYNDICATION') == project.operationType %}
                                    {% set arrangerLabel = 'project-form.lead-manager-label' %}
                                {% endif %}
                                <dd>
                                    <div>{{ arrangerLabel|trans }} : {% if project.arranger is defined %} {{ project.arranger.company.name }} {% else %} non défini {% endif %}</div>
                                    <div>{% trans %} project-form.run-label {% endtrans %} : {% if project.run is defined %} {{ project.run.company.name }} {% else %} non défini {% endif %}</div>
                                </dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Notation</dt>
                                <dd>{% if project.internalRatingScore %}{{ project.internalRatingScore }}{% else %}N/A{% endif %}</dd>
                            </dl>
                        </div>
                        {% if projectAttachments|length %}
                            <div class="col-lg-3 col-md-3">
                                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" title="Tout télécharger"><span class="icon fa-file-zip-o"></span></a>
                                </span>
                                <strong style="color: #2bc9af;">Documents</strong>
                                {% for projectAttachment in projectAttachments %}
                                    <div class="row">
                                        <span class="icon fa-file-u"></span>
                                        <a href="{{ path('document_download', {'id': projectAttachment.attachment.id, 'originalName': projectAttachment.attachment.originalName}) }}">
                                            {{ projectAttachment.attachment.description }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <article class="dashboard-tab-pane">
            <div class="panel">
                {% for tranche in project.tranches %}
                <div class="panel-header">
                    <div class="row">
                        <h4 class="h4 margin-20-t">{{ tranche.name }}</h4>
                    </div>
                </div>
                <div class="panel-content">
                    <div class="row margin-20-t">
                        <dl class="col-lg-4 col-md-4">
                            <dt>{% trans %} money-form.amount {% endtrans %}</dt>
                            <dd>{{ tranche.money.amount|localizedcurrency(tranche.money.currency, null, false) }}</dd>
                        </dl>
                        <dl class="col-lg-8 col-md-8">
                            <dt>{% trans %} tranche-form.maturity {% endtrans %}</dt>
                            <dd>{{ tranche.duration|localizednumber }} mois</dd>
                        </dl>
                        <dl class="col-lg-4 col-md-4">
                            <dt>{% trans %} tranche-form.repayment-type {% endtrans %}</dt>
                            <dd>{{ ('repayment-type.repayment_type_' ~ tranche.repaymentType)|trans }}</dd>
                        </dl>
                        <dl class="col-lg-4 col-md-4">
                            <dt>{% trans %} tranche-form.capital-periodicity {% endtrans %}</dt>
                            <dd>{{ tranche.capitalPeriodicity }} mois</dd>
                        </dl>
                        <dl class="col-lg-4 col-md-4">
                            <dt>{% trans %} tranche-form.interest-periodicity {% endtrans %}</dt>
                            <dd>{{ tranche.interestPeriodicity }} mois</dd>
                        </dl>
                        <dl class="col-lg-4 col-md-4">
                            <dt>{% trans %} lending-form.index-type {% endtrans %}</dt>
                            <dd>{{ tranche.rate.indexType }}</dd>
                        </dl>
                        <dl class="col-lg-8 col-md-8">
                            <dt>{% trans %} lending-form.margin {% endtrans %}</dt>
                            <dd>{{ tranche.rate.margin|localizednumberwithprecision(2) }}</dd>
                        </dl>
                        <dl class="col-lg-4 col-md-4">
                            <dt>{% trans %} tranche-form.expected-releasing-date {% endtrans %}</dt>
                            <dd>{{ tranche.expectedReleasingDate|localizeddate('short', 'none') }}</dd>
                        </dl>
                        <dl class="col-lg-4 col-md-4">
                            <dt>{% trans %} tranche-form.expected-starting-date {% endtrans %}</dt>
                            <dd>{{ tranche.expectedStartingDate|localizeddate('short', 'none') }}</dd>
                        </dl>
                    </div>
                </div>
                {% endfor %}
            </div>
        </article>
        <article class="dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="section-tabs-nav">
                    <header>
                        <h3 class="h3">Mon offre</h3>
                    </header>
                </div><!-- /.section-tabs-nav -->
                <div class="section-tabs-content tab-content">
                    {% for tranche in project.tranches %}
                        {% include 'project/partials/bids/my_bid.html.twig' with {tranche: tranche, wallet: wallet, form: bidForms[tranche.id].createView()|default(null)} %}
                    {% endfor %}
                </div><!-- /.section-tabs-content -->
            </div><!-- /.panel -->
        </article>
        <article class="dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="section-tabs-nav">
                    <header>
                        <h3 class="h3">Offres de participation</h3>
                    </header>
                </div><!-- /.section-tabs-nav -->
                <div class="section-tabs-content tab-content">
                    {% for tranche in project.tranches %}
                        {% include 'project/partials/bids/bids_list.html.twig' with {displayAction: false} %}
                    {% endfor %}
                </div><!-- /.section-tabs-content -->
            </div><!-- /.panel -->
        </article><!-- /.dashboard-tab-pane -->
        <article class="dashboard-tab-pane" id="article-discussions">
            <div class="panel" style="font-size: 16px;">
                <div class="section-tabs-nav">
                    <header>
                        <h3 class="h3">Discussions</h3>
                    </header>
                </div><!-- /.section-tabs-nav -->
                <div class="section-tabs-content tab-content">
                    <div id="comments-container"></div>
                </div><!-- /.section-tabs-content -->
            </div><!-- /.panel -->
        </article><!-- /.dashboard-tab-pane -->
    </div><!-- /.dashboard-tabs-content -->
{% endblock %}
