<h4 class="margin-20-t">{{ tranche.name }}</h4>
{% set bid = tranche.bids([constant('Unilend\\Entity\\Bids::STATUS_PENDING'), constant('Unilend\\Entity\\Bids::STATUS_ACCEPTED')], app.user.company).first %}
{% if bid is not empty and bid.idBid %}
    <form action="#">
        <table class="table table-projects table-finance">
            <thead>
            <tr class="my-offers-bid-row">
                <th>Statut</th>
                <th>Montant</th>
                <th>Taux de référence</th>
                <th>Marge</th>
                <th>Flooré à</th>
                {#<th>Commission ponctuelle</th>
                <th>Commission récurrente</th>#}
                {% if bid.status == constant('Unilend\\Entity\\Bids::STATUS_PENDING') %}
                    <th style="width: 60px;">&nbsp;</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{% if bid.status == 0 %} En cours {% elseif bid.status == 1 %} Accepté {% else %} Refusé {% endif %}</td>
                <td>{{ bid.money.amount|localizedcurrency(bid.money.currency, null, false) }}</td>
                <td>{{ ('interest-rate-index.index_' ~ bid.rate.indexType|lower)|trans }}</td>
                <td>{{ bid.rate.margin|localizednumberwithprecision(2) }}&nbsp;%</td>
                <td>{% if bid.rate.floor is same as(null) %}non défini{% else %}{{ bid.rate.floor|localizednumberwithprecision(2)|default('non défini') }}&nbsp;%{% endif %}</td>
                {#<td>{{ bid.oneTimeFeeTotalRate|localizednumberwithprecision(2) }}&nbsp;%</td>
                <td data-toggle="tooltip" title="{% if bid.recurringFeeTotalRate > 0 %}soit {{ (bid.recurringFeeTotalRate * (bid.amount / 100) / 100)|localizednumber }}&nbsp;€{% endif %}">
                    {{ bid.recurringFeeTotalRate|localizednumberwithprecision(2) }}&nbsp;%
                </td>#}
                {% if bid.status == constant('Unilend\\Entity\\Bids::STATUS_PENDING') %}
                    <td>
                        <button type="button" class="btn-default btn-shape-xxs"
                                data-toggle="tooltip" title="Annuler l‘offre"
                                data-action="refuse-bid" data-bid-id="{{ bid.idBid }}"
                                data-spinnerbutton>
                            <span class="icon fa-delete-u16"></span>
                        </button>
                    </td>
                {% endif %}
            </tr>
            </tbody>
        </table><!-- /.table-myoffers -->
    </form>
{% elseif project.isOnline and form is not empty %}
    {{ form_start(form) }}
    <fieldset class="simulator-pane-inner" style="margin-top: 20px;">
        <div class="row row-multi-col-computer" data-my-bid>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {{ form_row(form.money.amount, {
                    label_help: '(' ~ tranche.money.currency ~ ')',
                    attr: {'data-fee-reference-amount': ''}})
                }}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {% if tranche.rate.indexType %}
                    <div class="form-field">
                        <label>{% trans %} lending-form.index-type {% endtrans %}</label>
                        <div>{{ ('interest-rate-index.index_' ~ tranche.rate.indexType|lower)|trans }}</div>
                    </div>
                {% else %}
                    {{ form_row(form.rate.indexType, {attr: {class: 'tranche-rate-index'}}) }}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                {% if tranche.rate.margin %}
                    {{ form_row(form.rate.margin, {label_help: 'lending-form.margin-unit', value: tranche.rate.margin, attr: {readonly: ''}}) }}
                {% else %}
                    {{ form_row(form.rate.margin, {label_help: 'lending-form.margin-unit'}) }}
                {% endif %}
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 {% if constant('Unilend\\Entity\\Embeddable\\LendingRate::INDEX_FIXED') == tranche.rate.indexType %} hide {% endif %}">
                {% if tranche.rate.floor %}
                    {{ form_row(form.rate.floor, {label_help: 'lending-form.floor-unit', value: tranche.rate.floor, attr: {class: 'tranche-rate-floor', readonly: ''}}) }}
                {% else %}
                    {{ form_row(form.rate.floor, {label_help: 'lending-form.floor-unit', attr: {class: 'tranche-rate-floor'}}) }}
                {% endif %}
            </div>
        </div>
    </fieldset>
    {#<fieldset class="simulator-pane-inner" style="margin-top: 20px;">
        <legend>Frais / Commission</legend>
        {% set feesTemplate = include('project/partials/fees/new_bid_fees.html.twig') %}
        <div class="row fees" data-prototype="{{ feesTemplate|e('html_attr') }}"></div>
    </fieldset>#}
    <footer class="simulator-pane-inner actions bg-p1 c-bg5 text-align-right">
        <button type="submit" class="btn-continue btn-alternate" data-spinnerbutton>
            Valider
        </button>
    </footer>
    {{ form_end(form) }}
{% else %}
    Vous ne pouvez plus proposer d‘offre.
{% endif %}
