{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function() {
            App.initHelpers(['validation', 'datepicker', 'datatables']);
            $('#beneficial-owners table').DT({
                modal: function($modal) {
                    if ($modal.find('[name=action]').val() === 'create') {
                        $modal.find('[name=status], [name=validation_type]').attr('type', 'hidden').siblings().hide()
                        $modal.find('[name=birthdate]').datepicker('remove').datepicker({
                            startView: 'decade',
                            autoclose: true
                        })
                        $modal.find('.block-content').prepend('<div class="form-group">' +
                                '<label>Client ID</label><small class="text-muted"> <em class="push-5-l">Commencez par rechercher le client dans la base existante.</em></small>' +
                                '<input type="text" class="form-control" id="search-client-autocomplete">' +
                                '</div><hr>')
                        var $autocomplete = $modal.find('#search-client-autocomplete')
                        $autocomplete.autoComplete({
                            minChars: 2,
                            cache: 0,
                            delay: 500,
                            source: function (term, suggest) {
                                // $.getJSON('/ajax/quick_search/', {q: term}, function (response) {
                                // suggest(response)
                                // })
                                term = term.toLowerCase();
                                var choices = [{firstName: 'Client 1', lastName: 'Name', id: 323123}, {firstName: 'Client 2', lastName: 'Name', id: 1212323}, {firstName: 'Client 3', lastName: 'Name', id: 13232}]
                                var matches = [];
                                for (var i in choices) {
                                    if (~choices[i].id.toString().indexOf(term) || ~choices[i].firstName.toLowerCase().indexOf(term) || ~choices[i].lastName.toLowerCase().indexOf(term))
                                        matches.push(choices[i])
                                }
                                suggest(matches);
                            },
                            renderItem: function (item, search, section) {
                                var html = '<div class="autocomplete-suggestion" data-id="' + item.id + '" data-first-name="' + item.firstName + '" data-last-name="' + item.lastName + '">' +
                                        '<p>' + item.firstName + ' ' + item.lastName + ' <span class="id">' + item.id + ' </span></p>' +
                                        '</div>'
                                return html
                            },
                            onSelect: function(e, term, item){
                                $modal.find('[name=last_name]').val(item.data('last-name'))
                                $modal.find('[name=first_name]').val(item.data('first-name'))
                                $modal.find('[name=id]').val(item.data('id'))
                                $modal.find('.autocomplete-suggestions').hide()
                                $autocomplete.val(item.data('id'))
                            },
                        })
                    }
                }
            })
        })
    </script>
{% endblock %}

{% block modals %}
{% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        Bénéficiaires Effectifs
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div id="beneficial-owners" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Liste des bénéficiaires effectifs</h3>
            </div>
            <div class="block-content block-content-full">
                {% if formErrors.default is defined and formErrors.default is not empty %}
                    <div class="alert">
                        {% for error in formErrors.default %}
                            {% if error is iterable %}
                                <ul class="hide">
                                    {% for technicalError in error %}
                                        <li>{{ technicalError }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{{ error }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if formSuccess.default is defined and formSuccess.default is not empty %}
                    <div class="alert alert-success">
                        <p>{{ formSuccess.default }}</p>
                    </div>
                {% endif %}

                <table class="table table-striped table-hover table-bordered table-header-bg" data-table-editor data-table-editor-url="/beneficial_owners/edit/" data-table-editor-actions="add, modify, toggle" data-table-editor-hidden="id_declaration:17283, id_company:84137">
                    <thead>
                        <tr>
                            <th data-editor-name="last_name" data-editor-type="text">Nom</th>
                            <th data-editor-name="first_name" data-editor-type="text">Prénom</th>
                            <th data-editor-name="percentage" data-editor-type="numerical">% détenu</th>
                            <th data-editor-name="birthdate" data-editor-type="date">Date de naissance</th>
                            <th data-editor-name="birthplace" data-editor-type="text">Ville de naissance</th>
                            <th data-editor-name="birth_country"  data-editor-type="select" data-editor-options="{% for country, id in countries %}{{ country|trim }}:{{ id|trim }}{% if loop.index < countries|length %}, {% endif %}{% endfor %}">Pays de naissance</th>
                            <th data-editor-name="country" data-editor-type="select" data-editor-options="{% for country, id in countries %}{{ country|trim }}:{{ id|trim }}{% if loop.index < countries|length %}, {% endif %}{% endfor %}">Pays de résidence</th>
                            <th data-editor-name="id_card_passport" data-editor-type="file">Pièce d'identité</th>
                            <th data-editor-name="type" data-editor-type="select" data-editor-options="{% for type, id in types %}{{ type|trim }}:{{ id|trim }}{% if loop.index < types|length %}, {% endif %}{% endfor %}" data-editor-optional>Type de bénéficiaire</th>
                            <th data-editor-name="status" data-editor-type="text">Statut</th>
                            <th data-editor-name="validation_type" data-editor-type="text">Méthode de validation</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for owner in beneficial_owners %}
                        <tr data-id="{{ owner.id }}" data-state="{{ owner.status }}">
                            <td>{{ owner.last_name }}</td>
                            <td>{{ owner.first_name }}</td>
                            <td>{{ owner.percentage|localizednumber }}</td>
                            <td>{{ owner.birthdate }}</td>
                            <td>{{ owner.birthplace }}</td>
                            <td>{{ owner.birth_country }}</td>
                            <td>{{ owner.country }}</td>
                            <td>{{ owner.id_card_passport }}</td>
                            <td>{{ owner.type }}</td>
                            <td>{{ owner.status }}</td>
                            <td>{{ owner.validation_type }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <div id="declarations" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Déclarations</h3>
            </div>
            <div class="block-content block-content-full">
                <a id="declaration-preview-btn" class="btn btn-primary">Voir la déclaration actuelle</a>
                <hr>
                <label class="push-10">Déclarations précédentes</label>
                {% if formErrors.declarations is defined and formErrors.declarations is not empty %}
                    <div class="alert">
                        {% for error in formErrors.declarations %}
                            {% if error is iterable %}
                                <ul class="hide">
                                    {% for technicalError in error %}
                                        <li>{{ technicalError }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{{ error }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if formSuccess.declarations is defined and formSuccess.declarations is not empty %}
                    <div class="alert alert-success">
                        <p>{{ formSuccess.declarations }}</p>
                    </div>
                {% endif %}

                <table class="table table-hover table-bordered table-header-bg">
                    <thead>
                    <tr>
                        <th style="width: 120px">Date d'ajout</th>
                        <th style="width: 120px">ID déclaration</th>
                        <th>Fichier</th>
                        <th style="width: 120px">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>24/07/2017</td>
                            <td>21382931</td>
                            <td><a href="/path/to/declaration/">Declaration.pdf</a></td>
                            <td class="text-center"><a href="/path/to/declaration/" class="btn btn-default btn-xs" data-toggle="tooltip" title="Télécharger la déclaration"><span class="fa fa-download"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
