{% extends "form_div_layout.html.twig" %}

{%- block form_widget_compound -%}
    {%- if form.parent is empty -%}
        {{ form_errors(form) }}
    {%- endif -%}
    {{- block('form_rows') -}}
    {{- form_rest(form) -}}
{%- endblock form_widget_compound -%}

{%- block form_widget_simple -%}
    {%- set type = type|default('text') -%}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{%- endblock form_widget_simple -%}

{%- block form_row -%}
    <div class="form-field{% if errors|length > 0 %} ui-formvalidation-error{% endif %}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row -%}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <ul class="ui-formvalidation-messages">
            {%- for error in errors -%}
                <li>{{ error.message }}</li>
            {%- endfor -%}
        </ul>
    {%- endif -%}
{%- endblock form_errors -%}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block textarea_widget -%}
    <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>
{%- endblock textarea_widget -%}

{%- block form_label -%}
    {% if label is not same as(false) -%}
        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
        {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% if label_help is defined %}
            <small>{{ translation_domain is same as(false) ? label_help : label_help|trans({}, translation_domain) }}</small>
        {%- endif -%}
        {% if required -%}
            <span class="field-required">*</span>
        {%- endif -%}
        </label>
    {%- endif -%}
{%- endblock form_label -%}

{%- block widget_attributes -%}
    {% set attr = attr|merge({'class': (attr.class|default('') ~ ' input-field')|trim}) %}
    {{ parent() }}
{%- endblock widget_attributes -%}

{% block autocomplete_widget %}
    {% apply spaceless %}
        {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
            {% set required = false %}
        {%- endif -%}
        <select {{ block('widget_attributes') }} data-placeholder="{{ form.vars.label|trans }}" data-autocomplete-url="{{ form.vars.url }}">
            {%- if placeholder is not none -%}
                <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
            {%- endif -%}
        </select>
    {% endapply %}
{% endblock autocomplete_widget %}


{% block file_row %}
    <div class="custom-input-file ui-fileattach ui-fileattach-single"
         data-fileattach
         data-fileattach-inputname="{{ form.vars.full_name }}"
         data-fileattach-maxfiles="1"
         data-fileattach-filetypes="pdf jpg jpeg png doc docx xls xlsx"
    >
    </div>
{% endblock file_row %}

{% block date_widget %}
    {%- if widget == 'single_text' -%}
        <div class="input-group set-right">
            <input type="text" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %} autocomplete="off"/>
            <div class="btn-group">
                <label><span class="icon fa-calendar-u32 c-p1"></span></label>
            </div><!-- /.btn-group -->
        </div><!-- /.input-group -->
    {%- else -%}
        {{ parent() }}
    {%- endif -%}
{% endblock date_widget %}
