<footer>
    {% if displayDisclaimer is defined and displayDisclaimer %}
        <div class="disclaimer">
            <div class="site-wrap">
                {% trans %} footer_disclaimer {% endtrans %}
            </div>
        </div>
    {% endif %}
    <div class="site-footer">
        <div class="site-wrap">
            <div class="row">
                <div class="col-sub-left col-lg-6 col-md-6">
                    {% block siteFooterSubLeft %} &nbsp; {% endblock %}
                </div>
                <div class="col-sub-right col-lg-6 col-md-6">
                    {% block siteFooterSubRight %}
{#                        <div class="site-admin-nav">#}
{#                            <a href="{{ path('mentions-legales') }}">{% trans %} footer_small-mandatory-menu-legal-notice {% endtrans %}</a> |#}
{#                            <a href="{{ path('conditions-generales-dutilisation') }}">{% trans %} footer_small-mandatory-menu-terms {% endtrans %}</a> |#}
{#                            <a href="{{ path('search_result', {'query' : 'conditions+generales+de+vente'}) }}">{% trans %} footer_small-mandatory-menu-selling-terms {% endtrans %}</a> |#}
{#                            <a href="{{ path('securite') }}">{% trans %} footer_small-mandatory-menu-security {% endtrans %}</a> |#}
{#                            <a href="{{ path('sitemap') }}">{% trans %} footer_small-mandatory-menu-sitemap {% endtrans %}</a>#}
{#                        </div>#}
                        <p class="site-copyright">{% trans %} footer_copyright-all-rights {% endtrans %}</p>
                    {% endblock %}
                </div>
            </div>
        </div><!-- /.site-wrap -->
    </div><!-- /.site-footer -->
</footer>

{% block siteMobileMenu %}
    {% include 'partials/mobile_menu.html.twig' %}
{% endblock %}

{% block siteWarnings %}
    <!-- Site Warning: No JS enabled -->
    <noscript>
        <div class="site-warning">
            <div class="site-wrap">
                <h1>{% trans %} site-general_warning-no-javascript-title {% endtrans %}</h1>
                <p>{% trans %} site-general_warning-no-javascript-text {% endtrans %}</p>
                <div class="btn-toolbar">
                    <a href="{{ path('home') }}" class="btn-default">{% trans %} site-general_reload-website {% endtrans %}</a>
                </div>
            </div>
        </div>
    </noscript>

    <!-- Site Warning: Unsupported IE -->
    <!--[if lt IE 9]>
    <div class="site-warning">
        <div class="site-wrap">
            <h1>{% trans %} site-general_warning-unsupported-browser-title {% endtrans %}</h1>
            <p>{% trans %} site-general_warning-unsupported-browser-text {% endtrans %}</p>
            <div class="btn-toolbar">
                <a href="{{ path('home') }}" class="btn-default">{% trans %} site-general_warning-unsupported-browser-confirmation {% endtrans %}</a>
                <a href="http://www.browsehappy.com/" target="_blank" class="btn-default">{% trans %} site-general_warning-unsupported-browser-new-browser {% endtrans %}</a>
            </div>
        </div>
    </div>
    <![endif]-->
{% endblock %}
