<header class="site-header site-header-dashboard">
    <div class="site-band"></div>

    <div class="site-header-inner">
        <div class="site-wrap">
            <h1 class="site-title">
                <a href="{{ path('home') }}" class="site-logo" tabindex="2">{{ site.title|default('Crédit Agricole Lending Services') }}</a>
                <a href="javascript:;" data-modal-toggle="#beta-disclaimer-modal" style="display: inline-block; height: 18px; width: 30px; font-size: 12px; font-weight: 700; line-height: 18px; color: white; text-decoration: none; text-align: center; background-color: #1b88db; border-radius: 12px; padding: 2px 12px;">BETA</a>
            </h1>

            <div class="site-controls">
                {% block siteHeaderControls %}
                    {#{% include 'partials/site_search.html.twig' %}#}

                    <div class="site-user">
                        <div class="site-user-profile">
                            <div class="profile-avatar">
                                <a href="{{ path('profile') }}">{{ app.user.initials }}</a>
                            </div><!-- /.profile-avatar -->

                            <a href="javascript:;" class="profile-notifications" data-usernotificationsdrop>
                                <span data-usernotifications-unreadcount></span>
                            </a><!-- /.profile-notifications -->

                            <div class="profile-name">Bonjour {{ app.user.firstName }}</div>

                            <div class="profile-balance">
                                {{ app.user.company.name }}
                            </div><!-- /.profile-balance -->
                            {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                                <a href="{{ path('wallet', {'_switch_user': '_exit'}) }}" class="profile-logout link" style="max-width: auto;">{% trans %} user-header.exit-impersonation {% endtrans %}</a>
                            {% else %}
                                <a href="{{ path('logout') }}" class="profile-logout link"><span class="label">{% trans %} user-header.logout {% endtrans %}</span></a>
                            {% endif %}

                            <a href="{{ path('wallet') }}" class="site-user-mobile-menu-toggle">
                                <span class="icon fa-ellipsis-v"></span>
                                <span class="sr-only">Menu</span>
                            </a>
                        </div><!-- /.site-user-profile -->
                    </div><!-- /.site-user -->
                {% endblock %}
            </div><!-- /.site-controls -->
        </div><!-- /.site-wrap -->
    </div><!-- /.site-header-inner -->
</header>
