<section id="project-single-alloffers" class="page-section">
    <div class="tabs">
        <div class="section-tabs-nav">
            <header>
                <h3 id="project-alloffers" class="h3">{% trans %} project-detail_all-bids-table-title {% endtrans %}</h3>
            </header>

            <ul class="nav nav-tabs">
                <li id="project-alloffers-table" role="presentation" class="active">
                    <a href="#alloffers-table" role="tab" data-toggle="tab">{% trans %} project-detail_all-bids-table-table-view-button {% endtrans %}</a></li>
                <li id="project-alloffers-graph" role="presentation">
                    <a href="#alloffers-graph" role="tab" data-toggle="tab">{% trans %} project-detail_all-bids-table-charts-view-button {% endtrans %}</a>
                </li>
            </ul>
        </div>
        <div class="section-tabs-content tab-content">
            {% set alloffersOverview = placeholderData.alloffersOverview %}

            <div id="alloffers-table" role="tabpanel" class="tab-pane active" aria-labelledby="project-alloffers-table project-alloffers">
                <div class="table-scroll">
                    <table class="table table-alloffersoverview" data-sortable>
                        <thead class="table-sortable-columns">
                        <tr>
                            <th class="table-sortable-column table-alloffersoverview-item-interest" data-sortable-by="id">
                                <span class="label"><span class="sr-only">Sort by column </span>Taux</span>
                            </th>
                            <th class="table-sortable-column table-alloffersoverview-item-amount" data-sortable-by="amount">
                                <span class="label"><span class="sr-only">Sort by column </span>Montant total</span>
                            </th>
                            <th class="table-sortable-column table-alloffersoverview-item-offers" data-sortable-by="offers">
                                <span class="label"><span class="sr-only">Sort by column </span>Nb offres</span>
                            </th>
                            <th class="table-sortable-column table-alloffersoverview-item-accepted" data-sortable-by="accepted">
                                <span class="label"><span class="sr-only">Sort by column </span>Offres en cours</span>
                            </th>
                        </tr>
                        </thead>

{# Placeholder data #}
{% set placeholderData = {
bids: [{
    rate:4,
    amount: 40,
    current: true
},{
    rate:4,
    amount: 40,
    current: true
},{
    rate:4,
    amount: 40,
    current: true
},{
    rate:4,
    amount: 40,
    current: true
}]
} %}

{% set bids = placeholderData.bids %}

                        <tbody data-sortable-content>
                        {% for i, item in bids %}
                            {% set classRow = '' %}
                            {% set titleRow = '' %}
                            {% if i >= 5 and i <= 8 %}
                                {% set classRow = 'table-alloffersoverview-item-recommended' %}
                            {% elseif i == 9 %}
                                {% set classRow = 'table-alloffersoverview-item-best ui-has-tooltip' %}
                                {% set titleRow = 'Meilleur taux de prêt accepté par Unilend' %}
                            {% elseif i == 10 %}
                                {% set classRow = 'table-alloffersoverview-item-max' %}
                            {% endif %}

                            {% set classCurrentUserInvolved = '' %}
                            {% if lenderOnProject.offers.offerIds is defined and item[0] in lenderOnProject.offers.offerIds %}
                                {% set classCurrentUserInvolved = 'ui-current-user-involved' %}
                            {% endif %}
                            <tr data-sortable-id="" data-sortable-amount="" data-sortable-offers="" data-sortable-accepted="" class="{{ classCurrentUserInvolved }} {{ classRow }}" title="{{ titleRow }}">
                                <td class="table-alloffersoverview-item-interest">{{ item.rate }}</td>
                                <td class="table-alloffersoverview-item-amount">{{ item.amount |nbsp }}</td>
                                <td class="table-alloffersoverview-item-offers">{{ item.rate }}</td>
                                <td class="table-alloffersoverview-item-accepted">
                                    {% if item.rate > 0 %}
                                        <span class="table-alloffersoverview-item-myoffers">
                                        <span class="icon fa-check-u32"></span> {{ item.rate }} offres
                                      </span>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table><!-- /.table-alloffersoverview -->
                </div><!-- /.table-scroll -->
            </div><!-- /.tab-pane -->

            <div id="alloffers-graph" role="tabpanel" class="tab-pane">
                TODO charts
                {#<div class="chart" data-chartview='{{ charts.projectOffers|json_encode|escape('html_attr') }}'></div>#}
            </div>
        </div><!-- /.section-tabs-content -->
    </div><!-- /tabs -->
</section><!-- /.page-section -->
