<section id="project-single-alloffers" class="page-section">
    <div class="tabs">
        <div class="section-tabs-nav">
            <header>
                <h3 id="project-alloffers" class="h3">{% trans %} project-detail_all-bids-table-title {% endtrans %}</h3>
            </header>

            <ul class="nav nav-tabs">
                <li id="project-alloffers-table" role="presentation" class="active">
                    <a href="#alloffers-table" role="tab" data-toggle="tab">{% trans %} project-detail_all-bids-table-table-view-button {% endtrans %}</a></li>
                <li id="project-alloffers-graph" role="presentation">
                    <a href="#alloffers-graph" role="tab" data-toggle="tab">{% trans %} project-detail_all-bids-table-charts-view-button {% endtrans %}</a>
                </li>
            </ul>
        </div>
        <div class="section-tabs-content tab-content">
            {% set alloffersOverview = placeholderData.alloffersOverview %}

            <div id="alloffers-table" role="tabpanel" class="tab-pane active" aria-labelledby="project-alloffers-table project-alloffers">
                <div class="table-scroll">
                    <table class="table table-alloffersoverview" data-current-project="{{ project.id_project }}">
                        <thead>
                        <tr>
                            <th class="table-alloffersoverview-item-interest">
                                <span class="label">Taux</span>
                            </th>
                            <th class="table-alloffersoverview-item-amount" style="text-align:left">
                                <span class="label">Montant total</span>
                            </th>
                            <th class="table-alloffersoverview-item-offers" style="text-align:left">
                                <span class="label">Nb offres</span>
                            </th>
                            <th class="table-alloffersoverview-item-accepted">
                                <span class="label">% Offres en cours</span>
                            </th>
                        </tr>
                        </thead>

{# Placeholder data #}
{% set placeholderData = {
bids: [{
    rate:5.0,
    amount:158,
    number: 404,
    accepted: 0,
    ratio:0
},{
    rate:4.9,
    amount:123,
    number: 98,
    accepted: 0,
    ratio:0
},{
    rate:4.8,
    amount:1400,
    number: 456,
    accepted: 0,
    ratio:0
},{
    rate:4.7,
    amount:752,
    number: 154,
    accepted: 0,
    ratio:80
},{
    rate:4.6,
    amount:360,
    number: 12,
    accepted: 0,
    ratio:85
},{
    rate:5.1,
    amount:123,
    number: 123,
    accepted: 0,
    ratio:100
},{
    rate:4.5,
    amount:1250,
    number: 75,
    accepted: 0,
    ratio:100
},{
    rate:4.4,
    amount:1584,
    number: 452,
    accepted: 12,
    ratio:100
},{
    rate:4.3,
    amount:3215,
    number: 212,
    accepted: 8,
    ratio:100
},{
    rate:4.2,
    amount:9856,
    number: 158,
    accepted: 7,
    ratio:100
},{
    rate:4.1,
    amount:1584,
    number: 98,
    accepted: 4,
    ratio:100
},{
    rate:4.0,
    amount:528,
    number: 58,
    accepted: 12,
    ratio: 100
}]
} %}

{% set bids = placeholderData.bids %}

                        <tbody>
                        <tr class="rejected-offers">
                            <td colspan="4">Voir les offres rejetées</td>
                        </tr>
                        {% for i, item in bids %}
                            <tr id="row-{{ i }}" class="bids-row {% if item.ratio == 0 %} rejected-row {% endif %}" data-bid-rate="{{ item.rate|number_format(1) }}">
                                <td>
                                    <span class="bid-rate-cta">{{ item.rate|number_format(1) }}</span>
                                    <span class="icon-cta icon fa-caret-r-u32"></span>
                                    <span class="icon-cta icon fa-caret-d-u32"></span>
                                </td>
                                <td>{{ item.amount }}</td>
                                <td>{{ item.number }}</td>
                                <td>
                                    <span class="c-p1 {% if item.ratio == 0 %} all-rejected {% endif %}">
                                        <span class="icon icon-rejected fa-refused-u32"></span>
                                        <span class="icon icon-accepted fa-check-u32"></span>
                                        <span>{{ item.ratio }}&nbsp;%</span>
                                    </span>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table><!-- /.table-alloffersoverview -->
                </div><!-- /.table-scroll -->
            </div><!-- /.tab-pane -->

            <div id="alloffers-graph" role="tabpanel" class="tab-pane">
                TODO charts
                {#<div class="chart" data-chartview='{{ charts.projectOffers|json_encode|escape('html_attr') }}'></div>#}
            </div>
        </div><!-- /.section-tabs-content -->
    </div><!-- /tabs -->
</section><!-- /.page-section -->
