<tr class="detail-table-content">
    <td colspan="4" style="padding:0">
        <table class="table ui-sortable" data-sortable style="padding:0;border:none;">
            <thead style="padding:0;border:none;">
                <tr class="bids-detail-by-rate-header">
                    <th class="table-sortable-column center" data-sortable-by="detail-id">
                        <span class="label">N°</span>
                    </th>
                    <th class="center">
                        <span class="label">Taux d'intérêt</span>
                    </th>
                    <th class="table-sortable-column center" data-sortable-by="detail-amount">
                        <span class="label">Montant</span>
                    </th>
                    <th class="table-sortable-column center" data-sortable-by="detail-status">
                        <span class="label">Statut</span>
                    </th>
                </tr>
            </thead>
            <tbody data-sortable-content>
            {% for bid in bids %}
                <tr class="bids-detail-by-rate{% if bid.userInvolved == 1 %} ui-current-user-involved{% endif %}"
                    data-sortable-detail-id="{{ bid.id }}" data-sortable-detail-amount="{{ bid.amount }}" data-sortable-detail-status="{{ bid.status }}">
                    <td class="center">{{ bid.id }}</td>
                    <td class="center">{{ bid.rate | __num(1) | nbsp | raw }}&nbsp;%</td>
                    <td class="center">{{ bid.amount | __num(2) | nbsp | raw }}&nbsp;€</td>
                    <td>
                        {% if bid.status == 1 %}
                            <span class="c-success">
                                <span class="icon fa-check-u32"></span>
                                En cours
                            </span>
                        {% else %}
                            <span class="c-error">
                                <span class="icon fa-close-u32"></span>
                                Non retenue
                            </span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </td>
</tr>
