<fieldset class="panel">
    <div id="form-preter-2-notifications" class="ui-formvalidation-notifications">
        {{ form_errors(form) }}
    </div>
    <h3 class="h3">{% trans %} lender-subscription_documents-title {% endtrans %}</h3>

    <div class="row">
        <div class="form-field form-field-iban">
            <div class="message-info">
                <p>{% trans %} lender-subscription_documents-bank-information-explanation {% endtrans %}</p>
            </div><!-- /.message-info -->

            <label for="form-lender-step-2-bic" class="form-field-label">
                {% trans %} lender-subscription_documents-bic-field-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>

            <div class="input-group">
                <div class="custom-input-bic {% if form_errors(form.bankAccount.bic)|trim|length > 0 %}ui-formvalidation-error{% endif %}">
                    {{ form_widget(form.bankAccount.bic, {
                        'id' : 'form-lender-step-2-bic',
                        'attr' : {
                            'class' : 'bic-input input-field',
                            'data-formvalidation-input data-formvalidation-type' : 'bic'
                        }
                    }) }}
                    {{ form_errors(form.bankAccount.bic) }}
                </div>
            </div><!-- /.input-group -->
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field">
            <label for="form-lender-step-2-iban" class="form-field-label">
                {% trans %} lender-subscription_documents-iban-field-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>

            <div class="input-group">
                <div class="custom-input-iban {% if form_errors(form.bankAccount.iban)|trim|length > 0 %}ui-formvalidation-error{% endif %}">
                    {{ form_widget(form.bankAccount.iban, {
                        'id' : 'form-lender-step-2-iban',
                        'attr' : {
                            'class' : 'iban-input input-field',
                            'data-formvalidation-input data-formvalidation-type' : 'iban'
                        }
                    }) }}
                    {{ form_errors(form.bankAccount.iban) }}
                </div>
            </div><!-- /.input-group -->

            <ul class="ui-formvalidation-messages"></ul>
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field {% if form_errors(form.client.fundsOrigin)|trim|length > 0 %}ui-formvalidation-error{% endif %}">
            <div class="field-label">
                <label for="lender-subscription-funds-origin">{% trans %} lender-subscription_documents-bank-info-section-funds-origin-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
            </div>
            {{ form_widget(form.client.fundsOrigin, {
                'id' : 'funds-origin',
                'attr' : {
                    'class' : 'input-field'
                }
            }) }}
            {{ form_errors(form.client.fundsOrigin) }}
        </div>
    </div>

</fieldset>