{# Both person and legal entity forms include this twig template and IDs need to be unique for UX functionality to work #}
{% if idClientType is empty %}
    {% set idClientType = 'person' %}
{% endif %}

<fieldset id="form-lender-{{ idClientType }}-fieldset-postal-address"
          class="form-lender-fieldset-postal-address panel collapse{% if identityForm.fiscalAddress.vars.value.memeAdresseFiscal %} in{% endif %}"
          {% if identityForm.fiscalAddress.vars.value.memeAdresseFiscal %} aria-expanded="true" {% else %} aria-expanded="false" style="height : 0;" {% endif %}>

    <h3 class="h3">{% trans %} lender-subscription_address-form-postal-address-title {% endtrans %}</h3>
    <div id="form-preter-{{ idClientType }}-address-autocomplete-error" class="ui-formvalidation-notifications autocomplete-error" style="display: none;">
        <div class="message-error">{% trans %}lender-subscription_fiscal-address-autocomplete-error{% endtrans %}</div>
    </div>

    <div class="row">
        <div class="form-field {% if identityForm.postalAddress.adresse1.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-postal-address-street">
                {% trans %} lender-subscription_address-form-postal-address-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(identityForm.postalAddress.adresse1, {
                'id' : 'form-lender-'~ idClientType ~'-postal-address-street',
                'attr' : {
                    'class' : 'input-field',
                    'data-formvalidation-input data-formvalidation-required' : 'true'
                }
            }) }}
            {{ form_errors(identityForm.postalAddress.adresse1) }}
        </div>
    </div>

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if identityForm.postalAddress.cp.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-postal-address-zip">
                {% trans %} lender-subscription_address-form-address-postcode-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="input-group set-right">
                {{ form_widget(identityForm.postalAddress.cp, {
                    'id' : 'form-lender-'~ idClientType ~'-postal-address-zip',
                    'attr' : {
                        'class' : 'input-field',
                        'autocomplete' : 'off',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-autocomplete-address data-autocomplete-ajaxurl' : path('lender_subscription_ajax_zip'),
                        'data-autocomplete-address-countryelem' : '#form-lender-'~ idClientType ~'-postal-address-country',
                        'data-autocomplete-address-cityelem' : '#form-lender-'~ idClientType ~'-postal-address-city',
                        'data-autocomplete-address-zipelem' : '#form-lender-'~ idClientType ~'-postal-address-zip',
                        'data-has-spinner' : '#form-lender-'~ idClientType ~'-postal-zip-autocomplete-spinner'
                    }})
                }}
                {{ form_errors(identityForm.postalAddress.cp) }}
                <div class="btn-group">
                    <span id="{{ idClientType }}-postal-zip-autocomplete-spinner" class="ui-is-spinner"></span>
                </div>
            </div><!-- /.input-group -->
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if identityForm.postalAddress.ville.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-postal-address-city">
                {% trans %} lender-subscription_address-form-address-city-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="input-group set-right">
                {{ form_widget(identityForm.postalAddress.ville, {
                    'id' : 'form-lender-'~ idClientType ~'-postal-address-city',
                    'attr' : {
                        'class' : 'input-field',
                        'autocomplete' : 'off',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-autocomplete-address data-autocomplete-ajaxurl' : path('lender_subscription_ajax_city'),
                        'data-autocomplete-address-countryelem' : '#form-lender-'~ idClientType ~'-postal-address-country',
                        'data-autocomplete-address-cityelem' : '#form-lender-'~ idClientType ~'-postal-address-city',
                        'data-autocomplete-address-zipelem' : '#form-lender-'~ idClientType ~'-postal-address-zip',
                        'data-has-spinner' : '#form-lender-'~ idClientType ~'-postal-city-autocomplete-spinner'
                    }})
                }}
                {{ form_errors(identityForm.postalAddress.ville) }}
                <div class="btn-group">
                    <span id="{{ idClientType }}-postal-city-autocomplete-spinner" class="ui-is-spinner"></span>
                </div>
            </div><!-- /.input-group -->
        </div><!-- /.form-field -->
    </div>

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if identityForm.postalAddress.idPays.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-postal-address-country">
                {% trans %} lender-subscription_address-form-address-country-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(identityForm.postalAddress.idPays, {
                'id' : 'form-lender-'~ idClientType ~'-postal-address-country',
                'attr' : {
                    'class' : 'input-field',
                    'data-formvalidation-input data-formvalidation-required' : 'true'
                }
            }) }}
            {{ form_errors(identityForm.postalAddress.idPays) }}
        </div><!-- /.form-field -->
    </div>
</fieldset>
