{# Set this to 'person' to make included partials' JS UX functionality compatible with this form #}
{% set idClientType = 'person' %}
{% form_theme identityForm '/frontbundle/forms/fields.html.twig' %}
{% do identityForm.fiscalAddress.housedByThirdPerson.setRendered %}

{{ form_start(identityForm, {
    'attr' : {
        'class' : 'form-preter-create form-preter-create-info-person',
        'data-formvalidation data-formvalidation-notificationselem' : '#form-preter-person-1-notifications',
        'data-cacheform' : true
    }
}) }}
    <fieldset class="panel">
        <div class="message-info">
            <p>{% trans %} lender-subscription_person-mandatory-documents-information {% endtrans %}</p>
        </div><!-- /.message-alert -->

        <div id="form-preter-notifications" class="ui-formvalidation-notifications">
            {{ form_errors(identityForm) }}
        </div>

        {# Hide the person form and display legal entity form when legal entity is chosen in above radio buttons #}
        <h3 class="h3">{% trans %} lender-subscription_identity-section-title {% endtrans %}</h3>

        <div class="row">
            <div class="form-field form-field-multi {% if identityForm.clientType.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <div class="field-label">
                    <label>{% trans %} lender-subscription_identity-client-type-label {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                    </label>
                </div>
                <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                    {% for key, type in identityForm.clientType.children %}
                        <li>
                            {{ form_widget(type) }}
                            {{ form_label(type) }}
                        </li>
                    {% endfor %}
                </ul>
            </div><!-- /.form-field -->
        </div>

        <div class="row">
            <div class="form-field form-field-multi {% if identityForm.client.civilite.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <div class="field-label">
                    <label>
                        {% trans %} common_title {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                    </label>
                </div>
                <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                    {% for key, civilite in identityForm.client.civilite.children %}
                        <li>
                            {{ form_widget(civilite) }}
                            {{ form_label(civilite) }}
                        </li>
                    {% endfor %}
                </ul>
                {{ form_errors(identityForm.client.civilite) }}
            </div><!-- /.form-field -->
        </div>

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.nom.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-name">
                    {% trans %} common_birth-name {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(identityForm.client.nom, {
                    'id' : 'form-lender-person-name',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(identityForm.client.nom) }}
            </div><!-- /.form-field -->

            <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.prenom.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-first-name">
                    {% trans %} common_firstname {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(identityForm.client.prenom, {
                    'id' : 'form-lender-person-first-name',
                    'attr' :  {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(identityForm.client.prenom) }}
            </div><!-- /.form-field -->
        </div>

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.nomUsage.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-used-name">
                    {% trans %} common_used-name {% endtrans %}
                </label>
                {{ form_widget(identityForm.client.nomUsage, {
                    'id' : 'form-lender-person-used-name',
                    'attr' : {
                        'class' : 'input-field'
                    }
                }) }}
                {{ form_errors(identityForm.client.nomUsage) }}
            </div><!-- /.form-field -->

            <div class="form-field col-lg-6 col-md-6">
            </div><!-- /.form-field -->
        </div>
    </fieldset>

    {% include 'pages/lender_subscription/partials/personal_information_security.html.twig' %}

    <fieldset class="panel">
        <h3 class="h3">{% trans %} lender-subscription_address-form-title {% endtrans %}</h3>
        <div id="form-preter-person-fiscal-address-autocomplete-error" class="ui-formvalidation-notifications autocomplete-error" style="display: none;">
            <div class="message-error">{% trans %}lender-subscription_fiscal-address-autocomplete-error{% endtrans %}</div>
        </div>

        <div class="row">
            <div class="form-field {% if identityForm.fiscalAddress.adresseFiscal.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-fiscal-address-street">{% trans %} lender-subscription_address-form-fiscal-address-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(identityForm.fiscalAddress.adresseFiscal, {
                    'id' : 'form-lender-person-fiscal-address-street',
                    'attr' :  {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'placeholder' : 'lender-subscription_address-form-fiscal-address-placeholder'|trans
                    }
                }) }}
                {{ form_errors(identityForm.fiscalAddress.adresseFiscal) }}
            </div><!-- /.form-field -->
        </div>

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6 {% if identityForm.fiscalAddress.cpFiscal.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-fiscal-address-zip">{% trans %} lender-subscription_address-form-address-postcode-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                <div class="input-group set-right">
                    {{ form_widget(identityForm.fiscalAddress.cpFiscal, {
                        'id' : 'form-lender-person-fiscal-address-zip',
                        'attr' : {
                            'class' : 'input-field',
                            'autocomplete' : 'off',
                            'data-formvalidation-input data-formvalidation-required' : 'true',
                            'data-autocomplete-address data-autocomplete-ajaxurl' : path('lender_subscription_ajax_zip'),
                            'data-autocomplete-address-countryelem' : '#form-lender-person-fiscal-address-country',
                            'data-autocomplete-address-cityelem' : '#form-lender-person-fiscal-address-city',
                            'data-autocomplete-address-zipelem' : '#form-lender-person-fiscal-address-zip',
                            'data-has-spinner' : '#person-zip-autocomplete-spinner'
                        }})
                    }}
                    {{ form_errors(identityForm.fiscalAddress.cpFiscal) }}
                    <div class="btn-group">
                        <span id="person-zip-autocomplete-spinner" class="ui-is-spinner"></span>
                    </div>
                </div><!-- /.input-group -->
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6 {% if identityForm.fiscalAddress.villeFiscal.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-fiscal-address-city">{% trans %} lender-subscription_address-form-address-city-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                <div class="input-group set-right">
                    {{ form_widget(identityForm.fiscalAddress.villeFiscal, {
                        'id' : 'form-lender-person-fiscal-address-city',
                        'attr' : {
                            'class' : 'input-field',
                            'autocomplete' : 'off',
                            'data-formvalidation-input data-formvalidation-required' : 'true',
                            'data-autocomplete-address data-autocomplete-ajaxurl' : path('lender_subscription_ajax_city'),
                            'data-autocomplete-address-countryelem' : '#form-lender-person-fiscal-address-country',
                            'data-autocomplete-address-cityelem' : '#form-lender-person-fiscal-address-city',
                            'data-autocomplete-address-zipelem' : '#form-lender-person-fiscal-address-zip',
                            'data-has-spinner' : '#person-city-autocomplete-spinner'
                        }})
                    }}
                    {{ form_errors(identityForm.fiscalAddress.villeFiscal) }}
                    <div class="btn-group">
                        <span id="person-city-autocomplete-spinner" class="ui-is-spinner"></span>
                    </div>
                </div><!-- /.input-group -->
            </div><!-- /.form-field -->
        </div>

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6 {% if identityForm.fiscalAddress.idPaysFiscal.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-fiscal-address-country">
                    {% trans %} lender-subscription_address-form-address-country-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(identityForm.fiscalAddress.idPaysFiscal, {
                    'id' : 'form-lender-person-fiscal-address-country',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input' : true,
                        'data-formvalidation-required' : true
                    }})
                }}
                {{ form_errors(identityForm.fiscalAddress.idPaysFiscal) }}
            </div><!-- /.form-field -->

            <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.mobile.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-client-mobile">
                    {% trans %} common_mobile-phone {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                <div class="input-group">
                    {{ form_widget(identityForm.client.mobile, {
                        'id' : 'form-lender-person-client-mobile',
                        'attr' : {
                            'class' : 'input-field',
                            'data-formvalidation-input data-formvalidation-required' : 'true',
                            'data-formvalidation-type' : 'telephone'
                        }
                    }) }}
                </div>
            </div><!-- /.form-field -->
        </div>

        <div class="row">
            <div class="form-field form-field-single-checkbox ">
                <label>
                    {{ form_widget(identityForm.postalAddress.memeAdresseFiscal, {
                        'attr' :  {
                            'class' : 'toggle-correspondence-address'
                        }
                    }) }}
                    <span class="label">{% trans %} lender-subscription_address-form-same-postal-address-checkbox {% endtrans %}</span>
                </label>
            </div><!-- /.form-field -->
        </div>
    </fieldset>

    {% include 'pages/lender_subscription/partials/personal_information_postal_address.html.twig' %}

    <fieldset class="panel">
        <h3 class="h3">{% trans %} lender-subscription_civil-state-section-title {% endtrans %}</h3>
        <div class="message-info">
            <p>{% trans %} lender-subscription_mandatory-french-bank-account-message {% endtrans %}</p>
        </div>

        <div id="form-preter-person-birth-place-autocomplete-error" class="ui-formvalidation-notifications autocomplete-error" style="display: none;">
            <div class="message-error">{% trans %}lender-subscription_birth-place-autocomplete-error{% endtrans %}</div>
        </div>

        <div class="row row-multi-col-computer">
            <div id="form-lender-person-birthdate"
                 class="form-field col-lg-6 col-md-6 {% if identityForm.client.naissance.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="client_day_of_birth" >
                    {% trans %} common_birthday {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(identityForm.client.naissance.children.day, {
                    'attr' :  {
                        'class' : 'input-field input-field-short',
                        'data-formvalidation-input data-formvalidation-required' : "true",
                        'data-formvalidation-date' : 'day'
                    }
                }) }}
                {{ form_widget(identityForm.client.naissance.children.month, {
                    'attr' :  {
                        'class' : 'input-field input-field-short',
                        'data-formvalidation-input data-formvalidation-required' : "true",
                        'data-formvalidation-date' : 'month'
                    }
                }) }}
                {{ form_widget(identityForm.client.naissance.children.year, {
                    'attr' :  {
                        'class' : 'input-field input-field-short',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-formvalidation-date' : 'year'
                    }
                }) }}
                {{ form_errors(identityForm.client.naissance) }}
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.idNationalite.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-nationality">{% trans %} common_nationality {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(identityForm.client.idNationalite, {
                    'id' : 'form-lender-person-nationality',
                    'attr' :  {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' :  'true'
                    }
                }) }}
                {{ form_errors(identityForm.client.idNationalite) }}
            </div><!-- /.form-field -->
        </div>

        <div class="message-alert" id="error-message-selected-nationality-other" style="display: none;">
            {% trans %}lender-subscription_error-message-selected-nationality-other{% endtrans %}
        </div>

        <div class="row row-multi-col-computer">
            <div id="form-lender-person-birth-place"
                 class="form-field col-lg-6 col-md-6 {% if identityForm.client.idPaysNaissance.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-birth-country">{% trans %} common_birth-country {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                {{ form_widget(identityForm.client.idPaysNaissance, {
                    'id' : 'form-lender-person-birth-country',
                    'attr' :  {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true'
                    }
                }) }}
                {{ form_errors(identityForm.client.idPaysNaissance) }}
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.villeNaissance.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label for="form-lender-person-birth-city">
                    {% trans %} common_birth-city {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
                <div class="input-group set-right">
                    {{ form_widget(identityForm.client.villeNaissance, {
                        'id' : 'form-lender-person-birth-city',
                        'attr' :  {
                            'autocomplete' : 'off',
                            'class' : 'input-field',
                            'data-formvalidation-input data-formvalidation-required': 'true',
                            'data-autocomplete data-autocomplete-ajaxurl' : path('lender_subscription_ajax_birth_place'),
                            'data-autocomplete-ajaxprop' : 'birthPlace',
                            'data-has-spinner' : '#person-birth-city-spinner'
                        }
                    }) }}
                    {{ form_errors(identityForm.client.villeNaissance) }}
                    <div class="btn-group">
                        <span id="person-birth-city-spinner" class="ui-is-spinner"></span>
                    </div>
                </div>
                {{ form_widget(identityForm.client.inseeBirth, {
                    'id' : 'form-lender-person-birth-city-insee'
                }) }}
            </div><!-- /.form-field -->
        </div>
    </fieldset>

    <fieldset class="panel">
        <div class="row">
            <div class="form-field form-field-single-checkbox {% if identityForm.tos.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label>
                    {{ form_widget(identityForm.tos, {
                        'attr' :  {
                            'data-formvalidation-input data-formvalidation-required' : 'true'
                        }
                    }) }}
                    <span class="label">
                        {% trans with {'%tosStart%' : '<a href="' ~ termsOfUsePerson ~ '" target="_blank">', '%tosEnd%' : '</a>'} %} lender-subscription_terms-of-use-acceptance {% endtrans %}
                        <span class="field-required">* <span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}
                            </span>
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="form-field form-field-single-checkbox {% if identityForm.fiscalAddress.noUsPerson.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
                <label>
                    {{ form_widget(identityForm.fiscalAddress.noUsPerson) }}
                    <span class="label">{% trans %} common_no-us-person-declaration {% endtrans %}</span>
                </label>
            </div>
        </div>
    </fieldset>

    <div class="row btn-controls tab-footer">
        <div class="col-back col-lg-6 col-md-6">&nbsp;</div>
        <div class="col-next col-lg-6 col-md-6">
            <button class="btn-primary" data-spinnerbutton>
                {% trans %} lender-subscription_part1-validate-button {% endtrans %}
                <span class="icon fa-angle-right"></span>
            </button>
        </div>
    </div><!-- /.btn-controls.tab-footer -->
{{ form_end(identityForm) }}
