<fieldset class="panel">
    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.email.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-email">
                {% trans %} common_email {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(identityForm.client.email, {
                'id' : 'form-lender-' ~ idClientType ~ '-email',
                'attr' :  {
                    'class' : 'input-field',
                    'data-formvalidation-input data-formvalidation-required' : 'true'
                }
            }) }}
            {{ form_errors(identityForm.client.email)}}
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.emailConfirmation.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-email-conf">
                {% trans %} common_email-confirmation {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="input-group">
                {{ form_widget(identityForm.client.emailConfirmation, {
                    'id' : 'form-lender-'~ idClientType ~'-email-conf',
                    'attr' :  {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-formvalidation-samevalueas' : '#form-lender-' ~ idClientType ~ '-email'
                    }
                }) }}
                {{ form_errors(identityForm.client.emailConfirmation)}}
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-12 col-md-12">
            <div class="field-help">{% trans %} common_password-hint {% endtrans %}</div>
        </div>
        <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.password.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-pwd">
                {% trans %} common_password {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(identityForm.client.password, {
                'id' : 'form-lender-'~ idClientType ~'-pwd',
                'attr' : {
                    'class' : 'input-field',
                    'data-passwordcheck data-formvalidation-input data-formvalidation-required' : 'true',
                    'data-formvalidation-minlength' : '6'
                }
            }) }}
            {{ form_errors(identityForm.client.password) }}
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if identityForm.client.passwordConfirmation.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-pwd-conf">
                {% trans %} common_password-confirmation {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="input-group">
                {{ form_widget(identityForm.client.passwordConfirmation, {
                    'id' : 'form-lender-'~ idClientType ~'-pwd-conf',
                    'attr' : {
                        'class' : 'input-field',
                        'data-passwordcheck data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-formvalidation-samevalueas' : '#form-lender-' ~ idClientType ~ '-pwd'
                    }
                }) }}
                {{ form_errors(identityForm.client.passwordConfirmation) }}
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field {% if identityForm.security.secreteQuestion.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-security-question">
                {% trans %} lender-subscription_security-form-secret-question-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(identityForm.security.secreteQuestion, {
                'id' : 'form-lender-'~ idClientType ~'-security-question',
                'attr' :  {
                    'class' : 'input-field',
                    'data-formvalidation-input data-formvalidation-required' : 'true'
                }
            }) }}
            {{ form_errors(identityForm.security.secreteQuestion) }}
            <div class="field-help">{% trans %} lender-subscription_security-form-secret-question-info {% endtrans %}</div>
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field {% if identityForm.security.secreteReponse.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-lender-{{ idClientType }}-security-answer">
                {% trans %} lender-subscription_security-form-secret-answer-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(identityForm.security.secreteReponse, {
                'id' : 'form-lender-'~ idClientType ~'-security-answer',
                'attr' : {
                    'autocomplete' : 'off',
                    'class' : 'input-field',
                    'data-formvalidation-input data-formvalidation-required' : 'true'
                }
            }) }}
            {{ form_errors(identityForm.security.secreteReponse) }}
        </div><!-- /.form-field -->
    </div>
</fieldset>
