<fieldset class="panel">
    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6">
            <label for="form-lender-{{ idClientType }}-email">
                {% trans %} common_email {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <input id="form-lender-{{ idClientType }}-email" type="email" name="client_email" value="{{ formData.client_email }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6">
            <label for="form-lender-{{ idClientType }}-email-conf">
                {% trans %} common_email-confirmation {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="input-group">
                <input id="form-lender-{{ idClientType }}-email-conf" type="email" name="client_email_confirmation" value="{{ formData.client_email }}" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-samevalueas="#form-lender-{{ idClientType }}-email"/>
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6">
            <label for="form-lender-{{ idClientType }}-pwd">
                {% trans %} common_password {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <input id="form-lender-{{ idClientType }}-pwd" type="password" name="client_password" value="" class="input-field"
                   data-passwordcheck data-formvalidation-input data-formvalidation-required="true" data-formvalidation-minlength="6"/>
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6">
            <label for="form-lender-{{ idClientType }}-pwd-conf">
                {% trans %} common_password-confirmation {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="input-group">
                <input id="form-lender-{{ idClientType }}-pwd-conf" type="password" name="client_password_confirmation" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-samevalueas="#form-lender-{{ idClientType }}-pwd"/>
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field">
            <label for="form-lender-{{ idClientType }}-security-question">
                {% trans %} lender-subscription_security-form-secret-question-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <input id="form-lender-{{ idClientType }}-security-question" type="text" name="client_secret_question" class="input-field" value="{{ formData.client_secret_question }}"
                   data-formvalidation-input data-formvalidation-required="true">
            <div class="field-help">{% trans %} lender-subscription_security-form-secret-question-info {% endtrans %}</div>
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field">
            <label for="form-lender-{{ idClientType }}-security-answer">
                {% trans %} lender-subscription_security-form-secret-answer-label {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <input type="text" id="form-lender-{{ idClientType }}-security-answer" name="client_secret_answer" value="{{ formData.client_secret_answer }}" autocomplete="off" class="input-field" data-formvalidation-input data-formvalidation-required="true" />
        </div><!-- /.form-field -->
    </div>
</fieldset>
