<div id="form-preter-1" role="tabpanel" class="tab-pane active" aria-labelledby="preter-create-1 preter-create-title">
    <div class="row">
        <div class="col-form col-lg-8 col-md-8" data-formvalidation data-formvalidation-notificationselem="#form-preter-1-notifications">
            <form id="form-lender-person-step-1" method="post" action="{{ path('lender_subscription_legal_entity_submit_step_1') }}"
                  class="form-preter-create" data-cacheform xmlns="http://www.w3.org/1999/html">
                <fieldset class="panel">
                    <div class="message-info">
                        <p>{% trans %} lender-subscription_legal-entity-mandatory-documents-information {% endtrans %}</p>
                    </div><!-- /.message-alert -->
                    <div id="form-preter-1-notifications" class="ui-formvalidation-notifications">
                        {% if app.session.flashBag.has('step1Errors') %}
                            <div class="message-error">
                                {% for error in app.session.flashBag.get('step1Errors') %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <h3 class="h3">{% trans %} lender-subscription_identity-section-title {% endtrans %}</h3>
                    <div class="row">
                        <div class="form-field form-field-multi">
                            <div class="field-label">
                                <label>{% trans %} lender-subscription_identity-client-type-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span>
                                </label>
                            </div>
                            <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                                <li>
                                    <label>
                                        <input type="radio" name="client_type" value="person" />
                                        {% trans %} lender-subscription_identity-client-type-person-label {% endtrans %}
                                    </label>
                                </li>
                                <li>
                                    <label><input type="radio" name="client_type" value="legal_entity" checked />
                                        {% trans %} lender-subscription_identity-client-type-legal-entity-label {% endtrans %}
                                    </label>
                                </li>
                            </ul>
                        </div><!-- /.form-field -->
                        {#TODO: hide the person form and display legal entity form when legal entity is chosen in above radio buttons #}

                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-name">{% trans %} lender-subscription_step-1-company-name-label {% endtrans %}<span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-name" type="text" name="company_name" value="{{ formData.company_name }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-legal-form">{% trans %} lender-subscription_step-1-company-legal-form-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-legal-form" type="text" name="company_legal_form" value="{{ formData.company_legal_form }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                        </div><!-- /.row -->

                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-social-capital">{% trans %} lender-subscription_step-1-company-social-capital-label {% endtrans %}<span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-social-capital" type="text" name="company_social_capital" value="{{ formData.company_social_capital }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-siren">{% trans %} lender-subscription_step-1-company-siren-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-siren" type="text" name="company_siren" value="{{ formData.company_siren }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                        </div><!-- /.row -->

                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-phone">{% trans %} lender-subscription_step-1-company-phone-label {% endtrans %}<span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-phone" type="text" name="company_phone" value="{{ formData.company_phone }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-6 col-md-6">
                            </div><!-- /.form-field -->
                        </div><!-- /.row -->

                    </div>
                </fieldset>

                <fieldset class="panel">
                    <h3 class="h3">{% trans %} lender-subscription_legal-entity-client-information-section-title {% endtrans %}</h3>
                    <div class="row">
                        <div class="form-field form-field-multi">
                            <div class="field-label">
                                <label>{% trans %} lender-subscription_step-1-company-client-status-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                            </div>
                            <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                                <li>
                                    <label><input type="radio" name="company_client_status" value="1" {% if formData.company_client_status == constant('\\companies::CLIENT_STATUS_MANAGER') %}checked="checked"{% endif %}/>
                                        {% trans %} lender-subscription_step-1-company-client-status-1 {% endtrans %}</label>
                                </li>
                                <li>
                                    <label><input type="radio" name="company_client_status" value="2" {% if formData.company_client_status == constant('\\companies::CLIENT_STATUS_DELEGATION_OF_POWER') %}checked="checked"{% endif %}/>
                                        {% trans %} lender-subscription_step-1-company-client-status-2 {% endtrans %}</label>
                                </li>
                                <li>
                                    <label><input type="radio" name="company_client_status" value="3" {% if formData.company_client_status == constant('\\companies::CLIENT_STATUS_EXTERNAL_CONSULTANT') %}checked="checked"{% endif %}/>
                                        {% trans %} lender-subscription_step-1-company-client-status-3 {% endtrans %}</label>
                                </li>
                            </ul>
                        </div><!-- /.form-field -->
                    </div><!-- /.row -->

                    {#TODO show if input client_status_value other than 1 is checked #}
                    {% if formData is not empty %}
                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-client-status">{% trans %} lender-subscription_step-1-company-external-counsel-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                                <select id="form-lender-legal-entity-client-status" name="company_external_counsel" class="input-field" data-formvalidation-input data-formvalidation-required="true">
                                    {% for i, status in externalCounselList %}
                                        <option value="{{ i }}"{% if formData.company_external_counsel == i %} selected="selected"{% endif %}>{{ status }}</option>
                                    {% endfor %}
                                </select>
                            </div><!-- /.form-field -->
                            {#TODO only visible and mandatory when previous select is value 3#}
                            <div class="form-field col-lg-6 col-md-6">
                                {% if 3 == 3 %}
                                <label for="form-lender-legal-entity-client-status-other">{% trans %} lender-subscription_step-1-company-other-external-counsel-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                                    <input id="form-lender-legal-entity-client-status-other" type="text" name="company_external_counsel_other" value="{{ formData.company_external_counsel_other }}" class="input-field" data-formvalidation-input {% if 3 == 3 %}data-formvalidation-required="true"{% endif %}"/>
                                {% endif %}
                            </div><!-- /.form-field -->
                        </div><!-- /.row -->
                    {% endif %}

                    <div class="row">
                        <div class="form-field form-field-multi">
                            <div class="field-label">
                                <label>{% trans %} lender-subscription_identity-form-of-address-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                            </div>
                            <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                                <li>
                                    <label><input type="radio" name="client_form_of_address" value="Mme" {% if formData.client_form_of_address == 'Mme' %} checked {% endif %}/>
                                        {% trans %} lender-subscription_identity-form-of-address-female-label {% endtrans %}
                                    </label>
                                </li>
                                <li>
                                    <label><input type="radio" name="client_form_of_address" value="M." {% if formData.client_form_of_address == 'M.' %} checked {% endif %}/>
                                        {% trans %} lender-subscription_identity-form-of-address-male-label {% endtrans %}
                                    </label>
                                </li>
                            </ul>
                        </div><!-- /.form-field -->
                    </div>

                    <div class="row row-multi-col-computer">
                        <div class="form-field col-lg-6 col-md-6">
                            <label for="form-lender-legal_entity-name">{% trans %} lender-subscription_identity-form-family-name-label {% endtrans %}
                                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                            <input id="form-lender-legal_entity-name" type="text" name="client_name" value="{{ formData.client_name }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                        </div><!-- /.form-field -->
                        <div class="form-field col-lg-6 col-md-6">
                            <label for="form-lender-legal_entity-first-name">{% trans %} lender-subscription_identity-form-first-name-label {% endtrans %}
                                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                            <input id="form-lender-legal_entity-first-name" type="text" name="client_first_name" value="{{ formData.client_first_name }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                        </div><!-- /.form-field -->
                    </div>

                    <div class="row row-multi-col-computer">
                        <div class="form-field col-lg-6 col-md-6">
                            <label for="form-lender-legal-entity-client-function">{% trans %} lender-subscription_identity-form-client-position-label {% endtrans %}</label>
                            <input id="form-lender-legal-entity-client-function" type="text" name="client_position" value="{{ formData.client_position }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                        </div><!-- /.form-field -->
                        <div class="form-field col-lg-6 col-md-6">
                        </div><!-- /.form-field -->
                    </div><!-- /.row -->
                </fieldset>

                {{ include('pages/lender_subscription/partials/security.html.twig') }}

                <fieldset class="panel">

                    {#TODO show if input client_status_value other than 1 is checked #}
                    {% if 2 > 1 %}
                        <h3>{% trans %} lender-subscription_legal-entity-company-director-section-title {% endtrans %}</h3>
                        <div class="row">
                            <div class="form-field form-field-multi">
                                <div class="field-label">
                                    <label>{% trans %} lender-subscription_step-1-director-form-of-address-label {% endtrans %}
                                        <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                                </div>
                                <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                                    <li>
                                        <label><input type="radio" name="company_director_form_of_address" value="Mme" {% if formData.company_director_form_of_address == 'Mme' %}checked="checked"{% endif %}/> {% trans %} lender-subscription_identity-form-of-address-female-label {% endtrans %}</label>
                                    </li>
                                    <li>
                                        <label><input type="radio" name="company_director_form_of_address" value="M." {% if formData.company_director_form_of_address == 'M.' %}checked="checked"{% endif %}/> {% trans %} lender-subscription_identity-form-of-address-male-label {% endtrans %}</label>
                                    </li>
                                </ul>
                            </div><!-- /.form-field -->
                        </div><!-- /.row -->

                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-director-name">{% trans %} lender-subscription_identity-form-family-name-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-director-name" type="text" name="company_director_name" value="{{ formData.company_director_name }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-director-first-name">{% trans %} lender-subscription_identity-form-first-name-label{% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-director-first-name" type="text" name="company_director_first_name" value="{{ formData.company_director_first_name }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                        </div><!-- /.row -->

                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-director-position">{% trans %} lender-subscription_step-1-company-client-position-label {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-director-position" type="text" name="company_director_position" value="{{ formData.company_director_position }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-6 col-md-6">
                            </div><!-- /.form-field -->
                        </div><!-- /.row -->

                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-director-phone">{% trans %} lender-subscription_step-1-company-director-phone {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-director-phone" type="text" name="company_director_phone" value="{{ formData.company_director_phone }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="form-lender-legal-entity-client-first-name">{% trans %} lender-subscription_step-1-company-director-email {% endtrans %}
                                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                                <input id="form-lender-legal-entity-client-name" type="text" name="company_director_email" value="{{ formData.company_director_email }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                            </div><!-- /.form-field -->
                        </div><!-- /.row -->
                    {% endif %}
                </fieldset>
                <fieldset class="panel">
                    <h3 class="h3">{% trans %} lender-subscription_address-form-title {% endtrans %}</h3>

                    <div class="row">
                        <div class="form-field">
                            <label for="form-lender-legal_entity-fiscal-address-street">{% trans %} lender-subscription_address-form-fiscal-address-label {% endtrans %}
                                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                            <input id="form-lender-legal_entity-fiscal-address-street" type="text" name="fiscal_address_street" value="{{ formData.fiscal_address_street }}" class="input-field"
                                   placeholder="{% trans %} lender-subscription_address-form-fiscal-address-placeholder {% endtrans %}" data-formvalidation-input data-formvalidation-required="true"/>
                        </div><!-- /.form-field -->
                    </div>

                    <div class="row row-multi-col-computer">
                        <div class="form-field col-lg-6 col-md-6">
                            <label for="form-lender-legal_entity-fiscal-address-zip">{% trans %} lender-subscription_address-form-address-postcode-label {% endtrans %}
                                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                            <input id="form-lender-legal_entity-fiscal-address-zip" type="text" name="fiscal_address_zip" value="{{ formData.fiscal_address_zip }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                        </div><!-- /.form-field -->
                        <div class="form-field col-lg-6 col-md-6">
                            <label for="form-lender-legal_entity-fiscal-address-city">{% trans %} lender-subscription_address-form-address-city-label {% endtrans %}
                                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                            <input id="form-lender-legal_entity-fiscal-address-city" type="text" name="fiscal_address_city" value="{{ formData.fiscal_address_city }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                        </div><!-- /.form-field -->
                    </div>

                    <div class="row row-multi-col-computer">
                        <div class="form-field col-lg-6 col-md-6">
                            <label for="form-lender-legal_entity-fiscal-address-country">{% trans %} lender-subscription_address-form-address-country-label {% endtrans %}
                                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                            <select id="form-lender-legal_entity-fiscal-address-country" name="fiscal_address_country" class="input-field"
                                    data-formvalidation-input data-formvalidation-required="true">
                                {% for i, country in getCountries() %}
                                    <option value="{{ i }}" {% if formData.fiscal_address_country == i %} selected {% endif %}>
                                        {{ country }}</option>
                                {% endfor %}
                            </select>
                        </div><!-- /.form-field -->
                        <div class="form-field col-lg-6 col-md-6">
                            <label for="form-lender-legal_entity-client-mobile">{% trans %} lender-subscription_address-form-mobile-phone-label {% endtrans %}
                                <span class="field-required">*<span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}</span></span></label>
                            <div class="input-group">
                                <input id="form-lender-legal_entity-client-mobile" type="text" name="client_mobile" value="{{ formData.client_mobile }}" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="telephone"/>
                            </div>
                        </div><!-- /.form-field -->
                    </div>

                    <div class="row">
                        <div class="form-field form-field-single-checkbox">
                            <label><input id="form-lender-same-postal-address" type="checkbox" name="same_postal_address" value="true" {% if formData.same_postal_address %}checked {% endif %}>
                                <span class="label">{% trans %} lender-subscription_address-form-same-postal-address-checkbox {% endtrans %}</span></label>
                        </div><!-- /.form-field -->
                    </div>
                </fieldset>
                {% include 'pages/lender_subscription/partials/postal_address.html.twig' %}

                <fieldset class="panel">

                    <div class="row">
                        <div class="form-field form-field-single-checkbox">
                            <label><input type="checkbox" name="terms_of_use" value="true" data-formvalidation-input data-formvalidation-required="true">
                        <span class="label">{% trans %} lender-subscription_terms-of-use-acceptance {% endtrans %}
                            <span class="field-required">* <span class="sr-only"> {% trans %} lender-subscription_mandatory-field {% endtrans %}
                                </span>
                            </span>
                        </span>
                            </label>
                        </div>
                    </div>

                </fieldset>
                <div class="row btn-controls tab-footer">
                    <div class="col-back col-lg-1 col-md-1">&nbsp;</div>
                    <div class="col-next col-lg-11 col-md-11">
                        <input type="hidden" name="client_type" value="legal_entity"/>
                        <button class="btn-primary">{% trans %} lender-subscription_part1-validate-button {% endtrans %}
                            <span class="icon fa-angle-right"></span></button>
                    </div>
                </div><!-- /.btn-controls.tab-footer -->
            </form><!-- /.form-preter-create -->
        </div>
        {{ include('pages/lender_subscription/partials/step_1_sidebar.html.twig') }}
    </div>
</div><!-- /.tab-pane -->


