{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/css/pages/notation-scores-project-status.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/highcharts/highcharts.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/highcharts/modules/xrange.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function(){
            App.initHelpers();

            /*
             * Company scores table
             */
            var $scoresTable = $('.scores-table')
            var columnWidth = 100
            var columns = $scoresTable.find('tr:eq(0) td').length
            var tableWidth = columns * columnWidth
            var blockWidth = $scoresTable.parent().width()
            var bordersWidth = columns * 2
            // Fix table width if parent block isn't large enough
            if (tableWidth > blockWidth) {
                $scoresTable.width(columns * columnWidth + bordersWidth)
            // Insert empty cell to fill the parent block
            } else {
                var emptyWidth = blockWidth - tableWidth
                var $bgColumn = '<td style="width: ' + emptyWidth + 'px"></td>'
                $scoresTable.find('tr').append($bgColumn)
                $scoresTable.unwrap()
            }

            /*
            * Project Status Chart
            */
            var chartData = [
                {% for project in projects %}
                    {% set projectIndex = loop.index - 1 %}
                    {
                        name: 'Projet N°{{ project.id }}',
                        dataLabels: {
                            enabled: true,
                            align: 'left',
                            verticalAlign: 'middle',
                            style: {
                                fontSize: 12
                            },
                            formatter: function () {
                                var last = this.series.data[this.series.data.length - 1]
                                if (this.point.status === last.status) {
                                    return this.point.status
                                }
                            }
                        },
                        data: [
                            {% for status in project.statuses %}
                                {
                                    x: Date.UTC({{ status.start|date('Y, m, d, H') }}),
                                    x2: Date.UTC({{ status.end|date('Y, m, d, H') }}),
                                    y: {{ projectIndex }},
                                    color: "{{ status.color }}",
                                    status: "{{ status.label }}",
                                    type: "{{ status.type }}",
                                    amount: "{{ status.amount|localizednumber }} €"
                                },
                            {% endfor %}
                        ]
                    },
                {% endfor %}
            ]
            // Y-axis labels
            var categoriesData = [{% for project in projects %}'N°{{ project.id }}',{% endfor %}]
            // Update the length of the x-axis when series are hidden
            function updateXaxisMax(chart) {
                var series = chart.series
                var maxDate = 0
                for (var i = 0; i < series.length; i++) {
                    if (series[i].visible) {
                        for (var l = 0; l < series[i].data.length; l++) {
                            var x2 = series[i].data[l].x2
                            if (x2 > maxDate) {
                                maxDate = x2
                            }
                        }
                    }
                }
                chart.xAxis[0].update({
                    max: maxDate
                })
            }
            // Translate dates
            Highcharts.setOptions({
                lang: {
                    months: ['janvier', 'février', 'mars', 'avril', 'mai', 'juin', 'juillet', 'août', 'septembre', 'octobre', 'novembre', 'décembre'],
                    weekdays: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                    shortMonths: ['janv.', 'févr.', 'mars', 'avr.', 'mai', 'juin', 'juil.', 'août', 'sept.', 'oct.', 'nov.', 'déc.']
                }
            })
            // Initialise chart
            Highcharts.chart('project-status-highcharts', {
                chart: {
                    type: 'xrange',
                    zoomType: 'x',
                    height: {{ projects|length > 10 ? projects|length * 40 : 400 }}
                },
                title: {
                    text: ''
                },
                credits: {
                    enabled: false
                },
                xAxis: {
                    type: 'datetime',
                    dateTimeLabelFormats: {
                        day: '%e %b %y'
                    }
                },
                yAxis: {
                    title: '',
                    categories: categoriesData
                },
                legend: {
                    layout: 'horizontal',
                    verticalAlign: 'bottom',
                    backgroundColor: '#FFFFFF',
                    align: 'left',
                    x: 40
                },
                plotOptions: {
                    series: {
                        minPointLength: 10,
                        events: {
                            hide: function () {
                                updateXaxisMax(this.chart)
                            },
                            show: function() {
                                updateXaxisMax(this.chart)
                            }
                        },
                        grouping: false
                    }
                },
                exporting: { enabled: false },
                tooltip: {
                    formatter: function () {
                        var start = Highcharts.dateFormat('%e %b %y', this.x, true),
                            end = Highcharts.dateFormat('%e %b %y', this.x2, true),
                            status = this.point.status,
                            type = this.point.type,
                            amount = this.point.amount

                        var html = '<b>' + status + ' : ' + start + ' - ' + end + '</b><br>' +
                                amount + ' | ' + type
                        return html
                    }
                },
                series: chartData
            })
        })
    </script>
{% endblock %}

{% block modals %}{% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        Évolution des notations
        <small>{{ company.name }} ({{ company.siren }})</small>
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="row text-uppercase">
            <div class="col-md-6">
                <div class="block">
                    <div class="block-content block-content-full">
                        <div class="font-s12 font-w600 text-uppercase">Abandons</div>
                        <a class="h2 font-w300 text-primary">{{ numberAbandonedProjects }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="block">
                    <div class="block-content block-content-full">
                        <div class="font-s12 font-w600 text-uppercase">Rejets</div>
                        <a class="h2 font-w300 text-primary">{{ numberRejectedProjects }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-uppercase">
            <div class="col-md-3">
                <div class="block">
                    <div class="block-content block-content-full">
                        <div class="font-s12 font-w600">En cours</div>
                        <a class="h2 font-w300 text-primary">{{ numberOngoingProjects }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <div class="block-content block-content-full">
                        <div class="font-s12 font-w600">En remboursement</div>
                        <a class="h2 font-w300 text-primary">{{ numberProjectsInRepayment }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <div class="block-content block-content-full">
                        <div class="font-s12 font-w600">Remboursés</div>
                        <a class="h2 font-w300 text-primary">{{ numberRepaidProjects }}</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="block">
                    <div class="block-content block-content-full">
                        <div class="font-s12 font-w600">Capital restant dû</div>
                        <a class="h2 font-w300 text-primary">{{ remainingDueCapital|localizedcurrency('EUR') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-scores" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Scoring de la société</h3>
            </div>
            <div class="block-content block-content-full">
                <div class="scores-container">
                    <table class="table table-bordered scores-fixed-column">
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <th>Euler Hermes Grade</th>
                            </tr>
                            <tr>
                                <th>Euler Hermes (Traffic Light)</th>
                            </tr>
                            <tr>
                                <th>Score Altares</th>
                            </tr>
                            <tr>
                                <th>Score Altares (Sectoriel)</th>
                            </tr>
                            <tr>
                                <th>Infolegale</th>
                            </tr>
                            <tr>
                                <th>Xerfi</th>
                            </tr>
                            <tr>
                                <th>
                                    Xerfi Unilend<br>
                                    &nbsp;
                                </th>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="scores-table-overscroll">
                        <table class="table table-bordered scores-table">
                            <tbody>
                                <tr>
                                    {% for date in dates %}
                                        <td class="score-item-header">{{ date|date('d/m/Y') }}</td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for ratingInfo in ratings[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyRating::TYPE_EULER_HERMES_GRADE')] %}
                                        <td {% if ratingInfo.change %}class="score-change"{% endif %} style="width: 130px;">
                                            {% if ratingInfo.value is not empty %}
                                                {%  if ratingInfo.change %}
                                                    <span class="{{ 'fa fa-arrow-' ~ ratingInfo.direction }} {{'text-' ~ ratingInfo.class }}"></span>
                                                {% endif %}
                                                {{ ratingInfo.value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for ratingInfo in ratings[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyRating::TYPE_EULER_HERMES_TRAFFIC_LIGHT')] %}
                                        <td {% if ratingInfo.change %}class="score-change"{% endif %}>
                                            {% if ratingInfo.value is not empty %}
                                                {%  if ratingInfo.change %}
                                                    <span class="{{ 'fa fa-arrow-' ~ ratingInfo.direction }} {{'text-' ~ ratingInfo.class }}"></span>
                                                {% endif %}
                                                {{ ratingInfo.value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for ratingInfo in ratings[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyRating::TYPE_ALTARES_SCORE_20')] %}
                                        <td {% if ratingInfo.change %}class="score-change"{% endif %}>
                                            {% if ratingInfo.value is not empty %}
                                                {%  if ratingInfo.change %}
                                                    <span class="{{ 'fa fa-arrow-' ~ ratingInfo.direction }} {{'text-' ~ ratingInfo.class }}"></span>
                                                {% endif %}
                                                {{ ratingInfo.value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for ratingInfo in ratings[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyRating::TYPE_ALTARES_SECTORAL_SCORE_100')] %}
                                        <td {% if ratingInfo.change %}class="score-change"{% endif %}>
                                            {% if ratingInfo.value is not empty %}
                                                {%  if ratingInfo.change %}
                                                    <span class="{{ 'fa fa-arrow-' ~ ratingInfo.direction }} {{'text-' ~ ratingInfo.class }}"></span>
                                                {% endif %}
                                                {{ ratingInfo.value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for ratingInfo in ratings[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyRating::TYPE_INFOLEGALE_SCORE')] %}
                                        <td {% if ratingInfo.change %}class="score-change"{% endif %}>
                                            {% if ratingInfo.value is not empty %}
                                                {%  if ratingInfo.change %}
                                                    <span class="{{ 'fa fa-arrow-' ~ ratingInfo.direction }} {{'text-' ~ ratingInfo.class }}"></span>
                                                {% endif %}
                                                {{ ratingInfo.value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for ratingInfo in ratings[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyRating::TYPE_XERFI_RISK_SCORE')] %}
                                        <td {% if ratingInfo.change %}class="score-change"{% endif %}>
                                            {% if ratingInfo.value is not empty %}
                                                {%  if ratingInfo.change %}
                                                    <span class="{{ 'fa fa-arrow-' ~ ratingInfo.direction }} {{'text-' ~ ratingInfo.class }}"></span>
                                                {% endif %}
                                                {{ ratingInfo.value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for ratingInfo in ratings[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyRating::TYPE_UNILEND_XERFI_RISK')] %}
                                        <td {% if ratingInfo.change %}class="score-change"{% endif %}>
                                            {% if ratingInfo.value is not empty %}
                                                {%  if ratingInfo.change %}
                                                    <span class="{{ 'fa fa-arrow-' ~ ratingInfo.direction }} {{'text-' ~ ratingInfo.class }}"></span>
                                                {% endif %}
                                                {{ ratingInfo.value }}
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </tr>
                                <tr>
                                    {% for interval in ratings.intervals %}
                                        <td class="score-item-footer"><span>{{ interval.days }} jours</span></td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div id="block-projects-offline" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Projets</h3>
            </div>
            <div class="block-content block-content-full">
                <div class="project-status-chart">
                    <div class="row">
                        <div class="project-status-chart-legend">
                            <h5 class="push-20 font-w400 text-center">Légende des statuts</h5>
                            <div class="row">
                                <div class="col-md-3">
                                    <ul>
                                        <li><span class="ui-application-bg"></span> Demande en cours</li>
                                        <li><span class="ui-application-complete-bg"></span> Demande complète</li>
                                        <li><span class="ui-commercial-bg"></span> Traitement commercial</li>
                                        <li><span class="ui-analyst-bg"></span> Analyse risque</li>
                                        <li><span class="ui-comity-bg"></span> Comité risque</li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul>
                                        <li><span class="ui-prep-funding-bg"></span> Financement</li>
                                        <li><span class="ui-project-status-80-bg"></span> Remboursement</li>
                                        <li><span class="ui-project-status-90-bg"></span> Remboursé</li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul>
                                        <li><span class="ui-status-ko-bg"></span> Rejet</li>
                                        <li><span class="ui-abandon-bg"></span> Abandon</li>
                                        <li><span class="ui-conditions-bg"></span> Conditions suspensives</li>
                                    </ul>
                                </div>
                                <div class="col-md-3">
                                    <ul>
                                        <li><span class="ui-status-ko-bg"></span> Financement non atteint</li>
                                        <li><span class="ui-status-ko-bg"></span> Prêt refusé</li>
                                        <li><span class="ui-project-status-100-bg"></span> Problème</li>
                                        <li><span class="ui-loss-bg"></span> Défaut</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="project-status-highcharts" class="project-status-chart-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
