{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block pageHeader %}
    <div class="pull-left">
        <a href="/recouvreur/liste" class="text-muted"><span class="fa fa-arrow-left"></span>&nbsp;Liste des recouvreurs</a>
    </div>
    {% if address is not empty %}
        <h1 class="page-heading push-5" style="margin: 30px 0 30px;">
            Agence de recouvrement {{ address.idClient.nom }}
        </h1>
        <table class="table-condensed push-20" style="margin-left: -3px;">
            <th>Adresse :</th>
            <td>{{ address.adresse1 ~ ', ' ~ address.cp ~ ' ' ~ address.ville }}</td>
            <th>Telephone :</th>
            <td>{{ address.idClient.telephone }}</td>
        </table>
    {% endif %}
{% endblock %}

{% block content %}
    {% if address is empty %}
        <div class="content">
            <div class="block block-bordered">
                <div class="block-content">
                    <div class="alert">
                        <p>Le client n'est pas un recouvreur.</p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="content">
            <div id="debt-collector-kpi" class="block">
                <div class="block-content">
                    <div class="row push-30">
                        <div class="col-md-3">
                            <div class="font-s12 font-w600 text-uppercase">Montant confié en cours</div>
                            <a class="h2 font-w300 text-primary">{{ entrustedProjects.amount > 0 ? entrustedProjects.amount|localizedcurrency('EUR') : '0 €' }}</a>
                        </div>
                        <div class="col-md-3">
                            <div class="font-s12 font-w600 text-uppercase">Dossiers confiés</div>
                            <a class="h2 font-w300 text-primary">{{ entrustedProjects.total }}</a>
                        </div>
                        <div class="col-md-3">
                            <div class="font-s12 font-w600 text-uppercase">Dossiers en cours</div>
                            <a class="h2 font-w300 text-primary">{{ entrustedProjects.ongoing }}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="debt-collector-operations" class="block block-bordered">
                <div class="block-header">
                    <h3 class="block-title">Relevé d'opérations (solde:
                        <span class="text-primary">{{ availableBalance|localizedcurrency('EUR') }}</span>)
                    </h3>
                </div>
                <div class="block-content">
                    {% if operationHistory|length > 0 %}
                        <table class="table table-striped table-bordered table-hover table-header-bg">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Opération</th>
                                <th class="text-right">Montant débité</th>
                                <th class="text-right">Montant crédité</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for operation in operationHistory %}
                                <tr>
                                    <td>{{ operation.date|localizeddate('short', 'none') }}</td>
                                    <td>{{ ('debt-collector-operation_' ~ operation.label)|trans }}</td>
                                    <td class="text-right text-primary">{{ operation.amount > 0 ? '' : operation.amount|localizedcurrency('EUR') }}</td>
                                    <td class="text-right">{{ operation.amount < 0 ? '' : operation.amount|localizedcurrency('EUR') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert">
                            <p>Aucune opération pour ce recouvreur.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div id="debt-collector-repayment-fees" class="block block-bordered">
                <div class="block-header">
                    <h3 class="block-title">Détails des honoraires sur les réceptions</h3>
                </div>
                <div class="block-content">
                    {% if repaymentFees|length > 0 %}
                        <table class="table table-striped table-bordered table-hover table-header-bg">
                            <thead>
                            <tr>
                                <th>ID Reception</th>
                                <th>Date du remboursement</th>
                                <th class="text-right">Montant des honoraires</th>
                                <th>Détails honoraires</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for repaymentFee in repaymentFees %}
                                <tr>
                                    <td>{{ repaymentFee.idWireTransferIn }}</td>
                                    <td>{{ repaymentFee.added|localizeddate('short', 'none') }}</td>
                                    <td class="text-right">{{ repaymentFee.amount|localizedcurrency('EUR') }}</td>
                                    <td>
                                        {% if repaymentFee.added < constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Service\\DebtCollectionMissionManager::FEES_DETAILS_AVAILABILITY_DATE') %}
                                            Détails indisponibles pour ce remboursement
                                        {% else %}
                                            <a href="/recouvreur/downloadFeesFile/{{ repaymentFee.idWireTransferIn }}/{{ address.idClient.idClient }}" class="btn btn-xs btn-default">
                                                Télécharger le fichier détaillé<span class="fa fa-chevron-right push-5-l"></span>
                                            </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert">
                            <p>Aucune réception pour ce recouvreur.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}