{% extends 'lender_account/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include 'lender_profile/partials/tab_navigation.html.twig' %}

        <div class="dashboard-tabs-content tab-content">
            <div id="profile-info" role="tabpanel" class="dashboard-tab-pane tab-pane active">
                <form id="form-alerts" class="panel form-alerts" method="post" action="{{ path('lender_profile_notification') }}">
                    <header class="panel-header">
                        <h3>{% trans %} notification-settings_newsletter-title {% endtrans %}</h3>
                    </header>
                    <div class="panel-content">
                        <p>{% trans %} notification-settings_newsletter-details {% endtrans %}</p>
                        <ul class="list-block">
                            <li>
                                <label class="custom-input-switch" id="label-newsletter">
                                    <input type="checkbox" value="true" name="newsletter" id="input-newsletter"{% if newsletterConsent == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::NEWSLETTER_OPT_IN_ENROLLED') %} checked{% endif %}>
                                    <span class="label">
                                        <span class="sr-only">{% trans %} common_switch-button-screen-reader {% endtrans %}</span>
                                    </span>
                                </label>
                                <label for="input-newsletter">{% trans %} notification-settings_newsletter {% endtrans %}</label>
                            </li>
                        </ul>
                    </div>

                    {% for type, settings in notification_settings %}
                        <header class="panel-header">
                            <h3>{{ "notification-settings_#{ type }-email-alert-title"|trans }}</h3>
                        </header>
                        <div class="panel-content">
                            <p>{{ "notification-settings_#{ type }-email-alert-details"|trans }}</p>
                            <ul class="list-block">
                                {% for key, isActived in settings %}
                                    <li>
                                        <label class="custom-input-switch" id="label-alert-{{ type }}-{{ key }}">
                                            <input type="checkbox" value="true" name="{{ type }}-{{ key }}" id="input-alert-{{ type }}-{{ key }}"{% if isActived %} checked{% endif %}>
                                            <span class="label">
                                                <span class="sr-only">{% trans %} common_switch-button-screen-reader {% endtrans %}</span>
                                            </span>
                                        </label>
                                        <label for="input-alert-{{ type }}-{{ key }}">{{ "notification-settings_alart-#{ key }"|trans }}</label>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </form><!-- /#form-alerts.panel -->

                <article id="cookies-info" class="panel">
                    <header class="panel-header">
                        <h3>{% trans %} notification-settings_modify-cookies-consent-title {% endtrans %}</h3>
                    </header>
                    <div class="panel-content">
                        <p>{% trans with {'%siteUrl%' : siteUrl} %} notification-settings_modify-cookies-consent-link {% endtrans %}</p>
                    </div>
                </article><!-- /#cookies-info.panel -->
            </div><!-- /#profile-info.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </div><!-- /.dashboard-tabs -->
{% endblock %}
