{% extends 'demo/_layout.html.twig' %}

{% set page = {
    id: 'demo-project-details',
    classNames: ''
} %}

{% block pageHeadScripts %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 14px;
            padding: 5px 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
            font-size: 16px;
        }

        .input-field {
            width: 80%;
            display: inline;
        }

        .form-field > label {
            display: inline;
            margin-bottom: 20px;
        }

        fieldset {
            border: 1px solid #eceaed;
        }

        dt {
            font-weight: 700;
            color: #2bc9af;
        }
    </style>
{% endblock %}

{% block pageScripts %}
    <script>
        {% include 'demo/partials/fees/fees.js.twig' %}
        {% include 'demo/partials/bids/actions.js.twig' %}
    </script>
{% endblock %}

{% block dashboardContent %}
    <div class="dashboard-tabs-content tab-content">
        <article class="project-single dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="project-single-details">
                            <div class="pull-right">
                                {% include 'demo/partials/bubble.html.twig' with {'partner': project.idPartner.label} %}
                            </div>
                            <h1 class="project-single-title">{{ project.idCompany.name }}</h1>
                            <span style="font-weight: 400; margin-top: 1em; margin-bottom: 1em; font-size: xx-large; color: #787679;">{{ project.title }}</span>
                        </div><!-- /.project-single-details -->
                    </div>
                </div>
                <div class="panel-content">
                    <div class="row margin-20-t">
                        <div class="row{% if projectAttachments|length %} col-lg-9 col-md-9 col-sm-9{% endif %}">
                            <dl class="col-lg-6 col-md-6">
                                <dt>Date de dépôt</dt>
                                <dd>{{ project.added|date('d/m/Y') }}</dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Montant</dt>
                                <dd>{{ project.amount|localizednumber }}&nbsp;€</dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Maturité</dt>
                                <dd>{% transchoice(project.period / 12) with {'%duration%': project.period / 12} %} demo-project-request_simulator-duration-select-option {% endtranschoice %}</dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Type de financement</dt>
                                <dd>{{ ('product-name_' ~ product.label)|trans }}</dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Participants</dt>
                                <dd>
                                    <div>Arrangeur : {% if arranger.0 is defined %} {{ arranger.0.company.name }} {% else %} non défini {% endif %}</div>
                                    <div>RUN : {% if run.0 is defined %} {{ run.0.company.name }} {% else %} non défini {% endif %}</div>
                                </dd>
                            </dl>
                            <dl class="col-lg-6 col-md-6">
                                <dt>Notations</dt>
                                <dd>
                                    <div>Projet : {% if project.natureProject %}{{ project.natureProject }}{% else %}N/A{% endif %}</div>
                                    <div>Emprunteur : {% if project.objectifLoan %}{{ project.objectifLoan }}{% else %}N/A{% endif %}</div>
                                </dd>
                            </dl>
                        </div>
                        {% if projectAttachments|length %}
                            <div class="col-lg-3 col-md-3">
                                <span class="pull-right">
                                    <a href="#" data-toggle="tooltip" title="Tout télécharger"><span class="icon fa-file-zip-o"></span></a>
                                </span>
                                <strong style="color: #2bc9af;">Documents</strong>
                                {% for projectAttachment in projectAttachments %}
                                    <div class="row">
                                        <span class="icon fa-file-u"></span>
                                        <a href="{{ path('demo_project_document', {'hash': project.hash, 'idProjectAttachment': projectAttachment.id}) }}">
                                            {{ projectAttachment.attachment.originalName }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <article class="dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="section-tabs-nav">
                    <header>
                        <h3 class="h3">Mon offre</h3>
                    </header>
                </div><!-- /.section-tabs-nav -->
                <div class="section-tabs-content tab-content">
                    {% include 'demo/partials/bids/my_bid.html.twig' %}
                </div><!-- /.section-tabs-content -->
            </div><!-- /.panel -->
        </article>
        <article class="dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="section-tabs-nav">
                    <header>
                        <h3 class="h3">Offres de participation</h3>
                    </header>
                </div><!-- /.section-tabs-nav -->
                <div class="section-tabs-content tab-content">
                    {% include 'demo/partials/bids/bids_list.html.twig' %}
                </div><!-- /.section-tabs-content -->
            </div><!-- /.panel -->
        </article><!-- /.dashboard-tab-pane -->
    </div>
{% endblock %}
