{% extends 'demo/_layout.html.twig' %}

{% set page = {
    id: 'demo-project-request',
    classNames: ''
} %}

{% block dashboardContent %}
    <form action="{{ path('demo_project_request_form') }}" method="post" enctype="multipart/form-data"
          data-formvalidation data-formvalidation-notificationselem=".form-validation-notifications">
        <input id="request-type" type="hidden" name="request-type">
        <section class="dashboard-tabs tabs">
            <div class="dashboard-tabs-content tab-content">
                <div id="form-container" class="dashboard-tab-pane">
                    <article class="panel">
                        <header class="panel-header">
                            <h2 class="margin-10-t">{% trans %} demo-project-request_title {% endtrans %}</h2>
                        </header>
                        <section class="text-align-center collapse in">
                            <button type="button" class="btn-default" data-request-type="primary"
                                    data-toggle="collapse" data-target=".request-form-panel" data-parent="#form-container"
                                    style="padding: 30px; margin: 30px 60px;">
                                <span class="icon fa-user" style="font-size: 36px;"></span><br>
                                Syndication primaire<br>
                                <small>pour un client</small>
                            </button>
                            <button type="button" class="btn-default" data-request-type="secondary"
                                    data-toggle="collapse" data-target=".request-form-panel" data-parent="#form-container"
                                    style="padding: 30px; margin: 30px 60px;">
                                <span class="icon fa-refresh" style="font-size: 36px;"></span><br>
                                Syndication silencieuse<br>
                                <small>d‘un encours client</small>
                            </button>
                        </section>
                        <section class="request-form-panel collapse">
                            <div class="row row-multi-col-computer">
                                <div class="form-field col-lg-4 col-md-4">
                                    <label for="input-title">
                                        Titre
                                        <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                    </label>
                                    <input id="input-title" type="text" step="any" name="title" class="input-field"
                                           data-formvalidation-input
                                           data-formvalidation-type="string"
                                           data-formvalidation-required="true">
                                </div><!-- /.form-field -->
                                <div class="form-field col-lg-4 col-md-4">
                                    <label for="input-borrower">
                                        Contrepartie emprunteuse
                                        <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                    </label>
                                    <select id="input-borrower" name="borrower" class="input-field"
                                            data-formvalidation-input
                                            data-formvalidation-required="true">
                                        <option value=""></option>
                                    </select>
                                </div><!-- /.form-field -->
                                <div class="form-field col-lg-4 col-md-4">
                                    <label for="input-partner">
                                        Marché
                                        <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                    </label>
                                    <select id="input-partner" name="partner" class="input-field"
                                            data-formvalidation-input
                                            data-formvalidation-required="true">
                                        <option value=""></option>
                                        <option value="2">Collectivités publiques</option>
                                        <option value="4">Énergie</option>
                                        <option value="3">Entreprises</option>
                                    </select>
                                </div><!-- /.form-field -->
                            </div>
                            {#<div class="row row-multi-col-computer">
                                <div class="form-field col-lg-6 col-md-6">
                                    <label for="input-sector">
                                        Secteur d‘activité
                                        <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                    </label>
                                    <select id="input-sector" name="sector" class="input-field"
                                            data-formvalidation-input
                                            data-formvalidation-required="true">
                                        <option value=""></option>
                                        {% for sector in sectors %}
                                            <option value="{{ sector.idCompanySector }}">{{ sector.sector }}</option>
                                        {% endfor %}
                                    </select>
                                </div><!-- /.form-field -->
                            </div>#}
                            <div class="row">
                                <div class="form-field">
                                    <label for="input-description">
                                        Description du projet
                                        <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                    </label>
                                    {% spaceless %}
                                        <textarea id="input-description" name="description" class="input-field"
                                                  rows="10"
                                                  data-formvalidation-input
                                                  data-formvalidation-required="true"
                                                  data-formvalidation-type="string">
                                        </textarea>
                                    {% endspaceless %}
                                </div><!-- /.form-field -->
                            </div>
                        </section>
                    </article>
                    <article class="request-form-panel panel collapse">
                        <h3>Besoin de financement</h3>
                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="input-amount">
                                    Montant
                                    <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                </label>
                                <input id="input-amount" type="text" step="any" name="amount" class="input-field"
                                       data-formvalidation-input
                                       data-formvalidation-type="integer"
                                       data-formvalidation-required="true"
                                       data-fee-reference-amount>
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="input-duration">
                                    Durée
                                    <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                </label>
                                <select id="input-duration" name="duration" class="input-field"
                                        data-formvalidation-input
                                        data-formvalidation-type="integer"
                                        data-formvalidation-required="true">
                                    <option value=""></option>
                                    {% for period in loanPeriods %}
                                        <option value="{{ period }}">{% transchoice(period) with {'%duration%': period} %} demo-project-request_simulator-duration-select-option {% endtranschoice %}</option>
                                    {% endfor %}
                                </select>
                            </div><!-- /.form-field -->
                        </div>
                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="input-amortization">
                                    Loi d‘amortissement
                                    <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                </label>
                                <select id="input-amortization" name="amortization" class="input-field"
                                        data-formvalidation-input
                                        data-formvalidation-type="string"
                                        data-formvalidation-required="true">
                                    <option value=""></option>
                                    <option value="{{ constant('Unilend\\Entity\\RepaymentType::REPAYMENT_TYPE_FIXED_PAYMENT') }}">Échéances constantes</option>
                                    <option value="{{ constant('Unilend\\Entity\\RepaymentType::REPAYMENT_TYPE_FIXED_CAPITAL') }}">Capital constant</option>
                                    <option value="{{ constant('Unilend\\Entity\\RepaymentType::REPAYMENT_TYPE_DEFERRED') }}">Différé</option>
                                    <option value="{{ constant('Unilend\\Entity\\RepaymentType::REPAYMENT_TYPE_IN_FINE') }}">In fine</option>
                                </select>
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="input-periodicity">
                                    Périodicité
                                    <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
                                </label>
                                <select id="input-periodicity" name="periodicity" class="input-field"
                                        data-formvalidation-input
                                        data-formvalidation-type="string"
                                        data-formvalidation-required="true">
                                    <option value=""></option>
                                    <option value="1">Mensuel</option>
                                    <option value="3">Trimestriel</option>
                                    <option value="6">Semestriel</option>
                                    <option value="12">Annuel</option>
                                </select>
                            </div><!-- /.form-field -->
                            {#<div class="form-field col-lg-4 col-md-4">
                                <label for="input-delay">
                                    Différé (mois)
                                </label>
                                <input id="input-delay" type="text" step="any" name="delay" class="input-field"
                                       data-formvalidation-input
                                       data-formvalidation-type="integer">
                            </div><!-- /.form-field -->#}
                        </div>
                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-4 col-md-4">
                                <label for="input-response-date">
                                    Date butoir de réponse
                                </label>
                                <div class="input-group set-right">
                                    <input id="input-response-date" type="text" name="response-date" class="input-field ui-has-datepicker" autocomplete="off">
                                    <div class="btn-group">
                                        <label for="filter-start"><span class="icon fa-calendar-u32 c-p1"> <span class="sr-only">Date butoir de réponse</span></span></label>
                                    </div><!-- /.btn-group -->
                                </div><!-- /.input-group -->
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-4 col-md-4">
                                <label for="input-release-date">
                                    Date de mise à disposition
                                </label>
                                <div class="input-group set-right">
                                    <input id="input-release-date" type="text" name="release-date" class="input-field ui-has-datepicker" autocomplete="off">
                                    <div class="btn-group">
                                        <label for="filter-start"><span class="icon fa-calendar-u32 c-p1"> <span class="sr-only">Date de mise à disposition</span></span></label>
                                    </div><!-- /.btn-group -->
                                </div><!-- /.input-group -->
                            </div><!-- /.form-field -->
                            <div class="form-field col-lg-4 col-md-4">
                                <label for="input-first-payment-date">
                                    Date de 1<sup>ère</sup> échéance
                                </label>
                                <div class="input-group set-right">
                                    <input id="input-first-payment-date" type="text" name="first-payment-date" class="input-field ui-has-datepicker" autocomplete="off">
                                    <div class="btn-group">
                                        <label for="filter-start"><span class="icon fa-calendar-u32 c-p1"> <span class="sr-only">Date de 1ère échéance</span></span></label>
                                    </div><!-- /.btn-group -->
                                </div><!-- /.input-group -->
                            </div><!-- /.form-field -->
                        </div>
                        <div class="row">
                            <div class="form-field">
                                <label>
                                    <input id="has-guarantee" type="checkbox" name="has-guarantee" value="true">
                                    Ce dossier fait déjà l‘objet d‘une demande de garantie auprès de FONCARIS
                                </label>
                                <label>
                                    <input id="request-guarantee" type="checkbox" name="request-guarantee" value="true">
                                    Faire une demande de garantie auprès de FONCARIS
                                </label>
                            </div>
                        </div>
                    </article>
                    <article class="request-form-panel panel collapse">
                        <h3>Structuration</h3>
                        <div class="row row-multi-col-computer">
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="input-arranger">Arrangeur</label>
                                <select id="input-arranger" name="arranger" class="input-field">
                                    <option value=""></option>
                                    <option value="{{ app.user.company.idCompany }}">{{ app.user.company.name }}</option>
                                    <option value="3">CA-CIB</option>
                                    <option value="4">Unifergie</option>
                                </select>
                            </div>
                            <div class="form-field col-lg-6 col-md-6">
                                <label for="input-run">RUN</label>
                                <select id="input-run" name="run" class="input-field">
                                    <option value=""></option>
                                    {% for run in runs %}
                                        <option value="{{ run.idCompany }}"{% if app.user.company.idCompany == run.idCompany %} selected{% endif %}>{{ run.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </article>
                    {# Waiting for precise explanations on that precise #}
                    {#<article class="request-form-panel panel collapse">
                        <h3>Frais / Commission</h3>
                        {% set feesTemplate = include('demo/partials/fees/new_project_fees.html.twig') %}
                        <div class="row row-multi-col-computer fees"
                             data-prototype="{{ feesTemplate|e('html_attr') }}"></div>
                    </article>#}
                    <article class="request-form-panel panel collapse">
                        <h3>Documents</h3>
                        <div class="form-extrafiles-list">
                            <div class="form-field row row-multi-col-computer">
                                <div class="col-lg-4 col-md-4">
                                    Type de document
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    Nom du document
                                </div>
                            </div>
                            <div class="form-field-multi file-upload-extra row row-multi-col-computer">
                                <div class="col-lg-4 col-md-4">
                                    {% include 'demo/partials/project_attachment_select.html.twig' with {'name': 'file'} %}
                                </div>
                                <div class="form-field col-lg-4 col-md-4">
                                    <input type="text" name="filename[file]" class="input-field">
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div id="form-file" class="custom-input-file"
                                         data-fileattach
                                         data-fileattach-inputname="file"
                                         data-fileattach-maxfiles="1"
                                         data-fileattach-filetypes="pdf jpg jpeg png doc docx xls xlsx"></div>
                                    <!-- /.ui-fileattach -->
                                </div>
                            </div>
                        </div><!-- /.form-extrafiles-list -->
                        <a href="javascript:;" class="btn-default btn-shape-sq-md ui-form-extrafiles-add">
                            <span class="icon fa-plus-u16 c-t2"></span>
                            <span class="sr-only">Ajouter un document</span>
                        </a>
                    </article>
                    <article class="request-form-panel panel collapse">
                        <div class="form-validation-notifications"></div>
                        <button type="submit" class="btn-continue btn-primary pull-right" data-spinnerbutton>
                            Déposer le dossier
                        </button>
                    </article>
                </div><!-- /.dashboard-tab-pane -->
            </div><!-- /.dashboard-tabs-content -->
        </section><!-- /.dashboard-tabs -->
    </form><!-- /.simulator -->

    <div id="form-extrafiles-template" class="ui-template-definition" style="display: none" disabled="disabled"
         aria-hidden="true">
        <div class="form-field-multi file-upload-extra row row-multi-col-computer">
            <div class="col-lg-4 col-md-4">
                {% include 'demo/partials/project_attachment_select.html.twig' with {'name': '__NUM__'} %}
            </div>
            <div class="form-field col-lg-4 col-md-4">
                <input type="text" name="filename[__NUM__]" class="input-field">
            </div>
            <div class="col-lg-4 col-md-4">
                <div id="form-extrafile" class="custom-input-file"
                     data-fileattach
                     data-fileattach-inputname="__NUM__"
                     data-fileattach-maxfiles="1"
                     data-fileattach-filetypes="pdf jpg jpeg png doc docx xls xlsx"></div><!-- /.ui-fileattach -->
            </div>
        </div><!-- /.file-upload-extra -->
    </div><!-- /.ui-template-definition -->
{% endblock %}

{% block pageHeadScripts %}
    <style>
        fieldset {
            border: 1px solid #eceaed;
        }

        legend {
            color: #2bc9af;
            font-size: 20px;
            font-weight: 400;
            padding: 0 5px;
        }

        .form-field .select2-container--default .select2-selection--single,
        .form-field .select2-container--default .select2-selection--single .select2-selection__rendered,
        .form-field .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 40px;
        }

        .form-field .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 40px;
        }
    </style>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function () {
            $('[data-request-type]').on('click', function () {
                $('#request-type').val($(this).attr('data-request-type'))
            })

            $('#has-guarantee, #request-guarantee').on('change', function () {
                var checked = this.value === 'true'
                var $siblingLabel = $(this).parent().siblings('label')

                $siblingLabel.slideToggle(checked, function () {
                    if (checked) {
                        $siblingLabel.find('input').prop('checked', false)
                    }
                })
            })

            $('#input-borrower').select2({
                ajax: {
                    url: '{{ path('demo_borrower_search_form') }}',
                    dataType: 'json',
                    type: 'POST',
                    cache: true,
                    processResults: function (response) {
                        if (response.success) {
                            return {
                                results: [{
                                    id: response.id,
                                    text: response.name
                                }]
                            }
                        }

                        return {
                            results: []
                        }
                    }
                },
                language: 'fr',
                minimumInputLength: 9,
                maximumInputLength: 9,
                placeholder: 'Veuillez saisir un numéro de SIREN'
            })
        })

        {% include 'demo/partials/fees/fees.js.twig' %}
    </script>
{% endblock %}
