{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/js/plugins/viewerjs/viewer.min.css">
    <style>
        .docview {

        }
        .docview-viewer .docview-files {
            position: relative;
            width: 100%;
            height: 60px;
            margin: 0 0 5px;
            overflow: hidden;
        }
        .docview-files:after {
            clear: both;
            display: table;
            content: " ";
        }
        .docview-viewer .docview-files {
            position: absolute;
            top: 0;
            left: 0;
        }
        .docview-files > * {
            display: block;
            margin-right: 5px;
            margin-bottom: 5px;
            padding-bottom: 8px;
        }
        .docview-files > *.active {
            background: #c7c7c7;
        }
        .docview-files .fa {
            font-size: 20px;
        }
        .docview-files .name {
            display: block;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 12px;
        }

        .docview-body {
            margin: 0;
        }
        .docview-viewer {
            width: 100%;
        }
        .docview-viewer-image,
        .docview-viewer-pdf {
            position: relative;
            width: 100%;
            height: 0;
            padding-bottom: 85%;
            display: none;
        }
        .docview-viewer-image.active,
        .docview-viewer-pdf.active {
            display: block;
        }
        .docview-viewer-image {
            padding-bottom: 65%;
        }
        .docview-viewer-image > img {
            display: none;
        }
        .docview-viewer-image img,
        .docview-viewer-pdf iframe {
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;
        }
        .docview-viewer-image img {
            height: auto;
        }

        .docview-viewer-image .viewer-prev,
        .docview-viewer-image .viewer-next,
        .docview-viewer-image .viewer-play,
        .docview-viewer-image .viewer-flip-horizontal,
        .docview-viewer-image .viewer-flip-vertical {
            display: none;
        }
        .docview-viewer-image .viewer-toolbar {
            width: 150px;
        }
    </style>
{% endblock %}

{% block pluginsJS %}
    <script src="{{ app.adminUrl }}/oneui/js/plugins/viewerjs/viewer.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function () {
            var Docview = {
                imgViewers: [],
                settings: {
                    pdfViewer: '{{ app.adminUrl }}/oneui/js/plugins/pdfjs/web/viewer.html'
                },
                render: function (url, index) {
                    url.indexOf('pdf') > -1 ? this.renderPdf(url, index) : this.renderImg(url, index)
                },
                renderImg: function (url, index) {
                    var $viewerContainer = $('.docview-body').find('.docview-viewer').eq(index)
                    var $imgContainer = $viewerContainer.find('.docview-viewer-image')
                    var $pdfContainer = $viewerContainer.find('.docview-viewer-pdf')

                    $pdfContainer.removeClass('active')
                    $imgContainer.addClass('active')

                    $imgContainer.find('img').attr('src', url)

                    var options = {
                        inline: true,
                        scalable: true,
                        movable: true,
                        navbar: false,
                        title: false,
                        transition: false,
                        built: function () {
                            $imgContainer.next().addClass('imgviewer')
                        }
                    }

                    if (this.imgViewers[index]) {
                        this.imgViewers[index].destroy()
                    }
                    this.imgViewers[index] = new Viewer($imgContainer.find('img')[0], options)
                },
                renderPdf: function (url, index) {
                    var $viewerContainer = $('.docview-body').find('.docview-viewer').eq(index)
                    var $imgContainer = $viewerContainer.find('.docview-viewer-image')
                    var $pdfContainer = $viewerContainer.find('.docview-viewer-pdf')

                    $imgContainer.removeClass('active')
                    $pdfContainer.addClass('active')

                    var newUrl = this.settings.pdfViewer + '?file=' + url
                    $pdfContainer.find('iframe').attr('src', newUrl)
                }
            }

            $('.docview-files').each(function (index) {
                var $active = $(this).find('.active')
                if ($active.length) {
                    Docview.render($active.data('docview-url'), index)
                }
            })

            var $doc = $(document)

            $doc.on('click', '[data-docview-url]', function () {
                var url = $(this).data('docview-url')
                var $linkContainer = $(this).closest('.docview-files')
                var index = $('.docview-files').index($linkContainer)

                $linkContainer.find('[data-docview-url]').removeClass('active')
                $(this).addClass('active')

                Docview.render(url, index)
            })
        })
    </script>
{% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        Document viewer prototype
    </h1>
{% endblock %}

{% block content %}
    <div id="docview" class="docview block block-bordered">
        <div class="block-header">
            <ul class="block-options">
                <li>
                    <button type="button" data-toggle="block-option" data-action="fullscreen_toggle"><i class="si si-size-fullscreen"></i></button>
                </li>
            </ul>
            <div class="block-title col-md-6">
                <form class="docview-form" action="#">
                    <div class="docview-files">
                        <button type="button" class="btn btn-default active" data-docview-url="{{ app.adminUrl }}/demo/operations.pdf">
                            <span class="fa fa-file-pdf-o"></span> <span class="name">operations.pdf</span>
                        </button>
                        <button type="button" class="btn btn-default" data-docview-url="{{ app.adminUrl }}/demo/emprunteurs.pdf">
                            <span class="fa fa-file-pdf-o"></span> <span class="name">emprunteurs.pdf</span>
                        </button>
                        <button type="button" class="btn btn-default" data-docview-url="{{ app.adminUrl }}/demo/doc-cni.jpg">
                            <span class="fa fa-file-image-o"></span> <span class="name">doc-cni.jpg</span>
                        </button>
                        <button type="button" class="btn btn-default" data-docview-url="{{ app.adminUrl }}/demo/montants.png">
                            <span class="fa fa-file-image-o"></span> <span class="name">montants.png</span>
                        </button>
                    </div>
                </form>
            </div>
            <div class="block-title col-md-6">
                <form class="docview-form" action="#">
                    <div class="docview-files">
                        <button type="button" class="btn btn-default" data-docview-url="{{ app.adminUrl }}/demo/operations.pdf">
                            <span class="fa fa-file-pdf-o"></span> <span class="name">operations.pdf</span>
                        </button>
                        <button type="button" class="btn btn-default" data-docview-url="{{ app.adminUrl }}/demo/emprunteurs.pdf">
                            <span class="fa fa-file-pdf-o"></span> <span class="name">emprunteurs.pdf</span>
                        </button>
                        <button type="button" class="btn btn-default active" data-docview-url="{{ app.adminUrl }}/demo/doc-cni.jpg">
                            <span class="fa fa-file-image-o"></span> <span class="name">doc-cni.jpg</span>
                        </button>
                        <button type="button" class="btn btn-default" data-docview-url="{{ app.adminUrl }}/demo/montants.png">
                            <span class="fa fa-file-image-o"></span> <span class="name">montants.png</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="docview-body block-content block-content-full">
            <div class="row">
                <div class="docview-viewer col-md-6">
                    <div class="docview-viewer-image">
                        <img src="" alt="">
                    </div>
                    <div class="docview-viewer-pdf">
                        <iframe src="" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="docview-viewer col-md-6">
                    <div class="docview-viewer-image">
                        <img src="" alt="">
                    </div>
                    <div class="docview-viewer-pdf">
                        <iframe src="" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
