{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
    <style>
        #partner-list-table tbody tr {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block pluginsJS %}
    <script src="{{ app.adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function(){
            // Page helpers are initialised in app.js and can be called quickly using their name
            App.initHelpers(['datatables'])

            $('#partner-list-table').dataTable({
                order: [[1, 'asc']],
                columnDefs: [
                    {targets: [0, 4], orderable: false}
                ]
            })

            $('#partner-list-table tbody').on('click', 'tr', function (event) {
                if ($(event.target).is(':not(a)')) {
                    window.location.href = $(this).data('url')
                }
            })
        })
    </script>
{% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        Gestion des partenaires
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="block">
            <div class="block-content">
                <table id="partner-list-table" class="table table-hover table-striped table-bordered table-header-bg table-vertical-center">
                    <thead>
                        <tr>
                            <th style="width: 150px;">&nbsp;</th>
                            <th style="width: 25%">Partenaire</th>
                            <th style="width: 25%">Statut</th>
                            <th style="width: 25%">Date de création</th>
                            <th style="width: 150px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for partner in partners %}
                            <tr data-url="{{ app.adminUrl }}/partenaires/edit/{{ partner.id }}">
                                <td style="text-align: center">
                                    <img src="{{ app.staticUrl }}/images/admin/partner/{{ partner.logo }}" alt="{{ partner.idCompany.name|e('html_attr') }}" class="img-responsive-vertical box-shadow">
                                </td>
                                <td>{{ partner.idCompany.name }}</td>
                                <td>
                                    {% if partner.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Partner::STATUS_PENDING') %}
                                        En attente
                                    {% elseif partner.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Partner::STATUS_VALIDATED') %}
                                        Validé
                                    {% elseif partner.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Partner::STATUS_DISABLED') %}
                                        Désactivé
                                    {% endif %}
                                </td>
                                <td data-order="{{ partner.added|date('U') }}">{{ partner.added|date('d/m/Y') }}</td>
                                <td>
                                    <a href="{{ app.adminUrl }}/partenaires/edit/{{ partner.id }}" class="btn btn-xs btn-default">Détails <span class="fa fa-chevron-right push-5-l"></span></a>
                                    <a href="{{ app.adminUrl }}/partenaires/tiers/{{ partner.id }}" class="btn btn-xs btn-default">Tiers <span class="fa fa-chevron-right push-5-l"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
