{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ app.adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function () {
            App.initHelpers(['datatables'])

            var projectsLoadingError = function ($projectsContainer) {
                var $message = $('<div></div>')
                    .addClass('alert')
                    .addClass('alert-info')
                    .text('Impossible de charger la liste des projets')
                $projectsContainer.html($message)
            }

            $('.nav a').bind('click', function () {
                var $link = $(this)
                var $tab = $($link.attr('href'))
                var $blockContainer = $tab.closest('.block')
                var $blockHeader = $blockContainer.find('.block-header')
                var statusLabel = $link.find('.project-status-label').text()

                $blockHeader.removeClass('hidden').find('.block-title').text(statusLabel)

                if (!$tab.hasClass('loaded')) {
                    var $blockContent = $blockContainer.find('.block-content')
                    var $projectsContainer = $tab.find('.projects-list')

                    $blockContainer.addClass('block-opt-refresh')
                    $blockContent.addClass('pull-t').addClass('hidden')
                    $projectsContainer.html('')

                    $.ajax({
                        method: 'POST',
                        url: '{{ app.adminUrl }}/partenaires/projets/{{ type }}/{{ id }}',
                        dataType: 'json',
                        data: {
                            projectStatus: $link.data('project-status')
                        },
                        complete: function () {
                            $blockContainer.removeClass('block-opt-refresh')
                            $blockContent.removeClass('hidden')
                        },
                        success: function (response) {
                            if (response && response.success && response.data) {
                                $projectsContainer.html(response.data)
                                $tab.addClass('loaded')

                                App.initHelpers(['datatables'])
                            } else {
                                projectsLoadingError($projectsContainer)
                            }
                        },
                        error: function () {
                            projectsLoadingError($projectsContainer)
                        }
                    })
                }
            })
        })
    </script>
{% endblock %}

{% block pageHeader %}
    <div class="row items-push">
        <div class="col-sm-7">
            <h1 class="page-heading">
                Statistiques <small>{{ name }}</small>
            </h1>
        </div>
        <div class="col-sm-5 text-right hidden-xs">
            <ol class="breadcrumb push-10-t">
                <li><a href="{{ app.adminUrl }}/partenaires">Partenaires</a></li>
                <li><a href="{{ app.adminUrl }}/partenaires/edit/{{ partner.id }}">{{ partner.idCompany.name }}</a></li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="block">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <span class="fa fa-question-circle-o font-s13" data-toggle="tooltip" title="Projets en statut &quot;Demande complète&quot; ou plus"></span>
                            </li>
                        </ul>
                        <h3 class="block-title">Envoyés</h3>
                    </div>
                    <div class="block-content text-center">
                        <div class="row pull-t items-push">
                            <div class="col-xs-6 border-r">
                                <div class="h3 text-primary">{{ kpi.sentCount|localizednumber }}</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="h3 text-primary">{{ kpi.sentAmount|localizednumber }}&nbsp;€</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Fonds débloqués</h3>
                    </div>
                    <div class="block-content text-center">
                        <div class="row pull-t items-push">
                            <div class="col-xs-6 border-r">
                                <div class="h3 text-primary">{{ kpi.repaymentCount|localizednumber }}</div>
                            </div>
                            <div class="col-xs-6">
                                <div class="h3 text-primary">{{ kpi.repaymentAmount|localizednumber }}&nbsp;€</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <span class="fa fa-question-circle-o font-s13" data-toggle="tooltip" title="Projets déjà passés en statut &quot;Problème&quot; ou &quot;Défaut&quot;"></span>
                            </li>
                        </ul>
                        <h3 class="block-title">Problèmes</h3>
                    </div>
                    <div class="block-content text-center">
                        <p class="h3 text-primary pull-t">{{ kpi.problemRate|localizednumber }}&nbsp;%</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <span class="fa fa-question-circle-o font-s13" data-toggle="tooltip" title="Projets non éligibles ou rejetés. Ne contient pas les abandons."></span>
                            </li>
                        </ul>
                        <h3 class="block-title">Rejets</h3>
                    </div>
                    <div class="block-content text-center">
                        <p class="h3 text-primary pull-t">{{ kpi.rejectionRate|localizednumber }}&nbsp;%</p>
                    </div>
                </div>
            </div>
        </div>
        {% if projectsCountSortedByStatus is not empty %}
            <div class="row">
                <div class="col-lg-3">
                    <div class="block">
                        <div class="block-content">
                            <ul class="nav nav-pills nav-stacked push" data-toggle="tabs">
                                {% for projectStatus in projectsCountSortedByStatus %}
                                    <li{% if projectStatus.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::COMMERCIAL_REVIEW') %} class="active"{% endif %}>
                                        <a href="#project-status-{{ projectStatus.status }}" data-project-status="{{ projectStatus.status }}">
                                            <span class="badge pull-right">{{ projectStatus.statusCount }}</span>
                                            <span class="project-status-label">{{ projectStatus.statusLabel }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="block">
                        <div class="block-header{% if projectsCountSortedByStatus[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::COMMERCIAL_REVIEW')] is not defined %} hidden{% endif %}">
                            <h3 class="block-title">
                                {% if projectsCountSortedByStatus[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::COMMERCIAL_REVIEW')] is defined %}Traitement commercial{% endif %}
                            </h3>
                        </div>
                        <div class="block-content tab-content">
                            {% if projectsCountSortedByStatus[constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::COMMERCIAL_REVIEW')] is not defined %}
                                <div role="tabpanel" class="tab-pane active">
                                    <div class="push-15">Cliquez sur un statut pour voir la liste des projets correspondant</div>
                                </div>
                            {% endif %}
                            {% for projectStatus in projectsCountSortedByStatus %}
                                <div role="tabpanel" class="tab-pane{% if projectStatus.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::COMMERCIAL_REVIEW') %} loaded active{% endif %}" id="project-status-{{ projectStatus.status }}">
                                    <div class="projects-list">
                                        {% if projectStatus.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::COMMERCIAL_REVIEW') %}
                                            {% include 'partenaires/projects_list.html.twig' %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
