{# User / Preter / Operations #}
{% extends 'borrower_account/_borrower_account_base.html.twig' %}
{% import 'extensions/_general.macros.twig' as general %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
id: 'user-emprunteur-operations',
title: 'Emprunteur / Operations',
permalink: route('user/emprunteur/operations'),
classNames: 'user-emprunteur-operations'
} %}

{# Placeholder data #}
{% set placeholderData = {
"operations": [{
"id": 1,
"typeId": 3,
"typeName": "Affectation aux preteurs de la mensualité",
"contractId": 26781,
"projectId": 1,
"date": "08/06/2016",
"amount": -584.45,
"balance": 43.54,
"details": false,
"export": 0
},{
"id": 2,
"typeId": 3,
"typeName": "Commission mensuelle sur projet",
"contractId": 26781,
"projectId": 2,
"date": "10/06/2016",
"amount": -15.37,
"balance": 23.54,
"details": {
"items": [{
"label": "Commission HT",
"value": -12.84
},{
"label": "TVA",
"value": -2.56
}]
},
"export": 0
},{
"id": 3,
"typeId": 4,
"typeName": "Prélevement mensualité",
"contractId": 26781,
"projectId": 3,
"date": "11/06/2016",
"amount": 0.54,
"balance": 3.54,
"details": false,
"export": 0
},{
"id": 4,
"typeId": 4,
"typeName": "Affectation aux preteurs de la mensualité",
"contractId": 26781,
"projectId": 4,
"date": "11/06/2016",
"amount": 0.58,
"balance": 2.80,
"details": false,
"export": 1
},{
"id": 5,
"typeId": 4,
"typeName": "Commission mensuelle sur projet",
"contractId": 15478,
"projectId": 5,
"date": "10/05/2016",
"amount": -15.37,
"balance": 2.22,
"details": {
"items": [{
"label": "Commission HT",
"value": -12.81
},{
"label": "TVA",
"value": -2.56
}]
},
"export": 0
},{
"id": 6,
"typeId": 4,
"typeName": "Prélèvement mensualité",
"contractId": 87456,
"projectId": 6,
"date": "10/05/2016",
"amount": -15.37,
"balance": 1.66,
"details": {
"items": [{
"label": "Commission HT",
"value": -12.84
},{
"label": "TVA",
"value": -2.56
}]
},
"export": 0
},{
"id": 7,
"typeId": 4,
"typeName": "Prélèvement mensualité",
"contractId": 26781,
"projectId": 7,
"date": "09/04/2016",
"amount": 0.32,
"balance": 1.22,
"details": false,
"export": 0
},{
"id": 8,
"typeId": 1,
"typeName": "Affectation aux préteurs de la mensualité",
"contractId": 26781,
"projectId": 7,
"date": "09/05/2016",
"amount": -592.45,
"balance": 0.98,
"details": false,
"export": 1
},{
"id": 9,
"typeId": 4,
"typeName": "Commission mensuelle sur projet",
"contractId": 26781,
"projectId": 7,
"date": "09/03/2016",
"amount": -15.37,
"balance": 20.98,
"details": {
"items": [{
"label": "Commission HT",
"value": -12.84
},{
"label": "TVA",
"value": -2.56
}]
},
"export": 0
},{
"id": 10,
"typeId": 4,
"typeName": "Prélèvement mensualité",
"contractId": 26781,
"projectId": 7,
"date": "01/04/2016",
"amount": 607.82,
"balance": 20.45,
"details": false,
"export": 1
},{
"id": 11,
"typeId": 2,
"typeName": "Affectation aux preteurs de la mensualité",
"contractId": 26781,
"projectId": 7,
"date": "09/03/2016",
"amount": -592.45,
"balance": 19.95,
"details": false,
"export": 1
}]
} %}
{% set filterOperations = {'start': '2016-01-01', 'end': '2016-07-01'} %}
{% set filterLoans = {'start': '2016-01-01', 'end': '2016-07-01'} %}
{% set operations = placeholderData.operations %}

{% block dashboardContent %}

    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-nav">
            <ul class="nav nav-dashboard-tabs">
                <li role="presentation" class="active"><a href="#operations" role="tab" data-toggle="tab">{{ 'borrower-operation_your-operations'|trans|capitalize }}</a></li>
                <li role="presentation"><a href="#mydocuments" role="tab" data-toggle="tab">{{ 'borrower-document_documents'|trans|capitalize }}</a></li>
            </ul>
        </div>
        <div class="dashboard-tabs-content tab-content">
            {# MY OPERATIONS #}
            <article id="operations" role="tabpanel" class="dashboard-tab-pane tab-pane active">
                <div class="panel panel-operations-operations">
                    <header class="panel-header">
                        <h3 class="panel-title">{{ 'borrower-operation_all-your-operations'|trans|capitalize }}</h3>
                        <div class="panel-controls">
                            <a href="#todo" class="btn-default"><span class="icon fa-print-u32"></span><span class="label">{{ 'borrower-operation_print'|trans|capitalize }}</span></a>
                            <a href="#todo" class="btn-default"><span class="icon fa-excel-u32"></span><span class="label">{{ 'borrower-operation_csv-export'|trans }}</span></a>
                        </div>
                    </header><!-- /.panel-header -->
                    <div class="panel-content">

                        <form id="form-filters-operations" action="{{ route('user/preter/operations/operations/filter') }}" method="get" class="form-filters" data-ajax>
                            <div id="filters" class="row row-multi-col-computer collapse in">
                                <div class="row">
                                    <div class="form-field">
                                        <div class="field-label">
                                            <label>{{ 'borrower-operation_choose-a-period'|trans|capitalize }}</label>
                                        </div><!-- /.field-label -->
                                        <div class="row input-fields">
                                            <div class="col-lg-3 col-md-3 col-sm-4">
                                                <label class="grey-label">{{ 'borrower-operation_range'|trans|capitalize }}</label>
                                                <div class="row">
                                                    <select name="filter-slide" class="input-field">
                                                        <optgroup>
                                                            <option value="1">1 {{ 'borrower-operation_month'|trans|capitalize }}</option>
                                                            <option value="3">3 {{ 'borrower-operation_month'|trans|capitalize }}</option>
                                                            <option value="6">6 {{ 'borrower-operation_month'|trans|capitalize }}</option>
                                                            <option value="12">12 {{ 'borrower-operation_month'|trans|capitalize }}</option>
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4">
                                                <label class="grey-label">{{ 'borrower-operation_year'|trans|capitalize }}</label>
                                                <div class="row">
                                                    <select name="filter-year" class="input-field">
                                                        <optgroup>
                                                            {% for year in  2013.."now"|date("Y") %}
                                                            <option value="{{ year }}">{{ year }}</option>
                                                            {% endfor %}
                                                        </optgroup>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4">
                                                <label class="grey-label">{{ 'borrower-operation_customized-date'|trans|capitalize }}</label>
                                                <div class="row">
                                                    <div class="input-group set-right">
                                                        <input type="text" id="filter-start" name="filter[start]" value="{{ default_filter_date.start }}" placeholder="Début" class="input-field ui-has-datepicker" />
                                                        <div class="btn-group">
                                                            <label for="filter-start"><span class="icon fa-calendar-u32 c-p1"><span class="sr-only">{{ 'borrower-operation_select-start-date'|trans|capitalize }}</span></span></label>
                                                        </div><!-- /.btn-group -->
                                                    </div><!-- /.input-group -->
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-4">
                                                <label>&nbsp;</label>
                                                <div class="row">
                                                    <div class="input-group set-right">
                                                        <input type="text" id="filter-end" name="filter[end]" value="{{ default_filter_date.end }}" placeholder="Fin" class="input-field ui-has-datepicker"/>
                                                        <div class="btn-group">
                                                            <label for="filter-end"><span class="icon fa-calendar-u32 c-p1"><span class="sr-only">{{ 'borrower-operation_select-end-date'|trans|capitalize }}</span></span></label>
                                                        </div><!-- /.btn-group -->
                                                    </div><!-- /.input-group -->
                                                </div>
                                            </div>
                                        </div><!-- /.input-fields -->
                                    </div><!-- /.form-field -->
                                </div>
                                <div class="row" style="padding:0;">
                                    <div class="form-field">
                                        <div class="field-label">
                                            <label>{{ 'borrower-operation_choose-one-or-several-filter'|trans|capitalize }}</label>
                                        </div><!-- /.field-label -->
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <label class="grey-label">{{ 'borrower-operation_filter-by-operation'|trans|capitalize }}</label>
                                        <div class="row">
                                            <select name="filter-op" class="input-field">
                                                <optgroup>
                                                    <option value="1">Toutes les opérations</option>
                                                    <option value="2">Commission mensuelle sur projet</option>
                                                    <option value="3">Affectation aux preteurs de la mensualité</option>
                                                    <option value="4">Prélèvement mensualité</option>
                                                    <option value="5">Virement des fonds</option>
                                                    <option value="6">Octroi du financement</option>
                                                    <option value="7">Remboursement anticipé</option>
                                                    <option value="8">Affectation aux préteurs du remboursement anticipé</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-4">
                                        <label class="grey-label">{{ 'borrower-operation_filter-by-project'|trans|capitalize }}</label>
                                        <div class="row">
                                            <select name="filter-project" class="input-field">
                                                <optgroup>
                                                    <option value="all">Tous les projets</option>
                                                    <option value="project-1">@TODO - current projects - 1</option>
                                                    <option value="project-2">@TODO - current projects - 2</option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form><!-- /.form-operations-filters -->

                        <div class="table-scroll">
                            <table class="table table-myoperations">
                                <thead class="table-sortable-columns">
                                <tr>
                                    <th class="table-column table-myoperations-borrower-item-operation">
                                        <span class="label">{% trans %}borrower-operation_operation{% endtrans %}</span>
                                    </th>
                                    <th class="table-column cell-right table-myoperations-borrower-item-projet">
                                        <span class="label">{% trans %}borrower-operation_project{% endtrans %}</span>
                                    </th>
                                    <th class="table-column cell-right table-myoperations-borrower-item-date">
                                        <span class="label">{% trans %}borrower-operation_operation-date{% endtrans %}</span>
                                    </th>
                                    <th class="table-column cell-right table-myoperations-borrower-item-amount">
                                        <span class="label">{% trans %}borrower-operation_amount{% endtrans %}</span>
                                    </th>
                                    <th class="table-column cell-right table-myoperations-borrower-item-detail">
                                        <span class="label">{% trans %}borrower-operation_detail{% endtrans %}</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i, op in operations %}
                                    {% set classAmount = op.amount > 0 ? 'ui-amount-positive' : 'ui-amount-negative' %}
                                    {% set classBalance = op.balance > 0 ? 'ui-balance-positive' : 'ui-balance-negative' %}

                                    <tr {{ general.attrsString({ 'id': 'operation-' ~ op.id }) }}
                                            {% if op.details is not empty %}
                                                data-details='{{ op.details|json_encode|escape('html_attr') }}'
                                            {% endif %}
                                            class="table-myoperations-item {{ classAmount }} {{ classBalance }}">
                                        <td class="table-myoperations-item-type">{{ op.typeName }}</td>
                                        <td class="table-myoperations-item-contract cell-right">{{ op.contractId }}</td>
                                        <td class="table-myoperations-item-date cell-right">{{ op.date|date('d/m/y') }}</td>
                                        <td class="table-myoperations-item-amount cell-right">{{ op.amount|nbsp }}€</td>
                                        <td class="table-myoperations-item-balance cell-right">{% if op.export == 1 %} <a href="#todo" class="export">exporter</a> {% endif %}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table><!-- /.table-myoperations -->
                        </div><!-- /.table-scroll -->
                    </div><!-- /.panel-content -->
                </div><!-- /.panel -->
            </article><!-- /#myoperations.tab-pane -->


            <article id="mydocuments" role="tabpanel" class="dashboard-tab-pane tab-pane">
                <div class="panel panel-operations-operations">
                    <h3 class="panel-title">Documents contractuels</h3>
                    <div class="panel-content">
                        <div class="table-scroll">
                            <table class="table table-mydocuments">
                                <thead>
                                <tr>
                                    <th class="table-column table-mydocuments-borrower-item-filenumber">
                                        <span class="label">Numéro du dossier</span>
                                    </th>
                                    <th class="table-column table-mydocuments-borrower-item-pouvoir">
                                        <span class="label">Pouvoir</span>
                                    </th>
                                    <th class="table-column table-mydocuments-borrower-item-mandat">
                                        <span class="label">Mandat</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table-mydocuments-item list-files">
                                    <td>
                                        27685
                                    </td>
                                    <td>
                                        <div class="document-download">
                                            <a href="#todo" target="_blank">
                                                <img class="document-download" src="{{ siteurlmedia('dashboard/file-bond-28x38.png') }}" alt="Pouvoir"/>
                                                Télécharger
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="document-download">
                                            <a href="#todo" target="_blank">
                                                <img class="document-download" src="{{ siteurlmedia('dashboard/file-contract-28x38.png') }}" alt="Mandat"/>
                                                Télécharger
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table><!-- /.table-myoperations -->
                        </div><!-- /.table-scroll -->
                    </div>
                    <h3 class="panel-title">Factures</h3>
                    <div class="panel-content">
                        <div class="table-scroll">
                            <table class="table table-mydocuments">
                                <thead>
                                <tr>
                                    <th class="table-column table-mydocuments-borrower-item-billnumber">
                                        <span class="label">N° de facture</span>
                                    </th>
                                    <th class="table-column table-mydocuments-borrower-item-billfilenumber">
                                        <span class="label">N° du dossier</span>
                                    </th>
                                    <th class="table-column table-mydocuments-borrower-item-billdate">
                                        <span class="label">Date de la facture</span>
                                    </th>
                                    <th class="table-column table-mydocuments-borrower-item-bill">
                                        <span class="label">Facture</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>

                                {% set placeholderData = {
                                bills : [{
                                billnumber: 'FR-E200562154',
                                filenumber: '27658',
                                datetime: '12/06/2016'
                                },{
                                billnumber: 'FR-E200562458',
                                filenumber: '27698',
                                datetime: '12/07/2016'
                                },{
                                billnumber: 'FR-E200562169',
                                filenumber: '22358',
                                datetime: '17/07/2016'
                                },{
                                billnumber: 'FR-E200562999',
                                filenumber: '17648',
                                datetime: '21/07/2016'
                                }]
                                } %}

                                {% set bills = placeholderData.bills %}

                                {% for i, item in bills %}
                                    <tr class="table-mydocuments-item list-files">
                                        <td class="table-mydocuments-borrower-item-billnumber">
                                            {{ bills[i].billnumber }}
                                        </td>
                                        <td class="table-mydocuments-borrower-item-billfilenumber">
                                            {{ bills[i].filenumber }}
                                        </td>
                                        <td class="table-mydocuments-borrower-item-billdate">
                                            {{ bills[i].datetime }}
                                        </td>
                                        <td class="table-mydocuments-borrower-item-bill">
                                            <div class="document-download">
                                                <a href="#todo" target="_blank">
                                                    <img class="document-download" src="{{ siteurlmedia('dashboard/file-pdf-60x80.png') }}" alt="PDF"/>
                                                    Télécharger
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table><!-- /.table-myoperations -->
                        </div><!-- /.table-scroll -->
                    </div>
                </div>
            </article><!-- /#mydocuments.tab-pane
    </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->

{% endblock %}
