{# Email - Block Header #}

{# Usage:

{% embed 'partials/block-header.twig' with {'headerHeight': 150, 'spacerTopHeight': 60, 'spacerBottomHeight': 60} %}
  {% block headerImage %}
    <p>No header image HTML now because I've overwritten it with this block</p>
  {% endblock %}
{% endembed %}

Variables:

  tableClassNames:      {String}
  tableStyle:           {String}
  headerHeight:         {Int} in pixels, Default: 200
  spacerLeftWidth:      {Int} in pixels, Default: 55
  spacerRightWidth:     {Int} in pixels, Default: 55
  spacerTopHeight:      {Int} in pixels, Default: 50
  spacerBottomHeight:   {Int} in pixels, Default: 50
  hasSpacerLeft:        {Boolean}
  hasHeaderImage:       {Boolean}
  hasSpacerRight:       {Boolean}

Blocks:

  headerImage

#}

{# Defaults #}
{% set tableClassNames = tableClassNames|default('') %}
{% set tableStyle = tableStyle|default('') %}
{% set headerHeight = headerHeight|default(200) %}
{% set imageWidth = imageWidth|default(360) %}
{% set imageHeight = imageHeight|default(headerHeight) %}
{% set spacerLeftWidth = spacerLeftWidth|default(55) %}
{% set spacerRightWidth = spacerRightWidth|default(55) %}
{% set spacerTopHeight = spacerTopHeight|default(50) %}
{% set spacerBottomHeight = spacerBottomHeight|default(50) %}
{% set hasSpacerLeft = hasSpacerLeft|default(true) %}
{% set hasHeaderImage = hasHeaderImage|default(true) %}
{% set hasSpacerRight = hasSpacerRight|default(false) %}

{# HTML code #}
<table border="0" width="100%" cellpadding="0" cellspacing="0" class="table_reset {{ tableClassNames }}" style="{{ css.table_reset }}{{ css.bg_white }} {{ tableStyle }}">
  <tr>
    {% if hasSpacerLeft == true %}<td width="{{ spacerLeftWidth }}" align="left" valign="top" class="td_reset" style="{{ css.td_reset }}"><img src="{{ siteurlmedia('email/1x1.gif') }}" width="{{ spacerLeftWidth }}" height="{{ headerHeight }}" alt="" class="image_reset" style="{{ css.image_reset }} width: {{ spacerLeftWidth }}px; height: {{ headerHeight }}px;" /></td>{% endif %}
    <td align="left" valign="top" class="td_reset" style="{{ css.td_reset }}">
      <img src="{{ siteurlmedia('email/1x1.gif') }}" border="0" width="100%" height="{{ spacerTopHeight }}" alt="" class="image_reset" style="{{ css.image_reset }} width: 100%; height: {{ spacerTopHeight }}px;" />
      <h1 style="{{ css.ff_title }}{{ css.fs_title }}{{ css.no_spacing }}"><img src="{{ siteurlmedia('email/logo-unilend-185x39.gif') }}" border="0" width="185" height="39" alt="Unilend" class="image_reset" style="{{ css.image_reset }} width: 185px; height: 39px;" /></h1>
      <img src="{{ siteurlmedia('email/1x1.gif') }}" border="0" width="100%" height="{{ spacerBottomHeight }}" alt="" class="image_reset" style="{{ css.image_reset }} width: 100%; height: {{ spacerBottomHeight }}px;" />
    </td>
    {% if hasHeaderImage == true %}<td width="{{ imageWidth }}" align="right" valign="top" class="td_reset" style="{{ css.td_reset }} width: {{ imageWidth }}px;">{% block headerImage %}<img src="{{ siteurlmedia('email/header-360x200.jpg') }}" border="0" width="{{ imageWidth }}" height="{{ imageHeight }}" alt="" class="image_reset" style="{{ css.image_reset }} width: {{ imageWidth }}px; height: {{ imageHeight }}px;">{% endblock %}</td>{% endif %}
    {% if hasSpacerRight == true %}<td width="{{ spacerRightWidth }}" align="left" valign="top" class="td_reset" style="{{ css.td_reset }} width: {{ spacerRightWidth }}px;"><img src="{{ siteurlmedia('email/1x1.gif') }}" width="{{ spacerRightWidth }}" height="{{ headerHeight }}" alt="" class="image_reset" style="{{ css.image_reset }} width: {{ spacerRightWidth }}px; height: {{ headerHeight }}px;" /></td>{% endif %}
  </tr>
</table>
