{% extends 'layouts/_page_with_sidebar.html.twig' %}

{% set page = {
    id: 'demo-projects',
    classNames: ''
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs-content">
        <article class="dashboard-tab-pane">
            <div class="panel project-list">
                {% if projects|length %}
                    <div class="panel-content project-list-content" style="margin-bottom: 0;">
                        <div class="project-list-filters">
                            {% if sortDirection == 'desc' %}
                                {% set sortParameter = 'asc' %}
                            {% else %}
                                {% set sortParameter = 'desc' %}
                            {% endif %}
                            <div class="project-list-item-category project-list-filter{% if sortType == 'idPartner' %} ui-sortable-current ui-sortable-direction-{{ sortDirection }} {% endif %}">
                                <a href="{{ path(app.request.attributes.get('_route'), {'page': currentPage, 'sortType': 'idPartner', sortDirection: sortParameter}) }}">
                                    <span class="label">Marché</span>
                                    <span class="project-list-filter-order"></span>
                                </a>
                            </div><!-- /.project-list-filter -->
                            <div class="project-list-item-info project-list-filter{% if sortType == 'title' %} ui-sortable-current ui-sortable-direction-{{ sortDirection }} {% endif %}">
                                <a href="{{ path(app.request.attributes.get('_route'), {'page': currentPage, 'sortType': 'title', sortDirection: sortParameter}) }}">
                                    <span class="label">Projet</span>
                                    <span class="project-list-filter-order"></span>
                                </a>
                            </div><!-- /.project-list-filter -->
                            <div class="project-list-item-view project-list-filter">
                                <span class="label">&nbsp;</span>
                            </div><!-- /.project-list-filter -->
                        </div><!-- /.project-list-filters -->

                        <div class="project-list-items">
                            {% for project in projects %}
                                <article class="project-list-item{% if false == project.isOnline %} ui-project-expired{% endif %}">
                                    <div class="project-list-item-category">
                                        {% include 'partials/market_bubble.html.twig' with {'market': project.marketSegment.label} %}
                                    </div>
                                    <div class="project-list-item-info">
                                        <h3 class="project-list-item-title"><a href="{{ path('lender_project_details', {'slug': project.slug }) }}">{{ project.borrowerCompany.name }}</a></h3>
                                        <div class="project-list-item-description">
                                            <p>{{ project.title|striptags|raw|truncate(100) }}</p>
                                        </div>
                                    </div>
                                    <div class="project-list-item-view">
                                        <a href="{{ path('lender_project_details', {'slug': project.slug}) }}">
                                            <span class="icon fa-angle-right"></span><span class="sr-only">{% trans %} project-list_view-project-label {% endtrans %}</span>
                                        </a>
                                    </div>
                                </article><!-- /.project-list-item -->
                            {% endfor %}
                        </div><!-- /.project-list-items -->

                        {% if showPagination %}
                            {% include 'project/list/partials/projects_pagination.html.twig' %}
                        {% endif %}
                    </div><!-- /.panel-content.project-list-content -->
                {% else %}
                    <div class="message-info" style="margin-bottom: 0;">
                        Aucun projet de financement ne vous est proposé pour le moment.
                    </div>
                {% endif %}
            </div><!-- /.panel -->
        </article><!-- /.dashboard-tab-pane -->
    </div><!-- /.dashboard-tabs-content -->
{% endblock %}

{% block pageHeadScripts %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 12px;
            padding: 2px 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
            font-size: small;
        }
    </style>
{% endblock %}
