<div>
    {% if bidMessage is defined %}
    {{ bidMessage }}
    {% endif %}
</div>
<form action="{{ path('bid_on_project', {'projectId' : project.id_project}) }}" method="post" class="project-single-form project-single-form-invest">
    <div class="form-field">
        <label>
            <span class="sr-only">{% trans %} project-detail_side-bar-bids-amount-label {% endtrans %}</span>
            <input type="number" min="{{ setting('pret min') }}" step="any" name="invest[amount]" value="" placeholder="{% trans %} project-detail_side-bar-bids-amount-placeholder {% endtrans %}" class="input-field"/>
        </label>
    </div><!-- /.form-field -->
    <div class="form-field">
        <label>
            <span class="sr-only">{% trans %} project-detail_side-bar-bids-rate-label {% endtrans %}</span>
            <input type="number" min="{{ constant('\\bids::BID_RATE_MIN') }}" max="{{ constant('\\bids::BID_RATE_MAX') }}" step="0.1" name="invest[interest]" value=""
                   placeholder="{% trans %} project-detail_side-bar-bids-rate-placeholder {% endtrans %}" class="input-field"/>
        </label>
    </div><!-- /.form-field -->
    <div class="btn-toolbar">
        <button class="btn-primary btn-size-full">{% trans %} project-detail_side-bar-bids-submit-button {% endtrans %}</button>
    </div><!-- /.btn-toolbar -->
    <div class="field-help">
        <p>{% trans with { '%rateMin%' : constant('\\bids::BID_RATE_MIN'), '%rateMax%' : constant('\\bids::BID_RATE_MAX') }%} project-detail_side-bar-bids-help-text {% endtrans %}</p>
    </div>
</form><!-- /.project-single-form-invest -->