{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <h2 class="h3">
                        Contrôle Interne
                    </h2>
                </div>
            </div>
            <div id="validate-repayments" class="block block-rounded">
                <div class="block-content block-content-full">
                    <h3 class="h4 push-20">Remboursements nécessitant validation</h3>
                    {% if receptionsToValidate|length > 0 %}
                        <table class="table table-bordered table-hover table-header-bg">
                            <thead>
                            <tr>
                                <th style="width: 25%">
                                    Projet
                                </th>
                                <th style="width: 25%">
                                    Mission Recouvrement
                                </th>
                                <th style="width: 25%">
                                    Date réception
                                </th>
                                <th style="width: 25%">
                                    Action
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for reception in receptionsToValidate %}
                                <tr>
                                    <td>
                                        <a href="/dossiers/details_impays/{{ reception.idProject.idProject }}" data-toggle="tooltip" data-original-title="Details des retard">{{ reception.idProject.title }}</a><br>
                                        <span class="text-muted">ID: {{ reception.idProject.idProject }}</span>
                                    </td>
                                    </td>
                                    <td>
                                        {% if reception.idProject.getDebtCollectionMissions()|length > 0 %}
                                            Oui
                                        {% else %}
                                            Non
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ reception.added|localizeddate('short', 'none') }}
                                    </td>
                                    <td class="text-center">
                                        <a href="/repayment/confirmation/{{ reception.idReception }}" class="btn btn-xs btn-primary" data-toggle="tooltip" data-original-title="Voir détails du remboursement et valider"><i class="fa fa-arrow-right"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert">
                            <p>Aucun remboursement en en attente</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
