{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{# See index.html.twig for the variable reference #}
{% set cip = {
    complete: false,
    last_completed_date: null,
    expired: false,
    total_questions: 4,
    current_question: 1,
    answers: [
        null,
        null,
        null,
        null
    ]
} %}

{% block dashboardContent %}
<div class="dashboard-tabs tabs">
    {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

    <article id="dashboard-cip" class="dashboard-tabs-content tab-content">
        <div id="cip-step-{{ cip.current_question }}">
            <div class="panel cip-header">
                <header class="panel-header">
                    <h3>{{ 'lender-cip_questionnare-title'|trans }}</h3>
                </header>
                <div class="cip-progress" data-progressbar data-progressbar-current="{{ cip.current_question }}" data-progressbar-total="{{ cip.total_questions }}">
                    <div data-progressbar-bar></div>
                </div>
            </div>

            <form method="post" action="{{ path('/conseil-cip/valeur') }}" class="panel" data-formvalidation>
                <div class="cip-question">
                    <p>{{ cip.current_question }}. {{ 'lender-cip_question-' ~ cip.current_question|trans }}</p>
                </div><!-- /.cip-question -->

                <div class="form-field cip-answer" data-formvalidation-input data-formvalidation-required="true">
                    <label class="field-label">
                        {{ 'lender-cip_answer-label'|trans }}
                    </label>
                    <div class="row cip-answer-option">
                        <label><input type="radio" name="answer_{{ cip.current_question }}" value="true"/> <span class="label">{{ 'lender-cip_answer-' ~ cip.current_question ~ '-option-true'|trans }}</span></label>
                    </div>
                    <div class="row cip-answer-option">
                        <label><input type="radio" name="answer_{{ cip.current_question }}" value="false"/> <span class="label">{{ 'lender-cip_answer-' ~ cip.current_question ~ '-option-false'|trans }}</span></label>
                    </div>
                </div><!-- /.form-field -->

                <div class="row text-align-center">
                    <button type="submit" class="btn-primary"><span class="label">{{ 'lender-cip_next-step'|trans }}</span> <span class="icon fa-angle-right"></span></button>
                    {% if cip.current_question > 1 %}
                        <p><a href="{{ path('/conseil-cip/valeur') }}#todo-path-to-previous-cip-step"><span class="icon fa-angle-left"></span> <span class="label">{{ 'lender-cip_previous-step'|trans }}</span></a></p>
                    {% endif %}
                </div><!-- /.btn-controls -->
            </form>
        </div><!-- /#cip-step-{{ cip.current_question }} -->
    </article><!-- /.dashboard-tabs-content -->
</div>
{% endblock %}
