{% extends 'pdf/layout.html.twig' %}

{% block cssFiles %}
    <link rel="stylesheet" type="text/css" href="{{ staticUrl }}/styles/default/pdf/style.css" media="all">
{% endblock %}

{% block header %} {% endblock %}

{% block content %}
    <!-- Doc Wrapper -->
    <div class="doc-wrapper">
        <!-- Shell -->
        <div class="shell">
            <div>
                <h1>Certificat d’inscription au registre des Minibons au sens de l’article L 223-6 du Code monétaire et financier</h1>
                <hr/>
                <h3>CERTIFICAT D’INSCRIPTION AU REGISTRE DES MINIBONS #{{ loan.id }}</h3>
                <h5>Désignation de l’Emprunteur</h5>
                <div class="list">
                    <ul>
                        <li>
                            <div class="col-long">Raison sociale</div>
                            <div class="col-small">{{ borrower.name }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Forme juridique</div>
                            <div class="col-small">{{ borrower.legalStatus }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Capital social</div>
                            <div class="col-small">{{ borrower.capitalStock }}&nbsp;€</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Adresse du siège social</div>
                            <div class="col-small">{{ borrower.address.address }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Code postal</div>
                            <div class="col-small">{{ borrower.address.zip }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Ville</div>
                            <div class="col-small">{{ borrower.address.city }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Tribunal de commerce</div>
                            <div class="col-small">{{ borrower.commercialCourt }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">R.C.S.</div>
                            <div class="col-small">{{ borrower.siren }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Objet social</div>
                            <div class="col-small">{{ borrower.activity }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Lieu d’exploitation</div>
                            <div class="col-small">{{ borrower.address.city }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                    </ul>
                </div>
                <h5>Désignation du prêteur</h5>
                <div class="list">
                    <ul>
                        {% if lender.type in [constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::TYPE_LEGAL_ENTITY'), constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::TYPE_LEGAL_ENTITY_FOREIGNER')] %}
                            <li>
                                <div class="col-long">Raison sociale</div>
                                <div class="col-small">{{ lender.company.name }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Forme juridique</div>
                                <div class="col-small">{{ lender.company.legalStatus }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Adresse du siège social</div>
                                <div class="col-small">{{ lender.address.address }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Code postal</div>
                                <div class="col-small">{{ lender.address.zip }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Ville</div>
                                <div class="col-small">{{ lender.address.city }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Tribunal de commerce</div>
                                <div class="col-small">{{ lender.company.commercialCourt }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">R.C.S.</div>
                                <div class="col-small">{{ lender.company.siren }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                        {% else %}
                            <li>
                                <div class="col-long">Nom</div>
                                <div class="col-small">{{ lender.lastName }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Prénom</div>
                                <div class="col-small">{{ lender.firstName }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Date de naissance</div>
                                <div class="col-small">{{ lender.birthDate }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Adresse</div>
                                <div class="col-small">{{ lender.address.address }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Code postal</div>
                                <div class="col-small">{{ lender.address.zip }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                            <li>
                                <div class="col-long">Ville</div>
                                <div class="col-small">{{ lender.address.city }}</div>
                                <div class="cl">&nbsp;</div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <h5>Caractéristiques du Minibon</h5>
                <div class="list">
                    <ul>
                        <li>
                            <div class="col-long">Montant total</div>
                            <div class="col-small">{{ loan.amount }}&nbsp;€</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>&nbsp;</li>
                        <li>
                            <div class="col-long">Taux d’intérêt</div>
                            <div class="col-small">{{ loan.rate }}&nbsp;%</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Date de création</div>
                            <div class="col-small">{{ loan.creationDate }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Date d’échéance</div>
                            <div class="col-small">{{ loan.lastRepaymentDate }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Montant total des intérêts</div>
                            <div class="col-small">{{ loan.interests }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Frais totaux pour l’emprunteur</div>
                            <div class="col-small">{{ loan.borrowerFees }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Coût total du prêt</div>
                            <div class="col-small">{{ loan.borrowerCost }}</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">Amortissement</div>
                            <div class="col-small">Constant</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>&nbsp;</li>
                        <li>Le Minibon émis est nominatif.</li>
                        <li>Le Minibon est cessible à la condition pour le cessionnaire d’avoir préalablement ouvert un compte Unilend prêteur </li>
                        <li>L’Emetteur certifie avoir établi le bilan de son troisième exercice social.</li>
                        <li>La signature du Minibon engage l’Emetteur, en contrepartie des sommes remises ce jour</li>
                        <li>
                            <div class="col-long">à rembourser aux Prêteurs la somme de</div>
                            <div class="col-small">{{ loan.amount }}&nbsp;€</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">assortie des intérêts à</div>
                            <div class="col-small">{{ loan.rate }}&nbsp;%</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>
                            <div class="col-long">selon l’échéancier annexé aux présentes.</div>
                            <div class="cl">&nbsp;</div>
                        </li>
                        <li>&nbsp;</li>
                        <li>
                            <div class="col-long">
                                Fait à Paris, le {{ loan.creationDate }}<br/>
                                <strong>Signé par l’Emetteur</strong><br/>
                                <strong>Représenté par Unilend</strong>
                            </div>
                            <div class="col-small">
                                <div class="logo"></div>
                            </div>
                            <div class="cl">&nbsp;</div>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Page Break -->
            <div class="pageBreakBefore">
                <p>Le Minibon objet du présent certificat est émis selon les dispositions légales prévues aux articles L.226-3 à L.226-13 et D 223-1 à D 223-4 du code monétaire et financier. Unilend est conseiller en investissements participatifs, enregistré à l’ORIAS sous le numéro 15006955, dont le siège est au 6, rue du général Clergerie, 75116 Paris, dont le téléphone est le 01.82.28.51.20. et dont le site Internet est accessible à l’adresse www.unilend.fr</p>
                <h3>CONDITIONS D’EXIGIBILITE ANTICIPEE</h3>
                <p>L’Emetteur sera tenu de rembourser immédiatement au Prêteur l’ensemble des sommes dues au titre du Minibon en cas de survenance de l’un quelconque des événements prévus ci-dessous.</p>
                <p>Constitue un Cas d’Exigibilité Anticipée :</p>
                <ol type="a">
                    <li>l’exercice par le Bénéficiaire de son droit de rétractation ;</li>
                    <li>le non-paiement par l’Emetteur de sept remboursements mensuels dus au titre du Minibon ;</li>
                    <li>le non-respect par l’Emetteur de l’utilisation des fonds au projet de financement telle que prévue dans la présentation du projet au prêteur ;</li>
                    <li>l’inexactitude de l’une quelconque des informations et déclarations relatives notamment à la situation financière de l’Emetteur ;</li>
                    <li>la non-certification des comptes de l’Emetteur par le Commissaire aux Comptes ;</li>
                    <li>le non-respect par l’Emetteur de l’un quelconque de ses engagements au titre des Conditions Générales de Vente  Bénéficiaire</li>
                </ol>
                <p>L’Emprunteur est tenu dans les 8 jours de la survenance d’un Cas d’Exigibilité Anticipée d’en informer Unilend, lequel a reçu mandat du Prêteur en cas de défaut de paiement comme en cas de survenance d’un Cas d’Exigibilité Anticipée de mandater tout Recouvreur.</p>
                <p>En cas de survenance d’un Cas d’Exigibilité Anticipé, toutes les sommes dues par l’Emetteur en exécution du Minibon deviendront exigibles de plein droit sans qu’il soit besoin de mise en demeure préalable de quelque nature que ce soit. L’Emetteur devra alors payer immédiatement tous montants dus (principal et intérêt courus) au titre du Minibon sans préjudice de tout autre dommage et intérêt qui pourrait être dû au Prêteur.</p>
                <h3>REMBOURSEMENT ANTICIPE</h3>
                <p>A chaque date d’échéance, l’Emetteur pourra rembourser par anticipation, sans pénalité, l’intégralité des sommes restant dues au titre du Minibon. En cas de remboursement anticipé, l’Emetteur ne sera pas tenu au paiement non courus à la date de remboursement anticipé.</p>
                <h3>CESSION</h3>
                <p>Préalablement à toute cession, l’acquéreur devra impérativement ouvrir un Compte Unilend Prêteur et accepter les Conditions Générale de Vente Unilend Prêteur en vigueur.</p>
                <p>En cas de cession, Unilend se réserve le droit de facturer des frais au cédant et à l’acquéreur.</p>
            </div>
            <!-- End Page Break -->

            <!-- Page Break -->
            <div class="pageBreakBefore">
                <h3>ECHEANCIER DES REMBOURSEMENTS DU MINIBON</h3>
                <div class="dates-table">
                    <table width="100%" cellspacing="0" cellpadding="0">
                        <tr>
                            <th valign="bottom">DATE</th>
                            <th valign="bottom">CAPITAL</th>
                            <th valign="bottom">INTERETS</th>
                            <th valign="bottom">TOTAL</th>
                            <th valign="bottom">CAPITAL RESTANT DÛ</th>
                        </tr>
                        {% set remainingCapital = loan.amount %}
                        {% for repayment in loan.repaymentSchedule %}
                            {% set remainingCapital = remainingCapital - repayment.getCapital() / 100 %}
                            <tr>
                                <td style="border-bottom: dotted 1px #c0c0c0;border-right: solid 1px #c0c0c0;">{{ repayment.getDateEcheance()|date('d/m/Y') }}</td>
                                <td style="border-bottom: dotted 1px #c0c0c0;border-right: solid 1px #c0c0c0;">{{ (repayment.getCapital() / 100)|localizedcurrency('EUR') }}</td>
                                <td style="border-bottom: dotted 1px #c0c0c0;border-right: solid 1px #c0c0c0;">{{ (repayment.getInterets() / 100)|localizedcurrency('EUR') }}</td>
                                <td style="border-bottom: dotted 1px #c0c0c0;border-right: solid 1px #c0c0c0;">{{ (repayment.getMontant() / 100)|localizedcurrency('EUR') }}</td>
                                <td style="border-bottom: dotted 1px #c0c0c0;border-right: solid 1px #c0c0c0;">{{ remainingCapital|abs|localizedcurrency('EUR') }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- End Page Break -->
        </div>
        <!-- End Shell -->
    </div>
    <!-- End Doc Wrapper -->
{% endblock %}
