<br><br><br>
<form method="post" enctype="multipart/form-data" action="/transferts/non_attribues">
    <table class="table" id="project-attribution-form">
        <thead>
        <tr>
            <th>ID projet</th>
            <th>Titre</th>
            <th>Statut</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if project is not null %}
                <td>{{ project.idProject }}</td>
                <td>{{ project.title }}</td>
                <td>{{ statusLabel }}</td>
                <td class="text-center">
                    <div class="btn-group">
                        <button class="btn btn-xs btn-default" type="submit"><i class="fa fa-check"></i></button>
                    </div>
                </td>
                <input type="hidden" name="id_reception" value="{{ receptionId }}">
                <input type="hidden" name="id_project" value="{{ project.idProject }}">
                <input type="hidden" name="type_remb" value="{{ repaymentType }}">
            {% else %}
                <td colspan="4">Aucun projet a été trouvé.</td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</form>
