{% for i, op in operations %}
    {% set classAmount = op.montant > 0 ? 'ui-amount-positive' : 'ui-amount-negative' %}
    {% if op.type == 'commission-mensuelle' %}
        {% set data_details = {
            "label":"commission-mensuelle",
            "items": [
                {
                    "label": 'borrower-operation_commission-excl-tax'|trans,
                    "value": op.commission|localizedcurrency('EUR')
                },{
                    "label": 'borrower-operation_vat'|trans,
                    "value": op.tva|localizedcurrency('EUR')
                }
            ]
        } %}
    {% endif %}

    <tr id="operation-{{ i }}" {% if op.type == 'commission-mensuelle' %} data-details="{{ data_details|json_encode|escape('html_attr') }}" {% endif %} class="table-myoperations-item {{ classAmount }}">
        <td class="table-myoperations-item-type">{{ ('borrower-operation_' ~ op.type)|trans }}</td>
        <td class="table-myoperations-item-contract cell-right">{{ op.id_project }}</td>
        <td class="table-myoperations-item-date cell-right">{{ op.date|localizeddate('short', 'none') }}</td>
        <td class="table-myoperations-item-amount cell-right">{{ op.montant|localizedcurrency('EUR') }}</td>
        <td class="table-myoperations-item-balance cell-right">
            {% if op.type == 'affectation-preteurs'  %}
                <a href="{{ path('borrower_account_export_lender_details_csv', {'type': 'e', 'projectId': op.id_project, 'repaymentOrder': op.ordre}) }}" class="export">exporter</a>
            {% elseif op.type == 'financement'  %}
                <a href="{{ path('borrower_account_export_lender_details_csv', {'type': 'l', 'projectId': op.id_project}) }}" class="export">exporter</a>
            {% endif %}
        </td>
    </tr>
{% endfor %}
