{% for i, op in operations %}
    {% set classAmount = op.amount > 0 ? 'ui-amount-positive' : 'ui-amount-negative' %}
    {% if op.label == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\OperationSubType::BORROWER_COMMISSION_REPAYMENT') %}
        {% set data_details = {
            "label":"",
            "items": [
                {
                    "label": 'borrower-operation_commission-excl-tax'|trans,
                    "value": op.netCommission
                },{
                    "label": 'borrower-operation_vat'|trans,
                    "value": op.vat
                }
            ]
        } %}
    {% endif %}

    <tr id="operation-{{ i }}" {% if op.label == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\OperationSubType::BORROWER_COMMISSION_REPAYMENT') %} data-details="{{ data_details|json_encode|escape('html_attr') }}" {% endif %} class="table-myoperations-borrower-item {{ classAmount }}">
        <td class="table-myoperations-borrower-item-type">
            {{ ('borrower-operation_' ~ op.label)|trans }}
            {% if op.label == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\OperationType::BORROWER_WITHDRAW') and op.third_party_company is defined and op.third_party_company is not empty %}
                - {{ op.third_party_company.name }}
            {% endif %}
        </td>
        <td class="table-myoperations-borrower-item-project">{{ op.idProject }}</td>
        <td class="table-myoperations-borrower-item-date">{{ op.date|localizeddate('short', 'none') }}</td>
        <td class="table-myoperations-borrower-item-amount">{{ op.amount|localizedcurrency('EUR') }}</td>
        <td class="table-myoperations-borrower-item-controls">
            {% if op.label == constant('\\Unilend\\Bundle\\FrontBundle\\Controller\\BorrowerAccountController::OP_LENDER_MONTHLY_REPAYMENT')  %}
                <a href="{{ path('borrower_account_export_lender_details_csv', {'type': 'e', 'projectId': op.idProject, 'repaymentOrder': op.ordre}) }}" class="btn-export" title="Exporter"><span class="icon fa-excel-u16"></span></a>
            {% elseif op.label == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\OperationType::LENDER_LOAN')  %}
                <a href="{{ path('borrower_account_export_lender_details_csv', {'type': 'l', 'projectId': op.idProject}) }}" class="btn-export" title="Exporter"><span class="icon fa-excel-u16"></span></a>
            {% else %}
                &nbsp;
            {% endif %}
        </td>
    </tr>
{% endfor %}
