{% extends 'pdf/layout.html.twig' %}

{% block cssFiles %}
    {{ parent() }}
    <style>
        .table tr td.th {
            display: table-cell;
            background-color: #eceaed;
            color: #9f9d9f;
            font-size: 10px!important;
            letter-spacing: 2px;
            text-transform: uppercase;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .table tr td {
            padding: .75em 15px!important;
        }
        .table tr td.th {
            padding-top: 1em!important;
            padding-bottom: 1em!important;
        }
        .text-uppercase {
            text-transform: uppercase;
        }
    </style>
{% endblock %}

{% block content %}
    {% if disclaimer is defined %}
        <p style="background: #fdf5cb; margin-bottom: 20px; padding: 20px;">{{ disclaimer }}</p>
    {% endif %}
    <h1>{% trans %}beneficial-owner_pdf-declaration-title{% endtrans %}</h1>
    {% trans %}beneficial-owner_pdf-declaration-text{% endtrans %}
    <table class="table">
        <tbody>
        <tr>
            <td class="th">
                <span class="label">{% trans %}beneficial-owner_pdf-declaration-name-column-header{% endtrans %}</span>
            </td>
            <td class="th">
                <span class="label">{% trans %}beneficial-owner_pdf-declaration-birthday-column-header{% endtrans %}</span>
            </td>
        </tr>
        {% for owner in owners %}
            {% if (loop.index is odd) %}
                {% set backgroundClass = 'bg-bg3' %}
            {% else %}
                {% set backgroundClass = '' %}
            {% endif %}
            <tr class="{{ backgroundClass }}">
                <td><span class="text-uppercase">{{ owner.idClient.nom }}</span> {{ owner.idClient.prenom }}</td>
                <td>{% trans with {'%birthday%': owner.idClient.naissance|date('d/m/Y'), '%birthplace%': owner.idClient.villeNaissance, '%country%': owner.idClient.idPaysNaissance|countryLabel} %} beneficial-owner_pdf-declaration-birthday-text {% endtrans %}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="spacer"></div>
    <p>{% trans %}beneficial-owner_pdf-declaration-signature-text{% endtrans %}</p>
{% endblock %}