{% extends 'pdf/layout.html.twig' %}

{% block cssFiles %}
    {{ parent() }}
    <style>
        .table {
            margin-bottom: 2em;
        }
        .table tr td.th {
            display: table-cell;
            background-color: #eceaed;
            color: #9f9d9f;
            font-size: 10px!important;
            letter-spacing: 2px;
            text-transform: uppercase;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .table tr td {
            padding: .75em 15px!important;
        }
        .table tr td.th {
            padding-top: 1em!important;
            padding-bottom: 1em!important;
        }
        .table tr td.item-value {
            text-align: right;
        }
        .table tr td.tf {
            font-weight: bold;
            border-top: 1px solid #eceaed;
            border-bottom: 1px solid #eceaed;
        }
        .pdf-layout {
            position: relative;
            height: 980px;
        }
        .footer {
            position: absolute;
            bottom: 0; left: 0; right: 0;
            text-transform: uppercase;
        }
        .footer .small {
            font-size: 0.5em;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="spacer"></div>

    <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-6 col-lg-6">
            <p>
                {% trans with {'%invoiceNumber%': invoice.numFacture} %} invoice-pdf_header-number-line {% endtrans %}<br>
                {% trans with {'%date%': paymentDate|date('d/m/Y')} %} invoice-pdf_header-date-line {% endtrans %}<br>
                {% trans with {'%idClient%': client.idClient} %} invoice-pdf_header-id-client-line {% endtrans %}
            </p>
        </div>
        <div class="col-xs-2 col-sm-4 col-md-6 col-lg-6">
            <p class="text-align-right">
                {% trans %} invoice-pdf_addressee-line {% endtrans %}
                {{ project.idCompany.name }}<br>
                {{ project.idCompany.adresse1 }}<br>
                {% if project.idCompany.adresse2 %}
                    {{ project.idCompany.adresse2 }}<br>
                {% endif %}
                {{ project.idCompany.zip }} {{ project.idCompany.city }}
            </p>
        </div>
    </div>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-xs-4">
            <h5>{{ "invoice-pdf_commission-type-#{ invoice.typeCommission }"|trans({'%projectTitle%': project.natureProject})|raw }}</h5>
        </div>
    </div>

    <div class="spacer"></div>

    <table class="table">
        <tbody>
            <tr>
                <td class="th item-description">{% trans %} invoice-pdf_table-description-label {% endtrans %}</td>
                <td class="th item-value">{% trans %} invoice-pdf_table-value-label {% endtrans %}</td>
            </tr>
            <tr>
                <td class="item-description">
                    {% trans with {'%commissionPercentage%': invoice.commission|localizednumberwithprecision(2)} %} invoice-pdf_commission-rate-net {% endtrans %}
                </td>
                <td class="item-value">
                    {{ (invoice.montantHT / 100)|localizedcurrency('EUR') }}
                </td>
            </tr>
            <tr>
                <td class="item-description">
                    {% trans with {'%vatRate%': vat.rate|localizednumberwithprecision(2)} %} invoice-pdf_table-vat-line {% endtrans %}
                </td>
                <td class="item-value">
                    {{ (invoice.tva / 100)|localizedcurrency('EUR') }}
                </td>
            </tr>
            <tr>
                <td class="tf item-description">
                    {% trans %} invoice-pdf_table-total-gross-line {% endtrans %}
                </td>
                <td class="tf item-value">
                    {{ (invoice.montantTtc / 100)|localizedcurrency('EUR') }}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-xs-4 text-align-right">
            <p>
                {% trans %} invoice-pdf_due-at-line {% endtrans %} <br>
                {% trans with {'%date%': paymentDate|date('d/m/Y')}%} invoice-pdf_payed-at-line {% endtrans %}
            </p>
        </div>
    </div>

    <p>{% trans with {'%vatRate%': vat.rate|localizednumberwithprecision(2) } %} invoice-pdf_additional-information-vat-rate {% endtrans %}</p>

    <p>{% trans %} invoice-pdf_additional-information-late-payments {% endtrans %}</p>

    <div class="spacer"></div>

    <div class="row">
        <div class="col-xs-4">
            <h5>{% trans %} invoice-pdf_contact-title {% endtrans %}</h5>
            <p>
                {% trans %} invoice-pdf_contact-text {% endtrans %}
            </p>
        </div>
    </div>

    <div class="row footer c-t2">
        <div class="col-xs-4">
            <p class="text-align-center small">
                {{ setting('titulaire du compte') }}<span>•</span>
                {{ setting('Declaration contrat pret - raison sociale') }} - {{ setting('Facture - Unilend') }}<span>•</span>
                {{ setting('Facture - capital') }} <span>•</span> {{ setting('Declaration contrat pret - adresse') }} <span>•</span>
                {{ setting('Facture - telephone') }} <span>•</span> {{ setting('Facture - RCS') }} <span>•</span> {{ setting('Facture - TVA INTRACOMMUNAUTAIRE') }}
            </p>
        </div>
    </div>
{% endblock %}
