{% extends 'layout.html.twig' %}

{% block pageHeader %}
    <div class="pull-left">
        <a href="/remboursement/validation" class="text-muted"><span class="fa fa-arrow-left"></span>&nbsp;Remboursements à valider</a>
    </div>
    <div class="pull-right">
        <small>SIREN : {{ reception.idProject.idCompany.siren }}</small>
        <small>|</small>
        <small>ID Projet : {{ reception.idProject.idProject }}</small>
        <span class="label push-10-l ui-project-status-{{ projectStatus.status }}-bg ui-company-status-{{ reception.idProject.idCompany.idStatus.label }}-bg">
            {{ projectStatus.label }}
        </span>
    </div>
    <h1 class="h3" style="clear:both;margin:30px 0 30px;">
        Confirmation du remboursement pour <a href="/dossiers/edit/{{ reception.idProject.idProject }}">{{ reception.idProject.title }}</a>
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="block" id="repayment-summary">
            <div class="block-content block-content-full">
                <div class="row">
                    <div class="col-md-3">
                        <div class="font-s12 font-w600 text-uppercase">Montant de la réception</div>
                        <a class="h2 font-w300 text-primary">{{ (reception.montant / 100)|localizedcurrency('EUR') }}</a>
                    </div>
                    <div class="col-md-3">
                        <div class="font-s12 font-w600 text-uppercase">Date de la réception</div>
                        <a class="h2 font-w300 text-primary">{{ reception.added|localizeddate('short', 'none') }}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="block-content block-content-full">
                <form class="validate" method="post">

                    {% if session.flashBag.has('repayment_task_info') %}
                        <div class="alert alert-success">
                            {% for info in session.flashBag.get('repayment_task_info') %}
                                <p>{{ info }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if repaymentTaskValidated %}
                        <div class="alert alert-success">
                            <p>Le remboursement a bien été validé</p>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="block-title push">Opérations prévues</h3>
                            <table class="table table-bordered table-hover table-header-bg">
                                <thead>
                                <tr>
                                    <th class="description" style="width: 40%">
                                        Description
                                    </th>
                                    <th class="borrower" style="width: 15%">
                                        Recouvreur
                                    </th>
                                    <th class="unilend" style="width: 15%">
                                        Emprunteur
                                    </th>
                                    <th class="lender" style="width: 15%">
                                        Unilend
                                    </th>
                                    <th class="description" style="width: 15%">
                                        Prêteurs
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td class="description">
                                        Réception brut
                                    </td>
                                    <td class="debt-collection-agency">
                                    </td>
                                    <td class="borrower text-right">
                                        + {{ (reception.montant / 100)|localizedcurrency('EUR') }}
                                    </td>
                                    <td class="unilend">
                                    </td>
                                    <td class="lender">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        Honoraires de recouvrement (loans)
                                    </td>
                                    <td class="debt-collection-agency text-right">
                                        {% if feeOnLoan.amountTaxIncl > 0 %}
                                            + {{ feeOnLoan.amountTaxIncl|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if isDebtCollectionFeeDueToBorrower and feeOnLoan.amountTaxIncl > 0 %}
                                            - {{ feeOnLoan.amountTaxIncl|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend">
                                    </td>
                                    <td class="lender text-primary text-right">
                                        {% if false == isDebtCollectionFeeDueToBorrower and feeOnLoan.amountTaxIncl > 0 %}
                                            - {{ feeOnLoan.amountTaxIncl|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        TVA sur honoraires de recouvrement (loans)
                                    </td>
                                    <td class="debt-collection-agency text-right">
                                        {% if feeOnLoan.vat > 0 %}
                                            + {{ feeOnLoan.vat|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if isDebtCollectionFeeDueToBorrower and feeOnLoan.vat > 0 %}
                                            - {{ feeOnLoan.vat|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend">
                                    </td>
                                    <td class="lender text-primary text-right">
                                        {% if false == isDebtCollectionFeeDueToBorrower and feeOnLoan.vat > 0 %}
                                            - {{ feeOnLoan.vat|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        Frais
                                    </td>
                                    <td class="debt-collection-agency">
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if projectCharge > 0 %}
                                            - {{ projectCharge|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend text-right">
                                        {% if projectCharge > 0 %}
                                            + {{ projectCharge|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="lender">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        Honoraires sur frais
                                    </td>
                                    <td class="debt-collection-agency text-right">
                                        {% if feeOnCharge.amountTaxIncl > 0 %}
                                            + {{ feeOnCharge.amountTaxIncl|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if feeOnCharge.amountTaxIncl > 0 %}
                                            - {{ feeOnCharge.amountTaxIncl|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend">
                                    </td>
                                    <td class="lender">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        TVA sur honoraires de frais
                                    </td>
                                    <td class="debt-collection-agency text-right">
                                        {% if feeOnCharge.vat > 0 %}
                                            + {{ feeOnCharge.vat|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if feeOnCharge.vat > 0 %}
                                            - {{ feeOnCharge.vat|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend">
                                    </td>
                                    <td class="lender">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        Honoraires de recouvrement Com Unilend
                                    </td>
                                    <td class="debt-collection-agency text-right">
                                        {% if feeOnCommission.amountTaxIncl > 0 %}
                                            + {{ feeOnCommission.amountTaxIncl|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if isDebtCollectionFeeDueToBorrower and feeOnCommission.amountTaxIncl > 0 %}
                                            - {{ feeOnCommission.amountTaxIncl|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend text-primary text-right">
                                        {% if false == isDebtCollectionFeeDueToBorrower and feeOnCommission.amountTaxIncl > 0 %}
                                            - {{ feeOnCommission.amountTaxIncl|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="lender">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        TVA sur honoraires de recouvrement Com Unilend
                                    </td>
                                    <td class="debt-collection-agency text-right">
                                        {% if feeOnCommission.vat > 0 %}
                                            + {{ feeOnCommission.vat|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if isDebtCollectionFeeDueToBorrower and feeOnCommission.vat > 0 %}
                                            - {{ feeOnCommission.vat|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend text-primary text-right">
                                        {% if false == isDebtCollectionFeeDueToBorrower and feeOnCommission.vat > 0 %}
                                            - {{ feeOnCommission.vat|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="lender">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        Montant Commission remboursable à Unilend
                                    </td>
                                    <td class="debt-collection-agency">
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if commission > 0 %}
                                            - {{ commission|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend text-right">
                                        {% if commission > 0 %}
                                            + {{ commission|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="lender">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="description">
                                        Montant remboursable aux prêteurs
                                    </td>
                                    <td class="debt-collection-agency">
                                    </td>
                                    <td class="borrower text-primary text-right">
                                        {% if totalRepayment > 0 %}
                                            - {{ totalRepayment|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                    <td class="unilend">
                                    </td>
                                    <td class="lender text-right">
                                        {% if totalRepayment > 0 %}
                                            + {{ totalRepayment|localizedcurrency('EUR') }}
                                        {% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-6">
                            <h3 class="block-title push">Amortissement du prêt suite réception</h3>
                            <table class="table table-bordered table-hover table-header-bg">
                                <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Capital (payé / total)</th>
                                    <th>Intérêt (payé / total)</th>
                                    <th>Commission (payé / total)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if paidPaymentSchedules is not empty %}
                                    {% for paymentSchedule in paidPaymentSchedules %}
                                        <tr>
                                            <td>
                                                Échéance {{ paymentSchedule.dateEcheanceEmprunteur|localizeddate("medium", "none", null, null, "MMMM yyyy") }}
                                            </td>
                                            <td class="text-right">
                                                {{ (paymentSchedule.paidCapital / 100)|localizedcurrency('EUR') }} / {{ (paymentSchedule.capital / 100)|localizedcurrency('EUR') }}
                                            </td>
                                            <td class="text-right">
                                                {{ (paymentSchedule.paidInterest / 100)|localizedcurrency('EUR') }} / {{ (paymentSchedule.interets / 100)|localizedcurrency('EUR') }}
                                            </td>
                                            <td class="text-right">
                                                {{ (paymentSchedule.paidCommissionVatIncl / 100)|localizedcurrency('EUR') }}
                                                / {{ ((paymentSchedule.commission + paymentSchedule.tva) / 100)|localizedcurrency('EUR') }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% elseif remainingCapital is not empty %}
                                    <tr>
                                        <td>
                                            Remboursement anticipé
                                        </td>
                                        <td class="text-right">
                                            {{ totalRepayment|localizedcurrency('EUR') }} / {{ remainingCapital|localizedcurrency('EUR') }}
                                        </td>
                                        <td class="text-right">
                                            non applicable
                                        </td>
                                        <td class="text-right">
                                            non applicable
                                        </td>
                                    </tr>
                                {% endif %}
                                {% if closeOutNettingPayment is not null %}
                                    <tr>
                                        <td>
                                            Montants
                                        </td>
                                        <td class="text-right">
                                            {{ closeOutNettingPayment.paidCapital|localizedcurrency('EUR') }} / {{ closeOutNettingPayment.capital|localizedcurrency('EUR') }}
                                        </td>
                                        <td class="text-right">
                                            {{ closeOutNettingPayment.paidInterest|localizedcurrency('EUR') }} / {{ closeOutNettingPayment.interest|localizedcurrency('EUR') }}
                                        </td>
                                        <td class="text-right">
                                            {{ closeOutNettingPayment.paidCommissionTaxIncl|localizedcurrency('EUR') }} / {{ closeOutNettingPayment.commissionTaxIncl|localizedcurrency('EUR') }}
                                        </td>
                                    </tr>
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <br>
                    {% if false == repaymentTaskValidated %}
                        <button class="btn btn-primary push-10-r" type="submit" name="validate" value="validate">Valider le remboursement</button>
                    {% endif %}
                    <button class="btn btn-default" type="submit" name="cancel" value="cancel">Annuler</button>
                </form>
            </div>
        </div>
        {% include 'dossiers/blocs/details_remboursement/planned_repayment_task.html.twig' with {'displayOnly': true} %}
    </div>
{% endblock %}
