{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/pages/base_forms_wizard.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
      $(function () {
        // Page helpers are initialised in app.js and can be called quickly using their name
        App.initHelpers(['validation', 'datepicker', 'datatables']);
        // Popup form submit
        $(document).on('submit', '#modal-status-problem form, #modal-debt-collection form, #modal-additional-fees form', function (e) {
          e.preventDefault()
          var $form = $(this)
          var $modal = $form.closest('.modal')
          var block = $form.find('.block')[0]
          // Don't allow negative values for amount
          if ($modal.is('#modal-additional-fees')) {
            var errorToDisplay = '<small class="amount-error text-muted push-10-l"><em>Le montant est incorrect</em></small>'
            var $amountVatFree = $form.find('[name=fee-amount-vat-free]')
            var $amountVat = $form.find('[name=fee-amount-vat]')
            if (parseFloat($amountVatFree.val().replace(',', '.')) <= 0 || isNaN($amountVatFree.val().replace(',', '.'))) {
              $amountVatFree.parent().addClass('has-error')
              $amountVatFree.parent().find('label').append(errorToDisplay)
              return
            }
            if (parseFloat($amountVat.val().replace(',', '.')) <= 0 || isNaN($amountVatFree.val().replace(',', '.'))) {
              $amountVat.parent().addClass('has-error')
              $amountVat.parent().find('label').append(errorToDisplay)
              return
            }
          }
          // Ajax if no errors
          if (!$form.find('.has-error').length) {
            App.blocks(block, 'state_loading')
            $.ajax({
              url: $form.attr('action'),
              type: 'POST',
              data: $form.serialize(),
              dataType: 'json',
              success: function (response) {
                if (response.success) {
                  location.reload()
                } else {
                  var html = '<div class="alert alert-error">'
                  $.each(response.error, function (i, message) {
                    html += '<p>' + message + '</p>'
                  })
                  html += '</div>'
                  $form.find('.messages').html(html)
                  App.blocks(block, 'state_normal')
                }
              },
              error: function (jqXHR, exception) {
                console.log(jqXHR.status + ' : ' + exception)
                $form.find('.messages').html('Une erreur est survenue.')
                App.blocks(block, 'state_normal')
              }
            })
          }
        })
        // Reset popup on hide
        $(document).on('hidden.bs.modal', '#modal-status-problem, #modal-debt-collection, #modal-additional-fees', function (e) {
          var $modal = $(this)
          // Reset values
          $modal.find('.form-control').each(function () {
            if ($(this).is('select') && $(this).val() == 0) {
              // do nothing
            } else {
              $(this).val('')
            }
          })
          // Reset errors
          $modal.find('.form-group').each(function () {
            if ($(this).is('.has-error')) {
              $(this).removeClass('has-error')
            }
          })
          $modal.find('.messages').html('')
          $modal.find('.amount-error').remove()
        })

        $(document).on('change', 'input[name=debt-collection-zero-rate]', function () {
          var $rateTextInput = $('input[name=debt-collection-rate]')
          if (this.checked) {
            $rateTextInput.val('')
            $rateTextInput.prop('disabled', true)
            $rateTextInput.prop('required', false)
            $rateTextInput.removeClass('required')
          } else {
            $rateTextInput.prop('disabled', false)
            $rateTextInput.prop('required', true)
            $rateTextInput.addClass('required')
          }
        })

        $(document).on('change', '#include-unilend-commission', function () {
          var responseSpan = $('#option-response-unilend-commission')
          if (this.checked) {
            responseSpan.html('Oui')
          } else {
            responseSpan.html('Non')
          }
        })

        $(document).on('click', '#close-out-netting-validation', function () {
          var block = $('#modal-close-out-netting').find('.block')
          App.blocks(block, 'state_loading')
        })

        $(document).on('click', 'input[name="auto-repayment"]', function (e) {
          e.preventDefault()
          if (false === $(this).prop('checked')) {
            if (confirm('Voulez-vous désactiver le remboursement automatique ?')) {
              autoRepayment($(this), false)
            }
          } else {
            if (confirm('Voulez-vous activer le remboursement automatique ?')) {
              autoRepayment($(this), true)
            }
          }
        })

        var autoRepayment = function (elm, onOff) {
          var spinner = $('#auto-repayment-spinner')
          spinner.removeClass('visibility-hidden')
          $.post("{{ app.adminUrl }}/remboursement/switch_auto_repayment_ajax/{{ project.idProject }}", {
            switch: onOff
          })
            .done(function (data) {
              if (data.success === false) {
                var errorMessage = ''
                data.errors.forEach(function (element) {
                  errorMessage += element
                })
                alert(errorMessage)
              } else {
                if (onOff) {
                  elm.prop('checked', true)
                } else {
                  elm.prop('checked', false)
                }
              }
            })
            .fail(function () {
              alert('Une erreur est survenue. Vous ne pouvez pas modifier la configuration de remboursement automatique');
            })
            .always(function () {
              spinner.addClass('visibility-hidden')
            })
        }
      })
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade in" id="modal-close-out-netting">
        <div class="modal-dialog">
            <!-- Form -->
            <form class="modal-dialog validate" action="/dossiers/dechoir_terme" method="post">
                <input type="hidden" name="project-id" value="{{ project.idProject }}">
                <div class="modal-content">
                    <div class="js-wizard-simple block">
                        <div class="block-header bg-primary">
                            <h5 class="block-title">Déchoir le terme</h5>
                        </div>
                        <!-- Step Tabs -->
                        <ul class="nav nav-tabs nav-justified">
                            <li class="active">
                                <a href="#close-out-netting-progress-step1" data-toggle="tab" aria-expanded="true">1. Option</a>
                            </li>
                            <li class="">
                                <a href="#close-out-netting-progress-step2" data-toggle="tab" aria-expanded="false">2. Confirmation</a>
                            </li>
                        </ul>
                        <!-- END Step Tabs -->
                        <!-- Steps Progress -->
                        <div class="block-content block-content-mini block-content-full border-b">
                            <div class="wizard-progress progress progress-mini remove-margin-b">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                            </div>
                        </div>
                        <!-- END Steps Progress -->

                        <!-- Steps Content -->
                        <div class="block-content tab-content">
                            <!-- Step 1 -->
                            <div class="tab-pane fade fade-up push-30-t push-50 active in" id="close-out-netting-progress-step1">
                                <div class="form-group">
                                    <label class="css-input switch switch-sm switch-primary" for="include-unilend-commission">
                                        <input type="checkbox" id="include-unilend-commission" name="include-unilend-commission"><span></span> Inclure commission Unilend
                                    </label>
                                </div>
                            </div>
                            <!-- END Step 1 -->

                            <!-- Step 2 -->
                            <div class="tab-pane fade fade-up push-50" id="close-out-netting-progress-step2">
                                <p class="alert">Cette action est irréversible.</p>
                                <div class="form-group">
                                    <h5 class="push">Récapitulatif de vos options</h5>
                                    <p>Inclure Commission Unilend : <span id="option-response-unilend-commission">Non</span></p>
                                </div>
                            </div>
                            <!-- END Step 2 -->
                        </div>
                        <!-- END Steps Content -->

                        <!-- Steps Navigation -->
                        <div class="block-content block-content-mini block-content-full border-t">
                            <div class="row">
                                <div class="col-xs-6">
                                    <button class="wizard-prev btn btn-default disabled" type="button"><i class="fa fa-arrow-left"></i> Précédent</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="wizard-next btn btn-default" type="button">Suivant <i class="fa fa-arrow-right"></i></button>
                                    <button class="wizard-finish btn btn-primary" id="close-out-netting-validation" type="submit"><i class="fa fa-check"></i> Valider</button>
                                </div>
                            </div>
                        </div>
                        <!-- END Steps Navigation -->
                    </div>
                    <!-- END Simple Classic Progress Wizard -->
                </div>
            </form>
            <!-- END Form -->
        </div>
    </div>
    <div class="modal fade in" id="modal-status-problem">
        <form class="modal-dialog validate" action="/dossiers/setProblematicStatus/{{ project.idProject }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Passer en statut problème</h5>
                    </div>
                    <div class="block-content">
                        <div class="messages"></div>
                        <div class="form-group">
                            <label>Envoyer un email d'information aux prêteurs</label> <br>
                            <label class="css-input css-radio css-radio-sm css-radio-default push-10-r">
                                <input type="radio" name="send_email" value="1" checked> <span></span> Oui
                            </label>
                            <label class="css-input css-radio css-radio-sm css-radio-default push-10-r">
                                <input type="radio" name="send_email" value="0"> <span></span> Non
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Contenu de l'email</label>
                            <textarea name="mail_content" class="form-control required" rows="4">{{ 'projet_mail-info-passage-statut-probleme'|trans }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Message d'information aux prêteurs (site)</label>
                            <textarea name="site_content" class="form-control required" rows="4">{{ 'projet_info-passage-statut-probleme'|trans }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Envoyer un email d'information aux emprunteurs</label> <br>
                            <label class="css-input css-radio css-radio-sm css-radio-default push-10-r">
                                <input type="radio" name="send_email_borrower" value="1"> <span></span> Oui
                            </label>
                            <label class="css-input css-radio css-radio-sm css-radio-default push-10-r">
                                <input type="radio" name="send_email_borrower" value="0" checked> <span></span> Non
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="problematic_status" value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::PROBLEME') }}">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade in" id="modal-debt-collection">
        <form class="modal-dialog validate" action="/debt_collection_mission/add/{{ project.idProject }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Ajouter une mission de recouvrement</h5>
                    </div>
                    <div class="block-content">
                        <div class="messages"></div>
                        <div class="form-group">
                            <label>Échéances</label>
                            <ul>
                                {% for payment in latePaymentsData %}
                                    {% if payment.totalOverdueAmount > 0 %}
                                        <li>{{ payment.label }} - {{ payment.totalOverdueAmount|localizedcurrency('EUR') }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Recouvreur</label>
                            <select class="form-control required" name="debt-collector-hash">
                                <option value="{{ debtCollector.hash }}">{{ debtCollector.nom }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Type de mission</label>
                            <select class="form-control required" name="debt-collection-type">
                                <option value="">Sélectionner</option>
                                <option value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_AMICABLE') }}">Amiable</option>
                                <option value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_LITIGATION') }}">Contentieux</option>
                                <option value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_PRE_LITIGATION') }}">Pré-contentieux</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Taux d'honoraires (Pourcentage)</label>
                            <div class="input-group">
                                <input class="form-control required" name="debt-collection-rate" type="text" placeholder="ex. 13" required>
                                <span class="input-group-addon">%</span>
                            </div>
                            <label class="css-input css-checkbox css-checkbox-primary">
                                <input type="checkbox" name="debt-collection-zero-rate"><span></span> Pas d'honoraires
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade in" id="modal-additional-fees">
        <form class="modal-dialog validate" action="/debt_collection_mission/addCharge/{{ project.idProject }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Ajout de frais avancés par Unilend</h5>
                    </div>
                    <div class="block-content">
                        <div class="messages"></div>
                        <div class="form-group">
                            <label>Type de frais</label>
                            <select class="form-control required" name="fee-type">
                                <option value="0">Sélectionner</option>
                                {% for chargeType in projectChargeTypes %}
                                    <option value="{{ chargeType.id }}">{{ ('project-charge-type_' ~ chargeType.label|replace({'_': '-'})) | trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Montant HT</label>
                                    <input class="form-control required" type="text" name="fee-amount-vat-free">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Montant TVA</label>
                                    <input class="form-control required" type="text" name="fee-amount-vat">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Date de facture</label>
                            <input class="form-control js-datepicker required" type="text" name="fee-invoice-date" data-date-format="dd/mm/yy" placeholder="jj/mm/aa">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block pageHeader %}
    <div class="pull-left">
        <a href="/dossiers/{{ repaymentProjectStatus }}" class="text-muted"><span class="fa fa-arrow-left"></span>&nbsp;Projets</a>
    </div>
    <div class="pull-right">
        <small>
            SIREN : <a href="/emprunteurs/edit/{{ project.idCompany.idClientOwner.idClient }}">{{ project.idCompany.siren }}</a>
            |
            ID Projet : <a href="/dossiers/edit/{{ project.idProject }}">{{ project.idProject }}</a>
        </small>
        <span class="label push-10-l ui-project-status-{{ project.status }}-bg ui-company-status-{{ project.idCompany.idStatus.label }}-bg">
            {{ projectStatus.label }}
        </span>
        <br>
        <label class="css-input switch switch-sm switch-primary">
            <input type="checkbox" name="auto-repayment"
                   {% if constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Projects::AUTO_REPAYMENT_ON') == project.rembAuto %}checked{% endif %}><span></span>
            Remboursement automatique <i class="fa fa-spinner fa-spin visibility-hidden" id="auto-repayment-spinner"></i>
        </label>
    </div>
    <h1 class="page-heading push" style="clear:both;margin:30px 0 30px;">
        Remboursement du projet <a href="/dossiers/edit/{{ project.idProject }}">{{ project.title }}</a>
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <h2 class="content-heading">Synthèse du projet</h2>
        <div class="row">
            {% if project.getCloseOutNettingDate() is empty %}
                <div class="col-lg-3">
                    <div class="block">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <a href="/dossiers/echeancier_emprunteur/{{ project.idProject }}" data-toggle="tooltip" data-placement="top" data-original-title="Afficher l'échéancier emprunteur">
                                        <i class="fa fa-list-ol"></i>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="block-title">Nombre d'échéances</h3>
                        </div>
                        <div class="block-content">
                            <div class="row items-push text-center pull-t">
                                <div class="col-xs-6 border-r">
                                    <div class="text-primary">{{ paidScheduleCount }}</div>
                                    <small class="text-muted">remboursées</small>
                                </div>
                                <div class="col-xs-6">
                                    <div class="text-primary">{{ futureScheduleCount }}</div>
                                    <small class="text-muted">à venir</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="block">
                        <div class="block-header">
                            <ul class="block-options">
                                <li>
                                    <a href="/dossiers/echeancier_emprunteur/{{ project.idProject }}" data-toggle="tooltip" data-placement="top" data-original-title="Afficher l'échéancier emprunteur">
                                        <i class="fa fa-list-ol"></i>
                                    </a>
                                </li>
                            </ul>
                            <h3 class="block-title">Montant remboursement</h3>
                        </div>
                        <div class="block-content">
                            <div class="row items-push text-center pull-t">
                                <div class="col-xs-6 border-r">
                                    <div class="text-primary">{{ paidScheduledAmount|localizedcurrency('EUR') }}</div>
                                    <small class="text-muted">remboursés</small>
                                </div>
                                <div class="col-xs-6">
                                    <div class="text-primary">{{ futureScheduledAmount|localizedcurrency('EUR') }}</div>
                                    <small class="text-muted">à percevoir</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if futurSchedule is not null %}
                    <div class="col-lg-2">
                        <div class="block">
                            <div class="block-header">
                                <h3 class="block-title">Prochaine échéance</h3>
                            </div>
                            <div class="block-content text-center" style="padding-top: 20px; padding-bottom: 19px;">
                                <p class="text-primary pull-t">{{ futurSchedule.getDateEcheanceEmprunteur()|localizeddate('short', 'none') }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% else %}
                <div class="col-lg-2">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">Terme déchu le</h3>
                        </div>
                        <div class="block-content text-center" style="padding-top: 20px; padding-bottom: 19px;">
                            <p class="text-primary pull-t">{{ project.getCloseOutNettingDate()|localizeddate('short', 'none') }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="col-lg-2">
                <div class="block">
                    <div class="block-header">
                        <ul class="block-options">
                            <li>
                                <a href="/dossiers/detail_remb_preteur/{{ project.idProject }}" data-toggle="tooltip" data-placement="top" data-original-title="Afficher la liste de prêts">
                                    <i class="fa fa-list-ol"></i>
                                </a>
                            </li>
                        </ul>
                        <h3 class="block-title">Nombre de prêteurs</h3>
                    </div>
                    <div class="block-content text-center" style="padding-top: 20px; padding-bottom: 19px;">
                        <p class="text-primary pull-t">{{ lenderCount|localizednumber }}</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Réceptions à traiter</h3>
                    </div>
                    <div class="block-content text-center" style="padding-top: 20px; padding-bottom: 19px;">
                        <p class="text-primary pull-t">{{ pendingWireTransferIn|length|localizednumber }}</p>
                    </div>
                </div>
            </div>
            {% if totalOverdueAmount > 0 %}
                {% if project.getCloseOutNettingDate() is empty %}
                    <div class="col-lg-3">
                        <div class="block">
                            <div class="block-header">
                                <ul class="block-options">
                                    <li>
                                        <a href="/dossiers/echeancier_emprunteur/{{ project.idProject }}" data-toggle="tooltip" data-placement="top"
                                           data-original-title="Afficher l'échéancier emprunteur">
                                            <i class="fa fa-list-ol"></i>
                                        </a>
                                    </li>
                                </ul>
                                <h3 class="block-title">Retard Emprunteur</h3>
                            </div>
                            <div class="block-content">
                                <div class="row items-push text-center pull-t">
                                    <div class="col-xs-6 border-r">
                                        <div class="text-primary">{{ totalOverdueAmount|localizedcurrency('EUR') }}</div>
                                        <small class="text-muted">dû</small>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="text-primary">{{ latePaymentsData|length|localizednumber }}</div>
                                        <small class="text-muted">échéance(s)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-lg-2">
                        <div class="block">
                            <div class="block-header">
                                <h3 class="block-title">Retard Emprunteur</h3>
                            </div>
                            <div class="block-content text-center" style="padding-top: 20px; padding-bottom: 19px;">
                                <p class="text-primary pull-t">{{ totalOverdueAmount|localizedcurrency('EUR') }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if entrustedToDebtCollector > 0 %}
                    <div class="col-lg-2">
                        <div class="block">
                            <div class="block-header">
                                <h3 class="block-title">Confié au recouvreur</h3>
                            </div>
                            <div class="block-content text-center" style="padding-top: 20px; padding-bottom: 19px;">
                                <p class="text-primary pull-t">{{ entrustedToDebtCollector|localizedcurrency('EUR') }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if companyLastStatusHistory.idStatus.label != constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyStatus::STATUS_IN_BONIS') %}
                {% set companyStatusName = 'company-status_label-' ~ companyLastStatusHistory.idStatus.label|replace({'_': '-'}) %}
                <div class="col-lg-2">
                    <div class="block">
                        <div class="block-header">
                            <h3 class="block-title">{{ companyStatusName|trans }}</h3>
                        </div>
                        <div class="block-content text-center" style="padding-top: 20px; padding-bottom: 19px;">
                            <p class="text-primary pull-t">{{ companyLastStatusHistory.changedOn|localizeddate('short', 'none') }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% include 'remboursement/blocs/projet/retards.html.twig' %}
        {% include 'remboursement/blocs/projet/recouvrements.html.twig' %}
        {% include 'remboursement/blocs/projet/frais.html.twig' %}
        {% include 'remboursement/blocs/projet/receptions.html.twig' %}
        {% include 'remboursement/blocs/projet/planned_repayment_task.html.twig' with {'displayOnly': false} %}
    </div>
{% endblock %}
