{# Error page #}
{% extends 'layouts/_page-simple.html.twig' %}

{% block pageTitle %}
    <h1 class="page-title">
        {{ errorPageTitle|default('error-page_header-title'|trans) }}
    </h1>
{% endblock %}

{% block pageAsideBody %}
    <div class="page-aside-body hide-xs hide-sm c-p1" style="text-align: center">
        {{ svgimage('#misc-mapcompass', 'Error', 500, 500)|raw }}
    </div><!-- /.page-aside-body -->
{% endblock %}

{% block pageContentBody %}
    <section class="page-section">
        {% if errorTitle is defined %}
            <h2>{{ errorTitle }}</h2>
        {% endif %}
        {% if errorDetails is defined %}
            {{ errorDetails|raw }}
        {% endif %}
        {% if hideButtons is not defined or hideButtons == false %}
            <br>
            <div class="btn-toolbar text-align-left">
                <a href="{{ path('home') }}" class="btn-primary">{% trans %} error-page_button-home-page {% endtrans %}</a>
                <a href="{{ path('aide') }}" class="btn-primary">{% trans %} error-page_button-help-page {% endtrans %}</a>
            </div><!-- /.btn-toolbar -->
        {% endif %}
    </section><!-- /.page-section -->
{% endblock %}
