{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ app.adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function () {
            App.initHelper('datatables')
        })
    </script>
{% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        Comptes doublons
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Recherche</h3>
            </div>
            <div class="block-content block-content-full">
                <form action="{{ app.adminUrl }}/comptes/doublons" method="post" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2"></div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <input id="email" name="email" type="text" value="{{ email }}" title="Adresse email" placeholder="Adresse email" class="form-control" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary col-md-2">Rechercher</button>
                    </div>
                </form>
            </div>
        </div>
        {% if email is not empty %}
            <div class="block block-bordered">
                <div class="block-header">
                    <h3 class="block-title">Résultat</h3>
                </div>
                <div class="block-content block-content-full">
                    {% if accounts is empty %}
                        <p>Aucun compte ne correspond à cette adresse.</p>
                    {% else %}
                        <table class="table table-bordered table-header-bg table-striped" data-table data-table-search="true" data-table-pagelength="25" data-table-lengthchange="true" data-order="[[3, &quot;asc&quot;], [2, &quot;asc&quot;]]">
                            <thead>
                            <tr>
                                <th>ID client</th>
                                <th>Nom</th>
                                <th>Type</th>
                                <th>Statut</th>
                                <th>Date de création</th>
                                <th>Opérations</th>
                                <th data-orderable="false">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <td>
                                        {% if account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::LENDER') %}
                                            <a href="{{ app.adminUrl }}/preteurs/edit/{{ account.idClient }}">{{ account.idClient }}</a>
                                        {% elseif account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::BORROWER') %}
                                            <a href="{{ app.adminUrl }}/emprunteurs/edit/{{ account.idClient }}">{{ account.idClient }}</a>
                                        {% elseif account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::PARTNER') %}
                                            <a href="{{ app.adminUrl }}/partenaires/edit/{{ account.idPartner }}">{{ account.idClient }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::LENDER') %}
                                            <a href="{{ app.adminUrl }}/preteurs/edit/{{ account.idClient }}">{{ account.name }}</a>
                                        {% elseif account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::BORROWER') %}
                                            <a href="{{ app.adminUrl }}/emprunteurs/edit/{{ account.idClient }}">{{ account.name }}</a>
                                        {% elseif account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::PARTNER') %}
                                            <a href="{{ app.adminUrl }}/partenaires/edit/{{ account.idPartner }}">{{ account.name }}</a>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::LENDER') %}
                                            Prêteur
                                            {% if account.clientType in [constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::TYPE_LEGAL_ENTITY'), constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::TYPE_LEGAL_ENTITY_FOREIGNER')] %}
                                                (personne morale)
                                            {% else %}
                                                (personne physique)
                                            {% endif %}
                                        {% elseif account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::BORROWER') %}
                                            Emprunteur
                                        {% elseif account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::PARTNER') %}
                                            Partenaire ({{ account.partnerName }})
                                        {% elseif account.walletType is not empty %}
                                            {{ account.walletType }}
                                        {% elseif account.beneficialOwner %}
                                            Bénéficiaire effectif
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </td>
                                    <td data-order="{{ account.status }}">
                                        {% if account.status in constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ClientsStatus::GRANTED_LOGIN') %}
                                            <span class="badge badge-success"><i class="fa fa-check"></i></span>
                                        {% else %}
                                            <span class="badge badge-danger"><i class="fa fa-times-circle"></i></span>
                                        {% endif %}
                                        {% if account.statusLabel is not empty %}
                                            {{ account.statusLabel }}
                                        {% endif %}
                                    </td>
                                    <td>{{ account.creationDate|date('d/m/Y') }}</td>
                                    <td>{{ account.operations }}</td>
                                    <td>
                                        {% if account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::LENDER') %}
                                            <a href="{{ app.adminUrl }}/preteurs/edit/{{ account.idClient }}" class="btn btn-xs btn-default" title="Modifier"><i class="fa fa-pencil"></i></a>
                                        {% elseif account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::BORROWER') %}
                                            <a href="{{ app.adminUrl }}/emprunteurs/edit/{{ account.idClient }}" class="btn btn-xs btn-default" title="Modifier"><i class="fa fa-pencil"></i></a>
                                        {% elseif account.walletType == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\WalletType::PARTNER') %}
                                            <a href="{{ app.adminUrl }}/partenaires/edit/{{ account.idPartner }}" class="btn btn-xs btn-default" title="Modifier"><i class="fa fa-pencil"></i></a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
