{% extends 'layouts/_layout.html.twig' %}

{% set page = {
title: 'Home',
permalink: path('home')
} %}

{% block siteContent %}
    <article id="homeacq" class="page">
        <section id="homeacq-video-hero" class="cta-video-hero" aria-hidden="true" data-set-device-height="xs">
            <div class="video-hero-wrapper">
                <div id="homeacq-video-hero-swiper" class="video-hero-slideshow swiper-container" data-swiper-autoplay="5000" data-swiper-speed="500">
                    <div class="swiper-wrapper">

                        {% for combination in sliderTestimonials %}
                            <div class="video-hero swiper-slide swiper-lazy" data-preter-name="{{ combination.lender.name }}" data-emprunter-name="{{ combination.borrower.name }}" data-background="{{ completeTestimonialUrl(combination.image, 'image') }}">
                                <div class="video-hero-image">
                                    &nbsp;
                                    <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                                </div>
                                <div class="caption caption-align-left">
                                    <div class="caption-name">{{ combination.lender.name }}, {{ combination.lender.projects }}</div>
                                    <div class="caption-info">{{ combination.lender.info }}</div>
                                </div><!-- /.caption -->
                                <div class="caption caption-align-right">
                                    <div class="caption-name">{{ combination.borrower.name }}, {{ combination.borrower.location }}</div>
                                    <div class="caption-info">{{ combination.borrower.info }}</div>
                                    <div class="caption-links">
                                        <a href="{{ path('testimonials') }}#testimonial-{{ combination.borrower.name }}" class="link">{{ 'home-borrower_link-to-testimonial-on-video'|trans }}</a>
                                    </div>
                                </div><!-- /.caption -->
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="video-hero-cta">
                    <div class="btn-media-wrapper">
                        <a href="https://www.youtube.com/watch?v=Fmtz6vI65GY" class="btn-media fancybox-media fancybox-embed-videojs">
                            <span class="icon fa-play"><span class="sr-only">{% trans %} site-general_video-play-button-label {% endtrans %}</span></span>
                        </a>
                    </div>
                    <h5 class="c-p1">
                        <span class="ui-preter-name">{{ sliderTestimonials.P1_E1.lender.name }}</span>
                        {% trans %} site-general_testimonial-section-video-text {% endtrans %}
                        <span class="ui-emprunter-name c-p2">{{ sliderTestimonials.P1_E1.borrower.name }}</span>
                    </h5>
                    <h3>{% trans %} site-general_testimonial-section-video-slogan {% endtrans %}</h3>
                </div><!-- /.video-hero-cta -->

                {% include 'partials/components/list-socialmedia.html.twig' %}

                <div class="btn-toolbar row">
                    <div class="col-lg-6 col-md-6">
                        <a href="{{ path('home_lender') }}" class="btn-cta btn-color-primary text-align-right"><span class="icon fa-angle-right"></span>
                            {% trans %} site-general_button-under-video-lender {% endtrans %}</a>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <a href="{{ path('home_borrower') }}" class="btn-cta btn-color-alternate text-align-left"><span class="icon fa-angle-right"></span>
                            {% trans %} site-general_button-under-video-borrower {% endtrans %}</a>
                    </div>
                </div><!-- /.btn-toolbar.row -->
            </div><!-- /.video-hero-wrapper -->
        </section><!-- /.cta-video-hero -->

        <section id="homeacq-section-statistics" class="page-section">
            <div class="site-wrap">
                <h1 class="h2">{% trans %} site-general_unilend-stats-title {% endtrans %}</h1>

                <div class="promo-swiper swiper-container">
                    <div class="row swiper-wrapper">
                        <div class="col-lg-4 col-md-4 swiper-slide">
                            <div class="promo">
                                <div class="promo-image">
                                    {{ svgimage('#promo-projects', '', 190, 190, 'none') | raw }}
                                </div>
                                {% set valueProjects = ('site-general_unilend-stats-projects-value'|trans != 'site-general_unilend-stats-projects-value') ? getStatistic('numberOfFinancedProjects') : 'site-general_unilend-stats-projects-value'|trans %}
                                <h3 class="promo-highlight">
                                    <span class="ui-text-count" data-start-count="0" data-end-count="{{ valueProjects }}" data-total-time="3000" data-round-float="round" data-tween-count="easeOutCirc">{{ valueProjects|localizednumber }}</span>
                                </h3>
                                <p>{% trans %} site-general_unilend-stats-projects-description {% endtrans %}</p>
                            </div><!-- /.promo -->
                        </div>

                        <div class="col-lg-4 col-md-4 swiper-slide">
                            <div class="promo">
                                <div class="promo-image">
                                    {{ svgimage('#promo-money', '', 190, 190, 'none') | raw }}
                                </div>
                                {% set valueMoney = ('site-general_unilend-stats-money-value'|trans != 'site-general_unilend-stats-money-value') ? getStatistic('amountBorrowedInMillions') : 'site-general_unilend-stats-money-value'|trans %}
                                <h3 class="promo-highlight">
                                    <span class="ui-text-count" data-start-count="0" data-end-count="{{ valueMoney }}" data-total-time="3000" data-round-float="round" data-tween-count="easeOutCirc">{{ valueMoney|localizednumber }}</span>
                                    {% trans %} site-general_unilend-stats-money-value {% endtrans %}
                                </h3>
                                <p>{% trans %} site-general_unilend-stats-money-description {% endtrans %}</p>
                            </div><!-- /.promo -->
                        </div>

                        <div class="col-lg-4 col-md-4 swiper-slide">
                            <div class="promo">
                                <div class="promo-image">
                                    {{ svgimage('#promo-people', '', 190, 190, 'none') | raw }}
                                </div>
                                {% set valuePeople = ('site-general_unilend-stats-people-value'|trans != 'site-general_unilend-stats-people-value') ? getStatistic('numberOfLendersInCommunity')|localizednumber : 'site-general_unilend-stats-people-value'|trans %}
                                <h3 class="promo-highlight">
                                    <span class="ui-text-count" data-start-count="0" data-end-count="{{ valuePeople }}" data-total-time="3000" data-round-float="round" data-tween-count="easeOutCirc">{{ valuePeople|localizednumber }}</span>
                                </h3>
                                <p>{% trans %} site-general_unilend-stats-people-description {% endtrans %}</p>
                            </div><!-- /.promo -->
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.promo-swiper -->
            </div><!-- /.site-wrap -->
        </section><!-- /.promos -->

        <section id="homeacq-section-testimonials" class="page-section">
            <div class="site-wrap">
                <h1 class="h2">{% trans %} site-general_testimonial-section-title {% endtrans %}</h1>

                {% set borrowerIndex = 0 %}
                {% set lenderIndex = 0 %}
                <div class="promo-battenberg" {# data-watchscroll-action="enter" data-watchscroll-callback="addClass:ui-is-visible" #}>
                {% set lastPersonType = '' %}
                {% for index, person in testimonialPeople %}

                    {# Split into two separate swipers #}
                    {% if lastPersonType != person.type %}
                        {% if lastPersonType != '' %}
                            </div><!-- /.swiper-wrapper -->
                        </div><!-- /.swiper-container -->
                        {% endif %}
                        <div class="promo-battenberg-{{ person.type }} swiper-container">
                            <div class="swiper-wrapper">
                    {% endif %}

                    {# Set class color based on person type #}
                    {% if person.type == 'lender' %}
                        {% set classColor = 'p1' %}
                        {% set description = person.name ~' , ' ~ person.projects %}
                    {% elseif person.type == 'borrower' %}
                        {% set classColor = 'p2' %}
                        {% set description = person.name ~' , ' ~ person.location %}
                    {% endif %}

                    {#{% if index % 2 == 1 %}#}
                    {% if person.type == 'lender' %}
                        {% set classPosition = 'promo-align-right' %}
                        {% set classAnimatePosition = 'ui-animate-from-left' %}
                        {% set classRow = 'row reverse' %}
                        {% set classColumnsImage = 'col-lg-5 pull-lg-1 col-md-5 pull-md-1' %}
                        {% set classColumnsSlide = 'col-lg-6 col-md-6' %}
                    {# {% elseif index % 2 == 0 %} #}
                    {% elseif person.type == 'borrower' %}
                        {% set classPosition = 'promo-align-left' %}
                        {% set classAnimatePosition = 'ui-animate-from-right' %}
                        {% set classRow = 'row' %}
                        {% set classColumnsImage = 'col-lg-5 push-lg-1 col-md-5 push-md-1' %}
                        {% set classColumnsSlide = 'col-lg-6 col-md-6' %}
                    {% endif %}

                    <div class="promo-{{ person.type }} {{ classRow }} swiper-slide">
                        <div class="col-image {{ classColumnsImage }}">
                            <div class="promo-image promo-{{ classColor }} swiper-lazy" data-background="{{ completeTestimonialUrl(person.battenberg_image, 'image') }}">
                                &nbsp;
                                {% if person.type == 'borrower' %}
                                <a href="{{ path('home_borrower') }}#homeemp-section-esim" class="promo-image-cta">
                                    <div><span class="link">{{ "site-general_testimonial-section-overlay-link-#{person.type}"|trans }}</span></div>
                                </a>
                                {% endif %}
                                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                            </div><!-- /.promo-image -->
                        </div>
                        <div class="col-text {{ classColumnsSlide }} vertical-align-content">
                            <div class="promo-slide promo-{{ classColor }} {{ classPosition }}">
                                <p class="quote">{{ person.quote|raw }}</p>
                                <p class="source"><cite>{{ description }}</cite></p>

                                {% if person.type == 'borrower' %}
                                <div class="promo-links">
                                    <a href="{{ path('testimonials') }}#testimonial-{{ person.name }}" class="link">{% trans %} site-general_testimonial-section-link-lender-title {% endtrans %}</a>
                                    {% if person.project.slug is not empty %}
                                        <a href="{{ path('project_detail', {'projectSlug' : person.project.slug}) }}" class="link">
                                            {% trans %} site-general_testimonial-section-link-borrower-title {% endtrans %}
                                        </a>
                                    {% endif %}
                                </div>
                                {% endif %}
                            </div><!-- /.promo-slide -->
                        </div>
                    </div><!-- /.swiper-slide -->

                    {# Set class color based on person type #}
                    {% if person.type == 'lender' %}
                        {% set lenderIndex =+ 1 %}
                    {% elseif person.type == 'borrower' %}
                        {% set borrowerIndex =+ 1 %}
                    {% endif %}
                    {% set lastPersonType = person.type %}
                {% endfor %}
                        </div><!-- /.swiper-wrapper -->
                    </div><!-- /.swiper-container -->
                </div><!-- /.promo-battenberg -->

                <div class="row page-section">
                    <div class="btn-toolbar">
                        <a href="{{ path('projects_list') }}" class="btn-primary">
                            <span class="icon fa-angle-right"></span>
                            {% trans %} site-general_button-to-projects-page {% endtrans %}
                        </a>
                    </div>
                </div>
            </div><!-- /.site-wrap -->
        </section><!-- /.page-section -->

        <section id="homeacq-section-join" class="page-section bg-bg3">
            <div class="site-wrap">
                <h2 class="h2">{% trans %} site-general_unilend-advantages-title {% endtrans %}</h2>
                <div class="cta-cards">
                    <div class="row">
                        <div class="col-lg-5 push-lg-1 col-md-5 push-md-1">
                            <div class="card card-preter">
                                <h4>{% trans with {'%numberLenders%' : getStatistic('numberOfLendersInCommunity')|localizednumber } %} site-general_unilend-advantages-join-us-title {% endtrans %}</strong></h4>
                                <div class="card-text">
                                    <ul class="list-checked">
                                        {% trans %} site-general_unilend-advantages-join-us-description {% endtrans %}
                                    </ul>
                                </div><!-- /.card-text -->
                                <a href="{{ path('lender_subscription_personal_information') }}" class="btn-primary btn-shape-md">{% trans %} site-general_unilend-advantages-welcome-offer-title {% endtrans %}</a>
                                {% if showWelcomeOffer == true %}
                                    <div class="stamp" data-watchscroll-action="enter" data-watchscroll-callback="addClass:ui-is-visible">
                                        {% trans %} site-general_unilend-advantages-welcome-offer-description {% endtrans %}
                                    </div><!-- /.stamp -->
                                {% endif %}
                            </div><!-- /.card -->
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="card card-emprunter">
                                <h4>{% trans %} site-general_unilend-advatanges-borrow-title {% endtrans %}</h4>
                                <div class="card-text">
                                    <ul class="list-checked">
                                        {% trans %} site-general_unilend-advatanges-borrow-description {% endtrans %}
                                    </ul>
                                </div><!-- /.card-text -->
                                <a href="{{ path('home_borrower') }}#homeemp-section-esim" class="btn-alternate btn-shape-md">{% trans %} site-general_unilend-advantages-borrower-test-button {% endtrans %}</a>
                            </div><!-- /.card -->
                        </div>
                    </div><!-- .row -->
                </div><!-- /.cta-cards -->
            </div><!-- /.site-wrap -->
        </section><!-- /.page-section -->

        <section id="homeacq-section-ethics" class="page-section">
            <div class="site-wrap">
                <h2 class="h2">{% trans %} site-general_ethics-section-title {% endtrans %}</h2>

                <div class="promo-swiper swiper-container">
                    <div class="row swiper-wrapper">
                        <div class="col-lg-4 col-md-4 swiper-slide">
                            <div class="promo">
                                <div class="promo-image">
                                    {{ svgimage('#promo-transparancy', '', 190, 190, 'none')|raw }}
                                </div>
                                <h3>{% trans %} site-general_ethics-section-value-transparency-title {% endtrans %}</h3>
                                <p>{% trans %} site-general_ethics-section-value-transparancy-description {% endtrans %}</p>
                            </div><!-- /.promo -->
                        </div>
                        <div class="col-lg-4 col-md-4 swiper-slide">
                            <div class="promo">
                                <div class="promo-image">
                                    {{ svgimage('#promo-balance', '', 190, 190, 'none')|raw }}
                                </div>
                                <h3>{% trans %} site-general_ethics-section-equality-title {% endtrans %}</h3>
                                <p>{% trans %} site-general_ethics-section-equality-description {% endtrans %}</p>
                            </div>
                        </div><!-- /.promo -->
                        <div class="col-lg-4 col-md-4 swiper-slide">
                            <div class="promo">
                                <div class="promo-image">
                                    {{ svgimage('#promo-protection', '', 190, 190, 'none')|raw }}
                                </div>
                                <h3>{% trans %} site-general_ethics-section-protection-title {% endtrans %}</h3>
                                <p>{% trans %} site-general_ethics-section-protection-description {% endtrans %}</p>
                            </div><!-- /.promo -->
                        </div>
                    </div>
                </div>

                <div class="row page-section-footer">
                    <div class="btn-toolbar">
                        <a href="{{ constant('Unilend\\Bundle\\FrontBundle\\Service\\RouteProvider::ROUTE_OUR_ETHICS') }}" class="btn-primary">{% trans %} site-general_ethics-section-read-all-button {% endtrans %}</a>
                    </div><!-- /.btn-toolbar -->
                </div>
            </div><!-- /.site-wrap -->
        </section><!-- /.page-section -->

        {{ render_esi(controller('UnilendFrontBundle:Main:footerReviews')) }}

    </article><!-- /.page -->
{% endblock %}
