{% extends 'layouts/_layout.html.twig' %}

{% set page= {
    title: project.title,
    permalink: project.slug
} %}

{# Set the rating class for the .rating element #}
{% set classRating = project.risk|convertRisk|split('.')|join('-') %}

{% block siteContent %}
    <article id="project-single" class="page project-single project-category-{{ project.company.sectorId }}{% if project.finished %} ui-project-expired{% endif %}">
        <header class="project-single-header-wrap">
            <div class="project-single-map">
                {% if project.company.latitude is not empty and project.company.longitude is not empty %}
                    {# Set the offer status to show the icon in the marker #}
                    {# @note MapView CSS relies on offerStatuses named 'inprogress', 'rejected' and 'accepted' #}
                    {% set mapviewOfferStatus = '' %}

                    {# Set the group based on active, expired, or offers inprogress, rejected or accepted #}
                    {# @note MapView JS component & CSS relies on two groups named 'active' and 'expired' (case insensitive) #}
                    {% set mapviewGroup = (project.finished ? 'expired' : 'active') %}

                    {% set mapview = {
                        target: '#project-map',
                        showFilters: false,
                        mapbox: {
                            center: [project.company.latitude, project.company.longitude],
                            zoom: 13
                        },
                        groups: ['all'],
                        markers: [{
                            id: 'marker' ~ project.projectId,
                            categoryId: project.company.sectorId,
                            latLng: [project.company.latitude, project.company.longitude],
                            title: project.title,
                            description: '<div style="font-style: italic;">' ~ project.company.city ~ ', ' ~ project.company.zip ~ '</div><div class="rating rating-' ~ classRating ~ '"><span class="sr-only">' ~ ('project-detail_rating-legend'|trans({'%rating%' : classRating})) ~ '</span></span></div>',
                            status: (project.finished ? 'expired' : 'active'),
                            offerStatus: mapviewOfferStatus|default(''),
                            groupName: mapviewGroup|default('all')
                        }]
                    } %}

                    {# @note This MapView will only be initialised when it's first viewed, to reduce calls to Mapbox and lower API usage (see showProjectSingleMap function in components/Projects.js) #}
                    <div id="project-map" class="project-single-map-embed" data-has-spinner="#spinner-project-single-map">
                        <a href="javascript:;" class="btn-close ui-project-single-map-toggle"><span class="label sr-only">{% trans %} project-detail_map-close-button {% endtrans %}</span></a>
                    </div>
                    <script type="text/javascript">
                        var projectMapViewSettings = '{{ mapview|json_encode|escape('js') }}'
                    </script>
                    <div id="spinner-project-single-map" class="spinner-mapview"><span class="icon fa-refresh"></span></div>
                {% endif %}
            </div><!-- /.project-single-map -->

            <div class="project-single-header">
                <div class="project-single-header-position">
                    <div class="project-single-header-inner">
                        <div class="project-single-category">
                            <div class="svg-icon-wrap" style="max-width: 160px">
                                <canvas class="svg-icon-aspect" width="160" height="160"></canvas>
                                {{ svgimage('#category-' ~ project.company.sectorId, '', 160, 160)|raw }}
                            </div>
                        </div><!-- /.project-single-category -->

                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <div class="project-single-details">
                                    <h1 class="project-single-title">{{ project.title }}</h1>
                                    <div class="project-single-meta">
                                        <h4 class="project-single-location">
                                            <span class="icon fa-map-marker-u16"></span>
                                            <span class="label">{{ project.company.city }}, {{ project.company.zip }}</span>
                                            {% if mapview is defined %}
                                                <a href="javascript:;" class="link ui-project-single-map-toggle ui-project-single-map-hidden">
                                                    <span class="ui-project-single-map-show-label label">{% trans %} project-detail_show-map-label {% endtrans %}</span>
                                                    <span class="ui-project-single-map-hide-label label">{% trans %} project-detail_hide-map-label {% endtrans %}</span>
                                                </a>
                                            {% endif %}
                                        </h4>
                                    </div><!-- /.project-single-meta -->
                                </div><!-- /.project-single-details -->
                            </div>

                            <div class="col-lg-4 col-md-4 hide-xs hide-sm">
                                <div class="project-single-rating">
                                    <div class="label"><a href="{{ path('mon-premier-pret') }}#note">{% trans %} project-detail_unilend-rating-label {% endtrans %}</a></div>
                                    <a href="{{ path('mon-premier-pret') }}#note">
                                        <span class="rating rating-{{ classRating }}">
                                            <span class="sr-only">
                                                {% trans with {'%risk%' : project.risk|convertRisk} %} project-detail_unilend-rating-wording-label {% endtrans %}
                                            </span>
                                        </span>
                                    </a>
                                </div><!-- /.project-single-rating -->
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-md-9">
                                <div class="project-single-description">
                                    {{ project.introduction|nl2br }}
                                </div><!-- /.project-single-description -->
                            </div>
                        </div>

                        <div class="row">
                            {% if project.picture is not empty %}
                                <div class="col-lg-5 col-md-4 hide-tablet-l hide-sm hide-xs">
                                    <div class="project-single-image">
                                        <img src="{{ project.picture|completeProjectImagePath }}" alt="{{ project.title|escape('html_attr') }}">
                                    </div><!-- /.project-single-image -->
                                </div>
                            {% endif %}

                            <div class="col-lg-5 col-md-5 col-sm-6">
                                <div class="project-single-period">
                                    <div class="project-single-period-countdown">
                                        {% if project.finished %}
                                            {% trans %} project-detail_project-status-finished {% endtrans %}
                                        {% else %}
                                            <span class="icon fa-clock-u32"></span>
                                            <span class="ui-has-timecount" data-timecount-to="{{ project.endDate|date('c') }}"></span>
                                        {% endif %}
                                    </div>

                                    <div class="project-single-period-expires">
                                        {% trans with {
                                            '%date%' : project.endDate|localizeddate('full', 'none', app.request.locale),
                                            '%hours%' : project.endDate|date('H'),
                                            '%minutes%' : project.endDate|date('i')
                                        } %} project-detail_project-end-label {% endtrans %}
                                    </div>
                                </div><!-- /.project-single-period -->

                                <div class="project-single-offers">
                                    {% if project.lender.bids is defined and project.lender.bids.count > 0 %}
                                        {% if project.lender.bids.accepted is not empty %}
                                            <div class="project-single-useroffers-accepted">
                                                {{ project.lender.bids.accepted|length|localizednumber }} {% transchoice project.lender.bids.accepted|length %} project-detail_accepted-bids-label {% endtranschoice %}
                                            </div>
                                        {% endif %}
                                        {% if project.lender.bids.inprogress is not empty %}
                                            <div class="project-single-useroffers-inprogress">
                                                {{ project.lender.bids.inprogress|length|localizednumber }} {% transchoice project.lender.bids.inprogress|length %} project-detail_pending-bids-label {% endtranschoice %}
                                            </div>
                                        {% endif %}
                                        {% if project.lender.bids.rejected is not empty %}
                                            <div class="project-single-useroffers-rejected">
                                            {{ project.lender.bids.rejected|length|localizednumber }} {% transchoice project.lender.bids.rejected|length %} project-detail_rejected-bids-label {% endtranschoice %}
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <div class="project-single-offers-total">
                                        {% trans with {'%totalLenders%' : '<strong>' ~ project.totalLenders|localizednumber ~ '</strong>'} %} project-detail_offres-total-label {% endtrans %}
                                    </div>
                                </div><!-- /.project-single-offers -->

                                {# Responsive cheat #}
                                <div class="show-xs show-sm">
                                    <div class="project-single-rating">
                                        <div class="label">{% trans %} project-detail_unilend-rating-label {% endtrans %}</div>
                                        <span class="rating rating-{{ classRating }}">
                                            <span class="sr-only">{% trans with {'%risk%' : project.risk|convertRisk} %} project-detail_unilend-rating-wording-label {% endtrans %}</span>
                                        </span>
                                    </div><!-- /.project-single-rating -->
                                </div><!-- /.show-xs.show-sm -->
                            </div>
                        </div>
                    </div><!-- /.project-single-header-inner -->
                </div><!-- /.project-single-header-position -->
                {% if project.navigation.previousProject is defined and project.navigation.previousProject is not empty %}
                    <a href="{{ path('project_detail', {'projectSlug' : project.navigation.previousProject.slug}) }}" class="btn-nav-previous" title="{{ project.navigation.previousProject.title }}" data-toggle="tooltip" data-placement="right"><span class="sr-only">{% trans %} project-detail_next-project-label {% endtrans %}</span></a>
                {%  endif %}
                {% if project.navigation.nextProject is defined and project.navigation.nextProject is not empty %}
                    <a href="{{ path('project_detail', {'projectSlug' : project.navigation.nextProject.slug}) }}" class="btn-nav-next" title="{{ project.navigation.nextProject.title }}" data-toggle="tooltip" data-placement="left"><span class="sr-only">{% trans %} project-detail_previous-project-label {% endtrans %}</span></a>
                {%  endif %}
            </div><!-- /.project-single-header -->

            {% include 'partials/components/list-socialmedia.html.twig' %}
        </header><!-- /.project-single-header-wrap -->

        {% include 'partials/components/project-detail/side-panel.html.twig' %}

        <div class="project-single-menu">
            <div class="project-single-menu-inner">
                <nav class="project-single-nav">
                    <ul class="nav nav-anchors">
                        {% if conditions.bids %}
                            <li role="presentation"><a href="#offers">{% trans %} project-detail_presentation-title-offers {% endtrans %}</a></li>
                        {% endif %}
                        <li role="presentation"><a href="#presentation">{% trans %} project-detail_presentation-title-presentation {% endtrans %}</a></li>
                        <li role="presentation"><a href="#finance">{% trans %} project-detail_presentation-title-financial-accounts {% endtrans %}</a></li>
                    </ul>
                </nav><!-- /.project-single-nav -->

                <div class="project-single-menu-info">
                    <div class="project-single-menu-col project-single-menu-title">
                        <div class="title">{{ project.title }}</div>
                        <span class="rating rating-{{ classRating }}"><span class="sr-only">{% trans with {'%risk%' : project.risk|convertRisk|localizednumber} %} project-detail_unilend-rating-wording-label {% endtrans %}</span></span>
                    </div><!-- /.project-single-menu-title -->
                    <div class="project-single-menu-col project-single-menu-period">
                        {% if project.finished %}
                            {% trans %} project-detail_project-status-finished {% endtrans %}
                        {% else %}
                            <span class="icon fa-clock-u32"></span>
                            <span class="ui-has-timecount" data-timecount-to="{{ project.endDate|date('c') }}"></span>
                        {% endif %}
                    </div><!-- /.project-single-menu-period -->
                    <div class="project-single-menu-col project-single-menu-top">
                        <a href="#top" class="btn-nav-top"><span class="sr-only">{% trans %} project-detail_back-to-top-screen-reader-link {% endtrans %}</span></a>
                    </div><!-- /.project-single-menu-top -->
                </div><!-- /.project-single-menu-info -->
            </div><!-- /.project-single-nav-inner -->
        </div><!-- /.project-single-menu -->

        <div class="project-single-content page-content">
            <div class="site-wrap">
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <nav class="project-single-nav">
                            <ul class="nav nav-anchors">
                                {% if conditions.bids %}
                                    <li role="presentation"><a href="#offers">{% trans %} project-detail_presentation-title-offers {% endtrans %}</a></li>
                                {% endif %}
                                <li role="presentation"><a href="#presentation">{% trans %} project-detail_presentation-title-presentation {% endtrans %}</a></li>
                                <li role="presentation"><a href="#finance">{% trans %} project-detail_presentation-title-financial-accounts {% endtrans %}</a></li>
                            </ul>
                        </nav><!-- /.project-single-nav -->

                        {% if conditions.bids %}
                            <div id="offers" data-watchscroll-nav>
                                {% if conditions.myBids %}
                                    {% include 'partials/components/project-detail/my-bids.html.twig' %}
                                {% endif %}

                                {% include 'partials/components/project-detail/bids-list.html.twig' %}
                            </div>
                        {% endif %}

                        <div id="presentation" data-watchscroll-nav>
                            <section id="project-section-who" class="page-section">
                                <h3 class="h3">{% trans %} project-detail_project-presentation-about-us-title {% endtrans %}</h3>
                                {% if conditions.validatedUser %}
                                    <p>{{ project.companyDescription|raw }}</p>
                                {% elseif conditions.notValidatedUser %}
                                    <p>{% trans %} project-detail_not-validated-description {% endtrans %}</p>
                                {% else %}
                                    <p>{% trans %} project-detail_logged-out-description {% endtrans %}</p>
                                {% endif %}
                            </section><!-- /.page-section -->

                            <section id="project-section-what" class="page-section separate">
                                <h3 class="h3">{% trans %} project-detail_project-presentation-our-project {% endtrans %}</h3>
                                {% if conditions.validatedUser %}
                                    <p>{{ project.projectDescription|raw }}</p>
                                {% elseif conditions.notValidatedUser %}
                                    <p>{% trans %} project-detail_not-validated-description {% endtrans %}</p>
                                {% else %}
                                    <p>{% trans %} project-detail_logged-out-description {% endtrans %}</p>
                                {% endif %}
                            </section><!-- /.page-section -->
                        </div>

                        {% include 'partials/components/project-detail/finance.html.twig' %}

                        <section id="project-section-help" class="page-section">
                            <h3 class="h3">{% trans %} project-detail_project-presentation-repayment-reason-title {% endtrans %}</h3>
                            {% if conditions.validatedUser %}
                                <p>{{ project.repaymentDescription|raw }}</p>
                            {% elseif conditions.notValidatedUser %}
                                <p>{% trans %} project-detail_not-validated-description {% endtrans %}</p>
                            {% else %}
                                <p>{% trans %} project-detail_logged-out-description {% endtrans %}</p>
                            {% endif %}

                            {% if conditions.displayCipDisclaimer %}
                                <p class="text-align-center">
                                    <a href="/var/dirs/{{ project.slug }}.pdf" class="link">Télécharger le document d’information réglementaire synthétique</a>
                                </p>
                            {% endif %}

                            {% if conditions.warningLending %}
                                <div class="message-alert">
                                    <p>{% trans %} project-detail_non-payment-warning {% endtrans %}</p>
                                    <a href="{{ path('pourquoi-preter') }}" class="link">{% trans %} project-detail_learn-more-link-under-warnings {% endtrans %}</a>
                                </div>
                            {% endif %}

                            {% if conditions.warningTaxDeduction %}
                                <div class="message-info">
                                    <p>{% trans %} project-detail_fiscal-information {% endtrans %}</p>
                                    <a href="{{ path('fiscalite') }}" class="link">{% trans %} project-detail_learn-more-link-under-warnings {% endtrans %}</a>
                                </div>
                            {% endif %}
                        </section><!-- /.page-section -->

                        <div class="project-single-info-position-end"></div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.site-wrap -->
        </div><!-- /.project-single-content -->
    </article>
{% endblock %}

{% block modals %}
    {% if project.lender is defined %}
        {% include 'partials/components/project-detail/modal-bid-confirmation.html.twig' %}
        {% include 'partials/components/project-detail/modal-bid-error.html.twig' %}
        {% include 'partials/components/project-detail/modal-cip-advices.html.twig' %}
        {% include 'partials/components/project-detail/modal-cip-questionnaire.html.twig' %}
    {% endif %}
{% endblock %}
