{# Projects Index #}
{% extends 'layouts/_layout.html.twig' %}
{% import 'extensions/_general.macros.twig' as general %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
title: 'Déposer un projet',
permalink: route('emprunter/new')
} %}

{% block siteContent %}
    <article id="deposer-projet" class="page">

        <div class="hero-wrap">

            <header class="page-header">
                <div class="site-wrap">
                    <h1 id="project-create-title" class="h1">{% trans %} project-request_page-title {% endtrans %}</h1>
                </div><!-- /.site-wrap -->
            </header><!-- /.page-header -->

            <div class="page-content">
                <div class="site-wrap">
                    <form id="form-project-create" method="{{ route('project/create') }}" action="post" class="form-project-create tabs ui-tabs-progress" data-cacheform>
                        <div class="row">
                            <div class="col-lg-8 col-md-8">
                                <div class="form-project-create-nav tab-nav">
                                    <ul class="nav nav-progress">
                                        <li id="project-create-1" role="presentation" class="active">
                                            <a href="#form-project-create-1" role="tab" data-toggle="tab">
                                                <span class="project-create-progress-point">1.</span>
                                                <span class="label">{% trans %} project-request_step-1-title {% endtrans %}</span>
                                            </a>
                                        </li>
                                        <li id="project-create-2" role="presentation">
                                            <a href="#form-project-create-2" role="tab" data-toggle="tab">
                                                <span class="project-create-progress-point">2.</span>
                                                <span class="label">{% trans %} project-request_step-2-title {% endtrans %}</span>
                                            </a>
                                        </li>
                                        <li id="project-create-3" role="presentation">
                                            <a href="#form-project-create-3" role="tab" data-toggle="tab">
                                                <span class="project-create-progress-point">3.</span>
                                                <span class="label">{% trans %} project-request_step-3-title {% endtrans %}</span>
                                            </a>
                                        </li>
                                    </ul><!-- /.nav-progress -->
                                </div><!-- /.form-project-create-nav -->
                            </div>
                        </div>
                        <div class="row ui-sticky-parent">
                            <div class="col-form col-lg-8 col-md-8">
                                <div class="form-project-create-content tab-content">
                                    {# Informations Principales #}
                                    <div id="form-project-create-1" role="tabpanel" class="tab-pane active" aria-labelledby="project-create-1 project-create-title" data-formvalidation data-formvalidation-notificationselem="#form-project-create-1-notifications">
                                        <fieldset class="panel">
                                            <div id="form-project-create-1-notifications" class="ui-formvalidation-notifications"></div>

                                            <h3 class="h3">{% trans %} project-request_step-1-title {% endtrans %}</h3>

                                            <div class="row row-multi-col-computer">
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <div class="field-label">
                                                        <label for="form-project-create-amount">{% trans %} project-request_step-1-amount-field-label {% endtrans %}
                                                            <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    </div>
                                                    <div class="input-group set-left">
                                                        <div class="btn-group">
                                                            <span class="icon fa-euro"></span>
                                                        </div><!-- /.btn-group -->
                                                        <input id="form-project-create-amount" type="number" min="0" step="any" name="amount" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                    </div><!-- /.input-group -->
                                                </div><!-- /.form-field -->
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <div class="field-label">
                                                        <label for="form-project-create-duration">{% trans %} project-request_step-1-period-field-label {% endtrans %}
                                                            <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    </div>
                                                    <select id="form-project-create-duration" name="duration" class="input-field" data-formvalidation-input data-formvalidation-required="true">
                                                        <option value="">{% trans %} project-request_step-1-period-select {% endtrans %}</option>
                                                        {% for period in loanPeriods %}
                                                        <option value="{{ period }}">{% trans with {'%period%' : period} %} project-request_step-1-period-select-months {% endtrans %}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row row-multi-col-computer">
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-societenom">{% trans %} project-request_step-1-company-name-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <input id="form-project-create-societenom" type="text" name="societe_nom" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                </div><!-- /.form-field -->
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-siren">{% trans %} project-request_step-1-company-siren-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only">{% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <div class="input-group">
                                                        <input id="form-project-create-siren" type="number" name="siren" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="siren"/>
                                                    </div><!-- /.input-group -->
                                                </div><!-- /.form-field -->
                                            </div>
                                        </fieldset>

                                        <fieldset class="panel">
                                            <h3 class="h3">{% trans %} project-request_step-1-representative-idetity-section-title {% endtrans %}</h3>

                                            <div class="row">
                                                <div class="form-field form-field-multi">
                                                    <div class="field-label">
                                                        <label>{% trans %} project-request_step-1-representative-identity-form-of-address-label {% endtrans %}
                                                            <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    </div>
                                                    <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                                                        <li>
                                                            <label><input type="radio" name="identity[civilite]" value="madame"/>
                                                                {% trans %} project-request_step-1-representative-identity-form-of-address-female {% endtrans %}</label>
                                                        </li>
                                                        <li>
                                                            <label><input type="radio" name="identity[civilite]" value="monsieur"/>
                                                                {% trans %} project-request_step-1-representative-identity-form-of-address-male {% endtrans %}</label>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row">
                                                <div class="form-field form-field-multi">
                                                    <div class="field-label">
                                                        <label>{% trans %} project-request_step-1-representative-identity-role-field-label {% endtrans %}
                                                            <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    </div>
                                                    <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                                                        <li>
                                                            <label><input type="radio" name="identity[statut]" value="yes"/> {% trans %} project-request_step-1-representative-identity-role-owner-label {% endtrans %}</label>
                                                        </li>
                                                        <li>
                                                            <label><input type="radio" name="identity[statut]" value="no"/> {% trans %} project-request_step-1-representative-identity-role-not-owner-label {% endtrans %}</label>
                                                        </li>
                                                    </ul>
                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row row-multi-col-computer">
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-identity-nom">{% trans %} project-request_step-1-representative-identity-name-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <input id="form-project-create-identity-nom" type="text" name="identity[nom]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                </div><!-- /.form-field -->
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-identity-prenom">{% trans %} project-request_step-1-representative-identity-first-name-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <input id="form-project-create-identity-prenom" type="text" name="identity[prenom]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row row-multi-col-computer">
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-identity-email">{% trans %} project-request_step-1-representative-identity-email-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <input id="form-project-create-identity-email" type="email" name="identity[email]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                </div><!-- /.form-field -->
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-identity-email-conf">{% trans %} project-request_step-1-representative-identity-email-confirmation-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <div class="input-group">
                                                        <input id="form-project-create-identity-email-conf" type="email" name="identity[email_conf]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-samevalueas="#form-project-create-identity-email"/>
                                                    </div>
                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row row-multi-col-computer">
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-identity-telephone">{% trans %} project-request_step-1-representative-identity-telephone-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <div class="input-group">
                                                        <input id="form-project-create-identity-mobile" type="text" name="identity[address][mobile]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="telephone"/>
                                                    </div>
                                                </div><!-- /.form-field -->
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-identity-function">{% trans %} project-request_step-1-representative-identity-function-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <div class="input-group">
                                                        <input id="form-project-create-identity-function" type="text" name="identity[function]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                    </div>
                                                </div><!-- /.form-field -->
                                            </div>

                                        </fieldset>

                                        <fieldset class="panel">
                                            <div class="row">
                                                <div class="form-field form-field-single-checkbox">
                                                    <label><input type="checkbox" name="identity[accept_terms]" value="true" data-formvalidation-input data-formvalidation-required="true">
                                                        <span class="label">{% trans %} project-request_step-1-confirm-terms-of-use {% endtrans %} <span class="field-required">* <span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></span></label>
                                                </div><!-- /.form-field -->
                                            </div>
                                        </fieldset>

                                        <div class="row btn-controls tab-footer">
                                            <div class="col-back col-lg-1 col-md-1">&nbsp;</div>
                                            <div class="col-next col-lg-11 col-md-11">
                                                <a href="#form-project-create-2" data-toggle="tab" class="btn-primary">{% trans %} project-request_step-1-validate-button {% endtrans %}
                                                    <span class="icon fa-angle-right"></span></a>
                                            </div>
                                        </div><!-- /.btn-controls.tab-footer -->

                                    </div><!-- /.tab-pane -->

                                    {# Finance #}
                                    <div id="form-project-create-2" role="tabpanel" class="tab-pane" aria-labelledby="project-create-2 project-create-title" data-formvalidation data-formvalidation-notificationselem="#form-project-create-2-notifications">
                                        <fieldset class="panel">
                                            <div id="form-project-create-2-notifications" class="ui-formvalidation-notifications"></div>

                                            <h3 class="h3">{% trans %} project-request_step-2-title {% endtrans %}</h3>

                                            <div class="message-info">
                                                <p>{% trans %} project-request_step-2-info-message {% endtrans %}</p>
                                            </div><!-- /.message-info -->

                                            <div class="row">
                                                <div class="form-field col-lg-6 col-md-6 col-sm-4">
                                                    <label for="form-project-create-finance-equity">{% trans %} project-request_step-2-capital-stock-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <div class="input-group set-left">
                                                        <div class="btn-group">
                                                            <span class="icon fa-euro"></span>
                                                        </div><!-- /.btn-group -->
                                                        <input id="form-project-create-finance-equity" type="number" name="finance[equity]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                    </div><!-- /.input-group -->
                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row">
                                                <div class="form-field col-lg-6 col-md-6 col-sm-4">
                                                    <label for="form-project-create-finance-turnover">{% trans %} project-request_step-2-revenue-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <div class="input-group set-left">
                                                        <div class="btn-group">
                                                            <span class="icon fa-euro"></span>
                                                        </div><!-- /.btn-group -->
                                                        <input id="form-project-create-finance-turnover" type="number" name="finance[turnover]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                    </div><!-- /.input-group -->
                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row">
                                                <div class="form-field col-lg-6 col-md-6 col-sm-4">
                                                    <label for="form-project-create-finance-income">{% trans %} project-request_step-2-operating-income-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <div class="input-group set-left">
                                                        <div class="btn-group">
                                                            <span class="icon fa-euro"></span>
                                                        </div><!-- /.btn-group -->
                                                        <input id="form-project-create-finance-income" type="number" name="finance[income]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                    </div><!-- /.input-group -->
                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row">
                                                <div class="form-field">
                                                    <label>{% trans %} project-request_step-2-tax-package-upload-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>

                                                    <div class="form-field">
                                                        <div class="custom-input-file" id="form-project-create-finance-taxreturn" data-fileattach data-fileattach-inputname="fichier[taxreturn]" data-fileattach-maxfiles="1" data-formvalidation-input data-formvalidation-required='input[type="file"][name="fichier[taxreturn][0]"]'></div><!-- /.ui-fileattach -->
                                                    </div><!-- /.form-field -->

                                                    <div class="form-field form-field-single-checkbox">
                                                        <label><input id="form-project-create-extrafiles-toggle" type="checkbox" name="extra_files" value="true" data-cacheform-ignore>
                                                            <span class="label">{% trans %} project-request_step-2-process-fast-selectbox-label {% endtrans %}</span></label>
                                                    </div>

                                                    <div id="form-project-create-finance-extrafiles" style="display: none">
                                                        <div class="message-info">
                                                            {% trans %} project-request_step-2-process-fast-info-message {% endtrans %}
                                                        </div><!-- /.message-info -->

                                                        <div class="form-field">
                                                            {# Template is defined here so you can better do the translation and select field stuff #}
                                                            <div id="form-project-create-extrafiles-template" class="ui-template-definition" style="display: none" disabled="disabled" aria-hidden="true">
                                                                <div class="form-field file-upload-extra row row-multi-col-computer">
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <select name="fichier[extra][__NUM__][type]" class="input-field">
                                                                            <option value="">{% trans %} project-request_step-2-process-fast-files-select {% endtrans %}</option>
                                                                            {% for attachment in attachmentTypes  %}
                                                                                <option value="{{ attachment.id }}">{{ attachment.label }}</option>
                                                                            {% endfor %}
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6">
                                                                        <div class="custom-input-file" id="form-project-create-finance-taxreturn" data-fileattach data-fileattach-inputname="fichier[extra][__NUM__][file]" data-fileattach-maxfiles="1"></div><!-- /.ui-fileattach -->
                                                                    </div>
                                                                </div><!-- /.file-upload-extra -->
                                                            </div><!-- /.ui-template-definition -->

                                                            <div class="form-project-create-extrafiles-list">
                                                                <div class="form-field row row-multi-col-computer" style="margin-bottom: 0">
                                                                    <div class="col-lg-6 col-md-6" style="margin-bottom: 0">
                                                                        <label class="field-label">{% trans %} project-request_step-2-process-fast-files-select-label {% endtrans %}</label>
                                                                    </div>
                                                                    <div class="col-lg-6 col-md-6 hide-mobile" style="margin-bottom: 0">
                                                                        <div class="field-label">{% trans %} project-request_step-2-process-fast-files-file-label {% endtrans %}</div>
                                                                    </div>
                                                                </div>
                                                                {# Files will get added here #}
                                                            </div><!-- /.form-project-create-extrafiles-list -->

                                                            <a href="javascript:;" class="btn-default btn-shape-sq-md ui-form-project-create-extrafiles-add"><span class="icon fa-plus-u16 c-t2"></span>
                                                                <span class="sr-only">{% trans %} project-request_step-2-process-fast-files-add-file-label {% endtrans %}</span></a>
                                                        </div><!-- /.form-field -->
                                                    </div><!-- /.collapse -->

                                                </div><!-- /.form-field -->
                                            </div>

                                            <div class="row">
                                                <div class="form-field col-lg-6 col-md-6">
                                                    <label for="form-project-create-finance-nature">{% trans %} project-request_step-2-project-description-field-label {% endtrans %}
                                                        <span class="field-required">*<span class="sr-only"> {% trans %} project-request_mandatory-field {% endtrans %}</span></span></label>
                                                    <input id="form-project-create-finance-nature" type="text" name="finance[nature]" value="" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
                                                </div><!-- /.form-field -->
                                            </div>
                                        </fieldset>

                                        <div class="row reverse btn-controls tab-footer">
                                            <div class="col-submit col-lg-7 col-md-7">
                                                <a href="#form-project-create-3" data-toggle="tab" class="btn-primary"><span class="icon fa-check-u16"></span> {% trans %} project-request_submit-project-button {% endtrans %}</a>
                                            </div>
                                            <div class="col-back col-lg-5 col-md-5">
                                                <a href="#form-project-create-1" data-toggle="tab" class="btn-default"><span class="icon fa-angle-left"></span>{% trans %} project-request_modify-step-1-button {% endtrans %}</a>
                                            </div>
                                        </div><!-- /.btn-controls.tab-footer -->

                                    </div><!-- /#form-project-create-2.tab-pane -->

                                    {# Confirmation #}
                                    <div id="form-project-create-3" role="tabpanel" class="tab-pane" aria-labelledby="project-create-3 project-create-title">
                                        <div class="panel">
                                            <h3 class="h3">Félicitations&nbsp;!</h3>

                                            <p>Nous avons bein reçu votre demande, ainsi que les documents qui s'y rapportent.</p>
                                            <p>Nos équipes commencent l'analyse de votre dossier et reviendront vers vous sous 24h ouvrées, pour toute question complémentaire nous permettant de finaliser notre décision.</p>
                                            <p>Merci pour votre confiance.<br/>
                                                À bientôt sur Unilend.</p>

                                            <p>
                                                <a href="#todo" class="link">Je souhaite ajouter de nouveaux documents à ma demande</a>
                                            </p>

                                            <div class="btn-toolbar">
                                                <a href="{{ route('search') }}" class="btn-default ui-open-site-search">Une question&nbsp;?</a>
                                                <a href="#todo" class="btn-primary">Retour à l'accueil</a>
                                            </div><!-- /.btn-toolbar -->
                                        </div><!-- /.panel -->
                                    </div><!-- /#form-project-create-3.tab-pane -->
                                </div><!-- /.form-project-create-content -->
                            </div><!-- /.col-form -->
                            <div class="col-sim col-lg-4 col-md-4">
                                <div class="hide-xs hide-sm">
                                    <div class="emprunter-sim-mini ui-has-sticky" data-sticky-bufferbottom="156">
                                        <header class="emprunter-sim-mini-header">
                                            <h4 class="emprunter-sim-mini-title">{% trans %} project-request_simulator-panel-title {% endtrans %}</h4>
                                            <p>{% trans %} project-request_simulator-panel-message {% endtrans %}</p>
                                        </header>
                                        <div class="emprunter-sim-mini-content" style="display: none">
                                            <dl class="list-2col">
                                                <dt id="esim-label-amount">{% trans %} project-request_simulator-panel-amount-label {% endtrans %}</dt>
                                                <dd id="esim-output-amount">€</dd>
                                                <dt id="esim-label-duration">{% trans %} project-request_simulator-panel-estimated-funding-time-label {% endtrans %}</dt>
                                                <dd id="esim-output-duration">2 jours</dd>
                                                <dt id="esim-label-monthly" style="display: none">{% trans %} project-request_simulator-panel-estimated-monthly-repayment-label {% endtrans %}</dt>
                                                <dd id="esim-output-monthly" style="display: none">2&nbsp;887 / 3&nbsp;285€</dd>
                                            </dl>
                                        </div>
                                        <footer class="emprunter-sim-mini-footer" style="display: none">
                                            <p class="instructions">{% trans %} project-request_simulator-panel-message-duirng-step-1 {% endtrans %}</p>
                                        </footer>
                                    </div><!-- /.emprunter-sim -->
                                </div><!-- /.hide-responsive -->
                                &nbsp;{# It's moments like these you need Minties #}
                            </div><!-- /.col-sim -->
                        </div><!-- /.row -->
                    </form><!-- /.form-project-create -->
                </div><!-- /.site-wrap -->
            </div><!-- /.page-content -->

            {% include 'partials/components/list-socialmedia.html.twig' %}
        </div><!-- /.hero-wrap -->

    </article><!-- /.page -->
{% endblock %}
