<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    {% if not page.isIndexable %}
        <meta name="robots" content="noindex">
    {% endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0">
    <title>{{ page.title }}</title>
    <link rel="shortcut icon" href="/landing-page/css/images/favicon.ico">
    <link rel="stylesheet" href="/assets/fonts/style.css" />
    <link rel="stylesheet" href="/landing-page/css/style.css" type="text/css">

    <script src="/landing-page/js/modernizr.js"></script>
    <script src="/landing-page/js/jquery-1.11.0.min.js"></script>
    <script src="/scripts/default/livevalidation_standalone.compressed.js"></script>
    <script src="/landing-page/js/functions.js"></script>
    <style>
        .page-landing .signup form {padding: 5px 30px 21px;}
        .page-landing .signup .field {margin-bottom: 0;}
        .process ul.cf > li > p > span {color: #727272; font-size: 20px;}
        .error {color: #c84747;}
        .form-row.error {margin: 5px;}
        .form-row > em {display: inline-block; margin: 5px;}
        #depot_de_dossier .button.submit {font-weight: normal; margin-top: 25px; text-transform: uppercase;}
    </style>
</head>
<body>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id={{ settings.googleTagManagerId }}" height="0" width="0" style="display:none; visibility:hidden"></iframe>
</noscript>
<script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ settings.googleTagManagerId }}');</script>
<!-- End Google Tag Manager -->
<div class="shell page-landing">
    <div class="container cf">
        <section class="content left">
            <header class="page-header cf">
                <a target="_blank" href="https://{{ app.request.baseurl }}" class="logo left">
                    <img src="/landing-page/css/images/logo.png" alt="Unilend">
                </a>
                {% if cms.partner_logo is not empty %}
                    <img class="empruntis" src="{{ photo(cms.partner_logo) }}" alt="{{ cms.partner_logo_alt|escape('html_attr') }}">
                {% endif %}
            </header>
            <section class="process">
                <h1>{{ cms.title|raw }}</h1>
                <ul class="cf">
                    <li>
                        <img src="{{ photo(cms.center_blocks.1.image) }}" alt="{{ cms.center_blocks.1.image_alt|escape('html_attr') }}">
                        <p>
                            <strong>1.</strong>
                            <span>{{ cms.center_blocks.1.text }}</span>
                        </p>
                    </li>
                    <li>
                        <img src="{{ photo(cms.center_blocks.2.image) }}" alt="{{ cms.center_blocks.2.image_alt|escape('html_attr') }}">
                        <p>
                            <strong>2.</strong>
                            <span>{{ cms.center_blocks.2.text }}</span>
                        </p>
                    </li>
                    <li>
                        <img src="{{ photo(cms.center_blocks.3.image) }}" alt="{{ cms.center_blocks.3.image_alt|escape('html_attr') }}">
                        <p>
                            <strong>3.</strong>
                            <span>{{ cms.center_blocks.3.text }}</span>
                        </p>
                    </li>
                </ul>
                <div class="button-cta emprunteur">
                    {{ cms.center_button_text }}
                    <span class="after"></span>
                </div>
            </section>
        </section>
        <aside class="signup right">
            <h2>{{ cms.right_block_title }}</h2>
            <form action="{{ url('project_request_landing_page_start') }}" method="post" id="depot_de_dossier" name="depot_de_dossier">
                {% if form.message is not empty %}
                    <div class="form-row error" style="display:inline;">{{ form.message }}</div>
                {% endif %}
                <div class="form-row">
                    <span class="euro-sign">€</span>
                    <input type="text" name="montant" id="montant"
                           placeholder="{% trans %} borrower-landing-page_amount-placeholder {% endtrans %}"
                           value="{{ form.values.amount }}"
                           class="field required{% if form.errors.amount is defined %} LV_invalid_field{% endif %}"
                           data-validators="Presence&amp;Numericality, {maximum: {{ settings.maximumAmount }}}&amp;Numericality, {minimum: {{ settings.minimumAmount }}}"
                           onkeyup="lisibilite_nombre(this.value, this.id);">
                    <em{% if form.errors.amount is defined %} class="error"{% endif %}>{% trans %} borrower-landing-page_amount-legend {% endtrans %}</em>
                </div>
                <div style="clear:both;"></div>
                <div class="form-row">
                    <input type="text" name="siren" id="siren"
                           placeholder="{% trans %} borrower-landing-page_siren-placeholder {% endtrans %}"
                           value="{{ form.values.siren }}"
                           class="field required{% if form.errors.siren is defined %} LV_invalid_field{% endif %}"
                           data-validators="Presence&amp;Numericality&amp;Length, {minimum: 9, maximum: 14}">
                    <em{% if form.errors.siren is defined %} class="error"{% endif %}>{% trans %} borrower-landing-page_siren-legend {% endtrans %}</em>
                </div>
                {% if not cms.partner_funnel %}
                    <div class="form-row">
                        <input type="email" name="email" id="email"
                               placeholder="{% trans %} common_email {% endtrans %} *"
                               value="{{ form.values.email }}"
                               class="field{% if form.errors.email is defined %} LV_invalid_field{% endif %}"
                               data-validators="Presence&amp;Email">
                        <em{% if form.errors.email is defined %} class="error"{% endif %}>{% trans %} borrower-landing-page_email-legend {% endtrans %}</em>
                    </div>
                {% endif %}
                <button type="submit" class="button submit">
                    {{ cms.form_validation_button_text }}
                    <span class="arrow"></span>
                </button>
            </form>
        </aside>
    </div>
    <section class="partners cf">
        {% for partnerImage, partnerName in cms.footer %}
            {% if partnerImage is not empty %}
                <span{% if loop.index > 3 %} class="mobile-hidden"{% endif %}>
                    <img src="{{ photo(partnerImage, 'partenaires_landing_page') }}" alt="{{ partnerName|escape('html_attr') }}">
                </span>
            {% endif %}
        {% endfor %}
    </section>
</div>
<!--[if lte IE 9]>
<script src="/scripts/default/placeholders.jquery.min.js"></script>
<![endif]-->
</body>
</html>
