{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
id: 'user-preter-balance',
title: 'Prêteur / Apport',
permalink: path('lender_wallet_deposit'),
classNames: 'user-preter-balance'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {{ include('pages/lender_wallet/partials/tabnavigation.html.twig') }}

        <div class="dashboard-tabs-content tab-content">

            <article id="balance-deposit" class="tab-pane dashboard-tab-pane active ui-toggle-group" aria-multiselectable="true">
                {% if false == depositResult %}
                    <section id="balance-deposit-1" class="panel collapse in" aria-expanded="true">
                        <div class="row reverse">
                            <div class="col-lg-6 col-md-6">
                                <div class="dashboard-balance ui-balance-positive">
                                    <dl>
                                        <dt>{% trans %} lender-wallet_available-balance {% endtrans %}</dt>
                                        <dd>{{ balance|localizedcurrency('EUR') }}</dd>
                                    </dl>
                                    <div class="dashboard-balance-image">{{ svgimage('#promo-money', '', 160, 160)|raw }}</div>
                                </div><!-- /.dashboard-balance -->

                                <div class="balance-payment-details balance-payment-transfer" style="display: none;">
                                    <h4>{% trans %} lender-wallet_bank-transfer-details {% endtrans %}</h4>
                                    <ul class="list-block">
                                        <li class="ui-has-btn-copy">
                                            <div class="label">{% trans %} lender-wallet_your-account-id {% endtrans %}</div>
                                            <div id="balance-transfer-id" class="value">{{ lenderBankMotif }}</div>
                                            <a href="javascript:;" data-clipboard-target="#balance-transfer-id" class="btn-copy btn-default btn-shape-xxs">{% trans %} lender-wallet_copy {% endtrans %}</a>
                                        </li>
                                        <li class="ui-has-btn-copy">
                                            <div class="label">{% trans %} lender-wallet_bank-iban {% endtrans %}</div>
                                            <div id="balance-transfer-iban" class="value">{{ setting('Virement - IBAN') }}</div>
                                            <a href="javascript:;" data-clipboard-target="#balance-transfer-iban" class="btn-copy btn-default btn-shape-xxs">{% trans %} lender-wallet_copy {% endtrans %}</a>
                                        </li>
                                        <li class="ui-has-btn-copy">
                                            <div class="label">{% trans %} lender-wallet_bank-bic {% endtrans %}</div>
                                            <div id="balance-transfer-bic" class="value">{{ setting('Virement - BIC') }}</div>
                                            <a href="javascript:;" data-clipboard-target="#balance-transfer-bic" class="btn-copy btn-default btn-shape-xxs">{% trans %} lender-wallet_copy {% endtrans %}</a>
                                        </li>
                                        <li class="ui-has-btn-copy">
                                            <div class="label">{% trans %} lender-wallet_bank-account-owner {% endtrans %}</div>
                                            <div id="balance-transfer-account-owner" class="value">{{ setting('Virement - titulaire du compte') }}</div>
                                            <a href="javascript:;" data-clipboard-target="#balance-transfer-account-owner" class="btn-copy btn-default btn-shape-xxs">{% trans %} lender-wallet_copy {% endtrans %}</a>
                                        </li>
                                        <li class="ui-has-btn-copy">
                                            <div class="label">{% trans %} lender-wallet_bank-account-domiciliation {% endtrans %}</div>
                                            <div id="balance-transfer-account-domiciliation" class="value">{{ setting('Virement - domiciliation') }}</div>
                                            <a href="javascript:;" data-clipboard-target="#balance-transfer-account-domiciliation" class="btn-copy btn-default btn-shape-xxs">{% trans %} lender-wallet_copy {% endtrans %}</a>
                                        </li>
                                    </ul>
                                </div><!-- /.balance-payment-details.balance-payment-transfer -->
                            </div>
                            <div class="dashboard-tab-pane-content col-lg-6 col-md-6">
                                <h3>{% trans %} lender-wallet_deposit-money {% endtrans %}</h3>
                                <div class="form-field">
                                    <ul class="list-input-values">
                                        <li>
                                            <label><input type="radio" id="balance-payment-cb-toggle" name="deposit[method]" value="cb" checked="checked"/>{% trans %} lender-wallet_by-credit-card {% endtrans %}
                                            </label>
                                        </li>
                                        <li>
                                            <label><input type="radio" id="balance-payment-transfer-toggle" name="deposit[method]" value="transfer"/>{% trans %} lender-wallet_by-bank-transfer {% endtrans %}
                                            </label>
                                        </li>
                                    </ul><!-- /.list-input-values -->
                                </div><!-- /.form-field -->

                                <div class="balance-payment-cb">
                                    <form id="form-balance-deposit" action="{{ path('deposit_money') }}" method="post" class="form-balance-deposit" data-formvalidation data-formvalidation-render="false" data-ajax>
                                        <div class="form-field col-lg-5 col-md-5">
                                            <label for="form-balance-deposit-amount">{% trans %} lender-wallet_amount {% endtrans %}
                                                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                                            </label>
                                            <div class="input-group set-right">
                                                <div class="btn-group">
                                                    <span class="icon fa-euro"></span>
                                                </div>
                                                <input id="form-balance-deposit-amount" type="text" autocomplete="off" data-formvalidation-minvalue="{{ minDepositAmount }}" data-formvalidation-maxvalue="{{ maxDepositAmount }}" step="any" name="amount"
                                                       value="{% if formData.amount is defined %}{{ formData.amount }}{% endif %}" class="input-field" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-render="true"/>
                                            </div>
                                        </div><!-- /.form-field -->
                                        <div class="btn-controls">
                                            <button id="perform-deposit-money" class="btn-primary">{% trans %} lender-wallet_submit-transaction {% endtrans %}</button>
                                        </div><!-- /.btn-controls -->
                                        <div class="c-t3">
                                            <p>{% trans %} lender-wallet_secure-payment-message {% endtrans %}</p>
                                            <img src="{{ siteurlmedia('dashboard/logo-payline-grey.png') }}" alt="Payline"/>
                                        </div>
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('deposit') }}">
                                    </form>
                                </div><!-- /.balance-payment-cb -->

                                <div class="balance-payment-transfer" style="display: none;">
                                    <p>{% trans %} lender-wallet_bank-transfer-deposit-tips {% endtrans %}</p>
                                </div><!-- /.balance-payment-transfer -->
                            </div><!-- /.dashboard-tab-pane-content -->
                        </div>
                    </section><!-- /.panel -->
                {% else %}
                    <section id="balance-deposit-result" role="tabpanel" class="panel collapse in" aria-expanded="true">
                        {% if depositCode == 200 %}
                            <p>{% trans with {'%depositAmount%' : depositAmount} %} lender-wallet_deposit-success-message {% endtrans %}</p>
                            <p>
                                <a href="{{ path('lender_dashboard') }}" class='btn-primary'>{% trans %} lender-wallet_lender-dashboard {% endtrans %}</a>
                            </p>
                        {% else %}
                            <p>{% trans %} lender-wallet_deposit-error-message {% endtrans %}</p>
                            <p>
                                <a href="{{ path('lender_dashboard') }}" class='btn-primary'>{% trans %} lender-wallet_lender-dashboard {% endtrans %}</a>
                            </p>
                        {% endif %}
                    </section><!-- /.panel -->
                {% endif %}
            </article><!-- /.tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </div><!-- /.dashboard-tabs -->
{% endblock %}
