{# Qui sommes nous #}
{% extends 'layouts/_page-single.twig' %}

{# Page data #}
{% set page = {
  id: "apropos-commentcamarche",
  title: "Comment ça marche?",
  classNames: "page-single-apropos"
} %}

{% block pageContentInner %}

<nav class="page-navigation">
  <div class="site-wrap">
    <ul data-nav-dropdown-menu="mobile">{#
      #}<li role="presentation"><a href="{{ rpath('qui-sommes-nous') }}">Qui sommes-nous&nbsp;?</a></li>{#
      #}<li role="presentation" class="active"><a href="{{ path('comment-ca-marche') }}">Comment ça marche&nbsp;?</a></li>{#
      #}<li role="presentation"><a href="{{ path('charte-de-deontologie') }}">Charte de déontologie</a></li>{#
      #}<li role="presentation"><a href="{{ path('statistiques') }}">Statistiques</a></li>{#
    #}</ul>
  </div><!-- /.site-wrap -->
</nav><!-- /.page-navigation -->

<section class="page-section">
  <div class="site-wrap">
    <div class="row reverse">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h1 class="h4">Lorem ipsum</h1>
        </header>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut quis sapien a lacus molestie lobortis. Quisque non nisl at lacus tempus molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae tempus mauris, at sagittis diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi mi neque, elementum vel viverra in, tempor vel risus. Integer molestie ligula vitae est pharetra, non luctus nisl suscipit. Pellentesque at enim at neque iaculis convallis non id nulla. Fusce sodales orci dolor. Phasellus bibendum rutrum nulla id suscipit. Nam varius orci et felis congue volutpat. Pellentesque maximus felis ac dolor accumsan congue. Vestibulum sit amet ligula et erat condimentum iaculis. Suspendisse tempus, leo ut vehicula tristique, lorem nisi laoreet tellus, vel feugiat dui purus at turpis. Etiam fermentum laoreet condimentum. Cras efficitur bibendum mi id vestibulum.</p>

          <p>Nam tincidunt nisi ut lacus lobortis, a lobortis odio lobortis. Integer rhoncus volutpat mattis. Curabitur aliquet neque a laoreet feugiat. Fusce sapien diam, faucibus sed ipsum vitae, convallis malesuada eros. Sed non nisi risus. Nullam sed egestas orci. Nunc at efficitur libero. Maecenas dictum ut velit eget ultricies. Praesent sed imperdiet tortor, a rhoncus sapien.</p>

          <p>Sed mollis porttitor sapien. Nullam aliquet volutpat eros, a facilisis velit cursus eu. Donec feugiat, mauris vel rhoncus euismod, mauris diam viverra elit, vitae venenatis felis sapien ut lectus. Donec tempor congue ex. Quisque dignissim, sem nec rhoncus accumsan, felis sem finibus risus, quis aliquet orci nibh nec metus. Integer ornare id nisi vitae consequat. Cras id tincidunt elit, eu pellentesque sapien. Aenean vulputate vulputate orci nec accumsan. Curabitur ipsum risus, sagittis vitae gravida quis, rhoncus a elit. Integer a dapibus neque. Donec orci metus, suscipit at arcu at, dapibus tincidunt massa. Sed non lectus non diam viverra pharetra. Integer malesuada pulvinar dapibus. Quisque posuere tortor quis nunc venenatis, quis porta nisl hendrerit. Aliquam erat volutpat. Nulla semper cursus orci ac tempor.</p>
        </div><!-- /.block-text -->
      </div>
    </div>
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->

{% endblock %}

{% block pageFooter %}
<footer class="page-footer">
  <div  class="page-navigate-next-page">
    <a href="{{ path('charte-de-deontologie') }}">
      <div class="site-wrap">
        <div class="label">
          <div class="small">Lire la suite</div>
          <div class="big">Charte de déontologie</div>
        </div>
      </div><!-- /.site-wrap -->
    </a>
  </div><!-- /.page-navigate-next-page -->
</footer><!-- /.page-footer -->
{% endblock %}
