{% set myAccountChart = {
        type: 'preterProjectsOverview',
        background: 'none',
        highcharts: {
            chart: {
                type: 'pie',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: null
            },
            title: {
                text: ''
            },
            subtitle: {
                text: "lender-dashboard_irr-positive-threshold"|trans,
                color: '#999999',
                floating: true,
                useHTML: true,
                verticalAlign: 'middle'
            },
            plotOptions: {
                pie: {
                    borderColor: 'none',
                    borderWidth: 0,
                    showInLegend: true,
                    dataLabels: {
                        enabled: false
                    }
                }
            },
            legend: {
                symbolRadius: 10
            },
            series: [{
                name: "lender-dashboard_amount"|trans,
                minSize: 120,
                innerSize: '90%',
                endAngle: 270,
                data: [{
                    name: "lender-dashboard_loaned-amount"|trans,
                    color: '#5FC5D1',
                    y: amountDetails.loaned_amount,
                    value: amountDetails.loaned_amount|localizedcurrency('EUR'),
                    showInLegend: true,
                }]
            },{
                name:  'lender-dashboard_capital'|trans,
                size: '66%',
                minSize: 100,
                innerSize: '90%',
                endAngle: 270,
                data: [{
                    name:  "lender-dashboard_repaid-capital"|trans,
                    color: '#1B88DB',
                    y: capitalDetails.repaid_capital,
                    value: capitalDetails.repaid_capital|localizedcurrency('EUR'),
                    showInLegend: true,
                },{
                    name: "lender-dashboard_owed-capital"|trans,
                    color: '#B6D4E4',
                    y: capitalDetails.owed_capital,
                    value: capitalDetails.owed_capital|localizedcurrency('EUR'),
                    showInLegend: true
                },{
                    name: "lender-dashboard_capital-in-difficulty"|trans,
                    color: '#F76965',
                    y: capitalDetails.capital_in_difficulty,
                    value: capitalDetails.capital_in_difficulty|localizedcurrency('EUR'),
                    showInLegend: true
                }]
            },{
                name: "lender-dashboard_interests"|trans,
                minSize: 80,
                size: '33%',
                innerSize: '90%',
                endAngle: 330,
                data: [{
                    name: '',
                    color: '#eeeeee',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: false,
                    y: 225,
                    tooltip: false
                },{
                    name: "lender-dashboard_received-interests"|trans,
                    color: '#F2980C',
                    y: interestsDetails.received_interests,
                    value: interestsDetails.received_interests|localizedcurrency('EUR'),
                    showInLegend: true
                },{
                    name: "lender-dashboard_upcoming-interests"|trans,
                    color: '#FFCA2C',
                    y: interestsDetails.upcoming_interests,
                    value: interestsDetails.upcoming_interests|localizedcurrency('EUR'),
                    showInLegend: true
                }]
            }]
        }
    }
%}

{# Panel - My Account #}
{% embed 'partials/components/dashboard-panel.html.twig' %}
    {% block panelAttributes %}id="myaccount" {% endblock %}
    {% block panelClassNames %}dashboard-panel dashboard-myaccount ui-draggable {% if panelInfo.hidden == true %} ui-dashboard-panel-hidden {% endif %} col-lg-6 col-md-6 col-sm-8 col-xs-4{% endblock %}
    {% block panelTitle %}{{ "lender-dashboard_panel-title-#{ panelId }" | trans }}{% endblock %}
    {% block panelControls %}
        <span class="ui-draggable-handle"></span>
    {% endblock %}
    {% block panelContent %}
        <div class="dashboard-panel-overview">
            <div class="label">{% trans %} lender-dashboard_my-account-pannel-your-balance {% endtrans %}</div>
            {% set balanceParts = lenderDetails.balance|split('.') %}
            <div class="value">{{ balanceParts[0] }},<sup>{{ balanceParts[1] }}€</sup></div>
        </div>
        <div class="dashboard-myaccount-chart dashboard-panel-chart">
            <div class="chart chart-myaccount" data-chartview='{{ myAccountChart|json_encode|escape('html_attr') }}'></div>
            <div class="dashboard-panel-summary">
                <h3>
                    <span class="label">{% trans %} lender-dashboard_my-account-panel-expected-earnings {% endtrans %}</span>
                    <span class="value">{{ amountDetails.expected_earnings|localizedcurrency('EUR') }}</span></h3>
            </div>
            {# Include the legend as it's not included in the highchart due to rendering issues #}
            <div class="dashboard-myaccount-chart-key">
                <div class="row">
                    {% for i, series in myAccountChart.highcharts.series %}
                        {% for j, dataItem in series.data if dataItem.showInLegend is defined and dataItem.showInLegend != false %}
                            <div class="chart-key col-lg-4 col-md-4 col-sm-4 col-xs-2">
                                <div class="icon" style="background-color: {{ dataItem.color }}"></div>
                                <div class="label">{% if dataItem.name is not empty %} {{ dataItem.name }} {% else %} {{ series.name }} {% endif %}</div>
                                <div class="value">{% if dataItem.value is not empty %} {{ dataItem.value }} {% else %} {{ series.value }} {% endif %}</div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div><!-- /.dashboard-myaccount-chart-key -->
        </div><!-- /.dashboard-myaccount-chart -->
    {% endblock %}
    {% block panelFooter %}
        <a href="{{ path('lender_operations') }}" class="link">{% trans %} lender-dashboard_see-my-operations-details {% endtrans %}</a>
    {% endblock %}
{% endembed %}
