{% set sectorData = {} %}
{% for sectorDetails in walletData.by_sector %}
    {% set sectorData = sectorData|merge([{
            name: sectorDetails.name,
            value: sectorDetails.projectsCount,
            svgIconId: sectorDetails.svgIconId
        }])
    %}
{% endfor %}

{% set regionData = {} %}
{% for regionDetails in walletData.by_region %}
    {% set regionData = regionData|merge([{
            name: regionDetails.name,
            value: regionDetails.projectsCount,
        }])
    %}
{% endfor %}

{% set walletSectorChartData = {
        type: 'preterProjectsCategories',
        background: 'none',
        highcharts: {
            chart: {
                type: 'treemap',
                marginTop: 0,
                marginBottom: 0,
                marginLeft: 0,
                marginRight: 0,
                spacingTop: 0,
                spacingBottom: 0,
                spacingLeft: 0,
                spacingRight: 0
            },
            title: {
                text: ''
            },
            plotOptions: {
                treemap: {
                    borderWidth: 2,
                    dataLabels: {
                        useHTML: true,
                        zIndex: -1
                    }
                }
            },
            tooltip: {
                enabled: false,
                useHTML: true
            },
            series: [{
                type: 'treemap',
                layoutAlgorithm: 'squarified',
                data: sectorData
            }]
        }
    }
%}

{% set walletAllocationChartData = {
    type: 'preterProjectsAccount',
    background: 'none',
    highcharts: {
        chart: {
            type: 'pie',
            marginTop: 0,
            marginBottom: 0,
            marginLeft: 0,
            marginRight: 0,
            spacingTop: 0,
            spacingBottom: 0,
            spacingLeft: 0,
            spacingRight: 0
        },
        title: {
            text: ''
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            pie: {
                innerSize: '50%',
                showInLegend: true,
                dataLabels: {
                    enabled: false
                }
            }
        },
        series: [{
            name: 'lender-dashboard_portfolio-panel-my-account-allocation'|trans,
            data: [{
                name: 'lender-dashboard_remaining-capital-to-refund'|trans,
                y: capitalDetails.owed_capital,
                color: '#1C7ED5'
            },{
                name: 'lender-dashboard_portfolio-panel-available-balance'|trans,
                y: lenderDetails.balance,
                color: '#24D6BF'
            },{
                name: 'lender-dashboard_portfolio-panel-blocked-balance'|trans,
                y: amountDetails.blocked_amount,
                color: '#CFA3F3'
            },{
                name: 'lender-dashboard_portfolio-panel-risk-capital'|trans,
                y: capitalDetails.capital_in_difficulty,
                color: '#F76965'
            }]
        }]
    }
    }
%}
{# Panel - My Wallet #}
{% embed 'partials/components/dashboard-panel.html.twig' %}
    {% block panelAttributes %}id="mywallet"{% endblock %}
    {% block panelClassNames %}dashboard-panel dashboard-mywallet ui-draggable {% if panelInfo.hidden == true %} ui-dashboard-panel-hidden {% endif %} col-lg-12 col-md-12 col-sm-8 col-xs-4{% endblock %}
    {% set offersCount = 742 %}
    {% block panelTitle %}{% transchoice offersCount with {'%offersCount%' : offersCount} %} lender-dashboard_panel-title-mywallet {% endtranschoice %}{% endblock %}
    {% block panelControls %}
        <span class="ui-draggable-handle"></span>
    {% endblock %}
    {% block panelContent %}
        <div class="row tabs">
            <div class="dashboard-mywallet-nav col-lg-2 col-md-3 col-sm-8 col-xs-4">
                <ul class="nav nav-tabs-vertical">
                    <li role="presentation" class="active">
                        <a href="#mywallet-sectors" role="tab" data-toggle="tab" data-equal-height="xs sm" data-equal-height-group="mywallet-tabs-nav">
                            <span class="icon fa-table"></span><span class="label">{% trans %} lender-dashboard_portfolio-panel-sector-allocation {% endtrans %}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#mywallet-locations" role="tab" data-toggle="tab" data-equal-height="xs sm" data-equal-height-group="mywallet-tabs-nav">
                            <span class="icon fa-map-marker-u16"></span><span class="label">{% trans %} lender-dashboard_portfolio-panel-geo-allocation {% endtrans %}</span>
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#mywallet-account" role="tab" data-toggle="tab" data-equal-height="xs sm" data-equal-height-group="mywallet-tabs-nav">
                            <span class="icon fa-euro"></span><span class="label">{% trans %} lender-dashboard_portfolio-panel-my-account-allocation {% endtrans %}</span>
                        </a>
                    </li>
                </ul>
            </div><!-- /.dashboard-mywallet-nav -->
            <div class="dashboard-mywallet-content tab-content col-lg-10 col-md-9 col-sm-8 col-xs-4">
                <div id="mywallet-sectors" role="tabpanel" class="tab-pane active">
                    {#@todo Ask for the correct behaviour of the div (display sector details when we click on the sector icon ?? #}
                    <div class="row" >
                        {% for sectorDetails in walletData.by_sector %}
                        {#<div class="row" {% if loop.index > 1 %} style="display: none" {% endif %} >#}

                            <div  {% if loop.index > 1 %} style="display: none" {% endif %} class="col-info col-lg-3 col-md-4 col-sm-8 col-xs-4">
                                <h2>{{ sectorDetails.name }}</h2>
                                <p>{% trans with {'%percentage%' : sectorDetails.loanSharePercentage|localizednumber} %} lender-dashboard_portfolio-panel-allocation-percentage-per-sector {% endtrans %}</p>
                                <dl>
                                    <div class="dl-group">
                                        <dt>{% trans %} lender-dashboard_loaned-amount {% endtrans %}</dt>
                                        <dd>{{ sectorDetails.loanedAmount|localizednumber }}&nbsp;€</dd>
                                    </div>
                                    <div class="dl-group">
                                        <dt>{% trans %} lender-dashboard_average-rate {% endtrans %}</dt>
                                        <dd>{{ sectorDetails.averageRate }}&nbsp;%</dd>
                                    </div>
                                    <div class="dl-group">
                                        <dt>{% trans %} lender-dashboard_enterprises-count {% endtrans %}</dt>
                                        <dd>{{ sectorDetails.projectsCount }}</dd>
                                    </div>
                                </dl>
                            </div><!-- /.col-info -->

                        {% endfor %}
                        <div class="col-graph col-lg-9 col-md-8 col-sm-8 col-xs-4">
                            <div class="chart" data-chartview="{{ walletSectorChartData|json_encode|escape('html_attr') }}"></div>
                        </div><!-- /.col-graph -->
                    </div>
                </div><!-- /#mywallet-sectors -->

                <div id="mywallet-locations" role="tabpanel" class="tab-pane">
                    {#{% for regionDetails in walletData.by_region %}#}
                        <div class="row">
                            {% for regionDetails in walletData.by_region %}
                            <div  {% if loop.index > 1 %} style="display: none" {% endif %} class="col-info col-lg-3 col-md-4 col-sm-8 col-xs-4">
                                <h2>{{ regionDetails.name }}</h2>
                                <p>{% trans with {'%percentage%' : regionDetails.loanSharePercentage|localizednumber} %} lender-dashboard_portfolio-panel-allocation-percentage-per-region {% endtrans %}</p>
                                <dl>
                                    <div class="dl-group">
                                        <dt>{% trans %} lender-dashboard_loaned-amount {% endtrans %}</dt>
                                        <dd>{{ regionDetails.loanedAmount|localizednumber }}&nbsp;€</dd>
                                    </div>
                                    <div class="dl-group">
                                        <dt>{% trans %} lender-dashboard_average-rate {% endtrans %}</dt>
                                        <dd>{{ regionDetails.averageRate }}&nbsp;%</dd>
                                    </div>
                                    <div class="dl-group">
                                        <dt>{% trans %} lender-dashboard_enterprises-count {% endtrans %}</dt>
                                        <dd>{{ regionDetails.projectsCount }}</dd>
                                    </div>
                                </dl>
                            </div><!-- /.col-info -->
                            {% endfor %}
                            <div class="col-graph col-lg-9 col-md-8 col-sm-8 col-xs-4">
                                <div class="chart" data-chartview='{{ placeholderData.charts.preterProjectsCategoriesMap|json_encode|escape('html_attr') }}'></div>
                            </div><!-- /.col-graph -->

                        </div>
                    {#{% endfor %}#}
                </div><!-- /#mywallet-location -->

                <div id="mywallet-account" role="tabpanel" class="tab-pane">
                    <div class="row">
                        <div class="col-info col-lg-3 col-md-4 col-sm-8 col-xs-4">
                            <h2>{% trans %} lender-dashboard_portfolio-panel-deposited-money {% endtrans %}<br/> {{ amountDetails.deposited_amount }}&nbsp;€</h2>
                            <dl>
                                {% for i, data in walletAllocationChartData.highcharts.series[0].data %}
                                    <div class="dl-group dl-group-full">
                                        <dt>{% if data.color %}
                                            <span class="chart-key-icon" style="background: {{ data.color }}"></span>
                                            <span class="label">{% endif %}{{ data.name }}</span></dt>
                                        <dd>{{ data.y|localizednumber }}&nbsp;€</dd>
                                    </div>
                                {% endfor %}
                            </dl>
                        </div><!-- /.col-info -->
                        <div class="col-graph col-lg-9 col-md-8 col-sm-8 col-xs-4">
                            <div class="chart" data-chartview='{{ walletAllocationChartData|json_encode|escape('html_attr') }}'></div>
                        </div><!-- /.col-graph -->
                    </div>
                </div><!-- /#mywallet-account -->
            </div><!-- /.dashboard-mywallet-content -->
        </div><!-- /.tabs -->
    {% endblock %}
{% endembed %}