{# Panel - Projects to discover #}
{% embed 'partials/components/dashboard-panel.html.twig' %}
    {% block panelAttributes %}id="projects"{% endblock %}
    {% block panelClassNames %}dashboard-panel dashboard-projects ui-draggable {% if panelInfo.hidden == true %} ui-dashboard-panel-hidden {% endif %} col-lg-6 col-md-6 col-sm-8 col-xs-4{% endblock %}
    {% block panelTitle %}{{ "lender-dashboard_panel-title-#{ panelId }" | trans }}{% endblock %}
    {% block panelControls %}
        <span class="ui-draggable-handle"></span>
    {% endblock %}
    {% block panelContent %}
        <div class="message">
            <p>{% transchoice newOngoingProjects|length with {'%count%': newOngoingProjects|length} %} lender-dashboard_projects-list-panel-number-of-projects-to-discover {% endtranschoice %}</p>
        </div>
        {% if newOngoingProjects|length > 0 %}
            <ul class="list-projects">
                {% for project in newOngoingProjects %}
                    <li class="project">
                        <div class="project-name">{{ project.title }}</div>
                        <div class="project-location">project.company_address</div>
                        <div class="project-cost">{{ project.amount|localizednumber|nbsp }}€</div>
                        <div class="project-rating">
                            <span class="rating rating-{{ project.risk|convertRisk|split('.')|join('-') }}"><span class="sr-only">Rated {{ project.risk }} out of 5</span></span>
                        </div>
                        <div class="project-interest">{{ project.average_rate|localizednumber|nbsp }}%</div>
                        <div class="project-period">{% transchoice project.days_left with {'%daysCount%': project.days_left} %} lender-dashboard_project-remaining-days-before-closure {% endtranschoice %}</div>
                        {% set styledCount = {'%count%': '<span class="value">' ~ project.bid_count ~ '</span>'} %}
                        <div class="project-offers">{% transchoice project.bid_count with styledCount %} lender-dashboard_projects-list-panel-number-of-offers {% endtranschoice %}</div>

                        {#@todo use correct link into project detais page#}

                        <a href="#todo" class="project-hotspot">&nbsp;</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}
    {% if ongoingProjects|length > 0 %}
        {% block panelFooter %}

            {#@todo use correct link into lenders offers list detais page#}

            <a href="#todo" class="link">{% trans %} lender-dashboard_see-all-my-offers-in-progress {% endtrans %}</a>
        {% endblock %}
    {% endif %}
{% endembed %}