{# Panel - User Level #}
{% embed 'partials/components/dashboard-panel.html.twig' %}
    {% block panelAttributes %} id="user-level" data-userlevel="{{ app.user.level|default(0) }}" {% endblock %}
    {% block panelContentAttributes %} style="height: 650px;" {% endblock %}
    {% block panelFooterAttributes %} style="height: 92px;" {% endblock %}
    {% block panelClassNames %} dashboard-panel dashboard-userlevel ui-draggable {% if panelInfo.hidden == true %} ui-dashboard-panel-hidden {% endif %} col-lg-6 col-md-6 col-sm-8 col-xs-4 ui-user-level-0 {% endblock %}
    {% block panelTitle %}{{ 'lender-dashboard-user-level_title'|trans }}{% endblock %}
    {% block panelControls %}
        <span class="ui-draggable-handle"></span>
    {% endblock %}
    {% block panelContent %}
            <div class="dashboard-panel-overview">
                <div class="label">{% trans %} lender-dashboard-user-level_irr-title {% endtrans %}</div>
                <div class="value">{% if lenderDetails.irr > 0 %}+ {% endif %}{{ lenderDetails.irr|localizednumber }}<sup>%</sup></div>
            </div>
            <div class="dashboard-panel-chart">
                <div class="user-avatar">
                    <div class="user-avatar-level"></div>
                    <div class="user-avatar-initials">{{ lenderDetails.initials }}</div>
                    <div class="user-avatar-stars">
                        {% for i in 1..5 %}<span class="icon fa-star ui-user-level-star-{{ i }}"></span>{% endfor %}
                    </div>
                </div>
            </div>
            <div class="dashboard-panel-summary">
                <h3>
                    <span class="label">{% trans %} lender-dashboard-user-level_diversification-level-title {% endtrans %}</span>
                    <span class="value">{{ "lender-dashboard_level-#{ lenderDetails.level }"|trans }}</span>
                </h3>
                <p class="message">
                    {% if lenderDetails.hasIRR or lenderDetails.companiesLenderInvestedIn == 0 %}
                        {{ "lender-dashboard_irr-#{ lenderDetails.irrTranslation }level-#{ lenderDetails.level }"|trans|raw }}
                    {% else %}
                        {{ "lender-dashboard_irr-not-calculable"|trans|raw }}
                    {% endif %}
                </p>
                <p class="secondary">{% trans with {'%unilendIRR%' : lenderDetails.unilendIRR|localizednumber} %} lender-dashboard-user-level_unilend-irr {% endtrans %}</p>
            </div>
    {% endblock %}
    {% block panelFooter %}
        {{ 'lender-dashboard-user-level_irr-explanation-link'|trans|raw }}
    {% endblock %}
{% endembed %}
