{# Qui sommes nous #}
{% extends 'layouts/_page-single.twig' %}

{# Page data #}
{% set page = {
  id: "apropos-quisommesnous",
  title: "Qui sommes-nous?",
  permalink: route('apropos/quisommesnous'),
  classNames: "page-single-apropos"
} %}

{% block pageContentInner %}

<nav class="page-navigation">
  <div class="site-wrap">
    <ul data-nav-dropdown-menu="mobile">{#
      #}<li role="presentation" class="active"><a href="{{ route('apropos/quisommesnous') }}">Qui sommes-nous&nbsp;?</a></li>{#
      #}<li role="presentation"><a href="{{ route('apropos/commentcamarche') }}">Comment ça marche&nbsp;?</a></li>{#
      #}<li role="presentation"><a href="{{ route('apropos/chartdedeontologie') }}">Charte de déontologie</a></li>{#
      #}<li role="presentation"><a href="{{ route('apropos/statistiques') }}">Statistiques</a></li>{#
    #}</ul>
  </div><!-- /.site-wrap -->
</nav><!-- /.page-navigation -->

<section id="section-intro" class="page-section">
  <div class="site-wrap">
    <div class="row reverse">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h1 class="h4">Le leader français<br/>
            du financement participatif</h1>
        </header>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Leader français du financement participatif pour les PME, Unilend propose une nouvelle forme de finance pour permettre:</p>
          <ul>
            <li>Aux entreprises d'emprunter directement et simplement auprès du grand public</li>
            <li>Aux épargnants de prêter de l'argent directement aux entreprises en recevant des intérêts</li>
          </ul>
        </div>
      </div>
    </div>
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->

<section id="section-team">
  <div class="mosaic">
    <div class="site-wrap">
      <div class="mosaic-spacer show-md show-lg">&nbsp;</div>

      <header class="mosaic-header bg-p2">
        <h2 class="mosaic-item-title c-white">Une équipe chevronnée de 76 collaborateurs</h2>
      </header>

      <div class="mosaic-spacer show-sm">&nbsp;</div>

      <article class="mosaic-item">
        <div class="mosaic-item-image" style="background-image: url('{{ siteurlmedia('apropos/quisommesnous/team/francois-prioux-800x800.jpg') }}');">
          <img src="{{ siteurlmedia('apropos/quisommesnous/team/francois-prioux-800x800.jpg') }}" alt="" />
        </div><!-- /.mosaic-image -->
        <div class="mosaic-item-info">
            <div class="mosaic-item-info-inner">
            <div class="mosaic-item-links">
              <ul class="list-sociallinks">
                <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
              </ul><!-- /.list-sociallinks -->
            </div><!-- /.mosaic-item-links -->
            <h3 class="mosaic-item-title">François Prioux</h3>
            <h4 class="mosaic-item-subtitle">Foundateur</h4>
            <div class="mosaic-item-details">
              <p>Diplômé de l'ESSEC, François a créé le site Firstinvest.com devenu Capital.fr en 2005. Depuis, il a travaillé chez UBS puis DC Advisory sur des opérations d'acquisitions et de financement d'entreprises de toutes tailles.</p>
            </div><!-- /.mosaic-item-details -->
          </div><!-- mosaic-item-info-inner -->
        </div><!-- /.mosaic-item-info -->
      </article><!-- /.mosaic-item -->

      <article class="mosaic-item mosaic-item-double-height mosaic-item-float-right">
        <div class="mosaic-item-image" style="background-image: url('{{ siteurlmedia('apropos/quisommesnous/team/sabine-fillias-800x800.jpg') }}');">
          <img src="{{ siteurlmedia('apropos/quisommesnous/team/sabine-fillias-800x800.jpg') }}" alt="" />
        </div><!-- /.mosaic-image -->
        <div class="mosaic-item-info">
          <div class="mosaic-item-info-inner">
            <div class="mosaic-item-links">
              <ul class="list-sociallinks">
                <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
              </ul><!-- /.list-sociallinks -->
            </div><!-- /.mosaic-item-links -->
            <h3 class="mosaic-item-title">Sabine Fillias</h3>
            <h4 class="mosaic-item-subtitle">Directrice générale déléguée</h4>
            <div class="mosaic-item-details">
              <p>Diplômée d'HEC et de Sciences Po Paris, Sabine a été directrice générale de Chausson Finance avant de rejoindre la banque d'affaires Rothschild où elle a lancé l'activité de levée de fonds pour les entreprises technologiques. Tout au long de sa carrière, Sabine a accompagné une quarantaine de start-up dans leur croissance.</p>
            </div><!-- /.mosaic-item-details -->
          </div><!-- mosaic-item-info-inner -->
        </div><!-- /.mosaic-item-info -->
      </article><!-- /.mosaic-item -->

      <article class="mosaic-item">
        <div class="mosaic-item-image" style="background-image: url('{{ siteurlmedia('apropos/quisommesnous/team/david-raux-800x800.jpg') }}');">
          <img src="{{ siteurlmedia('apropos/quisommesnous/team/david-raux-800x800.jpg') }}" alt="" />
        </div><!-- /.mosaic-image -->
        <div class="mosaic-item-info">
          <div class="mosaic-item-info-inner">
            <div class="mosaic-item-links">
              <ul class="list-sociallinks">
                <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
              </ul><!-- /.list-sociallinks -->
            </div><!-- /.mosaic-item-links -->
            <h3 class="mosaic-item-title">David Raux</h3>
            <h4 class="mosaic-item-subtitle">Directeur technique</h4>
            <div class="mosaic-item-details">
              <p>Diplômé du Conservatoire National des Arts et Métiers, David a accompagné la croissance du Groupe Pixmania pendant 10 ans où il a monté et dirigé les équipes techniques de plusieurs sites Internet. Chez Unilend, il est en charge du système d’information, de l’évolution du produit, des projets de développements et de l’infrastructure.</p>
            </div><!-- /.mosaic-item-details -->
          </div>
        </div><!-- /.mosaic-item-info -->
      </article><!-- /.mosaic-item -->

      <article class="mosaic-item mosaic-item-double-width">
        <div class="mosaic-item-image" style="background-image: url('{{ siteurlmedia('apropos/quisommesnous/team/alain-elkaim-800x800.jpg') }}');">
          <img src="{{ siteurlmedia('apropos/quisommesnous/team/alain-elkaim-800x800.jpg') }}" alt="" />
        </div><!-- /.mosaic-image -->
        <div class="mosaic-item-info">
          <div class="mosaic-item-info-inner">
            <div class="mosaic-item-links">
              <ul class="list-sociallinks">
                <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
              </ul><!-- /.list-sociallinks -->
            </div><!-- /.mosaic-item-links -->
            <h3 class="mosaic-item-title">Alain Elkaïm</h3>
            <h4 class="mosaic-item-subtitle">Directeur des risques</h4>
            <div class="mosaic-item-details">
              <p>Diplômé d'Euromed - mastère spécialisé en ingénierie financière - Alain a plus de 20 ans d'expérience dans la gestion du risque des entreprises et de l'octroi de crédit, acquise en France et à l'international à des fonctions de direction au sein de grands groupes et de startups du financement des PME. Chez Unilend, il est responsable de la sélection et du suivi des entreprises qui présentent leur projet aux prêteurs de la communauté.  </p>
            </div><!-- /.mosaic-item-details -->
          </div><!-- mosaic-item-info-inner -->
        </div><!-- /.mosaic-item-info -->
      </article><!-- /.mosaic-item -->

    </div><!-- /.site-wrap -->
  </div><!-- /.mosaic -->

  <div>
    <div class="hero-wrap">
      <div class="row feature feature-quote feature-align-right bg-p1">
        <div class="feature-panel col-lg-6 col-md-6" data-equal-height data-equal-height-group="feature">
          <div class="feature-panel-inner">
            <div class="quote">
              <p>&quot;Lorem ipsum dolor sit amet apere doler ipsum ferdum ivare dolore alet aper set amet ferdumm dolore&quot;</p>
            </div>
            <ul class="list-sociallinks">
              <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
              <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
            </ul><!-- /.list-sociallinks -->
            <div class="credit"><cite>Nicolas Lesur, Fondateur</cite></div>
          </div><!-- /.feature-panel-inner -->
        </div><!-- /.feature-panel -->
        <div class="feature-image col-lg-6 col-md-6" data-equal-height data-equal-height-group="feature">
          <div class="feature-image-inner" style="background-image: url('{{ siteurlmedia('apropos/quisommesnous/team/nicolas-lesur-800x800.jpg') }}');">
            <img src="{{ siteurlmedia('apropos/quisommesnous/team/nicolas-lesur-800x800.jpg') }}" alt="" />
          </div><!-- /.feature-image-inner -->
        </div><!-- /.feature-image -->
      </div><!-- /.feature -->
    </div><!-- /.hero-wrap -->
  </div>

  <div class="mosaic">
    <div class="site-wrap">
      <article class="mosaic-item mosaic-item-double-height">
        <div class="mosaic-item-image" style="background-image: url('{{ siteurlmedia('apropos/quisommesnous/team/arnaud-schwartz-800x800.jpg') }}');">
          <img src="{{ siteurlmedia('apropos/quisommesnous/team/arnaud-schwartz-800x800.jpg') }}" alt="" />
        </div><!-- /.mosaic-image -->
        <div class="mosaic-item-info">
          <div class="mosaic-item-info-inner">
            <div class="mosaic-item-links">
              <ul class="list-sociallinks">
                <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
              </ul><!-- /.list-sociallinks -->
            </div><!-- /.mosaic-item-links -->
            <h3 class="mosaic-item-title">Arnaud Schwartz</h3>
            <h4 class="mosaic-item-subtitle">Directeur commercial</h4>
            <div class="mosaic-item-details">
              <p>Diplômé de l'ISG et de l’ESSEC, Arnaud est spécialiste de la distribution d’offres de crédit. En 2008 il a rejoint la direction distribution de BNP Paribas Personal Finance pour déployer de nouvelles gammes de produits et services à travers l’Europe, la Russie et l’Amérique du Sud. Il a ensuite lancé un partenariat entre une grande chaîne de distribution alimentaire et BNPP. Chez Unilend il est en charge du développement commercial auprès des TPE/PME et de leurs partenaires.</p>
            </div><!-- /.mosaic-item-details -->
          </div><!-- mosaic-item-info-inner -->
        </div><!-- /.mosaic-item-info -->
      </article><!-- /.mosaic-item -->

      <article class="mosaic-item mosaic-item-double-width">
        <div class="mosaic-item-image" style="background-image: url('{{ siteurlmedia('apropos/quisommesnous/team/emmanuel-perez-duarte-800x800.jpg') }}');">
          <img src="{{ siteurlmedia('apropos/quisommesnous/team/emmanuel-perez-duarte-800x800.jpg') }}" alt="" />
        </div><!-- /.mosaic-image -->
        <div class="mosaic-item-info">
          <div class="mosaic-item-info-inner">
            <div class="mosaic-item-links">
              <ul class="list-sociallinks">
                <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
              </ul><!-- /.list-sociallinks -->
            </div><!-- /.mosaic-item-links -->
            <h3 class="mosaic-item-title">Emmanuel Perez-Duarte</h3>
            <h4 class="mosaic-item-subtitle">Directeur administratif et financier</h4>
            <div class="mosaic-item-details">
              <p>Diplômé d’HEC, Emmanuel a débuté sa carrière au sein du groupe Renault, où il a notamment été auditeur interne, spécialisé sur l’audit d’efficacité des processus chez RCI Banque, la captive financière du groupe. Chez Unilend, il est en charge du contrôle des risques opérationnels, de la conformité réglementaire et du reporting financier.</p>
            </div><!-- /.mosaic-item-details -->
          </div><!-- /.mosaic-item-info-inner -->
        </div><!-- /.mosaic-item-info -->
      </article><!-- /.mosaic-item -->

      <div class="mosaic-spacer show-md show-lg">&nbsp;</div>

      <article class="mosaic-item">
        <div class="mosaic-item-image" style="background-image: url('{{ siteurlmedia('apropos/quisommesnous/team/alain-elkaim-800x800.jpg') }}');">
          <img src="{{ siteurlmedia('apropos/quisommesnous/team/alain-elkaim-800x800.jpg') }}" alt="" />
        </div><!-- /.mosaic-image -->
        <div class="mosaic-item-info">
          <div class="mosaic-item-info-inner">
            <div class="mosaic-item-links">
              <ul class="list-sociallinks">
                <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
              </ul><!-- /.list-sociallinks -->
            </div><!-- /.mosaic-item-links -->
            <h3 class="mosaic-item-title">Alain Elkaïm</h3>
            <h4 class="mosaic-item-subtitle">Team member role</h4>
            <div class="mosaic-item-details">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget diam ullamcorper, viverra justo in, efficitur metus. Fusce lorem nulla, laoreet eu quam vitae, ultrices ornare nulla. Phasellus dolor odio, fringilla eget.</p>
            </div><!-- /.mosaic-item-details -->
          </div><!-- /.mosaic-item-info-inner -->
        </div><!-- /.mosaic-item-info -->
      </article><!-- /.mosaic-item -->

    </div><!-- /.site-wrap -->
  </div><!-- /.mosaic -->
</section>

<section id="section-strategy" class="page-section block-no-top-spacing-md block-no-top-spacing-lg">
  <div class="site-wrap">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h1 class="h4">Notre comité<br/>
            stratégique</h1>
        </header>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-people block-no-bottom-spacing">
          <div class="row">

            <article class="person col-lg-4 col-md-4 col-sm-4" data-equal-height="sm md lg" data-equal-height-group="strategy">
              <div class="person-image">
                <img src="{{ siteurlmedia('apropos/quisommesnous/strategy/nicolas-lesur-300x300.jpg') }}" alt="" />
                <div class="person-links">
                  <ul class="list-sociallinks">
                    <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                    <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
                  </ul><!-- /.list-sociallinks -->
                </div><!-- /.person-links -->
              </div><!-- /.person-image -->
              <div class="person-info">
                <header class="person-header" data-equal-height data-equal-height-group="strategy-header">
                  <h3 class="person-name">Nicolas Lesur</h3>
                  <h4 class="person-role">Fondateur</h4>
                </header>
                <div class="person-details">
                  <p>Diplômé d'HEC et de l'INSEAD, Nicolas est un spécialiste de l'épargne financière depuis quinze ans. Il débute sa carrière chez BNP Paribas.</p>
                </div>
              </div><!-- /.person-info -->
            </article><!-- /.person -->

            <article class="person col-lg-4 col-md-4 col-sm-4" data-equal-height="sm md lg" data-equal-height-group="strategy">
              <div class="person-image">
                <img src="{{ siteurlmedia('apropos/quisommesnous/strategy/emmanuel-levi-300x300.jpg') }}" alt="" />
                <div class="person-links">
                  <ul class="list-sociallinks">
                    <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                    <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
                  </ul><!-- /.list-sociallinks -->
                </div><!-- /.person-links -->
              </div><!-- /.person-image -->
              <div class="person-info">
                <header class="person-header" data-equal-height data-equal-height-group="strategy-header">
                  <h3 class="person-name">Emmanuel Levi</h3>
                  <h4 class="person-role">360 Capital Partners</h4>
                </header>
                <div class="person-details">
                  <p>Diplômé de l’université de Turin et de la London Business School, Emmanuel débute sa carrière en 1993 chez Unicredito avant de rejoindre Bain &amp; Co.</p>
                </div>
              </div><!-- /.person-info -->
            </article><!-- /.person -->

            <article class="person col-lg-4 col-md-4 col-sm-4" data-equal-height="sm md lg" data-equal-height-group="strategy">
              <div class="person-image">
                <img src="{{ siteurlmedia('apropos/quisommesnous/strategy/francois-prioux-300x300.jpg') }}" alt="" />
                <div class="person-links">
                  <ul class="list-sociallinks">
                    <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                    <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
                  </ul><!-- /.list-sociallinks -->
                </div><!-- /.person-links -->
              </div><!-- /.person-image -->
              <div class="person-info">
                <header class="person-header" data-equal-height data-equal-height-group="strategy-header">
                  <h3 class="person-name">François Prioux</h3>
                  <h4 class="person-role">Fondateur</h4>
                </header>
                <div class="person-details">
                  <p>Diplômé de l'ESSEC, François a créé le site Firstinvest.com devenu Capital.fr en 2005. Depuis, il a travaillé chez UBS puis DC Advisory.</p>
                </div>
              </div><!-- /.person-info -->
            </article><!-- /.person -->

            <article class="person col-lg-4 col-md-4 col-sm-4" data-equal-height="sm md lg" data-equal-height-group="strategy">
              <div class="person-image">
                <img src="{{ siteurlmedia('apropos/quisommesnous/strategy/xavier-delaplace-300x300.jpg') }}" alt="" />
                <div class="person-links">
                  <ul class="list-sociallinks">
                    <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                    <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
                  </ul><!-- /.list-sociallinks -->
                </div><!-- /.person-links -->
              </div><!-- /.person-image -->
              <div class="person-info">
                <header class="person-header" data-equal-height data-equal-height-group="strategy-header">
                  <h3 class="person-name">Xavier Delaplace</h3>
                  <h4 class="person-role">BPI France</h4>
                </header>
                <div class="person-details">
                  <p>Diplômé de l’INPG et de l’IAE Grenoble, Xavier débute sa carrière en 2000 chez Odyssée Venture. Il rejoint Bouygues Telecom en 2006 puis Bpifrance.</p>
                </div>
              </div><!-- /.person-info -->
            </article><!-- /.person -->

            <article class="person col-lg-4 col-md-4 col-sm-4" data-equal-height="sm md lg" data-equal-height-group="strategy">
              <div class="person-image">
                <img src="{{ siteurlmedia('apropos/quisommesnous/strategy/jean-bourcereau-300x300.jpg') }}" alt="" />
                <div class="person-links">
                  <ul class="list-sociallinks">
                    <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                    <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
                  </ul><!-- /.list-sociallinks -->
                </div><!-- /.person-links -->
              </div><!-- /.person-image -->
              <div class="person-info">
                <header class="person-header" data-equal-height data-equal-height-group="strategy-header">
                  <h3 class="person-name">Jean Bourcereau</h3>
                  <h4 class="person-role">Ventech</h4>
                </header>
                <div class="person-details">
                  <p>Diplômé de l’Ecole Polytechnique et de Télécoms Paris, Jean débute sa carrière entre les US (AT&amp;T Bell Labs) et l’Amérique du Sud.</p>
                </div>
              </div><!-- /.person-info -->
            </article><!-- /.person -->
          </div>
        </div><!-- /.block-people -->
      </div>
    </div>
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->

<section id="section-direction" class="page-section block-no-top-spacing-md block-no-top-spacing-lg">
  <div class="site-wrap">
    <div class="row reverse">
      <div class="col-lg-6 col-md-6">
        <header class="block-header block-no-top-spacing-sm">
          <h1 class="h4">Notre comité<br/>
            d'orientation</h1>
        </header>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-people block-no-bottom-spacing-md block-no-bottom-spacing-lg">
          <div class="row">
            <article class="person" data-equal-height="sm md lg" data-equal-height-group="direction">
              <div class="person-image">
                <img src="{{ siteurlmedia('apropos/quisommesnous/direction/pierre-henri-cassou-300x300.jpg') }}" alt="" />
                <div class="person-links">
                  <ul class="list-sociallinks">
                    <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                    <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
                  </ul><!-- /.list-sociallinks -->
                </div><!-- /.person-links -->
              </div><!-- /.person-image -->
              <div class="person-info">
                <header class="person-header" data-equal-height data-equal-height-group="direction-header">
                  <h3 class="person-name">Pierre-Henri Cassou</h3>
                  <h4 class="person-role">Comité d’orientation</h4>
                </header>
                <div class="person-details">
                  <p>Ancien élève de l'Ecole polytechnique et de l'ENA, Pierre-Henri contribue à l'élaboration des principaux textes réglementaires du secteur financier français.</p>
                </div>
              </div><!-- /.person-info -->
            </article><!-- /.person -->

            <article class="person" data-equal-height="sm md lg" data-equal-height-group="direction">
              <div class="person-image">
                <img src="{{ siteurlmedia('apropos/quisommesnous/direction/claude-rousset-300x300.jpg') }}" alt="" />
                <div class="person-links">
                  <ul class="list-sociallinks">
                    <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                    <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
                  </ul><!-- /.list-sociallinks -->
                </div><!-- /.person-links -->
              </div><!-- /.person-image -->
              <div class="person-info">
                <header class="person-header" data-equal-height data-equal-height-group="direction-header">
                  <h3 class="person-name">Claude Rousset</h3>
                  <h4 class="person-role">Comité d’orientation</h4>
                </header>
                <div class="person-details">
                  <p>Il effectue sa carrière dans la banque commerciale à destination des PME et a notamment dirigé le département Crédits / Risques de la Neuflize OBC.</p>
                </div>
              </div><!-- /.person-info -->
            </article><!-- /.person -->

            <article class="person" data-equal-height="sm md lg" data-equal-height-group="direction">
              <div class="person-image">
                <img src="{{ siteurlmedia('apropos/quisommesnous/direction/arnaud-poissonnier-300x300.jpg') }}" alt="" />
                <div class="person-links">
                  <ul class="list-sociallinks">
                    <li><a href="#todo"><span class="icon fa-linkedin"></span><span class="sr-only">LinkedIn</span></a></li>
                    <li><a href="#todo"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></li>
                  </ul><!-- /.list-sociallinks -->
                </div><!-- /.person-links -->
              </div><!-- /.person-image -->
              <div class="person-info">
                <header class="person-header" data-equal-height data-equal-height-group="direction-header">
                  <h3 class="person-name">Arnaud Poissonnier</h3>
                  <h4 class="person-role">Comité d’orientation</h4>
                </header>
                <div class="person-details">
                  <p>Titulaire d'un DESS de droit et du diplôme d'aptitude au notariat, Arnaud a effectué une première carrière dans des banques de gestion de fortune pendant douze ans.</p>
                </div>
              </div><!-- /.person-info -->
            </article><!-- /.person -->
          </div>
        </div><!-- /.block-people -->
      </div>
    </div>
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->

<section id="section-stats" class="bg-bg3 page-section">
  <div class="site-wrap">
    <div class="block-promos row">

      <div class="promo col-lg-4 col-md-4">
        <div class="promo-image">
          {{ svgimage('#promo-handshake', '', 190, 190) }}
        </div>
        <h3 class="promo-highlight"><span data-textcount data-start-count="0" data-total-time="3000" data-tween-count="easeOutCirc">5</span></h3>
        <p>partenaires déjà traitès vulputate eleifend telluse aenean leo.</p>
      </div><!-- /.promo -->

      <div class="promo col-lg-4 col-md-4">
        <div class="promo-image">
          {{ svgimage('#promo-money', '', 190, 190) }}
        </div>
        <h3 class="promo-highlight"><span data-textcount data-start-count="0" data-end-count="9.5" data-total-time="3000" data-limit-decimal="1" data-tween-count="easeOutCirc">9,5</span>M€</h3>
        <p>capitaux propes aenean vulputate eleifend telluse aenean leo.</p>
      </div><!-- /.promo -->

      <div class="promo col-lg-4 col-md-4">
        <div class="promo-image">
          {{ svgimage('#promo-people', '', 190, 190) }}
        </div>
        <h3 class="promo-highlight"><span data-textcount data-start-count="0" data-total-time="3000" data-tween-count="easeOutCirc">23</span></h3>
        <p>collaborateurs constituent une équipe solide</p>
      </div><!-- /.promo -->

    </div><!-- /.block-promos -->
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->

<section id="section-partners" class="page-section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h2 class="h4">Un actionnariat solide doté de 9,5 millions de capitaux propres.</h2>
        </header>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Doté de 9,5 millions d'euros de capitaux propres depuis sa création, Unilend a pour actionnaires ses dirigeants et salariés ainsi que des investisseurs de tout premier plan : Ventech, 360 Capital et Bpifrance.</p>
          <p>Unilend est agent prestataire de services de paiement mandaté par la SFPMEI et enregistré auprès de l'Autorité de contrôle prudentiel et de résolution (ACPR) sous le numéro 790766034.</p>
          <p>Unilend est labellisté par le pôle mondial de compétitivité Finance Innovation et membre des associations professionnelles Financement Participatif France et European Crowdfunding Network.</p>
          <p>Unilend est membre du réseau Bpifrance Excellence 2015.</p>
        </div><!-- /.block-text -->
      </div>
    </div>

    <div class="row mosaic mosaic-grid">

      <header class="mosaic-header bg-p1">
        <h2 class="mosaic-item-title c-white">Des partenaires de renom nous font confiance</h2>
      </header><!-- /.mosaic-item -->

      <article class="mosaic-item mosaic-cell">
        <a href="#todo" class="mosaic-cell-inner"><img src="{{ siteurlmedia('apropos/quisommesnous/partners/logo-ventech-150x110.png') }}" alt="Ventech" /></a>
      </article><!-- /.mosaic-item -->

      <article class="mosaic-item mosaic-cell">
        <a href="#todo" class="mosaic-cell-inner"><img src="{{ siteurlmedia('apropos/quisommesnous/partners/logo-bpifrance-200x60.png') }}" alt="" /></a>
      </article><!-- /.mosaic-item -->

      <div class="mosaic-spacer show-md show-lg">&nbsp;</div>
      <div class="mosaic-spacer show-md show-lg">&nbsp;</div>

      <article class="mosaic-item mosaic-cell">
        <a href="#todo" class="mosaic-cell-inner"><img src="{{ siteurlmedia('apropos/quisommesnous/partners/logo-dataaltares-150x150.png') }}" alt="" /></a>
      </article><!-- /.mosaic-item -->

      <article class="mosaic-item mosaic-cell">
        <a href="#todo" class="mosaic-cell-inner"><img src="{{ siteurlmedia('apropos/quisommesnous/partners/logo-360capitalpartners-170x90.png') }}" alt="" /></a>
      </article><!-- /.mosaic-item -->

      <article class="mosaic-item mosaic-cell">
        <a href="#todo" class="mosaic-cell-inner"><img src="{{ siteurlmedia('apropos/quisommesnous/partners/logo-sfpmei-180x40.png') }}" alt="" /></a>
      </article><!-- /.mosaic-item -->

    </div><!-- /.mosaic -->
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->

{% endblock %}

{% block pageFooter %}
<footer class="page-footer">
  <div  class="page-navigate-next-page">
    <a href="{{ route('apropos/commentcamarche') }}">
      <div class="site-wrap">
        <div class="label">
          <div class="small">Lire la suite</div>
          <div class="big">Comment ça marche&nbsp;?</div>
        </div>
      </div><!-- /.site-wrap -->
    </a>
  </div><!-- /.page-navigate-next-page -->
</footer><!-- /.page-footer -->
{% endblock %}
