{# Homepage Emprunter #}
{% extends 'layouts/_layout.twig' %}

{# Page data #}
{% set page = {
  title: 'Emprunter',
  permalink: route('emprunter')
} %}

{# Placeholder data until connected to backend #}
{% set placeholderData = {
  promoBattenbergPeople: [{
    type: 'emprunter',
    image: siteurlmedia('promos/homeemp-promo-emprunter-685x457.jpg'),
    name: 'Frederic',
    vocation: 'Electromécanicien',
    location: 'Tourcoing',
    quote: '"On a pu emprunter 25&nbsp;000€ en 7 jours ! Juste ce qu&#39;il fallait pour agrandir l&#39;atelier."',
    urlTestimonial: route('emprunter/testimonials'),
    urlProject: route('projet/12345'),
    labelCta: 'Présenter un projet',
    urlCta: route('projets/new')
  },{
    type: 'emprunter',
    image: siteurlmedia('promos/homeemp-promo-preter-686x457.jpg'),
    name: false,
    vocation: false,
    location: false,
    quote: 'Cécile, créatrice à Paris avait besoin de 15&nbsp;000€ et a obtenu son argent en 9 jours sur Unilend.',
    urlTestimonial: route('preter/testimonials'),
    urlProject: false,
    labelCta: 'Devenir prêteur',
    urlCta: route('preter')
  }]
} %}

{% block siteContent %}
  <article id="homeemp" class="page">

    <section id="homeemp-video-hero" class="cta-video-hero" aria-hidden="true" data-set-device-height="xs">
      <div class="video-hero-wrapper">
        <div class="video-hero">
          <div class="caption caption-align-left">
            <div class="caption-name">Didier &mdash; 43 ans</div>
            <div class="caption-info">10&nbsp;000€ empruntés, une entreprise relancée</div>
            <div class="caption-links"><a href="{{ route('emprunter/testimonials') }}" class="link">Voir son témoignage</a></div>
          </div><!-- /.caption -->
        </div><!-- /.video-hero -->

        <div class="video-hero-cta">
          <div class="btn-media-wrapper">
            <a href="https://www.youtube.com/watch?v=Fmtz6vI65GY" class="btn-media fancybox-media fancybox-embed-videojs">
              <span class="icon fa-play"><span class="sr-only">Play</span></span>
            </a>
          </div>
          <h3>Didier a pu financier sa boulangerie en moins de 3 semaines</h3>
        </div><!-- /.video-hero-cta -->

        {% include '@UnilendFrontBundle/partials/components/list-socialmedia.twig' %}

        <div class="btn-toolbar">
          <a href="#homeemp-section-process" class="btn-cta btn-color-alternate"><span class="icon fa-angle-right"></span> Emprunter auprès des particuliers</a>
        </div>
      </div><!-- /.video-hero-wrapper -->
    </section><!-- /.cta-video-hero -->

    <section id="homeemp-section-process" class="page-section">
      <div class="site-wrap">
        <h1 class="h2">Emprunter en 3 Étapes</h1>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="promo">
              <div class="promo-image">
                {% if caniuse_svg() == true %}
                {{ svgimage('#promo-projects', '', 190, 190, 'none') }}
                {% else %}
                <img src="{{ siteurlmedia('promos/promo-projects-118x92.png') }}" alt="">
                {% endif %}
              </div>
              <h3 class="round-number">1</h3>
              <p>Présentez votre projet en quelques minutes seulement</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="promo">
              <div class="promo-image">
                {% if caniuse_svg() == true %}
                {{ svgimage('#promo-money', '', 190, 190, 'none') }}
                {% else %}
                <img src="{{ siteurlmedia('promos/promo-money-133x108.png') }}" alt="">
                {% endif %}
              </div>
              <h3 class="round-number">2</h3>
              <p>Suivez vos offres de prêt en direct sur unilend.fr</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="promo">
              <div class="promo-image">
                {% if caniuse_svg() == true %}
                {{ svgimage('#promo-people', '', 190, 190, 'none') }}
                {% else %}
                <img src="{{ siteurlmedia('promos/promo-people-158x95.png') }}" alt="">
                {% endif %}
              </div>
              <h3 class="round-number">3</h3>
              <p>Remboursez votre prêt tous les mois en toute tranquilité</p>
            </div>
          </div>
        </div><!-- /.row -->
        <div class="row page-section-footer">
          <div class="btn-toolbar">
            <a href="{{ route('search') }}" class="btn-default ui-open-site-search">Une question&nbsp;?</a>
            <a href="{{ route('projet/new') }}" class="btn-alternate">Présenter mon projet</a>
          </div>
        </div><!-- /.page-section-footer -->
      </div><!-- /.site-wrap -->
    </section><!-- /.page-section -->

    <section id="homeemp-section-testimonials" class="page-section">
      <div class="site-wrap">
        <h1 class="h2">Ils ont emprunté sur Unilend</h1>

        {{ promoBattenberg.render({
          classColor: 'p2',
          classCtaButton: 'btn-color-alternate',
          labelCtaButton: 'Présenter mon projet',
          urlCtaButton: route('projet/new'),
          people: placeholderData.promoBattenbergPeople
        }) }}

      </div><!-- /.site-wrap -->
    </section><!-- /.page-section -->

    <section id="homeemp-section-esim" class="page-section bg-bg3">
      <div class="site-wrap">
        <h2 class="h2">Simuler mon Emprunt</h2>

        <form action="{{ route('emprunter/sim') }}" method="post" class="emprunter-sim tabs ui-tabs-progress">
          <div class="emprunter-sim-nav">
            <ul class="nav nav-steps" role="tablist">
              <li role="presentation" class="active"><a href="#esim1" role="tab" data-toggle="tab">Étape 1</a></li>
              <li role="presentation"><a href="#esim2" role="tab" data-toggle="tab">Étape 2</a></li>
            </ul>
          </div><!-- /.emprunter-sim-nav -->

          <div class="tab-content emprunter-sim-content">
            <div id="esim1" role="tabpanel" class="tab-pane active">
              <fieldset class="emprunter-sim-pane-inner" data-formvalidation data-formvalidation-notificationselem=".form-validation-notifications">
                <div class="form-validation-notifications"></div>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-field">
                      <label for="esim-input-amount">Somme à emprunter <span class="c-t3">en €</span></label>
                      <!-- <div class="input-group set-right"> -->
                        <input id="esim-input-amount" type="number" name="esim[amount]" value="" placeholder="ex: 40 000" class="input-field" data-formvalidation-field data-formvalidation-required="true">
                      <!--
                        <div class="btn-group">
                          <span class="c-t3">€</span>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-field">
                      <label for="esim-input-reason">Motif de l'emprunt</label>
                      <select id="esim-input-reason" name="esim[reason]" class="input-field" data-formvalidation-field data-formvalidation-required="true">
                        <option value="development">Développement</option>
                        {# @TODO populate with other options per esim algorithm #}
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <div class="form-field">
                      <label>Durée du remboursement <span class="c-t3">en mois</span></label>
                      <div class="custom-input-duration" data-formvalidation-field data-formvalidation-required="true" data-formvalidation-type="duration">
                        <label>
                          <input type="radio" id="esim-input-duration-3" name="esim[duration]" value="3">
                          <span>3</span>
                        </label>
                        <label>
                          <input type="radio" id="esim-input-duration-6" name="esim[duration]" value="6">
                          <span>6</span>
                        </label>
                        <label>
                          <input type="radio" id="esim-input-duration-9" name="esim[duration]" value="9">
                          <span>9</span>
                        </label>
                        <label>
                          <input type="radio" id="esim-input-duration-12" name="esim[duration]" value="12">
                          <span>12</span>
                        </label>
                        <label>
                          <input type="radio" id="esim-input-duration-18" name="esim[duration]" value="18">
                          <span>18</span>
                        </label>
                        <label>
                          <input type="radio" id="esim-input-duration-24" name="esim[duration]" value="24">
                          <span>24</span>
                        </label>
                        <label>
                          <input type="radio" id="esim-input-duration-36" name="esim[duration]" value="36">
                          <span>36</span>
                        </label>
                        <label>
                          <input type="radio" id="esim-input-duration-48" name="esim[duration]" value="48">
                          <span>48</span>
                        </label>
                        <label>
                          <input type="radio" id="esim-input-duration-60" name="esim[duration]" value="60">
                          <span>60</span>
                        </label>
                      </div><!-- /.custom-input-duration -->
                    </div><!-- /.form-field -->
                  </div>
                </div>
              </fieldset><!-- /.emprunter-sim-pane-inner -->
            </div><!-- /.tab-pane -->

            <div id="esim2" role="tabpanel" class="tab-pane">
              <fieldset class="emprunter-sim-pane-inner" data-formvalidation data-formvalidation-notificationselem=".form-validation-notifications">
                <div class="form-validation-notifications"></div>
                <div class="row">
                  <div class="col-lg-12 col-md-12">
                    <p>Vous souhaitez emprunter la somme de <strong class="ui-esim-output-cost c-t1">40&nbsp;000&nbsp;€</strong> sur une durée de <strong class="ui-esim-output-duration c-t1">12 mois</strong>, dans le but de <strong class="ui-esim-output-reason c-t1">développer</strong> votre activité.</p>
                    <p>Pour recevoir les détails de votre simulation d'emprunt, merci de renseigner les champs suivants.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-md-6">
                    <div class="form-field">
                      <label for="esim-input-siret">Numéro SIRET</label>
                      <input type="text" id="esim-input-siret" name="esim[siret]" value="" class="input-field" data-formvalidation-field data-formvalidation-required="true" data-form-vaidation-type="siret">
                    </div><!-- /.form-field -->
                  </div>
                  <div class="col-lg-6 col-md-6">
                    <div class="form-field">
                      <label for="i_esim_5">Address email</label>
                      <input type="email" id="esim-input-email" name="esim[email]" value="" class="input-field" data-formvalidation-field data-formvalidation-required="true" data-form-vaidation-type="email">
                    </div><!-- /.form-field -->
                  </div>
                </div>
              </fieldset><!-- /.emprunter-sim-pane-inner -->
            </div><!-- /.tab-pane -->

            <div class="emprunter-sim-estimate">
              <div class="emprunter-sim-pane-inner bg-p1 c-bg5">
                <div class="row">
                  <div class="col-lg-5 col-md-5">
                    <dl class="row">
                      <dt class="col-lg-6 col-md-6 col-sm-3 col-xs-4">Mensualités</dt>
                      <dd class="col-lg-6 col-md-6 col-sm-5 col-xs-4"><strong><span class="ui-esim-output-monthly">224</span>&nbsp;€ / mois</strong></dd>
                      <dt class="col-lg-6 col-md-6 col-sm-3 col-xs-4">Taux moyen</dt>
                      <dd class="col-lg-6 col-md-6 col-sm-5 col-xs-4"><span class="ui-esim-output-interest">7,4</span>%</dd>
                    </dl>&nbsp;
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <p class="small">Estimation d'après les chiffres constatés sur plus de 200 projets financés grâce à Unilend.</p>
                  </div>
                  <div class="col-lg-3 col-md-3">
                    <a href="#esim2" role="tab" data-toggle="tab" class="btn-continue btn-alternate btn-size-full">Continuer</a>
                    <button class="btn-submit btn-alternate btn-size-full">Valider</button>
                  </div>
                </div>
              </div><!-- /.emprunter-sim-pane-inner -->
            </div><!-- /.emprunter-sim-estimate -->

          </div><!-- /.tab-content -->
        </form><!-- /.emprunter-sim -->

      </div><!-- /.site-wrap -->
    </section><!-- /.page-section -->

    <section id="homeemp-section-whyborrow" class="page-section">
      <div class="site-wrap">
        <h2 class="h2">Pourquoi emprunter avec Unilend&nbsp;?</h2>
        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="promo">
              <div class="promo-image">
                {% if caniuse_svg() == true %}
                {{ svgimage('#promo-piggybank', '', 190, 190, 'none') }}
                {% else %}
                <img src="{{ siteurlmedia('promos/promo-piggybank-190x190.png') }}" alt="">
                {% endif %}
              </div>
              <h3 class="promo-highlight"><span class="ui-text-count" data-start-count="0" data-end-count="97" data-total-time="3000" data-round-float="ceil" data-tween-count="easeOutCirc">97</span><sup>%</sup></h3>
              <p>97% des campagnes sont <br>financées avec succès</p>
            </div><!-- /.promo -->
          </div>
          <div class="col-lg-4 col-md-4">
            <div class="promo">
              <div class="promo-image">
                {% if caniuse_svg() == true %}
                {{ svgimage('#promo-calendarweek', '', 190, 190, 'none') }}
                {% else %}
                <img src="{{ siteurlmedia('promos/promo-calendar-190x190.png') }}" alt="">
                {% endif %}
              </div>
              <h3 class="promo-highlight">6</h3>
              <p>6 jours en moyenne pour <br>financer votre projet</p>
            </div>
          </div><!-- /.promo -->
          <div class="col-lg-4 col-md-4">
            <div class="promo">
              <div class="promo-image">
                {% if caniuse_svg() == true %}
                {{ svgimage('#promo-verified', '', 190, 190, 'none') }}
                {% else %}
                <img src="{{ siteurlmedia('promos/promo-certificate-190x190.png') }}" alt="">
                {% endif %}
              </div>
              <h3 class="promo-highlight">0</h3>
              <p>San garantie, <br>ni assurances</p>
            </div><!-- /.promo -->
          </div>
        </div>
        <div class="row page-section-footer">
          <div class="btn-toolbar">
            <a href="{{ route('emprunter/register') }}" class="btn-alternate">Vous souhaitez emprunter&nbsp;?</a>
          </div><!-- /.btn-toolbar -->
          <p><a href="{{ route('preter/register') }}" class="link">En fait vous souhaitez plutôt prêter&nbsp;?</a></p>
        </div><!-- /.page-section-footer -->
      </div><!-- /.site-wrap -->
    </section><!-- /.promos -->
  </article><!-- /.page -->

  {% include '@UnilendFrontBundle/partials/home/reviews.twig' %}

{% endblock %}
