{# Planche UI #}
{% extends 'layouts/_layout.twig' %}
{% import 'partials/modules/_pagination.macros.twig' as pagination %}

{# Page data #}
{% set page = {
  title: 'Planche UI',
  permalink: route('planche-ui')
} %}

{% block extendHead %}
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/monokai-sublime.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
  <script type="text/javascript">if (hljs) hljs.initHighlightingOnLoad()</script>
  <style type="text/css">
    table {
      width: 100%;
    }
    table.table-chart th {
      font-weight: bold;
      text-align: center;
      padding: 5px;
    }
    table.table-chart td {
      border: solid 1px #eee;
      padding: 5px;
    }
    /* First and third cell */
    table.table-chart-list tr td:nth-of-type(0n+1),
    table.table-chart-list tr td:nth-of-type(0n+3) {
      text-align: center;
    }
    table.table-chart-grid td {
      text-align: center;
    }
    .grid-examples .row {
      margin-bottom: 20px;
    }
    .grid-examples .row > * {
      text-align: center;
    }
    .grid-examples .row > :nth-of-type(2n+1) {
      background-color: #eee;
    }
    .grid-examples .row > :nth-of-type(2n+2) {
      background-color: #ddd;
    }
    .resp {
      background-color: #c00;
      color: #fff;
      border-radius: 1em;
      line-height: 1.2em;
      padding: 0 .5em;
    }
    #table-ratings td {
      text-align: center;
    }
    .example {
      display: block;
      padding: 20px;
      background: #fafafa;
      border: solid 1px #ddd;
      border-radius: 4px;
      margin-bottom: 20px;
    }
    code {
      font-family: 'Andale Mono', 'Courier New', mono;
      background-color: #eee;
      border: solid 1px #ccc;
      color: #6789AB;
      padding: 4px 6px;
      font-size: .8em;
      -webkit-font-smoothing: normal;
      -moz-osx-font-smoothing: normal;
    }
    pre {
      font-family: 'Andale Mono', 'Courier New', mono;
      background-color: #333;
      color: #ccc;
      display: block;
      padding: 0;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    pre code {
      background-color: transparent;
      border-color: transparent;
      color: inherit;
      display: block;
      padding: 20px;
      overflow: auto;
      line-height: 1.2em;
    }
    pre code.hljs {
      padding: 20px;
    }
  </style>
{% endblock %}

{% block siteContent %}
  <div class="site-wrap">

    {% if env == 'dev' %}
    <section id="pages" class="page-section">
      <h1>Pages</h1>
      <ul>
        <li><a href="{{ siteurl('index.html') }}">Planche UI</a></li>
        <li><a href="{{ siteurl('homepage_acquisition.html') }}">Homepage - Acquisition</a></li>
        <li><a href="{{ siteurl('homepage_emprunter.html') }}">Homepage - Emprunter</a></li>
        <li><a href="{{ siteurl('homepage_preter.html') }}">Homepage - Preter</a></li>
        <li><a href="{{ siteurl('projets_index.html') }}">Projets - Index</a></li>
        <li><a href="{{ siteurl('projet_single.html') }}">Projet - Single</a></li>
        <li><a href="{{ siteurl('fiscalite.html') }}">Fiscalité</a></li>
        <li><a href="{{ siteurl('legal.html') }}">Informations Legales</a></li>
        <li><a href="{{ siteurl('securite.html') }}">Securité</a></li>
        <li><a href="{{ siteurl('contact.html') }}">Contact</a></li>
        <li><a href="{{ siteurl('sitemap.html') }}">Plan du site</a></li>
        <li><a href="{{ siteurl('recrutement.html') }}">Recrutement</a></li>
        <li><a href="{{ siteurl('error.html') }}">Error</a></li>
        <li><a href="{{ siteurl('connexion_inscription.html') }}">Inscription / Connexion</a></li>
        <li><a href="{{ siteurl('devenir_preter.html') }}">Devenir Prêteur</a></li>
        <li><a href="{{ siteurl('preter_guide.html') }}">Guide du Prêteur</a></li>
        <li><a href="{{ siteurl('preter_fiscalite.html') }}">Prêter Fiscalite</a></li>
        <li><a href="{{ siteurl('user_preter_dashboard.html') }}">User Preter - Dashboard</a></li>
      </ul>
    </section>
    {% endif %}

    <section id="colors" class="page-section">
      <h1>Colors</h1>
      <table width="100%" class="table-chart table-chart-list">
        <thead>
          <tr>
            <th width="20%">Tag/Class</th>
            <th width="30%">Example</th>
            <th width="20%">Tag/Class</th>
            <th width="30%">Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>.c-p1</code></td>
            <td class="c-p1">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-p1</code></td>
            <td class="bg-p1">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-p2</code></td>
            <td class="c-p2">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-p2</code></td>
            <td class="bg-p2">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-t1</code></td>
            <td class="c-t1">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-t1</code></td>
            <td class="bg-t1">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-t2</code></td>
            <td class="c-t2">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-t2</code></td>
            <td class="bg-t2">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-t3</code></td>
            <td class="c-t3">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-t3</code></td>
            <td class="bg-t3">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-bg1</code></td>
            <td class="c-bg1">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-bg1</code></td>
            <td class="bg-bg1">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-bg2</code></td>
            <td class="c-bg2">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-bg2</code></td>
            <td class="bg-bg2">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-bg3</code></td>
            <td class="c-bg3">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-bg3</code></td>
            <td class="bg-bg3">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-bg4</code></td>
            <td class="c-bg4">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-bg4</code></td>
            <td class="bg-bg4">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-bg5</code></td>
            <td class="c-bg5">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-bg5</code></td>
            <td class="bg-bg5">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-success</code></td>
            <td class="c-success">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-success</code></td>
            <td class="bg-success">&nbsp;</td>
          </tr>
          <tr>
            <td><code>.c-error</code></td>
            <td class="c-error">Lorem ipsum dolor sit amet</td>
            <td><code>.bg-error</code></td>
            <td class="bg-error">&nbsp;</td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="buttons-links" class="page-section">
      <h1>Buttons &amp; Links</h1>
      <div class="message-info">
        <p>Some of the buttons change in relation to <a href="#responsive-breakpoints">responsive breakpoints</a>. Responsive buttons are marked with a <sup class="resp">RESP</sup>. Change the width of your browser window to see the changes occur.</p>
      </div>
      <table width="100%" class="table-chart table-chart-list">
        <thead>
          <tr>
            <th width="20%">Tag/Class</th>
            <th width="80%">Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>&lt;a&gt;</code></td>
            <td><p><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p></td>
          </tr>
          <tr>
            <td><code>.link</code></td>
            <td>
              <p><a href="#" class="link">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></p>
              <pre><code class="html">&lt;a href="#" class="link"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.link-1</code></td>
            <td>
              <p><a href="#" class="link-1 c-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit (18px)</a></p>
              <p><a href="#" class="link-1 c-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit (18px)</a></p>
              <p><a href="#" class="link-1 c-t1">Lorem ipsum dolor sit amet, consectetur adipiscing elit (18px)</a></p>
              <pre><code class="html">&lt;a href="#" class="link-1 c-p1"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit (18px)&lt;/a&gt;

&lt;a href="#" class="link-1 c-p2"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit (18px)&lt;/a&gt;
&lt;a href="#" class="link-1 c-t1"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit (18px)&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.link-2</code></td>
            <td>
              <p><a href="#" class="link-2 c-p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit (16px)</a></p>
              <p><a href="#" class="link-2 c-p2">Lorem ipsum dolor sit amet, consectetur adipiscing elit (16px)</a></p>
              <p><a href="#" class="link-2 c-t1">Lorem ipsum dolor sit amet, consectetur adipiscing elit (16px)</a></p>
              <pre><code class="html">&lt;a href="#" class="link-2 c-p1"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit (16px)&lt;/a&gt;
&lt;a href="#" class="link-2 c-p2"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit (16px)&lt;/a&gt;
&lt;a href="#" class="link-2 c-t1"&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit (16px)&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-default</code>&nbsp;<sup class="resp">RESP</sup></td>
            <td>
              <p><a href="#" class="btn-default">Default Button (Button #3)</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-default"&gt;Default Button (Button #3)&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-primary</code>&nbsp;<sup class="resp">RESP</sup></td>
            <td>
              <p><a href="#" class="btn-primary">Primary Button (Button #1)</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary"&gt;Primary Button (Button #1)&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-alternate</code>&nbsp;<sup class="resp">RESP</sup></td>
            <td>
              <p><a href="#" class="btn-alternate">Alternate Button</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-alternate"&gt;Alternate Button&lt;/a&gt;</code></pre>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="button-customisations" class="page-section">
      <h2>Button customisations</h2>
      <p>It's possible to create further customised buttons depending on the size and situation needed. For example, you may have a button that needs to be a slighly smaller or larger size than normal.</p>
      <p>The button classes above can be extended with these following classes:</p>

      <table width="100%" class="table-chart table-chart-list">
        <thead>
          <tr>
            <th width="20%">Tag/Class</th>
            <th width="80%">Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>.btn-shape-default</code>&nbsp;<sup class="resp">RESP</sup></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-default">Default Button Shape (Button #1)</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-default"&gt;Default Button Shape (Button #1)&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-lg</code></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-lg">Large Button Shape</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-lg"&gt;Large Button Shape&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-md</code></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-md">Medium Button Shape</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-md"&gt;Medium Button Shape&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-sm</code></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-sm">Small Button Shape</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-sm"&gt;Small Button Shape&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-huge</code>&nbsp;<sup class="resp">RESP</sup></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-huge">Huge Button Shape (Button #2)</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-huge"&gt;Huge Button Shape (Button #2)&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-huge-md</code></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-huge-md">Huge Button Shape (Medium)</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-huge-md"&gt;Huge Button Shape (Medium)&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-huge-lg</code></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-huge-lg">Huge Button Shape (Large)</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-huge-lg"&gt;Huge Button Shape (Large)&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-round-sm</code></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-round-sm"><span class="icon fa-facebook"></span><span class="sr-only">Facebook</span></a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-round-sm"&gt;&lt;span class="icon fa-facebook"&gt;&lt;/span&gt;&lt;span class="sr-only"&gt;Facebook&lt;/span&gt;&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-round-md</code></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-round-md"><span class="icon fa-twitter"></span><span class="sr-only">Twitter</span></a></p>
              <pre><code class="html">&lt;a href="#" class="btn-default btn-shape-round-md"&gt;&lt;span class="icon fa-twitter"&gt;&lt;/span&gt;&lt;span class="sr-only"&gt;Twitter&lt;/span&gt;&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-shape-round-lg</code></td>
            <td>
              <p><a href="#" class="btn-primary btn-shape-round-lg"><span class="icon fa-play"></span><span class="sr-only">Play Video</span></a></p>
              <pre><code class="html">&lt;a href="#" class="btn-default btn-shape-round-lg"&gt;&lt;span class="icon fa-play"&gt;&lt;/span&gt;&lt;span class="sr-only"&gt;Play Video&lt;/span&gt;&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.btn-size-full</code></td>
            <td>
              <p>If you want a button to be the full width of its parent, add the <code>.btn-size-full</code> class.</p>
              <a href="#" class="btn-primary btn-shape-huge btn-size-full">Full Width Button</a>
              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-huge btn-size-full"&gt;Full Width Button&lt;/a&gt;</code></pre>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="icons" class="page-section">
      <h2><span class="icon fa-globe"></span> Icons</h2>
      <p>Icons are currently utilised with <a href="https://fortawesome.github.io/Font-Awesome/cheatsheet/" target="_blank">FontAwesome</a>.</p>
      <p>Icons are applied to a <code>&lt;span&gt;</code> element.</p>

      <table width="100%" class="table-chart table-chart-list">
        <thead>
          <tr>
            <th width="20%">Tag/Class</th>
            <th width="80%">Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>.icon</code></td>
            <td>
              <p><a href="#" class="btn-primary"><span class="icon fa-angle-right"></span> Button</a></p>
              <pre><code class="html">&lt;a href="#" class="btn-primary"&gt;&lt;span class="icon fa-angle-right"&gt;&lt;/span&gt; Button&lt;/a&gt;</code></pre>
            </td>
          </tr>
          <tr>
            <td><code>.sr-only</code></td>
            <td>
              <p>If no button labels are required, it is advisable for accessibility purposes (i.e. screen readers) that you surround button labels with <code>&lt;span class="sr-only"&gt;..&lt;/span&gt;</code> to enable button labels to still be readable by screen readers.</p>

              <p><a href="#" class="btn-primary btn-shape-round-lg"><span class="icon fa-play"></span><span class="sr-only"> Play Movie</span></a></p>

              <pre><code class="html">&lt;a href="#" class="btn-primary btn-shape-round-lg"&gt;&lt;span class="icon fa-play"&gt;&lt;/span&gt;&lt;span class="sr-only"&gt; Play Movie&lt;/span&gt;&lt;/a&gt;</code></pre>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="typography" class="page-section">
      <h1>Typography</h1>
      <table width="100%" class="table-chart table-chart-list">
        <thead>
          <tr>
            <th width="20%">Tag/Class</th>
            <th width="80%">Example</th>
          </tr>
        </thead>
        <tbody>
          <!-- Headers -->
          <tr>
            <td><code>&lt;h1&gt;</code></td>
            <td><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1></td>
          </tr>
          <tr>
            <td><code>&lt;h2&gt;</code></td>
            <td><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2></td>
          </tr>
          <tr>
            <td><code>&lt;h3&gt;</code></td>
            <td><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3></td>
          </tr>
          <tr>
            <td><code>&lt;h4&gt;</code></td>
            <td><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4></td>
          </tr>
          <tr>
            <td><code>&lt;h5&gt;</code></td>
            <td><h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5></td>
          </tr>
          <tr>
            <td><code>&lt;h6&gt;</code></td>
            <td><h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h6></td>
          </tr>
          <tr>
            <td><code>.h1</code></td>
            <td><h1 class="h1">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1></td>
          </tr>
          <tr>
            <td><code>.h2</code></td>
            <td><h2 class="h2">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2></td>
          </tr>
          <tr>
            <td><code>.h3</code></td>
            <td><h3 class="h3">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3></td>
          </tr>
          <tr>
            <td><code>.h4</code></td>
            <td><h2 class="h4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h2></td>
          </tr>
        </tbody>
      </table>

      <h1><a href="#">Example text et magnis dis parturient montes</a></h1>
      <h2>Example text et magnis dis parturient montes</h2>
      <h3>Example text et magnis dis parturient montes</h3>
      <h4>Example text et magnis dis parturient montes</h4>
      <h5>Example text et magnis dis parturient montes</h5>
      <h6>Example text et magnis dis parturient montes</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar. <i>Donec sollicitudin</i> dui quis turpis vulputate, nec vulputate diam viverra. <a href="#">Cras posuere</a>, augue a sagittis aliquam, enim diam lacinia orci, <del>dignissim gravida tellus</del>.</p>
      <blockquote>
        <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
      </blockquote>

      <h1 class="h1">Example title (.h1)</h1>
      <ul>
        <li>One item</li>
        <li>One item, two items</li>
        <li>One item, two items, three items</li>
        <li>One item, two items, three items, four items</li>
        <li>One item, two items, three items, four items, five items</li>
        <li>One item, two items, three items, four items, five items, six items</li>
        <li>One item, two items, three items, four items, five items, six items, seven items!
          <ul>
            <li>Inner item one</li>
            <li>Inner item one, inner item two</li>
            <li>Inner item one, inner item two, inner item three
              <ul>
                <li>Inner item one</li>
                <li>Inner item one, inner item two</li>
                <li>Inner item one, inner item two, inner item three</li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>

      <h2 class="h2">Example title (.h2)</h2>
      <p>Velit sit amet felis. <code>Praesent accumsan, metus eu congue mattis</code>, erat turpis sollicitudin tellus, a dapibus odio ante a ipsum. <strong>Nullam volutpat quam orci</strong>, <em>a elementum felis condimentum ac</em>. <strong><em>Duis vulputate urna a tellus ullamcorper viverra. Aenean cursus urna blandit libero <del>lobortis sollicitudin</del> ut eget felis.</em></strong></p>
      <blockquote class="pullquote">
        <p>Duis vulputate urna a tellus ullamcorper viverra. Aenean cursus urna blandit libero.</p>
      </blockquote>

      <h3 class="h3">Example title (.h3)</h3>
      <ol>
        <li>One item</li>
        <li>One item, two items</li>
        <li>One item, two items, three items</li>
        <li>One item, two items, three items, four items</li>
        <li>One item, two items, three items, four items, five items</li>
        <li>One item, two items, three items, four items, five items, six items</li>
        <li>One item, two items, three items, four items, five items, six items, seven items!
          <ol>
            <li>Inner item one</li>
            <li>Inner item one, inner item two</li>
            <li>Inner item one, inner item two, inner item three
              <ol>
                <li>Inner item one</li>
                <li>Inner item one, inner item two</li>
                <li>Inner item one, inner item two, inner item three</li>
              </ol>
            </li>
          </ol>
        </li>
      </ol>
    </section>

    <section id="responsive-breakpoints" class="page-section">
      <h1>Responsive breakpoints</h1>
      <p>The site supports a number of different breakpoints intended for certain device widths:</p>
      <table width="100%" class="table-chart table-chart-grid">
        <thead>
          <tr>
            <th>Device</th>
            <th>Code</th>
            <th>Minimum Device Width</th>
            <th>Maximum Device Width</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mobile Portrait</td>
            <td><code>mobile-p</code></td>
            <td>400</td>
            <td>599</td>
          </tr>
          <tr>
            <td>Mobile Landscape</td>
            <td><code>mobile-l</code></td>
            <td>600</td>
            <td>799</td>
          </tr>
          <tr>
            <td>Mobile</td>
            <td><code>mobile</code></td>
            <td>0</td>
            <td>799</td>
          </tr>
          <tr>
            <td>Tablet Portrait</td>
            <td><code>tablet-p</code></td>
            <td>800</td>
            <td>1023</td>
          </tr>
          <tr>
            <td>Tablet Landscape</td>
            <td><code>tablet-l</code></td>
            <td>1024</td>
            <td>1299</td>
          </tr>
          <tr>
            <td>Tablet</td>
            <td><code>tablet</code></td>
            <td>800</td>
            <td>1299</td>
          </tr>
          <tr>
            <td>Laptop</td>
            <td><code>laptop</code></td>
            <td>1300</td>
            <td>1599</td>
          </tr>
          <tr>
            <td>Desktop</td>
            <td><code>desktop</code></td>
            <td>1600</td>
            <td>...</td>
          </tr>
          <tr>
            <td>Computer</td>
            <td><code>computer</code></td>
            <td>1300</td>
            <td>...</td>
          </tr>
        </tbody>
      </table>
    </section>
    <section id="show-hide-breakpoints" class="page-section">
      <h3>Show/hide elements at different breakpoints</h3>
      <p>Using the breakpoint code names above, it is possible to show/hide certain elements at different breakpoints with the classes <code>show-{breakpoint}</code> and <code>hide-{breakpoint}</code>.</p>
      <p>For elements which aren't <code>display: block</code>, there is a specific class to use when showing. These are:</p>
      <ul>
        <li><code>show-{breakpoint}-inline</code> for inline elements</li>
        <li><code>show-{breakpoint}-inline-block</code> for inline block elements</li>
        <li><code>show-{breakpoint}-list-item</code> for list item elements</li>
        <li><code>show-{breakpoint}-table</code> for table elements</li>
        <li><code>show-{breakpoint}-table-cell</code> for table cell elements</li>
      </ul>
      <p>The example below will display a name showing you which breakpoint you are currently viewing at:</p>
      <div class="message-info">
        <p>You're currently viewing:</p>
        <ul>
          <li class="show-mobile-list-item">
            Mobile
            <span class="show-mobile-p-inline">Portrait</span>
            <span class="show-mobile-l-inline">Landscape</span>
          </li>
          <li class="show-tablet-list-item">
            Tablet
            <span class="show-tablet-p-inline">Portrait</span>
            <span class="show-tablet-l-inline">Landscape</span>
          </li>
          <li class="show-computer-list-item">
            <span class="show-laptop-inline">Laptop</span>
            <span class="show-desktop-inline">Desktop</span>
            Computer
          </li>
        </ul>
      </div>
      <pre><code class="html">&lt;div class="message-info"&gt;
  &lt;p&gt;You're currently viewing:&lt;/p&gt;
  &lt;ul&gt;
    &lt;li class="show-mobile-list-item"&gt;
      Mobile
      &lt;span class="show-mobile-p-inline"&gt;Portrait&lt;/span&gt;
      &lt;span class="show-mobile-l-inline"&gt;Landscape&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class="show-tablet-list-item"&gt;
      Tablet
      &lt;span class="show-tablet-p-inline"&gt;Portrait&lt;/span&gt;
      &lt;span class="show-tablet-l-inline"&gt;Landscape&lt;/span&gt;
    &lt;/li&gt;
    &lt;li class="show-computer-list-item"&gt;
      &lt;span class="show-laptop-inline"&gt;Laptop&lt;/span&gt;
      &lt;span class="show-desktop-inline"&gt;Desktop&lt;/span&gt;
      Computer
    &lt;/li&gt;
  &lt;/ul&gt;
&lt;/div&gt;</code></pre>
    </section>
    <section id="max-widths" class="page-section">
      <h2>Maximum Widths</h2>
      <p>There are varying widths for the site and for large hero items (generally media), as illustrated below:</p>
      <div class="message-info">
        <p>Change the width of your browser to see how <code>.site-wrap</code> and <code>.hero-wrap</code> respond to the breakpoints.</p>
      </div>
    </section>
  </div><!-- /.site-wrap -->

  <div class="breakpoint-visualiser" display="none">
    <div class="width-desktop">Desktop <code>desktop</code></div>
    <div class="bpv-wrap"><div class="width-laptop">Laptop <code>laptop</code></div></div>
    <div class="bpv-wrap"><div class="width-tablet-l">Tablet Landscape <code>tablet-l</code></div></div>
    <div class="bpv-wrap"><div class="width-tablet-p">Tablet Portrait <code>tablet-p</code></div></div>
    <div class="bpv-wrap"><div class="width-mobile-l">Mobile Landscape <code>mobile-l</code></div></div>
    <div class="bpv-wrap"><div class="width-mobile-p">Mobile Portrait <code>mobile-p</code></div></div>
    <div class="width-lg">Large Devices <code>lg</code></div>
    <div class="bpv-wrap"><div class="width-md">Medium Devices <code>md</code></div></div>
    <div class="bpv-wrap"><div class="width-sm">Small Devices <code>sm</code></div></div>
    <div class="bpv-wrap"><div class="width-xs">Extra Small <code>xs</code></div></div>
    <div class="bpv-wrap"><div class="hero-wrap" title=".hero-wrap"><code>.hero-wrap</code></div></div>
    <div class="bpv-wrap"><div class="site-wrap" title=".site-wrap"><code>.site-wrap</code></div></div>
  </div><!-- /.breakpoint-visualiser -->

  <div class="bg-bg1" style="padding: 40px 0">
    <div class="hero-wrap c-bg5 bg-p1">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-3 col-xs-4" style="padding: 20px 40px">
          <h1><code>.hero-wrap</code></h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ornare augue a rhoncus mattis. In vitae mollis enim. Nam bibendum neque vitae purus ultricies mollis.</p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-5 col-xs-4" style="background-image:url('{{ site.assets.media }}promos/homepre-video-hero-1690x1070.jpg'); background-repeat: no-repeat; background-position: center center; background-size: cover;">
          <img src="{{ site.assets.media }}promos/homepre-video-hero-1690x1070.jpg" class="constrain-max-width hidden">
        </div>
      </div>
    </div>
  </div>
  <div class="bg-bg1" style="padding: 40px 0">
    <div class="site-wrap bg-bg5" style="padding: 20px 40px">
      <div class="row">
        <div class="col-lg-6 col-md-7 col-sm-4 col-xs-4">
          <h3><code>.site-wrap</code></h3>
          <p>Sed aliquet, lorem varius pretium ultricies, velit orci ultricies neque, ut euismod ipsum orci a erat. Sed posuere quam congue magna efficitur, vitae viverra quam varius. Etiam dapibus ipsum sapien, id ultricies nibh hendrerit bibendum. Proin at enim imperdiet, efficitur ex quis, vehicula nunc. Donec et nibh at risus varius condimentum. Morbi mattis, dolor eget sollicitudin mollis, metus sapien condimentum erat, in porttitor turpis nisl quis turpis. Aenean posuere, purus in viverra tincidunt, odio metus vulputate dui, non feugiat turpis mauris ut odio. Vestibulum ornare ultricies placerat. Ut feugiat, felis sit amet ultrices tincidunt, ante mauris pulvinar odio, a convallis ligula mi sed magna. Pellentesque ullamcorper, metus sit amet pretium tristique, augue dui imperdiet dolor, in semper nunc metus vitae nisl. Donec condimentum suscipit lorem ut ultrices. Nunc vitae malesuada odio. Nulla facilisis tortor id turpis pharetra fringilla. Sed a urna orci. In tellus turpis, gravida et rhoncus vel, tincidunt ac eros. Aliquam erat volutpat.</p>
          <p>Etiam tincidunt, orci vel sodales tempus, odio risus malesuada magna, id faucibus nulla justo sed risus. Mauris at vulputate velit. Donec in dui ac lacus fermentum sollicitudin vel quis est. Donec vitae placerat nibh. Pellentesque vitae ultricies tortor, vel bibendum ligula. Praesent vehicula, tellus non fermentum condimentum, lorem mi rutrum metus, eu euismod nisi lectus et diam. In hac habitasse platea dictumst. Aenean aliquam vulputate tortor, id dignissim quam. Aenean bibendum ac metus vitae tristique. Proin in felis quis augue tristique bibendum. Donec volutpat velit varius felis aliquam porta. Praesent sed blandit nisi. Suspendisse sagittis ex non mi porta egestas. Vestibulum vel elit molestie, sagittis leo in, laoreet nunc. Fusce quis quam eros. Sed ex justo, facilisis sed erat at, vehicula lobortis elit.</p>
          <p>Nulla dictum imperdiet lacus, ac maximus leo aliquam commodo. Sed faucibus eu enim vel ornare. Fusce dictum commodo molestie. In massa erat, sagittis ac tortor id, posuere tempor turpis. Praesent sed ullamcorper orci. Nam commodo pellentesque elementum. Nulla fermentum faucibus augue, ut malesuada lectus interdum id. Sed vestibulum libero quis efficitur mattis. Ut aliquet maximus augue, et venenatis felis imperdiet aliquam. Curabitur mollis consectetur varius. Vivamus fringilla congue semper.</p>
        </div>
        <aside class="col-lg-4 push-lg-2 col-md-4 push-md-1 col-sm-3 push-sm-1 col-xs-4" style="padding: 20px">
          <h4>Related</h4>
          <ul class="list-block">
            <li><a href="#" class="link">Link 1</a></li>
            <li><a href="#" class="link">Link 2</a></li>
            <li><a href="#" class="link">Link 3</a></li>
            <li><a href="#" class="link">Link 4</a></li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
  <div class="site-wrap">
    <section id="grids" class="page-section">
      <h2>Grids</h2>
      <p>There are currently 4 grid sizes which enable changing layouts depending on the design requirements for certain breakpoints:</p>
      <table width="100%" class="table-chart table-chart-grid" style="margin-bottom: 20px">
        <thead>
          <tr>
            <th>Size</th>
            <th>Code</th>
            <th>Breakpoints</th>
            <th>Minimum Device Width</th>
            <th>Maximum Device Width</th>
            <th>Grid columns</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Extra Small</strong></td>
            <td><code>xs</code></td>
            <td>
               Mobile Portrait
            </td>
            <td>0</td>
            <td>599</td>
            <td>4</td>
          </tr>
          <tr>
            <td><strong>Small</strong></td>
            <td><code>sm</code></td>
            <td>
              Mobile Landscape<br/>
              Tablet Portrait
            </td>
            <td>600</td>
            <td>1023</td>
            <td>8</td>
          </tr>
          <tr>
            <td><strong>Medium</strong></td>
            <td><code>md</code></td>
            <td>
              Tablet Landscape<br/>
              Laptop
            </td>
            <td>1024</td>
            <td>1599</td>
            <td>12</td>
          </tr>
          <tr>
            <td><strong>Large</strong></td>
            <td><code>lg</code></td>
            <td>
               Desktop
            </td>
            <td>1600</td>
            <td>...</td>
            <td>12</td>
          </tr>
        </tbody>
      </table>

      <div class="message-info">
        <p>Change your browser's window width to see how the grids and columns below react responsively</p>
      </div>

      <div class="grid-examples">
        <h3 class="show-lg">Large grid <code>lg</code> for breakpoints <code>desktop</code></h3>
        <h3 class="show-md">Medium grid <code>md</code> for breakpoints <code>laptop</code>, <code>tablet-l</code></h3>
        <h3 class="show-sm">Small grid <code>sm</code> for breakpoints <code>mobile-l</code>, <code>tablet-p</code></h3>
        <h3 class="show-xs">Extra Small grid <code>xs</code> for breakpoints <code>mobile-p</code></h3>
        <div class="hide-xs hide-sm">
          <!-- lg : 12 columns -->
          <!-- md : 12 columns -->
          <div class="row">
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
            <div class="col-lg-1 col-md-1">1</div>
          </div>
          <div class="row">
            <div class="col-lg-2 col-md-2">2</div>
            <div class="col-lg-2 col-md-2">2</div>
            <div class="col-lg-2 col-md-2">2</div>
            <div class="col-lg-2 col-md-2">2</div>
            <div class="col-lg-2 col-md-2">2</div>
            <div class="col-lg-2 col-md-2">2</div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-3">3</div>
            <div class="col-lg-3 col-md-3">3</div>
            <div class="col-lg-3 col-md-3">3</div>
            <div class="col-lg-3 col-md-3">3</div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-4">4</div>
            <div class="col-lg-4 col-md-4">4</div>
            <div class="col-lg-4 col-md-4">4</div>
          </div>
          <div class="row">
            <div class="col-lg-5 col-md-5">5</div>
            <div class="col-lg-5 col-md-5">5</div>
            <div class="col-lg-2 col-md-2">2</div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">6</div>
            <div class="col-lg-6 col-md-6">6</div>
          </div>
          <div class="row">
            <div class="col-lg-7 col-md-7">7</div>
            <div class="col-lg-5 col-md-5">5</div>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-8">8</div>
            <div class="col-lg-4 col-md-4">4</div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-md-9">9</div>
            <div class="col-lg-3 col-md-3">3</div>
          </div>
          <div class="row">
            <div class="col-lg-10 col-md-10">10</div>
            <div class="col-lg-2 col-md-2">2</div>
          </div>
          <div class="row">
            <div class="col-lg-11 col-md-11">11</div>
            <div class="col-lg-1 col-md-1">1</div>
          </div>
          <div class="row">
            <div class="col-lg-12 col-md-12">12</div>
          </div>
        </div>
        <div class="show-sm">
          <!-- sm : 8 columns -->
          <div class="row">
            <div class="col-sm-1">1</div>
            <div class="col-sm-1">1</div>
            <div class="col-sm-1">1</div>
            <div class="col-sm-1">1</div>
            <div class="col-sm-1">1</div>
            <div class="col-sm-1">1</div>
            <div class="col-sm-1">1</div>
            <div class="col-sm-1">1</div>
          </div>
          <div class="row">
            <div class="col-sm-2">2</div>
            <div class="col-sm-2">2</div>
            <div class="col-sm-2">2</div>
            <div class="col-sm-2">2</div>
          </div>
          <div class="row">
            <div class="col-sm-3">3</div>
            <div class="col-sm-3">3</div>
            <div class="col-sm-2">2</div>
          </div>
          <div class="row">
            <div class="col-sm-4">4</div>
            <div class="col-sm-4">4</div>
          </div>
          <div class="row">
            <div class="col-sm-5">5</div>
            <div class="col-sm-3">3</div>
          </div>
          <div class="row">
            <div class="col-sm-6">6</div>
            <div class="col-sm-2">2</div>
          </div>
          <div class="row">
            <div class="col-sm-7">7</div>
            <div class="col-sm-1">1</div>
          </div>
          <div class="row">
            <div class="col-sm-8">8</div>
          </div>
        </div>
        <div class="show-xs">
          <!-- xs : 4 columns -->
          <div class="row">
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
            <div class="col-xs-1">1</div>
          </div>
          <div class="row">
            <div class="col-xs-2">2</div>
            <div class="col-xs-2">2</div>
          </div>
          <div class="row">
            <div class="col-xs-3">3</div>
            <div class="col-xs-1">1</div>
          </div>
          <div class="row">
            <div class="col-xs-4">4</div>
          </div>
        </div>
      </div>
    </section>
    <section id="grid-functionality" class="page-section">
      <h3>Grid functionality</h3>
      <p>By default grid columns are full width:</p>
      <div class="grid-examples">
        <div class="row">
          <div>First column with no specified width</div>
          <div>Second column with no specified width</div>
          <div>Third column with no specified width</div>
          <div>Fourth column with no specified width</div>
        </div>
      </div>
      <p>Column widths are set by the class <code>col-{grid}-{columns}</code>. For full column widths see the <a href="#grids">Grids chart</a> for the <em>Grids count</em> value.</p>
      <p>Multiple column width classes can be added to adjust the column's width for specific grid sizes:</p>
      <div class="grid-examples">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-4 col-xs-2">50% of full grid width</div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-2 col-xs-1">25% of full grid width</div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-8 col-sm-4 col-xs-1">
            100% of <code>lg</code> grid<br>
            66.67% of <code>md</code> grid<br>
            50% of <code>sm</code> grid<br>
            25% of <code>xs</code> grid
          </div>
        </div>
      </div>
      <div class="message-info">
        <p>Grid column sizing corresponds to a relative size within the grid, e.g. 6 columns in the <code>lg</code> and <code>md</code> grids (each have a maximum 12 columns) equal a width of <code>50%</code> &rarr; <code>6 / 12 = .5</code></p>
      </div>
      <pre><code class="html">&lt;div class="row"&gt;
  &lt;div class="col-lg-6 col-md-6 col-sm-4 col-xs-2"&gt;50% of full grid width&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="col-lg-4 col-md-4 col-sm-2 col-xs-1"&gt;25% of full grid width&lt;/div&gt;
&lt;/div&gt;
&lt;div class="row"&gt;
  &lt;div class="col-lg-12 col-md-8 col-sm-4 col-xs-1"&gt;
    100% of &lt;code&gt;lg&lt;/code&gt; grid&lt;br&gt;
    66.67% of &lt;code&gt;md&lt;/code&gt; grid&lt;br&gt;
    50% of &lt;code&gt;sm&lt;/code&gt; grid&lt;br&gt;
    25% of &lt;code&gt;xs&lt;/code&gt; grid
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
    </section>
    <section id="pushing-columns" class="page-section">
      <h4>Pushing columns</h4>
      <p>Columns can be pushed to allow for positioning and spacing between columns in rows.</p>
      <p>Pushing works similar to the column sizing: the amount pushed is relative to the grid size using the class <code>push-{grid}-{columns}</code>:</p>
      <div class="grid-examples">
        <div class="row">
          <div class="col-lg-6 push-lg-3 col-md-6 push-md-3 col-sm-4 push-sm-2 col-xs-2 push-xs-1">1</div>
        </div>
      </div>
      <pre><code class="html">&lt;div class="row"&gt;
  &lt;div class="col-lg-6 push-lg-3 col-md-6 push-md-3 col-sm-4 push-sm-2 col-xs-2 push-xs-1"&gt;1&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </section>
    <section id="reversing-column-orders" class="page-section">
      <h4>Reversing column orders</h4>
      <p>Column orders can be reversed on the containing <code>row</code> element by adding the class <code>reverse</code>:</p>
      <div class="grid-examples">
        <div class="row reverse">
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">1</div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">2</div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">3</div>
          <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1">4</div>
        </div>
      </div>
      <pre><code class="html">&lt;div class="row reverse"&gt;
  &lt;div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"&gt;1&lt;/div&gt;
  &lt;div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"&gt;2&lt;/div&gt;
  &lt;div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"&gt;3&lt;/div&gt;
  &lt;div class="col-lg-3 col-md-3 col-sm-2 col-xs-1"&gt;4&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </section>
    <section id="show-hide-grids" class="page-section">
      <h4>Show/hide elements with grids</h4>
      <p>Similar to <a href="#show-hide-breakpoints">show/hide elements at breakpoints</a> you can do the same with grid names:</p>
      <div class="grid-examples">
        <div class="row">
          <div class="col-lg-3 show-lg">Only visible for <code>lg</code> grid</div>
          <div class="col-md-3 push-md-3 show-md">Only visible for <code>md</code> grid</div>
          <div class="col-sm-2 push-sm-4 show-sm">Only visible for <code>sm</code> grid</div>
          <div class="col-sm-1 push-xs-3 show-xs">Only visible for <code>xs</code> grid</div>
        </div>
      </div>
      <pre><code class="html">&lt;div class="row"&gt;
  &lt;div class="col-lg-3 show-lg"&gt;Only visible for &lt;code&gt;lg&lt;/code&gt; grid&lt;/div&gt;
  &lt;div class="col-md-3 push-md-3 show-md"&gt;Only visible for &lt;code&gt;md&lt;/code&gt; grid&lt;/div&gt;
  &lt;div class="col-sm-2 push-sm-4 show-sm"&gt;Only visible for &lt;code&gt;sm&lt;/code&gt; grid&lt;/div&gt;
  &lt;div class="col-sm-1 push-xs-3 show-xs"&gt;Only visible for &lt;code&gt;xs&lt;/code&gt; grid&lt;/div&gt;
&lt;/div&gt;</code></pre>
    </section>

    <section id="text-counters" class="page-section">
      <h1>Text Counters</h1>
      <p>If these number elements are visible on your screen, they'll start to count. They'll only count once.</p>
      <ul>
        <li>$10,000.00 to $200,000.00 in 5sec: <code><span class="ui-text-count" data-end-count="200000" data-total-time="5000">$10,000.00</span></code></li>
        <li>100 to 0 in 1sec: <code><span class="ui-text-count" data-end-count="0" data-total-time="1000">100</span></code></li>
        <li><code>null</code> to 1000 in 10sec: <code><span class="ui-text-count" data-end-count="1000" data-total-time="10000"></span></code></li>
        <li><code>0.12345678</code> to 1 in 5sec: <code><span class="ui-text-count" data-end-count="1" data-total-time="5000">0.12345678</span></code></li>
      </ul>
      <p><code>formatNumber()</code> localises numbers and converts numbers to prices too.</p>
      <div class="btn-toolbar">
        <div class="btn-group">
          <span class="label">Set language:</span>
          <a href="#" id="set-lang-en" class="btn-primary btn-shape-sm">EN</a>
          <a href="#" id="set-lang-en-gb" class="btn-primary btn-shape-sm">EN-GB</a>
          <a href="#" id="set-lang-fr" class="btn-primary btn-shape-sm">FR</a>
          <a href="#" id="set-lang-es" class="btn-primary btn-shape-sm">ES</a>
        </div>
      </div>
      <p><a href="#" id="restart-text-counters" class="btn-default btn-shape-md"><span class="icon fa-angle-right"></span> Restart Text Counters</a></p>

      <p>Example TextCounter HTML code:</p>
      <pre><code class="html">&lt;span class="ui-text-count" data-end-count="200000" data-total-time="5000"&gt;$10,000.00&lt;/span&gt;</code></pre>
    </section>

    <section id="video-js">
      <h1>Video</h1>
      <p>Video is embedded using <a href="http://videojs.com/" target="_blank">Video.JS</a>. It's recommended you set a width, height and the <code>aspectRatio</code> values in order to have the video scale dynamically to the device:</p>
      <div class="video-example">
        <video id="vjs-example" class="video-js" width="640px" height="267px" controls preload="none" poster="http://video-js.zencoder.com/oceans-clip.jpg" data-setup='{"aspectRatio":"640:267","inactivityTimeout":0}'>
          <source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
          <source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm' />
          <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          </p>
        </video>
      </div>
      <pre><code class="html">&lt;video id="vjs-example" class="video-js" width="640px" height="267px"
  controls preload="none" poster="http://video-js.zencoder.com/oceans-clip.jpg"
  data-setup='{ "aspectRatio":"640:267", "inactivityTimeout": 0 }'&gt;
  &lt;source src="http://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' /&gt;
  &lt;source src="http://vjs.zencdn.net/v/oceans.webm" type='video/webm' /&gt;
  &lt;p class="vjs-no-js"&gt;
    To view this video please enable JavaScript, and consider upgrading to a web browser that &lt;a href="http://videojs.com/html5-video-support/" target="_blank"&gt;supports HTML5 video&lt;/a&gt;
  &lt;/p&gt;
&lt;/video&gt;</code></pre>
    </section>
    <section id="video-youtube" class="page-section">
      <h2>Embedding YouTube videos</h2>
      <p>YouTube videos require a special kind of embedding in order to use the Video.JS custom controls. It also requires you to specify the video's width and height:</p>
      <div class="video-example">
        <video id="vjs-youtube-example" class="video-js" width="720px" height="405px" controls preload="auto" data-setup='{"techOrder":["youtube"],"sources":[{"type":"video/youtube","src":"https://www.youtube.com/watch?v=Fmtz6vI65GY"}],"aspectRatio":"720:405","inactivityTimeout":0}'></video>
      </div>
      <pre><code class="html">&lt;video id="vjs-youtube-example" class="video-js" width="720px" height="405px"
  controls preload="auto"
  data-setup='{"techOrder":["youtube"],"sources":[{"type":"video/youtube",
  "src":"https://www.youtube.com/watch?v=Fmtz6vI65GY"}],
  "aspectRatio":"720:405","inactivityTimeout":0}'&gt;&lt;/video&gt;</code></pre>
    </section>
    <section id="video-fancybox" class="page-section">
      <h2>YouTube video displayed with Fancybox</h2>
      <p>YouTube video can also be viewed within <a href="http://fancyapps.com/fancybox" target="_blank">Fancybox</a>. This means a user must interact with the button first to view the video in a special overlay.</p>
      <p>Since we are using Video.JS to display a custom player, we will need to add some extra classes <code>fancybox-media fancybox-embed-videojs</code> in the link/button's class to utilise Fancybox and Video.JS:</p>
      <div class="example">
        <p><a href="https://www.youtube.com/watch?v=Fmtz6vI65GY" class="link fancybox-media">Watch YouTube video in Fancybox with default YouTube player controls</a></p>
        <p><a href="https://www.youtube.com/watch?v=Fmtz6vI65GY" class="link fancybox-media fancybox-embed-videojs">Watch YouTube video in Fancybox with custom Video.JS player controls</a></p>
        <div class="btn-media-wrapper">
          <a href="https://www.youtube.com/watch?v=Fmtz6vI65GY" class="btn-media fancybox-media fancybox-embed-videojs"><span class="icon fa-play"></span><span class="sr-only">Play Video</span></a>
        </div>
      </div>
      <pre><code class="html">&lt;p&gt;&lt;a href="https://www.youtube.com/watch?v=Fmtz6vI65GY" class="link fancybox-media"&gt;Watch YouTube video in Fancybox with default YouTube player controls&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;&lt;a href="https://www.youtube.com/watch?v=Fmtz6vI65GY" class="link fancybox-media fancybox-embed-videojs"&gt;Watch YouTube video in Fancybox with custom Video.JS player controls&lt;/a&gt;&lt;/p&gt;
&lt;div class="btn-media-wrapper"&gt;
  &lt;a href="https://www.youtube.com/watch?v=Fmtz6vI65GY" class="btn-media fancybox-media fancybox-embed-videojs"&gt;&lt;span class="icon fa-play"&gt;&lt;/span&gt;&lt;span class="sr-only"&gt;Play Video&lt;/span&gt;&lt;/a&gt;
&lt;/div&gt;</code></pre>
    </section>

    <section id="anchors" class="page-section">
      <h1>Anchors</h1>
      <ul class="nav nav-anchors">
        <li role="presentation" class="active"><a href="#">Présentation</a></li>
        <li role="presentation"><a href="#">Offres en cours</a></li>
        <li role="presentation"><a href="#">Comptes financiers</a></li>
      </ul>
      <pre><code class="html">&lt;ul class="nav nav-anchors"&gt;
  &lt;li role="presentation" class="active"&gt;&lt;a href="#"&gt;Présentation&lt;/a&gt;&lt;/li&gt;
  &lt;li role="presentation"&gt;&lt;a href="#"&gt;Offres en cours&lt;/a&gt;&lt;/li&gt;
  &lt;li role="presentation"&gt;&lt;a href="#"&gt;Comptes financiers&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
    </section>

    <section id="tabs" class="page-section">
      <h1>Tabs</h1>
      <div class="tabs">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#first" role="tab" data-toggle="tab">First Tab</a></li>
          <li role="presentation"><a href="#second" role="tab" data-toggle="tab">Second Tab</a></li>
          <li role="presentation"><a href="#third" role="tab" data-toggle="tab">Third Tab</a></li>
        </ul>
        <div class="tab-content" style="height: 400px;">
          <div id="first" role="tabpanel" class="tab-pane active">
            <h3>Tabs are using Bootstrap's jQuery Tabs component</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar. <i>Donec sollicitudin</i> dui quis turpis vulputate, nec vulputate diam viverra. <a href="#">Cras posuere</a>, augue a sagittis aliquam, enim diam lacinia orci, <del>dignissim gravida tellus</del>.</p>
            <p>Velit sit amet felis. <code>Praesent accumsan, metus eu congue mattis</code>, erat turpis sollicitudin tellus, a dapibus odio ante a ipsum. <strong>Nullam volutpat quam orci</strong>, <em>a elementum felis condimentum ac</em>. <strong><em>Duis vulputate urna a tellus ullamcorper viverra. Aenean cursus urna blandit libero <del>lobortis sollicitudin</del> ut eget felis.</em></strong></p>
          </div>
          <div id="second" role="tabpanel" class="tab-pane">
            <h3>Second tab</h3>
            <p>Hiya!</p>
          </div>
          <div id="third" role="tabpanel" class="tab-pane">
            <h3>Third tab</h3>
            <p>Bienvenue!</p>
          </div>
        </div><!-- /.tab-content -->
      </div><!-- /.tabs -->
    </section>

    <section id="ratings" class="page-section">
      <h1>Ratings</h1>
      <p>Ratings for projects can be simply represented by the following code:</p>
      <div class="example">
        <span class="rating rating-3-5"><span class="sr-only">3.5 sur 5</span></span>
      </div>
      <pre><code class="html">&lt;span class="rating rating-3-5"&gt;&lt;span class="sr-only"&gt;Project rating: 3.5 out of 5&lt;/span&gt;&lt;/span&gt;</code></pre>
      <div class="message-info">
        <p>It's important to include the <code>&lt;span class="sr-only"&gt;...&lt;/span&gt;</code> element within the rating element, as users with a screen reader can't see the visuals and will need a textual representation in order to understand the rating.</p>
      </div>
      <table id="table-ratings" class="table-chart table-chart-list">
        <thead>
          <th width="20%">Tag/Class</th>
          <th width="80%">Example</th>
        </thead>
        <tbody>
          <tr>
            <td><code>.rating.rating-0</code></td>
            <td>
              <span class="rating rating-0"><span class="sr-only">0 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-0-5</code></td>
            <td>
              <span class="rating rating-0-5"><span class="sr-only">0.5 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-1</code></td>
            <td>
              <span class="rating rating-1"><span class="sr-only">1 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-1-5</code></td>
            <td>
              <span class="rating rating-1-5"><span class="sr-only">1.5 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-2</code></td>
            <td>
              <span class="rating rating-2"><span class="sr-only">2 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-2-5</code></td>
            <td>
              <span class="rating rating-2-5"><span class="sr-only">2.5 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-3</code></td>
            <td>
              <span class="rating rating-3"><span class="sr-only">3 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-3-5</code></td>
            <td>
              <span class="rating rating-3-5"><span class="sr-only">3.5 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-4</code></td>
            <td>
              <span class="rating rating-4"><span class="sr-only">4 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-4-5</code></td>
            <td>
              <span class="rating rating-4-5"><span class="sr-only">4.5 sur 5</span></span>
            </td>
          </tr>
          <tr>
            <td><code>.rating.rating-5</code></td>
            <td>
              <span class="rating rating-5"><span class="sr-only">5 sur 5</span></span>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <section id="forms-inputs" class="page-section">
      <h1>Forms and Inputs</h1>
      <form action="get">
        <div class="row">
          <div class="col-lg-5 col-md-5">
            <div class="form-field">
              <label for="form-name">Your name</label>
              <input type="text" id="form-name" name="name" value="" placeholder="John Smith" class="input-field">
            </div>

            <div class="form-field">
              <label for="form-email">Your email</label>
              <div class="input-group set-left">
                <div class="btn-group">
                  <span class="icon fa-envelope-o"></span>
                </div>
                <input type="email" id="form-email" name="name" value="" placeholder="john.smith@example.com" class="input-field">
              </div>
              <div class="field-help">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar.</p>
              </div>
            </div>

            <div class="form-field">
              <label for="form-disabled">Disabled input</label>
              <input type="text" id="form-disabled" name="disabled" value="" placeholder="Can't touch this" class="input-field" disabled="disabled">
            </div>

            <div class="form-field">
              <label for="form-select">Select an option</label>
              <select id="form-select" name="select" class="input-field">
                <option>Please select...</option>
                <optgroup label="Numbers">
                  <option value="1">Option 1</option>
                  <option value="2">Option 2</option>
                  <option value="3">Option 3</option>
                </optgroup>
                <optgroup label="Alphabet">
                  <option value="1">Option A</option>
                  <option value="2">Option B</option>
                  <option value="3">Option C</option>
                </optgroup>
              </select>
            </div>

            <div class="form-field">
              <label for="form-message">Your message</label>
              <textarea id="form-message" class="input-field" rows="6">Hello — is it me you're looking for?

Multiline text input using &lt;textarea&gt;</textarea>
            </div>
          </div>

          <div class="col-lg-5 push-lg-2 col-md-5 push-md-2">
            <div class="form-field">
              <ul class="list-block">
                <li><label><input type="checkbox" name="check" value="1" checked> Checked</label></li>
                <li><label><input type="checkbox" name="check" value="0"> Unchecked</label></li>
              </ul>
            </div>

            <div class="form-field">
              <ul class="list-block">
                <li><label><input type="radio" name="radio" value="1" checked> Checked</label></li>
                <li><label><input type="radio" name="radio" value="0"> Unchecked</label></li>
                <li><label><input type="radio" name="radio" value="a"> Extra Unchecked</label></li>
              </ul>
            </div>

            <div class="form-field validation-success">
              <label for="form-success">Validated field</label>
              <div class="input-group">
                <input type="text" id="form-success" name="success" value="Accepted value" placeholder="" class="input-field">
              </div>
            </div>

            <div class="form-field validation-error">
              <label for="form-error">Validated field</label>
              <div class="input-group">
                <input type="email" id="form-error" name="error" value="Incorrect or unaccepted value" placeholder="" class="input-field">
              </div>
            </div>

            <button class="btn-primary"><span class="icon fa-angle-right"></span> Submit Form</button>

          </div>
        </div>
      </form>
    </section>

    <section id="messages" class="page-section">
      <h1>Messages</h1>
      <table id="table-ratings" class="table-chart table-chart-list">
        <thead>
          <th width="20%">Tag/Class</th>
          <th width="80%">Example</th>
        </thead>
        <tbody>
          <tr>
            <td><code>.message</code></td>
            <td>
              <div class="message">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar. <i>Donec sollicitudin</i> dui quis turpis vulputate, nec vulputate diam viverra. <a href="#">Cras posuere</a>, augue a sagittis aliquam, enim diam lacinia orci, <del>dignissim gravida tellus</del>.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td><code>.message-info</code></td>
            <td>
              <div class="message-info">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar. <i>Donec sollicitudin</i> dui quis turpis vulputate, nec vulputate diam viverra. <a href="#">Cras posuere</a>, augue a sagittis aliquam, enim diam lacinia orci, <del>dignissim gravida tellus</del>.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td><code>.message-alert</code></td>
            <td>
              <div class="message-alert">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar. <i>Donec sollicitudin</i> dui quis turpis vulputate, nec vulputate diam viverra. <a href="#">Cras posuere</a>, augue a sagittis aliquam, enim diam lacinia orci, <del>dignissim gravida tellus</del>.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td><code>.message-success</code></td>
            <td>
              <div class="message-success">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar. <i>Donec sollicitudin</i> dui quis turpis vulputate, nec vulputate diam viverra. <a href="#">Cras posuere</a>, augue a sagittis aliquam, enim diam lacinia orci, <del>dignissim gravida tellus</del>.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar.</p>
              </div>
            </td>
          </tr>
          <tr>
            <td><code>.message-error</code></td>
            <td>
              <div class="message-error">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar. <i>Donec sollicitudin</i> dui quis turpis vulputate, nec vulputate diam viverra. <a href="#">Cras posuere</a>, augue a sagittis aliquam, enim diam lacinia orci, <del>dignissim gravida tellus</del>.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet ultricies felis et pulvinar.</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>

    <h1>Pagination</h1>
  </div><!-- /.site-wrap -->

<div class="c-t3 bg-bg2">
  {{ pagination.render({
    pageUrl: '#/page/%index%',
    currentIndex: 7,
    totalItems: 280
  }) }}
</div>

{% endblock siteContent %}
