{# Preter - Guide #}
{% extends 'layouts/_page-single.twig' %}

{# Page data #}
{% set page = {
  id: 'preter-guide',
  title: 'Guide du prêteur',
  permalink: route('preter/guide'),
  classNames: 'page-single-preter'
} %}

{% block extendPageHeader %}
  <nav class="page-navigation">
    <ul>
      <li role="presentation" class="active"><a href="{{ route('preter/guide') }}">Guide du prêteur</a></li>
      <li role="presentation"><a href="{{ route('preter/fiscalite') }}">Fiscalité</a></li>
      <li role="presentation"><a href="{{ route('preter/performance') }}">Performance de vos prêts</a></li>
      <li role="presentation"><a href="{{ route('preter/documents') }}">Documents à fournir</a></li>
      <li role="presentation" class="c-p1"><a href="{{ route('preter/new') }}">Devenir prêteur</a></li>
    </ul>
  </nav>
{% endblock %}

{% block pageContentInner %}
<section class="page-section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h1 class="h4">C'est votre argent,<br/>
            c'est vous qui décidez</h1>
        </header>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Choisissez les projets des entreprises et prêtez leur votre argent. Vous recevrez vos remboursements et vos intérêts mensuellement. Unilend vous offre la possibilité de suivre l’historique de vos opérations, mais également de conserver vos contrats et documents fiscaux. Vous disposez de votre argent quand vous le souhaitez.</p>
        </div>
      </div>
    </div>
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->

<section class="page-section bg-bg3">
  <div class="site-wrap">
    <div class="block-promos row">
      <div class="promo col-lg-4 col-md-4">
        <div class="promo-image">
          {{ svgimage('#promo-saving', '', 190, 190, 'none')  | raw }}
        </div>
        <h3>Percevez vos intérêts</h3>
        <p>Vos prêts vous rapportent des intérêts et sont remboursables mensuellement.</p>
      </div><!-- /.promo -->
      <div class="promo col-lg-4 col-md-4">
        <div class="promo-image">
          {{ svgimage('#promo-verified', '', 190, 190, 'none')  | raw }}
        </div>
        <h3>Contrôlez votre épargne</h3>
        <p>Unilend gère les prêts, contrats, et remboursements entre prêteurs et entreprises.</p>
      </div><!-- /.promo -->
      <div class="promo col-lg-4 col-md-4">
        <div class="promo-image">
          {{ svgimage('#promo-money', '', 190, 190, 'none')  | raw }}
        </div>
        <h3>Ne payez aucun frais</h3>
        <p>Unilend se rémunère auprès des emprunteurs lorsqu’ils réunissent leur financement.</p>
      </div><!-- /.promo -->
    </div>
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->

<section class="page-section">
  <div class="site-wrap">
    <div class="row reverse">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h1 class="h4">Des entreprises<br/>
            sélectionnées pour leur<br/>
            fiabilité financière</h1>
        </header>

        <aside class="block-quote">
          <dl class="list-2col">
            <dt><span class="rating rating-5"><span class="sr-only">Rating of 5</span></span></dt>
            <dd>Excellente solidité financière</dd>
            <dt><span class="rating rating-4-5"><span class="sr-only">Rating of 4.5</span></span></dt>
            <dd>Très forte solidité financière</dd>
            <dt><span class="rating rating-4"><span class="sr-only">Rating of 4</span></span></dt>
            <dd>Forte solidité financière</dd>
            <dt><span class="rating rating-3-5"><span class="sr-only">Rating of 3.5</span></span></dt>
            <dd>Bonne solidité financière</dd>
            <dt><span class="rating rating-3"><span class="sr-only">Rating of 3</span></span></dt>
            <dd>Solidité financière acceptable</dd>
          </dl>
        </aside>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Pour être admises, les entreprises auxquelles vous prêtez votre argent doivent passer deux tests :</p>
          <h4>Le test d’éligibilité</h4>
          <p>Seules les entreprises dont les derniers comptes font état d’un excédent brut d’exploitation et de fonds propres positifs peuvent déposer leur projet sur Unilend. (test effectué en partenariat avec Altares, réseau Dun &amp; Bradstreet, n° 1 mondial de l’information sur les entreprises.)</p>
          <h4>Le comité d’analyse des risques</h4>
          <p>Les entreprises éligibles sont étudiées par le comité d’analyse des risques d’Unilend. Pour bien comprendre l’entreprise, son projet et sa capacité à assumer ses remboursements, le comité s’appuie sur les pièces comptables et s’entretient directement avec ses dirigeants. Pour chaque projet présenté, le comité d’analyse des risques donne une note de confiance de 1 à 5 cercles. Les projets ayant reçu une note inférieure à 3 cercles ne sont pas présentés. Pour délivrer ces notes, le comité se fonde sur 4 critères pondérés selon leur importance :</p>
          <h4><span class="round-number">1</span> La performance financière</h4>
          <p>Qualité de la structure financière, niveau d’endettement, rentabilité, trésorerie disponible et prévisions fournies lors du dépôt de projet</p>
          <h4><span class="round-number">2</span> Le marché de l’entreprise</h4>
          <p>Dynamisme du marché sur lequel évolue l’entreprise et positionnement concurrentiel</p>
          <h4><span class="round-number">3</span> L’équipe dirigeante</h4>
          <p>Expérience des dirigeants et pertinence des outils de pilotage utilisés</p>
          <h4><span class="round-number">4</span> Les appréciations externes</h4>
          <p>Notations fournies par Altares et, le cas échéant, par la Banque de France ou la Coface.</p>
          <p><a href="{{ route('preter/create') }}" class="btn-primary">Devenir prêteur</a></p>
        </div><!-- /.content -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h1 class="h4">Fixez le meilleur taux, faites fructifier votre épargne</h1>
        </header>

        <aside class="block-testimonial">
          <div class="block-testimonial-image">
            <img src="{{ siteurlmedia('promos/homeacq-promo-preter-600x400.jpg') }}" alt="" />
          </div>
          <div class="block-testimonial-quote">
            <div class="quote">
              <p>&quot;Depuis que je prête sur Unilend, je sais à quoi sert mon épargne.&quot;</p>
            </div>
            <div class="credit">
              <cite class="credit">Julie, 36 ans</cite>
            </div>
          </div>
        </aside>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Prêter sur Unilend c’est faire fructifier son épargne en soutenant les petites et moyennes entreprises françaises. C'est utile, bien sûr, mais cela doit aussi vous rapporter de l'argent. Le taux d’intérêt annuel que vous fixez doit prendre en compte :</p>
          <ul>
            <li>L’inflation : C’est la perte de la valeur de la monnaie à travers le temps.</li>
            <li>Les impôts :  Vos gains sont taxés comme tous les placements ne bénéficiant pas de niches fiscales. En revanche, si vous êtes un particulier vous pouvez bénéficier, sous certaines conditions, de la déductibilité de vos éventuelles pertes en capital.<br/>
              <a href="#todo" class="link">En savoir plus</a></li>
            <li>Le risque d’impayé : Même si les projets sont rigoureusement sélectionnés, il est prpobable que certaines entreprises ne vous remboursent pas totalement. Pensez donc à diversifier vos prêts.
            <li>L'indisponibilité de votre argent : Quand vous prêtez votre argent, l’entreprise vous rembourse chaque mois une partie de la somme. Vous ne récupérez pas votre argent entièrement avant la fin du prêt. Ne prêtez donc que l'argent dont vous n'avez pas besoin immédiatement.</li>
          </ul>
          <blockquote>
            <p>Chacun fixe librement son taux d'intérêt. Les intérêts et le capital vous seront ensuite remboursés chaque mois pendant toute la durée du prêt.</p>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row reverse">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h1 class="h4">Répartissez vos prêts sur un maximum de projets</h1>
        </header>

        <aside class="block-image">
          <a href="{{ siteurlmedia('pages/preter-guide/chart-tauxderendementinterne.png') }}" class="fancybox">
            <img src="{{ siteurlmedia('pages/preter-guide/chart-tauxderendementinterne.png') }}" alt="" />
          </a>
        </aside>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Même si Unilend s'adresse à des entreprises saines, il existe toujours un risque d’impayé. C’est pourquoi il est vraiment conseillé de ne pas mettre tous vos oeufs dans le même panier : répartissez vos prêts sur un maximum d’entreprises, et ne prêtez pas plus d’argent aux gros projets qu’aux petits.</p>
          <blockquote>
            <p>Vous pouvez prêter à partir de 20 euros par entreprise : profitez-en pour multiplier vos prêts !</p>
          </blockquote>
          <p>Dans un souci de totale transparence, Unilend publie sur la page statistiques les informations suivantes :</p>
          <ul>
            <li>Le nombre de projets présentant un ou des impayés. Un projet avec impayé est un projet avec une ou plusieurs mensualités en retard. Ce nombre peut fluctuer puisqu’une entreprise peut régulariser un impayé.</li>
            <li>Le nombre de projets ayant fait défaut (lorsqu'une entreprise ne rembourse pas et ne sera plus en mesure de le faire).</li>
          </ul>
          <p><a href="{{ route('user/preter/dashboard') }}" class="link">Accéder à la page Statistiques</a></p>
          <p><a href="{{ route('preter/new') }}" class="btn-primary">Devenir prêteur</a></p>
        </div>
      </div>
    </div>
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->
{% endblock %}

{% block pageFooter %}
<footer class="page-footer">
  <div  class="page-navigate-next-page" style="background-image: url('{{ siteurlmedia('pages/preter-guide/page-footer.jpg') }}');">
    <a href="{{ route('preter/fiscalite') }}">
      <div class="site-wrap">
        <div class="label">
          <div class="small">Lire la suite</div>
          <div class="big">Fiscalite</div>
        </div>
      </div><!-- /.site-wrap -->
    </a>
  </div><!-- /.page-navigate-next-page -->
</footer><!-- /.page-footer -->
{% endblock %}
