{# Site Map / Plan du Page #}
{% extends 'layouts/_page-simple.twig' %}

{# Page information #}
{% set page = {
  id: 'page-sitemap',
  title: 'Plan du page',
  permalink: route('sitemap')
} %}

{% block pageAsideBody %}
  <div class="page-aside-body hide-xs hide-sm">
    <img src="{{ siteurlmedia('sitemap/icon-sitemap.png') }}" alt="">
  </div><!-- /.page-aside-body -->
{% endblock %}

{% block pageContentBody %}
  <section class="page-section">
    <h2><a href="{{ route('/') }}" class="link">Home</a></h2>

    <h2><a href="{{ route('preter') }}" class="link">Prêter</a></h2>
    <ul class="list-links">
      <li><a href="{{ route('preter/guide') }}">Guide du prêteur</a></li>
      <li><a href="{{ route('preter/fiscalite') }}">Fiscalité</a></li>
      <li><a href="{{ route('user/preter/dashboard') }}">Performance de vos prêts</a></li>
      <li><a href="{{ route('preter/documents') }}">Documents à fournir</a></li>
      <li><a href="{{ route('preter/new') }}">Devenir prêteur</a></li>
    </ul>

    <h2><a href="{{ route('emprunter') }}" class="link">Emprunter</a></h2>
    <ul class="list-links">
      <li><a href="{{ route('emprunter/guide') }}">Guide du prêteur</a></li>
      <li><a href="{{ route('user/emprunter/dashboard') }}">Optimiser sa campagne</a></li>
      <li><a href="{{ route('emprunter/testimonials') }}">Témoignages</a></li>
      <li><a href="{{ route('emprunter/documents') }}">Documents à fournir</a></li>
      <li><a href="{{ route('emprunter/new') }}">Présenter un projet</a></li>
    </ul>

    <h2><a href="{{ route('projets') }}" class="link">Projets</a></h2>

    <h2><a href="{{ route('apropos') }}" class="link">À propos</a></h2>
    <ul class="list-links">
      <li><a href="{{ route('about/who') }}">Qui sommes nous&nbsp;?</a></li>
      <li><a href="{{ route('about/how') }}">Comment ça marche&nbsp;?</a></li>
      <li><a href="{{ route('about/ethics') }}">Charte de déontologie</a></li>
      <li><a href="{{ route('about/statistics') }}">Statistiques</a></li>
    </ul>

    <h2><a href="{{ route('user/new') }}" class="link">Connexion / Inscription</a></h2>
    <ul class="list-links">
      <li><a href="{{ route('user/forgotpassword') }}">Mot de passe oublié</a></li>
    </ul>

    <ul class="list-links">
      <li><a href="{{ route('contact') }}">Nous contacter</a></li>
      <li><a href="{{ route('recrutement') }}">Recrutement</a></li>
      <li><a href="{{ route('presse') }}">Presse</a></li>
      <li><a href="{{ route('securite') }}">Sécurité</a></li>
      <li><a href="{{ route('legal') }}">Mentions Légales</a></li>
      <li><a href="{{ route('error') }}">Error</a></li>
    </ul>
  </section><!-- /.page-section -->
{% endblock %}
