{# Testing page #}
{% extends 'layouts/_layout.twig' %}

{% set page = {
  title: 'Testing',
  permalink: siteurl('test.html')
} %}

{% block siteContent %}

<div class="site-wrap">
  <section class="page-section">
    <h2>Category</h2>
    {{ svgimage('#category-agriculture', 'Agriculture', 150, 150) }}
    {{ svgimage('#category-autre', 'Autre', 150, 150) }}
    {{ svgimage('#category-commerce', 'Commerce', 150, 150) }}
    {{ svgimage('#category-communication', 'Communication', 150, 150) }}
    {{ svgimage('#category-construction', 'Construction', 150, 150) }}
    {{ svgimage('#category-consultation', 'Consultation', 150, 150) }}
    {{ svgimage('#category-health', 'Health', 150, 150) }}
    {{ svgimage('#category-hotellerie', 'Hotellerie', 150, 150) }}
    {{ svgimage('#category-industrie', 'Industry', 150, 150) }}
    {{ svgimage('#category-it', 'Information Technology', 150, 150) }}
    {{ svgimage('#category-media', 'Media', 150, 150) }}
    {{ svgimage('#category-medical', 'Medical', 150, 150) }}
    {{ svgimage('#category-restauration', 'Hospitality', 150, 150) }}
    {{ svgimage('#category-textile', 'Fashion', 150, 150) }}
    {{ svgimage('#category-transport', 'Transport', 150, 150) }}
  </section>

  <section class="page-section">
    <h2>Promo</h2>
    {{ svgimage('#promo-balance', 'Balance', 150, 150) }}
    {{ svgimage('#promo-calendarweek', 'Calendar Week', 150, 150) }}
    {{ svgimage('#promo-clock', 'Clock', 150, 150) }}
    {{ svgimage('#promo-info', 'Info', 150, 150) }}
    {{ svgimage('#promo-linechart', 'Line Chart', 150, 150) }}
    {{ svgimage('#promo-money', 'Money', 150, 150) }}
    {{ svgimage('#promo-people', 'People', 150, 150) }}
    {{ svgimage('#promo-piggybank', 'Piggy Bank', 150, 150) }}
    {{ svgimage('#promo-profile', 'Profile', 150, 150) }}
    {{ svgimage('#promo-projects', 'Projects', 150, 150) }}
    {{ svgimage('#promo-protection', 'Protection', 150, 150) }}
    {{ svgimage('#promo-saving', 'Saving', 150, 150) }}
    {{ svgimage('#promo-transparancy', 'Transparency', 150, 150) }}
    {{ svgimage('#promo-verified', 'Verified', 150, 150) }}
  </section>

  <section class="page-section">
    <h2>Layering</h2>
    {{ svgimage(['#promo-verified', '#category-agriculture'], 'Example 1', 150, 150) }}
  </section>

  <section class="page-section">
    <h2>Custom Styling</h2>
    {{ svgimage(['#promo-piggybank', '#promo-money', '#promo-balance'], 'Example 2', 200, 200) }}
    <style type="text/css">
    .svg-icon.svg-file-promo-piggybank.svg-file-promo-money .svg-file-promo-money {
      color: red;
    }
    </style>
  </section>
</div>

{% endblock %}
