{% set stats = getStatistics() %}
{# Basic Page Layout #}
{% set bodyClassNames = '' %}

<!DOCTYPE html>
<!--[if lt IE 9]><html lang="{{ app.request.locale }}" class="lt-ie9 no-js"><![endif]-->
<!--[if IE 9]><html lang="{{ app.request.locale }}" class="ie9 no-js"><![endif]-->
<!--[if gt IE 9]><!--><html lang="{{ app.request.locale }}" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title is defined %}{{ page.title }} — {% endif %}{{ site.title|default('Unilend') }}</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin:400,700,400" media="all">
    <!-- @todo Canonical -->
    <!-- @todo OpenGraph and Twitter meta tags will go here -->

    {% block extendMeta %}
    <!-- @todo pages can overwrite this block to inject meta tags per page -->
    {% endblock %}

    {% block cssDependencies %}
        {# Mapbox #}
        <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet" />
        <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css" rel="stylesheet" />
        <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css" rel="stylesheet" />
    {% endblock %}

    <!-- CSS Site -->
    {% block cssFiles %}
        {#{% stylesheets
            'bundles/unilendfront/fonts/style.css'
            'bundles/unilendfront/css/*.css'
            'bundles/unilendfront/js/vendor/videojs/video-js.min.css'
            'bundles/unilendfront/js/vendor/videojs/video-js.min.css'
            'bundles/unilendfront/js/vendor/swiper/css/swiper.min.css'
            'bundles/unilendfront/js/vendor/fancybox/css/jquery.fancybox.css'
            'bundles/unilendfront/js/vendor/jquery-ui/themes/base/minified/jquery-ui.min.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}#}
        <link rel="stylesheet" href="/bundles/unilendfront/fonts/style.css" />
        <link rel="stylesheet" href="/bundles/unilendfront/css/ie.css" />
        <link rel="stylesheet" href="/bundles/unilendfront/css/print.css" />
        <link rel="stylesheet" href="/bundles/unilendfront/css/screen.css" />
        <link rel="stylesheet" href="/bundles/unilendfront/js/vendor/videojs/video-js.min.css" />
        <link rel="stylesheet" href="/bundles/unilendfront/js/vendor/videojs/video-js.min.css" />
        <link rel="stylesheet" href="/bundles/unilendfront/js/vendor/swiper/css/swiper.min.css" />
        <link rel="stylesheet" href="/bundles/unilendfront/js/vendor/fancybox/css/jquery.fancybox.css" />
        <link rel="stylesheet" href="/bundles/unilendfront/js/vendor/jquery-ui/themes/base/minified/jquery-ui.min.css" />
    {% endblock %}

    <!-- JS -->
    <script type="text/javascript">
      {#var site = JSON.parse('{{ site|json_encode|escape('js') }}')#}
    </script>

    {% block extendHead %}{% endblock %}
</head>
  <body id="{{ bodyId }}" class="{% if app.user is defined %}ui-user-level-{{ userProfile.level|default(1) }}{% endif %}{% if bodyClassNames is defined %} {{ bodyClassNames }}{% endif %}">

<div id="top" class="site">
    {% block siteHeader %}
        {% if app.user is defined and is_granted('ROLE_LENDER') %}
            {% include 'partials/site/header-dashboard.html.twig' %}
        {% elseif app.user is defined and is_granted('ROLE_BORROWER') %}
            {# TODO : add borrower header once DEV-768 done #}
        {% else %}
            {% include 'partials/site/header.html.twig' %}
        {%  endif %}
    {% endblock %}

    <div class="site-content">
        {% block siteContent %}
            {% include 'partials/site/not-found.twig' %}
        {% endblock %}
    </div>

    {% if not app.request.cookies.has('acceptCookies') %}
        {% block siteCookie %}
            {% include 'partials/site/cookie-box.html.twig' %}
        {% endblock %}
    {% endif %}

    {% block siteFooter %}
        {{ render_esi(controller('UnilendFrontBundle:Main:footer')) }}
    {% endblock %}
</div>

{% block debug %}
    {{ app.environment }}
    {% if app.environment == 'dev' %}
        <div class="debug" aria-hidden="true">
            <div>
        <span class="show-mobile-inline">
          <code>mobile</code>
          <span class="show-mobile-p-inline"><code>mobile-p</code></span>
          <span class="show-mobile-l-inline"><code>mobile-l</code></span>
        </span>
        <span class="show-tablet-inline">
          <code>tablet</code>
          <span class="show-tablet-p-inline"><code>tablet-p</code></span>
          <span class="show-tablet-l-inline"><code>tablet-l</code></span>
        </span>
        <span class="show-computer-inline">
          <code>computer</code>
          <span class="show-laptop-inline"><code>laptop</code></span>
          <span class="show-desktop-inline"><code>desktop</code></span>
        </span>
                <span class="show-lg-inline"><code>lg</code></span>
                <span class="show-md-inline"><code>md</code></span>
                <span class="show-sm-inline"><code>sm</code></span>
                <span class="show-xs-inline"><code>xs</code></span>
            </div>
            <div class="breakpoint-visualiser">
                <div style="position: relative; border-top: solid 1px #000;">
                    <div class="width-desktop"></div>
                    <div class="bpv-wrap">
                        <div class="width-laptop"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-tablet-l"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-tablet-p"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-mobile-l"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-mobile-p"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="hero-wrap" title=".hero-wrap"></div>
                    </div>
                </div>
                <div style="position: relative; border-top: solid 1px #000;">
                    <div class="width-lg"></div>
                    <div class="bpv-wrap">
                        <div class="width-md"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-sm"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-xs"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="site-wrap" title=".site-wrap"></div>
                    </div>
                </div>
            </div><!-- /.breakpoint-visualiser -->
        </div><!-- /.debug -->
    {% endif %}
{% endblock %}
<script type="text/javascript" src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
<script type="text/javascript" src="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
{% javascripts
    'bundles/unilendfront/js/*' %}

<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% block extendFoot %}
{% endblock %}

</body>
</html>
