{% extends 'layouts/_layout.html.twig' %}

{% block siteHeader %}
    {% include 'partials/site/connected_header_lender.html.twig' %}
{% endblock %}

{% block siteContent %}
    <article{% if page.id is not empty %} id="{{ page.id }}"{% endif %} class="dashboard{% if page.classNames is not empty %} {{ page.classNames }}{% endif %}">
        <div class="dashboard-inner">
            <div class="site-wrap">
                <div class="col-menu">
                    <nav class="dashboard-nav">
                        {% block dashboardNav %}
                            <ul>
                                <li role="presentation" class="dashboard-nav-dashboard {% if app.request.attributes.get('_route') == 'lender_dashboard' %}active{% else %}complete{% endif %}">
                                    <a href="{{ path('lender_dashboard') }}">
                                        <span class="icon fa-dashboard-u"></span>
                                        <span class="label">{% trans %} lender-dashboard-navigation_dashboard-link {% endtrans %}</span>
                                    </a>
                                </li>
                                <li role="presentation" class="dashboard-nav-balance {% if app.request.attributes.get('_route') in ['lender_wallet_deposit', 'lender_wallet_withdrawal'] %}active{% else %}complete{% endif %}">
                                    <a href="{{ path('lender_wallet_deposit') }}">
                                        <span class="icon fa-money-u32"></span>
                                        <span class="label">{% trans %} lender-dashboard-navigation_wallet-link {% endtrans %}</span></a>
                                </li>
                                <li role="presentation" class="dashboard-nav-projects {% if app.request.attributes.get('_route') == 'lender_projects' %}active{% else %}complete{% endif %}">
                                    <a href="{{ path('lender_projects') }}">
                                        <span class="icon fa-project-u"></span>
                                        <span class="label">{% trans %} lender-dashboard-navigation_projects-link {% endtrans %}</span></a>
                                </li>
                                <li role="presentation" class="dashboard-nav-operations {% if app.request.attributes.get('_route') == 'lender_operations' %}active{% else %}complete{% endif %}">
                                    <a href="{{ path('lender_operations') }}">
                                        <span class="icon fa-operations-u"></span>
                                        <span class="label">{% trans %} lender-dashboard-navigation_operations-link {% endtrans %}</span>
                                    </a>
                                </li>
                                <li role="presentation" class="dashboard-nav-profile {% if app.request.attributes.get('_route') == 'lender_profile' %}active{% else %}complete{% endif %}">
                                    <a href="{{ path('lender_profile') }}">
                                        <span class="icon fa-profile-u"></span>
                                        <span class="label">{% trans %} lender-dashboard-navigation_profile-link {% endtrans %}</span>
                                    </a>
                                </li>
                                {% if app.user.getClientStatus() == constant('\\clients_status::VALIDATED') %}
                                <li role="presentation" class="dashboard-nav-autolend {% if app.request.attributes.get('_route') == 'autolend' %}active{% else %}complete{% endif %}">
                                    <a href="{{ path('autolend') }}">
                                        <span class="icon fa-autolend-u"></span>
                                        <span class="label">{% trans %} lender-dashboard-navigation_autolend-link {% endtrans %}</span>
                                    </a>
                                </li>
                                {%  endif %}
                            </ul>
                        {% endblock %}
                    </nav>

                    {% block dashboardNotifications %}
                        {% include 'partials/components/dashboard-panel-notifications.twig' %}
                    {% endblock %}
                </div><!-- /.col-menu -->

                <div class="col-content dashboard-content">
                    <div class="dashboard-messages">
                        {% if 'common-lender_general-message-lender-account'|trans|trim is not empty %}
                            <div class="message-info">
                                <p>{% trans %} common-lender_general-message-lender-account {% endtrans %} </p>
                                <a href="javascript:;" class="btn-close ui-dismiss"><span class="sr-only">{% trans %} common-lender_general-message-dismiss-button {% endtrans %}</span></a>
                            </div>
                        {% endif %}
                    </div>

                    {% block dashboardContent %} {% endblock %}
                </div><!-- /.col-content -->
            </div><!-- /.site-wrap -->
        </div><!-- /.dashboard-inner -->
    </article><!-- /.dashboard -->
{% endblock %}
