{# Basic Page Layout #}
{% set bodyClassNames = '' %}

<!DOCTYPE html>
<!--[if lt IE 9]><html lang="{{ app.request.locale }}" class="lt-ie9 no-js"><![endif]-->
<!--[if IE 9]><html lang="{{ app.request.locale }}" class="ie9 no-js"><![endif]-->
<!--[if gt IE 9]><!--><html lang="{{ app.request.locale }}" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.isIndexable is defined and not page.isIndexable %}
        <meta name="robots" content="noindex">
    {% endif %}
    <title>{% if page.title is defined %}{{ page.title }} — {% endif %}{{ site.title|default('Unilend') }}</title>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cabin:400,700,400" media="all">
    <!-- @todo Canonical -->
    <!-- @todo OpenGraph and Twitter meta tags will go here -->

    {% block extendMeta %}
    <!-- @todo pages can overwrite this block to inject meta tags per page -->
    {% endblock %}

    {% block cssDependencies %}
        {# Mapbox #}
        <link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet" />
        <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css" rel="stylesheet" />
        <link href="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css" rel="stylesheet" />
    {% endblock %}

    <!-- CSS Site -->
    {% block cssFiles %}
        <link rel="stylesheet" href="{{ asset('js/vendor/videojs/video-js.min.css', 'gulp') }}" />
        <link rel="stylesheet" href="{{ asset('js/vendor/swiper/css/swiper.min.css', 'gulp') }}" />
        <link rel="stylesheet" href="{{ asset('js/vendor/fancybox/css/jquery.fancybox.css', 'gulp') }}" />
        <link rel="stylesheet" href="{{ asset('js/vendor/jquery-ui/themes/base/minified/jquery-ui.min.css', 'gulp') }}" />
        <link rel="stylesheet" href="{{ asset('fonts/style.css', 'gulp') }}" />
        <link rel="stylesheet" href="{{ asset('css/main.css', 'gulp') }}" />
    {% endblock %}

    <!-- JS -->
    <script type="text/javascript">
      {#var site = JSON.parse('{{ site|json_encode|escape('js') }}')#}
    </script>

    {% block extendHead %}
    {% endblock %}
</head>
  <body class="{% if app.user is defined %}ui-user-level-{{ app.user.level|default(1) }}{% endif %}{% if bodyClassNames is defined %} {{ bodyClassNames }}{% endif %}">

<div id="top" class="site">
    {% block siteHeader %}
        {% if app.user is defined and is_granted('ROLE_LENDER') %}
            {% include 'partials/site/header-dashboard.html.twig' %}
        {% elseif app.user is defined and is_granted('ROLE_BORROWER') %}
            {% include 'borrower_account/_header_dashboard.html.twig' %}
        {% else %}
            {% include 'partials/site/header.html.twig' %}
        {%  endif %}
    {% endblock %}

    <div class="site-content">
        {% block siteContent %}
            {% include 'partials/site/not-found.twig' %}
        {% endblock %}
    </div>

    {% if not app.request.cookies.has('acceptCookies') %}
        {% block siteCookie %}
            {% include 'partials/site/cookie-box.html.twig' %}
        {% endblock %}
    {% endif %}

    {% block siteFooter %}
        {{ render_esi(controller('UnilendFrontBundle:Main:footer')) }}
    {% endblock %}
</div>

{% block debug %}
    {% if app.environment == 'dev' %}
        <div class="debug" aria-hidden="true">
            <div>
        <span class="show-mobile-inline">
          <code>mobile</code>
          <span class="show-mobile-p-inline"><code>mobile-p</code></span>
          <span class="show-mobile-l-inline"><code>mobile-l</code></span>
        </span>
        <span class="show-tablet-inline">
          <code>tablet</code>
          <span class="show-tablet-p-inline"><code>tablet-p</code></span>
          <span class="show-tablet-l-inline"><code>tablet-l</code></span>
        </span>
        <span class="show-computer-inline">
          <code>computer</code>
          <span class="show-laptop-inline"><code>laptop</code></span>
          <span class="show-desktop-inline"><code>desktop</code></span>
        </span>
                <span class="show-lg-inline"><code>lg</code></span>
                <span class="show-md-inline"><code>md</code></span>
                <span class="show-sm-inline"><code>sm</code></span>
                <span class="show-xs-inline"><code>xs</code></span>
            </div>
            <div class="breakpoint-visualiser">
                <div style="position: relative; border-top: solid 1px #000;">
                    <div class="width-desktop"></div>
                    <div class="bpv-wrap">
                        <div class="width-laptop"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-tablet-l"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-tablet-p"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-mobile-l"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-mobile-p"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="hero-wrap" title=".hero-wrap"></div>
                    </div>
                </div>
                <div style="position: relative; border-top: solid 1px #000;">
                    <div class="width-lg"></div>
                    <div class="bpv-wrap">
                        <div class="width-md"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-sm"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="width-xs"></div>
                    </div>
                    <div class="bpv-wrap">
                        <div class="site-wrap" title=".site-wrap"></div>
                    </div>
                </div>
            </div><!-- /.breakpoint-visualiser -->
        </div><!-- /.debug -->
    {% endif %}
{% endblock %}

<div class="modal-spinner">
    <div id="floatingCirclesG">
        <div class="f_circleG" id="frotateG_01"></div>
        <div class="f_circleG" id="frotateG_02"></div>
        <div class="f_circleG" id="frotateG_03"></div>
        <div class="f_circleG" id="frotateG_04"></div>
        <div class="f_circleG" id="frotateG_05"></div>
        <div class="f_circleG" id="frotateG_06"></div>
        <div class="f_circleG" id="frotateG_07"></div>
        <div class="f_circleG" id="frotateG_08"></div>
    </div>
</div>

<div rel="templates" style="display:none">
    {% block modals %}
        {# Place page-specific modals in this block and then use the `data-modal-toggle="#modal-id"` attribute on the anchor/button element you want to use to show it,
           e.g. <a href="javascript:;" data-modal-toggle="#modal-tos">Open the TOS model</a> #}
    {% endblock %}

    {# DEV-860 Lightbox when changing TOS #}
    {# @TODO add in backend condition to show TOS change #}
    {% set showUpdatedTOS = false %}
    {% if showUpdatedTOS == true %}
    <div id="modal-tos" data-modal data-modal-openonload="true">
        <form id="form-tos" method="post">

            <header class="modal-header">
                <h2 class="modal-title">{% trans %} Mise à jour des Conditions Générales de Vente {% endtrans %}</h2>
            </header><!-- /.modal-header -->

            <div class="modal-body">
                <p class="c-t2">Our Terms of Service have recently updated. Please read over our new Terms of Service and indicate below whether you will continue to use Unilend.</p>
                <hr />
                <div class="row">
                    <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar feugiat pharetra. In cursus mollis dolor, in fermentum nibh maximus nec. Fusce a massa et lacus suscipit efficitur vitae vitae metus. Integer ac nunc vel leo accumsan mattis id at turpis. Praesent varius aliquet felis, dictum venenatis velit. Fusce nec lacinia enim. Sed in felis sit amet quam posuere interdum. Duis rutrum sapien id augue commodo cursus. Cras non nisi posuere, efficitur nibh nec, sollicitudin ligula. Donec consequat dui ipsum, et accumsan orci mattis nec.</p>
                    <p>Etiam in erat imperdiet, malesuada ex in, pulvinar neque. Etiam egestas diam in dui finibus eleifend. Proin pharetra posuere lectus eget fringilla. Praesent non fringilla mi. Pellentesque volutpat a tortor vitae fringilla. In placerat dui ut ante tincidunt, non auctor sem rhoncus. Quisque suscipit, ex et convallis placerat, purus nulla ornare neque, eu hendrerit dui orci non purus. Proin quis tellus blandit, consequat lectus eget, ultricies neque. Curabitur vel velit blandit dolor egestas tincidunt. Donec in arcu id tortor tincidunt ornare vel nec lectus. Integer fermentum ullamcorper arcu, eu porta lorem mattis non.</p>
                    <h3>Class aptent taciti sociosqu ad litora torquent per conubia</h3>
                    <p>Sed quis tortor magna. Phasellus rutrum felis vitae sollicitudin consequat. Sed porta sapien turpis, nec ullamcorper diam blandit et. Ut nec lacinia ex, ut porttitor massa. Duis eu nisi imperdiet, lobortis tortor eu, lobortis urna. Maecenas posuere, ante vitae euismod finibus, magna augue aliquet sem, non bibendum lectus odio a urna. Proin ornare nunc in venenatis consectetur. Etiam gravida ante non arcu feugiat iaculis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam laoreet neque eget dictum dictum. Aenean bibendum tellus in feugiat porta. Aenean tristique, dui eget commodo volutpat, sapien metus ultricies tellus, non commodo massa nulla sed lectus. Aliquam ut arcu eu nisl rhoncus lobortis.</p>
                    <p>Duis luctus et mi sit amet mollis. Ut et mi quis libero consequat molestie. Curabitur molestie magna mauris, in pretium enim pharetra sed. Donec a ultrices est. Curabitur convallis velit eget ex imperdiet, sit amet laoreet tortor sollicitudin. Maecenas ex purus, posuere non nisl et, malesuada scelerisque mi. Nam erat ligula, sollicitudin quis mi sit amet, vestibulum convallis nibh. Nulla facilisi. Nulla ac pretium sem, at rutrum est. Suspendisse nec sem iaculis risus faucibus tincidunt lacinia sed est. Nunc at eros facilisis, sollicitudin lectus a, iaculis orci. Nunc id volutpat arcu.</p>
                    <h3>Aenean aliquet, enim eget dictum blandit</h3>
                    <p>Nunc congue, risus ut ornare auctor, justo sem tristique massa, nec faucibus purus sem egestas ipsum. Aliquam blandit, elit in viverra lobortis, justo purus luctus justo, non semper quam nulla ac ex. Donec non neque odio. Sed congue ullamcorper quam et fermentum. Aenean aliquet, enim eget dictum blandit, ex sapien faucibus urna, ut blandit orci ante quis sem. Phasellus ac tortor arcu. Cras sit amet interdum arcu. Phasellus rhoncus fermentum lacus sed ultricies. Curabitur leo massa, dapibus sed metus quis, fermentum tincidunt augue.</p>
                </div>
                <hr />
            </div><!-- /.modal-body -->

            <footer class="modal-footer">
                <div id="accept-tos" class="form-field form-field-single-checkbox">
                    <label>
                        <input type="checkbox" name="terms" value="true" checked="checked">
                        <span class="label">{% trans %} Je certifie avoir pris connaissance et accepter expressément les conditions générales d’utilisation du site internet et les conditions générales de vente d'Unilend, y compris ses annexes {% endtrans %}</span>
                    </label>
                </div>
                <input type="hidden" name="id_legal_doc" value="474" />
                <a href="javascript:;" class="btn-default btn-shape-md" data-modal-doactionclose>{% trans %} Cancel {% endtrans %}</a>
                <button type="submit" class="btn-primary btn-shape-md" data-modal-doactionconfirm>{% trans %} Valider {% endtrans %}<span class="icon fa-angle-r"></span></button>
            </footer><!-- /.modal-footer -->

        </form><!-- /#form-tos -->
    </div><!-- /#modal-tos -->
    {% endif %}

</div>

<script type="text/javascript">
    // Translations for JS modules
    var UTILITY_LANG = JSON.parse('{{ dictionary('utility')|json_encode|escape('js')|raw }}');
    var AUTOCOMPLETE_LANG = JSON.parse('{{ dictionary('auto-complete')|json_encode|escape('js')|raw }}');
    var FORMVALIDATION_LANG = JSON.parse('{{ dictionary('form-validation')|json_encode|escape('js')|raw }}');
    var PASSWORDCHECK_LANG = JSON.parse('{{ dictionary('password-check')|json_encode|escape('js')|raw }}');
    var SORTABLE_LANG = JSON.parse('{{ dictionary('sortable')|json_encode|escape('js')|raw }}');
    var AUTOLENDTABLE_LANG = JSON.parse('{{ dictionary('autolend-table')|json_encode|escape('js')|raw }}');
    var FILEATTACH_LANG = JSON.parse('{{ dictionary('file-attach')|json_encode|escape('js')|raw }}');
</script>

<script type="text/javascript" src="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js"></script>
<script type="text/javascript" src="https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
<script type="text/javascript" src="{{ asset('js/dependencies.js', 'gulp') }}"></script>
<script type="text/javascript" src="{{ asset('js/main.js', 'gulp') }}"></script>


{% block extendFoot %}
{% endblock %}
</body>
</html>
