{# Inscription / Connexion Page #}
{% extends 'layouts/_layout.html.twig' %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
title: 'Inscription / Connexion',
permalink: route('user/access')
} %}

{% block siteContent %}
    <article id="connexion-inscription" class="page">
        <header class="page-header">
            <div class="site-wrap">
                <h1>Connexion / Inscription</h1>
            </div><!-- /.site-wrap -->
        </header><!-- /.page-header -->
        <section class="page-content">
            <div class="hero-wrap">
                <div class="site-wrap">
                    <div class="row">

                        <div class="col-connect col-lg-4 col-md-4">
                            <h2 class="h3 text-align-left">{% trans %} connect-subscribe-page_login-box-title {% endtrans %}</h2>
                            <form action="{{ path('login-check') }}" method="post" class="form-connect" {# data-formvalidation data-formvalidation-notificationselem="#form-connect-notifications" #}>
                                <div class="panel panel-connect">
                                    {% if error %}
                                    <div id="form-connect-notifications">
                                        {{ "connect-subscribe-page_login-box-error-message-#{ error.message }" | trans }}
                                    </div>
                                    {% endif %}
                                    <div class="panel-inner" data-equal-height="md lg">
                                        <div class="form-field">
                                            <label for="connect-access-email">{% trans %} connect-subscribe-page_login-box-email-field-label {% endtrans %}</label>
                                            <div class="input-group set-left">
                                                <div class="btn-group">
                                                    <label for="connect-access-email"><span class="icon fa-envelope-o"></span></label>
                                                </div>
                                                <input type="text" id="connect-access-email" name="_username" value="" class="input-field" {# name="access[email]" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="email" #}>
                                                {# <ul class="ui-formvalidation-messages"></ul> #}
                                            </div><!-- /.input-group -->
                                        </div><!-- /.form-field -->

                                        <div class="form-field">
                                            <label for="connect-access-password">{% trans %} connect-subscribe-page_login-box-password-field-label {% endtrans %}</label>
                                            <div class="input-group set-left">
                                                <div class="btn-group">
                                                    <label for="connect-access-password"><span class="icon fa-lock"></span></label>
                                                </div>
                                                <input type="password" id="connect-access-password" name="_password" value="" class="input-field" {# name="access[password]" data-formvalidation-input data-formvalidation-required="true" #}>
                                                {# <ul class="ui-formvalidation-messages"></ul> #}
                                            </div><!-- /.input-group -->
                                            <div class="field-help">
                                                <p>
                                                    <a href="{{ route('user/forgotpassword') }}" class="link">{% trans %} connect-subscribe-page_login-box-password-forgotten-link {% endtrans %}</a>
                                                </p>
                                            </div>
                                        </div><!-- /.form-field -->
                                    </div><!-- /.panel-inner -->
                                    <div class="btn-controls">
                                        <button type="submit" class="btn-primary">{% trans %} connect-subscribe-page_login-box-connect-button {% endtrans %}</button>
                                    </div>
                                </div><!-- /.panel -->
                            </form><!-- /.form-connect -->
                        </div><!-- /.col-connect -->

                        <div class="col-register col-lg-8 col-md-8">
                            <h2 class="h3 text-align-left">{% trans %} connect-subscribe-page_subscribe-box-title {% endtrans %}</h2>
                            <div class="row">
                                <div class="col-emprunter col-lg-6 col-md-6">
                                    <div class="panel panel-emprunter">
                                        <div class="panel-inner" data-equal-height="md lg">
                                            <h3>{% trans %} connect-subscribe-page_subscribe-box-borrower-title {% endtrans %}</h3>
                                            <p>{% trans %} connect-subscribe-page_subscribe-box-borrower-text {% endtrans %}</p>
                                            <p><a href="{{ route('emprunter') }}" class="link">{% trans %} connect-subscribe-page_subscribe-box-borrower-more-link {% endtrans %}</a></p>
                                        </div><!-- /.panel-inner -->
                                        <div class="btn-controls">
                                            <a href="{{ path('project_request_step_1') }}" class="btn-alternate">{% trans %} connect-subscribe-page_subscribe-box-borrower-button {% endtrans %}</a>
                                        </div>
                                    </div><!-- /.panel -->
                                </div>
                                <div class="col-preter col-lg-6 col-md-6">
                                    <div class="panel panel-preter">
                                        <div class="panel-inner" data-equal-height="md lg">
                                            <h3>{% trans %} connect-subscribe-page_subscribe-box-lender-title {% endtrans %}</h3>
                                            <p>{% trans %} connect-subscribe-page_subscribe-box-lender-text {% endtrans %}</p>
                                            <p><a href="{{ route('preter') }}" class="link">{% trans %} connect-subscribe-page_subscribe-box-lender-more-link {% endtrans %}</a></p>
                                        </div><!-- /.panel-inner -->
                                        <div class="btn-controls">
                                            <a href="{{ route('preter/new') }}" class="btn-primary">{% trans %} connect-subscribe-page_subscribe-box-lender-button {% endtrans %}</a>
                                        </div>
                                    </div><!-- /.panel -->
                                </div>
                            </div>
                        </div><!-- /.col-register -->
                    </div>
                </div><!-- /.site-wrap -->

                {% include 'partials/components/list-socialmedia.html.twig' %}
            </div><!-- /.hero-wrap -->
        </section><!-- /.page-content -->

    </article><!-- /.page -->
{% endblock %}
