{# Preter - Fiscalite #}
{% extends 'layouts/_page-single.twig' %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
  id: 'preter-fiscalite',
  title: 'Fiscalité',
  permalink: route('preter/fiscalite'),
  classNames: 'page-single-preter'
} %}

{% block pageContentInner %}
<nav class="page-navigation">
  <div class="site-wrap">
    <ul data-nav-dropdown-menu="mobile">{#
      #}<li role="presentation"><a href="{{ route('preter/guide') }}">Guide du prêteur</a></li>{#
      #}<li role="presentation" class="active"><a href="{{ route('preter/fiscalite') }}">Fiscalité</a></li>{#
      #}<li role="presentation"><a href="{{ route('preter/performance') }}">Performance de vos prêts</a></li>{#
      #}<li role="presentation"><a href="{{ route('preter/documents') }}">Documents à fournir</a></li>{#
      #}<li role="presentation" class="c-p1"><a href="{{ route('preter/new') }}">Devenir prêteur</a></li>{#
    #}</ul>
  </div><!-- /.site-wrap -->
</nav><!-- /.page-navigation -->

<section class="page-section">
  <div class="site-wrap">
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h1 class="h4">Pour les particuliers,<br/>
            comment ça marche ?</h1>
        </header>

        <div class="block-image">
          <img src="{{ siteurlmedia('pages/preter-fiscalite/page-image.jpg') }}" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Les intérêts que vous recevez chaque mois sont imposés dans la catégorie des "produits de placement à revenu fixe", comme par exemple les intérêts des livrets bancaires ou les coupons d'obligations.</p>
          <p>A ce titre, ils sont imposables au barème progressif de l’impôt sur le revenu et sont soumis aux prélèvements sociaux.</p>
          <p>Chaque mois, les emprunteurs vous remboursent et Unilend prélève sur les intérêts une retenue à la source forfaitaire de 24 % (il s’agit d’un acompte sur votre impôt sur le revenu), à laquelle s'ajoutent les prélèvements sociaux (correspondant à 15,5 % des intérêts). L’année suivante, cet acompte est ajusté par l’administration fiscale en fonction de votre taux d’imposition à l’impôt sur le revenu : en cas de trop perçu, il vous est remboursé, sinon, vous êtes imposé sur le solde.</p>
          <p>Si vous percevez moins de 2 000 € par an de produits de placement à revenu fixe, vous pourrez demander, sur votre déclaration de revenus, à être soumis à une imposition forfaitaire libératoire de 24 % au titre de l’impôt sur le revenu : c’est intéressant si votre taux marginal d'imposition est supérieur à 24 %. Dans ce cas, vous n’aurez donc pas de sommes supplémentaires à verser au Trésor Public.</p>

          <h3>Dispense de prélèvement de l’acompte d’impôt sur le revenu</h3>
          <p>Vous pouvez demander à être dispensé du règlement de l'acompte d'impôt sur le revenu, si le revenu fiscal de référence de votre foyer fiscal de l'année précédente (indiqué sur votre avis d'imposition) est :</p>
          <ul>
            <li>inférieur à 25 000€ si vous êtes célibataire, divorcé ou veuf</li>
            <li>inférieur à 50 000€ si vous êtes soumis à une imposition commune</li>
          </ul>
          <p>Dans cette situation, Unilend vous versera vos intérêts après une retenue à la source constituée uniquement des prélèvements sociaux (soit 15,5% des intérêts). </p>
          <p>A noter également pour les foyers fiscaux dans cette situation : une fraction des prélèvements sociaux, la CSG, est déductible du revenu imposable de l'année du versement, à hauteur de 5,1 %. Ce montant sera calculé et déduit automatiquement de votre revenu imposable par l’administration fiscale.</p>
          <blockquote>
            <p>Toute fausse attestation de votre part engage votre responsabilité. Cette dispense d'acompte sur les revenus de 2016 ne pourra s'appliquer que sur les revenus perçus après la réception et le traitement par Unilend d’une attestation sur l'honneur indiquant que vous remplissez les conditions requises par la loi (date de limite légale de réception de l'attestation 2016 : 30 novembre 2015).</p>
          </blockquote>
          <h3>Imputation des pertes en capital</h3>
          <p>Pour tous les prêts réalisés à partir du 1er janvier 2016, les éventuelles pertes en capital sont déductibles au titre de l’impôt sur le revenu des intérêts reçus au cours de la même année ou au cours de 5 années suivantes sur des prêts de même nature jusqu’à 1 000€ par prêt. Cette disposition concerne tous les projets mis en lign e sur Unilend à partir du 28 décembre 2015.</p>
          <p><a href="#" class="link">En savior plus</a></p>
          <p>En prêtant sur Unilend, vous prenez un risque de perte en capital dans le cas où l’entreprise à laquelle vous avez prêté fait défaut. Si une perte en capital définitive due à l’arrêt définitif du remboursement des échéances par une entreprise ayant été financée après le 1er janvier 2016 est constatée, vous pourrez la répercuter sur vos éventuels intérêts reçus sur d’autres projets lors des 5 années suivantes, dans la limite des 1 000 premiers euros prêtés par projet (en savoir plus sur les cas légaux d’irrécouvrabilité). C’est un mécanisme voisin de celui applicable aux moins-values de cessions de valeurs mobilières, par exemple les actions.</p>
          <p>Cette disposition fiscale vous permet de payer des impôts uniquement sur vos gains nets. Cela ne signifie pas que l’Etat compense vos pertes. </p>
          <p>Vous pouvez prêter plus de 1 000€ par projet : en revanche, la déductibilité ne s’applique pas au-delà de 1 000€ prêtés par projet.</p>
          <p>Par exemple, imaginons que vous prêtez à deux entreprises différentes : 2 000€ à l’entreprise 1 et 12 000€ à l’entreprise 2. Dans le cas où l’entreprise 1 fait défaut, vous pouvez déduire fiscalement les pertes en capital constatées sur les 1 000€ prêtés à l’entreprise 1 des intérêts versés par l’entreprise 2 pendant cinq ans.</p>
          <p>Pour bénéficier au mieux de cette disposition fiscale, il est très important de répartir vos prêts sur un grand nombre d’entreprises.</p>
          <blockquote>
            <p>Attention : le mécanisme d’imputation des pertes ne s’applique qu’au titre de l’impôt sur le revenu, pas sur les prélèvements sociaux.</p>
          </blockquote>
          <h3>Imprimé fiscal unique</h3>
          <p>Pour vous accompagner lors de votre déclaration annuelle de revenus, chaque début d’année suivant la fin de l’année fiscale correspondante, Unilend met à votre disposition un imprimé fiscal unique (IFU) dans votre espace personnel sécurisé. Il atteste de vos revenus perçus sur Unilend et des prélèvements fiscaux et sociaux déjà opérés. Toutes les informations qui y figurent ont été transmises à l’administration fiscale. Vous les retrouverez sur votre déclaration de revenus pré-remplie.</p>
          <h3>Résidents fiscaux à l’étranger</h3>
          <p>Si votre résidence fiscale n’est pas en France, les intérêts de vos contrats de prêt ne sont soumis à aucun prélèvement de la part de l’administration fiscale française.</p>
          <p><a href="{{ route('preter/new') }}" class="btn-primary">Devenir prêteur</a></p>
        </div>
      </div>
    </div>
    <div class="row reverse">
      <div class="col-lg-6 col-md-6">
        <header class="block-header">
          <h2 class="h4">Fiscalité des intérêts<br/>
            reçus pour les personnes morales</h2>
        </header>

        <div class="block-image">
          <img src="{{ siteurlmedia('pages/preter-fiscalite/page-image-2.jpg') }}" alt="" />
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="block-text">
          <p>Les intérêts que vous recevez chaque mois sont imposés à l'impôt sur les sociétés après un acompte de 15 % retenu à la source.</p>
          <p>Dans le cas des personnes morales, les pertes constatées peuvent être déduites ; vous pouvez passer cet actif en perte. Pour justifier cette opération de régularisation comptable, vous pouvez faire la demande d’un certificat d’irrécouvrabilité auprès du liquidateur.</p>
          <h3>Imprimé fiscal unique</h3>
          <p>Pour vous accompagner lors de votre déclaration annuelle de revenus, chaque début d’année suivant la fin de l’année fiscale correspondante, Unilend met à votre disposition un imprimé fiscal unique (IFU) dans votre espace personnel sécurisé. Il atteste de vos revenus perçus sur Unilend et des prélèvements fiscaux déjà opérés. Toutes les informations qui y figurent ont été transmises à l’administration fiscale.</p>
        </div>
      </div>
    </div>
  </div><!-- /.site-wrap -->
</section><!-- /.page-section -->
{% endblock %}

{% block pageFooter %}
<footer class="page-footer">
  <div  class="page-navigate-next-page" style="background-image: url('{{ siteurlmedia('pages/preter-fiscalite/page-footer.png') }}');">
    <a href="{{ route('preter/performance') }}">
      <div class="site-wrap">
        <div class="label">
          <div class="small">Lire la suite</div>
          <div class="big">Performance de vos prêts</div>
        </div>
      </div><!-- /.site-wrap -->
    </a>
  </div><!-- /.page-navigate-next-page -->
</footer><!-- /.page-footer -->
{% endblock %}
