{# User / Preter / Autolend #}
{% extends 'layouts/_dashboard.twig' %}
{% import 'partials/common/_custom-input.macros.twig' as customInput %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
  id: 'user-preter-autolend',
  title: 'Prêteur / Autolend',
  permalink: route('user/preter/autolend'),
  classNames: 'user-preter-autolend ui-user-level-1'
} %}

{% block dashboardContent %}

  <div class="message-info">
    <p>82% de vos offres Autolend ne sont pas acceptées. Unilend vous conseille de modifier vos paramètres Autolend pour augmenter votre TRI.</p>
    <a href="#autolend-table-config" class="link ui-reveal">Modifier mes paramètres Autolend</a>
    <a href="javascript:;" class="btn-close ui-dismiss"><span class="sr-only">Dismiss message</span></a>
  </div>

  <form id="form-user-autolend" action="{{ route('user/preter/autolend/update') }}" method="post" class="form-user-autolend" {# Disable default form validation. See: http://stackoverflow.com/a/22148483/1421162 #}novalidate data-cacheform data-cacheform-clearonsubmit="true">
    <section class="panel panel-autolend">
      <header class="panel-header">
        <h3>Autolend</h3>
      </header><!-- /.panel-header -->

      <div class="readable-wrap">
        <p>Autolend vous permet de proposer des offres de prêt automatiquement selon des paramètres prédéfinis. Une fois le montant et le taux souhaité choisis, Autolend se chargera de proposer des offres aux projets présentés sur le site d'Unilend.</p>
        <p><a href="#todo" class="link">Accéder à la FAQ pour en savoir plus</a></p>
      </div><!-- /.readable-wrap -->

      <div class="row autolend-enable">
        <label for="form-autolend-enable" class="field-label-inline">Activer Autolend</label>
        {{ customInput.switch({
          id: 'form-autolend-enable',
          name: 'autolend[enable]',
          isChecked: userProfile.autolend.enable
        }) }}
      </div>
    </section><!-- /.panel -->

    <section id="autolend-config" class="collapse{% if userProfile.autolend.enable == true %} in{% endif %}">
      <section class="panel panel-autolend-config" data-formvalidation>
        <div class="readable-wrap">
          <p>Saisissez un montant et un taux pour valider la fonctionnalité. Vous pouvez affiner vos parammétrages en cliquant sur le bouton "Plus de critères".</p>
        </div>
        <div class="row row-multi-col">
          <div class="form-field col-lg-3 col-md-3 col-sm-4 col-xs-2">
            <label for="autolend-amount">Montant à prêter <span class="field-required">*<span class="sr-only"> Required</span></span></label>
            <div class="input-group set-left">
              <div class="btn-group">
                <span class="icon fa-euro"></span>
              </div><!-- /.btn-group -->
              <input type="number" id="autolend-amount" name="autolend[amount]" min="0" step="any" value="{{ userProfile.autolend.amount|default(0) }}" class="input-field" data-formvalidation-input data-formvalidation-required="true" />
            </div><!-- /.input-group -->
          </div><!-- /.form-field -->
          <div class="form-field col-lg-3 col-md-3 col-sm-4 col-xs-2">
            <label for="autolend-amount">Taux minimum <span class="field-required">*<span class="sr-only"> Required</span></span></label>
            <div class="input-group set-left">
              <div class="btn-group"><span class="icon fa-percent"></span></div><!-- /.btn-group -->
              <input type="number" id="autolend-interest" name="autolend[interest]" min="4" max="10" step="0.1" value="{{ userProfile.autolend.interest|default(0) }}" class="input-field"{% if userProfile.autolend.enableTable == true %} disabled="disabled"{% endif %} data-formvalidation-input data-formvalidation-required="true" />
            </div><!-- /.input-group -->
          </div><!-- /.form-field -->
        </div>

        <div class="btn-controls">
          <button class="btn-primary">Valider</button>
        </div><!-- /.btn-controls -->

        <div class="ui-formvalidation-notifications"></div>
      </section><!-- /.panel -->

      <section id="autolend-table">
        <section id="autolend-table-config" class="panel panel-autolend-table collapse{% if userProfile.autolend.enableTable == true %} in{% endif %}">
          <div id="autolend-table-view" data-autolendtable-data='{{ userProfile.autolend.table|default([])|json_encode }}' data-autolendtable-average='{{ autolend.tableAverage|default([])|json_encode }}' class="autolend-table">
            <div class="ui-loading">
              <p class="ui-loading-spinner">Loading...</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-9 col-md-9">
              <div class="ui-autolend-table-use-average-interest">
                {{ customInput.switch({
                  classNames: 'custom-input-switch-sm btn-table-set-average',
                  id: 'autolend-table-use-average-interest',
                  name: 'autolend[use_average]',
                  isChecked: userProfile.autolend.useAverageInterest
                }) }}
                <label for="autolend-table-use-average-interest" class="field-label">Appliquer le taux moyen de la plateforme pour tout type de durée et évaluation</label>
              </div>
            </div>
            <div class="btn-controls col-lg-3 col-md-3">
              <button type="submit" class="btn-primary">Valider</button>
            </div>
          </div>

          <div class="autolend-table-dialog" style="display:none">
            <div class="autolend-table-dialog-position">
              <div class="autolend-table-dialog-content">
                <h3 class="dialog-title"><span class="icon fa-autolend-u"><span class="sr-only">Confirm your Autolend settings</span></span></h3>
                <div class="dialog-message">
                  <p>Êtes-vous sûr vouloir appliquer ces paramètres?<br/>
                  Les offres Autolend prendront effet dès acceptation. Vous êtes libre de les modifier à tout moment</p>
                </div>
                <footer class="dialog-footer">
                  <button type="submit" href="javascript:;" class="btn-outline ui-dialog-confirm">Valider</button>
                  <a href="javascript:;" class="btn-outline btn-shape-clear ui-dialog-cancel">Annuler</a>
                </footer>
              </div>
            </div>
          </div><!-- /.autolend-table-dialog -->

        </section><!-- /.panel -->
        <label data-target="#autolend-table-config" data-toggle="collapse" class="ui-autolend-table-config-toggle {% if userProfile.autolend.enableTable == true %} ui-collapse-open{% endif %}">
          <span class="ui-autolend-table-is-visible">Moins de critères <span class="icon fa-angle-up"></span></span>
          <span class="ui-autolend-table-is-hidden">Plus de critères <span class="icon fa-angle-down"></span></span>
          <input type="checkbox" id="autolend-table-config-enable" name="autolend[enable_table]" value="true" {% if userProfile.autolend.enableTable == true %} checked="checked"{% endif %} />
        </label>
      </section><!-- /#autolend-table -->
    </section><!-- /#autolend-config -->
  </form><!-- /.form-autolend -->

{% endblock %}
