{# List Sharing Links to social media #}
{# import 'partials/modules/_list-sharing.macros.twig' as listSharing #}

{# Render the list sharing module #}
{# @macro render #}
{# @param {Object} options The configurable options #}
{% macro render(options) %}
  {# Default settings #}
  {% set settings = {
    className: 'list-sharing',
    shareUrl: route('/'),
    shareTitle: '',
    shareText: __('Check out "%shareTitle%" on Unilend', 'listSharingShareTextDefault'),
    links: [{
      className: 'facebook',
      label: __('Share on Facebook', 'listSharingLinkFacebookShareLabel'),
      url: 'http://www.facebook.com/sharer.php?u=%shareUrl%',
      target: '_blank'
    },{
      className: 'twitter',
      label: __('Share on Twitter', 'listSharingLinkTwitterShareLabel'),
      url: 'http://twitter.com/share?url=%shareUrl%&amp;text=%shareText%',
      target: '_blank'
    }]
  } %}

  {# Override default settings with options #}
  {% if options is not empty %}
    {% set settings = settings|merge(options) %}
  {% endif %}

  {# Text replacement properties for replacing stuff in links #}
  {% set textReplace = {
    '%shareUrl%': settings.shareUrl,
    '%shareTitle%': settings.shareTitle
  } %}
  {% set textReplace = textReplace|merge({
    '%shareUrl%': settings.shareUrl|url_encode,
    '%shareTitle%': settings.shareTitle|url_encode,
    '%shareText%': settings.shareText|replace(textReplace)|url_encode
  }) %}

  <ul class="{{ settings.className|escape('html_attr') }}">
    {% for link in settings.links %}
    <li><a href="{{ link.url|replace(textReplace) }}"{% if link.target is not empty %} target="{{ link.target }}"{% endif %} class="btn-{{ link.className }}" title="{{ link.label|escape('html_attr') }}"><span class="sr-only">{{ link.label }}</span></a></li>
    {% endfor %}
  </ul><!-- /.list-sharing -->

{% endmacro %}
