{# Site Mobile Menu #}

<div id="site-mobile-menu" class="site-mobile-menu" role="dialog" aria-hidden="true">
  <a href="javascript:;" tabindex="-1" class="site-mobile-menu-close" role="button"><span class="icon fa-close"></span><span class="sr-only">{{ __('Close Menu', 'siteMobileMenuCloseLabel') }}</span></a>

  <form action="{{ route('search') }}" method="get" class="site-mobile-search" role="search">
    <label for="site-mobile-search-input" class="site-mobile-search-toggle" role="button"><span class="sr-only">{{ __('Search Unilend', 'siteSearchLabel') }}</span></label>
    <div class="site-mobile-search-inner">
      <div class="form-field-inline">
        <div class="btn-group">
          <button class="btn-search" tabindex="-1"><span class="sr-only">{{ __('Submit Search', 'siteSearchSubmitLabel') }}</span></button>
        </div>
        <input id="site-mobile-search-input" type="text" name="s" placeholder="{{ __('Got a question?', 'siteSearchInputPlaceholder')|e('html_attr') }}" value="" tabindex="1" class="input-field site-mobile-search-input">
      </div>
    </div><!-- /.site-mobile-search-inner -->
  </form><!-- /.site-mobile-search -->

  <nav class="site-nav" role="navigation">
    <ul class="site-nav-menu">
      <li role="presentation"><a href="{{ route('/') }}" tabindex="-1">Accueil</a></li>
      <li role="presentation"><a href="{{ route('preter') }}" tabindex="-1">Prêter</a></li>
      <li role="presentation"><a href="{{ route('emprunter') }}" tabindex="-1">Emprunter</a></li>
      <li role="presentation"><a href="{{ route('projects') }}" tabindex="-1">Projets</a></li>
      <li role="presentation"><a href="{{ route('about') }}" tabindex="-1">À propos</a></li>
    </ul>
    {% include '@UnilendFrontBundle/partials/components/list-socialmedia.twig' %}
  </nav><!-- /.site-nav -->
</div><!-- /.site-mobile-menu -->
