{% extends ':frontbundle/demo:_layout.html.twig' %}

{% set page = {
    id: 'demo-project-request-details',
    classNames: ''
} %}

{% block dashboardContent %}
    <section class="dashboard-tabs tabs">
        <h4>
            {{ project.idCompany.name }}
            <small>
                {% if isEditable %}
                    <a href="#" id="title" class="editable" data-type="text" data-inputclass="input-field">{{ project.title }}</a>
                {% else %}
                    {{ project.title }}
                {% endif %}
            </small>
            <div class="bubble pull-right">
                {% include ':frontbundle/demo/partials:bubble.html.twig' with {'partner': project.idPartner.label} %}
            </div>
        </h4>
        <div class="row dashboard-tab-pane">
            <div class="form-project-create-nav tab-nav">
                <ul class="nav nav-progress text-align-center">
                    <li role="presentation" class="{% if project.status > constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REQUEST') %}complete{% else %}active{% endif %}" data-equal-width>
                        <span>
                            <span class="progress-point">1.</span>
                            <span class="label">Dépôt</span>
                        </span>
                    </li>
                    <li role="presentation" class="{% if project.status > constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REVIEW') %}complete{% elseif project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REVIEW') %}active{% endif %}" data-equal-width>
                        <span>
                            <span class="progress-point">2.</span>
                            <span class="label">Analyse</span>
                        </span>
                    </li>
                    <li role="presentation" class="{% if project.status > constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_ONLINE') %}complete{% elseif project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_ONLINE') %}active{% endif %}" data-equal-width>
                        <span>
                            <span class="progress-point">3.</span>
                            <span class="label">Financement</span>
                        </span>
                    </li>
                    <li role="presentation" class="{% if project.status > constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_FUNDED') %}complete{% elseif project.status in [constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_FUNDED'), constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_SIGNED')] %}active{% endif %}" data-equal-width>
                        <span>
                            <span class="progress-point">4.</span>
                            <span class="label">Signature</span>
                        </span>
                    </li>
                    <li role="presentation" class="{% if project.status > constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAYMENT') %}complete{% elseif project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAYMENT') %}active{% endif %}" data-equal-width>
                        <span>
                            <span class="progress-point">5.</span>
                            <span class="label">Remboursement</span>
                        </span>
                    </li>
                    <li role="presentation" class="{% if project.status in [constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAID'), constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_LOSS')] %}complete{% endif %}" data-equal-width>
                        <span>
                            <span class="progress-point">6.</span>
                            <span class="label">Terminé</span>
                        </span>
                    </li>
                </ul><!-- /.nav-progress -->
            </div><!-- /.form-project-create-nav -->
        </div>
        <div class="dashboard-tabs-content tab-content">
            <form action="{{ path('demo_project_details_form', {'hash': project.hash}) }}" method="post" enctype="multipart/form-data" data-formvalidation data-formvalidation-shownotifications="false">
                <div class="row columns-with-space">
                    <article class="dashboard-tab-pane col-lg-8 col-md-8">
                        <div class="panel" data-equal-height>
                            <div class="panel-content">
                                <div class="row columns-with-space">
                                    <dl class="col-md-6 col-lg-6">
                                        <dt>Montant</dt>
                                        <dd>
                                            {% if isEditable %}
                                                <a href="#" id="amount" class="editable" data-type="text" data-inputclass="input-field">{{ project.amount|localizednumber }}</a>&nbsp;€
                                            {% else %}
                                                {{ project.amount|localizednumber }}&nbsp;€
                                            {% endif %}
                                        </dd>
                                    </dl>
                                    <dl class="col-md-6 col-lg-6">
                                        <dt>Maturité</dt>
                                        <dd>
                                            {% if isEditable %}
                                                <a href="#" id="duration" data-type="select">
                                                    {% transchoice(project.period / 12) with {'%duration%': project.period / 12} %} demo-project-request_simulator-duration-select-option {% endtranschoice %}
                                                </a>
                                            {% else %}
                                                {% transchoice(project.period / 12) with {'%duration%': project.period / 12} %} demo-project-request_simulator-duration-select-option {% endtranschoice %}
                                            {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row columns-with-space margin-10-t">
                                    <dl class="col-md-6 col-lg-6">
                                        <dt>Date de dépôt</dt>
                                        <dd>{{ project.added|localizeddate('short', 'short') }}</dd>
                                    </dl>
                                    <dl class="col-md-6 col-lg-6">
                                        <dt>Date de mise à disposition</dt>
                                        <dd>
                                            {% if isEditable %}
                                                <a href="#" id="date" class="editable" data-type="text" data-pk="{{ project.idProject }}" data-inputclass="input-field">
                                                    {% if project.dateRetrait %}{{ project.dateRetrait|localizeddate('short', 'none') }}{% endif %}
                                                </a>
                                            {% elseif project.dateRetrait %}
                                                {{ project.dateRetrait|localizeddate('short', 'none') }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row columns-with-space margin-10-t">
                                    <dl class="col-md-6 col-lg-6">
                                        <dt>Type de financement</dt>
                                        <dd>
                                            {% if isEditable %}
                                                <a href="#" id="product" data-type="select">
                                                    {% if product %}{{ ('product-name_' ~ product.label)|trans }}{% endif %}
                                                </a>
                                            {% elseif product %}
                                                {{ ('product-name_' ~ product.label)|trans }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </dd>
                                    </dl>
                                    <dl class="col-md-6 col-lg-6">
                                        <dt>Taux de progressivité <small>(%)</small></dt>
                                        <dd>
                                            {% if isEditable %}
                                                <a href="#" id="rate" class="editable" data-type="text" data-inputclass="input-field">
                                                    {% if project.interestRate %}{{ project.interestRate|localizednumber }}{% endif %}
                                                </a>
                                            {% elseif project.interestRate %}
                                                {{ project.interestRate|localizednumber }}
                                            {% else %}
                                                N/A
                                            {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                                <div class="row margin-10-t">
                                    <dt>Ce dossier fait l‘objet d‘une garantie collatérale</dt>
                                    <dd>
                                        {% if isEditable %}
                                            <a href="#" id="guarantee" data-type="checklist" data-value="{{ project.meansRepayment ? '1' : '' }}"></a>
                                        {% elseif project.meansRepayment %}
                                            Oui
                                        {% else %}
                                            Non
                                        {% endif %}
                                    </dd>
                                </div>
                                <h4 class="h4 margin-20-t">Description <a href="#" id="edit-description"><span class="icon fa-edit-u32"></span></a></h4>
                                <div class="row description-container">
                                    <em>
                                        {% if isEditable %}
                                            <span href="#" id="description" class="editable" data-type="textarea" data-toggle="manual" data-inputclass="input-field">{{ project.comments|nl2br }}</span>
                                        {% else %}
                                            {{ project.comments|nl2br }}
                                        {% endif %}
                                    </em>
                                </div>
                            </div><!-- /.panel-content -->
                        </div><!-- /.panel -->
                    </article><!-- /.dashboard-tab-pane -->
                    <article class="dashboard-tab-pane col-lg-4 col-md-4">
                        <div class="panel" style="position: relative;" data-equal-height>
                            <h4 class="h4">Actions</h4>
                            <div class="panel-content">
                                <ul>
                                    <li><a href="#article-scoring">Notations</a></li>
                                    <li><a href="#article-fees">Commissions</a></li>
                                    <li><a href="#article-visibility">Visibilité</a></li>
                                    <li><a href="#article-documents">Documents</a></li>
                                    <li><a href="#article-discussions">Discussions</a></li>
                                </ul>
                                <div class="row" style="position: absolute; bottom: 30px; left: 30px; right: 30px;">
                                    {% if project.status <= constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_FUNDED') %}
                                        <a href="{{ path('demo_project_abandon', {'hash': project.hash}) }}" class="btn-default btn-shape-xs margin-10-t" style="width: 100%;">Abandonner le dossier</a>
                                    {% endif %}
                                    {% if project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REQUEST') %}
                                        <a href="{{ path('demo_project_review', {'hash': project.hash}) }}" class="btn-primary btn-shape-xs margin-10-t" style="width: 100%;">Passer à l‘analyse</a>
                                    {% endif %}
                                    {% if project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REVIEW') %}
                                        <a href="{{ path('demo_project_publish', {'hash': project.hash}) }}" class="btn-primary btn-shape-xs margin-10-t" style="width: 100%;">Proposer au financement</a>
                                    {% endif %}
                                    {% if project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_ONLINE') %}
                                        <a href="{{ path('demo_project_fund', {'hash': project.hash}) }}" class="btn-primary btn-shape-xs margin-10-t" style="width: 100%;">Mettre fin à la période de financement</a>
                                    {% endif %}
                                    {% if project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_FUNDED') %}
                                        <a href="{{ path('demo_project_sign', {'hash': project.hash}) }}" class="btn-primary btn-shape-xs margin-10-t" style="width: 100%;">Signer les contrats</a>
                                    {% endif %}
                                    {% if project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_SIGNED') %}
                                        <a href="{{ path('demo_project_repay', {'hash': project.hash}) }}" class="btn-primary btn-shape-xs margin-10-t" style="width: 100%;">Commencer le remboursement</a>
                                    {% endif %}
                                    {% if project.status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAYMENT') %}
                                        <a href="{{ path('demo_project_repaid', {'hash': project.hash}) }}" class="btn-primary btn-shape-xs margin-10-t" style="width: 100%;">Mettre fin au remboursement</a>
                                        <a href="{{ path('demo_project_loss', {'hash': project.hash}) }}" class="btn-primary btn-shape-xs margin-10-t" style="width: 100%;">Passer en perte</a>
                                    {% endif %}
                                </div>
                            </div><!-- /.panel-content -->
                        </div><!-- /.panel -->
                    </article><!-- /.dashboard-tab-pane -->
                </div><!-- /.row -->
                <article class="dashboard-tab-pane margin-20-t" id="article-scoring">
                    <div class="panel">
                        <fieldset>
                            <h4 class="h4">Notations</h4>
                            <div class="row">
                                <dl class="col-md-2 col-lg-2">
                                    <dt>&nbsp;</dt>
                                    <dd>Responsable</dd>
                                    <dd>Notation</dd>
                                </dl>
                                <dl class="col-md-5 col-lg-5">
                                    <dt>Arrangeur</dt>
                                    <dd>
                                        {% if isEditable %}
                                            <a href="#" id="arranger" data-type="select">
                                                {% if arranger %}{{ arranger.name }}{% endif %}
                                            </a>
                                        {% elseif arranger %}
                                            {{ arranger.name }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </dd>
                                    <dd>0,5</dd>
                                </dl>
                                <dl class="col-md-5 col-lg-5">
                                    <dt>RUN</dt>
                                    <dd>
                                        {% if isEditable %}
                                            <a href="#" id="run" data-type="select">
                                                {% if run %}
                                                    {{ run.name }}
                                                {% endif %}
                                            </a>
                                        {% elseif run %}
                                            {{ run.name }}
                                        {% else %}
                                            N/A
                                        {% endif %}
                                    </dd>
                                    <dd>1,2</dd>
                                </dl>
                            </div>
                        </fieldset>
                    </div>
                </article><!-- /.dashboard-tab-pane -->
                <article class="dashboard-tab-pane margin-20-t" id="article-fees">
                    <div class="panel">
                        <h4 class="h4">Commissions</h4>
                    </div>
                </article><!-- /.dashboard-tab-pane -->
                <article class="dashboard-tab-pane margin-20-t" id="article-visibility">
                    <div class="panel">
                        <h4 class="h4">Visibilité</h4>
                    </div>
                </article><!-- /.dashboard-tab-pane -->
                <article class="dashboard-tab-pane margin-20-t" id="article-documents">
                    <div class="panel">
                        <form action="{{ path('demo_project_details_form', {'hash': project.hash}) }}" method="post" enctype="multipart/form-data" data-formvalidation data-formvalidation-shownotifications="false">
                            <fieldset>
                                <h4 class="h4">Documents</h4>
                                {% for projectAttachment in projectAttachments %}
                                    <div class="row">
                                        <span class="icon fa-file-u"></span>
                                        <a href="{{ path('demo_project_document', {'hash': project.hash, 'idProjectAttachment': projectAttachment.id}) }}">
                                            {{ projectAttachment.attachment.type.label }}
                                        </a>
                                        <small>({{ projectAttachment.attachment.added|localizeddate('short', 'short') }})</small>
                                    </div>
                                {% else %}
                                    <div class="message-info">Vous n‘avez aucun document associé à votre dossier.</div>
                                {% endfor %}
                                <h5 class="h4 margin-20-t">Ajouter des documents</h5>
                                <div class="form-extrafiles-list">
                                    <div class="form-field form-field-multi file-upload-extra row row-multi-col-computer" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="typedFile">
                                        <div class="col-lg-6 col-md-6">
                                            {% include ':frontbundle/demo/partials:project_attachment_select.html.twig' with {'name': 'file'} %}
                                        </div>
                                        <div class="col-lg-6 col-md-6">
                                            <div class="custom-input-file" id="form-file" data-fileattach data-fileattach-inputname="file" data-fileattach-maxfiles="1" data-fileattach-filetypes="pdf jpg jpeg png doc docx" data-formvalidation-required='input[type="file"][name="file[0]"]' aria-labelledby="form-extrafiles-document-file-label"></div><!-- /.ui-fileattach -->
                                        </div>
                                    </div>
                                </div><!-- /.form-extrafiles-list -->
                                <a href="javascript:;" class="btn-default btn-shape-sq-md ui-form-extrafiles-add">
                                    <span class="icon fa-plus-u16 c-t2"></span>
                                    <span class="sr-only">Ajouter un document</span>
                                </a>
                            </fieldset><!-- /.form-project-details-fieldset -->
                            <div class="text-align-right">
                                <button type="submit" class="btn-primary btn-shape-xs" data-spinnerbutton>Charger</button>
                            </div>
                        </form>

                        <div id="form-extrafiles-template" class="ui-template-definition" style="display: none" disabled="disabled" aria-hidden="true">
                            <div class="form-field form-field-multi file-upload-extra row row-multi-col-computer" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="typedFile">
                                <div class="col-lg-6 col-md-6">
                                    {% include ':frontbundle/demo/partials:project_attachment_select.html.twig' with {'name': '__NUM__'} %}
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="custom-input-file" id="form-extrafile" data-fileattach data-fileattach-inputname="extra__NUM__" data-fileattach-maxfiles="1" data-fileattach-filetypes="pdf jpg jpeg png doc docx xls xlsx" data-formvalidation-required='input[type="file"][name="file[__NUM__]"]' aria-labelledby="form-extrafiles-document-file-label"></div><!-- /.ui-fileattach -->
                                </div>
                            </div><!-- /.file-upload-extra -->
                        </div><!-- /.ui-template-definition -->
                    </div>
                </article><!-- /.dashboard-tab-pane -->
                <article class="dashboard-tab-pane margin-20-t" id="article-discussions">
                    <div class="panel" style="font-size: 16px;">
                        <h4 class="h4">Discussions</h4>
                        <div class="row">
                            <div style="display: inline-block; position: relative; width: 100%;">
                                <form id="chat-form" action="{{ path('demo_project_chat', {'hash': project.hash}) }}" method="post">
                                    <textarea name="content" class="input-field" placeholder="Nouveau message ..." rows="1"
                                              onchange="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px'"
                                              onkeyup="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px'"
                                              onkeydown="this.style.height = 'auto'; this.style.height = this.scrollHeight + 'px'"
                                              style="overflow: hidden; resize: none;"></textarea>
                                    <button type="submit" class="btn-primary btn-shape-xxs ui-spinnerbutton" style="position: absolute; bottom: 4px; right: 4px;">
                                        <span class="icon fa-pen-u32"></span>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div id="chat-content">
                            {% include ':frontbundle/demo:project_chat.html.twig' %}
                        </div>
                    </div>
                </article>
            </form>
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
{% endblock %}

{% block pageHeadScripts %}
    <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css" rel="stylesheet"/>
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css" rel="stylesheet"/>
    <style>
        a.editable-click {
            color: #302a32 !important;
            border-bottom: dashed 1px #302a32;
        }
        a.editable-click:hover {
            border-bottom: dashed 1px #2bc9af;
        }
        h4 a.editable-click {
            color: #2bc9af !important;
            border-bottom: dashed 1px #2bc9af;
        }
        h4 a.editable-click:hover {
            border-bottom: dashed 1px #302a32;
        }
        .description-container {
            line-height: 18px;
        }
        .description-container .editable-container.editable-inline,
        .description-container .editable-input {
            width: 100%;
        }
        .bubble {
            display: inline-block;
            border-radius: 12px;
            padding: 3px 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-size: 13px;
            font-weight: 900;
        }
        dt {
            font-weight: 700;
        }
        dd {
            font-size: 16px;
        }
    </style>
{% endblock %}

{% block pageScripts %}
    <script src="{{ asset('js/vendor/jquery.poshytip.min.js', 'gulp') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.js"></script>
    <script>
        $(function () {
            $.fn.editable.defaults.mode = 'inline'

            var editableConfig = {
                pk: {{ project.idProject }},
                url: '{{ path('demo_project_update', {'hash': project.hash}) }}',
                success: function(response) {
                    if (response.newValue)
                        return {
                            newValue: response.newValue
                        }
                },
                onblur: 'submit',
                showbuttons: false,
                emptytext: 'Non défini'
            }

            $('.editable').editable(editableConfig)

            $('#duration').editable(Object.assign(editableConfig, {
                value: {{ project.period }},
                source: [
                    {% for duration in loanPeriods %}
                        {value: {{ duration }}, text: '{% transchoice(duration) with {"%duration%": duration} %} demo-project-request_simulator-duration-select-option {% endtranschoice %}'},
                    {% endfor %}
                ]
            }))

            $('#product').editable(Object.assign(editableConfig, {
                value: {{ project.idProduct }},
                source: [
                    {% for productId, productLabel in products %}
                        {value: {{ productId }}, text: '{{ productLabel|e('js') }}'},
                    {% endfor %}
                ]
            }))

            $('#guarantee').editable(Object.assign(editableConfig, {
                placement: 'right',
                source: [
                    {value: 1, text: 'Oui'}
                ],
                emptytext: 'Non'
            }))

            $('#edit-description').on('click', function (event) {
                event.stopPropagation()
                event.preventDefault()
                $('#description').editable('toggle')
            })

            $('#arranger').editable(Object.assign(editableConfig, {
                value: '{% if arranger %}{{ arranger.idCompany }}{% endif %}',
                source: [
                    {% for arrangerId, arrangerName in arrangers %}
                        {value: {{ arrangerId }}, text: '{{ arrangerName|e('js') }}'},
                    {% endfor %}
                ],
                emptytext: 'Aucun'
            }))

            $('#run').editable(Object.assign(editableConfig, {
                value: '{% if run %}{{ run.idCompany }}{% endif %}',
                source: [
                    {% for runCompany in runs %}
                        {value: {{ runCompany.idCompany }}, text: '{{ runCompany.name|e('js') }}'},
                    {% endfor %}
                ],
                emptytext: 'Aucun'
            }))

            var $chatForm = $('#chat-form')
            var $textarea = $chatForm.find('textarea')
            var $chatContainer = $('#chat-content')

            $chatForm.on('submit', function (event) {
                event.preventDefault()

                $.ajax({
                    url: $chatForm.attr('action'),
                    method: $chatForm.attr('method'),
                    data: $chatForm.serialize(),
                    success: function (response) {
                        $chatContainer.html(response)
                        $textarea.val('')
                    }
                })
            })

            $chatForm.on('keydown', function (event) {
                if (event.keyCode === 13 && event.metaKey) {
                    $chatForm.submit()
                }
            })
        })
    </script>
{% endblock %}
