{% extends 'demo/_layout.html.twig' %}

{% set page = {
    id: 'demo-projects',
    classNames: ''
} %}

{% block dashboardContent %}
    <article id="projets-index" class="page" data-has-spinner style="background-color: #fff;">
        <section id="projets-index-project-list" class="page-section">
            <div class="site-wrap">
                <div id="projets-index-project-list-module" class="project-list">
                    <div class="tabs">
                        <div class="project-list-content tab-content">
                            <div id="project-list-view" role="tabpanel" class="tab-pane active">
                                <div class="project-list-filters">
                                    {% if sortDirection == 'desc' %}
                                        {% set sortParameter = 'asc' %}
                                    {% else %}
                                        {% set sortParameter = 'desc' %}
                                    {% endif %}
                                    <div class="project-list-item-category project-list-filter{% if sortType == 'idPartner' %} ui-sortable-current ui-sortable-direction-{{ sortDirection }} {% endif %}">
                                        <a href="{{ path(app.request.attributes.get('_route'), {'page': currentPage, 'sortType': 'idPartner', sortDirection: sortParameter}) }}">
                                            <span class="label">Marché</span>
                                            <span class="project-list-filter-order"></span>
                                        </a>
                                    </div><!-- /.project-list-filter -->
                                    <div class="project-list-item-info project-list-filter{% if sortType == 'title' %} ui-sortable-current ui-sortable-direction-{{ sortDirection }} {% endif %}">
                                        <a href="{{ path(app.request.attributes.get('_route'), {'page': currentPage, 'sortType': 'title', sortDirection: sortParameter}) }}">
                                            <span class="label">Projet</span>
                                            <span class="project-list-filter-order"></span>
                                        </a>
                                    </div><!-- /.project-list-filter -->
                                    <div class="project-list-item-amount project-list-filter{% if sortType == 'amount' %} ui-sortable-current ui-sortable-direction-{{ sortDirection }} {% endif %}">
                                        <a href="{{ path(app.request.attributes.get('_route'), {'page': currentPage, 'sortType': 'amount', sortDirection: sortParameter}) }}">
                                            <span class="label">{% trans %} Montant {% endtrans %}</span>
                                            <span class="project-list-filter-order"></span>
                                        </a>
                                    </div><!-- /.project-list-filter -->
                                    <div class="project-list-item-period project-list-filter{% if sortType == 'period' %} ui-sortable-current ui-sortable-direction-{{ sortDirection }} {% endif %}">
                                        <a href="{{ path(app.request.attributes.get('_route'), {'page': currentPage, 'sortType': 'period', sortDirection: sortParameter}) }}">
                                            <span class="label">Maturité</span>
                                            <span class="project-list-filter-order"></span>
                                        </a>
                                    </div><!-- /.project-list-filter -->
                                    <div class="project-list-item-period project-list-filter{% if sortType == 'presentationCompany' %} ui-sortable-current ui-sortable-direction-{{ sortDirection }} {% endif %}">
                                        <a href="{{ path(app.request.attributes.get('_route'), {'page': currentPage, 'sortType': 'presentationCompany', sortDirection: sortParameter}) }}">
                                            <span class="label">Pourcentage Financement</span>
                                            <span class="project-list-filter-order"></span>
                                        </a>
                                    </div><!-- /.project-list-filter -->
                                    <div class="project-list-item-view project-list-filter">
                                        <span class="label">&nbsp;</span>
                                    </div><!-- /.project-list-filter -->
                                </div><!-- /.project-list-filters -->

                                <div class="project-list-items">
                                    {% for project in projects %}
                                        <article
                                                class="project-list-item{% if project.status > constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_ONLINE') or "now"|date('Y-m-d H:i:s') > project.endDate|date('Y-m-d H:i:s') %} ui-project-expired{% endif %}">
                                            <div class="project-list-item-category">
                                                {% set backgroundColor = '#787679' %}
                                                {% if project.idPartner.label == 'cals' %}
                                                    {% set backgroundColor = '#5fc5d1' %}
                                                {% elseif project.idPartner.label == 'cacib' %}
                                                    {% set backgroundColor = '#1b88db' %}
                                                {% elseif project.idPartner.label == 'calf' %}
                                                    {% set backgroundColor = '#ffca2c' %}
                                                {% elseif project.idPartner.label == 'unifergie' %}
                                                    {% set backgroundColor = '#f76965' %}
                                                {% endif %}
                                                <span class="bubble" style="background-color: {{ backgroundColor }};">{{ ('partner-name_bubble-' ~ project.idPartner.label)|trans }}</span>

                                            </div>
                                            <div class="project-list-item-info">
                                                <h3 class="project-list-item-title"><a href="{{ path('project_detail', {'projectSlug': project.slug }) }}">{{ project.idCompany.name }}</a></h3>
                                                <div class="project-list-item-description">
                                                    <p>{{ project.title|striptags|raw|truncate(100) }}</p>
                                                </div>
                                            </div>
                                            <div class="project-list-item-amount">
                                                {{ project.amount|localizednumber }}&nbsp;€
                                            </div>
                                            <div class="project-list-item-period">
                                                {{ (project.period / 12)|round(0)|localizednumber }} ans
                                            </div>
                                            <div class="project-list-item-stats">
                                                {% if project.status <= constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_ONLINE') %}
                                                    {{ project.presentationCompany|localizednumber }}&nbsp;%
                                                {% else %}
                                                    100 %
                                                {% endif %}
                                            </div>
                                            <div class="project-list-item-view">
                                                <a href="{{ path('project_detail', {'projectSlug': project.slug}) }}">
                                                    <span class="icon fa-angle-right"></span><span class="sr-only">{% trans %} project-list_view-project-label {% endtrans %}</span>
                                                </a>
                                            </div>
                                        </article><!-- /.project-list-item -->
                                    {% endfor %}
                                </div><!-- /.project-list-items -->

                                {% if showPagination %}
                                    {% include 'projects/list/pagination.html.twig' %}
                                {% endif %}
                            </div><!-- /#project-list-view.tab-pane -->
                        </div><!-- /.project-list-content -->
                    </div><!-- /.tabs -->
                </div><!-- /.project-list -->
            </div><!-- /.site-wrap -->
        </section><!-- /.page-section -->
    </article><!-- /.page -->
{% endblock %}

{% block pageHeadScripts %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 12px;
            padding: 0 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
        }
    </style>
{% endblock %}
