{% extends ':frontbundle/demo:_layout.html.twig' %}

{% set page = {
    id: 'demo-project-details',
    classNames: ''
} %}
{% block pageHeadScripts %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 12px;
            padding: 2px 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
            font-size: small;
        }

        .input-field {
            width: 80%;
            display: inline;
        }

        .form-field > label {
            display: inline;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}
{% block pageScripts %}
    <script>
        var $collectionHolder;
        // setup an "add a fee" link
        var $addFeeButton = $(`[data-action='ui-form-lending-fee-add']`);
        var $newLink = $('<div class="row row-multi-col-computer"></div>').append($addFeeButton);

        jQuery(document).ready(function () {
            // Get the ul that holds the collection of fees
            $collectionHolder = $('div.fees');

            $collectionHolder.find('div').each(function () {
                addTagFormDeleteLink($(this));
            });

            // add the "add a fee" anchor and li to the fees ul
            $collectionHolder.append($newLink);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addFeeButton.on('click', function () {
                // add a new fee form (see next code block)
                addFeeForm($collectionHolder, $newLink);
            });
        });

        function addFeeForm($collectionHolder, $newLink) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your fees field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a fee" link li
            var $newFormDiv = $('<div class="row row-multi-col-computer"></div>').append(newForm);
            $newLink.before($newFormDiv);

            addTagFormDeleteLink($newFormDiv);
        }

        function addTagFormDeleteLink($newFormDiv) {
            var $removeFormButton = $('<button type="button" class="btn-default btn-shape-xxs">Supprimer</button>');
            $newFormDiv.append($removeFormButton);

            $removeFormButton.on('click', function () {
                // remove the li for the fee form
                $newFormDiv.remove();
            });
        }
    </script>
{% endblock %}
{% block dashboardContent %}
    <article id="project-single" class="page project-single{% if false == project.isOnline %} ui-project-expired{% endif %}">
        <div class="panel" style="background-color: #fff; padding: 30px 30px 30px 30px">
            <div class="panel-header">
                <div class="row">
                    <div class="project-single-details">
                        <h1 class="project-single-title">{{ project.idCompany.name }}</h1>
                        <span style="font-weight: 400;margin-top: 1em; margin-bottom: 1em;font-size:xx-large;color:#787679">{{ project.title }}</span>
                        {% set backgroundColor = '#787679' %}
                        {% if project.idPartner.label == 'cals' %}
                            {% set backgroundColor = '#5fc5d1' %}
                        {% elseif project.idPartner.label == 'cacib' %}
                            {% set backgroundColor = '#1b88db' %}
                        {% elseif project.idPartner.label == 'calf' %}
                            {% set backgroundColor = '#ffca2c' %}
                        {% elseif project.idPartner.label == 'unifergie' %}
                            {% set backgroundColor = '#f76965' %}
                        {% endif %}
                        <span class="bubble" style="background-color: {{ backgroundColor }}; margin-left: 30px">{{ ('partner-name_bubble-' ~ project.idPartner.label)|trans }}</span>
                    </div><!-- /.project-single-details -->
                </div>
                <div class="row margin-20-t">
                    <div class="col-lg-8 col-md-8 col-sm-8">

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>Date de dépôt</h5>
                                {{ project.added|date('d/m/Y') }}
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>Montant</h5>
                                {{ project.amount|localizednumber }}&nbsp;€
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>Maturité</h5>
                                {{ (project.period / 12)|round(0)|localizednumber }} ans
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>Type de financement</h5>
                                {{ ('product-name_' ~ product.idRepaymentType.label)|trans }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>Participants</h5>
                                <div>Arrangeur : CACIB</div>
                                <div>RUN : CA de Franche-Comté</div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <h5>Notations</h5>
                                <div>Projet : AAA</div>
                                <div>Emprunteur : AAA</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <h5>Documents</h5>
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                <strong>Télécharger tous</strong>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <a href="#"><span class="icon fa-file-zip-o"></span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                KBIS
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <a href="#"><span class="icon fa-file-pdf-o"></span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                RIB
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <a href="#"><span class="icon fa-file-excel-o"></span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                CNI
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <a href="#"><span class="icon fa-file-word-o"></span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                Dernier rapport CAC
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <a href="#"><span class="icon fa-file-image-o"></span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                Liasse fiscale
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <a href="#"><span class="icon fa-file-pdf-o"></span></a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-10">
                                Relevé de compte bancaire
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2">
                                <a href="#"><span class="icon fa-file-pdf-o"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-content">
                <div id="offers" data-watchscroll-nav>
                    {% include ':frontbundle/demo/project:my_bid.html.twig' %}

                    {% include ':frontbundle/demo/project:bids_list.html.twig' %}
                </div>
            </div><!-- /.project-single-content -->
        </div><!-- /.project-single-content -->
    </article>
{% endblock %}
