{% extends ':frontbundle/demo:_layout.html.twig' %}

{% set page = {
    id: 'demo-project-details',
    classNames: ''
} %}
{% block pageHeadScripts %}
    <style>
        .bubble {
            display: inline-block;
            border-radius: 14px;
            padding: 5px 10px;
            line-height: 18px;
            color: #fbf9fb;
            font-weight: 900;
            font-size: 16px;
        }

        .input-field {
            width: 80%;
            display: inline;
        }

        .form-field > label {
            display: inline;
            margin-bottom: 20px;
        }

        fieldset {
            border: 1px solid #eceaed;
        }
    </style>
{% endblock %}

{% block pageScripts %}
    <script>
        {% include ':frontbundle/demo/partials/fees:fees.js.twig' %}
    </script>
{% endblock %}

{% block dashboardContent %}
    <div class="dashboard-tabs-content tab-content">
        <article id="project-single" class="project-single dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="panel-header">
                    <div class="row">
                        <div class="project-single-details">
                            <div class="pull-right">
                                {% include ':frontbundle/demo/partials:bubble.html.twig' with {'partner': project.idPartner.label} %}
                            </div>
                            <h1 class="project-single-title">{{ project.idCompany.name }}</h1>
                            <span style="font-weight: 400; margin-top: 1em; margin-bottom: 1em; font-size: xx-large; color: #787679;">{{ project.title }}</span>
                        </div><!-- /.project-single-details -->
                    </div>
                </div>
                <div class="panel-content">
                    <div class="row margin-20-t">
                        <div class="{% if projectAttachments|length %}col-lg-8 col-md-8 col-sm-8{% endif %}">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5>Date de dépôt</h5>
                                    {{ project.added|date('d/m/Y') }}
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5>Montant</h5>
                                    {{ project.amount|localizednumber }}&nbsp;€
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5>Maturité</h5>
                                    {{ (project.period / 12)|round(0)|localizednumber }} ans
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5>Type de financement</h5>
                                    {{ ('product-name_' ~ product.idRepaymentType.label)|trans }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5>Participants</h5>
                                    <div>Arrangeur : {% if arranger.0 is defined %} {{ arranger.0.company.name }} {% else %} pas défini {% endif %}</div>
                                    <div>RUN : {% if run.0 is defined %} {{ run.0.company.name }} {% else %} pas défini {% endif %}</div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <h5>Notations</h5>
                                    <div>Projet : {% if project.natureProject %}{{ project.natureProject }}{% else %}N/A{% endif %}</div>
                                    <div>Emprunteur : {% if project.objectifLoan %}{{ project.objectifLoan }}{% else %}N/A{% endif %}</div>
                                </div>
                            </div>
                        </div>
                        {% if projectAttachments|length %}
                            <div class="col-lg-4 col-md-4">
                                <h5>Documents</h5>
                                <div class="row">
                                    <strong><a href="#">Tout télécharger</a></strong>
                                </div>
                                {% for projectAttachment in projectAttachments %}
                                    <div class="row">
                                        <span class="icon fa-file-u"></span>
                                        <a href="{{ path('demo_project_document', {'hash': project.hash, 'idProjectAttachment': projectAttachment.id}) }}">
                                            {{ projectAttachment.attachment.originalName }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </article>
        <article id="project-single" class="project-single dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="panel-content">
                    {% include ':frontbundle/demo/project:my_bid.html.twig' %}
                </div><!-- /.project-single-content -->
            </div><!-- /.project-single-content -->
        </article>
        <article id="project-single" class="project-single dashboard-tab-pane{% if false == project.isOnline %} ui-project-expired{% endif %}">
            <div class="panel">
                <div class="panel-content">
                    {% include ':frontbundle/demo/project:bids_list.html.twig' %}
                </div><!-- /.project-single-content -->
            </div><!-- /.project-single-content -->
        </article>
    </div>
{% endblock %}
