{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
id: 'user-preter-profile',
classNames: 'user-preter-profile'
} %}


{% block dashboardContent %}
    <div class="dashboard-tabs tabs">

        {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

        <div class="dashboard-tabs-content tab-content">
            <div id="profile-info" role="tabpanel" class="dashboard-tab-pane tab-pane active">

                <article id="panel-bank" class="panel">
                    <header class="panel-header">
                        <h3>{% trans %} lender-profile_fiscal-tab-title {% endtrans %}</h3>
                        <div id="form-profile-fiscal-notifications">
                            {% if app.session.flashBag.has('bankInfoUpdateError') %}
                                <div class="message-error">
                                    {% for error in app.session.flashBag.get('bankInfoUpdateError') %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% if app.session.flashBag.has('bankInfoUpdateSuccess') %}
                                <div class="message-success">
                                    {% for message in app.session.flashBag.get('bankInfoUpdateSuccess') %}
                                        <span>{{ message }}</span>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </header><!-- .panel-header -->

                    <section id="profile-fiscalite-bank-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
                        <section id="profile-fiscalite-bank-view" role="tabpanel" class="profile-bank-view collapse in">
                            <a href="javascript:;" data-target="#profile-fiscalite-bank-edit" role="button" data-toggle="collapse" data-parent="#profile-fiscalite-bank-section" class="btn-edit" aria-controls="#profile-fiscalite-bank-edit" aria-expanded="false">
                                <span class="icon fa-pencil-u32"></span>
                                <span class="label">{% trans %} lender-profile_fiscal-tab-modification-button {% endtrans %}</span>
                            </a>
                            <dl class="list-2col">
                                <dt>{% trans %} lender-profile_fiscal-tab-bank-info-section-funds-origin-label {% endtrans %}</dt>
                                <dd id="profile-fiscalite-bank-origin-output">{% if lenderAccount.fiscal_info.fundsOrigin[lenderAccount.origine_des_fonds] is defined %}{{ lenderAccount.fiscal_info.fundsOrigin[lenderAccount.origine_des_fonds] }}{% else %}-{% endif %}</dd>
                                <dt>{% trans %} lender-profile_fiscal-tab-bank-info-section-bic {% endtrans %}</dt>
                                <dd id="profile-fiscalite-bank-bic-output">{{ lenderAccount.bic }}</dd>
                                <dt>{% trans %} lender-profile_fiscal-tab-bank-info-section-iban {% endtrans %}</dt>
                                <dd id="profile-fiscalite-bank-iban-output">{{ lenderAccount.iban }}</dd>
                                <dt>{% trans %} lender-profile_fiscal-tab-bank-info-section-documents {% endtrans %}</dt>
                                <dd id="profile-fiscalite-bank-fichier-rib-output">
                                    {% set ribDate = lenderAccount.fiscal_info.rib.updated|default(lenderAccount.fiscal_info.rib.added)|localizeddate('short', 'none', app.request.locale) %}
                                    {% set ribProvidedTranslation = "lender-profile_lender-attachment-provided-label-type-#{constant('\\attachment_type::RIB')}" | transchoice(ribDate, {'%date%': ribDate}) %}
                                    <span id="form-fiscalite-bank-file-rib-1-output" class="file-justificatif file-rib" title="{{ ribProvidedTranslation }}" data-toggle="tooltip">
                                    </span>
                                </dd>
                            </dl>
                        </section>

                        <section id="profile-fiscalite-bank-edit" role="tabpanel" class="profile-fiscalite-bank-view collapse">
                            <form id="form-profile-fiscalite-bank-edit" action="{{ path('update_bank_details') }}" method="post" class="form-fiscalite form-profile-fiscalite-bank-edit" enctype="multipart/form-data" data-formvalidation data-formvalidation-notificationselem="#form-profile-fiscalite-bank-notifications">
                                <div id="form-profile-fiscalite-bank-notifications"></div>

                                <div class="row">
                                    <div class="form-field form-field-iban">
                                        <div id="form-profile-fiscalite-iban-add" data-toggle-group="iban" class="ui-toggle iban-add">
                                            <label for="form-profile-fiscalite-iban" class="form-field-label">{% trans %} lender-profile_fiscal-tab-bank-info-section-iban {% endtrans %}
                                                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                                            </label>

                                            <div class="input-group">
                                                <div class="custom-input-iban">
                                                    <input id="form-profile-fiscalite-iban" type="text" name="iban" value="{{ lenderAccount.iban }}" class="iban-input input-field" data-formvalidation-input data-formvalidation-type="iban"/>
                                                </div>
                                            </div><!-- /.input-group -->

                                            <ul class="ui-formvalidation-messages"></ul>
                                        </div><!-- /.iban-add -->
                                    </div><!-- /.form-field -->
                                </div>
                                <div class="row row-multi-col">
                                    <div class="form-field col-lg-6 col-md-6 col-sm-4 col-xs-2">
                                        <div class="field-label">
                                            <label>{% trans %} lender-profile_fiscal-tab-bank-info-section-bic {% endtrans %}
                                                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                                            </label>
                                        </div><!-- /.field-label -->
                                        <div class="custom-input-bic">
                                            <input id="form-profile-fiscalite-bic" type="text" name="bic" value="{{ lenderAccount.bic }}" class="bic-input input-field" data-formvalidation-input data-formvalidation-type="bic"/>
                                        </div>
                                    </div>
                                    <div class="form-field col-lg-6 col-md-6 col-sm-4 col-xs-2">
                                        <div class="field-label">
                                            <label>{% trans %} lender-profile_fiscal-tab-bank-info-section-funds-origin-label {% endtrans %}
                                                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                                            </label>
                                        </div>
                                        <select id="funds-origin" name="funds_origin" class="input-field">
                                            <option value=""> {% trans %} lender-profile_fiscal-tab-bank-info-section-funds-origin-label {% endtrans %} </option>
                                            {% for id, label in lenderAccount.fiscal_info.fundsOrigin %}
                                                <option value="{{ id }}" {% if lenderAccount.origine_des_fonds is defined and id == lenderAccount.origine_des_fonds %} selected="selected"{% endif %} > {{ label }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                {#rib attachment#}
                                <div class="row" id="upload-rib">
                                    <div class="form-field ">
                                        <label>{% trans %} lender-profile_fiscal-tab-iban-certificate {% endtrans %}
                                            <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                                        </label>
                                        <div class="custom-input-file"
                                             data-fileattach data-fileattach-inputname="iban-certificate"
                                             data-fileattach-maxfiles="1"
                                             data-fileattach-emptyfilelabel="
                                                 {% if lenderAccount.fiscal_info.rib.path is not empty %}
                                                    {{ lenderAccount.fiscal_info.rib.path }}
                                                 {% else %}
                                                    {% trans %} lender-profile_fiscal-tab-iban-certificate {% endtrans %}
                                                 {% endif %}">
                                        </div><!-- /.ui-fileattach -->
                                    </div>
                                </div>
                                <div class="btn-controls">
                                    <button class="btn-primary" id="save-bank-details" data-spinnerbutton>{% trans %} lender-profile_fiscal-tab-save-iban-changes {% endtrans %}</button>
                                    <button type="reset" role="button" data-toggle="collapse" data-target="#profile-fiscalite-bank-view" data-parent="#profile-fiscalite-bank-section" class="btn-default" aria-controls="#profile-fiscalite-bank-view" aria-expanded="true">{% trans %} lender-profile_fiscal-tab-cancel-iban-cahanges {% endtrans %}</button>
                                </div><!-- /.btn-controls -->
                            </form><!-- /.form-bank-edit -->
                        </section><!-- /#profile-fiscalite-bank-edit -->
                    </section><!-- /.ui-toggle-group -->
                </article><!-- /.panel -->

                <article id="panel-reports" class="panel">
                    <header class="panel-header">
                        <h3>{% trans %}lender-profile_fiscal-information-documents-section-title{% endtrans %}</h3>
                    </header><!-- .panel-header -->
                    {% if lenderAccount.fiscal_info.documents is defined %}
                        <div class="panel-content">
                            <ul class="list-files">
                                {% for i, file in lenderAccount.fiscal_info.documents %}
                                    <li class="file file-type-pdf">
                                        <p>
                                            <strong>{% trans with { '%year%'  : file.annee } %} lender-profile_income-for-the-year {% endtrans %}</strong><br/>
                                            {% trans %} lender-profile_single-tax-form {% endtrans %}<br/>
                                            <a href="{{ path('get_ifu', {'hash': client.hash, 'year': file.annee}) }}" target="_blank" class="link">{% trans %} lender-profile_download {% endtrans %}</a>
                                        </p>
                                    </li>
                                {% endfor %}
                            </ul><!-- /.list-files -->
                        </div><!-- /.panel-content -->
                    {% endif %}
                    <div class="panel-content">
                        <p>{% trans with { '%currentYear%': date()|date('Y'), '%lastYear%': date()|date('Y') - 1 } %} lender-profile_fiscal-solidarity-tax-on-wealth-msg {% endtrans %}</p>
                        <dl class="list-2col">
                            <dt>{% trans %} lender-profile_balance-to-declare {% endtrans %}</dt>
                            <dd>{{ lenderAccount.fiscal_info.amounts.balance|localizedcurrency('EUR') }}</dd>
                            <dt>{% trans %} lender-profile_owed-capital {% endtrans %}</dt>
                            <dd>{{ lenderAccount.fiscal_info.amounts.owedCapital|localizedcurrency('EUR') }}</dd>
                        </dl>
                    </div><!-- /.panel-content -->
                </article><!-- /#panel-reports.panel -->

                {% if client.type in [constant('\\clients::TYPE_PERSON'), constant('\\clients::TYPE_PERSON_FOREIGNER')] %}
                    {% if (true == isEligible and false == afterDeadline and false == nextTaxExemptionRequestDone) %}
                        {% set declarationIsPossible = true %}
                    {% else %}
                        {% set declarationIsPossible = false %}
                    {% endif %}

                    <article id="panel-exoneration" class="panel">
                        <header class="panel-header">
                            <h3>{% trans %} lender-profile_fiscal-information-exonerations-section-title {% endtrans %}</h3>
                            <div id="form-profile-fiscalite-exoneration-notifications">
                                {% if app.session.flashBag.has('exonerationError') %}
                                    <div class="message-error">
                                        {% for error in app.session.flashBag.get('exonerationError') %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% if app.session.flashBag.has('exonerationSuccess') %}
                                    <div class="message-success">
                                        {% for message in app.session.flashBag.get('exonerationSuccess') %}
                                            <span>{{ message }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </header><!-- .panel-header -->
                        <section id="profile-fiscalite-exoneration-section" role="tablist" class="ui-toggle-group" aria-multiselectable="true">
                            <section id="profile-fiscalite-exoneration-view" role="tabpanel" class="profile-exoneration-view collapse in">
                                {% if declarationIsPossible == true %}
                                    <a href="javascript:;" data-target="#profile-fiscalite-exoneration-edit" role="button" data-toggle="collapse" data-parent="#profile-fiscalite-exoneration-section" class="btn-default" aria-controls="#profile-fiscalite-exoneration-edit" aria-expanded="false">
                                        <span class="icon fa-pencil-u32"></span>
                                        <span class="label">{% trans %}lender-profile_fiscal-information-exonerations-modify-button{% endtrans %}</span>
                                    </a>
                                {% endif %}

                                {% for exemption in exemptions %}
                                    {% trans with {'%date%' : exemption.added|localizeddate('medium', 'none'), '%year%' : exemption.year} %}lender-profile_fiscal-information-exonerations-list-sentence{% endtrans %}
                                {% endfor %}
                            </section>

                            {% if declarationIsPossible == true %}
                                <section id="profile-fiscalite-exoneration-edit" role="tabpanel" class="profile-fiscalite-exoneration-view collapse">
                                    <form id="form-profile-fiscalite-exoneration-edit" action="{{ path('profile_fiscal_information_tax_exemption') }}" method="post" class="form-fiscalite form-profile-fiscalite-exoneration-edit" enctype="multipart/form-data" data-formvalidation data-formvalidation-notificationselem="#form-profile-fiscalite-exoneration-notifications">
                                        <h3>{% trans %}lender-profile_tax-exemption-request{% endtrans %}</h3>

                                        <div class="exemption-request-panel">
                                            <div class="row">
                                                <p class="h4">{% trans %}lender-profile_sworn-statement{% endtrans %}</p>
                                                <span> {% trans with {'%nextYear%' : nextYear, '%taxExemptionRequestLimitDate%' : taxExemptionRequestLimitDate} %}lender-profile_tax-exemption-request-validity-notice{% endtrans %}</span>
                                            </div>
                                            <div class="row">
                                                <div class="tax-exemption-details">
                                                    <p>{% trans with {'%rateOfTaxDeductionAtSource%' : rateOfTaxDeductionAtSource, '%currentYear%' : currentYear, '%lastYear%' : lastYear} %}lender-profile_tax-exemption-info{% endtrans %}</p>
                                                    <p>
                                                        {% trans with {'%incomeTaxReferenceSingleAmount%' : setting('incomeTaxReferenceSingleAmount')|localizednumber} %}lender-profile_income-tax-reference-single-amount{% endtrans %}<br>
                                                        {% trans with {'%incomeTaxReferenceCommonAmount%' : setting('incomeTaxReferenceCommonAmount')|localizednumber} %}lender-profile_income-tax-reference-common-amount{% endtrans %}
                                                    </p>
                                                    <p>
                                                        <strong>{% transchoice client.civilite|length %} lender-profile_undersigned{% endtranschoice %}</strong>
                                                    </p>
                                                    <p>
                                                        {{ client.nom }} {{ client.prenom }}<br>
                                                        {{ clientAddress.adresse_fiscal }}<br>
                                                        {{ clientAddress.cp_fiscal }}&nbsp;{{ clientAddress.ville_fiscal }}<br>
                                                        {{ clientAddress.id_pays_fiscal|countryLabel }}
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                                                    <div>
                                                        <input class="tax-exemption-chbx" type="checkbox" id="h-attest" value="honor-attest" name="attest">
                                                        <label for="h-attest"><strong>{% trans %}lender-profile_attest-on-honor{% endtrans %}</strong></label>
                                                    </div>
                                                    <div>
                                                        <input class="tax-exemption-chbx" type="checkbox" id="agree" value="agree-to-be-informed" name="agree">
                                                        <label for="agree"><strong>{% trans %}lender-profile_agree-to-be-informed{% endtrans %}</strong></label>
                                                    </div>
                                                    <div class="message-alert">
                                                        <p>{% trans %}lender-profile_tax-penalty-risk{% endtrans %}</p>
                                                        <p>{% trans %}lender-profile_tax-exemption-limitation{% endtrans %}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <button type="submit" class="btn-primary" name="validate-btn" id="validate-btn" data-spinnerbutton>{% trans %} lender-profile_tax-exemption-validate {% endtrans %}</button>
                                                <button type="reset" role="button" data-toggle="collapse" data-target="#profile-fiscalite-exoneration-view" data-parent="#profile-fiscalite-exoneration-section" class="btn-default" aria-controls="#profile-fiscalite-exoneration-view" aria-expanded="true">{% trans %} lender-profile_fiscal-tab-cancel-iban-cahanges {% endtrans %}</button>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                            {% endif %}
                        </section>
                    </article><!-- /#panel-exonderations.panel -->
                {% endif %}
            </div><!-- /#profile-info.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </div><!-- /.dashboard-tabs -->
{% endblock %}