{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile-documents',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <div id="profile-info" role="tabpanel" class="dashboard-tab-pane tab-pane active">
                <article id="lender-completeness" class="panel collapse in">
                    <header class="panel-header">
                        <h3>{% trans %} lender-profile_completeness-form-title {% endtrans %}</h3>
                    </header>

                    <section id="profile-lender-completeness-section">
                        <form id="form-lender-completeness" action="{{ path('lender_completeness_submit') }}" method="post" enctype="multipart/form-data" class="form-lender-completeness">
                            <div id="form-lender-completeness-content" aria-labelledby="lender-completeness lender-completeness-title" data-formvalidation data-formvalidation-notificationselem="#form-lender-completeness-notifications">
                                <fieldset class="panel">
                                    <div id="form-lender-completeness-notifications" class="ui-formvalidation-notifications"></div>

                                    <div class="row">
                                        <div class="form-field">
                                            {% if app.session.flashBag.has('completenessSuccess') %}
                                                <div id="form-lender-completeness-notifications">
                                                    <div class="message-success">
                                                        {% for message in app.session.flashBag.get('completenessSuccess') %}
                                                            <span>{{ message }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% elseif app.session.flashBag.has('completenessError') %}
                                                <div id="form-lender-completeness-notifications">
                                                    <div class="message-error">
                                                        {% for message in app.session.flashBag.get('completenessError') %}
                                                            <span>{{ message }}</span>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <div class="message-info">
                                                    <p>{% trans %} lender-profile_completeness-form-requested-documents {% endtrans %}</p>
                                                    {% if attachmentsList is defined %}
                                                        {{ attachmentsList|raw }}
                                                    {% endif %}
                                                </div><!-- /.message-info -->
                                            {% endif %}

                                            <div class="form-field">
                                                {# Template is defined here so you can better do the translation and select field stuff #}
                                                <div id="form-extrafiles-template" class="ui-template-definition" style="display: none" disabled="disabled" aria-hidden="true">
                                                    <div class="form-field file-upload-extra row row-multi-col-computer">
                                                        <div class="col-lg-6 col-md-6">
                                                            <select name="files[extra__NUM__]" class="input-field">
                                                                <option value="">{% trans %} lender-profile_completeness-form-select-label {% endtrans %}</option>
                                                                {% for attachment in attachmentTypes %}
                                                                    <option value="{{ attachment.id }}">{{ attachment.label }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="custom-input-file" id="form-extrafile" data-fileattach data-fileattach-inputname="extra__NUM__" data-fileattach-maxfiles="1" data-fileattach-filetypes="pdf jpg jpeg png tiff doc docx"></div><!-- /.ui-fileattach -->
                                                        </div>
                                                    </div><!-- /.file-upload-extra -->
                                                </div><!-- /.ui-template-definition -->

                                                <div class="form-extrafiles-list">
                                                    <div class="form-field row row-multi-col-computer" style="margin-bottom: 0">
                                                        <div class="col-lg-6 col-md-6" style="margin-bottom: 0">
                                                            <label class="field-label">{% trans %} lender-profile_completeness-form-document-type-column-title {% endtrans %}</label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 hide-mobile" style="margin-bottom: 0">
                                                            <div class="field-label">{% trans %} lender-profile_completeness-form-column-title {% endtrans %}</div>
                                                        </div>
                                                    </div>

                                                    <div class="form-field file-upload-extra row row-multi-col-computer">
                                                        <div class="col-lg-6 col-md-6">
                                                            <select name="files[file]" class="input-field">
                                                                <option value="">{% trans %} lender-profile_completeness-form-select-label {% endtrans %}</option>
                                                                {% for attachment in attachmentTypes %}
                                                                    <option value="{{ attachment.id }}">{{ attachment.label }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="custom-input-file" id="form-file" data-fileattach data-fileattach-inputname="file" data-fileattach-maxfiles="1" data-fileattach-filetypes="pdf jpg jpeg png tiff doc docx" data-formvalidation-input data-formvalidation-required='input[type="file"][name="file[0]"]'></div><!-- /.ui-fileattach -->
                                                        </div>
                                                    </div>

                                                    {# Other files will get added here #}
                                                </div><!-- /.form-extrafiles-list -->

                                                <a href="javascript:;" class="btn-default btn-shape-sq-md ui-form-extrafiles-add">
                                                    <span class="icon fa-plus-u16 c-t2"></span>
                                                    <span class="sr-only">{% trans %} lender-profile_completeness-form-add-file-label {% endtrans %}</span>
                                                </a>
                                            </div><!-- /.form-field -->
                                        </div><!-- /.form-field -->
                                    </div>
                                    <div class="row">
                                        <div class="row reverse btn-controls tab-footer">
                                            <div class="col-submit col-lg-7 col-md-7">
                                                <button type="submit" class="btn-primary" data-spinnerbutton>
                                                    <span class="icon fa-check-u16"></span>
                                                    {% trans %} lender-profile_completeness-form-submit-button {% endtrans %}
                                                </button>
                                            </div>
                                        </div><!-- /.btn-controls.tab-footer -->
                                    </div>
                                </fieldset>
                            </div>
                        </form>
                    </section><!-- /.ui-toggle-group -->
                </article><!-- /.panel -->
            </div>
        </div>
    </div>
{% endblock %}
