{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <style>
        .fa-arrow-up {
            color: #009933;
        }

        .fa-arrow-down {
            color: #FF0000;
        }
    </style>
{% endblock %}

{% block pluginsJS %}
    <script src="{{ app.adminUrl }}/oneui/js/plugins/highcharts/highcharts.js"></script>
    <script src="{{ app.adminUrl }}/oneui/js/plugins/highcharts/modules/exporting.js"></script>
    <script src="{{ app.adminUrl }}/oneui/js/plugins/highcharts/modules/funnel.js"></script>
    <script src="{{ app.adminUrl }}/oneui/js/plugins/highcharts/highcharts.lang.fr.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        {% include 'dashboard/blocks/activite/sent_to_analysis.js.twig' %}
        {% include 'dashboard/blocks/activite/under_repayment.js.twig' %}
        {% include 'dashboard/blocks/activite/yoy_production.js.twig' %}
        {% include 'dashboard/blocks/activite/treatment_delay.js.twig' %}
        {% include 'dashboard/blocks/activite/number_by_last_status_all.js.twig' %}
    </script>
{% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        Activité commerciale
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-lg-4">
                <div class="block block-themed">
                    <div class="block-header bg-primary">
                        <h3 class="block-title">Projets en cours de traitement commercial</h3>
                    </div>
                    <div class="block-content text-center" style="padding-top: 26px; padding-bottom: 27px;">
                        <span class="h2 text-primary">{{ projectsInSalesTreatmentStatusCount }}</span> <small>projets</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block block-themed">
                    <div class="block-header bg-primary">
                        <h3 class="block-title">Émissions de la même période {{ 'now'|date('Y') }} vs {{ 'last year'|date('Y') }} (YoY)</h3>
                    </div>
                    <div class="block-content">
                        <div class="row items-push text-center">
                            <div class="col-xs-6 border-r">
                                <div class="h3 text-primary">{{ releasedProjectThisYearAmount|localizednumber }} €</div>
                                <div>
                                    {% if deltaYoyAmountInPercentage >= 0 %}
                                        <i class="fa fa-arrow-up"></i>
                                    {% elseif deltaYoyAmountInPercentage == 0 %}
                                        <i class="fa fa-arrow-right"></i>
                                    {% else %}
                                        <i class="fa fa-arrow-down"></i>
                                    {% endif %}
                                    {{ deltaYoyAmountInPercentage|localizednumber }} %
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="h3 text-primary">{{ releasedProjectThisYearCount }}</div>
                                <div>
                                    {% if deltaYoyCountInPercentage >= 0 %}
                                        <i class="fa fa-arrow-up"></i>
                                    {% elseif deltaYoyCountInPercentage == 0 %}
                                        <i class="fa fa-arrow-right"></i>
                                    {% else %}
                                        <i class="fa fa-arrow-down"></i>
                                    {% endif %}
                                    {{ deltaYoyCountInPercentage|localizednumber }} %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="block block-themed">
                    <div class="block-header bg-primary">
                        <h3 class="block-title">Émissions {{ 'last month'|date('m/Y') }} vs {{ '2 months ago'|date('m/Y') }} (MoM)</h3>
                    </div>
                    <div class="block-content">
                        <div class="row items-push text-center">
                            <div class="col-xs-6 border-r">
                                <div class="h3 text-primary">{{ releasedProjectLastMonthAmount|localizednumber }} €</div>
                                <div>
                                    {% if deltaMomAmountInPercentage >= 0 %}
                                        <i class="fa fa-arrow-up"></i>
                                    {% elseif deltaMomAmountInPercentage == 0 %}
                                        <i class="fa fa-arrow-right"></i>
                                    {% else %}
                                        <i class="fa fa-arrow-down"></i>
                                    {% endif %}
                                    {{ deltaMomAmountInPercentage|localizednumber }} %
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="h3 text-primary">{{ releasedProjectLastMonthCount }}</div>
                                <div>
                                    {% if deltaMomCountInPercentage > 0 %}
                                        <i class="fa fa-arrow-up"></i>
                                    {% elseif deltaMomCountInPercentage == 0 %}
                                        <i class="fa fa-arrow-right"></i>
                                    {% else %}
                                        <i class="fa fa-arrow-down"></i>
                                    {% endif %}
                                    {{ deltaMomCountInPercentage|localizednumber }} %
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="content-heading">Projets par canal d’arrivée (12 mois glissants)</h2>
        <div class="row">
            <div class="col-lg-6">
                <div class="block">
                    <div class="block-content block-content-full text-center">
                        <div id="sent-to-analysis"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="block">
                    <div class="block-content block-content-full text-center">
                        <div id="under-repayment"></div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="content-heading">Projets en cours</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="block-content block-content-full text-center">
                        <div id="number-by-last-status-all"></div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="content-heading">Émissions (en k€ & en nombre de projets)</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="block-content block-content-full text-center">
                        <div id="yoy-production"></div>
                    </div>
                </div>
            </div>
        </div>

        <h2 class="content-heading">Temps de traitement par statut (sauf reprises de FdC)</h2>
        <div class="row">
            <div class="col-lg-12">
                <div class="block">
                    <div class="block-content block-content-full text-center">
                        <div id="treatment-delay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
