{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function () {
            // Page helpers are initialised in app.js and can be called quickly using their name
            App.initHelpers(['validation', 'datepicker', 'datatables']);
            // Popup form submit
            $(document).on('submit', '#modal-status-problem form, #modal-debt-collection form, #modal-additional-fees form', function (e) {
                e.preventDefault()
                var $form = $(this)
                var $modal = $form.closest('.modal')
                var block = $form.find('.block')[0]
                // Don't allow negative values for amount
                if ($modal.is('#modal-additional-fees')) {
                    var errorToDisplay = '<small class="amount-error text-muted push-10-l"><em>Le montant est incorrect</em></small>'
                    var $amountVatFree = $form.find('[name=fee-amount-vat-free]')
                    var $amountVat     = $form.find('[name=fee-amount-vat]')
                    if (parseFloat($amountVatFree.val().replace(',', '.')) <= 0 || isNaN($amountVatFree.val().replace(',', '.'))) {
                        $amountVatFree.parent().addClass('has-error')
                        $amountVatFree.parent().find('label').append(errorToDisplay)
                        return
                    }
                    if (parseFloat($amountVat.val().replace(',', '.')) <= 0 || isNaN($amountVatFree.val().replace(',', '.'))) {
                        $amountVat.parent().addClass('has-error')
                        $amountVat.parent().find('label').append(errorToDisplay)
                        return
                    }
                }
                // Ajax if no errors
                if (!$form.find('.has-error').length) {
                    App.blocks(block, 'state_loading')
                    $.ajax({
                        url: $form.attr('action'),
                        type: 'POST',
                        data: $form.serialize(),
                        dataType: 'json',
                        success: function (response) {
                            if (response.success) {
                                location.reload()
                            } else {
                                var html = '<div class="alert alert-error">'
                                $.each(response.error, function(i, message){
                                    html += '<p>' + message + '</p>'
                                })
                                html += '</div>'
                                $form.find('.messages').html(html)
                                App.blocks(block, 'state_normal')
                            }
                        },
                        error: function (jqXHR, exception) {
                            console.log(jqXHR.status + ' : ' + exception)
                            $form.find('.messages').html('Une erreur est survenue.')
                            App.blocks(block, 'state_normal')
                        }
                    })
                }
            })
            // Reset popup on hide
            $(document).on('hidden.bs.modal', '#modal-status-problem, #modal-debt-collection, #modal-additional-fees', function (e) {
                var $modal = $(this)
                // Reset values
                $modal.find('.form-control').each(function(){
                    if ($(this).is('select') && $(this).val() == 0) {
                        // do nothing
                    } else {
                        $(this).val('')
                    }
                })
                // Reset errors
                $modal.find('.form-group').each(function(){
                    if ($(this).is('.has-error')) {
                        $(this).removeClass('has-error')
                    }
                })
                $modal.find('.messages').html('')
                $modal.find('.amount-error').remove()
            })
        })
    </script>
{% endblock %}

{% block modals %}
    <div class="modal fade in" id="modal-close-out-netting">
        <form class="modal-dialog validate" action="/dossiers/dechoir_terme" method="post">
            <div class="modal-content">
                <div class="messages"></div>
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Déchoir le terme</h5>
                    </div>
                    <div class="block-content">
                        <p>Cette action est irrévsersible. Voulez-vous confirmer la déchéance du terme ?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id_project" value="{{ projectData.projectId }}">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade in" id="modal-status-problem">
        <form class="modal-dialog validate" action="/dossiers/setProblematicStatus/{{ projectData.projectId }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Passer en statut problème</h5>
                    </div>
                    <div class="block-content">
                        <div class="messages"></div>
                        <div class="form-group">
                            <label>Envoyer un email d'information aux prêteurs</label> <br>
                            <label class="css-input css-radio css-radio-sm css-radio-default push-10-r">
                                <input type="radio" name="send_email" value="1" checked> <span></span> Oui
                            </label>
                            <label class="css-input css-radio css-radio-sm css-radio-default push-10-r">
                                <input type="radio" name="send_email" value="0"> <span></span> Non
                            </label>
                        </div>
                        <div class="form-group">
                            <label>Contenu de l'email</label>
                            <textarea name="mail_content" class="form-control required" rows="4">{{ 'projet_mail-info-passage-statut-probleme'|trans }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Message d'information aux prêteurs (site)</label>
                            <textarea name="site_content" class="form-control required" rows="4">{{ 'projet_info-passage-statut-probleme'|trans }}</textarea>
                        </div>
                        <div class="form-group">
                            <label>Envoyer un email d'information aux emprunteurs</label> <br>
                            <label class="css-input css-radio css-radio-sm css-radio-default push-10-r">
                                <input type="radio" name="send_email_borrower" value="1"> <span></span> Oui
                            </label>
                            <label class="css-input css-radio css-radio-sm css-radio-default push-10-r">
                                <input type="radio" name="send_email_borrower" value="0" checked> <span></span> Non
                            </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="problematic_status" value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::PROBLEME') }}">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade in" id="modal-debt-collection">
        <form class="modal-dialog validate" action="/debt_collection_mission/add/{{ projectData.projectId }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Ajouter une mission de recouvrement</h5>
                    </div>
                    <div class="block-content">
                        <div class="messages"></div>
                        <div class="form-group">
                            <label>Échéances</label>
                            <ul>
                                {% for payment in latePaymentsData %}
                                    {% if payment.remainingAmount > 0 %}
                                        <li>{{ payment.label }} - {{ payment.remainingAmount|localizedcurrency('EUR') }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Recouvreur</label>
                            <select class="form-control required" name="debt-collector-hash">
                                <option value="{{ debtCollector.hash }}">{{ debtCollector.nom }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Type de mission</label>
                            <select class="form-control required" name="debt-collection-type">
                                <option value="">Sélectionner</option>
                                <option value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_AMICABLE') }}">Amiable</option>
                                <option value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_LITIGATION') }}">Contentieux</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Taux (Pourcentage)</label>
                            <input class="form-control required" name="debt-collection-rate" type="text" placeholder="13">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade in" id="modal-additional-fees">
        <form class="modal-dialog validate" action="/debt_collection_mission/addCharge/{{ projectData.projectId }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Ajout de frais avancés par Unilend</h5>
                    </div>
                    <div class="block-content">
                        <div class="messages"></div>
                        <div class="form-group">
                            <label>Type de frais</label>
                            <select class="form-control required" name="fee-type">
                                <option value="0">Sélectionner</option>
                                {% for chargeType in projectChargeTypes %}
                                    <option value="{{ chargeType.id }}">{{ ('project-charge-type_' ~ chargeType.label|replace('_', '-')) | trans }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Montant HT</label>
                                    <input class="form-control required" type="text" name="fee-amount-vat-free">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Montant TVA</label>
                                    <input class="form-control required" type="text" name="fee-amount-vat">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Date de facture</label>
                            <input class="form-control js-datepicker required" type="text" name="fee-invoice-date" data-date-format="dd/mm/yy" placeholder="jj/mm/aa">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% if haseAccessRight %}
    {% block pageHeader %}
        <div class="pull-left">
            <a href="/dossiers/projets_avec_retard" class="text-muted"><span class="fa fa-arrow-left"></span>&nbsp;Projets avec retard</a>
        </div>
        <div class="pull-right">
            <small>SIREN : {{ projectData.siren }}</small>
            <small>|</small>
            <small>ID Projet : {{ projectData.projectId }}</small>
            <span class="label push-10-l ui-project-status-{{ projectData.projectStatus }}-bg ui-company-status-{{ projectData.companyStatusLabel }}-bg">
                {{ projectData.projectStatusLabel }}
            </span>
        </div>
        <h1 class="h3" style="clear:both; margin: 40px 0 30px">
            Impayés du projet <a href="/dossiers/edit/{{ projectData.projectId }}">{{ projectData.projectTitle }}</a>
        </h1>
    {% endblock %}

    {% block content %}
        <div class="content">
            <div class="block block-rounded">
                <div class="block-content block-content-full">
                    <div class="row">
                        {% if projectData.closeOutNettingDate is not empty %}
                            <div class="col-md-2">
                                <div class="font-s12 font-w600 text-uppercase">Terme déchu le</div>
                                <a class="h2 font-w300 text-primary">{{ projectData.closeOutNettingDate|localizeddate('short', 'none') }}</a>
                            </div>
                        {% endif %}
                        <div class="col-md-2">
                            <div class="font-s12 font-w600 text-uppercase">Retard Emprunteur</div>
                            <a class="h2 font-w300 text-primary">{{ projectData.totalRemainingAmount|localizedcurrency('EUR') }}</a>
                        </div>
                        <div class="col-md-2">
                            <div class="font-s12 font-w600 text-uppercase">Confié au recouvreur</div>
                            <a class="h2 font-w300 text-primary">{{ projectData.entrustedToDebtCollector > 0 ? projectData.entrustedToDebtCollector|localizedcurrency('EUR') : '0 €'}}</a>
                        </div>
                        <div class="col-md-2">
                            <div class="font-s12 font-w600 text-uppercase">Réceptions à traiter</div>
                            <a class="h2 font-w300 text-primary">{{ pendingWireTransferIn|length|localizednumber }}</a>
                        </div>
                        {% if projectData.collectiveProceeding.idStatus.label != constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\CompanyStatus::STATUS_IN_BONIS') %}
                            {% set companyStatusName = 'company-status_label-' ~ projectData.collectiveProceeding.idStatus.label|replace('_', '-') %}
                            <div class="col-md-2">
                                <div class="font-s12 font-w600 text-uppercase">{{ companyStatusName|trans }}</div>
                                <a class="h2 font-w300 text-primary">{{ projectData.collectiveProceeding.changedOn|localizeddate('short', 'none') }}</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="retards" class="block block-rounded">
                {% include 'dossiers/blocs/details_impayes/retards.html.twig' %}
            </div>
            <div id="debt-colletion" class="block block-rounded">
                {% include 'dossiers/blocs/details_impayes/recouvrements.html.twig' %}
            </div>
            <div id="fees" class="block block-rounded">
                {% include 'dossiers/blocs/details_impayes/frais.html.twig' %}
            </div>
            <div id="receptions" class="block block-rounded">
                {% include 'dossiers/blocs/details_impayes/receptions.html.twig' %}
            </div>
        </div>
    {% endblock %}
{% endif %}
