{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function(){
            // Page helpers are initialised in app.js and can be called quickly using their name
            App.initHelpers(['validation', 'datatables']);
            {% if projectWithPaymentProblems|length > 0 %}
                $('#late-payments-table').dataTable({
                    columnDefs: [
                        {targets: [3,4,5], type: 'formatted-num'}
                    ],
                    order: [[2, "asc"], [3, "desc"]]
                })
            {% endif %}
        })
    </script>
{% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        Retards
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Retard emprunteurs</h3>
                    </div>
                    <div class="block-content text-center">
                        <p class="h3 text-primary pull-t">{{ remainingAmountToCollect|localizedcurrency('EUR') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Réceptions à traiter</h3>
                    </div>
                    <div class="block-content text-center">
                        <p class="h3 text-primary pull-t">{{ pendingWireTransferInAmount|localizedcurrency('EUR') }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Projets en retard</h3>
                    </div>
                    <div class="block-content text-center">
                        <p class="h3 text-primary pull-t">{{ nbProjectsWithLateRepayments|localizednumber }}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3">
                <div class="block">
                    <div class="block-header">
                        <h3 class="block-title">Projets en recouvrement</h3>
                    </div>
                    <div class="block-content text-center">
                        <p class="h3 text-primary pull-t">{{ nbProjectsWithDebtCollection|localizednumber }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% if projectWithPaymentProblems|length > 0 %}
        <div class="block">
            <div class="block-content block-content-full">
                <table id="late-payments-table" class="table table-bordered table-header-bg table-hover">
                    <thead>
                    <tr>
                        <th style="width: 20%">
                            Projet
                        </th>
                        <th style="width: 7%">
                            Statut Projet
                        </th>
                        <th style="width: 8%">
                            Statut Société
                        </th>
                        <th style="width: 11%">
                            Nombre d'echeances impayés
                        </th>
                        <th style="width: 12%">
                            Déchéance du terme
                        </th>
                        <th style="width: 11%">
                            Retard emprunteur
                        </th>
                        <th style="width: 11%">
                            Confié au recouvreur
                        </th>
                        <th style="width: 10%">
                            Réceptions à traiter
                        </th>
                        <th style="width: 10%">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for projectId, project in projectWithPaymentProblems %}
                        <tr>
                            <td>
                                <a href="/dossiers/edit/{{ project.projectId }}">{{ project.projectTitle }}<br><span class="text-muted">ID : {{ projectId }}</span></a>
                            </td>
                            <td>
                               {{ project.projectStatusLabel }}
                            </td>
                            <td>
                                {{ project.companyStatusLabel }}
                            </td>
                            <td>
                                {{ project.overduePaymentScheduleCount }}
                                {% if project.closeOutNettingDate is not empty %}
                                    (à la date de DDT)
                                {% endif %}
                            </td>
                            <td>
                                {% if project.closeOutNettingDate is not empty %}
                                    {{ project.closeOutNettingDate|localizeddate('short', 'none') }}
                                {% endif %}
                            </td>
                            <td class="text-right">
                                {{ project.remainingAmount|localizedcurrency('EUR') }}
                            </td>
                            <td class="text-right">
                                {{ project.entrustedToDebtCollector > 0 ? project.entrustedToDebtCollector|localizedcurrency('EUR') : '0 €' }}
                            </td>
                            <td class="text-right">
                                {{ project.pendingWireTransferInAmount > 0 ? project.pendingWireTransferInAmount|localizedcurrency('EUR') : '0 €' }}
                            </td>
                            <td class="text-center">
                                <a href="/dossiers/details_impayes/{{ projectId }}" class="btn btn-xs btn-default">
                                    Voir le détail<span  class="fa fa-chevron-right push-5-l"></span>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="row font-s12">
                    <small class="label push-10-l ui-project-status-100-bg">&nbsp;</small> Retard
                    <small class="label push-10-l ui-company-status-precautionary_process-bg">&nbsp;</small> Procédure de sauvegarde
                    <small class="label push-10-l ui-company-status-receivership-bg">&nbsp;</small> Redressement judiciaire
                    <small class="label push-10-l ui-company-status-compulsory_liquidation-bg">&nbsp;</small> Liquidation judiciaire
                </div>
            </div>

        </div>
        {% endif %}
    </div>
{% endblock %}
