<!-- OneUI Core JS -->
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/bootstrap.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.auto-complete.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.scrollLock.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.slimscroll.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/jquery.placeholder.min.js"></script>
<script src="{{ app.adminUrl }}/oneui/js/core/js.cookie.min.js"></script>

<!-- Page Specific Plugins -->
{% block pluginsJS %} {% endblock %}

<script src="{{ app.adminUrl }}/oneui/js/app.js"></script>

<!-- Page Specific JS Scripts -->
{% block pageScripts %} {% endblock %}


</body>
</html>