<header class="block-stats-header">
    <h3>{% trans %} acpr-statistics_table-title {% endtrans %}</h3>
</header>
<div class="table-scroll">
    {% set maxColSpan = data|last|length + 1 %}
    <table class="table table-stats-unilend-interest">
        <thead>
            <tr>
                <th class="table-stats-unilend-item-label">&nbsp;</th>
                {% for quarter, value in data.incidenceRate %}
                    <th class="table-stats-unilend-item-value">{{ quarter|localizeddate('medium', 'none') }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="table-stats-unilend-item-label" colspan="{{ maxColSpan }}">{{ 'acpr-statistics_rate-1-amount-ifp'|trans|raw }}</td>
            </tr>
            <tr>
                <td class="table-stats-unilend-item-label">&nbsp;</td>
                {% for quarter, value in data.incidenceRate %}
                    <td class="table-stats-unilend-item-value">{{ value.amountIFP|localizednumberwithprecision(2) }}&nbsp;%</td>
                {% endfor %}
            </tr>
            <tr class="alt">
                <td class="table-stats-unilend-item-label" colspan="{{ maxColSpan }}">{{ 'acpr-statistics_rate-2-project-ifp'|trans|raw }}</td>
            </tr>
            <tr class="alt">
                <td class="table-stats-unilend-item-label">&nbsp;</td>
                {% for quarter, value in data.incidenceRate %}
                    <td class="table-stats-unilend-item-value">{{ value.projectsIFP|localizednumberwithprecision(2) }}&nbsp;%</td>
                {% endfor %}
            </tr>
            <tr>
                <td class="table-stats-unilend-item-label" colspan="{{ maxColSpan }}">{{ 'acpr-statistics_rate-3-ratio-ifp'|trans|raw }}</td>
            </tr>
            <tr>
                <td class="table-stats-unilend-item-label">&nbsp;</td>
                {% for quarter, value in data.incidenceRate %}
                    <td class="table-stats-unilend-item-value">
                        {% if value.ratioIFP is defined %}
                            {{ value.ratioIFP|localizednumberwithprecision(2) }}&nbsp;%
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr class="alt">
                <td class="table-stats-unilend-item-label" colspan="{{ maxColSpan }}">{{ 'acpr-statistics_rate-1-amount-cip'|trans|raw }}</td>
            </tr>
            <tr class="alt">
                <td class="table-stats-unilend-item-label">&nbsp;</td>
                {% for quarter, value in data.incidenceRate %}
                    <td class="table-stats-unilend-item-value">
                        {% if value.amountCIP is defined %}
                            {{ value.amountCIP|localizednumberwithprecision(2) }}&nbsp;%
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            <tr>
                <td class="table-stats-unilend-item-label" colspan="{{ maxColSpan }}">{{ 'acpr-statistics_rate-2-project-cip'|trans|raw }}</td>
            </tr>
            <tr>
                <td class="table-stats-unilend-item-label">&nbsp;</td>
                {% for quarter, value in data.incidenceRate %}
                    <td class="table-stats-unilend-item-value">
                        {% if value.projectsCIP is defined %}
                            {{ value.projectsCIP|localizednumberwithprecision(2) }}&nbsp;%
                        {% endif %}
                    </td>
                {% endfor %}
            <tr class="alt">
                <td class="table-stats-unilend-item-label" colspan="{{ maxColSpan }}">{{ 'acpr-statistics_rate-3-ratio-cip'|trans|raw }}</td>
            </tr>
            <tr class="alt">
                <td class="table-stats-unilend-item-label">&nbsp;</td>
                {% for quarter, value in data.incidenceRate %}
                    <td class="table-stats-unilend-item-value">
                        {% if value.ratioCIP is defined %}
                            {{ value.ratioCIP|localizednumberwithprecision(2) }}&nbsp;%
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div><!-- /.table-scroll -->
<div class="table-stats-acpr-legend">
    <h4 class="c-p1 remove-margin-t">{% trans %} acpr-statistics_table-legend {% endtrans %}</h4>
    <p>{% trans %} acpr-statistics_table-index-1 {% endtrans %}</p>
    <p>{% trans %} acpr-statistics_table-index-2 {% endtrans %}</p>
</div>



