{# Site Header for Dashboard #}
{# @note This file is produced as a workaround since Twig.JS doesn't correctly support embed tags #}
{#       See: partials/layouts/_dashboard.twig for more information #}

{% import 'extensions/_general.macros.twig' as general %}

{% set placeholderData = {
notifications: [{
type: 'offer-rejected',
title: 'Offre refusée',
datetime: 'now'|date_modify('-5 minutes')|time_diff,
content: 'Votre offre de prêt de 45€ au taux de 9,4% à Garage Toniol a été refusée.',
image: svgimage('#notification-offer-rejected', 'Offre refusée', 100, 100, 'none'),
status: 'unread'
},{
type: 'remboursement',
title: 'Remboursement',
datetime: 'now'|date_modify('-2 hours')|time_diff,
content: 'Vous avez reçu un remboursement de 12,35€ de Garage Toniol.',
image: svgimage('#notification-remboursement', 'Remboursement', 100, 100, 'none'),
status: 'unread'
},{
type: 'offer-accepted',
title: 'Remboursement',
datetime: 'now'|date_modify('-3 days')|date('j F, H:i'),
content: 'Vous avez reçu un remboursement de 12,35€ de Garage Toniol.',
image: svgimage('#notification-offer-accepted', 'Offre acceptée', 100, 100, 'none'),
status: 'unread'
},{
type: 'account',
title: 'Solde bas',
datetime: 'now'|date_modify('-4 days')|date('j F, H:i'),
content: '',
image: svgimage('#notification-account-lowbalance', 'Solde bas', 100, 100, 'none'),
status: 'read'
},{
type: 'remboursement',
title: 'Remboursement',
datetime: 'now'|date_modify('-5 days 8 hours 35 minutes')|date('j F, H:i'),
content: 'Vous avez reçu un remboursement de 12,35€ de Garage Toniol.',
image: svgimage('#notification-remboursement', 'Remboursement', 100, 100, 'none'),
status: 'read'
},{
type: 'remboursement',
title: 'Remboursement',
datetime: 'now'|date_modify('-5 days 15 hours 20 minutes')|date('j F, H:i'),
content: 'Vous avez reçu un remboursement de 12,35€ de Garage Toniol.',
image: svgimage('#notification-remboursement', 'Remboursement', 100, 100, 'none'),
status: 'read'
},{
type: 'project-added',
title: 'Nouveau projet',
datetime: 'now'|date_modify('-6.5 days')|date('j F, H:i'),
content: 'Created a new project.',
image: svgimage('#notification-project-added', 'Nouveau projet', 100, 100, 'none'),
status: 'read'
}]
} %}
{% set notifications = placeholderData.notifications %}

<header class="site-header site-header-dashboard">
    <div class="site-band"></div>

    <div class="site-header-inner">
        <div class="site-wrap">
            <h1 class="site-title"><a href="{{ route('/') }}" class="site-logo" tabindex="2">{{ site.title|default('Unilend') }}</a></h1>

            <div class="site-controls">

                {% block siteHeaderControls %}
                    <div class="site-user">
                        <div class="site-user-profile">
                            <div class="profile-avatar">
                                <a href="{{ route('user/preter/profile') }}">
                                    {{ userProfile.identity.prenom|first|upper }}{{ userProfile.identity.nom|first|upper }}
                                    {#{% set avatarSex = 'm' %}
                                    {% if userProfile.identity.civilite == 'madame' %}
                                      {% set avatarSex = 'f' %}
                                    {% endif %}
                                    {{ svgimage('avatar-' ~ avatarSex ~ '-level-' ~ userProfile.level, '', 60, 60) }} #}
                                </a>
                            </div><!-- /.profile-avatar -->
                            <a href="{{ route('user/preter/notifications') }}" class="profile-notifications">
                                {% set notificationsUnread = 0 %}
                                {% for i, item in notifications if item.status == 'unread' %}
                                    {% set notificationsUnread = notificationsUnread + 1 %}
                                {% endfor %}
                                {% if notificationsUnread > 0 %}{{ general.pip(notificationsUnread) }}{% endif %}
                            </a><!-- /.profile-notifications -->
                            <div class="profile-name">Bonjour {{ userProfile.identity.prenom }}</div>
                            <div class="profile-balance">
                                <span class="label">SIREN:</span>
                                <span class="value">438902363</span>
                            </div><!-- /.profile-balance -->
                            <a href="{{ route('home') }}" class="profile-logout link"><span class="label">Deconnexion</span></a>
                        </div><!-- /.site-user-profile -->
                    </div><!-- /.site-user -->
                {% endblock %}

            </div><!-- /.site-controls -->
        </div><!-- /.site-wrap -->
    </div><!-- /.site-header-inner -->
</header>
