{# Site Footer #}

<footer>
    {% if displayDisclaimer %}
        <div class="disclaimer">
            <div class="site-wrap">
                {% trans %} footer_disclaimer {% endtrans %}
            </div>
        </div>
    {% endif %}
    <div class="site-footer">
        <div class="site-wrap">
            {% block siteFooterNav %}
                <div class="row site-footer-nav">
                    {% for menu in menus %}
                    <div class="col-lg-3 col-md-3 col-sm-4">
                        <h4>{{ menu.title }}</h4>
                        <ul class="list-block">
                            {% for child in menu.children %}
                                <li>
                                    <a href="{{ child.url }}" target="{{ child.target }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}
                </div>
            {% endblock %}
            <div class="row">
                <div class="col-sub-left col-lg-4 col-md-4">
                    {% block siteFooterSubLeft %}
                        <ul class="list-socialmedia">
                            <li><a href="{{ setting('Facebook') }}" target="_blank" class="btn-facebook" title="{% trans %} common_facebook-link-title {% endtrans %}"><span class="sr-only">Facebook</span></a></li>
                            <li><a href="{{ setting('Twitter') }}" target="_blank" class="btn-twitter" title="{% trans %} common_twitter-link-title {% endtrans %}"><span class="sr-only">Twitter</span></a></li>
                            <li><a href="{{ setting('LinkedIn') }}" target="_blank" class="btn-linkedin" title="{% trans %} common_linkedin-link-title {% endtrans %}"><span class="sr-only">LinkedIn</span></a></li>
                        </ul><!-- /.list-sharing -->
                    {% endblock %}
                </div>
                <div class="col-sub-center col-lg-4 col-md-4">
                    {% block siteFooterSubCenter %}
                        <ul class="list-awards">
                            {% for partner in partners %}
                                <li>
                                    <img src="{{ uploadedImage(partner.src) }}" alt="{{ partner.alt }}" class="ui-has-tooltip" data-original-title="{{ partner.alt|e('html_attr') }}">
                                </li>
                            {% endfor %}
                        </ul>
                        <div class="site-tagline">{% trans %} footer_site-tagline {% endtrans %}</div>
                    {% endblock %}
                </div>
                <div class="col-sub-right col-lg-4 col-md-4">
                    {% block siteFooterSubRight %}
                        <div class="site-admin-nav">
                            <a href="{{ path('mentions-legales') }}">{% trans %} footer_small-mandatory-menu-legal-notice {% endtrans %}</a> |
                            <a href="{{ path('conditions-generales-dutilisation') }}">{% trans %} footer_small-mandatory-menu-terms {% endtrans %}</a> |
                            <a href="/search/conditions+generales+de+vente">{% trans %} footer_small-mandatory-menu-selling-terms {% endtrans %}</a> |
                            <a href="{{ path('securite') }}">{% trans %} footer_small-mandatory-menu-security {% endtrans %}</a> |
                            <a href="{{ path('sitemap') }}">{% trans %} footer_small-mandatory-menu-sitemap {% endtrans %}</a>
                        </div>
                        <p class="site-copyright">{% trans %} footer_copyright-all-rights {% endtrans %}</p>
                    {% endblock %}
                </div>
            </div>
        </div><!-- /.site-wrap -->
    </div><!-- /.site-footer -->
</footer>

{% block siteMobileMenu %}
    {% include 'partials/site/mobile-menu.html.twig' %}
{% endblock %}

{% block siteWarnings %}
    <!-- Site Warning: No JS enabled -->
    <noscript>
        <div class="site-warning">
            <div class="site-wrap">
                <h1>{% trans %} site-general_warning-no-javascript-title {% endtrans %}</h1>
                <p>{% trans %} site-general_warning-no-javascript-text {% endtrans %}</p>
                <div class="btn-toolbar">
                    <a href="{{ path('home') }}" class="btn-default">{% trans %} site-general_reload-website {% endtrans %}</a>
                </div>
            </div>
        </div>
    </noscript>

    <!-- Site Warning: Unsupported IE -->
    <!--[if lt IE 9]>
    <div class="site-warning">
        <div class="site-wrap">
            <h1>{% trans %} site-general_warning-unsupported-browser-title {% endtrans %}</h1>
            <p>{% trans %} site-general_warning-unsupported-browser-text {% endtrans %}</p>
            <div class="btn-toolbar">
                <a href="{{ path('home') }}" class="btn-default">{% trans %} site-general_warning-unsupported-browser-confirmation {% endtrans %}</a>
                <a href="http://www.browsehappy.com/" target="_blank" class="btn-default">{% trans %} site-general_warning-unsupported-browser-new-browser {% endtrans %}</a>
            </div>
        </div>
    </div>
    <![endif]-->
{% endblock %}
