{% import 'extensions/_general.macros.twig' as general %}

{% set bodyClassNames = 'layout-dashboard ui-user-level-' ~ app.user.level %}

<header class="site-header site-header-dashboard">
    <div class="site-band"></div>

    <div class="site-header-inner">
        <div class="site-wrap">
            <h1 class="site-title">
                <a href="{{ path('lender_profile') }}" class="site-logo" tabindex="2">{{ site.title|default('Unilend') }}</a>
            </h1>

            {% block siteHeaderNav %}
                <nav class="site-nav" role="navigation">
                    <ul class="site-nav-menu">
                        <li role="presentation"><a href="{{ path('home', {'type' : 'lender'}) }}" tabindex="2">{% trans %} header_menu-item-lend {% endtrans %}</a></li>
                        <li role="presentation"><a href="{{ path('home', {'type' : 'borrower'}) }}" tabindex="2">{% trans %} header_menu-item-borrow {% endtrans %}</a></li>
                        <li role="presentation"><a href="{{ path('projects_list') }}" tabindex="2">{% trans %} header_menu-item-projects {% endtrans %}</a></li>
                        <li role="presentation"><a href="{{ route('about') }}" tabindex="2">{% trans %} header_menu-item-about {% endtrans %}</a></li>
                    </ul>
                </nav><!-- /.site-nav -->
            {% endblock siteHeaderNav %}

            <div class="site-controls">
                {% block siteHeaderControls %}
                    <div class="site-user">
                        <a href="{{ path('lender_wallet') }}" class="site-user-balance">
                            <span class="label">{% trans %} header-connected_add-money-link {% endtrans %}</span>
                        </a><!-- /.site-user-balance -->

                        <div class="site-user-profile">
                            <div class="profile-avatar">
                                <a href="{{ path('lender_profile') }}">
                                    {{ app.user.initials }}
                                </a>
                            </div><!-- /.profile-avatar -->

                            <a href="{{ route('user/preter/notifications') }}" class="profile-notifications" data-usernotificationsdrop>
                                {% set notificationsUnread = 0 %}
                                {#{% for i, item in notifications if item.status == 'unread' %}#}
                                    {#{% set notificationsUnread = notificationsUnread + 1 %}#}
                                {#{% endfor %}#}
                                {# TODO: check after DEV-574 if this iteration on all notification is of any use #}
                                {% if app.user.notificationsUnread > 0 %}{{ general.pip(app.user.notificationsUnread) }}{% endif %}
                            </a><!-- /.profile-notifications -->
                            <div class="profile-name">{% trans with {'%firstName%' : app.user.firstName} %} header-connected_greeting {% endtrans %} </div>
                            <div class="profile-balance">
                                {% trans with {'%balance%' : app.user.balance|default(0)|localizedcurrency('EUR')} %} header-connected_balance {% endtrans %}
                            </div><!-- /.profile-balance -->
                            <a href="{{ path('logout') }}" class="profile-logout link"><span class="label">{% trans %} header-connected_logout {% endtrans %}</span></a>
                        </div><!-- /.site-user-profile -->
                    </div><!-- /.site-user -->
                {% endblock %}
            </div><!-- /.site-controls -->
        </div><!-- /.site-wrap -->
    </div><!-- /.site-header-inner -->
</header>
