{# Site Mobile Menu #}

<div id="site-mobile-menu" class="site-mobile-menu" role="dialog" aria-hidden="true">
    <a href="javascript:;" tabindex="-1" class="site-mobile-menu-close" role="button"><span class="icon fa-close-u16"></span>
        <span class="sr-only">{% trans %} header_mobile-menu-close {% endtrans %}</span>
    </a>

    <form action="{{ path('search') }}" method="post" class="site-mobile-search" role="search">
        <label for="site-mobile-search-input" class="site-mobile-search-toggle" role="button"><span class="sr-only">{% trans %} site-general_search-label {% endtrans %}</span></label>
        <div class="site-mobile-search-inner">
            <div class="form-field-inline">
                <div class="btn-group">
                    <button class="btn-search" tabindex="-1"><span class="sr-only">{% trans %}site-general_search-submit {% endtrans %}</span></button>
                </div>
                <input id="site-mobile-search-input" type="text" name="search" placeholder="{% trans %} site-general_search-placeholder {% endtrans %}" tabindex="1" class="input-field site-mobile-search-input">
            </div>
        </div><!-- /.site-mobile-search-inner -->
    </form><!-- /.site-mobile-search -->

    <nav class="site-nav" role="navigation">
        <ul class="site-nav-menu">
            {% if not is_granted('ROLE_PARTNER') %}
                <li role="presentation"><a href="{{ path('home') }}" tabindex="-1">{% trans %} header_mobile-menu-home {% endtrans %}</a></li>
                {% if app.user is defined and app.user is not empty %}
                    {% if is_granted('ROLE_LENDER') %}
                        <li role="presentation"><a href="{{ path('pourquoi-preter') }}" tabindex="-1">{% trans %} header_menu-item-lend {% endtrans %}</a></li>
                        <li role="presentation"><a href="{{ path('projects_list') }}" tabindex="-1">{% trans %} header_menu-item-projects {% endtrans %}</a></li>
                    {%  endif %}
                    {% if is_granted('ROLE_BORROWER') %}
                        <li role="presentation"><a href="{{ path('pourquoi-emprunter') }}" tabindex="-1">{% trans %} header_menu-item-borrow {% endtrans %}</a></li>
                    {%  endif %}
                {% else %}
                    <li role="presentation"><a href="{{ path('pourquoi-preter') }}" tabindex="-1">{% trans %} header_menu-item-lend {% endtrans %}</a></li>
                    <li role="presentation"><a href="{{ path('pourquoi-emprunter') }}" tabindex="-1">{% trans %} header_menu-item-borrow {% endtrans %}</a></li>
                    <li role="presentation"><a href="{{ path('projects_list') }}" tabindex="-1">{% trans %} header_menu-item-projects {% endtrans %}</a></li>
                {% endif %}
                <li role="presentation"><a href="{{ path('qui-sommes-nous') }}" tabindex="-1">{% trans %} header_menu-item-about {% endtrans %}</a></li>
                <li role="presentation"><a href="{% if is_granted('ROLE_BORROWER') %}https://blog.unilend.fr/financement-des-pme/ {% else %}https://blog.unilend.fr/{% endif %}" tabindex="-1">{% trans %} header_menu-item-blog {% endtrans %}</a></li>
            {% endif %}
        </ul>
        {% include 'partials/components/list-socialmedia.html.twig' %}
    </nav><!-- /.site-nav -->
</div><!-- /.site-mobile-menu -->
