{# Site User Mobile Menu #}

<div id="site-user-mobile-menu" class="site-user-mobile-menu" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="site-user-mobile-menu-inner">
        <a href="javascript:;" class="user-menu-close" data-site-user-menu-toggle>
            <span class="icon fa-angle-r-u"></span>
            <span class="sr-only">{% trans %} mobile-navigation_close-button {% endtrans %}</span>
        </a>

        <div class="user-greeting">
            {% trans %} mobile-navigation_greeting {% endtrans %}
            <div class="user-name">{{ app.user.firstName }}</div>
        </div>

        <nav class="site-user-nav" role="navigation">
            <ul class="site-user-nav-menu">
                {% if is_granted('ROLE_LENDER') %}
                    <li role="presentation" class="user-nav-major user-nav-dashboard ">
                        <a href="javascript:;" class="ui-open-usernotificationsdrop">
                            <span class="icon fa-bell-u32"></span>
                            <div class="label">
                                {% trans %} mobile-navigation_notifications-link {% endtrans %}
                                {% if app.user.unreadNotificationsCount is defined %}
                                    <span class="ui-usernotifications-unreadcount" data-usernotifications-unreadcount title="{{ 'mobile-navigation_notifications-link'|trans|e('html_attr') }}"></span>
                                {% endif %}
                            </div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-dashboard {% if app.request.attributes.get('_route') == 'lender_dashboard' %} active {% else %} complete {% endif %}">
                        <a href="{{ path('lender_dashboard') }}">
                            <span class="icon fa-dashboard-u"></span>
                            <div class="label">{% trans %} lender-dashboard-navigation_dashboard-link {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-balance {% if app.request.attributes.get('_route') in ['lender_wallet_deposit', 'lender_wallet_withdrawal'] %} active {% else %} complete {% endif %}">
                        <a href="{{ path('lender_wallet_deposit') }}">
                            <span class="icon fa-money-u32"></span>
                            <div class="label">{% trans %} lender-dashboard-navigation_wallet-link {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-projects {% if app.request.attributes.get('_route') == 'lender_projects' %} active {% else %} complete {% endif %}">
                        <a href="{{ path('lender_projects') }}">
                            <span class="icon fa-project-u"></span>
                            <div class="label">{% trans %} lender-dashboard-navigation_projects-link {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-operations {% if app.request.attributes.get('_route') == 'lender_operations' %} active {% else %} complete {% endif %}">
                        <a href="{{ path('lender_operations') }}">
                            <span class="icon fa-operations-u"></span>
                            <div class="label">{% trans %} lender-dashboard-navigation_operations-link {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-profile {% if app.request.attributes.get('_route') == 'lender_profile' %} active {% else %} complete {% endif %}">
                        <a href="{{ path('lender_profile') }}">
                            <span class="icon fa-profile-u"></span>
                            <div class="label">{% trans %} lender-dashboard-navigation_profile-link {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-minor">
                        <a href="{{ path(constant('\\Unilend\\Bundle\\FrontBundle\\Service\\RouteProvider::ROUTE_LENDER_FAQ')) }}">
                            <span class="icon fa-question-circle-o"></span>
                            <div class="label">{% trans %} mobile-navigation_lender-faq-link {% endtrans %}</div>
                        </a>
                    </li>
                {% elseif is_granted('ROLE_BORROWER') %}
                    <li role="presentation" class="user-nav-major user-nav-dashboard {% if app.request.get('_route') == 'borrower_account_projects' or app.request.get('_route') == 'borrower_account_new_demand' %} active {% endif %}">
                        <a href="{{ path('partner_project_request') }}">
                            <span class="icon fa-project-u"></span>
                            <div class="label">{% trans %} borrower-account-nav_your-projects {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-operations {% if app.request.get('_route') == 'borrower_account_operations' %} active {% endif %}">
                        <a href="{{ path('borrower_account_operations') }}">
                            <span class="icon fa-operations-u"></span>
                            <div class="label">{% trans %} borrower-account-nav_your-operations {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-profile{% if app.request.get('_route') == 'borrower_account_profile' %} active {% endif %}">
                        <a href="{{ path('borrower_account_profile') }}">
                            <span class="icon fa-profile-u"></span>
                            <div class="label">{% trans %} borrower-account-nav_profile {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-contact{% if app.request.get('_route') == 'borrower_account_contact' %} active{% endif %}">
                        <a href="{{ path('borrower_account_contact') }}">
                            <span class="icon fa-pen-u"></span>
                            <div class="label">{% trans %} borrower-account-nav_contact {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-minor">
                        <a href="{{ path(constant('\\Unilend\\Bundle\\FrontBundle\\Service\\RouteProvider::ROUTE_BORROWER_FAQ')) }}">
                            <span class="icon fa-question-circle-o"></span>
                            <div class="label">{% trans %} borrower-account-nav_faq {% endtrans %}</div>
                        </a>
                    </li>
                {% elseif is_granted('ROLE_PARTNER') %}
                    <li role="presentation" class="user-nav-major user-nav-project-request{% if app.request.get('_route') == 'partner_project_request' %} active{% endif %}">
                        <a href="{{ path('partner_project_request') }}">
                            <span class="icon fa-pen-u"></span>
                            <div class="label">{% trans %} mobile-navigation_partner-project-request {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-project{% if app.request.get('_route') == 'partner_projects_list' %} active{% endif %}">
                        <a href="{{ path('partner_projects_list') }}">
                            <span class="icon fa-project-u"></span>
                            <div class="label">{% trans %} mobile-navigation_partner-projects-list {% endtrans %}</div>
                        </a>
                    </li>

                    {% if is_granted(constant('\\Unilend\\Bundle\\FrontBundle\\Security\\User\\UserPartner::ROLE_ADMIN')) %}
                        <li role="presentation" class="user-nav-major user-nav-users{% if app.request.get('_route') == 'partner_users' %} active{% endif %}">
                            <a href="{{ path('partner_users') }}">
                                <span class="icon fa-profile-u"></span>
                                <div class="label">{% trans %} mobile-navigation_partner-users {% endtrans %}</div>
                            </a>
                        </li>
                    {% endif %}

                    <li role="presentation" class="user-nav-major user-nav-statistics{% if app.request.get('_route') == 'partner_statistics' %} active{% endif %}">
                        <a href="{{ path('partner_statistics') }}">
                            <span class="icon fa-linegraph-u"></span>
                            <div class="label">{% trans %} mobile-navigation_partner-statistics {% endtrans %}</div>
                        </a>
                    </li>

                    <li role="presentation" class="user-nav-major user-nav-contact{% if app.request.get('_route') == 'partner_contact' %} active{% endif %}">
                        <a href="{{ path('partner_contact') }}">
                            <span class="icon fa-question-circle-o"></span>
                            <div class="label">{% trans %} mobile-navigation_partner-contact {% endtrans %}</div>
                        </a>
                    </li>
                {% endif %}

                <li role="presentation" class="user-nav-minor">
                    <a href="{{ path('search') }}" class="ui-open-site-search">
                        <span class="icon fa-search"></span>
                        <div class="label">{% trans %} mobile-navigation_search-link {% endtrans %}</div>
                    </a>
                </li>

                <li role="presentation" class="user-nav-minor">
                    <a href="{{ path('contact') }}">
                        <span class="icon fa-envelope-o"></span>
                        <div class="label">{% trans %} mobile-navigation_contact-link {% endtrans %}</div>
                    </a>
                </li>

                <li role="presentation" class="user-nav-minor">
                    <a href="{{ path('logout') }}">
                        <span class="icon fa-power-off"></span>
                        <div class="label">{% trans %} mobile-navigation_logout-link {% endtrans %}</div>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="user-site-tagline">{% trans %} footer_site-tagline {% endtrans %}</div>
    </div>
</div><!-- /#site-user-mobile-menu -->
