{# Site Map / Plan du Page #}
{% extends 'layouts/_page-simple.twig' %}

{# Page data #}
{% set bodyId = '' %}
{% set page = {
  id: 'page-sitemap',
  title: 'Plan du site',
  permalink: route('sitemap')
} %}

{% block extendPageHeader %}
  <div class="page-header-image">{{ svgimage('#header-plandusite', 'Plan du site', 300, 300, 'contain') }}</div>
{% endblock %}

{% block pageAsideBody %}
  <div class="page-aside-body hide-xs hide-sm c-p1" style="text-align: center;">
    {{ svgimage('#misc-computermapmarker', 'Plan du site', 500, 500, 'contain') }}
  </div><!-- /.page-aside-body -->
{% endblock %}

{% block pageContentBody %}
  <section class="page-section">
    <h2 class="link"><a href="{{ route('/') }}">Home</a></h2>

    <h2 class="link"><a href="{{ route('preter') }}">Prêter</a></h2>
    <ul class="list-links">
      <li><a href="{{ route('preter/guide') }}">Guide du prêteur</a></li>
      <li><a href="{{ route('preter/fiscalite') }}">Fiscalité</a></li>
      <li><a href="{{ route('preter/performance') }}">Performance de vos prêts</a></li>
      <li><a href="{{ route('preter/documents') }}">Documents à fournir</a></li>
      <li><a href="{{ route('preter/new') }}">Devenir prêteur</a></li>
    </ul>

    <h2 class="link"><a href="{{ route('emprunter') }}">Emprunter</a></h2>
    <ul class="list-links">
      <li><a href="{{ route('emprunter/guide') }}">Guide du emprunteur</a></li>
      <li><a href="{{ route('emprunter/testimonials') }}">Témoignages</a></li>
      <li><a href="{{ route('emprunter/new') }}">Présenter un projet</a></li>
    </ul>

    <h2 class="link"><a href="{{ route('projets') }}">Projets</a></h2>

    <h2 class="link"><a href="{{ route('apropos') }}">À propos</a></h2>
    <ul class="list-links">
      <li><a href="{{ route('apropos/quisommesnous') }}">Qui sommes nous&nbsp;?</a></li>
      <li><a href="{{ route('apropos/commentcamarche') }}">Comment ça marche&nbsp;?</a></li>
      <li><a href="{{ route('apropos/chartededeontologie') }}">Charte de déontologie</a></li>
      <li><a href="{{ route('apropos/statistiques') }}">Statistiques</a></li>
    </ul>

    <h2 class="link"><a href="{{ route('user/access') }}">Connexion / Inscription</a></h2>
    <ul class="list-links">
      <li><a href="{{ route('user/forgotpassword') }}">Mot de passe oublié</a></li>
    </ul>

    <ul class="list-links">
      <li><a href="{{ route('contact') }}">Nous contacter</a></li>
      <li><a href="{{ route('recrutement') }}">Recrutement</a></li>
      <li><a href="{{ route('presse') }}">Presse</a></li>
      <li><a href="{{ route('securite') }}">Sécurité</a></li>
      <li><a href="{{ route('legal') }}">Mentions Légales</a></li>
      <li><a href="{{ route('error') }}">Error</a></li>
    </ul>
  </section><!-- /.page-section -->
{% endblock %}
