{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pluginsJS %}
    <script src="{{ adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="{{ adminUrl }}/oneui/js/plugins/bootstrap-notify/bootstrap-notify.min.js"></script>
{% endblock %}

{% block pageScripts %}
    <script src="{{ adminUrl }}/oneui/js/pages/sponsorship.js?{{ app.staticsKey }}"></script>
{% endblock %}

{% block modals %}
     <a id="js-alerts-trigger" class="js-notify" data-notify-message=""></a>
     <a id="js-modal-trigger" data-toggle="modal" data-target=""></a>

     <div class="modal" id="modal-parrainage-list" tabindex="-1" role="dialog" aria-hidden="true">
         <form class="modal-dialog validate" action="{{ app.adminUrl }}/parrainage/create_new_campaign" method="post">
             <div class="modal-content">
                 <div class="block block-themed block-transparent remove-margin-b">
                     <div class="block-header bg-primary-light">
                         <h3 class="block-title"></h3>
                     </div>
                     <div class="block-content">
                         <div class="form-group">
                             <label>Début de l'offre</label>
                             <input type="text" name="start" class="js-datepicker form-control required" data-date-format="dd/mm/yyyy">
                         </div>
                         <div class="form-group">
                             <label>Fin de l'offre</label>
                             <input type="text" name="end" class="js-datepicker form-control required" data-date-format="dd/mm/yyyy">
                         </div>
                         <div class="form-group">
                             <label>Durée de validité (jours)</label> <br>
                             <input type="number" name="validity_days" class="form-control required">
                         </div>
                         <div class="form-group">
                             <label>Montant (filleul)</label> <br>
                             <input type="number" name="amount_sponsee" class="form-control required">
                         </div>
                         <div class="form-group">
                             <label>Montant (parrain)</label> <br>
                             <input type="number" name="amount_sponsor" class="form-control required">
                         </div>
                         <div class="form-group">
                             <label>Nombre maximum de filleuls par parrain</label> <br>
                             <input type="number" name="max_number_sponsee" class="form-control required">
                         </div>

                         <input type="hidden" name="id_campaign">
                         <input type="hidden" name="modify_campaign">
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                     <button class="btn btn-sm btn-primary" type="submit">Modifier</button>
                 </div>
             </div>
         </form>
     </div>
     <div class="modal" id="modal-blacklist-search" tabindex="-1" role="dialog" aria-hidden="true">
         <form class="modal-dialog validate" action="{{ app.adminUrl }}/parrainage/blacklist" method="post">
             <div class="modal-content">
                 <div class="block block-themed block-transparent remove-margin-b">
                     <div class="block-header bg-primary-light">
                         <h3 class="block-title">Client trouvé</h3>
                     </div>
                     <div class="block-content">
                         <p>Êtes-vous sûr de vouloir ajouter le client <span class="last-name text-uppercase"></span> <span class="first-name"></span> dans la blacklist ?</p>

                         <div class="form-group">
                             <label>Sélectionner une campagne</label>
                             <select name="campaign" class="form-control required">
                                 <option></option>
                                 <option value="all">Toutes les campagnes</option>
                                 {% if validCampaigns is defined and validCampaigns is not empty %}
                                     {% for campaign in validCampaigns %}
                                        <option value="{{ campaign.campaign.id }}">Campagne n°{{ campaign.campaign.id }}</option>
                                     {% endfor %}
                                 {% endif %}
                             </select>
                         </div>
                         <input type="hidden" name="id_client">
                         <input type="hidden" name="blacklist_client">
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                     <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                 </div>
             </div>
         </form>
     </div>
     <div class="modal" id="modal-prime-release" tabindex="-1" role="dialog" aria-hidden="true">
         <form class="modal-dialog validate" action="{{ app.adminUrl }}/parrainage/pay_out_reward" method="post">
             <div class="modal-content">
                 <div class="block block-themed block-transparent remove-margin-b">
                     <div class="block-header bg-primary-light">
                         <h3 class="block-title">Attribuer la prime</h3>
                     </div>
                     <div class="block-content">
                         <p>Êtes-vous sûr de vouloir débloquer la prime <span class="type"></span> ?</p>
                         <input type="hidden" name="pay_out_reward">
                         <input type="hidden" name="id_client">
                         <input type="hidden" name="type_reward">
                         <input type="hidden" name="id_sponsorship">
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                     <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                 </div>
             </div>
         </form>
     </div>
     <div class="modal" id="modal-establish-link" tabindex="-1" role="dialog" aria-hidden="true">
         <form class="modal-dialog" action="{{ app.adminUrl }}/parrainage/create_sponsorship_confirm" method="post">
             <div class="modal-content">
                 <div class="block block-themed block-transparent remove-margin-b">
                     <div class="block-header bg-primary-light">
                         <h3 class="block-title">Créer une association parrain-filleul</h3>
                     </div>
                     <div class="block-content">
                         <p>Êtes-vous sûr de vouloir associer les clients ?</p>

                         <input type="hidden" name="create_sponsorship_confirm">
                         <input type="hidden" name="id_client_sponsor">
                         <input type="hidden" name="id_client_sponsee">
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                     <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                 </div>
             </div>
         </form>
     </div>
 {% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        Gestion des parrainages
    </h1>
{% endblock %}

{% block content %}
    <div id="parrainage-summary" class="content bg-white border-b">
        <div class="row items-push">
            <div class="col-md-2">
                <div class="font-w600 text-gray-darker">Parrains</div>
                <div class="h2 font-w300 text-primary">{{ totalSponsor }}</div>
            </div>
            <div class="col-md-2">
                <div class="font-w600 text-gray-darker">Filleuls</div>
                <div class="h2 font-w300 text-primary">{{ totalSponsee }}</div>
            </div>
            <div class="col-md-2">
                <div class="font-w600 text-gray-darker">Distribué aux parrains</div>
                <div class="h2 font-w300 text-primary">{{ totalRewardPaidOutSponsor|localizedcurrency('EUR') }}</div>
            </div>
            <div class="col-md-2">
                <div class="font-w600 text-gray-darker">Distribué aux filleuls</div>
                <div class="h2 font-w300 text-primary">{{ totalRewardPaidOutSponsee|localizedcurrency('EUR') }}</div>
            </div>
            <div class="col-md-3">
                <div class="font-w600 text-gray-darker">Encore disponible * </div>
                <div class="h2 font-w300 text-primary">{{ unilendPromotionalBalance|localizedcurrency('EUR') }}</div>
                * <small>(Attention, argent partagé avec les offres de bienvenue)</small>
            </div>
        </div>
    </div><!-- /#parrainage-summary -->
    <div class="content">
        <div id="parrainage-create-campaign" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Créer une campagne de parrainage</h3>
            </div>
            <div class="block-content block-content-full">
                <form method="post" action="{{ app.adminUrl }}/parrainage/create_new_campaign" class="form-inline validate push">
                    <div class="form-group">
                        <label>Début de l'offre</label> <br>
                        <input type="text" name="start" class="js-datepicker form-control required" data-date-format="dd/mm/yyyy">
                    </div>
                    <div class="form-group push-5-l">
                        <label>Fin de l'offre</label> <br>
                        <input type="text" name="end" class="js-datepicker form-control required" data-date-format="dd/mm/yyyy">
                    </div>
                    <div class="form-group push-5-l">
                        <label>Durée de validité (jours)</label> <br>
                        <input type="number" name="validity_days" class="form-control required">
                    </div>
                    <div class="form-group push-5-l">
                        <label>Montant  (filleul)</label> <br>
                        <input type="number" name="amount_sponsee" class="form-control required">
                    </div>
                    <div class="form-group push-5-l">
                        <label>Montant (parrain)</label> <br>
                        <input type="number" name="amount_sponsor" class="form-control required">
                    </div>
                    <div class="form-group push-5-l">
                        <label>Nombre max. filleuls/parrain</label> <br>
                        <input type="number" name="max_number_sponsee" class="form-control required">
                    </div>
                    <div class="form-group push-5-l">
                        <input type="hidden" name="create_new_campaign">

                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </form>

                {% if formErrors.newCampaign is defined and formErrors.newCampaign is not empty %}
                    <div class="alert">
                        {% for error in formErrors.newCampaign %}
                            {% if error is iterable %}
                                <ul class="hide">
                                    {% for technicalError in error %}
                                        <li>{{ technicalError }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{{ error }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if formSuccess.newCampaign is defined and formSuccess.newCampaign is not empty %}
                    <div class="alert alert-success">
                        <p>{{ formSuccess.newCampaign }}</p>
                    </div>
                {% endif %}
            </div>
        </div><!-- /#parrainage-create-campaign -->
        <div id="parrainage-list-ongoing" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Liste des campagnes en cours</h3>
            </div>
            <div class="block-content block-content-full">
                {% if formErrors.modifyCampaign is defined and formErrors.modifyCampaign is not empty %}
                    <div class="alert">
                        {% for error in formErrors.modifyCampaign %}
                            {% if error is iterable %}
                                <ul class="hide">
                                    {% for technicalError in error %}
                                        <li>{{ technicalError }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{{ error }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if formSuccess.modifyCampaign is defined and formSuccess.modifyCampaign is not empty %}
                    <div class="alert alert-success">
                        <p>{{ formSuccess.modifyCampaign }}</p>
                    </div>
                {% endif %}
                <table id="parrainage-list-campaign-table" class="table table-bordered table-striped table-hover table-header-bg" data-table>
                    <thead>
                        <tr>
                            <th class="id">N° de campagne</th>
                            <th class="start">Début de l'offre</th>
                            <th class="end">Fin de l'offre</th>
                            <th class="validity">Validité</th>
                            <th class="amount-sponsee">Montant (filleul)</th>
                            <th class="amount-sponsor">Montant (parrain)</th>
                            <th class="max-sponsee">Nombre max. <br>filleuls/parrain</th>
                            <th class="number-sponsor">Parrains</th>
                            <th class="number-sponsee">Filleuls</th>
                            <th class="total-amount-sponsor">Distribué aux parrains</th>
                            <th class="total-amount-sponsee">Distribué aux filleuls</th>
                            <th class="action">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for campaignData in validCampaigns %}
                            <tr>
                                <td>{{ campaignData.campaign.id }}</td>
                                <td>{{ campaignData.campaign.start|date('d/m/Y') }}</td>
                                <td>{{ campaignData.campaign.end|date('d/m/Y') }}</td>
                                <td>{{ campaignData.campaign.validityDays }} jours</td>
                                <td>{{ campaignData.campaign.amountSponsee|localizedcurrency('EUR') }}</td>
                                <td>{{ campaignData.campaign.amountSponsor|localizedcurrency('EUR') }}</td>
                                <td>{{ campaignData.campaign.maxNumberSponsee|localizednumber }}</td>
                                <td>{{ campaignData.numberSponsor|localizednumber }}</td>
                                <td>{{ campaignData.numberSponsee|localizednumber }}</td>
                                <td>{{ campaignData.paidOutRewardSponsor|localizedcurrency('EUR') }}</td>
                                <td>{{ campaignData.paidOutRewardSponsee|localizedcurrency('EUR') }}</td>
                                <td>
                                    <button class="btn btn-primary btn-xs" data-toggle="modal" data-target="#modal-parrainage-list" data-campaign-id="{{ campaignData.campaign.id }}"><span class="fa fa-pencil"></span></button>
                                </td>
                            </tr>
                        {%  endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- /#parrainage-list-campaign -->
        <div id="parrainage-list-expired" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Liste des campagnes terminées</h3>
            </div>
            <div class="block-content block-content-full">
                <table id="parrainage-list-expired-campaign-table" class="table table-bordered table-striped table-hover table-header-bg" data-table>
                    <thead>
                        <tr>
                            <th class="id">N° de campagne</th>
                            <th class="start">Début de l'offre</th>
                            <th class="end">Fin de l'offre</th>
                            <th class="validity">Validité</th>
                            <th class="amount-sponsee">Montant (filleul)</th>
                            <th class="amount-sponsor">Montant (parrain)</th>
                            <th class="max-sponsee">Nombre max. <br>filleuls/parrain</th>
                            <th class="number-sponsor">Parrains</th>
                            <th class="number-sponsee">Filleuls</th>
                            <th class="total-amount-sponsor">Distribué aux parrains</th>
                            <th class="total-amount-sponsee">Distribué aux filleuls</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for campaignData in archivedCampaigns %}
                        <tr>
                            <td>{{ campaignData.campaign.id }}</td>
                            <td>{{ campaignData.campaign.start|date('d/m/Y') }}</td>
                            <td>{{ campaignData.campaign.end|date('d/m/Y') }}</td>
                            <td>{{ campaignData.campaign.validityDays }} jours</td>
                            <td>{{ campaignData.campaign.amountSponsee|localizedcurrency('EUR') }}</td>
                            <td>{{ campaignData.campaign.amountSponsor|localizedcurrency('EUR') }}</td>
                            <td>{{ campaignData.campaign.maxNumberSponsee|localizednumber }}</td>
                            <td>{{ campaignData.numberSponsor|localizednumber }}</td>
                            <td>{{ campaignData.numberSponsee|localizednumber }}</td>
                            <td>{{ campaignData.paidOutRewardSponsor|localizedcurrency('EUR') }}</td>
                            <td>{{ campaignData.paidOutRewardSponsee|localizedcurrency('EUR') }}</td>
                        </tr>
                    {%  endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- /#parrainage-list-campaign -->
        <div id="parrainage-adjust-prime" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Attribution manuelle de la prime de parrainage</h3>
            </div>
            <div class="block-content">
                <form id="parrainage-adjust-prime-search" method="post" action="{{ app.adminUrl }}/parrainage/search_sponsorship" class="form-inline push validate">
                    <div class="form-group">
                        <label>ID client</label> <br>
                        <input type="text" name="id_client" class="form-control required">
                    </div>
                    <div class="form-group push-20-l">
                        <label>Type</label> <br>
                        <label class="css-input css-radio css-radio-default">
                            <input type="radio" name="type" value="sponsor" class="form-control required" checked><span></span> Parrain
                        </label>
                        <label class="css-input css-radio css-radio-default push-10-l">
                            <input type="radio" name="type" value="sponsee" class="form-control required"><span></span> Filleul
                        </label>
                    </div>
                    <div class="form-group push-20-l">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </form>
                {% if formErrors.payOutReward is defined and formErrors.payOutReward is not empty %}
                    <div class="alert">
                        {% for error in formErrors.payOutReward %}
                            {% if error is iterable %}
                                <ul class="hide">
                                    {% for technicalError in error %}
                                        <li>{{ technicalError }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{{ error }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if formSuccess.payOutReward is defined and formSuccess.payOutReward is not empty %}
                    <div class="alert alert-success">
                        <p>{{ formSuccess.payOutReward }}</p>
                    </div>
                {% endif %}
                <table id="parrainage-adjust-prime-table" class="table table-striped table-hover table-header-bg hide" data-type-sponsor="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\OperationSubType::UNILEND_PROMOTIONAL_OPERATION_SPONSORSHIP_REWARD_SPONSOR') }}" data-type-sponsee="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\OperationSubType::UNILEND_PROMOTIONAL_OPERATION_SPONSORSHIP_REWARD_SPONSEE') }}">
                    <thead>
                        <tr>
                            <th class="sponsee-id">ID filleul</th>
                            <th class="sponsee-first-name">Nom filleul</th>
                            <th class="sponsee-last-name">Prénom filleul)</th>
                            <th class="sponsee-prime">Prime filleul</th>
                            <th class="sponsor-id">ID parrain</th>
                            <th class="sponsor-first-name">Nom parrain</th>
                            <th class="sponsor-last-name">Prénom parrain</th>
                            <th class="sponsor-prime">Prime parrain</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div><!-- /#parrainage-adjust-prime -->
        <div id="parrainage-history" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">Primes déjà distribuées</h3>
            </div>
            <div class="block-content">
                <style>
                    .differentiate .sponsee, .differentiate .sponsor {
                        position: relative;
                    }
                    .differentiate .sponsee:before, .differentiate .sponsor:before {
                        content: '';
                        height: 2px;
                        position: absolute;
                        top: -15px;
                        left: -1px; right: -1px;
                    }
                    .differentiate .sponsee:before {
                        background: #353847;
                    }
                    .differentiate .sponsor:before {
                        background: #b20066;
                    }
                    .differentiate .sponsee.last:before {
                        right: 5px;
                    }
                    .differentiate .sponsor.first:before {
                        left: 5px;
                    }
                </style>

                <a href="{{ app.adminUrl }}/parrainage/export" class="btn btn-default pull-right">Export XLS <span class="fa fa-file-excel-o"></span></a>
                <p style="clear: both">
                    <div style="width: 100px" class="pull-left">&nbsp;</div>
                    <div style="width: calc(100% - 100px)" class="pull-right">
                        <p class="text-center pull-left" style="width: 50%; color: #353847"><b>Filleul</b></p>
                        <p class="text-center pull-right" style="width: 50%; color: #b20066"><b>Parrain</b></p>
                    </div>
                </p>
                <table class="table table-bordered table-striped table-hover table-header-bg dataTable differentiate" data-table>
                    <thead>
                    <tr>
                        <th style="width: 100px;">Code parrain</th>
                        <th class="sponsee">ID filleul</th>
                        <th class="sponsee">Nom/prénom</th>
                        <th class="sponsee">Email</th>
                        <th class="sponsee">Prime</th>
                        <th class="sponsee last">Date de versement</th>
                        <th class="sponsor first">ID parrain</th>
                        <th class="sponsor">Nom/prénom</th>
                        <th class="sponsor">Email</th>
                        <th class="sponsor">Prime</th>
                        <th class="sponsor">Date de versement</th>
                    </tr>
                    </thead>
                    <tbody>
                    {%  for detail in allSponsorshipRewards %}
                    <tr>
                        <td>{{ detail.sponsor_code }}</td>
                        <td>{{ detail.id_client_sponsee }}</td>
                        <td><span class="text-uppercase">{{ detail.sponsee_last_name }}</span> {{ detail.sponsee_first_name }}</td>
                        <td>{{ detail.sponsee_email }}</td>
                        <td>{{ detail.sponsee_amount|localizedcurrency('EUR') }}</td>
                        <td>{{ detail.sponsee_added|date('d/m/Y')}}</td>
                        <td>{{ detail.id_client_sponsor }}</td>
                        <td><span class="text-uppercase">{{ detail.sponsor_last_name }}</span> {{ detail.sponsor_first_name }}</td>
                        <td>{{ detail.sponsor_email }}</td>
                        <td>{{ detail.sponsor_amount|localizedcurrency('EUR') }}</td>
                        <td>{{ detail.sponsor_added|date('d/m/Y')}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- /#parrainage-history -->
        <div id="parrainage-establish-link" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">parrain <span class="fa fa-arrows-h"></span> filleul — Créer une association</h3>
            </div>
            <div class="block-content block-content-full">
                {% if formErrors.createSponsorship is defined and formErrors.createSponsorship is not empty %}
                    <div class="alert">
                        {% for error in formErrors.createSponsorship %}
                            {% if error is iterable %}
                                <ul class="hide">
                                    {% for technicalError in error %}
                                        <li>{{ technicalError }}</li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{{ error }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}
                {% if formSuccess.createSponsorship is defined and formSuccess.createSponsorship is not empty %}
                    <div class="alert alert-success">
                        <p>{{ formSuccess.createSponsorship }}</p>
                    </div>
                {% endif %}
                <form id="parrainage-establish-link-search" method="post" action="{{ app.adminUrl }}/parrainage/create_sponsorship" class="form-inline push validate">
                    <div class="form-group">
                        <label>ID parrain</label> <br>
                        <input type="number" name="id_client_sponsor" class="form-control required">
                    </div>
                    <div class="form-group push-5-l">
                        <label>ID filleul</label> <br>
                        <input type="number" name="id_client_sponsee" class="form-control required">
                    </div>
                    <div class="form-group push-5-l">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </form>

                <div id="establish-link-results" class="hide">
                    <div class="row">
                    <div class="col-md-2">
                        <p><b>Parrain</b></p>
                        <table id="link-sponsor-table" class="table table-condensed" style="max-width: 300px">
                            <tr>
                                <td>ID client</td>
                                <td class="sponsor-id"></td>
                            </tr>
                            <tr>
                                <td>Nom</td>
                                <td class="sponsor-last-name text-uppercase"></td>
                            </tr>
                            <tr>
                                <td>Prénom</td>
                                <td class="sponsor-first-name"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group text-center push-20-t">
                            <span class="fa fa-chevron-left push-10-r"></span>
                            <button id="link-submit" type="submit" class="btn btn-primary" data-toggle="modal" data-target="#modal-establish-link" data-sponsor-id="" data-sponsee-id="">Confirmer le parrainage</button> <span class="fa fa-chevron-right push-10-l"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <p><b>Filleul</b></p>
                        <table id="link-sponsee-table" class="table table-condensed table-bordered" style="max-width: 500px">
                            <tr>
                                <td>ID client</td>
                                <td class="sponsee-id"></td>
                            </tr>
                            <tr>
                                <td>Nom</td>
                                <td class="sponsee-last-name"></td>
                            </tr>
                            <tr>
                                <td>Prénom</td>
                                <td class="sponsee-first-name"></td>
                            </tr>
                            <tr>
                                <td>Date d'inscription</td>
                                <td class="sponsee-date-inscription"></td>
                            </tr>
                            <tr>
                                <td>Date de validation</td>
                                <td class="sponsee-date-validation"></td>
                            </tr>
                            <tr>
                                <td>Autres primes</td>
                                <td class="sponsee-welcome-offer"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                </div>
            </div>
        </div><!-- /#parrainage-establish-link -->
        <div id="parrainage-blacklist" class="block block-bordered">
            <div class="block-header">
                <h3 class="block-title">
                    Blacklist (Liste des clients exclus)
                </h3>
            </div>
            <div class="block-content">
                {%  if formErrors.blacklist is defined and formErrors.blacklist is not empty %}
                    <div class="alert">
                        {% for error in formErrors.blacklist %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if formSuccess.blacklist is defined and formSuccess.blacklist is not empty %}
                    <div class="alert alert-success">
                        <p>{{ formSuccess.blacklist }}</p>
                    </div>
                {% endif %}
                <form id="parrainage-blacklist-search" method="post" action="{{ app.adminUrl }}/parrainage/search_client" class="form-inline push validate">
                    <div class="form-group">
                        <label>ID client</label> <br>
                        <input type="number" name="id_client" class="form-control required">
                    </div>
                    <div class="form-group push-5-l">
                        <button type="submit" class="btn btn-primary">Rechercher</button>
                    </div>
                </form>

                <table id="parrainage-blacklist-table" class="table table-bordered table-striped table-hover table-header-bg" data-table>
                    <thead>
                    <tr>
                        <th>ID client</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date d'exclusion</th>
                        <th>Campagne</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for blacklist in blacklistedClients %}
                        <tr>
                            <td>{{ blacklist.idClient.idClient() }}</td>
                            <td>{{ blacklist.idClient.prenom }}</td>
                            <td>{{ blacklist.idClient.nom }}</td>
                            <td>{{ blacklist.added|date('d/m/Y') }}</td>
                            <td>{{ blacklist.idCampaign.id is null ? 'Global' : blacklist.idCampaign.id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div><!-- /#parrainage-blacklist -->
    </div><!-- /.content -->
{% endblock %}
