{% extends 'layouts/_page_with_sidebar.html.twig' %}

{% block dashboardContent %}
    {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
    <section class="dashboard-tabs tabs">
        <div class="dashboard-tabs-content tab-content">
            <div id="form-container" class="dashboard-tab-pane">
                <article class="panel">
                    <header class="panel-header">
                        <h2 class="margin-5-t">{% trans %} project-request.title {% endtrans %}</h2>
                    </header>
                    <div>
                        {{ form_errors(form) }}
                    </div>
                        <div class="row row-multi-col-computer">
                            <div class="col-lg-4 col-md-4">
                                {{ form_row(form.title, {'attr': {
                                    'data-formvalidation-input': null,
                                    'data-formvalidation-type': 'string',
                                    'data-formvalidation-required': 'true',
                                }}) }}
                            </div>
                            <div class="col-lg-4 col-md-4">
                                {{ form_row(form.borrowerCompany, {'attr': {
                                    'data-formvalidation-input': null,
                                    'data-formvalidation-required': 'true',
                                }}) }}
                                <div>
                                    {{ form_errors(form.borrowerCompanyCreationInProgress) }}
                                    {{ form_widget(form.borrowerCompanyCreationInProgress, {attr: {style: 'width: inherit;'}}) }}
                                    {{ form_label(form.borrowerCompanyCreationInProgress) }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                {{ form_row(form.marketSegment, {'attr': {
                                    'data-formvalidation-input': null,
                                    'data-formvalidation-required': 'true',
                                }}) }}
                            </div>
                        </div>

                        <div class="row row-multi-col-computer">
                            <div class="col-lg-4 col-md-4">
                                {{ form_row(form.replyDeadline) }}
                            </div>
                            <div class="col-lg-4 col-md-4">
                                {{ form_row(form.expectedClosingDate) }}
                            </div>
                            <div class="col-lg-4 col-md-4">
                                {{ form_row(form.lenderConsultationClosingDate) }}
                            </div>
                        </div><!-- /.row -->
                        <div class="row row-multi-col-computer">
                            {{ form_row(form.offerVisibility) }}
                        </div><!-- /.row -->
                        <div class="row row-multi-col-computer">
                            {{ form_row(form.description, {'attr': {
                                'data-formvalidation-input': null,
                                'data-formvalidation-type': 'string',
                                'data-formvalidation-required': 'true',
                            }}) }}
                        </div><!-- /.row -->
                </article><!-- /.panel -->

                <article class="request-form-panel panel">
                    <h3 class="margin-5-t">{% trans %} project-request.fees-section-title {% endtrans %}</h3>
                    {{ form_row(form.projectFees) }}
                </article>

                <article class="request-form-panel panel">
                    <h3 class="margin-5-t">{% trans %} project-request.tranches-section-title {% endtrans %}</h3>
                    {{ form_row(form.tranches) }}
                </article>

                <article class="request-form-panel panel">
                    <h3 class="margin-5-t">{% trans %} project-request.structuration-section-title {% endtrans %}</h3>
                    <div class="row row-multi-col-computer">
                        <div class="col-lg-4 col-md-4">
                            {% set arrangerLabel = 'project-form.arranger-label' %}
                            {% if constant('\\Unilend\\Entity\\Project::OPERATION_TYPE_SYNDICATION') == app.request.get('operationType') %}
                                {% set arrangerLabel = 'project-form.lead-manager-label' %}
                            {% endif %}
                            {{ form_row(form.arranger, { 'label' : arrangerLabel }) }}
                        </div>
                        <div class="col-lg-4 col-md-4">
                            {{ form_row(form.deputyArranger) }}
                        </div>
                        <div class="col-lg-4 col-md-4">
                            {{ form_row(form.run) }}
                        </div>
                    </div>
                    <div class="row row-multi-col-computer">
                        <div class="col-lg-4 col-md-4">
                            {{ form_row(form.loanOfficer) }}
                        </div>
                        <div class="col-lg-4 col-md-4">
                            {{ form_row(form.securityTrustee) }}
                        </div>
                    </div>
                </article>

                <article class="request-form-panel panel">
                    <h3 class="margin-5-t">{% trans %} project-request.attachments-section-title {% endtrans %}</h3>
                    {{ form_row(form.projectAttachments) }}
                </article>

                <article class="request-form-panel panel">
                    <h3 class="margin-5-t">{% trans %} project-request.image-section-title {% endtrans %}</h3>
                    {{ form_row(form.imageFile) }}
                </article>

                <article class="request-form-panel panel">
                    <div class="form-validation-notifications"></div>
                    <button type="submit" class="btn-continue btn-primary pull-right" data-spinnerbutton>
                        {% trans %} project-request.confirmation-button {% endtrans %}
                    </button>
                </article>
            </div><!-- /.dashboard-tab-pane -->
        </div><!-- /.dashboard-tabs-content -->
    </section><!-- /.dashboard-tabs -->
    {{ form_end(form) }}
{% endblock %}

{% block pageHeadScripts %}
    <style>
        fieldset {
            border: 1px solid #eceaed;
        }

        legend {
            color: #2bc9af;
            font-size: 20px;
            font-weight: 400;
            padding: 0 5px;
        }

        .form-field .select2-container--default .select2-selection--single,
        .form-field .select2-container--default .select2-selection--single .select2-selection__rendered,
        .form-field .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 40px;
        }

        .form-field .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 40px;
        }
    </style>
{% endblock %}

{% block pageScripts %}
    <script>
        $(function () {
            $('[data-request-type]').on('click', function () {
                $('#request-type').val($(this).attr('data-request-type'))
            })

            $('#project_creation_type_borrowerCompanyCreationInProgress').on('change', function () {
                var $borrowerCompanyNameInput = $('#project_creation_type_borrowerCompany');
                if (this.checked) {
                    $borrowerCompanyNameInput.prop('disabled', true)
                    $("#select2-project_creation_type_borrowerCompany-container").empty()
                } else {
                    $borrowerCompanyNameInput.prop('disabled', false)
                }
            })

            var $companyField = $('#project_creation_type_borrowerCompany')
            $companyField.select2({
                ajax: {
                    url: $companyField.data('autocomplete-url'),
                    dataType: 'json',
                    type: 'GET',
                    cache: true,
                    processResults: function (response) {
                        if (response.success) {
                            return {
                                results: [{
                                    id: response.data.id,
                                    text: response.data.name
                                }]
                            }
                        }

                        return {
                            results: []
                        }
                    }
                },
                language: 'fr',
            })

            $('[data-fileattach-inputname="{{ form.imageFile.vars.full_name|escape('js') }}"]').uiFileAttach()
            {% include 'project/partials/fees/edit_project_fees.js.twig' %}
            {% include 'project/partials/tranche/edit_tranches.js.twig' %}
            {% include 'project/partials/attachment/add_attachment.js.twig' %}
        })
    </script>
{% endblock %}
