<div class="row">
    <div class="col-lg-12">
        <div id="retards" class="block">
            <div class="block-header">
                <h3 class="block-title">
                    {% if project.getCloseOutNettingDate is empty %}
                        Échéances en retard
                    {% else %}
                        Retards
                    {% endif %}
                </h3>
            </div>
            <div class="block-content block-content-full">
                {% if totalOverdueAmount > 0 %}
                    <table class="table table-bordered table-hover table-header-bg">
                        <thead>
                        <tr>
                            <th>
                                {% if project.getCloseOutNettingDate is empty %}
                                    Date théorique
                                {% else %}
                                    Date de DDT
                                {% endif %}
                            </th>
                            <th>
                                {% if project.getCloseOutNettingDate is empty %}
                                    Montant théorique
                                {% else %}
                                    Montant de DDT
                                {% endif %}
                            </th>
                            <th>
                                Confié au recouvreur
                            </th>
                            <th>
                                Restant dû
                            </th>
                            <th>
                                Détails des prêts
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set totalPaymentsAmount = 0 %}

                        {% for payment in latePaymentsData %}
                            <tr>
                                <td>
                                    {{ payment.date|localizeddate('short', 'none') }}
                                </td>
                                <td class="text-right">
                                    {{ payment.amount|localizedcurrency('EUR') }}
                                </td>
                                <td>
                                    {{ payment.entrustedToDebtCollector }}
                                </td>
                                <td class="text-right">
                                    {{ payment.remainingAmount > 0 ? payment.remainingAmount|localizedcurrency('EUR') : 'N/A' }}
                                </td>
                                <td>
                                    <a href="/remboursement/restant_du_loan_ddt/{{ project.getIdProject() }}" class="btn btn-xs btn-default push-10-r" data-toggle="tooltip"
                                       data-original-title="Télécharger une extraction des détails des prêts"><i class="fa fa-download"></i></a>
                                </td>
                            </tr>
                            {% set totalPaymentsAmount = totalPaymentsAmount + payment.amount %}
                        {% endfor %}
                        </tbody>
                        {% if latePaymentsData|length > 1 %}
                            <tfoot>
                            <tr>
                                <th>
                                    Total
                                </th>
                                <th class="text-right">
                                    {{ totalPaymentsAmount|localizedcurrency('EUR') }}
                                </th>
                                <th>
                                </th>
                                <th colspan="2" class="text-right">
                                    {{ totalOverdueAmount > 0 ? totalOverdueAmount|localizedcurrency('EUR') : 'N/A' }}
                                </th>
                            </tr>
                            </tfoot>
                        {% endif %}
                    </table>
                {% else %}
                    <div class="alert">
                        <p>Aucune échéance en retard sur ce projet.</p>
                    </div>
                {% endif %}
                <div class="text-right">
                    {% if canBeDeclined %}
                        <button type="button" class="btn btn-default push-10-r" data-toggle="modal" data-target="#modal-close-out-netting">Déchoir le terme</button>
                    {% endif %}

                    {% if constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAYMENT') == project.status %}
                        <button type="button" class="btn btn-primary push-10-r" data-toggle="modal" data-target="#modal-status-problem">Passer en statut problème</button>
                    {% endif %}

                    {% if totalOverdueAmount > 0 and constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_LOSS') == project.status %}
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-debt-collection" {% if pendingWireTransferIn|length > 0 %}disabled{% endif %}>
                            Missionner un recouvreur
                            ({{ totalOverdueAmount|localizedcurrency('EUR') }})
                        </button>
                        {% if pendingWireTransferIn|length > 0 %}
                            <div class="text-muted">
                                <small>
                                    <em style="display: inline-block; max-width: 300px; margin-top: 3px;">Merci de traiter les derniers remboursements avant de créer une nouvelle mission.</em>
                                </small>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
