<section id="profile-info-view" role="tabpanel" class="profile-info-view collapse in">
    <a href="#profile-info-edit" role="button" data-toggle="collapse" data-parent="#profile-info-section" class="btn-edit" aria-controls="#profile-info-edit" aria-expanded="false">
        <span class="icon fa-pencil-u32"></span>
        <span class="label">{% trans %} lender-profile_information-tab-identity-section-modify-button {% endtrans %}</span></a>
    <dl class="list-2col">
        <dt>{% trans %} lender-profile_information-tab-identity-section-client-type-label {% endtrans %}</dt>
            <dd id="profile-info-statut-output">{% trans %} lender-profile_information-tab-identity-section-client-type-person-label {% endtrans %}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-form-of-address-label {% endtrans %}</dt>
        {% if client.civilite == 'M.' %}
            <dd id="profile-info-civilite-output">{% trans %} lender-profile_information-tab-identity-section-form-of-address-male-label {% endtrans %}</dd>
        {% else %}
            <dd id="profile-info-civilite-output">{% trans %} lender-profile_information-tab-identity-section-form-of-address-female-label {% endtrans %}</dd>
        {% endif %}

        <dt>{% trans %} lender-profile_information-tab-identity-section-name-label {% endtrans %}</dt>
        <dd id="profile-info-nom-output">{{ client.nom }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-used-name-label {% endtrans %}</dt>
        <dd id="profile-info-prenom-output">{{ client.nom_usage }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-first-name-label {% endtrans %}</dt>
        <dd id="profile-info-prenom-output">{{ client.prenom }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-birthdate-label {% endtrans %}</dt>
        <dd id="profile-info-dob-output">{{ client.naissance|date('d/m/Y') }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-birthcountry-label {% endtrans %}</dt>
        <dd id="profile-info-dob-pays-output">{{ client.id_pays_naissance|countryLabel }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-birthplace-label {% endtrans %}</dt>
        <dd id="profile-info-dob-commune-output">{{ client.ville_naissance }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-nationality-label {% endtrans %}</dt>
        <dd id="profile-info-dob-nationalite-output">{{ client.id_pays_naissance|nationalityLabel }}</dd>
        <dt>{% trans %} lender-profile_information-tab-identity-section-ID-documents-label {% endtrans %}</dt>
        <dd id="profile-info-fichier-identitie-output">
            {% set NameCniRecto, NameCniVerso = '', '' %}
            {% for attachment in identityAttachments %}
                {% if attachment.id_type == constant('\\attachment_type::CNI_PASSPORTE') %}
                    {% set NameCniRecto = attachment.path %}
                    <span id="form-profile-info-file-identite-cni-1-output" class="file-justificatif file-identity-side-a" title="{{ "lender-attachement-provided-label-type-#{ attachment.id_type }" | transchoice(attachment.added|date('d/m-Y')) }}
" data-toggle="tooltip">
                                <span class="sr-only">{{ "lender-attachement-provided-label-type-#{ attachment.id_type }" | transchoice(attachment.added|date('d/m-Y'))}}</span>
                            </span>
                {%  else  %}
                    {% set NameCniVerso = attachment.path %}
                    <span id="form-profile-info-file-identite-cni-2-output" class="file-justificatif file-identity-side-b" title="{{ "lender-attachement-provided-label-type-#{ attachment.id_type }" | transchoice(attachment.added|date('d/m-Y')) }}" data-toggle="tooltip">
                                <span class="sr-only">{{ "lender-attachement-provided-label-type-#{ attachment.id_type }" | transchoice(attachment.added|date('d/m-Y'))}}</span>
                            </span>
                {% endif %}
            {% endfor %}
        </dd>
    </dl>
</section>


<section id="profile-info-edit" role="tabpanel" class="profile-info-edit collapse">
    <form id="form-profile-info-edit" action="{{ path('profile_info_update') }}" method="post" enctype="multipart/form-data" class="form-profile form-profile-info-edit" data-formvalidation data-formvalidation-notificationselem="#form-profile-info-notifications">
        <div id="form-profile-info-notifications"></div>
        <div class="row">
            <div class="form-field form-field-multi">
                <div class="field-label">
                    <label>{% trans %} lender-profile_information-tab-identity-section-client-type-label {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                </div>
                <ul class="list-input-values">
                    {% if client.type in [constant('\\clients::TYPE_PERSON'), constant('\\clients::TYPE_PERSON_FOREIGNER')] %}
                        <li>
                            <label><input type="radio" name="identity[statut]" value="person" checked="checked"/>
                                {% trans %} lender-profile_information-tab-identity-section-client-type-person-label {% endtrans %}
                            </label>
                        </li>
                    {% else %}
                        <li>
                            <label><input type="radio" name="identity[statut]" value="legal_entity" checked="checked"/>
                                {% trans %} lender-profile_information-tab-identity-section-client-type-legal-entity-label {% endtrans %}
                            </label>
                        </li>
                    {% endif %}
                </ul>
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row">
            <div class="form-field form-field-multi">
                <div class="field-label">
                    <label>{% trans %} lender-profile_information-tab-identity-section-form-of-address-label {% endtrans %}
                        <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                </div>
                <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                    <li>
                        <label><input type="radio" name="identity[civilite]" value="Mme" {% if formData.identity.civilite == 'Mme' %}checked="checked"{% endif %}/> {% trans %} lender-profile_information-tab-identity-section-form-of-address-female-label {% endtrans %}</label>
                    </li>
                    <li>
                        <label><input type="radio" name="identity[civilite]" value="M." {% if formData.identity.civilite == 'M.' %}checked="checked"{% endif %}/> {% trans %} lender-profile_information-tab-identity-section-form-of-address-male-label {% endtrans %}</label>
                    </li>
                </ul>
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-nom">{% trans %} lender-profile_information-tab-identity-section-name-label {% endtrans %}</label>
                <span id="form-profile-info-nom" >{{ client.nom }}</span>
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-prenom">{% trans %} lender-profile_information-tab-identity-section-first-name-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <input id="form-profile-info-prenom" type="text" name="identity[prenom]" value="{{ client.prenom }}" class="input-field" data-formvalidation-input data-formvalidation-required="true"/>
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6">
                <label>{% trans %} lender-profile_information-tab-identity-section-birthdate-label {% endtrans %}</label>
                <span id="profile-info-dob-output">{{ client.naissance|date('d/m/Y') }}</span>
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-nationalite">{% trans %} lender-profile_information-tab-identity-section-nationality-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>
                <select id="form-profile-info-nationalite" name="identity[nationalite]" class="input-field" data-formvalidation-input data-formvalidation-required="true">
                    {% for i, nationality in getNationalities() %}
                        <option value="{{ i }}"{% if i == formData.identity.nationalite %} selected="selected"{% endif %}>{{ nationality }}</option>
                    {% endfor %}
                </select>
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row row-multi-col-computer">
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-dob-pays">{% trans %} lender-profile_information-tab-identity-section-birthcountry-label {% endtrans %}</label>
                <dd id="form-profile-info-dob-pays">{{ client.id_pays_naissance|nationalityLabel }}</dd>
            </div><!-- /.form-field -->
            <div class="form-field col-lg-6 col-md-6">
                <label for="form-profile-info-dob-commune">{% trans %} lender-profile_information-tab-identity-section-birthplace-label {% endtrans %}</label>
                <span id="form-profile-info-dob-commune">{{ client.ville_naissance }}</span>
            </div><!-- /.form-field -->
        </div><!-- /.row -->

        <div class="row">
            <div class="form-field">
                <label>{% trans %} lender-profile_information-tab-identity-section-ID-documents-label {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} lender-profile_mandatory-field {% endtrans %}</span></span></label>

                <div class="form-field file-identity-side-a">
                    <div class="custom-input-file" id="form-profile-info-file-identite-cni-1"
                         data-fileattach data-fileattach-inputname="id_recto"
                         data-fileattach-maxfiles="1"
                         data-fileattach-emptyfilelabel="
                                 {% if NameCniRecto is not empty %}{{ NameCniRecto }}
                                 {% else %}{% trans %} lender-profile_information-tab-identity-section-ID-recto {% endtrans %}
                                 {% endif %}"
                         data-formvalidation-input data-formvalidation-required='input[type="file"][name="fichier[identite][cni_a][0]"]'>
                    </div><!-- /.ui-fileattach -->
                </div>

                <div class="form-field file-identity-side-b">
                    <div class="custom-input-file" id="form-profile-info-file-identite-cni-2"
                         data-fileattach data-fileattach-inputname="id_verso"
                         data-fileattach-maxfiles="1"
                         data-fileattach-emptyfilelabel="
                                 {% if NameCniVerso is not empty %}{{ NameCniVerso }}
                                 {% else %}
                                 {% trans %} lender-profile_information-tab-identity-section-ID-verso {% endtrans %}
                                 {% endif %}"
                         data-formvalidation-input data-formvalidation-required='input[type="file"][name="fichier[identite][cni_b][0]"]'>
                    </div><!-- /.ui-fileattach -->
                </div>

                <div class="field-help">
                    <p>{% trans %} lender-profile_information-tab-indentity-section-ID-document-notice {% endtrans %}</p>
                </div>
            </div>
        </div>

        <div class="btn-controls">
            <button type="submit" class="btn-primary">{% trans %} lender-profile_information-tab-identity-save-modifications-button {% endtrans %}</button>
            <button type="reset" role="button" data-toggle="collapse" data-target="#profile-info-view" data-parent="#profile-info-section" class="btn-default" aria-controls="#profile-info-view" aria-expanded="true">{% trans %} lender-profile_information-tab-identity-cancel-modifications-button {% endtrans %}</button>
        </div>
    </form><!-- /.form-profile-info-edit -->
</section><!-- /.profile-info-edit -->