{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
<div class="dashboard-tabs tabs">
    {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

    <div id="dashboard-cip" class="dashboard-tabs-content tab-content">
        <div class="panel cip-header">
            <header class="panel-header">
                <h3>Nos conseils</h3>
            </header>
            <div class="cip-progress" data-progressbar data-progressbar-current="{{ total_steps }}" data-progressbar-total="{{ total_steps }}">
                <div data-progressbar-bar></div>
            </div>
        </div>

        <div class="panel">
            <div class="message message-info cip-advice">
                <h4>Merci !</h4>
                <p>Vous avez bien conscience que :</p>
                <ul>
                    <li>vous pouvez perdre tout ou partie de l’argent que vous prêtez</li>
                    <li>vous ne pouvez pas demander le remboursement anticipé de l’argent que vous prêtez :<br>
                    vous devez attendre le remboursement conformément au calendrier prévu par l’échéancier</li>
                    <li>les r emboursements peuvent être retardés p ar d es difficultés de trésorerie de l’emprunteur</li>
                    <li>il est très important de répartir vos prêts sur un très grand nombre d’entreprises pour réduire l’aléa de votre risque de perte en capital</li>
                </ul>
                <p>Relire les explications en cliquant <a href="#todo">ici</a>.</p>
                {{ advices|raw }}
            </div>

            {% if app.request.session.get('cipBid') is defined %}
                <a href="{{ path('cip_validate_questionnaire') }}" class="btn-primary fright">J'ai bien lu les conseils et je retourne voir le projet</a>
            {% else %}
                <a href="{{ path('cip_validate_questionnaire') }}" class="btn-primary fright">J'ai bien lu les conseils</a>
            {% endif %}
        </div><!-- /.panel -->
    </div><!-- /.dashboard-tabs-content -->
</div>
{% endblock %}
