{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

        <article id="dashboard-cip" class="dashboard-tabs-content tab-content">
            <div id="cip-step-{{ current_step }}">
                <div class="panel cip-header">
                    <header class="panel-header">
                        <h3>Attention, le montant que vous souhaitez prêter est supérieur à 2 000 €</h3>
                    </header>
                    <div class="cip-progress" data-progressbar data-progressbar-current="{{ current_step }}" data-progressbar-total="{{ total_steps }}">
                        <div data-progressbar-bar></div>
                    </div>
                </div>
                <div class="panel">
                    <p>Si vous souhaitez prêter plus de 2 000 € à un projet, nous avons besoin de vous connaître un peu mieux afin de vous proposer des conseils adaptés à votre profil.</p>
                    <p>Si vous préférez ne pas répondre à ce court questionnaire, votre offre sera limitée à 2 000 €</p>
                    <div class="row text-align-center">
                        <a href="{{ path('cip_continue_questionnaire') }}" class="btn-primary">
                            <span class="icon fa-angle-right"></span>
                            <span class="label">Je réponds au questionnaire</span>
                        </a>
                    </div>
                </div>
            </div><!-- /#cip-step-{{ current_step }} -->
        </article><!-- /.dashboard-tabs-content -->
    </div>
{% endblock %}
