{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
<div class="dashboard-tabs tabs">
    {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

    <div id="dashboard-cip" class="dashboard-tabs-content tab-content">
        <div class="panel">
            <header class="panel-header">
                <h3>Conseils en investissement</h3>
            </header>
            {% if not evaluation %}
                <div class="row">
                    <p>Vous n'avez actuellement aucune évaluation en cours de validité.</p>
                    <a href="{{ path('cip_start_questionnaire') }}" class="btn-primary fright">Commencer le questionnaire</a>
                </div>
            {% elseif advices is not defined %}
                <div class="row">
                    <p>Vous avez déjà un questionnaire non finalisé.</p>
                    <a href="{{ path('cip_reset_questionnaire') }}" class="btn-primary col-lg-4 push-lg-1 col-md-4 push-md-1 col-sm-2 push-sm-1 col-xs-1">Recommencer le questionnaire</a>
                    <a href="{{ path('cip_continue_questionnaire') }}" class="btn-primary col-lg-4 push-lg-2 col-md-4 push-md-2 col-sm-2 push-sm-2 col-xs-1 push-xs-2">Continuer le questionnaire</a>
                </div>
            {% else %}
                <div class="message message-info cip-advice">
                    <h4>Nos conseils</h4>
                    <p>Vous avez bien conscience que :</p>
                    <ul>
                        <li>vous pouvez perdre tout ou partie de l’argent que vous prêtez</li>
                        <li>vous ne pouvez pas demander le remboursement anticipé de l’argent que vous prêtez :<br>
                        vous devez attendre le remboursement conformément au calendrier prévu par l’échéancier</li>
                        <li>les r emboursements peuvent être retardés p ar d es difficultés de trésorerie de l’emprunteur</li>
                        <li>il est très important de répartir vos prêts sur un très grand nombre d’entreprises pour réduire l’aléa de votre risque de perte en capital</li>
                    </ul>
                    <p>Relire les explications en cliquant <a href="{{ path('pdf_cip', {'clientHash' : clientHash}) }}" target="_blank">ici</a>.</p>
                    {{ advices|raw }}
                </div>

                <a href="{{ path('cip_reset_questionnaire') }}" class="btn-primary fright">Recommencer le questionnaire</a>
            {% endif %}
        </div><!-- /.panel -->
    </div><!-- /.dashboard-tabs-content -->
</div>
{% endblock %}
