{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

        <article id="dashboard-cip" class="dashboard-tabs-content tab-content">
            <div id="cip-step-{{ current_step }}">
                <div class="panel cip-header">
                    <header class="panel-header">
                        <h3>Questionnaire</h3>
                    </header>
                    <div class="cip-progress" data-progressbar data-progressbar-current="{{ current_step }}" data-progressbar-total="{{ total_steps }}">
                        <div data-progressbar-bar></div>
                    </div>
                </div>
                <form method="post" action="{{ path('cip_form_questionnaire') }}" class="panel" data-formvalidation>
                    <div class="row">
                        <div class="form-field cip-answer">
                            <label for="estate-answer" class="field-label">
                                Quel est le montant total de votre patrimoine financier ?
                            </label>
                            <input type="text" id="estate-answer" value="{{ answers['value-total-estate'].first_answer }}" class="input-field" readonly />
                        </div><!-- /.form-field -->
                    </div>
                    {% if answers['value-monthly-savings'] is defined %}
                        <div class="row">
                            <div class="form-field cip-answer">
                                <label for="savings-answer" class="field-label">
                                    Combien d’argent mettez-vous de côté tous les mois ?
                                </label>
                                <input type="text" id="savings-answer" value="{{ answers['value-monthly-savings'].first_answer }}" class="input-field" readonly />
                            </div><!-- /.form-field -->
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="form-field cip-answer">
                            <label for="answer" class="field-label">
                                Dans combien de temps aurez-vous besoin de cet argent ?
                            </label>
                            <select id="answer" name="answer" data-formvalidation-input data-formvalidation-required="true" class="input-field">
                                <option></option>
                                <option value="-12">Moins d'un an</option>
                                <option value="-36">Moins de 3 ans</option>
                                <option value="-60">Moins de 5 ans</option>
                                <option value="60+">Je n'en ai pas besoin avant 5 ans</option>
                            </select>
                        </div><!-- /.form-field -->
                    </div>
                    <input type="hidden" name="question" value="{{ question.id }}" />
                    <button type="submit" class="btn-primary fright">
                        <span class="icon fa-angle-right"></span>
                        Continuer
                    </button>
                </form>
            </div><!-- /#cip-step-{{ current_step }} -->
        </article><!-- /.dashboard-tabs-content -->
    </div>
{% endblock %}
