{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

        <article id="dashboard-cip" class="dashboard-tabs-content tab-content">
            <div id="cip-step-{{ current_step }}">
                <div class="panel cip-header">
                    <header class="panel-header">
                        <h3>{% trans %}lender-evaluation_questionnaire-page-title{% endtrans %}</h3>
                    </header>
                    <div class="cip-progress" data-progressbar data-progressbar-current="{{ current_step }}" data-progressbar-total="{{ total_steps }}">
                        <div data-progressbar-bar></div>
                    </div>
                </div>
                <form method="post" action="{{ path('cip_form_questionnaire') }}" class="panel" data-formvalidation>
                    <input type="hidden" name="question" value="{{ question.id }}" />
                    <div class="row">
                        <div class="form-field cip-answer">
                            <label for="estate-answer" class="field-label">
                                {% trans %}lender-evaluation_question-value-total-estate{% endtrans %}
                            </label>
                            <div class="input-group set-right">
                                <input type="text" id="estate-answer" value="{{ answers['value-total-estate'].first_answer|localizednumber }}" class="input-field" readonly />
                                <div class="btn-group">
                                    <span class="icon fa-euro"></span>
                                </div>
                            </div>
                        </div><!-- /.form-field -->
                    </div>
                    {% if answers['value-monthly-savings'] is defined %}
                        <div class="row">
                            <div class="form-field cip-answer">
                                <label for="savings-answer" class="field-label">
                                    {% trans %}lender-evaluation_question-value-monthly-savings{% endtrans %}
                                </label>
                                <div class="input-group set-right">
                                    <input type="text" id="savings-answer" value="{{ answers['value-monthly-savings'].first_answer|localizednumber }}" class="input-field" readonly />
                                    <div class="btn-group">
                                        <span class="icon fa-euro"></span>
                                    </div>
                                </div>
                            </div><!-- /.form-field -->
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="form-field cip-answer">
                            <label for="blocking-answer" class="field-label">
                                {% trans %}lender-evaluation_question-value-blocking-period{% endtrans %}
                            </label>
                            <input type="text" id="blocking-answer" value="{% spaceless %}
                                   {% if answers['value-blocking-period'].first_answer == '-12' %}
                                        {% trans %}lender-evaluation_question-value-blocking-period-answer-choice-12{% endtrans %}
                                   {% elseif answers['value-blocking-period'].first_answer == '-36' %}
                                        {% trans %}lender-evaluation_question-value-blocking-period-answer-choice-36{% endtrans %}
                                   {% elseif answers['value-blocking-period'].first_answer == '-60' %}
                                        {% trans %}lender-evaluation_question-value-blocking-period-answer-choice-60{% endtrans %}
                                   {% elseif answers['value-blocking-period'].first_answer == '60+' %}
                                        {% trans %}lender-evaluation_question-value-blocking-period-answer-choice-plus-60{% endtrans %}
                                    {% endif %}
                                   {% endspaceless %}"
                                   class="input-field" readonly />
                        </div><!-- /.form-field -->
                    </div>
                    <div class="row">
                        <div class="form-field cip-answer">
                            <span class="field-label">
                                {% trans %}lender-evaluation_question-value-other-financial-products{% endtrans %}
                            </span>
                            <div class="form-field form-field-multi">
                                <label>
                                    <input type="checkbox" name="answer[]" value="actions" />
                                    <span class="label">{% trans %}lender-evaluation_question-value-other-financial-products-answer-stock{% endtrans %}</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="answer[]" value="prets" />
                                    <span class="label">{% trans %}lender-evaluation_question-value-other-financial-products-answer-loans{% endtrans %}</span>
                                </label>
                                <label>
                                    <input type="checkbox" name="answer[]" value="autres" />
                                    <span class="label">{% trans %}lender-evaluation_question-value-other-financial-products-answer-other{% endtrans %}</span>
                                </label>
                            </div>
                        </div><!-- /.form-field -->
                    </div>
                    <div class="row text-align-right">
                        <a href="{{ path('cip_form_questionnaire') }}?reset=values" class="btn-default">
                            <span class="icon fa-angle-left"></span>
                            {% trans %}lender-evaluation_questionnaire-values-reset-button{% endtrans %}
                        </a>
                        <button type="submit" class="btn-primary">
                            <span class="icon fa-angle-right"></span>
                            {% trans %}lender-evaluation_questionnaire-values-continue-button{% endtrans %}
                        </button>
                    </div>
                </form>
            </div><!-- /#cip-step-{{ current_step }} -->
        </article><!-- /.dashboard-tabs-content -->
    </div>
{% endblock %}
