{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

        <article id="dashboard-cip" class="dashboard-tabs-content tab-content">
            <div id="cip-step-{{ current_step }}">
                <div class="panel cip-header">
                    <header class="panel-header">
                        <h3>Questionnaire</h3>
                    </header>
                    <div class="cip-progress" data-progressbar data-progressbar-current="{{ current_step }}" data-progressbar-total="{{ total_steps }}">
                        <div data-progressbar-bar></div>
                    </div>
                </div>
                <form method="post" action="{{ path('cip_form_questionnaire') }}" class="panel" data-formvalidation>
                    <div class="row">
                        <div class="form-field cip-answer">
                            <label for="answer" class="field-label">
                                Quel est le montant total de votre patrimoine financier ?
                            </label>
                            <input type="text" id="answer" name="answer" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="number" data-formvalidation-minvalue="0" class="input-field" />
                        </div><!-- /.form-field -->
                    </div>
                    <input type="hidden" name="question" value="{{ question.id }}" />
                    <button type="submit" class="btn-primary fright">
                        <span class="icon fa-angle-right"></span>
                        Continuer
                    </button>
                </form>
            </div><!-- /#cip-step-{{ current_step }} -->
        </article><!-- /.dashboard-tabs-content -->
    </div>
{% endblock %}
