{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

        <article id="dashboard-cip" class="dashboard-tabs-content tab-content">
            <div id="cip-step-{{ current_step }}">
                <div class="panel cip-header">
                    <header class="panel-header">
                        <h3>Questionnaire</h3>
                    </header>
                    <div class="cip-progress" data-progressbar data-progressbar-current="{{ current_step }}" data-progressbar-total="{{ total_steps }}">
                        <div data-progressbar-bar></div>
                    </div>
                </div>
                <form method="post" action="{{ path('cip_form_questionnaire') }}" class="panel" data-formvalidation>
                    <input type="hidden" name="question" value="{{ question.id }}" />
                    <div class="row">
                        <div class="form-field cip-answer">
                            <label for="estate-answer" class="field-label">
                                Quel est le montant total de votre patrimoine financier ?
                            </label>
                            <div class="input-group set-right">
                                <input type="text" id="estate-answer" value="{{ answers['value-total-estate'].first_answer|localizednumber }}" class="input-field" readonly />
                                <div class="btn-group">
                                    <span class="icon fa-euro"></span>
                                </div>
                            </div>
                        </div><!-- /.form-field -->
                    </div>
                    <div class="row">
                        <div class="form-field cip-answer">
                            <label for="answer" class="field-label">
                                Combien d’argent mettez-vous de côté tous les mois ?
                            </label>
                            <div class="input-group set-right">
                                <input type="text" id="answer" name="answer" data-formvalidation-input data-formvalidation-required="true" data-formvalidation-type="number" data-formvalidation-minvalue="0" class="input-field" />
                                <div class="btn-group">
                                    <span class="icon fa-euro"></span>
                                </div>
                            </div>
                        </div><!-- /.form-field -->
                    </div>
                    <div class="row text-align-right">
                        <a href="{{ path('cip_form_questionnaire') }}?reset=values" class="btn-default">
                            <span class="icon fa-angle-left"></span>
                            Revenir
                        </a>
                        <button type="submit" class="btn-primary">
                            <span class="icon fa-angle-right"></span>
                            Continuer
                        </button>
                    </div>
                </form>
            </div><!-- /#cip-step-{{ current_step }} -->
        </article><!-- /.dashboard-tabs-content -->
    </div>
{% endblock %}
