{% extends 'layouts/_layout_lender.html.twig' %}

{% set page = {
    id: 'user-preter-profile',
    title: 'Conseils en investissement',
    classNames: 'user-preter-profile'
} %}

{% block dashboardContent %}
    <div class="dashboard-tabs tabs">
        {% include('pages/lender_profile/partials/tab_navigation.html.twig') %}

        <article id="dashboard-cip" class="dashboard-tabs-content tab-content">
            <div id="cip-step-{{ current_step }}">
                <div class="panel cip-header">
                    <header class="panel-header">
                        <h3>{% trans %} lender-evaluation_questionnaire-introduction-title {% endtrans %}</h3>
                    </header>
                    <div class="cip-progress" data-progressbar data-progressbar-current="{{ current_step }}" data-progressbar-total="{{ total_steps }}">
                        <div data-progressbar-bar></div>
                    </div>
                </div>
                <div class="panel">
                    <p>{% trans with {'%firstname%' : app.user.firstname} %} lender-evaluation_risk-introduction-text-questionnaire-start {% endtrans %}</p>
                    <div class="row text-align-center">
                        <a href="{{ path('cip_start_questionnaire') }}?start" class="btn-primary">
                            <span class="label">{% trans %} lender-evaluation_questionnaire-start-button {% endtrans %}</span>
                        </a>
                    </div>
                </div>
            </div><!-- /#cip-step-{{ current_step }} -->
        </article><!-- /.dashboard-tabs-content -->
    </div>
{% endblock %}
