<select id="filetype-{{ name|default('file') }}" name="filetype[{{ name|default('file') }}]" class="input-field">
    <option value="">Sélectionner le type de fichier</option>
    {% set attachmentCategory = 0 %}
    {% for attachmentType in attachmentTypes %}
        {% if attachmentCategory != attachmentType.category.id %}
            {% if attachmentCategory != 0 %}
                </optgroup>
            {% endif %}
            {% set attachmentCategory = attachmentType.category.id %}
            <optgroup label="{{ attachmentType.category.name }}">
        {% endif %}
        <option value="{{ attachmentType.attachmentType.id }}">{{ attachmentType.name }}</option>
    {% endfor %}
    </optgroup>
</select>
