{% extends 'layout.html.twig' %}

{% block pluginsCSS %}
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/js/plugins/bootstrap-datepicker/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="{{ app.adminUrl }}/oneui/js/plugins/datatables/jquery.dataTables.min.css">
{% endblock %}

{% block pageHeader %}
    <h1 class="page-heading push">
        {{ pageTitle }}
    </h1>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="alert alert-warning">
            <p>Les limites imposées par Altares ne permettent pas de vérifier plus de 2500 SIREN par heure.</p>
        </div>
        <div class="block">
            <div class="block-content block-content-full">
                <div class="row">
                    <div class="col-md-3">
                        <div class="from-group">
                            <form class="validate" enctype="multipart/form-data" method="post">
                                <label for="siren-list">{% trans %} upload-siren-file-page_file-input-label {% endtrans %}</label>
                                <input class="form-control required" type="file" name="siren_list" id="siren-list">
                                <button type="submit" class="btn btn-primary push-10-t">{% trans %} upload-siren-file-page_file-upload-button {% endtrans %}</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% if success is not empty %}
                    <div class="alert alert-success push-10-t">
                        <p>{{ success }}</p>
                    </div>
                {% elseif error is not empty %}
                    <div class="alert alert-danger push-10-t">
                        <p>{{ error }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}