<section id="data-update-main-address-view" role="tabpanel" class="lender-data-update-view collapse in">
    <dl class="list-2col">
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-address-label {% endtrans %}</dt>
        <dd id="data-update-address-street-output">{{ mainAddress.address|default('') }}</dd>
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-zip-label {% endtrans %}</dt>
        <dd id="data-update-address-code-output">{{ mainAddress.zip|default('') }}</dd>
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-city-label {% endtrans %}</dt>
        <dd id="data-update-address-city-output">{{ mainAddress.city|default('') }}</dd>
        <dt>{% trans %} lender-profile_information-tab-fiscal-address-section-country-label {% endtrans %}</dt>
        <dd id="data-update-address-country-output">{{ mainAddress.idCountry.fr|default('') }}</dd>
    </dl>

    <div class="btn-controls">
        <button data-target="#data-update-main-address-edit" role="button" data-toggle="collapse" data-parent="#data-update-main-address-section" class="btn-default"
                aria-controls="#data-update-main-address-edit" aria-expanded="false" type="button">
            <span class="icon fa-pencil-u32"></span>
            <span class="label">{% trans %} lender-data-update_modify-button {% endtrans %}</span>
        </button>
        <button data-target="#panel-data-update-kbis-doc" role="button" data-toggle="collapse" data-parent="#data-update-section" class="btn-primary data-update-continue-btn"
                aria-controls="#panel-data-update-kbis-doc" aria-expanded="false" type="button">
            <span class="label">{% trans %} lender-data-update_continue-button {% endtrans %}</span>
        </button>
    </div>
</section><!-- /.profile-address-view -->

<section id="data-update-main-address-edit" role="tabpanel" class="lender-data-update-edit collapse" data-formvalidation data-formvalidation-notificationselem="#data-update-main-address-edit-notifications">
    <div id="data-update-main-address-edit-notifications"></div>
    <div class="row">
        <div class="form-field {% if form.main_address.address.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-address-street">
                {% trans %} lender-profile_information-tab-fiscal-address-section-address-label {% endtrans %}
                <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(form.main_address.address, {
                'id': 'form-profile-address-street',
                'required': false,
                'attr': {
                    'class': 'input-field',
                    'data-formvalidation-input data-formvalidation-required': 'true',
                    'data-impacted-element-id': 'data-update-address-street-output',
                    'data-original-value': mainAddress.address|default('')
                }
            }) }}
            {{ form_errors(form.main_address.address) }}
        </div><!-- /.form-field -->
    </div>

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if form.main_address.zip.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-address-code">
                {% trans %} lender-profile_information-tab-fiscal-address-section-zip-label {% endtrans %}
                <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="input-group set-right">
                {{ form_widget(form.main_address.zip, {
                    'id': 'form-profile-address-code',
                    'required': false,
                    'attr': {
                        'class': 'input-field',
                        'data-formvalidation-input data-formvalidation-required': 'true',
                        'data-autocomplete-address data-autocomplete-ajaxurl': path('lender_profile_ajax_zip'),
                        'data-autocomplete-address-countryelem': '#form-profile-address-pays',
                        'data-autocomplete-address-cityelem': '#form-profile-address-ville',
                        'data-autocomplete-address-zipelem': '#form-profile-address-code',
                        'data-has-spinner': '#spinner-profile-address-code',
                        'data-impacted-element-id': 'data-update-address-code-output',
                        'data-original-value': mainAddress.zip|default('')
                    }
                }) }}
                {{ form_errors(form.main_address.zip) }}
                <div class="btn-group">
                    <span id="spinner-profile-address-code" class="ui-is-spinner"><span class="sr-only">{% trans %} common_loading {% endtrans %}</span></span>
                </div>
            </div><!-- /.input-group -->
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if form.main_address.city.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-address-ville">
                {% trans %} lender-profile_information-tab-fiscal-address-section-city-label {% endtrans %}
                <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="input-group set-right">
                {{ form_widget(form.main_address.city, {
                    'id': 'form-profile-address-ville',
                    'required': false,
                    'attr': {
                        'class': 'input-field',
                        'data-formvalidation-input data-formvalidation-required': 'true',
                        'data-autocomplete-address data-autocomplete-ajaxurl': path('lender_profile_ajax_zip'),
                        'data-autocomplete-address-countryelem': '#form-profile-address-pays',
                        'data-autocomplete-address-cityelem': '#form-profile-address-ville',
                        'data-autocomplete-address-zipelem': '#form-profile-address-code',
                        'data-has-spinner': '#spinner-profile-address-city',
                        'data-impacted-element-id': 'data-update-address-city-output',
                        'data-original-value': mainAddress.city|default('')
                    }
                }) }}
                {{ form_errors(form.main_address.city) }}
                <div class="btn-group">
                    <span id="spinner-profile-address-city" class="ui-is-spinner"><span class="sr-only">{% trans %} common_loading {% endtrans %}</span></span>
                </div>
            </div><!-- /.input-group -->
        </div><!-- /.form-field -->
    </div>

    <div class="row">
        <div class="form-field col-lg-6 col-md-6 {% if form.main_address.idCountry.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-address-pays">
                {% trans %} lender-profile_information-tab-fiscal-address-section-country-label {% endtrans %}
                <span class="field-required">*<span class="sr-only">{% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(form.main_address.idCountry, {
                'id': 'form-profile-address-pays',
                'required': false,
                'attr': {
                    'class': 'input-field',
                    'data-formvalidation-input data-formvalidation-required': 'true',
                    'data-impacted-element-id': 'data-update-address-country-output',
                    'data-original-value': mainAddress.idCountry.idPays|default('')
                }
            }) }}
            {{ form_errors(form.main_address.idCountry) }}
        </div><!-- /.form-field -->
    </div>

    <div class="btn-controls">
        <button class="btn-default" role="button" data-toggle="collapse" data-target="#data-update-main-address-view" data-parent="#data-update-main-address-section"
                aria-controls="#data-update-main-address-view" aria-expanded="false" type="reset">{% trans %} lender-data-update_cancel-button {% endtrans %}</button>
        <button class="btn-primary lender-data-update-save-btn" id="lender-data-update-legal-entity-address-save-btn" role="button" data-parent="#data-update-main-address-section"
        aria-controls="#data-update-main-address-view" aria-expanded="false" type="button">{% trans %} lender-data-update_save-button {% endtrans %}</button>
    </div>
</section><!-- /.data-update-main-address-edit -->
