<section id="data-update-telephone-view" role="tabpanel" class="lender-data-update-view collapse in">
    <dl class="list-2col">
        <dt>{% trans %} common_mobile-phone {% endtrans %}</dt>
        <dd id="data-update-phone-mobile-output">{{ client.getMobile() }}</dd>
        <dt>{% trans %} common_landline {% endtrans %}</dt>
        <dd id="data-update-phone-telephone-output">{{ client.getTelephone() }}</dd>
    </dl>
    {% trans %} lender-data-update_telephone-description {% endtrans %}
    <div class="btn-controls">
        <button data-target="#data-update-telephone-edit" role="button" data-toggle="collapse" data-parent="#data-update-telephone-section" class="btn-default"
                aria-controls="#data-update-telephone-edit" aria-expanded="false" type="button">
            <span class="icon fa-pencil-u32"></span>
            <span class="label">{% trans %} lender-data-update_modify-button {% endtrans %}</span>
        </button>
        <button data-target="#panel-data-update-main-address" role="button" data-toggle="collapse" data-parent="#data-update-section" class="btn-primary"
                aria-controls="#panel-data-update-main-address" aria-expanded="false" type="button">
            <span class="label">{% trans %} lender-data-update_continue-button {% endtrans %}</span>
        </button>
    </div>
</section>

<section id="data-update-telephone-edit" role="tabpanel" class="lender-data-update-edit collapse">
    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if form.phone.mobile.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-phone-mobile">{% trans %} common_mobile-phone {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            <div class="input-group">
                {{ form_widget(form.phone.mobile, {
                    'id' : 'form-profile-phone-mobile',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-formvalidation-type' : 'telephone',
                        'data-impacted-element-id' : 'data-update-phone-mobile-output'
                    }})
                }}
                {{ form_errors(form.phone.mobile) }}
            </div>
        </div><!-- /.form-field -->

        <div class="form-field col-lg-6 col-md-6 {% if form.phone.telephone.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-profile-security-identification-telephone">{% trans %} common_landline {% endtrans %}</label>
            <div class="input-group">
                {{ form_widget(form.phone.telephone, {
                    'id' : 'form-profile-phone-telephone',
                    'attr' : {
                        'class' : 'input-field',
                        'data-formvalidation-input data-formvalidation-type' : 'telephone',
                        'data-impacted-element-id' : 'data-update-phone-telephone-output'
                    }})
                }}
                {{ form_errors(form.phone.telephone) }}
            </div>
        </div><!-- /.form-field -->
    </div>

    <div class="btn-controls">
        <button class="btn-primary lender-data-update-save-btn" role="button" data-toggle="collapse" data-target="#data-update-telephone-view" data-parent="#data-update-telephone-section"
                aria-controls="#data-update-telephone-view" aria-expanded="false" type="button">{% trans %} lender-data-update_save-button {% endtrans %}</button>
        <button class="btn-default" role="button" data-toggle="collapse" data-target="#data-update-telephone-view" data-parent="#data-update-telephone-section"
                aria-controls="#data-update-telephone-view" aria-expanded="false" type="reset">{% trans %} lender-data-update_cancel-button {% endtrans %}</button>
    </div>
</section><!-- /.data-update-info-edit -->
