<section id="data-update-bank-account-view" role="tabpanel" class="lender-data-update-view collapse in">
    <dl class="list-2col">
        <dt>{% trans %} lender-profile_fiscal-tab-bank-info-section-iban {% endtrans %}</dt>
        <dd id="data-update-bank-account-iban-output">{{ bankAccount.getIban() }}</dd>
        <dt>{% trans %} lender-profile_fiscal-tab-bank-info-section-bic {% endtrans %}</dt>
        <dd id="data-update-bank-account-bic-output">{{ bankAccount.getBic() }}</dd>
        {% if bankAccount.getAttachment() is not null %}
            {% set ribDate = bankAccount.getAttachment().getUpdated()|default(bankAccount.getAttachment().getAdded())|localizeddate('short', 'none') %}
            {% set ribProvidedTranslation = "lender-profile_lender-attachment-provided-label-type-#{constant('\\attachment_type::RIB')}" | transchoice(ribDate, {'%date%': ribDate}) %}
            <dt>{% trans %} lender-profile_fiscal-tab-bank-info-section-documents {% endtrans %}</dt>
            <dd><span class="file-justificatif file-rib" title="{{ ribProvidedTranslation }}" data-toggle="tooltip"></span></dd>
        {% endif %}
    </dl>

    {% trans %} lender-data-update_bank-account-description {% endtrans %}

    <div class="btn-controls">
        <button data-target="#data-update-bank-account-edit" role="button" data-toggle="collapse" data-parent="#data-update-bank-account-section" class="btn-default"
                aria-controls="#data-update-bank-account-edit" aria-expanded="false" type="button">
            <span class="icon fa-pencil-u32"></span>
            <span class="label">{% trans %} lender-data-update_modify-button {% endtrans %}</span>
        </button>
        <button data-target="#panel-data-update-funds-origin" role="button" data-toggle="collapse" data-parent="#data-update-section" class="btn-primary"
                aria-controls="#panel-data-update-funds-origin" aria-expanded="false" type="button">
            <span class="label">{% trans %} lender-data-update_continue-button {% endtrans %}</span>
        </button>
    </div>
</section>

<section id="data-update-bank-account-edit" role="tabpanel" class="lender-data-update-edit collapse">
    <div class="row">
        <div class="form-field form-field-iban {% if form.bankAccount.iban.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <div id="form-profile-fiscalite-iban-add" data-toggle-group="iban" class="ui-toggle iban-add">
                <label for="form-profile-fiscalite-iban" class="form-field-label">{% trans %} lender-profile_fiscal-tab-bank-info-section-iban {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>

                <div class="input-group">
                    <div class="custom-input-iban">
                        {{ form_widget(form.bankAccount.iban, {
                            'id' : 'form-profile-fiscalite-iban',
                            'attr' : {
                                'class' : 'iban-input input-field',
                                'data-formvalidation-input data-formvalidation-required' : 'true',
                                'data-formvalidation-type' : 'iban',
                                'data-impacted-element-id' : 'data-update-bank-account-iban-output'
                            }
                        }) }}
                        {{ form_errors(form.bankAccount.iban) }}
                    </div>
                </div><!-- /.input-group -->

                <ul class="ui-formvalidation-messages"></ul>
            </div><!-- /.iban-add -->
        </div><!-- /.form-field -->
    </div>
    <div class="row row-multi-col">
        <div class="form-field col-lg-6 col-md-6 col-sm-4 col-xs-2 {% if form.bankAccount.bic.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <div class="field-label">
                <label>{% trans %} lender-profile_fiscal-tab-bank-info-section-bic {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
            </div><!-- /.field-label -->
            <div class="custom-input-bic">
                {{ form_widget(form.bankAccount.bic, {
                    'id' : 'form-profile-fiscalite-bic',
                    'attr' :  {
                        'class' : 'bic-input input-field',
                        'data-formvalidation-input data-formvalidation-required' : 'true',
                        'data-formvalidation-type' : 'bic',
                        'data-impacted-element-id' : 'data-update-bank-account-bic-output'
                    }
                }) }}
                {{ form_errors(form.bankAccount.bic) }}
            </div>
        </div>
    </div>

    {#rib attachment#}
    <div class="row" id="upload-rib">
        <div class="form-field ">
            <label>{% trans %} lender-profile_fiscal-tab-iban-certificate {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            <div class="custom-input-file"
                 data-fileattach data-fileattach-inputname="iban-certificate"
                 data-fileattach-maxfiles="1"
                 data-fileattach-emptyfilelabel="{{ 'lender-profile_fiscal-tab-iban-certificate'|trans|e('html_attr') }}">

            </div><!-- /.ui-fileattach -->
        </div>
    </div>
    <div class="btn-controls">
        <button class="btn-primary lender-data-update-save-btn" role="button" data-toggle="collapse" data-target="#data-update-bank-account-view" data-parent="#data-update-bank-account-section"
                aria-controls="#data-update-bank-account-view" aria-expanded="false" type="button">{% trans %} lender-data-update_save-button {% endtrans %}</button>
        <button class="btn-default" role="button" data-toggle="collapse" data-target="#data-update-bank-account-view" data-parent="#data-update-bank-account-section"
                aria-controls="#data-update-bank-account-view" aria-expanded="false" type="reset">{% trans %} lender-data-update_cancel-button {% endtrans %}</button>
    </div><!-- /.btn-controls -->
</section><!-- /#profile-fiscalite-bank-edit -->
