<section id="data-update-info-view" role="tabpanel" class="lender-data-update-view collapse in">
    <dl class="list-2col">
        <dt>{% trans %} common_title {% endtrans %}</dt>
        {% if client.civilite == 'M.' %}
            <dd id="data-update-info-title-output">{% trans %} common_title-male {% endtrans %}</dd>
        {% else %}
            <dd id="data-update-info-title-output">{% trans %} common_title-female {% endtrans %}</dd>
        {% endif %}
        <dt>{% trans %} common_used-name {% endtrans %}</dt>
        <dd id="data-update-info-used-name-output">{{ client.nomUsage }}</dd>
        <dt>{% trans %} common_firstname {% endtrans %}</dt>
        <dd id="data-update-info-first-name-output">{{ client.prenom }}</dd>
        <dt>{% trans %} common_nationality {% endtrans %}</dt>
        <dd id="data-update-info-nationality-output">{{ client.idNationalite|nationalityLabel }}</dd>
    </dl>

    <div class="btn-controls">
        <button data-target="#data-update-info-edit" role="button" data-toggle="collapse" data-parent="#profile-info-section" class="btn-default"
                aria-controls="#data-update-info-edit" aria-expanded="false" type="button">
            <span class="icon fa-pencil-u32"></span>
            <span class="label">{% trans %} lender-data-update_modify-button {% endtrans %}</span>
        </button>
        <button data-target="#panel-data-update-id-doc" role="button" data-toggle="collapse" data-parent="#data-update-section" class="btn-primary"
                aria-controls="#panel-data-update-id-doc" aria-expanded="false" type="button">
            <span class="label">{% trans %} lender-data-update_continue-button {% endtrans %}</span>
        </button>
    </div>
</section>

<section id="data-update-info-edit" role="tabpanel" class="lender-data-update-edit collapse">
    <div class="row">
        <div class="form-field form-field-multi">
            <div class="field-label">
                <label>{% trans %} common_title {% endtrans %}
                    <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
                </label>
            </div>
            <ul class="list-input-values" data-formvalidation-input data-formvalidation-required="true">
                {{ form_widget(form.client.civilite, {'attr' : {
                    'required' : false,
                    'data-impacted-element-id' : 'data-update-info-title-output'
                }}) }}
                {{ form_errors(form.client.civilite) }}
            </ul>
        </div><!-- /.form-field -->
    </div><!-- /.row -->

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if form.client.nomUsage.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-data-update-info-prenom">{% trans %} common_used-name {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(form.client.nomUsage, {
                'id' : 'form-data-update-info-nomUsage',
                'attr' : {
                    'class' : 'input-field',
                    'data-formvalidation-input data-formvalidation-required' : 'false',
                    'data-impacted-element-id' : 'data-update-info-used-name-output'
                }}) }}
            {{ form_errors(form.client.nomUsage) }}
        </div><!-- /.form-field -->
        <div class="form-field col-lg-6 col-md-6">
        </div><!-- /.form-field -->
    </div><!-- /.row -->

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6 {% if form.client.prenom.vars.errors|length > 0 %}ui-formvalidation-error{% endif %}">
            <label for="form-data-update-info-prenom">{% trans %} common_firstname {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span></label>
            {{ form_widget(form.client.prenom, {
                'id' : 'form-data-update-info-prenom',
                'attr' : {
                    'class' : 'input-field',
                    'data-formvalidation-input data-formvalidation-required' : 'true',
                    'data-impacted-element-id' : 'data-update-info-first-name-output'
                }}) }}
            {{ form_errors(form.client.prenom) }}
        </div><!-- /.form-field -->
    </div><!-- /.row -->

    <div class="row row-multi-col-computer">
        <div class="form-field col-lg-6 col-md-6">
            <label for="form-data-update-info-nationalite">{% trans %} common_nationality {% endtrans %}
                <span class="field-required">*<span class="sr-only"> {% trans %} common_mandatory-field {% endtrans %}</span></span>
            </label>
            {{ form_widget(form.client.idNationalite, {
                'id' : 'form-data-update-info-nationalite',
                'attr' : {
                    'class' : 'input-field',
                    'data-formvalidation-input data-formvalidation-required' : 'true',
                    'data-impacted-element-id' : 'data-update-info-nationality-output'
                }}) }}
            {{ form_errors(form.client.idNationalite) }}
        </div><!-- /.form-field -->
    </div><!-- /.row -->

    <div class="btn-controls">
        <button class="btn-primary lender-data-update-save-btn" role="button" data-toggle="collapse" data-target="#data-update-info-view" data-parent="#profile-info-section"
                aria-controls="#data-update-info-view" aria-expanded="false" type="button">{% trans %} lender-profile_information-tab-identity-save-modifications-button {% endtrans %}</button>
        <button class="btn-default" role="button" data-toggle="collapse" data-target="#data-update-info-view" data-parent="#profile-info-section"
                aria-controls="#data-update-info-view" aria-expanded="false" type="reset">{% trans %} lender-profile_information-tab-identity-cancel-modifications-button {% endtrans %}</button>
    </div>
</section><!-- /.data-update-info-edit -->
