<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <!-- !!! NE PAS OUBLIER DE MODIFIER TITLE - DESCRIPTION - KEYWORDS -->
    <title>Financement Participatif  : Prêtez aux entreprises françaises & Recevez des intérêts chaque mois</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://www.lefigaro.fr/icones/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Financement Participatif  : Prêtez aux entreprises françaises & Recevez des intérêts chaque mois" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <link rel="stylesheet" href="http://www.lefigaro.fr/css/styles.css" type="text/css" />
    <script src="http://www.lefigaro.fr/components/ffw_base.js.php?version=2&id=165" type="text/javascript"></script>
    <script type="text/javascript" src="http://www.lefigaro.fr/__templates/header-footer/components/header.js"></script>

    <link rel="stylesheet" href="{{ asset('js/vendor/videojs/video-js.min.css', 'gulp') }}" />
    <link rel="stylesheet" href="{{ asset('js/vendor/swiper/css/swiper.min.css', 'gulp') }}" />
    <link rel="stylesheet" href="{{ asset('js/vendor/fancybox/css/jquery.fancybox.css', 'gulp') }}" />
    <link rel="stylesheet" href="{{ asset('js/vendor/jquery-ui/themes/base/minified/jquery-ui.min.css', 'gulp') }}" />
    <link rel="stylesheet" href="{{ asset('fonts/style.css', 'gulp') }}" />
    <link rel="stylesheet" href="{{ asset('css/main.css', 'gulp') }}" />
    <style type="text/css">
        #devenir-preteur {
            padding: 0px;
        }
    </style>


</head>
<body>

{{ google_tag_manager() }}

<!-- Header NoScript --><noscript><div id="headerNoJS"><h1><a href="http://www.lefigaro.fr/">LeFigaro.fr</a></h1><ul><li><a href="http://www.lefigaro.fr/">Actualite</a></li><li><a href="http://www.lefigaro.fr/economie/">Economie</a></li><li><a href="http://www.lefigaro.fr/culture/">Culture</a></li><li><a href="http://madame.lefigaro.fr/">Madame</a></li><li><a href="http://www.lefigaro.fr/sport/">Sport</a></li><li><a href="http://www.lefigaro.fr/services/">Services</a></li></ul></div></noscript><!-- /Header NoScript -->

<!-- HEADER - AJOUT KLE --><script type="text/javascript">ffw_displayHeader();</script><!-- /HEADER -->

<!-- Header -->
<div class="size1200" width="100%">

    <div id="Content">
        <!-- Contenu de la page du Partenaire -->
        <!-- ################## -->

        {% include 'pages/lender_subscription/partners/partner_landing_page.html.twig' %}

        <!-- ################## -->
        <!-- /Contenu de la page du Partenaire -->
    </div>
    <div class="clear">.</div>
</div>
<!-- Footer --><script type="text/javascript">ffw_displayFooter();</script><!-- /Footer -->

<!-- Stat  -->
<script type="text/javascript">ffw_addStat();</script>
<noscript><img width="1" height="1" alt="" src="http://www.lefigaro.fr/components/for_stat.php?id=165" /></noscript>
<!-- /Stat -->
</body>
</html>