<article role="tabpanel" class="dashboard-tab-pane tab-pane" id="tab-lender">
    <div class="panel">
        <div class="panel-content">
            {% if projects.bids|length + projects.loans|length == 0 %}
                <div class="message-info">{{ 'demo-loans_lender-not-found-message'|trans }}</div>
            {% else %}
                {% if projects.bids|length > 0 %}
                    <div class="row">
                        <a href="#lender-bids" role="button" data-toggle="collapse" class="margin-20-b" style="display: block; text-decoration: none; color: #787679; background-color: #eceaed; padding: 10px 20px;">
                            En cours de financement ({{ projects.bids|length }})
                            <div class="pull-right">
                                <span class="icon fa-angle-d-u"></span>
                            </div>
                        </a>
                    </div>
                    <div id="lender-bids" class="table-scroll collapse">
                        <table class="table table-projects" data-sortable style="table-layout: auto;">
                            <thead class="table-sortable-columns">
                            <tr>
                                <th colspan="4" style="text-align: center;">Dossier</th>
                                <th colspan="2" style="text-align: center;">Offre</th>
                                <th>&nbsp;</th>
                            </tr>
                            <tr>
                                <th class="table-projects-item-partner table-sortable-column" data-sortable-by="partner">
                                    <span class="label" title="Canal de financement" data-toggle="tooltip">
                                        Canal
                                    </span>
                                </th>
                                <th class="table-projects-item-title table-sortable-column" data-sortable-by="title">
                                    <span class="label" title="Nom du dossier" data-toggle="tooltip">
                                        Nom
                                    </span>
                                </th>
                                <th class="table-projects-item-amount table-sortable-column" data-sortable-by="project-amount">
                                    <span class="label" title="Montant du dossier" data-toggle="tooltip">
                                        Montant
                                    </span>
                                </th>
                                <th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">
                                    <span class="label" title="Maturité" data-toggle="tooltip">
                                        Maturité
                                    </span>
                                </th>
                                <th class="table-projects-item-amount table-sortable-column" data-sortable-by="bid-amount">
                                    <span class="label" title="Montant de l‘offre" data-toggle="tooltip">
                                        Montant
                                    </span>
                                </th>
                                <th class="table-projects-item-amount table-sortable-column" data-sortable-by="rate">
                                    <span class="label" title="Taux de l‘offre" data-toggle="tooltip">
                                        Taux
                                    </span>
                                </th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody data-sortable-content>
                            {% for bid in projects.bids %}
                                {% set project = bid.project %}
                                <tr id="lender-bid-{{ bid.idBid }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}"
                                    data-hash="{{ project.hash }}"
                                    data-sortable-partner="{{ ('partner-name_bubble-' ~ project.idPartner.label)|trans }}"
                                    data-sortable-title="{{ project.title|e('html_attr') }}"
                                    data-sortable-project-amount="{{ project.amount }}"
                                    data-sortable-duration="{{ project.period }}"
                                    data-sortable-bid-amount="{{ bid.amount }}"
                                    data-sortable-rate="{{ bid.rate }}">
                                    <td class="table-projects-item-partner">
                                        {% set backgroundColor = '#787679' %}
                                        {% if project.idPartner.label == 'cals' %}
                                            {% set backgroundColor = '#5fc5d1' %}
                                        {% elseif project.idPartner.label == 'cacib' %}
                                            {% set backgroundColor = '#1b88db' %}
                                        {% elseif project.idPartner.label == 'calf' %}
                                            {% set backgroundColor = '#ffca2c' %}
                                        {% elseif project.idPartner.label == 'unifergie' %}
                                            {% set backgroundColor = '#f76965' %}
                                        {% endif %}
                                        <span class="bubble" style="background-color: {{ backgroundColor }};">{{ ('partner-name_bubble-' ~ project.idPartner.label)|trans }}</span>
                                    </td>
                                    <td class="table-projects-item-title">{{ project.title }}</td>
                                    <td class="table-projects-item-project-amount">{{ project.amount|localizednumber }}&nbsp;€</td>
                                    <td class="table-projects-item-duration">{{ project.period }} ans</td>
                                    <td class="table-projects-item-bid-amount">{{ bid.amount|localizednumber }}&nbsp;€</td>
                                    <td class="table-projects-item-rate">{{ bid.rate|localizednumberwithprecision(2) }}&nbsp;%</td>
                                    <td class="table-actions">
                                        <a href="{{ path('demo_project_details', {'hash': project.hash}) }}" role="button" class="btn-default" title="Voir le dossier de financement" data-toggle="tooltip"><span class="icon fa-view-u16"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table><!-- /.table-projects -->
                    </div><!-- /.table-scroll -->
                {% endif %}

                {#{% for status, statusProjects in projects.loans %}#}
                    {#<div class="row">#}
                        {#<a href="#lender-projects-{{ status }}" role="button" data-toggle="collapse" class="margin-20-b" style="display: block; text-decoration: none; color: #787679; background-color: #eceaed; padding: 10px 20px;">#}
                            {#{% if status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REQUEST') %}#}
                                {#À compléter#}
                            {#{% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REVIEW') %}#}
                                {#Revue#}
                            {#{% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_ONLINE') %}#}
                                {#En cours de financement#}
                            {#{% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_FUNDED') %}#}
                                {#En attente de signature#}
                            {#{% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_SIGNED') %}#}
                                {#Signé#}
                            {#{% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAYMENT') %}#}
                                {#En cours de remboursement#}
                            {#{% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAID') %}#}
                                {#Remboursé#}
                            {#{% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_LOSS') %}#}
                                {#Perte#}
                            {#{% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_CANCELLED') %}#}
                                {#Annulé#}
                            {#{% endif %}#}
                            {#({{ statusProjects|length }})#}
                            {#<div class="pull-right">#}
                                {#<span class="icon fa-angle-d-u"></span>#}
                            {#</div>#}
                        {#</a>#}
                    {#</div>#}
                    {#<div id="lender-projects-{{ status }}" class="table-scroll collapse">#}
                        {#<table class="table table-projects" data-sortable style="table-layout: auto;">#}
                            {#<thead class="table-sortable-columns">#}
                            {#<tr>#}
                                {#<th class="table-projects-item-partner table-sortable-column" data-sortable-by="partner">#}
                                    {#<span class="label" title="Canal de financement" data-toggle="tooltip">#}
                                        {#Canal#}
                                    {#</span>#}
                                {#</th>#}
                                {#<th class="table-projects-item-title table-sortable-column" data-sortable-by="title">#}
                                    {#<span class="label" title="Nom du dossier" data-toggle="tooltip">#}
                                        {#Nom#}
                                    {#</span>#}
                                {#</th>#}
                                {#<th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">#}
                                    {#<span class="label" title="Montant" data-toggle="tooltip">#}
                                        {#Montant#}
                                    {#</span>#}
                                {#</th>#}
                                {#<th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">#}
                                    {#<span class="label" title="Maturité" data-toggle="tooltip">#}
                                        {#Maturité#}
                                    {#</span>#}
                                {#</th>#}
                                {#<th>&nbsp;</th>#}
                            {#</tr>#}
                            {#</thead>#}
                            {#<tbody data-sortable-content>#}
                            {#{% for project in statusProjects %}#}
                                {#<tr id="lender-{{ project.idProject }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}"#}
                                    {#data-hash="{{ project.hash }}"#}
                                    {#data-sortable-partner="{{ ('partner-name_bubble-' ~ project.idPartner.label)|trans }}"#}
                                    {#data-sortable-title="{{ project.title|e('html_attr') }}"#}
                                    {#data-sortable-amount="{{ project.amount }}"#}
                                    {#data-sortable-duration="{{ project.period }}">#}
                                    {#<td class="table-projects-item-partner">#}
                                        {#{% set backgroundColor = '#787679' %}#}
                                        {#{% if project.idPartner.label == 'cals' %}#}
                                            {#{% set backgroundColor = '#5fc5d1' %}#}
                                        {#{% elseif project.idPartner.label == 'cacib' %}#}
                                            {#{% set backgroundColor = '#1b88db' %}#}
                                        {#{% elseif project.idPartner.label == 'calf' %}#}
                                            {#{% set backgroundColor = '#ffca2c' %}#}
                                        {#{% elseif project.idPartner.label == 'unifergie' %}#}
                                            {#{% set backgroundColor = '#f76965' %}#}
                                        {#{% endif %}#}
                                        {#<span class="bubble" style="background-color: {{ backgroundColor }};">{{ ('partner-name_bubble-' ~ project.idPartner.label)|trans }}</span>#}
                                    {#</td>#}
                                    {#<td class="table-projects-item-title">{{ project.title }}</td>#}
                                    {#<td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>#}
                                    {#<td class="table-projects-item-duration">{{ project.period }} ans</td>#}
                                    {#<td class="table-actions">#}
                                        {#<a href="{{ path('demo_project_details', {'hash': project.hash}) }}" role="button" class="btn-default" title="Voir le détail" data-toggle="tooltip"><span class="icon fa-view-u16"></span></a>#}
                                    {#</td>#}
                                {#</tr>#}
                            {#{% endfor %}#}
                            {#</tbody>#}
                        {#</table><!-- /.table-projects -->#}
                    {#</div><!-- /.table-scroll -->#}
                {#{% endfor %}#}
            {% endif %}
        </div><!-- /.panel-content -->
    </div><!-- /.panel -->
</article><!-- /.dashboard-tab-pane -->

{#<article role="tabpanel" class="dashboard-tab-pane tab-pane" id="tab-broker">#}
    {#<div class="panel">#}
        {#<div class="panel-content">#}
            {#{% if projects.borrower|length > 0 %}#}
                {#<div class="table-scroll">#}
                    {#<table class="table table-projects" data-sortable>#}
                        {#<thead class="table-sortable-columns">#}
                        {#<tr>#}
                            {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                {#<th class="table-projects-item-submitter table-sortable-column" data-sortable-by="submitter">#}
                                    {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                        {#{% trans %} demo-loans_lender-table-submitter {% endtrans %}#}
                                    {#</span>#}
                                {#</th>#}
                            {#{% endif %}#}
                            {#<th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-amount'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_lender-table-amount {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-duration'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_lender-table-duration {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-date table-sortable-column" data-sortable-by="date">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-date'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_lender-table-date {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-actions">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-action'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_lender-table-action {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody data-sortable-content>#}
                        {#{% for project in projects.borrower %}#}
                            {#<tr id="lender-{{ project.idProject }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}"#}
                                {#data-hash="{{ project.hash }}"#}
                                {#data-sortable-title="{{ project.title|e('html_attr') }}"#}
                                {#data-sortable-amount="{{ project.amount }}"#}
                                {#data-sortable-duration="{{ project.period }}"#}
                                {#data-sortable-date="{{ project.added|date('U') }}">#}
                                {#<td class="table-projects-item-title">{{ project.title }}</td>#}
                                {#<td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>#}
                                {#<td class="table-projects-item-duration">{% trans with {'%duration%': project.period} %} demo-loans_lender-table-duration-value {% endtrans %}</td>#}
                                {#<td class="table-projects-item-date">{{ project.added|date('d/m/Y') }}</td>#}
                                {#<td class="table-actions">#}
                                    {#<a role="button" class="btn-default" title="{{ 'demo-loans_lender-table-action-cancel'|trans|e('html_attr')}}" data-toggle="tooltip" data-action="abandon"><span class="icon fa-ban-u16"></span></a>#}
                                    {#<a role="button" class="btn-default" title="{{ 'demo-loans_lender-table-action-submit'|trans|e('html_attr')}}" data-toggle="tooltip" data-action="submit"><span class="icon fa-check-u16"></span></a>#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table><!-- /.table-projects -->#}
                {#</div><!-- /.table-scroll -->#}
            {#{% else %}#}
                {#<div class="message-info">{{ 'demo-loans_lender-not-found-message'|trans }}</div>#}
            {#{% endif %}#}
        {#</div><!-- /.panel-content -->#}
    {#</div><!-- /.panel -->#}
{#</article><!-- /.dashboard-tab-pane -->#}

{#<article role="tabpanel" class="dashboard-tab-pane tab-pane" id="tab-lender">#}
    {#<div class="panel">#}
        {#<div class="panel-content">#}
            {#{% if projects.lender|length > 0 %}#}
                {#<div class="table-scroll">#}
                    {#<table class="table table-projects" data-sortable>#}
                        {#<thead class="table-sortable-columns">#}
                        {#<tr>#}
                            {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                {#<th class="table-projects-item-submitter table-sortable-column" data-sortable-by="submitter">#}
                                    {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                        {#{% trans %} demo-loans_lender-table-submitter {% endtrans %}#}
                                    {#</span>#}
                                {#</th>#}
                            {#{% endif %}#}
                            {#<th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-amount'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_lender-table-amount {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-duration'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_lender-table-duration {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-date table-sortable-column" data-sortable-by="date">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-date'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_lender-table-date {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-actions">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-lender-action'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_lender-table-action {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody data-sortable-content>#}
                        {#{% for project in projects.lender %}#}
                            {#<tr id="lender-{{ project.idProject }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}"#}
                                {#data-hash="{{ project.hash }}"#}
                                {#data-sortable-title="{{ project.title|e('html_attr') }}"#}
                                {#data-sortable-amount="{{ project.amount }}"#}
                                {#data-sortable-duration="{{ project.period }}"#}
                                {#data-sortable-date="{{ project.added|date('U') }}">#}
                                {#<td class="table-projects-item-title">{{ project.title }}</td>#}
                                {#<td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>#}
                                {#<td class="table-projects-item-duration">{% trans with {'%duration%': project.period} %} demo-loans_lender-table-duration-value {% endtrans %}</td>#}
                                {#<td class="table-projects-item-date">{{ project.added|date('d/m/Y') }}</td>#}
                                {#<td class="table-actions">#}
                                    {#<a role="button" class="btn-default" title="{{ 'demo-loans_lender-table-action-cancel'|trans|e('html_attr')}}" data-toggle="tooltip" data-action="abandon"><span class="icon fa-ban-u16"></span></a>#}
                                    {#<a role="button" class="btn-default" title="{{ 'demo-loans_lender-table-action-submit'|trans|e('html_attr')}}" data-toggle="tooltip" data-action="submit"><span class="icon fa-check-u16"></span></a>#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table><!-- /.table-projects -->#}
                {#</div><!-- /.table-scroll -->#}
            {#{% else %}#}
                {#<div class="message-info">{{ 'demo-loans_lender-not-found-message'|trans }}</div>#}
            {#{% endif %}#}
        {#</div><!-- /.panel-content -->#}
    {#</div><!-- /.panel -->#}
{#</article><!-- /.dashboard-tab-pane -->#}







{#<article role="tabpanel" class="dashboard-tab-pane tab-pane" id="tab-incomplete-projects">#}
    {#<div class="panel">#}
        {#<div class="panel-content">#}
            {#{% if ready|length > 0 %}#}
                {#<div class="table-scroll">#}
                    {#<table class="table table-projects" data-sortable>#}
                        {#<thead class="table-sortable-columns">#}
                        {#<tr>#}
                            {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                {#<th class="table-projects-item-submitter table-sortable-column" data-sortable-by="submitter">#}
                                    {#<span class="label" title="{{ 'demo-loans_sr-sort-incomplete-projects-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                        {#{% trans %} demo-loans_incomplete-projects-table-submitter {% endtrans %}#}
                                    {#</span>#}
                                {#</th>#}
                            {#{% endif %}#}
                            {#<th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-incomplete-projects-amount'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_incomplete-projects-table-amount {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-incomplete-projects-duration'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_incomplete-projects-table-duration {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-date table-sortable-column" data-sortable-by="date">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-incomplete-projects-date'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_incomplete-projects-table-date {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-actions">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-incomplete-projects-action'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_incomplete-projects-table-action {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody data-sortable-content>#}
                        {#{% for project in ready %}#}
                            {#<tr id="project-{{ project.id }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}{% if project.hasChanged == true %} ui-table-projects-item-changed{% endif %}"#}
                                {#data-hash="{{ project.hash }}"#}
                                {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                    {#data-sortable-submitter="{{ project.submitter.lastName|e('html_attr') }} {{ project.submitter.firstName|e('html_attr') }}{% if project.submitter.entity|length %} - {{ project.submitter.entity|e('html_attr') }}{% endif %}"#}
                                {#{% endif %}#}
                                {#data-sortable-amount="{{ project.amount }}"#}
                                {#data-sortable-duration="{{ project.duration }}"#}
                                {#data-sortable-date="{{ project.date|date('U') }}">#}
                                {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                    {#<td class="table-projects-item-submitter">{{ project.submitter.lastName }} {{ project.submitter.firstName }}{% if project.submitter.entity|length %}<br>{{ project.submitter.entity }}{% endif %}</td>#}
                                {#{% endif %}#}
                                {#<td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>#}
                                {#<td class="table-projects-item-duration">{% trans with {'%duration%': project.duration} %} demo-loans_incomplete-projects-table-duration-value {% endtrans %}</td>#}
                                {#<td class="table-projects-item-date">{{ project.date|date('d/m/Y') }}</td>#}
                                {#<td class="table-actions">#}
                                    {#<a href="{{ path('partner_project_request_online', {hash: project.hash}) }}" class="btn-default" title="{{ 'demo-loans_incomplete-projects-table-action-submit'|trans|e('html_attr') }}" data-toggle="tooltip"><span class="icon fa-check-u16"></span></a>#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table><!-- /.table-projects -->#}
                {#</div><!-- /.table-scroll -->#}
            {#{% else %}#}
                {#<div class="message-info">{{ 'demo-loans_incomplete-projects-not-found-message'|trans }}</div>#}
            {#{% endif %}#}
        {#</div><!-- /.panel-content -->#}
    {#</div><!-- /.panel -->#}
{#</article><!-- /.dashboard-tab-pane -->#}

{#<article role="tabpanel" class="dashboard-tab-pane tab-pane" id="tab-complete-projects">#}
    {#<div class="panel">#}
        {#<div class="panel-content">#}
            {#{% if online|length > 0 %}#}
                {#<div class="table-scroll">#}
                    {#<table class="table table-projects" data-sortable>#}
                        {#<thead class="table-sortable-columns">#}
                        {#<tr>#}
                            {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                {#<th class="table-projects-item-submitter table-sortable-column" data-sortable-by="submitter">#}
                                    {#<span class="label" title="{{ 'demo-loans_sr-sort-complete-projects-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                        {#{% trans %} demo-loans_complete-projects-table-submitter {% endtrans %}#}
                                    {#</span>#}
                                {#</th>#}
                            {#{% endif %}#}
                            {#<th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-complete-projects-amount'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_complete-projects-table-amount {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-complete-projects-duration'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_complete-projects-table-duration {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-date table-sortable-column" data-sortable-by="date">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-complete-projects-date'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_complete-projects-table-date {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-actions">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-complete-projects-action'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_complete-projects-table-action {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody data-sortable-content>#}
                        {#{% for project in online %}#}
                            {#<tr id="project-{{ project.id }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}{% if project.hasChanged == true %} ui-table-projects-item-changed{% endif %}"#}
                                {#data-hash="{{ project.hash }}"#}
                                {#data-details="{{ project.memos|json_encode|escape('html_attr') }}"#}
                                {#data-details-tos="{{ project.tos|json_encode|escape('html_attr') }}"#}
                                {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                    {#data-sortable-submitter="{{ project.submitter.lastName|e('html_attr') }} {{ project.submitter.firstName|e('html_attr') }}{% if project.submitter.entity|length %} - {{ project.submitter.entity|e('html_attr') }}{% endif %}"#}
                                {#{% endif %}#}
                                {#data-sortable-amount="{{ project.amount }}"#}
                                {#data-sortable-duration="{{ project.duration }}"#}
                                {#data-sortable-date="{{ project.date|date('U') }}">#}
                                {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                    {#<td class="table-projects-item-submitter">{{ project.submitter.lastName }} {{ project.submitter.firstName }}{% if project.submitter.entity|length %}<br>{{ project.submitter.entity }}{% endif %}</td>#}
                                {#{% endif %}#}
                                {#<td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>#}
                                {#<td class="table-projects-item-duration">{% trans with {'%duration%': project.duration} %} demo-loans_complete-projects-table-duration-value {% endtrans %}</td>#}
                                {#<td class="table-projects-item-date">{{ project.date|date('d/m/Y') }}</td>#}
                                {#<td class="table-actions">#}
                                    {#{% if project.memos|length > 0 %}#}
                                        {#<a role="button" class="btn-default" title="{{ 'demo-loans_complete-projects-table-action-see-memos'|trans|e('html_attr') }}" data-toggle="tooltip" data-action="memos"><span class="icon fa-info-u16"></span></a>#}
                                    {#{% endif %}#}
                                    {#<a role="button" class="btn-default" title="{{ 'demo-loans_complete-projects-table-action-tos'|trans|e('html_attr') }}" data-toggle="tooltip" data-action="tos"><span class="icon fa-file-u16"></span></a>#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table><!-- /.table-projects -->#}
                {#</div><!-- /.table-scroll -->#}
            {#{% else %}#}
                {#<div class="message-info">{{ 'demo-loans_complete-projects-not-found-message'|trans }}</div>#}
            {#{% endif %}#}
        {#</div><!-- /.panel-content -->#}
    {#</div><!-- /.panel -->#}
{#</article><!-- /.dashboard-tab-pane -->#}

{#<article role="tabpanel" class="dashboard-tab-pane tab-pane" id="tab-abandoned">#}
    {#<div class="panel">#}
        {#<div class="panel-content">#}
            {#{% if funded|length > 0 %}#}
                {#<div class="table-scroll">#}
                    {#<table class="table table-projects" data-sortable>#}
                        {#<thead class="table-sortable-columns">#}
                        {#<tr>#}
                            {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                {#<th class="table-projects-item-submitter table-sortable-column" data-sortable-by="submitter">#}
                                    {#<span class="label" title="{{ 'demo-loans_sr-sort-abandoned-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                        {#{% trans %} demo-loans_abandoned-table-submitter {% endtrans %}#}
                                    {#</span>#}
                                {#</th>#}
                            {#{% endif %}#}
                            {#<th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">#}
                                {#<span class="label" title=  "{{ 'demo-loans_sr-sort-abandoned-amount'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_abandoned-table-amount {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-abandoned-duration'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_abandoned-table-duration {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-status">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-abandoned-status'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_abandoned-table-status {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-date table-sortable-column" data-sortable-by="date">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-abandoned-date'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_abandoned-table-date {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-actions">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-abandoned-memos'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_abandoned-table-action-see-memos {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody data-sortable-content>#}
                        {#{% for project in funded %}#}
                            {#<tr id="project-{{ project.id }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}{% if project.hasChanged == true %} ui-table-projects-item-changed{% endif %}"#}
                                {#data-details="{{ project.memos|json_encode|escape('html_attr') }}"#}
                                {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                    {#data-sortable-submitter="{{ project.submitter.lastName|e('html_attr') }} {{ project.submitter.firstName|e('html_attr') }}{% if project.submitter.entity|length %} - {{ project.submitter.entity|e('html_attr') }}{% endif %}"#}
                                {#{% endif %}#}
                                {#data-sortable-amount="{{ project.amount }}"#}
                                {#data-sortable-duration="{{ project.duration }}"#}
                                {#data-sortable-date="{{ project.date|date('U') }}">#}
                                {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                    {#<td class="table-projects-item-submitter">{{ project.submitter.lastName }} {{ project.submitter.firstName }}{% if project.submitter.entity|length %}<br>{{ project.submitter.entity }}{% endif %}</td>#}
                                {#{% endif %}#}
                                {#<td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>#}
                                {#<td class="table-projects-item-duration">{% trans with {'%duration%': project.duration} %} demo-loans_abandoned-table-duration-value {% endtrans %}</td>#}
                                {#<td class="table-projects-item-status">#}
                                    {#{% if project.projectAbandonReasons|length > 0 %}#}
                                        {#{% for abandonReasonHistory in project.projectAbandonReasons %}#}
                                            {#{{ abandonReasonHistory.idAbandonReason.reason|capitalize }}#}
                                            {#{% if loop.index < project.projectAbandonReasons|length %}#}
                                                {#<br>#}
                                            {#{% endif %}#}
                                        {#{% endfor %}#}
                                    {#{% else %}#}
                                        {#&nbsp;#}
                                    {#{% endif %}#}
                                {#</td>#}
                                {#<td class="table-projects-item-date">{{ project.date|date('d/m/Y') }}</td>#}
                                {#<td class="table-actions">#}
                                    {#{% if project.memos|length > 0 %}#}
                                        {#<a role="button" class="btn-default" title="{{ 'demo-loans_abandoned-table-action-see-memos'|trans|e('html_attr') }}" data-toggle="tooltip" data-action="memos"><span class="icon fa-info-u16"></span></a>#}
                                    {#{% else %}#}
                                        {#&nbsp;#}
                                    {#{% endif %}#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table><!-- /.table-projects -->#}
                {#</div><!-- /.table-scroll -->#}
            {#{% else %}#}
                {#<div class="message-info">{{ 'demo-loans_abandoned-not-found-message'|trans }}</div>#}
            {#{% endif %}#}
        {#</div><!-- /.panel-content -->#}
    {#</div><!-- /.panel -->#}
{#</article><!-- /.dashboard-tab-pane -->#}

{#<article role="tabpanel" class="dashboard-tab-pane tab-pane" id="tab-rejected">#}
    {#<div class="panel">#}
        {#<div class="panel-content">#}
            {#{% if cancelled|length > 0 %}#}
                {#<div class="table-scroll">#}
                    {#<table class="table table-projects" data-sortable>#}
                        {#<thead class="table-sortable-columns">#}
                        {#<tr>#}
                            {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                {#<th class="table-projects-item-submitter table-sortable-column" data-sortable-by="submitter">#}
                                    {#<span class="label" title="{{ 'demo-loans_sr-sort-rejected-submitter'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                        {#{% trans %} demo-loans_rejected-table-submitter {% endtrans %}#}
                                    {#</span>#}
                                {#</th>#}
                            {#{% endif %}#}
                            {#<th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">#}
                                {#<span class="label" title=  "{{ 'demo-loans_sr-sort-rejected-amount'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_rejected-table-amount {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-rejected-duration'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_rejected-table-duration {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-projects-item-date table-sortable-column" data-sortable-by="date">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-rejected-date'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_rejected-table-date {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                            {#<th class="table-actions">#}
                                {#<span class="label" title="{{ 'demo-loans_sr-sort-rejected-memos'|trans|e('html_attr') }}" data-toggle="tooltip">#}
                                    {#{% trans %} demo-loans_rejected-table-action-see-memos {% endtrans %}#}
                                {#</span>#}
                            {#</th>#}
                        {#</tr>#}
                        {#</thead>#}
                        {#<tbody data-sortable-content>#}
                        {#{% for project in cancelled %}#}
                            {#<tr id="project-{{ project.id }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}{% if project.hasChanged == true %} ui-table-projects-item-changed{% endif %}"#}
                                {#data-details="{{ project.memos|json_encode|escape('html_attr') }}"#}
                                {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                    {#data-sortable-submitter="{{ project.submitter.lastName|e('html_attr') }} {{ project.submitter.firstName|e('html_attr') }}{% if project.submitter.entity|length %} - {{ project.submitter.entity|e('html_attr') }}{% endif %}"#}
                                {#{% endif %}#}
                                {#data-sortable-amount="{{ project.amount }}"#}
                                {#data-sortable-duration="{{ project.duration }}"#}
                                {#data-sortable-date="{{ project.date|date('U') }}">#}
                                {#{% if is_granted(constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\Clients::ROLE_PARTNER_ADMIN')) %}#}
                                    {#<td class="table-projects-item-submitter">{{ project.submitter.lastName }} {{ project.submitter.firstName }}{% if project.submitter.entity|length %}<br>{{ project.submitter.entity }}{% endif %}</td>#}
                                {#{% endif %}#}
                                {#<td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>#}
                                {#<td class="table-projects-item-duration">{% trans with {'%duration%': project.duration} %} demo-loans_rejected-table-duration-value {% endtrans %}</td>#}
                                {#<td class="table-projects-item-date">{{ project.date|date('d/m/Y') }}</td>#}
                                {#<td class="table-actions">#}
                                    {#{% if project.memos|length > 0 %}#}
                                        {#<a role="button" class="btn-default" title="{{ 'demo-loans_rejected-table-action-see-memos'|trans|e('html_attr') }}" data-toggle="tooltip" data-action="memos"><span class="icon fa-info-u16"></span></a>#}
                                    {#{% else %}#}
                                        {#&nbsp;#}
                                    {#{% endif %}#}
                                {#</td>#}
                            {#</tr>#}
                        {#{% endfor %}#}
                        {#</tbody>#}
                    {#</table><!-- /.table-projects -->#}
                {#</div><!-- /.table-scroll -->#}
            {#{% else %}#}
                {#<div class="message-info">{{ 'demo-loans_rejected-not-found-message'|trans }}</div>#}
            {#{% endif %}#}
        {#</div><!-- /.panel-content -->#}
    {#</div><!-- /.panel -->#}
{#</article><!-- /.dashboard-tab-pane -->#}
