{% extends 'layouts/_page_with_sidebar.html.twig' %}

{% block dashboardContent %}
    <section class="dashboard-panels-content">
        <div class="dashboard-tabs-content tab-content">
            <div class="dashboard-tab-pane">
                <h1 class="margin-5-t">Profil</h1>
                <div class="panel">
                    {% if app.session.flashBag.has('updateSuccess') %}
                        <div class="message-success">
                            {% for success in app.session.flashBag.get('updateSuccess') %}
                                <p>{{ success }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ form_start(form) }}

                    <div class="row row-multi-col">
                        <div class="col-md-6">
                            {{ form_row(form.firstName, {label: 'account-init.first-name-label'}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.lastName, {label: 'account-init.last-name-label'}) }}
                        </div>
                    </div>

                    <div class="row">
                        {{ form_row(form.jobFunction, {label: 'account-init.job-function-label'}) }}
                    </div>

                    <div class="row row-multi-col">
                        <div class="col-md-6">
                            {{ form_row(form.mobile, {label: 'account-init.mobile-phone-label'}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.phone, {label: 'account-init.phone-label'}) }}
                        </div>
                    </div>

                    <div class="btn-controls text-align-right">
                        <button class="btn-primary" data-spinnerbutton>
                            {% trans %} user-profile-form.form-submit-button {% endtrans %}
                        </button>
                    </div><!-- /.btn-controls -->

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
