{# Panel - User Level #}
{% embed 'lender_account/dashboard_panel.html.twig' %}
    {% set lenderDiversificationLevel = lenderLevel(app.user) %}
    {% block panelAttributes %} id="user-level" data-userlevel="{{ lenderDiversificationLevel }}" {% endblock %}
    {% block panelClassNames %} dashboard-panel dashboard-userlevel ui-draggable {% if panelInfo.hidden == true %} ui-dashboard-panel-hidden {% endif %} col-lg-6 col-md-6 col-sm-8 col-xs-4 ui-user-level-0 {% endblock %}
    {% block panelTitle %}{{ 'lender-dashboard-user-level_title'|trans }}{% endblock %}
    {% block panelControls %}<span class="ui-draggable-handle"></span>{% endblock %}
    {% block panelContent %}
            <div class="dashboard-panel-overview">
                <div class="label">
                    {% if irrData.hasLossRate %}
                        {% trans %} lender-dashboard-user-level_loss-rate-title {% endtrans %}
                    {% else %}
                        {% trans %} lender-dashboard-user-level_irr-title {% endtrans %}
                    {% endif %}
                </div>
                <div class="value">{% if irrData.widgetValue > 0 %}+ {% endif %}{{ irrData.widgetValue|localizednumber }}<sup>%</sup></div>
            </div>
            <div class="dashboard-panel-chart">
                <div class="user-avatar">
                    <div class="user-avatar-level"></div>
                    <div class="user-avatar-initials">{{ app.user.initials }}</div>
                    <div class="user-avatar-stars">
                        {% for i in 1..5 %}<span class="icon fa-star ui-user-level-star-{{ i }}"></span>{% endfor %}
                    </div>
                </div>
            </div>
            <div class="dashboard-panel-summary">
                {% if irrData.companiesLenderInvestedIn > 0 %}
                    <h3>
                        <span class="label">{% trans %} lender-dashboard-user-level_diversification-level-title {% endtrans %}</span>
                        <span class="value">{{ "lender-dashboard_level-#{ lenderDiversificationLevel }"|trans }}</span>
                    </h3>
                {% endif %}
                <p class="message">
                    {% if irrData.hasLossRate %}
                        {{ "lender-dashboard_irr-not-calculable"|trans|raw }}
                    {% elseif lenderDiversificationLevel == 0 and lenderDetails.hasBids %}
                        {{ "lender-dashboard_irr-not-calculated-yet"|trans|raw }}
                    {% elseif lenderDiversificationLevel == 0 %}
                        {{ "lender-dashboard_irr-level-0"|trans|raw }}
                    {% else %}
                        {{ "lender-dashboard_irr-#{ irrData.irrTranslation }level-#{ lenderDiversificationLevel }"|trans({'%url%': app.request.getSchemeAndHttpHost()})|raw }}
                    {% endif %}
                </p>
                <p class="secondary">{% trans with {'%unilendIRR%' : getStatistic('unilendIRR')|localizednumber} %} lender-dashboard-user-level_unilend-irr {% endtrans %}</p>
            </div>
    {% endblock %}
    {% block panelFooter %}
        {% if irrData.hasLossRate %}
            {{ 'lender-dashboard-user-level_loss-rate-explanation-link'|trans|raw }}
        {% else %}
            {{ 'lender-dashboard-user-level_irr-explanation-link'|trans|raw }}
        {% endif %}
    {% endblock %}
{% endembed %}
