<article role="tabpanel" class="dashboard-tab-pane tab-pane{% if active == projectsType %} active{% endif %}" id="tab-{{ projectsType }}">
    <div class="panel">
        <div class="panel-content">
            {% if projects[projectsType]|length == 0 %}
                <div class="message-info">Vous n‘avez aucun dossier pour le moment.</div>
            {% else %}
                {% for status, statusProjects in projects[projectsType] %}
                    <div class="row margin-20-b">
                        <div class="row">
                            {% set statusLabel = '' %}
                            {% if status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REQUEST') %}
                                {% set statusLabel = 'À compléter' %}
                            {% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REVIEW') %}
                                {% set statusLabel = 'En cours de revue' %}
                            {% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_ONLINE') %}
                                {% set statusLabel = 'En cours de financement' %}
                            {% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_FUNDED') %}
                                {% set statusLabel = 'En attente de signature' %}
                            {% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_SIGNED') %}
                                {% set statusLabel = 'Signé' %}
                            {% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAYMENT') %}
                                {% set statusLabel = 'En cours de remboursement' %}
                            {% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_REPAID') %}
                                {% set statusLabel = 'Terminé' %}
                            {% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_LOSS') %}
                                {% set statusLabel = 'Défaut' %}
                            {% elseif status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_CANCELLED') %}
                                {% set statusLabel = 'Annulé' %}
                            {% endif %}

                            {% if statusProjects|length == 0 %}
                                <a style="display: block; text-decoration: none; color: #787679; background-color: #eceaed; padding: 10px 20px; cursor: default;">
                                    {{ statusLabel}} ({{ statusProjects|length }})
                                </a>
                            {% else %}
                                <a href="#{{ projectsType }}-projects-{{ status }}" role="button" data-toggle="collapse" style="display: block; text-decoration: none; color: #787679; background-color: #eceaed; padding: 10px 20px;">
                                    {{ statusLabel }} ({{ statusProjects|length }})
                                    <div class="pull-right">
                                        <span class="icon fa-angle-d-u"></span>
                                    </div>
                                </a>
                            {% endif %}
                        </div><!-- /.row -->

                        <div id="{{ projectsType }}-projects-{{ status }}" class="table-scroll collapse" style="margin-bottom: 0; border-top: 1px solid #dcdcdc;">
                            <table class="table table-projects" data-sortable style="table-layout: auto;">
                                <thead class="table-sortable-columns">
                                <tr>
                                    <th class="table-projects-item-partner table-sortable-column" data-sortable-by="partner">
                                        <span class="label" title="Marché" data-toggle="tooltip">
                                            Marché
                                        </span>
                                    </th>
                                    <th class="table-projects-item-title table-sortable-column" data-sortable-by="title">
                                        <span class="label" title="Nom du dossier" data-toggle="tooltip">
                                            Nom
                                        </span>
                                    </th>
                                    <th class="table-projects-item-amount table-sortable-column" data-sortable-by="amount">
                                        <span class="label" title="Montant" data-toggle="tooltip">
                                            Montant
                                        </span>
                                    </th>
                                    <th class="table-projects-item-duration table-sortable-column" data-sortable-by="duration">
                                        <span class="label" title="Maturité" data-toggle="tooltip">
                                            Maturité
                                        </span>
                                    </th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody data-sortable-content>
                                {% for project in statusProjects %}
                                    <tr id="{{ projectsType }}-{{ project.idProject }}" class="table-projects-item {% if loop.index is divisible by(2) %}even{% else %}odd{% endif %}"
                                        data-hash="{{ project.hash }}"
                                        data-sortable-partner="{{ ('partner-name_bubble-' ~ project.idPartner.label)|trans }}"
                                        data-sortable-title="{{ project.idCompany.name|e('html_attr') }}"
                                        data-sortable-amount="{{ project.amount }}"
                                        data-sortable-duration="{{ project.period / 12 }}"
                                        data-row-url="{{ path('demo_project_details', {'hash': project.hash}) }}">
                                        <td class="table-projects-item-partner">
                                            {% include ':frontbundle/demo/partials:bubble.html.twig' with {'partner': project.idPartner.label} %}
                                        </td>
                                        <td class="table-projects-item-title">{{ project.idCompany.name }}<br>{{ project.title }}</td>
                                        <td class="table-projects-item-amount">{{ project.amount|localizednumber }}&nbsp;€</td>
                                        <td class="table-projects-item-duration">{% transchoice(project.period / 12) with {'%duration%': project.period / 12} %} demo-project-request_simulator-duration-select-option {% endtranschoice %}</td>
                                        <td class="table-actions">
                                            {% if status == constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::STATUS_FUNDED') %}
                                                <a href="{{ path('demo_project_signing', {'hash': project.hash}) }}" role="button" class="btn-default" title="Signer les contrats" data-toggle="tooltip"><span class="icon fa-pen-u16"></span></a>
                                            {% endif %}
                                            <a href="{{ path('demo_project_details', {'hash': project.hash}) }}" role="button" class="btn-default" title="Voir le détail" data-toggle="tooltip"><span class="icon fa-view-u16"></span></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table><!-- /.table-projects -->
                        </div><!-- /.table-scroll -->
                    </div><!-- /.row -->
                {% endfor %}
            {% endif %}
        </div><!-- /.panel-content -->
    </div><!-- /.panel -->
</article><!-- /.dashboard-tab-pane -->
