<div class="block-content block-content-full">
    <h3 class="h4 push-20">Frais</h3>
    {% if projectCharges|length > 0 %}
        <table class="table table-bordered table-hover table-header-bg">
            <thead>
            <tr>
                <th style="width: 20%">
                    Date
                </th>
                <th style="width: 20%">
                    Type
                </th>
                <th style="width: 20%">
                    Montant TTC
                </th>
                <th style="width: 20%">
                    Montant TVA
                </th>
                <th style="width: 20%">
                    Régularisé par réception
                </th>
            </tr>
            </thead>
            <tbody>
            {% for projectCharge in projectCharges %}
                <tr>
                    <td>
                        {{ projectCharge.invoiceDate|localizeddate('short', 'none') }}
                    </td>
                    <td>
                        {{ ('project-charge-type_' ~ projectCharge.idType.label|replace({'_': '-'})) | trans }}
                    </td>
                    <td class="text-right">
                        {{ projectCharge.amountInclVat|localizedcurrency('EUR') }}
                    </td>
                    <td class="text-right">
                        {{ projectCharge.amountVat|localizedcurrency('EUR') }}
                    </td>
                    <td>
                        {% if projectCharge.repaymentDate %}
                            {{ projectCharge.repaymentDate|localizeddate('short', 'none') }}
                        {% else %}
                            Non régularisé
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert">
            <p>Aucun frais saisi sur ce projet.</p>
        </div>
    {% endif %}
    {% if debtCollectionMissionsData|length > 0 %}
        <div class="text-right">
            <a role="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-additional-fees">Ajouter des frais</a>
        </div>
    {% endif %}
</div>