<div class="block-content block-content-full">
    <h3 class="h4 push-20">Missions de recouvrement</h3>
    {% if debtCollectionMissionsData|length > 0 %}
        <table class="table table-bordered table-hover table-header-bg">
            <thead>
            <tr>
                <th style="width: 10%">
                    Date
                </th>
                <th style="width: 5%">
                    Statut
                </th>
                <th style="width: 8%">
                    Recouvreur
                </th>
                <th style="width: 55%">
                    Composition
                </th>
                <th style="width: 10%">
                    Type
                </th>
                <th style="width: 8%">
                    Taux
                </th>
                <th style="width: 4%">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            {% for mission in debtCollectionMissionsData %}
                <tr>
                    <td>{{ mission.added|localizeddate('short', 'none') }}</td>
                    <td>
                        {% if mission.archived is null %}
                            En cours
                        {% else %}
                            Archivée
                        {% endif %}
                    </td>
                    <td>{{ mission.getIdClientDebtCollector().nom }}</td>
                    <td>
                        {% if mission.getDebtCollectionMissionPaymentSchedules() is not empty %}
                            {% for missionPaymentSchedule in mission.getDebtCollectionMissionPaymentSchedules() %}
                                {% set paymentSchedule = missionPaymentSchedule.getIdPaymentSchedule() %}
                                {% set missionPaymentScheduleAmount = missionPaymentSchedule.getCapital()+missionPaymentSchedule.getInterest()+missionPaymentSchedule.getCommissionVatIncl() %}
                                {% set paymentScheduleAmount        = (paymentSchedule.getCapital() + paymentSchedule.getInterets() + paymentSchedule.getCommission() + paymentSchedule.getTva())/100 %}
                                {% set isPartial = '' %}
                                {% if missionPaymentScheduleAmount < paymentScheduleAmount %}
                                    {% set isPartial = '(Partielle)' %}
                                {% endif %}
                                Échéance {{ paymentSchedule.getDateEcheanceEmprunteur()|localizeddate("medium", "none", null, null, "MMMM yyyy") }} {{ isPartial }}
                                (Capital: {{ missionPaymentSchedule.getCapital()|localizedcurrency('EUR') }} - Intérêts: {{ missionPaymentSchedule.getInterest()|localizedcurrency('EUR') }} - Commission TTC: {{ missionPaymentSchedule.getCommissionVatIncl()|localizedcurrency('EUR') }})
                                <br>
                            {% endfor %}
                        {% else %}
                            Capital: {{ mission.getCapital()|localizedcurrency('EUR') }} - Intérêts: {{ mission.getInterest()|localizedcurrency('EUR') }} - Commission TTC: {{ mission.getCommissionVatIncl()|localizedcurrency('EUR') }}
                            <br>
                        {% endif %}
                    </td>
                    <td>
                        {% if mission.type == constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_AMICABLE') %}
                            Amiable
                        {% elseif mission.type == constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_LITIGATION') %}
                            Contentieux
                        {% elseif mission.type == constant('Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_PRE_LITIGATION') %}
                            Pré-contentieux
                         {% else %}
                            Inconnu
                        {% endif %}
                    </td>
                    <td>{{ (mission.getFeesRate() * 100)|localizednumber }}&nbsp;%</td>
                    <td class="text-center">
                        <a href="/debt_collection_mission/downloadCreditorDetailsFile/{{ mission.id }}" class="btn btn-xs btn-default push-10-r" data-toggle="tooltip"
                           data-original-title="Télécharger XLS"><i class="fa fa-download"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert">
            <p>Aucune mission en cours sur ce projet.</p>
        </div>
    {% endif %}
</div>
