<div class="block-content block-content-full">
    <h3 class="h4 push-20">Retards</h3>
    <table class="table table-bordered table-hover table-header-bg" style="margin-bottom: 0;">
        <thead>
        <tr>
            <th style="width: 20%">
                Date
            </th>
            <th style="width: 20%">
                Retards
            </th>
            <th style="width: 20%">
                Montant
            </th>
            <th style="width: 20%">
                Confié au recouvreur
            </th>
            <th style="width: 20%">
                Restant à recouvrer
            </th>
        </tr>
        </thead>
        <tbody>
        {% set totalPaymentsAmount = 0 %}

        {% for payment in latePaymentsData %}
            <tr>
                <td>
                    {{ payment.date }}
                </td>
                <td>
                    {{ payment.label }}
                </td>
                <td>
                    {{ payment.amount|localizedcurrency('EUR') }}
                </td>
                <td>
                    {{ payment.entrustedToDebtCollector }}
                </td>
                <td>
                    {{ payment.remainingToCollect > 0 ? payment.remainingToCollect|localizedcurrency('EUR') : 'N/A' }}
                </td>
            </tr>
            {% set totalPaymentsAmount = totalPaymentsAmount + payment.amount %}
        {% endfor %}
        </tbody>
    </table>
    {% if latePaymentsData|length > 1 %}
        <table class="table table-bordered font-w600" style="border-top: 0;">
            <thead>
            <tr>
                <td colspan="2" style="width: 40%;">
                    Total:
                </td>
                <td style="width: 20%;">
                    {{ totalPaymentsAmount|localizedcurrency('EUR') }}
                </td>
                <td style="width: 20%;">

                </td>
                <td style="width: 20%;">
                    {{ projectData.remainingAmount > 0 ? projectData.remainingAmount|localizedcurrency('EUR') : 'N/A' }}
                </td>
            </tr>
            </thead>
        </table>
    {% endif %}
    <div class="text-right">
        {% if projectData.closeOutNettingDate is not null %}
            <button type="button" class="btn btn-default push-10-r" data-toggle="modal" data-target="#modal-cancel-term">Déchoir le terme</button>
        {% endif %}

        {% if constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::REMBOURSEMENT') == projectData.projectStatus %}
            <button type="button" class="btn btn-primary push-10-r" data-toggle="modal" data-target="#modal-status-problem">Passer en statut problème</button>
        {% endif %}

        {% if projectData.remainingAmount > 0 %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-debt-collection">Missionner un recouvreur ({{ projectData.remainingAmount|localizedcurrency('EUR') }})</button>
        {% endif %}
    </div>

    <!-- Start MODALS -->
    <div class="modal fade in" id="modal-cancel-term">
        <form class="modal-dialog" action="/dossiers/details_impayes/{{ projectData.projectId }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Déchoir le terme</h5>
                    </div>
                    <div class="block-content">
                        <p>Cette action est irrévsersible. Voulez-vous confirmer la déchéance du terme ?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="close-out-netting" value="1">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade in" id="modal-status-problem">
        <form class="modal-dialog" action="/dossiers/details_impayes/{{ projectData.projectId }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Passer en statut problème</h5>
                    </div>
                    <div class="block-content">
                        <p>Êtes-vous sûr de vouloir passer le projet en statut "problème" ?</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="project-status-change" value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::PROBLEME') }}">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade in" id="modal-debt-collection">
        <form class="modal-dialog js-validation" action="/debt_collection_mission/add/{{ projectData.projectId }}" method="post">
            <div class="modal-content">
                <div class="block block-themed remove-margin-b">
                    <div class="block-header bg-primary">
                        <h5 class="block-title">Ajout d'une mission de recouvrement</h5>
                    </div>
                    <div class="block-content">
                        <div class="form-group">
                            <ul>
                                {% for payment in latePaymentsData %}
                                    {% if payment.remainingToCollect > 0 %}
                                        <li>{{ payment.label }} - {{ payment.remainingAmount|localizedcurrency('EUR') }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="form-group">
                            <label>Recouvreur</label>
                            <select class="form-control required" name="debt-collector-hash">
                                <option value="{{ debtCollectory.hash }}">{{ debtCollector.nom }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Type de mission</label>
                            <select class="form-control required" name="debt-collection-type">
                                <option value="">Selectionner</option>
                                <option value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_AMICABLE') }}">Amiable</option>
                                <option value="{{ constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\DebtCollectionMission::TYPE_LITIGATION') }}">Contentieux</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Taux (Pourcentage)</label>
                            <input class="form-control required" name="debt-collection-rate" type="text" placeholder="13">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-sm btn-default" type="button" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-sm btn-primary" type="submit">Valider</button>
                </div>
            </div>
        </form>
    </div>
    <!-- endif -->
    <!-- End MODALS -->
</div>