<div class="block-content block-content-full">
    <h3 class="h4 push-20">Retards</h3>
    <table class="table table-bordered table-hover table-header-bg">
        <thead>
        <tr>
            <th style="width: 20%">
                Date
            </th>
            <th style="width: 20%">
                Retards
            </th>
            <th style="width: 20%">
                Montant
            </th>
            <th style="width: 20%">
                Confié au recouvreur
            </th>
            <th style="width: 20%">
                Restant à recouvrer
            </th>
        </tr>
        </thead>
        <tbody>
        {% set totalPaymentsAmount = 0 %}

        {% for payment in latePaymentsData %}
            <tr>
                <td>
                    {{ payment.date }}
                </td>
                <td>
                    {{ payment.label }}
                </td>
                <td>
                    {{ payment.amount|localizedcurrency('EUR') }}
                </td>
                <td>
                    {{ payment.entrustedToDebtCollector }}
                </td>
                <td>
                    {{ payment.remainingToCollect > 0 ? payment.remainingToCollect|localizedcurrency('EUR') : 'N/A' }}
                </td>
            </tr>
            {% set totalPaymentsAmount = totalPaymentsAmount + payment.amount %}
        {% endfor %}
        </tbody>
    </table>
    {% if latePaymentsData|length > 1 %}
        <table class="table table-bordered font-w600" style="border-top: 0;">
            <thead>
            <tr>
                <td colspan="2" style="width: 40%;">
                    Total:
                </td>
                <td style="width: 20%;">
                    {{ totalPaymentsAmount|localizedcurrency('EUR') }}
                </td>
                <td style="width: 20%;">

                </td>
                <td style="width: 20%;">
                    {{ projectData.remainingAmount > 0 ? projectData.remainingAmount|localizedcurrency('EUR') : 'N/A' }}
                </td>
            </tr>
            </thead>
        </table>
    {% endif %}
    <div class="text-right">
        {% if projectData.closeOutNettingDate is not null %}
            <button type="button" class="btn btn-default push-10-r" data-toggle="modal" data-target="#modal-cancel-term">Déchoir le terme</button>
        {% endif %}

        {% if constant('\\Unilend\\Bundle\\CoreBusinessBundle\\Entity\\ProjectsStatus::REMBOURSEMENT') == projectData.projectStatus %}
            <button type="button" class="btn btn-primary push-10-r" data-toggle="modal" data-target="#modal-status-problem">Passer en statut problème</button>
        {% endif %}

        {% if projectData.remainingAmount > 0 %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-debt-collection">Missionner un recouvreur ({{ projectData.remainingAmount|localizedcurrency('EUR') }})</button>
        {% endif %}
    </div>
</div>